%center
  .emulator
    .actions
      %a#rotate{:href => "#", :title => "#{t('txt.layout.rotate')}"}
        =image_tag("icons/64x64/rotate.png", :border => 0)
      %a#resize{:href => "#", :title => "#{t('txt.layout.resize')}"}
        =image_tag("icons/64x64/ppi.png", :border => 0)
    .display-area
      %iframe#disp-area{ :src => url, :width => width, :height => height }
