- content_for :head_scripts do
  :javascript
    function resize(width, height) {
      if($.cookie('scaling') == 'real_size') {
        scalingValue = $.cookie('scaling_factor');
      } else {
        scalingValue = 1
      }
      $("div.emulator").css('-moz-transform', 'scale('+scalingValue+')');
      $("div.emulator").css('-o-transform', 'scale('+scalingValue+')');
      $("div.emulator").css('-webkit-transform', 'scale('+scalingValue+')');
      $("#disp-area").attr("width", Math.round(width/scalingValue));
      $("#disp-area").attr("height", Math.round(height/scalingValue));
    }

    $(function() {
      var width  = $("#disp-area").prop("width");
      var height = $("#disp-area").prop("height");
      resize(width, height);

      $("#resize").click(function() {
        if($.cookie('scaling') == 'real_size') {
          scalingValue = 'pixel_size';
        } else {
          scalingValue = 'real_size';
        }
        $.cookie('scaling', scalingValue);
        resize(width, height);
        set_icon_resize();
        return false;
      });
    });

