!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %title Demo Page for jQuery UI selectmenu
    %link{:href => "../../themes/base/jquery.ui.all.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "../../themes/base/jquery.ui.selectmenu.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "../../jquery-1.4.4.js", :type => "text/javascript"}
    %script{:src => "../../ui/jquery.ui.core.js", :type => "text/javascript"}
    %script{:src => "../../ui/jquery.ui.widget.js", :type => "text/javascript"}
    %script{:src => "../../ui/jquery.ui.position.js", :type => "text/javascript"}
    %script{:src => "../../ui/jquery.ui.selectmenu.js", :type => "text/javascript"}
    :css
      /* demo styles */
      body {font-size: 62.5%; font-family:"Verdana",sans-serif; }
      fieldset { border:0; }	
      label,select,.ui-select-menu { float: left; margin-right: 10px; }
      select { width: 200px; }		
	    :javascript
      $(function(){			
      	$('select#speedA').selectmenu({style:'popup'});
      	
      	$('select#speedAa').selectmenu({
      		style:'popup', 
      		maxHeight: 150
      	});
      	
      	$('select#speedB').selectmenu({
      		style:'popup', 
      		width: 300,
      		format: addressFormatting
      	});
      	
      	$('select#speedC').selectmenu();
      	
      	$('select#speedD').selectmenu({
      		menuWidth: 400,
      		format: addressFormatting
      	});
      	
      	$('select#filesC').selectmenu({
      		style:'popup', 
      		positionOptions: {
      			my: "left center",
      			at: "right center",
      			offset: "10 0"
      		}
      	});	
      });		
      
      //a custom format option callback
      var addressFormatting = function(text){
      	var newText = text;
      	//array of find replaces
      	var findreps = [
      		{find:/^([^\-]+) \- /g, rep: '$1'},
      		{find:/([^\|><]+) \| /g, rep: '$1'},
      		{find:/([^\|><\(\)]+) (\()/g, rep: '$1$2'},
      		{find:/([^\|><\(\)]+)$/g, rep: '$1'},
      		{find:/(\([^\|><]+\))$/g, rep: '$1'}
      	];
      	
      	for(var i in findreps){
      		newText = newText.replace(findreps[i].find, findreps[i].rep);
      	}
      	return newText;
      }		
	    %script{:src => "http://ui.jquery.com/applications/themeroller/themeswitchertool/", :type => "text/javascript"}
    :javascript
      $(function(){ $('').appendTo('body').themeswitcher(); });   %body
    %br/
    %br/
    %form{:action => "#"}
      %h2 "default popup" Style
      %fieldset
        %label{:for => "speedA"} Select a Speed:
        %select#speedA{:name => "speedA"}
          %option{:value => "Slower"} Slower
          %option{:selected => "selected", :value => "Slow"} Slow
          %option{:value => "Medium"} Medium
          %option{:value => "Fast"} Fast
          %option{:value => "Faster"} Faster
      %h2 "default popup" Style with maxHeight set
      %fieldset
        %label{:for => "speedAa"} Select a Speed:
        %select#speedAa{:name => "speedAa"}
          %option{:value => "Slower"} -6 Slower
          %option{:value => "Slower"} -5 Slower
          %option{:value => "Slower"} -4 Slower
          %option{:value => "Slow"} -3 Slow
          %option{:value => "Slow"} -2 Slow
          %option{:value => "Slow"} -1 Slow
          %option{:selected => "selected", :value => "Medium"} 0 Medium
          %option{:value => "Fast"} 1 Fast
          %option{:value => "Fast"} 2 Fast
          %option{:value => "Fast"} 3 Fast
          %option{:value => "Faster"} 4 Faster
          %option{:value => "Faster"} 5 Faster
          %option{:value => "Faster"} 6 Faster
      %h2 Same with option text formatting
      %fieldset
        %label{:for => "speedB"} Select an Address:
        %select#speedB{:name => "speedB"}
          %option John Doe - 78 West Main St Apt 3A | Bloomsburg, PA 12345 (footer text)
          %option{:selected => "selected"} Jane Doe - 78 West Main St Apt 3A | Bloomsburg, PA 12345 (footer text)
          %option Joseph Doe - 78 West Main St Apt 3A | Bloomsburg, PA 12345 (footer text)
          %option Mad Doe Kiiid - 78 West Main St Apt 3A | Bloomsburg, PA 12345 (footer text)
      %h2 "dropdown" Style
      %fieldset
        %label{:for => "speedC"} Select a Speed:
        %select#speedC{:name => "speedC"}
          %option.whoo{:value => "Slower"} Slower
          %option{:value => "Slow"} Slow
          %option{:selected => "selected", :value => "Medium"} Medium
          %option{:value => "Fast"} Fast
          %option{:value => "Faster"} Faster
      %h2 "dropdown" Style with menuWidth wider than menu and text formatting
      %fieldset
        %label{:for => "speedD"} Select an Address:
        %select#speedD{:name => "speedD"}
          %option John Doe - 78 West Main St Apt 3A, Bloomsburg, PA 12345
          %option Jane Doe - 78 West Main St Apt 3A, Bloomsburg, PA 12345
          %option{:selected => "selected"} Joseph Doe - 78 West Main St Apt 3A, Bloomsburg, PA 12345
          %option Mad Doe Kiiid - 78 West Main St Apt 3A, Bloomsburg, PA 12345
      %h2 "popup" Style with custom positioning and optgroups
      %fieldset
        %label{:for => "filesC"} Select a File:
        %select#filesC{:name => "filesC"}
          %optgroup{:label => "scripts"}
            %option{:value => "jquery"} jQuery.js
            %option{:value => "jqueryui"} ui.jQuery.js
          %optgroup{:label => "Label with space"}
            %option{:value => "somefile"} Some unknown file
            %option{:value => "someotherfile"} Some other file
