!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %title Demo Page for jQuery UI selectmenu
    %link{:href => "../../themes/base/jquery.ui.all.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "../../themes/base/jquery.ui.selectmenu.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "../../jquery-1.4.2.js", :type => "text/javascript"}
    %script{:src => "../../ui/jquery.ui.core.js", :type => "text/javascript"}
    %script{:src => "../../ui/jquery.ui.widget.js", :type => "text/javascript"}
    %script{:src => "../../ui/jquery.ui.position.js", :type => "text/javascript"}
    %script{:src => "../../ui/jquery.ui.selectmenu.js", :type => "text/javascript"}
    :css
      /*demo styles*/
      body {font-size: 62.5%; font-family:"Verdana",sans-serif; }
      fieldset { border:0; margin: 50px 0 0 0;}	
      label,select,.ui-select-menu { float: left; margin-right: 10px; }
      select { width: 200px; }
      
      /*select with custom icons*/
      body a.customicons { height: 2.8em;}
      body .customicons li a, body a.customicons span.ui-selectmenu-status { line-height: 2em; padding-left: 30px !important; }
      body .video .ui-selectmenu-item-icon, body .podcast .ui-selectmenu-item-icon, body .rss .ui-selectmenu-item-icon { height: 24px; width: 24px; }
      body .video .ui-selectmenu-item-icon { background: url(images/24-video-square.png) 0 0 no-repeat; }
      body .podcast .ui-selectmenu-item-icon { background: url(images/24-podcast-square.png) 0 0 no-repeat; }
      body .rss .ui-selectmenu-item-icon { background: url(images/24-rss-square.png) 0 0 no-repeat; }
      
      
	    :javascript
      $(function(){		
      	
      	// does not work see: http://github.com/fnagel/jquery-ui/issues#issue/12
      	var speedA_depends = $('select#speedA_depends').selectmenu();		
      	var speedA = $('select#speedA').selectmenu({
      		select: function(event, options) {
      			if (options.value) { 
      				speedA_depends.selectmenu('enable');
      			} else {
      				speedA_depends.selectmenu('disable');
      			}
      		}
      	});
      	
      	var speedB = $('select#speedB').selectmenu();			
      	$("#on").click(function(){
      		speedB.selectmenu("enable");
      	});			
      	$("#off").click(function(){
      		speedB.selectmenu("disable");
      	});			
      	
      	var speedC = $('select#speedC').selectmenu();
      	
      	var speedD = $('select#speedD').selectmenu();			
      });		
      
	  %body
    %form{:action => "#"}
      %fieldset
        %label{:for => "speedA"} Disabled by select callback (does not work)
        %select#speedA{:name => "speedA"}
          %option{:value => "1"} On
          %option{:value => "0"} Off
        %br/
        %label{:for => "speedA_depends"} Depends on
        %select#speedA_depends{:name => "speedA_depends"}
          %option{:value => "Slow"} Slow
          %option{:value => "Medium"} Medium
          %option{:value => "Fast"} Fast
      %fieldset
        %label{:for => "speedB"} Disble by links
        %select#speedB{:name => "speedB"}
          %option{:selected => "selected", :value => "Slower"} Slower
          %option{:value => "Slow"} Slow
          %option{:value => "Medium"} Medium
          %option{:value => "Fast"} Fast
          %option{:value => "Faster"} Faster
        %a#on{:href => "#nogo"} on
        |
        %a#off{:href => "#nogo"} off
        %br/
      %fieldset
        %label{:for => "speedC"} Disabled by HTML (initial)
        %select#speedC{:disabled => "disabled", :name => "speedC"}
          %option{:selected => "selected", :value => "Slower"} Slower
          %option{:value => "Slow"} Slow
          %option{:value => "Medium"} Medium
          %option{:value => "Fast"} Fast
          %option{:value => "Faster"} Faster
      %fieldset
        %label{:for => "speedD"} Disabled option by HTML (initial, does not work)
        %select#speedD{:name => "speedD"}
          %option{:selected => "selected", :value => "Slower"} Slower
          %option{:value => "Slow"} Slow
          %option{:disabled => "disabled", :value => "Medium"} Medium (disabled)
          %option{:value => "Fast"} Fast
          %option{:value => "Faster"} Faster
