!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "UTF-8"}/
    %title jQuery UI Selectmenu Demo
    %link{:href => "../demos.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    .demos-nav
      %h4 Examples
      %ul
        %li.demo-config-on
          %a{:href => "default.html"} Default functionality
        %li.demo-config-on
          %a{:href => "disable_enable.html"} Disable example
        %li.demo-config-on
          %a{:href => "ajax.html"} Select callback with AJAX
        %li.demo-config-on
          %a{:href => "background_image.html"} Background image example
