%style{:type => "text/css", :media => "screen"}
  :plain
    #demo-frame > div.demo { padding: 10px !important; };
    
:javascript
  $(function() {
    var select = $("#minbeds");
    var slider = $('<br/><br/><div id="slider"></div>').insertAfter(select).slider({
      min: 1,
      max: 6,
      range: "min",
      value: select[0].selectedIndex + 1,
      slide: function(event, ui) {
        select[0].selectedIndex = ui.value - 1;
      }
    });
    $("#minbeds").click(function() {
      slider.slider("value", this.selectedIndex + 1);
    });
  });
