%style{:type => "text/css", :media => "screen"}
  :plain
    #demo-frame > div.demo { padding: 10px !important; }
    #eq span {
      height:120px; float:left; margin:15px
    }
    
:javascript
  $(function() {
    // setup master volume
    $("#master").slider({
      value: 60,
      orientation: "horizontal",
      range: "min",
      animate: true
    });
    // setup graphic EQ
    $("#eq > span").each(function() {
      // read initial values from markup and remove that
      var value = parseInt($(this).text());
      $(this).empty().slider({
        value: value,
        range: "min",
        animate: true,
        orientation: "vertical"
      });
    });
  });
