%style{:type => "text/css", :media => "screen"}
  :plain
    #demo-frame > div.demo { padding: 10px !important; };
      
:javascript
  $(function() {
    $("#slider-vertical").slider({
      orientation: "vertical",
      range: "min",
      min: 0,
      max: 100,
      value: 60,
      slide: function(event, ui) {
        $("#amount").val(ui.value);
      }
    });
    $("#amount").val($("#slider-vertical").slider("value"));
  });
