%style{:type => "text/css", :media => "screen"}
  :plain
    #demo-frame > div.demo { padding: 10px !important; };
    
:javascript
  $(function() {
    $("#tabs").tabs({
      select: function(event, ui) {
        $("#slider").slider("value", ui.index);
      }
    });
    $("#slider").slider({
      min: 0,
      max: $("#tabs").tabs("length") - 1,
      slide: function(event, ui) {
        $("#tabs").tabs("select", ui.value);
      }
    });
  });
