-@title = "#{t('txt.ui.name')} #{t('txt.ui.widgets.slider.default')} - #{t('txt.ui.widgets.slider.colorpicker')}"
-@jquery_partial = 'colorpicker.js.haml'

.demo
  %h3
    =@title
  %p.ui-state-default.ui-corner-all.ui-helper-clearfix{ :style => "padding:4px;" }
    %span.ui-icon.ui-icon-pencil{ :style => "float:left; margin:-2px 5px 0 0;" }
    Simple Colorpicker
  #red
  #green
  #blue
  #swatch.ui-widget-content.ui-corner-all
/ End demo
.demo-description{ :style => "clear:left;" }
  %p
    Combine three sliders to create a simple RGB colorpicker.
/ End demo-description
