<!doctype html>
%html{ :lang => "en" }
  %head
    %title
      jQuery UI Slider - Default functionality
    %link{ :href => "../../themes/base/ui.all.css", :rel => "stylesheet", :type => "text/css" }
    %script{ :type => "text/javascript", :src => "../../js/jquery-1.3.2.js" }
    %script{ :type => "text/javascript", :src => "../../ui/ui.core.js" }
    %script{ :type => "text/javascript", :src => "../../ui/ui.slider.js" }
    %link{ :href => "../demos.css", :rel => "stylesheet", :type => "text/css" }
    %style{ :type => "text/css" }
      \#demo-frame > div.demo { padding: 10px !important; };
    %script{ :type => "text/javascript" }
      $(function() {
      $("#slider").slider();
      });
  %body
    .demo
      #slider
    /
      End demo
    .demo-description
      %p
        The basic slider is horizontal and has a single handle that can be moved with the mouse or by using the arrow keys.
    /
      End demo-description
