-@browser_title = "#{t('txt.ui.name')} #{t('txt.ui.widgets.slider.default')} - #{t('txt.ui.default')}"
-@jquery_partial = 'default.js.haml'

.demo
  %h3
    =@browser_title
  #slider
/ End demo
.demo-description
  %p
    The basic slider is horizontal and has a single handle that can be moved with the mouse or by using the arrow keys.
/ End demo-description
