-@title = "#{t('txt.ui.name')} #{t('txt.ui.widgets.slider.default')} - #{t('txt.ui.widgets.slider.multiple-vertical')}"

- content_for :content_head do
  = render(:partial => "multiple_vertical.js.haml", :format => :js)

.demo
  %h3
    =@title
  %p.ui-state-default.ui-corner-all.ui-helper-clearfix{ :style => "padding:4px;" }
    %span.ui-icon.ui-icon-volume-on{ :style => "float:left; margin:-2px 5px 0 0;" }
      Master volume
  #master{ :style => "width:260px; margin:15px;" }
  %p.ui-state-default.ui-corner-all{ :style => "padding:4px;margin-top:4em;" }
    %span.ui-icon.ui-icon-signal{ :style => "float:left; margin:-2px 5px 0 0;" }
      Graphic EQ
  #eq
    %span
      88
    %span
      77
    %span
      55
    %span
      33
    %span
      40
    %span
      45
    %span
      70
/ End demo

.demo-description{ :style => "clear:left;" }
  %p
    Combine horizontal and vertical sliders, each with their own options,
    to create the UI for a music player.  
/ End demo-description
