-@title = "#{t('txt.ui.name')} #{t('txt.ui.widgets.slider.default')} - #{t('txt.ui.widgets.slider.rangemin')}"

- content_for :content_head do
  = render(:partial => "rangemin.js.haml", :format => :js)

.demo
  %h3
    =@title
  %p
    %label{ :for => "amount" }
      Maximum price:
    %input#amount{ :type => "text", :style => "border:0; color:#f6931f; font-weight:bold;" }
  #slider-range-min
/ End demo
.demo-description
  %p
    Fix the minimum value of the range slider so that the user can only select a maximum.  Set the
    %code
      range
    option to "min."
/ End demo-description
