-@browser_title = "#{t('txt.ui.name')} #{t('txt.ui.widgets.slider.default')} - #{t('txt.ui.widgets.slider.rangemax')}"
-@jquery_partial = 'rangemax.js.haml'

.demo
  %h3
    =@browser_title
  %p
    %label{ :for => "amount" }
      Minimum number of bedrooms:
    %input#amount{ :type => "text", :style => "border:0; color:#f6931f; font-weight:bold;" }
  #slider-range-max
/ End demo
.demo-description
  %p
    Fix the maximum value of the range slider so that the user can only select a minimum.  Set the
    %code
      range
    option to "max."
/ End demo-description
