<!doctype html>
%html{ :lang => "en" }
  %head
    %title
      jQuery UI Slider - Range slider
    %link{ :href => "../../themes/base/ui.all.css", :rel => "stylesheet", :type => "text/css" }
    %script{ :type => "text/javascript", :src => "../../js/jquery-1.3.2.js" }
    %script{ :type => "text/javascript", :src => "../../ui/ui.core.js" }
    %script{ :type => "text/javascript", :src => "../../ui/ui.slider.js" }
    %link{ :href => "../demos.css", :rel => "stylesheet", :type => "text/css" }
    %style{ :type => "text/css" }
      \#demo-frame > div.demo { padding: 10px !important; };
    %script{ :type => "text/javascript" }
      $(function() {
      $("#slider-range").slider({
      range: true,
      min: 0,
      max: 500,
      values: [75, 300],
      slide: function(event, ui) {
      $("#amount").val('$' + ui.values[0] + ' - $' + ui.values[1]);
      }
      });
      $("#amount").val('$' + $("#slider-range").slider("values", 0) + ' - $' + $("#slider-range").slider("values", 1));
      });
  %body
    .demo
      %p
        %label{ :for => "amount" }
          Price range:
        %input#amount{ :type => "text", :style => "border:0; color:#f6931f; font-weight:bold;" }
      #slider-range
    /
      End demo
    .demo-description
      %p
        Set the
        %code
          range
        option to true to capture a range of values with two drag handles.  The space between the handles is filled with a different background color to indicate those values are selected.
    /
      End demo-description
