<!doctype html>
%html{ :lang => "en" }
  %head
    %title
      jQuery UI Slider - Range with fixed maximum
    %link{ :href => "../../themes/base/ui.all.css", :rel => "stylesheet", :type => "text/css" }
    %script{ :type => "text/javascript", :src => "../../js/jquery-1.3.2.js" }
    %script{ :type => "text/javascript", :src => "../../ui/ui.core.js" }
    %script{ :type => "text/javascript", :src => "../../ui/ui.slider.js" }
    %link{ :href => "../demos.css", :rel => "stylesheet", :type => "text/css" }
    %style{ :type => "text/css" }
      \#demo-frame > div.demo { padding: 10px !important; };
    %script{ :type => "text/javascript" }
      $(function() {
      $("#slider-range-max").slider({
      range: "max",
      min: 1,
      max: 10,
      value: 2,
      slide: function(event, ui) {
      $("#amount").val(ui.value);
      }
      });
      $("#amount").val($("#slider-range-max").slider("value"));
      });
  %body
    .demo
      %p
        %labe{ :for => "amount" }
          Minimum number of bedrooms:
          %input#amount{ :type => "text", :style => "border:0; color:#f6931f; font-weight:bold;" }
      #slider-range-max
    /
      End demo
    .demo-description
      %p
        Fix the maximum value of the range slider so that the user can only select a minimum.  Set the
        %code
          range
        option to "max."
    /
      End demo-description
