<!doctype html>
%html{ :lang => "en" }
  %head
    %title
      jQuery UI Slider - Range with fixed minimum
    %link{ :href => "../../themes/base/ui.all.css", :rel => "stylesheet", :type => "text/css" }
    %script{ :type => "text/javascript", :src => "../../js/jquery-1.3.2.js" }
    %script{ :type => "text/javascript", :src => "../../ui/ui.core.js" }
    %script{ :type => "text/javascript", :src => "../../ui/ui.slider.js" }
    %link{ :href => "../demos.css", :rel => "stylesheet", :type => "text/css" }
    %style{ :type => "text/css" }
      \#demo-frame > div.demo { padding: 10px !important; };
    %script{ :type => "text/javascript" }
      $(function() {
      $("#slider-range-min").slider({
      range: "min",
      value: 37,
      min: 1,
      max: 700,
      slide: function(event, ui) {
      $("#amount").val('$' + ui.value);
      }
      });
      $("#amount").val('$' + $("#slider-range-min").slider("value"));
      });
  %body
    .demo
      %p
        %label{ :for => "amount" }
          Maximum price:
        %input#amount{ :type => "text", :style => "border:0; color:#f6931f; font-weight:bold;" }
      #slider-range-min
    /
      End demo
    .demo-description
      %p
        Fix the minimum value of the range slider so that the user can only select a maximum.  Set the
        %code
          range
        option to "min."
    /
      End demo-description
