-@title = "#{t('txt.ui.name')} #{t('txt.ui.widgets.slider.default')} - #{t('txt.ui.widgets.slider.range')}"

- content_for :content_head do
  = render(:partial => "range.js.haml", :format => :js)

.demo
  %h3
    =image_tag("icons/22x22/jquery-ui.png", :border => 0)
    =@title
  %p
    %label{ :for => "amount" }
      Price range:
    %input#amount{ :type => "text", :style => "border:0; color:#f6931f; font-weight:bold;" }
  #slider

/ End demo
.demo-description
  %p
    Set the
    %code
      range
    option to true to capture a range of values with two drag handles.  The space between the handles is filled with a different background color to indicate those values are selected.
/ End demo-description
