-@title = "#{t('txt.ui.name')} #{t('txt.ui.widgets.slider.default')} - #{t('txt.ui.widgets.slider.steps')}"
-@jquery_partial = 'steps.js.haml'

.demo
  %h3
    =@title
  %p
    %label{ :for => "amount" }
      Donation amount ($50 increments):
    %input#amount{ :type => "text", :style => "border:0; color:#f6931f; font-weight:bold;" }
  #slider
/ End demo
.demo-description
  %p
    Increment slider values with the
    %code
      step
    option set to an integer, commonly a dividend of the slider's maximum value.  The default increment is 1.
/ End demo-description
