<%-- :mode=jsp: --%>
<%@ include file="../standalone.jsf" %>
/ tooltip styling
%link{:href => "${cdn}${jqt}/css/tooltip-generic.css", :rel => "stylesheet", :type => "text/css"}/
%body
  %button Jee
  / tooltip element
  .tooltip
    %h3 The Tooltip
    %p
      This tooltip is vertically centered on the top edge.
  / javascript coding
  :javascript
    // execute your scripts when the DOM is ready. this is a good habit
    $(function() {
    
    $("div.tooltip").tooltip();
    
    ${js}
    });
