!!!
/ saved from url=(0051)http://flowplayer.org/tools/demos/tooltip/table.htm
%html
  /
    This is a jQuery Tools standalone demo. Feel free to copy/paste.
    
    http://flowplayer.org/tools/demos/
    
    Do *not* reference CSS files and images from flowplayer.org when in production
    
    Enjoy!
  %head
    %meta{:content => "text/html; charset=ISO-8859-1", "http-equiv" => "Content-Type"}
      %title jQuery Tools standalone demo
      / include the Tools
      %script{:src => "./demo5_files/jquery.tools.min.js"}
      / standalone page styling (can be removed)
      %link{:href => "./demo5_files/standalone.css", :rel => "stylesheet", :type => "text/css"}
        / tooltip styling
        %link{:href => "./demo5_files/tooltip-generic.css", :rel => "stylesheet", :type => "text/css"}
          / table styling
          %link{:href => "./demo5_files/style.css", :rel => "stylesheet", :type => "text/css"}
            / override the generic tooltip style
            :css
              #tooltip {
              	width:100px;
              	background-color:#3d7483;
              	padding:5px;
              	font-size:11px;
              }
                %body
    / use the same tooltip for each entry. Also the content.
    #tooltip.tooltip{:style => "position: absolute; top: 511px; left: 837px; display: none; "}
      Remove this row.
    %table#mytable{:cellspacing => "0", :summary => "Historic information about Olympic medalists that competed in the 20 Km Walk since 1956"}
      %caption Olympic Medalists: 20 Km Walk
      %tbody
        %tr
          %th.nobg Games
          %th Gold
          %th Silver
          %th Bronze
          %th &nbsp;
        %tr
          %th.spec 1956 Melbourne
          %td Leonid Spirin (URS)
          %td Antanas Mikenas (URS)
          %td Bruno Junk (URS)
          %td
            %img{:src => "./demo5_files/delete.png"}/
        %tr
          %th.spec 1960 Rome
          %td Volodymyr Holubnychy (URS)
          %td Noel Freeman (AUS)
          %td Stanley Vickers (GBR)
          %td
            %img{:src => "./demo5_files/delete.png"}/
        %tr
          %th.spec 1964 Tokyo
          %td Kenneth Matthews (GBR)
          %td Dieter Lindner (EUA)
          %td Volodymyr Holubnychy (URS)
          %td
            %img{:src => "./demo5_files/delete.png"}/
        %tr
          %th.spec 1968 Mexico City
          %td Volodymyr Holubnychy (URS)
          %td José Pedraza (MEX)
          %td Nikolay Smaga (URS)
          %td
            %img{:src => "./demo5_files/delete.png"}/
        %tr
          %th.spec 1972 Munich
          %td Peter Frenkel (GDR)
          %td Volodymyr Holubnychy (URS)
          %td Hans-Georg Reimann (GDR)
          %td
            %img{:src => "./demo5_files/delete.png"}/
        %tr
          %th.spec 1976 Montreal
          %td Daniel Bautista (MEX)
          %td Hans-Georg Reimann (GDR)
          %td Peter Frenkel (GDR)
          %td
            %img{:src => "./demo5_files/delete.png"}/
        %tr
          %th.spec 1980 Moscow
          %td Maurizio Damilano (ITA)
          %td Pyotr Pochenchuk (URS)
          %td Roland Wieser (GDR)
          %td
            %img{:src => "./demo5_files/delete.png"}/
        %tr
          %th.spec 1984 Los Angeles
          %td Ernesto Canto (MEX)
          %td Raúl González (MEX)
          %td Maurizio Damilano (ITA)
          %td
            %img{:src => "./demo5_files/delete.png"}/
        %tr
          %th.spec 1988 Seoul
          %td Jozef Pribilinec (TCH)
          %td Ronald Weigel (GDR)
          %td Maurizio Damilano (ITA)
          %td
            %img{:src => "./demo5_files/delete.png"}/
        %tr
          %th.spec 1992 Barcelona
          %td Daniel Plaza (ESP)
          %td Guillaume LeBlanc (CAN)
          %td Giovanni De Benedictis (ITA)
          %td
            %img{:src => "./demo5_files/delete.png"}/
        %tr
          %th.spec 1996 Atlanta
          %td Jefferson Pérez (ECU)
          %td Ilya Markov (RUS)
          %td Bernardo Segura (MEX)
          %td
            %img{:src => "./demo5_files/delete.png"}/
        %tr
          %th.spec 2000 Sydney
          %td Robert Korzeniowski (POL)
          %td Noe Hernández (MEX)
          %td Vladimir Andreyev (RUS)
          %td
            %img{:src => "./demo5_files/delete.png"}/
        %tr
          %th.spec 2004 Athens
          %td Ivano Brugnetti (ITA)
          %td Francisco Javier Fernández (ESP)
          %td Nathan Deakes (AUS)
          %td
            %img{:src => "./demo5_files/delete.png"}/
        %tr
          %th.spec 2008 Beijing
          %td Valeriy Borchin (RUS)
          %td Jefferson Perez (ECU)
          %td Jared Tallent (AUS)
          %td
            %img{:src => "./demo5_files/delete.png"}/
    / javascript coding
    :javascript
      // execute your scripts when the DOM is ready. this is a good habit
      $(function() {
      
      	
      
      	// setup tooltip for a single DIV element
      	$("#mytable img").tooltip({
      
      		// each trashcan image works as a trigger
      		tip: '#tooltip',
      
      		// custom positioning
      		position: 'center right',
      
      		// move tooltip a little bit to the right
      		offset: [0, 15],
      
      		// there is no delay when the mouse is moved away from the trigger
      		delay: 0
      	});
      
      	
      
      	$("#mytable img").click(function() {
      
      		// get handle to the current image (trashcan)
      		var img = $(this);
      
      		// gradually hide the parent row
      		img.parents("tr").fadeOut(function()  {
      
      			// after the row is deleted, hide our tooltip using the tooltip API
      			img.data("tooltip").hide();
      
      		});
      
      	});
      
      });
