<%-- :mode=jsp: --%>
<%@ include file="../../demos/header.jsf" %>
%p
  Below you can see triggers whose tooltip is centered on the top edge of the trigger.
  %a{:href => "#lower"} Click here
  to scroll a little lower and see how the tooltips behave now. We are using
  %a{:href => "${jqt}/tooltip/dynamic.html"} dynamic plugin
  which repositions our tooltips so that it is always visible on the viewport.
%a{:name => "lower"}
<%@ include file="dynamic.htm" %>
%p
  If there is no room on the top edge then the tooltip is shown on the bottom edge. The same happens on every edge of the tooltip: top, bottom, left and right. When there is no room then the opposite edge is used. Note that this demo is only for vertical repositioning.
%p
  It is possible to change the style, effect and other configuration variables whenever the dynamic repositioning occurs. You can see that in the above example the "slide" effect goes downwards when it is displayed from the bottom edge and we are using a different background image where the arrow points upwards.
%p
  We are using the
  %samp offset
  option to position the tooltip a little higher by default. When using the dynamic effect this value is inverted. Higher means lower and further right means further left.
%p
  The dynamic plugin can be used together with any effect. The above configuration uses the custom
  = succeed "." do
    %a{:href => "${jqt}/tooltip/slide.html"} slide effect
%h3 HTML coding
%p
  A
  %a{:href => "index.html"} minimal setup
  with the tooltip element and the triggers:
%pii:code{:lang => "html"}
  / tooltip triggers
  #dyna
    %img{:src => "image1.jpg", :title => "The tooltip text #1"}/
    %img{:src => "image2.jpg", :title => "The tooltip text #2"}/
    %img{:src => "image3.jpg", :title => "The tooltip text #3"}/
    %img{:src => "image4.jpg", :title => "The tooltip text #4"}/
%h3 CSS coding
%p
  When tooltip is repositioned it is assigned new CSS class names. By default we are using "top", "bottom", "left" and "right" to identify which edge is the newly positioned edge. These names can be changed from the plugin's
  = succeed "." do
    %a{:href => "${jqt}/tooltip/index.html#dynamic"} configuration
  Here are our settings for the repositioned bottom edge.
%pii:code{:lang => "css"}
  ${css}
%h3 JavaScript coding
%p
  After initializing the tooltip we will chain our
  %samp dynamic()
  plugin. We have used the
  %samp bottom
  parameter to alter the tooltip configuration for the bottom edge. Every
  %a{:href => "${jqt}/tooltip/index.html#configuration"} configuration option
  can be used to alter the tooltip's behaviour.
%pii:code
  ${js}
%p
  %strong Note:
  the dynamic plugin and the slide effect are not included in the standard jQuery Tools distribution. You must download a
  %a{:href => "${jqt}/download/index.html#combine"} custom combination
  to include those effects.
%br/
.box.petrol
  Take a look at a
  %a{:href => "dynamic.htm"} standalone version
  of this demo. View its source code to get things going on your page.
