<%-- :mode=jsp: --%>
<%@ include file="../header.jsf" %>
%p
  Here is a table with multiple rows. Move your mouse over the delete icons on the right hand side of the table and you'll see an example of the
  %em same
  tooltip for multiple triggers.
%div{:style => "margin:30px 0"}
  <%@ include file="table.htm" %>
%h3 HTML coding
%p
  We have only one tooltip element and multiple triggers. Each row has a
  %samp delete.png
  image which is configured to work as a trigger for our tooltip element. Note that we don't have any
  %samp title
  attribute on the triggers so we can use the same content inside the tooltip for every trigger.
%pii:code{:lang => "html"}
  / same tooltip for each entry
  #tooltip.tooltip
    Remove this row.
  %table
    %tr
      %th.spec{:abbr => "Model", :scope => "row"} 1956 Melbourne
      %td Leonid Spirin (URS)
      %td Antanas Mikenas (URS)
      %td Bruno Junk (URS)
      %td
        %img{:src => "table/delete.png"}/
    / other rows
%p
  There is quite a bit of styling for the table and the stylesheet can be seen
  %a{:href => "table/style.css"} here
  but it has nothing specifically to do with tooltips.
%h3 JavaScript code
%p
  Each tooltip is configured with this one JavaScript snippet. We have specified a
  %samp tip
  configuration option that will select the tooltip element that is being used by all of the triggers.
%pii:code
  ${js}
%h3 Removing a table row
%p
  For the curious, we also have a demonstration of how to remove a table row neatly with jQuery. You can also see a sample of the
  %a{:href => "${jqt}/tooltip/index.html#api"} tooltip API
  call which will close the tooltip when the row is removed:
%pii:code
  ${remove}
.box.petrol
  Show this demo as a
  %a{:href => "table.htm"} standalone page
