-@title = "jQuery Mobile Framework - Dialog Example"
= render :partial => "/mobile/index.js.haml", :format => :js

%div{"data-role" => "page"}
  %div{"data-position" => "inline", "data-role" => "header", "data-theme" => "e"}
    %h1 Dialog
  %div{"data-role" => "content", "data-theme" => "e"}
    %h1 I'm colorful
    %p
      This is a regular page, styled as a dialog. To create a dialog, just link to a normal page and include a transition and
      %code data-rel="dialog"
      attribute.
    %a{"data-rel" => "back", "data-role" => "button", "data-theme" => "a", :href => "/mobile/docs/pages/dialogs"} Good for you
    %a{"data-rel" => "back", "data-role" => "button", "data-theme" => "c", :href => "/mobile/docs/pages/dialogs"} Don't care, really
