:javascript
  $.fx.speeds._default = 1000;
  $(function() {
    $('#dialog').dialog({
      autoOpen: false,
      show: 'blind',
      hide: 'explode'
    });
    $('#opener').click(function() {
      $('#dialog').dialog('open');
      return false;
    });
  });
