%style{:type => "text/css", :media => "screen"}
  :plain
    .ui-dialog { font-size: 62.5%; }
        
:javascript
  $(function() {
    $("#dialog").dialog({
      bgiframe: true,
      height: 140,
      modal: true
    });
  });
