-@title = "#{t('txt.ui.name')} #{t('txt.ui.widgets.dialog.default')} - #{t('txt.ui.widgets.dialog.modal')}"

- content_for :content_head do
  = render(:partial => "modal.js.haml", :format => :js)
     
.demo
  %h3
    =image_tag("icons/22x22/jquery-ui.png", :border => 0)
    =@title
  #dialog{ :title => "Basic modal dialog" } 
    %p
      Adding the modal overlay screen makes the dialog look more prominent because it dims out the page content.
  / Sample page content to illustrate the layering of the dialog
  .hiddenInViewSource{ :style => "padding:20px;" }
    %p
      Sed vel diam id libero
      %a{ :href => "http://example.com" }
        rutrum convallis
      \. Donec aliquet leo vel magna. Phasellus rhoncus faucibus ante. Etiam bibendum, enim faucibus aliquet rhoncus, arcu felis ultricies neque, sit amet auctor elit eros a lectus.
    %form
      %input{ :value => "text input" }
      %br
      %input{ :type => "checkbox" }
      checkbox
      %br
      %input{ :type => "radio" }
      radio
      %br
      %select
        %option
          select
      %br
      %br
      %textarea
        textarea
      %br
  / End sample page content
/ End demo
.demo-description
  %p
    A modal dialog prevents the user from interacting with the rest of the page until it is closed.
/ End demo-description
