!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
  %body
    %div{"data-role" => "page"}
      %div{"data-role" => "header"}
        %h1 :password Selector
      #password1{"data-role" => "content", "data-theme" => "c"}
        %h2.jq-clearfix.roundTop.section-title
          %span.name password
          selector
        .entry-details
          %h4.name
            %span.versionAdded>
              version added:
              %a{:href => "/version/1.0/"} 1.0
            jQuery(':password')
          %p.desc
            %strong> Description:
            Selects all elements of type password.
          .longdesc
            %p
              %code $(':password')
              is equivalent to
              = succeed "." do
                %code $('[type=password]')
              As with other pseudo-class selectors (those that begin with a ":") it is recommended to precede it with a tag name or some other selector; otherwise, the universal selector ("*") is implied. In other words, the bare
              %code $(':password')
              is equivalent to
              = succeed "," do
                %code $('*:password')
              so
              %code $('input:password')
              should be used instead.
          %h3 Example:
          #entry-examples.entry-examples
            #example-0
              %h4
                %span.desc Finds all password inputs.
              %pre
                %code.example.demo-code
                  :preserve
                    &lt;!DOCTYPE html&gt;
                    &lt;html&gt;
                    &lt;head&gt;
                      &lt;style&gt;
                      textarea { height:45px; }
                      &lt;/style&gt;
                      &lt;script src="http://code.jquery.com/jquery-latest.js"&gt;&lt;/script&gt;
                    &lt;/head&gt;
                    &lt;body&gt;
                    	&lt;form&gt;
                        &lt;input type="button" value="Input Button"/&gt;
                        &lt;input type="checkbox" /&gt;
                    
                        &lt;input type="file" /&gt;
                        &lt;input type="hidden" /&gt;
                        &lt;input type="image" /&gt;
                    
                        &lt;input type="password" /&gt;
                        &lt;input type="radio" /&gt;
                        &lt;input type="reset" /&gt;
                    
                        &lt;input type="submit" /&gt;
                        &lt;input type="text" /&gt;
                        &lt;select&gt;&lt;option&gt;Option&lt;option/&gt;&lt;/select&gt;
                    
                        &lt;textarea&gt;&lt;/textarea&gt;
                        &lt;button&gt;Button&lt;/button&gt;
                      &lt;/form&gt;
                      &lt;div&gt;
                      &lt;/div&gt;
                    &lt;script&gt;
                    
                        var input = $("input:password").css({background:"yellow", border:"3px red solid"});
                        $("div").text("For this type jQuery found " + input.length + ".")
                                .css("color", "red");
                        $("form").submit(function () { return false; }); // so it won't submit
                    
                    &lt;/script&gt;
                    &lt;/body&gt;
                    &lt;/html&gt;              %h4 Demo:
              .demo.code-demo
