:css
  #the-content1 { border: 1px #666 solid; width: 300px; height: 300px; padding:0.5em; }

:javascript
  $(document).ready(function($) {
    function load(url) {
      if (url === undefined) {
        var re = new RegExp(document.documentElement.baseURI),
            href = document.documentURI.replace(re, '');
        href = href.replace(/^.*#/, '');

        if (href =="") {
          url = "ajax_1";
        } else {
          url = href;
        }
      }
      $('#the-content').load(url);
    }

    $('#ajax-links a').live('click', function(e) {
      document.location.hash = $(this).attr('href');
      return false;
    });
    
    $(window).bind('hashchange', function(event) {
      load();
    });
    
    load("ajax_1");
  });

