- content_for :head_scripts do
  = javascript_include_tag :history

:javascript
  $(function() {
    $("#tabs-1").tabs(options);
  });

.demo
  #tabs-1
    %ul
      %li
        %a.default-content{ :href => "mvc_1a" }
          load 1a.html
      %li
        %a{ :href => "mvc_1b" }
          load 1b.html
      %li
        %a{ :href => "mvc_1c" }
          load 1c.html

