:javascript
  $(function() {
    $("#tabs-2").tabs(options);
  });

.demo
  #tabs-2
    %ul.ajax-links
      %li
        %a{ :href => "mvc_2a" }
          load 2a.html
      %li
        %a{ :href => "mvc_2b" }
          load 2b.html
