-@title = "#{t('txt.history.name')} - #{t('txt.history.ajax2')}"

- content_for :content_head do
  = render(:partial => "ajax2.js.haml", :format => :js)

.demo
  %h3
    =image_tag("icons/22x22/history.png", :border => 0)
    =@title
  
  #tabs
    %ul
      %li
        %a{:href => "ajax2_1"} load 1.html
      %li
        %a{:href => "ajax2_2"} load 2.html
      %li
        %a{:href => "ajax2_3"} load 3.html
    #the-content
/ End demo
.demo-description
  #greybox
  %p
    The plugin was written by
    %a{:href => "http://github.com/tkyk/jquery-history-plugin/" } Takayuki Miwa
    and released under the
    = succeed "." do
      %a{:href => "http://tkyk.github.com/jquery-history-plugin/#license", :class => :greybox } MIT License
/ End demo-description

