-@title = "#{t('txt.history.name')} - #{t('txt.history.example9')}"

.demo
  %h3
    =image_tag("icons/22x22/chrome.png", :border => 0)
    =@title
  %p This demo demonstrates an issue with Google Chrome versions 8-10 (possibly 11) where if you push a state with data, then do history.back to the initial state, the event.state will contain the pushed states data instead of being null.
  %p Note: The issue requires a clean history list, as such this should always be opened in a new tab/window where there are no prior history items.
  %p
    Reported by
    %a{:href => "http://balupton.com", :class => :greybox } Benjamin Lupton
    author of
    %a{:href => "http://github.com/balupton/history.js", :class => :greybox } History.js
  %button#bug bug
  %button#reset reset
  %textarea#log{:style => "width:100%;height:200px;margin-top:1em;"}
  :javascript
    (function(){

      window.onpopstate = function(event) {
          var message = ("onpopstate: location: " + document.location.href + ", data: " + JSON.stringify(event.state));
          document.getElementById('log').innerHTML += message+"\n\n";
      };

      document.getElementById('bug').onclick = function(){
          setTimeout(function(){
              history.pushState({state:'new'},'New State','?new');
          },1e3);

          setTimeout(function(){
              history.back();
          },2e3);
      };

      document.getElementById('reset').onclick = function(){
          document.location.href = document.location.href.replace(/[\#\?].*/,"");
      };
    })();
/ End demo
.demo-description
  #greybox
  %p
    The plugin was written by
    %a{:href => "http://github.com/balupton/History.js/", :class => :greybox } Benjamin Lupton
    and released under the
    = succeed "." do
      %a{:href => "http://creativecommons.org/licenses/BSD/", :class => :greybox } New BSD License
/ End demo-description

