-@title = "#{t('txt.history.name')} - #{t('txt.history.example6')}"

- content_for :content_head do
  = render(:partial => "mvc.js.haml", :format => :js)

.demo
  %h3
    =image_tag("icons/22x22/history.png", :border => 0)
    =@title
  
  #tabs
    %ul
      %li
        %a.default-content{ :href => "mvc_1" }
          load 1.html
      %li
        %a{ :href => "mvc_2" }
          load 2.html
      %li
        %a{ :href => "mvc_3" }
          load 3.html
/ End demo
.demo-description
  #greybox
  %p
    The plugin was written by
    %a{:href => "http://github.com/balupton/History.js/", :class => :greybox  } Benjamin Lupton
    and released under the
    = succeed "." do
      %a{:href => "http://creativecommons.org/licenses/BSD/", :class => :greybox } New BSD License
/ End demo-description

