-@title = "#{t('txt.ui.name')} #{t('txt.ui.effects.default')} - #{t('txt.ui.effects.remove_class.default')}"

- content_for :head_scripts do
  = render :partial => "index.js.haml", :format => :js

.demo
  %h3
    =image_tag("icons/22x22/jquery-ui.png", :border => 0)
    =@title
  .toggler
    #effect.newClass.ui-corner-all
      Etiam libero neque, luctus a, eleifend nec, semper at, lorem. Sed pede.
  %a#button.ui-state-default.ui-corner-all{ :href => "#" }
    Run Effect
/ End demo
.demo-description
  %p
    Click the button above to preview the effect.
/ End demo-description
