-@browser_title = "jQTouch &beta;"

- content_for :content_head do
  = render(:partial => "jqt.js.haml", :format => :js)

#jqt
  #page1.touch
    .toolbar
      %h1
        Swipe animation
      %a.button.backRemote{ :href => "/jqtouch/demo", :target => "_webapp" }
        Back 
    .swipe
      Swipe left to go to the next page.
      %img{ :src => "/images/demo/jqtouch/animations/swipe-left.gif" }
  #page2.touch
    .toolbar
      %h1
        Swipe animation
      %a.button.backRemote{ :href => "/jqtouch/demo", :target => "_webapp" }
        Back 
    .swipe
      Swipe right to go back.
      %img{ :src => "/images/demo/jqtouch/animations/swipe-right.gif" }
