-@browser_title = "jQTouch &beta;"
-@jqt_partial_1 ='jqt.js.haml'

#jqt
  #page1.touch
    .toolbar
      %h1
        Swipe animation
      %a.back{ :href => "/jqtouch/demo", :target => "_webapp" }
        Back 
    .swipe
      Swipe left to go to the next page.
      %img{ :src => "/images/jqtouch/animations/swipe-left.gif" }
  #page2.touch
    .toolbar
      %h1
         Swipe animation
      %a.back{ :href => "/jqtouch/demo", :target => "_webapp" }
        Back 
    .swipe
      Swipe right to go back.
      %img{ :src => "/images/jqtouch/animations/swipe-right.gif" }
