/* line 1, ../../../../app/stylesheets/jqtouch/clock.sass */
* {
  margin: 0;
  padding: 0;
}

/* line 6, ../../../../app/stylesheets/jqtouch/clock.sass */
body {
  font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
}

/* line 10, ../../../../app/stylesheets/jqtouch/clock.sass */
.clock {
  background: url("/images/demo/jqtouch/clock/face.png");
  position: relative;
  width: 78px;
  height: 78px;
  margin: 5px auto;
  overflow: hidden;
}

/* line 19, ../../../../app/stylesheets/jqtouch/clock.sass */
.hour, .min, .sec {
  width: 9px;
  height: 78px;
  position: absolute;
  top: 0;
  left: 35px;
}

/* line 27, ../../../../app/stylesheets/jqtouch/clock.sass */
.hour {
  background: url("/images/demo/jqtouch/clock/hour.png");
}

/* line 31, ../../../../app/stylesheets/jqtouch/clock.sass */
.min {
  background: url("/images/demo/jqtouch/clock/minute.png");
}

/* line 35, ../../../../app/stylesheets/jqtouch/clock.sass */
.sec {
  background: url("/images/demo/jqtouch/clock/second.png");
}

/* line 39, ../../../../app/stylesheets/jqtouch/clock.sass */
#clocks > div {
  background: -webkit-gradient(linear,0% 0%,0% 100%,from(#dadadc),to(#b4b3b8));
  border-bottom: 1px solid #9a9fa5;
  border-top: 1px solid #dbdbdd;
  text-shadow: rgba(255,255,255,.5) 0 1px 0;
  position: relative;
}

/* line 47, ../../../../app/stylesheets/jqtouch/clock.sass */
.city {
  display: block;
  position: absolute;
  top: 35px;
  font-weight: bold;
  color: #333;
  left: 10px;
}

/* line 56, ../../../../app/stylesheets/jqtouch/clock.sass */
.time {
  display: block;
  position: absolute;
  right: 10px;
  top: 30px;
}
