!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
  %body
    %div{"data-role" => "page"}
      %div{"data-role" => "header"}
        %h1 event.relatedTarget
      %div{"data-role" => "content", "data-theme" => "c", :id => "event.relatedTarget1"}
        %h2.jq-clearfix.roundTop.section-title
          %span.name event.relatedTarget
          %span.returns
            Returns:
            %a.return{:href => "http://docs.jquery.com/Types#Element"} Element
        .entry-details
          %p.desc
            %strong Description:
            The other DOM element involved in the event, if any.
          %ul.signatures
            %li.signature{:id => "event.relatedTarget"}
              %h4.name
                %span.versionAdded>
                  version added:
                  %a{:href => "/category/version/1.1.4/"} 1.1.4
                event.relatedTarget
          .longdesc
            %p
              For
              = succeed "," do
                %code mouseout
              indicates the element being entered; for
              = succeed "," do
                %code mousein
              indicates the element being exited.
          %h3 Example:
          #entry-examples.entry-examples
            #example-0
              %h4
                %span.desc On mouseout of anchors, alert the element type being entered.
              %pre
                %code.example
                  :preserve
                    $("a").mouseout(function(event) {
                      alert(event.relatedTarget.nodeName); // "DIV"
                    });  