:javascript
  $(function() {
    $("#accordionDemo").accordion({
      fillSpace: true
    });
  });
  
  $(function() {
    $("#accordionDemoResizer").resizable({
      resize: function() {
        $("#accordionDemo").accordion("resize");
      },
      minHeight: 140
    });
  });
