-@browser_title = "jQuery UI #{t('txt.ui.widgets.accordion.default')} - #{t('txt.ui.widgets.accordion.fillspace')}"
-@jquery_partial = 'fillspace.js.haml'
      
.demo
  %h3
    =@browser_title
  %h3.docs
    Resize the outer container:
  #accordionDemoResizer.ui-widget-content{ :style => "padding:10px; width:350px; height:220px;" }
    #accordionDemo
      %h3
        %a{ :href => "#" }
          Section 1
      %div
        %p
          Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.
      %h3
        %a{ :href => "#" }
          Section 2
      %div
        %p
          Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In suscipit faucibus urna.
      %h3
        %a{ :href => "#" }
          Section 3
      %div
        %p
          Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis. Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.
        %ul
          %li
            List item one
          %li
            List item two
          %li
            List item three
      %h3
        %a{ :href => "#" }
          Section 4
      %div
        %p
          Cras dictum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia mauris vel est.
        %p
          Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
    %span.ui-icon.ui-icon-grip-dotted-horizontal{ :style => "margin:2px auto;" }
  / End accordionResizer
  .ui-widget-content{ :style => "margin-top:7px; padding:10px; width:350px; height:50px;" }
    I'm another panel
/ End demo
.demo-description
  %p
    Because the accordion is comprised of block-level elements, by default its width fills the available horizontal space. To fill the vertical space allocated by its container, set the boolean
    %code
      fillSpace
    option to true, and the script will automatically set the dimensions of the accordion to the height of its parent container.  The accordion will also resize with its container if the container is
    %code
      resizable
    \.
/ End demo-description
