<!doctype html>
%html{ :lang => "en" }
  %head
    %title
      jQuery UI Accordion Demos
    %link{ :href => "../demos.css", :rel => "stylesheet", :type => "text/css" }
  %body
    .demos-nav
      %h4
        Examples
      %ul
        %li.demo-config-on
          %a{ :href => "default.html" }
            Default functionality
        %li
          %a{ :href => "fillspace.html" }
            Fill space
        %li
          %a{ :href => "no-auto-height.html" }
            No auto height
        %li
          %a{ :href => "collapsible.html" }
            Collapse content
        %li
          %a{ :href => "mouseover.html" }
            Open on mouseover
        %li
          %a{ :href => "custom-icons.html" }
            Customize icons
