.container { border: 2px #666 solid; padding:0.5em; background-color: #CCC; }
.container .container { background-color: #A3CCA8; }
.container .container .container { background-color: #A3CCC9; }

.content { padding:0.8em; background-color: #EEE; }

.ajax-links { margin:0; padding:0 }
.ajax-links li { display: inline; margin-right: 0.5em; padding: 5px; background-color: #EEE; }

.content .content, .content .ajax-links li { background-color:#CFF3D3; }
.content .content .content, .content .content .ajax-links li { background-color:#C2DFD6; }
