- content_for :head_stylesheets do
  = render :partial => "/mobile/experiments/jquery.mobile.splitview.css.haml"
  = render :partial => "/mobile/experiments/jquery.mobile.grids.collapsible.css.haml"

- content_for :head_scripts_before_mobile do
  = render :partial => "/mobile/experiments/jquery.mobile.splitview.js.haml", :format => :js

- content_for :head_scripts_after_mobile do
  = render :partial => "/mobile/experiments/eventlog.js.haml", :format => :js
