:javascript
  $(function() {
    $("p")
    .tap(function() {
      var elem = this;
      $( elem ).css( "color", "#f00" );
      setTimeout(function() {
        $( elem ).css( "color", "#000" );
      }, 500 );
    })
    .taphold(function() {
      $( this ).css( "color", "#0f0" );
    })
    .click(function() {
      var elem = this;
      $( elem ).css( "background-color", "#00f" );
      setTimeout(function() {
        $( elem ).css( "background-color", "transparent" );
      }, 500 );
    });
  });
  