- content_for :content_head do
  = render(:partial => "basic_page.js.haml", :format => :js)

%div{"data-role" => "page"}
  %div{"data-role" => "header"}
    %h1
      Basic Page
  %div{"data-role" => "content"}
    %p
      Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cum sociis natoque penatibus et
      magnis dis parturient montes, nascetur ridiculus mus. Fusce dapibus, tellus ac cursus commodo,
      tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Vestibulum id ligula
      porta felis euismod semper. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor
      auctor. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
    %p
      Aenean lacinia bibendum nulla sed consectetur. Sed posuere consectetur est at lobortis.
      Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras justo odio,
      dapibus ac facilisis in, egestas eget quam. Aenean eu leo quam. Pellentesque ornare sem
      lacinia quam venenatis vestibulum. Cras justo odio, dapibus ac facilisis in, egestas eget
      quam.
    %p
      Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus
      vel augue laoreet rutrum faucibus dolor auctor. Sed posuere consectetur est at lobortis.
      Vestibulum id ligula porta felis euismod semper. Aenean eu leo quam. Pellentesque ornare
      sem lacinia quam venenatis vestibulum.
    %p
      Vestibulum id ligula porta felis euismod semper. Morbi leo risus, porta ac consectetur ac,
      vestibulum at eros. Donec id elit non mi porta gravida at eget metus. Cras justo odio,
      dapibus ac facilisis in, egestas eget quam.
    %p
      Maecenas faucibus mollis interdum. Praesent commodo cursus magna, vel scelerisque nisl
      consectetur et. Maecenas sed diam eget risus varius blandit sit amet non magna. Aenean
      lacinia bibendum nulla sed consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing
      elit. Curabitur blandit tempus porttitor.
    %p
      Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus
      posuere velit aliquet. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
    %p
      Maecenas faucibus mollis interdum. Donec sed odio dui. Maecenas faucibus mollis interdum.
      Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras mattis consectetur
      purus sit amet fermentum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis
      vestibulum.
    %p
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venenatis
      dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis parturient montes,
      nascetur ridiculus mus.
    %p
      Curabitur blandit tempus porttitor. Vestibulum id ligula porta felis euismod semper. Nulla
      vitae elit libero, a pharetra augue. Nullam quis risus eget urna mollis ornare vel eu leo.
      Maecenas sed diam eget risus varius blandit sit amet non magna. Lorem ipsum dolor sit amet,
      consectetur adipiscing elit.
    %p
      Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur.
      Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
      massa justo sit amet risus.
    %p
      Aenean lacinia bibendum nulla sed consectetur. Curabitur blandit tempus porttitor. Nullam id
      dolor id nibh ultricies vehicula ut id elit.
    %p
      Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nullam id dolor id nibh ultricies
      vehicula ut id elit. Nulla vitae elit libero, a pharetra augue.
    %p
      Nullam quis risus eget urna mollis ornare vel eu leo. Integer posuere erat a ante venenatis
      dapibus posuere velit aliquet. Nulla vitae elit libero, a pharetra augue. Maecenas sed diam
      eget risus varius blandit sit amet non magna.
