%div{"data-role" => "page", "data-theme" => "b"}
  %div{"data-position" => "inline", "data-role" => "header"}
    %h1 jQuery Mobile Tests
  %div{"data-role" => "content"}
    %ul{"data-dividertheme" => "b", "data-inset" => "true", "data-role" => "listview", "data-theme" => "c"}
      %li{"data-role" => "list-divider"} Testing the speed
      %li
        %a{:href => "/mobile/speed/basic-page"}
          Basic Page
      %li
        %a{:href => "/mobile/speed/lists-ul"}
          Listing 400 items
      %li
        %a{:href => "/mobile/docs/lists/lists-performance"}
          Listing 1000 items
