!!! Strict
%html
  %head
    %meta{:content => "text/html; charset=ISO-8859-1", "http-equiv" => "content-type"}
      %title Dynatree - Example
      %script{:src => "../jquery/jquery.js", :type => "text/javascript"}
      %script{:src => "../jquery/jquery-ui.custom.js", :type => "text/javascript"}
      %script{:src => "../jquery/jquery.cookie.js", :type => "text/javascript"}
      %link{:href => "../src/skin/ui.dynatree.css", :rel => "stylesheet", :type => "text/css"}
        %script{:src => "../src/jquery.dynatree.js", :type => "text/javascript"}
        / Start_Exclude: This block is not part of the sample code
        %link{:href => "prettify.css", :rel => "stylesheet"}
          %script{:src => "prettify.js", :type => "text/javascript"}
          %link{:href => "sample.css", :rel => "stylesheet", :type => "text/css"}
            %script{:src => "sample.js", :type => "text/javascript"}
            / End_Exclude
            :javascript
                %body.example
    %h1 Example: Sort nodes using drag-and-drop
    %p.description
      This sample uses Dynatree's built-in drag-and-drop feature to move nodes.
    #tree     / Start_Exclude: This block is not part of the sample code
    %hr
      %p.sample-links.no_code
        %a.hideInsideFS{:href => "http://dynatree.googlecode.com"} jquery.dynatree.js project home
        %a.hideOutsideFS{:href => "#"} Link to this page
        %a.hideInsideFS{:href => "samples.html"} Example Browser
        %a.codeExample{:href => "#"} View source code
      / End_Exclude
