!!! Strict
%html
  %head
    %meta{:content => "text/html; charset=ISO-8859-1", "http-equiv" => "content-type"}
      %title Dynatree - Example
      %script{:src => "../jquery/jquery.js", :type => "text/javascript"}
      %link{:href => "sample.css", :rel => "stylesheet", :type => "text/css"}
        %script{:src => "sample.js", :type => "text/javascript"}
  %body.example
    %h1 dynatree - Examples
    %p.description
      This site presents some live examples for Dynatree.
      %br
        %br
          Select a topic on the navigator to the left and click 'View source code'
          at the bottom of the samples for details.
          %br
            %br
              More documentation and infos can be found at the
              = succeed "." do
                %a{:href => "http://dynatree.googlecode.com", :target => "_blank"} project home
              %br
                %br
                  Have fun :-)
