!!! Strict
%html
  %head
    %meta{:content => "text/html; charset=ISO-8859-1", "http-equiv" => "content-type"}
      %title dynatree - temporary tests
      / Include the required JavaScript libraries:
      :css
        .container {
          color: red;
        }
        .container a:link {
          text-decoration: none;
          color: inherit;
        }
        .container span.active a {
          color: magenta;
        }
        
        /*
        a:link { font-weight:bold; color:blue; text-decoration:none; }
        a:visited { font-weight:bold; color:silver; text-decoration:none; }
        a:focus { font-weight:bold; color:red; text-decoration:underline; }
        a:hover { font-weight:bold; color:green; text-decoration:none; }
        a:active { font-weight:bold; color:lime; text-decoration:underline; }
        */
  %body
    %P This file is only temporarily used to reproduce issues.
    %p{:style => "color: red;"} Using doctype HTML 4.01 Strict.
    #tree     .container
      %div
        %span text
      %div
        %span.active
          %a{:href => "#"} tag
      %div
        %span
          %a{:href => "#"} tag
    %p
      %a{:href => "http://dynatree.googlecode.com"} jquery.dynatree.js
