-@title = 'Full calendar demo'

- content_for :content_head do
  = render(:partial => "index.js.haml", :format => :js)

.demo  
  #calendar
    %br
    %p.buttons
      = link_to 'Back', jqical_calendars_path
      