%link{:href => "/images/demo/mobile/tuts/tutsTouchIcon.png", :rel => "apple-touch-icon"}/

= javascript_include_tag :doTimeout, :dst

:javascript
  // constants
  var COOKIE_NAME = 'news';
  var COMMA = ',';
  var EMPTY = '';
  var REFRESH = 'refresh';
  var LI = 'li';
  var PAR = 'p';
  var ID = 'id';
  var ITEM = 'item';
  var TITLE = 'title';
  var CATEGORY = 'category';
  var DESCR = 'description';
  var CAT_ = 'cat_';
  var _D = '_d';
  var _LI = '_li';
  var _A = '_a';
  var GET = 'GET';
  var XML = 'xml';
  var HTML_FRG1 = '';
  var HTML_FRG2 = '';
  var HTML_FRG3 = '';
  var HTML_FRG4 = '';
  var HTML_FRG5 = '';
  var HTML_FRG6 = '';
  var HTML_FRG7 = '';
  var HTML_FRG8 = '';
  var NEWS_URI = '/mobile/tuts/news/bridge?fwd=http://rss.news.yahoo.com/rss/';
  var TWO_SECONDS = 2000;

  // Variables
  var categoriesPage = '#categoriesPage';
  var progressPage = '#progressPage';
  var newsPage = '#newsPage';
  var getCategoryVar = $('#getCategory');

  var contentNewsVar = $('#contentNews');
  var currentNewsVar = $('#currentNews');

  var numNewsToRestore= 0;
  var numLi = 0;
  var storedNewsArr;

  function restore(){
    if(numNewsToRestore > 0){
      getNews(storedNewsArr[--numNewsToRestore],restoreNews);
    } else {
     $.mobile.changePage(categoriesPage, "pop");
    }
  }

  function animate(pArr,animationTarget,handle){
    var len = pArr.length;
    var currInd = 1;
    animationTarget.doTimeout(handle,TWO_SECONDS, function(){
      this.fadeOut(function(){
        currInd = currInd % len;
        animationTarget.text(pArr[currInd++]);
        animationTarget.fadeIn();
        });
      return true;
    });
  }

  function storeCurrentNews(){
    $.DSt.set(COOKIE_NAME, EMPTY);
    var tmp = EMPTY;
    currentNewsVar.find(LI).each(function(){
      tmp = tmp + COMMA + $(this).find(PAR).attr(ID).substring(4);
    });
    $.DSt.set(COOKIE_NAME, tmp.substring(1));
  }

  function getNews(varCat,handler){
    var varURI = NEWS_URI + varCat;
    $.ajax({type: GET, dataType: XML, url: varURI, success: handler});
    return false;
  }

  function populateNewsItems(xml){
    var tmpTxt = EMPTY;
    $(xml).find(ITEM).each(function(){
      var txt = $(this).find(DESCR).text();
      tmpTxt = tmpTxt + HTML_FRG7 + txt + HTML_FRG8;
    });
    contentNewsVar.html(tmpTxt);
    $.mobile.changePage(newsPage, "pop");
  }

  function populateSingleNews(xml){
    var tmpTxt = $(xml).find(CATEGORY).first().text();
    var desc = $(xml).find(DESCR).first().text();
    var category = CAT_ + tmpTxt;
    var categoryDel = category + _D;
    var categoryLi = categoryDel + _LI;
    var categoryA = category + _A;

    $(HTML_FRG1 + categoryLi + HTML_FRG2 + categoryA + HTML_FRG3 + desc + HTML_FRG4 + category + HTML_FRG5 + categoryDel + HTML_FRG6).prependTo(currentNewsVar);

    var newDeleteItem = document.getElementById(categoryDel);
    $(newDeleteItem).click(function() {
      $.doTimeout( categoryLi, false );
      var newListItem = document.getElementById(categoryLi);
      $(newListItem).remove();
      storeCurrentNews();
    });

    var newDescItem = document.getElementById(categoryA);
    $(newDescItem).click(function() {
      $.mobile.changePage(progressPage, "pop");
      getNews(category.substring(4),populateNewsItems);
    });

    var ind = 0;
    var newsArray = new Array();
    $(xml).find(ITEM).each(function(){
      var txt = $(this).find(TITLE).text();
      newsArray[ind++] = txt;
    });

    var newItem = document.getElementById(category);
    $(newItem).text(newsArray[0]);

    currentNewsVar.listview(REFRESH);
    animate(newsArray,$(newItem),categoryLi);
  }

  function restoreNews(xml){
    populateSingleNews(xml);
    restore();
  }

  function addNews(xml){
    populateSingleNews(xml);
    storeCurrentNews();
    $.mobile.changePage(categoriesPage, "pop");
  }

  getCategoryVar.live('click', function() {
    var selCat = $('#category :selected').val();
    //$('#category').selectmenu('refresh');
    if (selCat != EMPTY) {
      $.mobile.changePage(progressPage, "pop");
      return getNews(selCat, addNews);
    } else {
      $.mobile.changePage(categoriesPage, "pop");
    }
    return false;
  });

  $(document).live("mobileinit", function(){
    $.mobile.defaultTransistion = 'pop';
    $.mobile.ajaxFormsEnabled = false;
  });

  $(document).ready(function () {
    $.mobile.changePage(progressPage, "pop");
    var storedNewsTxt = $.DSt.get(COOKIE_NAME);
    if(storedNewsTxt != null && storedNewsTxt.length > 0){
      storedNewsArr = storedNewsTxt.split(COMMA);
    } else {
      storedNewsArr = new Array();
    }
    restore();
  });