-@title = "jQuery Mobile Framework - News Reader App"
-@manifest = "/manifest"

- content_for :content_head do
  = render(:partial => "index.js.haml", :format => :js)

/ Container page
#containerPage{"data-role" => "page", "data-theme" => "a"}
  / Categories
  #hdrCategories{"data-nobackbtn" => "true", "data-role" => "header"}
    %h1 Categories
    %a#buttonAddCategory.ui-btn-left{"data-icon" => "plus", "data-inline" => "true", "data-role" => "button", :href => ""} Add
  #contentCategories{"data-role" => "content"}
    %ul#currentNews{"data-role" => "listview", "data-split-icon" => "delete", "data-split-theme" => "d"}
  #ftrCategories{"data-role" => "footer"}
  / Category Selection
  #hdrSelect{"data-nobackbtn" => "true", "data-role" => "header"}
    %h1 Select
  #contentSelect{"data-role" => "content"}
    %form#form1
      #categoryDiv{"data-role" => "fieldcontain"}
        %select#category{:tabindex => "2"}
          %option{:value => ""} Select a Category
          %option{:value => "topstories"} Top Stories
          %option{:value => "us"} U.S.
          %option{:value => "world"} World
          %option{:value => "politics"} Politics
          %option{:value => "business"} Business
          %option{:value => "stocks"} Stocks
          %option{:value => "economy"} U.S. Economy
          %option{:value => "eurobiz"} European Economy
      %a#buttonGetCategory{"data-inline" => "true", "data-role" => "button", :href => ""} Get Category
  #ftrSelect{"data-role" => "footer"}
  / Progress
  #hdrProgress{"data-nobackbtn" => "true", "data-role" => "header"}
    %h1 Processing...
  #contentProgress{"data-role" => "content"}
    %div{:align => "CENTER"}
      %h4 Please wait.
    %div{:align => "CENTER"}
      %img#spin{:src => "/images/demo/mobile/tuts/wait.gif"}/
  #ftrProgress{"data-role" => "footer"}
  / News
  #hdrNews{"data-nobackbtn" => "true", "data-role" => "header"}
    %h1 News
    %a#buttonHdrShowCategories.ui-btn-left{"data-icon" => "arrow-l", "data-inline" => "true", "data-role" => "button", :href => ""} Back
  #contentNews{"data-role" => "content"}
  #ftrNews{"data-role" => "footer"}
    %a#buttonFtrShowCategories.ui-btn-left{"data-icon" => "arrow-l", "data-inline" => "true", "data-role" => "button", :href => ""} Back to News Categories
  / containerPage
/ Page ends here
