- scale = (session[:ppi]/329.65).round_to(2)
- content_for :content_head do
  = render :partial => "/emulators/scale.js.haml", :format => :js, :locals => { :scale => scale }

= render :partial => "emulate", :locals => {:url => "http://jquerymobile.com/demos/1.0a4/", :scale => scale }
