- content_for :head_stylesheets do
  = stylesheet_link_tag :jqt_apple
  :css
    div#jqt .reveal.in { -webkit-animation-name: dontmove; z-index: 0; }
    div#jqt .reveal.out { -webkit-animation-name: revealout; z-index: 10; }
    div#jqt .reveal.out.reverse { z-index: 0; -webkit-animation-name: dontmove; }
    div#jqt .reveal.in.reverse { z-index: 10; -webkit-animation-name: revealin; }
    @-webkit-keyframes revealin { from { -webkit-transform: translateX(100%); } to { -webkit-transform: translateX(0); } }
    @-webkit-keyframes revealout { from { -webkit-transform: translateX(0); } to { -webkit-transform: translateX(100%); } }

- content_for :head_scripts do
  :javascript
    var jQT = new $.jQTouch({
      icon: '/images/jquery/touch/jqtouch.png',
      addGlossToIcon: false,
      startupScreen: '/images/jquery/touch/jqt_startup.png',
      statusBar: 'black',
      preloadImages: [
        '/images/jquery/touch/jqt/back_button.png',
        '/images/jquery/touch/jqt/back_button_clicked.png',
        '/images/jquery/touch/jqt/button_clicked.png',
        '/images/jquery/touch/jqt/grayButton.png',
        '/images/jquery/touch/jqt/whiteButton.png',
        '/images/jquery/touch/jqt/loading.gif'
      ]
    });

    $(function() {
      jQT.resetHeight();

      jQT.addAnimation({
        name: 'reveal',
        selector: '.revealme'
      });
    });
