-@title = "jQuery Mobile Framework - Weather for"

- content_for :content_head do
  = render(:partial => "index.js.haml", :format => :js)


%div{"data-role" => "page", "data-theme" => "a"}
  %form.ui-body.ui-body-a{:action => "", :method => "get"}
    %label{:for => "location"} Change zip code:
    %input#location{"data-theme" => "a", :name => "location", :placeholder => "zip code...", :type => "search", :value => "<?=$location; ?>"}/
    %input{"data-role" => "nojs", :type => "submit", :value => "submit"}/
  %div{"data-role" => "content"}
    %h1 Currently in <?=$information[0]->city['data']; ?>:
    .current.ui-body.ui-bar-a.ui-corner-all
      %img{:alt => "weather", :src => "<?= 'http://www.google.com' . $current[0]->icon['data']?>"}
        %p.condition
          <?= $current[0]->temp_f['data'] ?>&deg; F,
          <?= $current[0]->condition['data'] ?>
    %ul{"data-inset" => "true", "data-role" => "listview", "data-theme" => "a"}
      %li{"data-role" => "list-divider"} This week's forecast
      <? foreach ($forecast_list as $forecast) : ?>
      %li
        %img{:src => "<?= 'http://www.google.com' . $forecast->icon['data']?>"}
          %h3 <?= $forecast->day_of_week['data']; ?>
          %p
            <?= $forecast->low['data'] ?>&deg; F - <?= $forecast->high['data'] ?>&deg; F,
            <?= $forecast->condition['data'] ?>
      <? endforeach ?>
