%p{:style => "font-size:12px;"}
  Thanks again to Mark Williams creating this wonderfull feature - loading data while scrolling
  %br
    Note how the data is loaded and the requests to the server!
    %br
      Enjoy the feature and speed!
      %table#scrolling
      #pscrolling
      %script{:src => "36scrolling.js", :type => "text/javascript"}       %br/
      %div{:style => "font-size:12px;"}
        %b HTML
        %XMP
          \...
          %table#scrolling
          #pscrolling
        %b Java Scrpt code
        %XMP
          jQuery("#scrolling").jqGrid({
          scroll: 1,
          url:'bigset.php',
          datatype: "json",
          height: 255,
          width: 600,
          colNames:['Index','Name', 'Code'],
          colModel:[
          {name:'item_id',index:'item_id', width:65},
          {name:'item',index:'item', width:150},
          {name:'item_cd',index:'item_cd', width:100}
          ],
          rowNum:100,
          mtype: "GET",
          rownumbers: true,
          rownumWidth: 40,
          gridview: true,
          pager: '#pscrolling',
          sortname: 'item_id',
          viewrecords: true,
          sortorder: "asc",
          caption: "Loading data while scrolling"
          });
