-@title = "jQuery Mobile Docs - Forms"

- content_for :content_head do
  = render(:partial => "/mobile/index.js.haml", :format => :js)

%div{"data-role" => "page"}
  %div{"data-role" => "header"}
    %h1 Theming forms
  / /header
  %div{"data-role" => "content"}
    %h2 Form themes
    %p
      jQuery Mobile has a rich
      %a{:href => "../api/themes.html"} theming system
      that gives you full control of how pages and forms are styled. By default all form elements inside a container will automaticlaly adopt the same theme color swatch as their parent. This allows form elements to blend into their layouts with minimal work. The
      %code data-theme
      attribute can be applied any individual form element to apply any of the lettered theme color swatches to create contrast and emphasis in your designs.
    %p
      All the form elements in the examples below use the same HTML code with no theme swatch specified on the individual form elements. The only difference between each example block code is a
      %code data-theme
      swatch color assigned to each parent container. This illustrates the way form elements automatically adopt the theme swatch of their parent.
    %h2 Body swatch A
    .ui-body.ui-body-a
      %div{"data-role" => "fieldcontain"}
        %label{:for => "name-a"} Text Input:
        %input#name-a{:name => "name", :type => "text", :value => ""}/
      %div{"data-role" => "fieldcontain"}
        %label{:for => "switch-a"} Flip switch:
        %select#switch-a{"data-role" => "slider", :name => "switch-a"}
          %option{:value => "off"} Off
          %option{:value => "on"} On
      %div{"data-role" => "fieldcontain"}
        %label{:for => "slider-a"} Slider:
        %input#slider-a{:style => "width: 3.5em;", :max => "100", :min => "0", :name => "slider", :type => "range", :value => "0"}/
      %div{"data-role" => "fieldcontain"}
        %fieldset{"data-role" => "controlgroup", "data-type" => "horizontal"}
          %legend Font styling:
          %input#checkbox-6a.custom{:name => "checkbox-6a", :type => "checkbox"}/
          %label{:for => "checkbox-6a"} b
          %input#checkbox-7a.custom{:name => "checkbox-7a", :type => "checkbox"}/
          %label{:for => "checkbox-7a"}
            %em i
          %input#checkbox-8a.custom{:name => "checkbox-8a", :type => "checkbox"}/
          %label{:for => "checkbox-8a"} u
      %div{"data-role" => "fieldcontain"}
        %fieldset{"data-role" => "controlgroup"}
          %legend Choose a pet:
          %input#radio-choice-1a{:name => "radio-choice-1", :type => "radio", :value => "choice-1"}/
          %label{:for => "radio-choice-1a"} Cat
          %input#radio-choice-2a{:name => "radio-choice-1", :type => "radio", :value => "choice-2"}/
          %label{:for => "radio-choice-2a"} Dog
          %input#radio-choice-3a{:name => "radio-choice-1", :type => "radio", :value => "choice-3"}/
          %label{:for => "radio-choice-3a"} Hampster
          %input#radio-choice-4a{:name => "radio-choice-1", :type => "radio", :value => "choice-4"}/
          %label{:for => "radio-choice-4a"} Lizard
      %div{"data-role" => "fieldcontain"}
        %label.select{:for => "select-choice-a"} Choose shipping method:
        %select#select-choice-a{:name => "select-choice-a"}
          %option{:value => "standard"} Standard: 7 day
          %option{:value => "rush"} Rush: 3 days
          %option{:value => "express"} Express: next day
          %option{:value => "overnight"} Overnight
    / /body-a
    %h2 Body swatch B
    .ui-body.ui-body-b
      %div{"data-role" => "fieldcontain"}
        %label{:for => "name-b"} Text Input:
        %input#name-b{:name => "name", :type => "text", :value => ""}/
      %div{"data-role" => "fieldcontain"}
        %label{:for => "switch-b"} Flip switch:
        %select#switch-b{"data-role" => "slider", :name => "switch-b"}
          %option{:value => "off"} Off
          %option{:value => "on"} On
      %div{"data-role" => "fieldcontain"}
        %label{:for => "slider-b"} Slider:
        %input#slider-b{:style => "width: 3.5em;", :max => "100", :min => "0", :name => "slider", :type => "range", :value => "0"}/
      %div{"data-role" => "fieldcontain"}
        %fieldset{"data-role" => "controlgroup", "data-type" => "horizontal"}
          %legend Font styling:
          %input#checkbox-6b.custom{:name => "checkbox-6b", :type => "checkbox"}/
          %label{:for => "checkbox-6b"} b
          %input#checkbox-7b.custom{:name => "checkbox-7b", :type => "checkbox"}/
          %label{:for => "checkbox-7b"}
            %em i
          %input#checkbox-8b.custom{:name => "checkbox-8b", :type => "checkbox"}/
          %label{:for => "checkbox-8b"} u
      %div{"data-role" => "fieldcontain"}
        %fieldset{"data-role" => "controlgroup"}
          %legend Choose a pet:
          %input#radio-choice-1b{:name => "radio-choice-1", :type => "radio", :value => "choice-1"}/
          %label{:for => "radio-choice-1b"} Cat
          %input#radio-choice-2b{:name => "radio-choice-1", :type => "radio", :value => "choice-2"}/
          %label{:for => "radio-choice-2b"} Dog
          %input#radio-choice-3b{:name => "radio-choice-1", :type => "radio", :value => "choice-3"}/
          %label{:for => "radio-choice-3b"} Hampster
          %input#radio-choice-4b{:name => "radio-choice-1", :type => "radio", :value => "choice-4"}/
          %label{:for => "radio-choice-4b"} Lizard
      %div{"data-role" => "fieldcontain"}
        %label.select{:for => "select-choice-b"} Choose shipping method:
        %select#select-choice-b{:name => "select-choice-b"}
          %option{:value => "standard"} Standard: 7 day
          %option{:value => "rush"} Rush: 3 days
          %option{:value => "express"} Express: next day
          %option{:value => "overnight"} Overnight
    / /body-b
    %h2 Body swatch C
    .ui-body.ui-body-c
      %div{"data-role" => "fieldcontain"}
        %label{:for => "name-c"} Text Input:
        %input#name-c{:name => "name", :type => "text", :value => ""}/
      %div{"data-role" => "fieldcontain"}
        %label{:for => "switch-c"} Flip switch:
        %select#switch-c{"data-role" => "slider", :name => "switch-c"}
          %option{:value => "off"} Off
          %option{:value => "on"} On
      %div{"data-role" => "fieldcontain"}
        %label{:for => "slider-c"} Slider:
        %input#slider-c{:style => "width: 3.5em;", :max => "100", :min => "0", :name => "slider", :type => "range", :value => "0"}/
      %div{"data-role" => "fieldcontain"}
        %fieldset{"data-role" => "controlgroup", "data-type" => "horizontal"}
          %legend Font styling:
          %input#checkbox-6c.custom{:name => "checkbox-6c", :type => "checkbox"}/
          %label{:for => "checkbox-6c"} b
          %input#checkbox-7c.custom{:name => "checkbox-7c", :type => "checkbox"}/
          %label{:for => "checkbox-7c"}
            %em i
          %input#checkbox-8c.custom{:name => "checkbox-8c", :type => "checkbox"}/
          %label{:for => "checkbox-8c"} u
      %div{"data-role" => "fieldcontain"}
        %fieldset{"data-role" => "controlgroup"}
          %legend Choose a pet:
          %input#radio-choice-1c{:name => "radio-choice-1", :type => "radio", :value => "choice-1"}/
          %label{:for => "radio-choice-1c"} Cat
          %input#radio-choice-2c{:name => "radio-choice-1", :type => "radio", :value => "choice-2"}/
          %label{:for => "radio-choice-2c"} Dog
          %input#radio-choice-3c{:name => "radio-choice-1", :type => "radio", :value => "choice-3"}/
          %label{:for => "radio-choice-3c"} Hampster
          %input#radio-choice-4c{:name => "radio-choice-1", :type => "radio", :value => "choice-4"}/
          %label{:for => "radio-choice-4c"} Lizard
      %div{"data-role" => "fieldcontain"}
        %label.select{:for => "select-choice-c"} Choose shipping method:
        %select#select-choice-c{:name => "select-choice-c"}
          %option{:value => "standard"} Standard: 7 day
          %option{:value => "rush"} Rush: 3 days
          %option{:value => "express"} Express: next day
          %option{:value => "overnight"} Overnight
    / /body-c
    %h2 Body swatch D
    .ui-body.ui-body-d
      %div{"data-role" => "fieldcontain"}
        %label{:for => "name-d"} Text Input:
        %input#name-d{:name => "name", :type => "text", :value => ""}/
      %div{"data-role" => "fieldcontain"}
        %label{:for => "switch-d"} Flip switch:
        %select#switch-d{"data-role" => "slider", :name => "switch-d"}
          %option{:value => "off"} Off
          %option{:value => "on"} On
      %div{"data-role" => "fieldcontain"}
        %label{:for => "slider-d"} Slider:
        %input#slider-d{:style => "width: 3.5em;", :max => "100", :min => "0", :name => "slider", :type => "range", :value => "0"}/
      %div{"data-role" => "fieldcontain"}
        %fieldset{"data-role" => "controlgroup", "data-type" => "horizontal"}
          %legend Font styling:
          %input#checkbox-6d.custom{:name => "checkbox-6d", :type => "checkbox"}/
          %label{:for => "checkbox-6d"} b
          %input#checkbox-7d.custom{:name => "checkbox-7d", :type => "checkbox"}/
          %label{:for => "checkbox-7d"}
            %em i
          %input#checkbox-8d.custom{:name => "checkbox-8d", :type => "checkbox"}/
          %label{:for => "checkbox-8d"} u
      %div{"data-role" => "fieldcontain"}
        %fieldset{"data-role" => "controlgroup"}
          %legend Choose a pet:
          %input#radio-choice-1d{:name => "radio-choice-1", :type => "radio", :value => "choice-1"}/
          %label{:for => "radio-choice-1d"} Cat
          %input#radio-choice-2d{:name => "radio-choice-1", :type => "radio", :value => "choice-2"}/
          %label{:for => "radio-choice-2d"} Dog
          %input#radio-choice-3d{:name => "radio-choice-1", :type => "radio", :value => "choice-3"}/
          %label{:for => "radio-choice-3d"} Hampster
          %input#radio-choice-4d{:name => "radio-choice-1", :type => "radio", :value => "choice-4"}/
          %label{:for => "radio-choice-4d"} Lizard
      %div{"data-role" => "fieldcontain"}
        %label.select{:for => "select-choice-d"} Choose shipping method:
        %select#select-choice-d{:name => "select-choice-d"}
          %option{:value => "standard"} Standard: 7 day
          %option{:value => "rush"} Rush: 3 days
          %option{:value => "express"} Express: next day
          %option{:value => "overnight"} Overnight
    / /body-d
    %h2 Body swatch E
    .ui-body.ui-body-e
      %div{"data-role" => "fieldcontain"}
        %label{:for => "name-e"} Text Input:
        %input#name-e{:name => "name", :type => "text", :value => ""}/
      %div{"data-role" => "fieldcontain"}
        %label{:for => "switch-e"} Flip switch:
        %select#switch-e{"data-role" => "slider", :name => "switch-e"}
          %option{:value => "off"} Off
          %option{:value => "on"} On
      %div{"data-role" => "fieldcontain"}
        %label{:for => "slider-e"} Slider:
        %input#slider-e{:style => "width: 3.5em;", :max => "100", :min => "0", :name => "slider", :type => "range", :value => "0"}/
      %div{"data-role" => "fieldcontain"}
        %fieldset{"data-role" => "controlgroup", "data-type" => "horizontal"}
          %legend Font styling:
          %input#checkbox-6e.custom{:name => "checkbox-6e", :type => "checkbox"}/
          %label{:for => "checkbox-6e"} b
          %input#checkbox-7e.custom{:name => "checkbox-7e", :type => "checkbox"}/
          %label{:for => "checkbox-7e"}
            %em i
          %input#checkbox-8e.custom{:name => "checkbox-8e", :type => "checkbox"}/
          %label{:for => "checkbox-8e"} u
      %div{"data-role" => "fieldcontain"}
        %fieldset{"data-role" => "controlgroup"}
          %legend Choose a pet:
          %input#radio-choice-1e{:name => "radio-choice-1", :type => "radio", :value => "choice-1"}/
          %label{:for => "radio-choice-1e"} Cat
          %input#radio-choice-2e{:name => "radio-choice-1", :type => "radio", :value => "choice-2"}/
          %label{:for => "radio-choice-2e"} Dog
          %input#radio-choice-3e{:name => "radio-choice-1", :type => "radio", :value => "choice-3"}/
          %label{:for => "radio-choice-3e"} Hampster
          %input#radio-choice-4e{:name => "radio-choice-1", :type => "radio", :value => "choice-4"}/
          %label{:for => "radio-choice-4e"} Lizard
      %div{"data-role" => "fieldcontain"}
        %label.select{:for => "select-choice-e"} Choose shipping method:
        %select#select-choice-e{:name => "select-choice-e"}
          %option{:value => "standard"} Standard: 7 day
          %option{:value => "rush"} Rush: 3 days
          %option{:value => "express"} Express: next day
          %option{:value => "overnight"} Overnight
    / /body-e
  / /content
/ /page
