-@title = "jQuery Mobile Docs - Forms"

%div{"data-role" => "page", "data-theme" => "c"}
  %div{"data-role" => "header", "data-theme" => "e"}
    %h1
      Sample form response
    %a.ui-btn-right.jqm-home{"data-direction" => "reverse", "data-icon" => "home", "data-iconpos" => "notext", :href => "/mobile"} Home
  / /header
  %div{"data-role" => "content", "data-theme" => "c"}
    %form{:action => "index", :method => "GET"}
      %h2
        You chose:
      %p
        = @shipping
    / /form
  / /content
/ /page
