-@title = "jQuery Mobile Docs - Slider"
= render :partial => "/mobile/index.js.haml", :format => :js

.type-interior{"data-role" => "page"}
  %div{"data-role" => "header", "data-theme" => "f"}
    %h1 Slider
    %a.ui-btn-right.jqm-home{"data-direction" => "reverse", "data-icon" => "home", "data-iconpos" => "notext", :href => "/mobile"} Home
  / /header
  %div{"data-role" => "content"}
    .content-primary
      %form{:action => "#", :method => "get"}
        %h2 Sliders
        %p
          To add a slider widget to your page, start with an
          %code input
          with a new HTML5
          %code type="range"
          attribute. Specify the
          %code value
          (current value),
          %code min
          and
          %code max
          attribute values to configure the slider. The framework will parse these attributes to configure the slider.
        %p
          As you drag the slider, the input will update and vice-versa so they are always in sync so you can submit the slider value with form in a simple way. Set the
          %code for
          attribute of the
          %code label
          to match the ID of the
          %code input
          so they are semantically associated and wrap them in a
          %code div
          with the
          %code data-role="fieldcontain"
          attribute to group them.
        %pre
          %code
            :preserve

              &lt;div data-role=&quot;fieldcontain&quot;&gt;
                &lt;label for=&quot;slider&quot;&gt;Input slider:&lt;/label&gt;
                &lt;input type=&quot;range&quot; name=&quot;slider&quot; id=&quot;slider&quot; value=&quot;0&quot; min=&quot;0&quot; max=&quot;100&quot;  /&gt;
              &lt;/div&gt;
        %p An example of a slider and input is displayed like this:
        %div{"data-role" => "fieldcontain"}
          %label{:for => "slider-1"} Input slider:
          %input#slider-1{"data-theme" => "b", "data-track-theme" => "a", :max => "100", :min => "0", :name => "slider-1", :type => "range", :value => "0"}/
        %p
          By setting the
          %code min
          and
          = succeed "attributes" do
            %code max
          you can configure the allowable number range of the slider track. The
          %code value
          of the input is used to configure the starting position of the handle and the value populated in the text input.
        %p The slider with a min of 500, max of 5,000 and initial value of 2,500
        %div{"data-role" => "fieldcontain"}
          %label{:for => "slider-2"} Input slider:
          %input#slider-2{:max => "5000", :min => "500", :name => "slider-2", :type => "range", :value => "2500"}/
        %p Sliders also respond to the keyboards shortcuts. To increase the current value the Right Arrow, Up Arrow, and Page Up keys can be used. To decrease the current value the Left Arrow, Down Arrow, and Page Down keys can be used. To move the slider to its minimum or maximum value use the Home and End keys respectively.
        %h2 Refreshing a slider
        %p If you manipulate a slider via JavaScript, you must call the refresh method on it to update the visual styling. Here is an example:
        %code
          $("input[type=range]").val(60).slider("refresh");
    / /content-primary
    .content-secondary
      %div{"data-collapsed" => "true", "data-role" => "collapsible", "data-theme" => "b"}
        %h3 More in this section
        %ul{"data-dividertheme" => "d", "data-role" => "listview", "data-theme" => "c"}
          %li{"data-role" => "list-divider"} Form elements
          %li
            %a{:href => "/mobile/docs/forms/docs_forms"} Form basics
          %li
            %a{:href => "/mobile/docs/forms/forms_all"} Form element gallery
          %li
            %a{:href => "/mobile/docs/forms/forms_text"} Text inputs
          %li
            %a{:href => "/mobile/docs/forms/forms_search"} Search inputs
          %li{"data-theme" => "a"}
            %a{:href => "/mobile/docs/forms/forms_slider"} Slider
          %li
            %a{:href => "/mobile/docs/forms/forms_switch"} Flip toggle switch
          %li
            %a{:href => "/mobile/docs/forms/forms_radiobuttons"} Radio buttons
          %li
            %a{:href => "/mobile/docs/forms/forms_checkboxes"} Checkboxes
          %li
            %a{:href => "/mobile/docs/forms/forms_selects"} Select menus
          %li
            %a{:href => "/mobile/docs/forms/forms_themes"} Theming forms
          %li
            %a{:href => "/mobile/docs/forms/forms_all_native"} Native form elements
          %li
            %a{:href => "/mobile/docs/forms/forms_sample"} Submitting forms
          %li
            %a{:href => "/mobile/docs/forms/plugin_eventsmethods"} Plugin methods
  / /content
  .footer-docs{"data-role" => "footer", "data-theme" => "c"}
    %p &copy; 2011 The jQuery Project
/ /page
