-@title = "jQuery Mobile Docs - Flip switch"
= render :partial => "/mobile/index.js.haml", :format => :js

.type-interior{"data-role" => "page"}
  %div{"data-role" => "header", "data-theme" => "f"}
    %h1 Flip switch
  / /header
  %div{"data-role" => "content"}
    .content-primary
      %form{:action => "#", :method => "get"}
        %h2 Flip toggle switches
        %p A binary "flip" switch is a common UI element on mobile devices that is used for any binary on/off or true/false type of data input. You can either drag the flip handle like a slider or tap on each half of the switch.
        %p
          To create a flip toggle,  To add a slider widget to your page, start with an
          %code select
          with two options. The first option will be styled as the "on" state switch and the second will be styled as the "off" state so write your options in the correct order. Set the
          %code for
          attribute of the
          %code label
          to match the ID of the
          %code input
          so they are semantically associated and wrap them in a
          %code div
          with the
          %code data-role="fieldcontain"
          attribute to group them.
        %pre
          %code
            :preserve

              &lt;div data-role=&quot;fieldcontain&quot;&gt;
                &lt;label for=&quot;slider&quot;&gt;Select slider:&lt;/label&gt;
                &lt;select name=&quot;slider&quot; id=&quot;slider&quot; data-role=&quot;slider&quot;&gt;
                  &lt;option value=&quot;off&quot;&gt;Off&lt;/option&gt;
                  &lt;option value=&quot;on&quot;&gt;On&lt;/option&gt;
                &lt;/select&gt;
              &lt;/div&gt;
        %p The flip toggle switch is displayed like this:
        %div{"data-role" => "fieldcontain"}
          %label{:for => "slider"} Flip switch:
          %select#slider{"data-role" => "slider", :name => "slider"}
            %option{:value => "off"} Off
            %option{:value => "on"} On
        %h2 Refreshing a flip switch
        %p If you manipulate a flip switch via JavaScript, you must call the refresh method on it to update the visual styling. Here is an example:
        %code
          %pre
            :preserve

              var myswitch = $("select#bar");
              myswitch[0].selectedIndex = 1;
              myswitch .slider("refresh");
    / /content-primary
    .content-secondary
      .ui-body-b
        %div{"data-collapsed" => "true", "data-role" => "collapsible", "data-theme" => "b"}
          %h3 More in this section
          %ul{"data-dividertheme" => "d", "data-role" => "listview", "data-theme" => "c"}
            %li{"data-role" => "list-divider"} Form elements
            %li
              %a{:href => "/mobile/docs/forms/docs_forms"} Form basics
            %li
              %a{:href => "/mobile/docs/forms/forms_all"} Form element gallery
            %li
              %a{:href => "/mobile/docs/forms/forms_text"} Text inputs
            %li
              %a{:href => "/mobile/docs/forms/forms_search"} Search inputs
            %li
              %a{:href => "/mobile/docs/forms/forms_slider"} Slider
            %li{"data-theme" => "a"}
              %a{:href => "/mobile/docs/forms/forms_switch"} Flip toggle switch
            %li
              %a{:href => "/mobile/docs/forms/forms_radiobuttons"} Radio buttons
            %li
              %a{:href => "/mobile/docs/forms/forms_checkboxes"} Checkboxes
            %li
              %a{:href => "/mobile/docs/forms/forms_selects"} Select menus
            %li
              %a{:href => "/mobile/docs/forms/forms_themes"} Theming forms
            %li
              %a{:href => "/mobile/docs/forms/forms_all_native"} Native form elements
            %li
              %a{:href => "/mobile/docs/forms/forms_sample"} Submitting forms
            %li
              %a{:href => "/mobile/docs/forms/plugin_eventsmethods"} Plugin methods
  / /content
  .footer-docs{"data-role" => "footer", "data-theme" => "c"}
    %p &copy; 2011 The jQuery Project
/ /page
