-@title = "jQuery Mobile Docs - Forms"

- content_for :content_head do
  = render(:partial => "/mobile/index.js.haml", :format => :js)

%div{"data-role" => "page"}
  %div{"data-role" => "header"}
    %h1 Checkboxes
  / /header
  %div{"data-role" => "content"}
    %form{:action => "#", :method => "get"}
      %h2 Checkboxes
      %p
        Checkboxes are used to provide a list of options where more than one can be selected. Traditional desktop checkboxes are not optimized for touch input so in jQuery Mobile, we style the
        %code label
        for the checkboxes so they are larger and look clickable. A custom set of icons are added to the label to provide additional visual feedback.
      %p Both the radio and checkbox controls below use standard input/label markup, but are styled to be more touch-friendly. The styled control you see is actually the label element, which sits over the real input, so if images fail to load, you'll still have a functional control. In most browsers, clicking the label automatically triggers a click on the input, but we've had to trigger the update manually for a few mobile browsers that don't do this natively. On the desktop, these controls are keyboard and screen-reader accessible.
      %p
        To create a single checkbox, add an
        %code input
        with a
        %code type="checkbox"
        attribute and a corresponding
        = succeed "." do
          %code label
        Set the
        %code for
        attribute of the
        %code label
        to match the ID of the
        %code input
        so they are semantically associated.
      %p
        Because checkboxes use the
        %code label
        element for the text displayed next to the checkbox form element, we recommend wrapping the checkbox in a
        %code fieldset
        element that has a
        %code legend
        which acts as the title for the question. Add the
        %code data-role="controlgroup"
        attribute to the
        %code fieldset
        so it can be styled in a parallel way as text inputs, selects or other form elements.
      %p
        Lastly, need to wrap the
        %code fieldset
        in a
        %code div
        with
        %code data-role="controlgroup"
        attribute to the
        %code fieldset
        so it can be styled in a parallel way as text inputs, selects or other form elements.
      %pre
        %code
          :preserve
            &lt;div data-role=&quot;fieldcontain&quot;&gt;
              &lt;fieldset data-role=&quot;controlgroup&quot;&gt;
                &lt;legend&gt;Agree to the terms:&lt;/legend&gt;
                &lt;input type=&quot;checkbox&quot; name=&quot;checkbox-1&quot; id=&quot;checkbox-1&quot; class=&quot;custom&quot; /&gt;
                &lt;label for=&quot;checkbox-1&quot;&gt;I agree&lt;/label&gt;
              &lt;/fieldset&gt;
            &lt;/div&gt;
      %div{"data-role" => "fieldcontain"}
        %fieldset{"data-role" => "controlgroup"}
          %legend Agree to the terms:
          %input#checkbox-1.custom{:name => "checkbox-1", :type => "checkbox"}/
          %label{:for => "checkbox-1"} I agree
      %h2 Vertically grouped checkboxes
      %p
        Typically, there are multiple checkboxes listed under a question title. To visually integrate multiple checkboxes into a grouped button set, the framework will automatically remove all margins between buttons and round only the top and bottom corners of the set if there is a
        %code data-role="controlgroup"
        attribute on the fie.
      %div{"data-role" => "fieldcontain"}
        %fieldset{"data-role" => "controlgroup"}
          %legend Choose as many snacks as you'd like:
          %input#checkbox-1a.custom{:name => "checkbox-1a", :type => "checkbox"}/
          %label{:for => "checkbox-1a"} Cheetos
          %input#checkbox-2a.custom{:name => "checkbox-2a", :type => "checkbox"}/
          %label{:for => "checkbox-2a"} Doritos
          %input#checkbox-3a.custom{:name => "checkbox-3a", :type => "checkbox"}/
          %label{:for => "checkbox-3a"} Fritos
          %input#checkbox-4a.custom{:name => "checkbox-4a", :type => "checkbox"}/
          %label{:for => "checkbox-4a"} Sun Chips
      %h2 Horizontal toggle sets
      %p
        Checkboxes can also be used for grouped button sets where more than one button can be selected at once, such as the bold, italic and underline button group seen in word processors. To make a horizontal button set, add the
        %code data-type="horizontal"
        to the
        = succeed "." do
          %code fieldset
      %pre
        %code
          :preserve
            &lt;div data-role=&quot;fieldcontain&quot;&gt;
              &lt;fieldset data-role=&quot;controlgroup&quot; data-type=&quot;horizontal&quot;&gt;
                ...
              &lt;/fieldset&gt;
            &lt;/div&gt;

      %p The framework will float the labels so they sit side-by-side on a line, hide the checkbox icons and only round the left and right edges of the group.
      %div{"data-role" => "fieldcontain"}
        %fieldset{"data-role" => "controlgroup", "data-type" => "horizontal"}
          %legend Font styling:
          %input#checkbox-6.custom{:name => "checkbox-6", :type => "checkbox"}/
          %label{:for => "checkbox-6"} b
          %input#checkbox-7.custom{:name => "checkbox-7", :type => "checkbox"}/
          %label{:for => "checkbox-7"}
            %em i
          %input#checkbox-8.custom{:name => "checkbox-8", :type => "checkbox"}/
          %label{:for => "checkbox-8"} u
  / /content
/ /page
