-@title = "jQuery Mobile Docs - Search"
= render :partial => "/mobile/index.js.haml", :format => :js

%div{"data-role" => "page"}
  %div{"data-role" => "header", "data-theme" => "b"}
    %h1 Search inputs
    %a.ui-btn-right.jqm-home{"data-direction" => "reverse", "data-icon" => "home", "data-iconpos" => "notext", :href => "/mobile"} Home
  / /header
  %div{"data-role" => "content"}
    %form{:action => "#", :method => "get"}
      %h2 Search inputs
      %p
        Search inputs are a new HTML type that is styled with pill-shaped corners and adds a "x" icon to clear the field once you start typing. Start with an
        %code input
        with a
        %code type="search"
        attribute in your markup.
      %p
        Set the
        %code for
        attribute of the
        %code label
        to match the ID of the
        %code input
        so they are semantically associated and wrap them in a
        %code div
        with the
        %code data-role="fieldcontain"
        attribute to group them.
      %pre
        %code
          :preserve
            &lt;div data-role=&quot;fieldcontain&quot;&gt;
              &lt;label for=&quot;search&quot;&gt;Search Input:&lt;/label&gt;
              &lt;input type=&quot;search&quot; name=&quot;password&quot; id=&quot;search&quot; value=&quot;&quot; /&gt;
            &lt;/div&gt;
      %p The search input is displayed like this:
      %div{"data-role" => "fieldcontain"}
        %label{:for => "search"} Search Input:
        %input#search{:name => "password", :type => "search", :value => ""}/
      %p Themed variation:
      %div{"data-role" => "fieldcontain"}
        %label{:for => "searchA"} Search Input:
        %input#searchA{"data-theme" => "a", :name => "searchA", :type => "search", :value => ""}/
  / /content
/ /page
