-@title = "jQuery Mobile Docs - Forms"

= render :partial => "/mobile/index.js.haml", :format => :js

%div{"data-role" => "page"}
  %div{"data-role" => "header", "data-theme" => "b"}
    %h1 Form elements
    %a.ui-btn-right.jqm-home{"data-direction" => "reverse", "data-icon" => "home", "data-iconpos" => "notext", :href => "/mobile"} Home
  / /header
  %div{"data-role" => "content"}
    %p All form elements begin with standard html controls that are enhanced to make them more attractive and easy-to-use. In browsers that don't support the custom controls, they will still have a usable experience because these are all based on native form elements.
    %ul{"data-inset" => "true", "data-role" => "listview"}
      %li
        %a{:href => "/mobile/docs/forms/docs_forms"} Form basics
      %li
        %a{:href => "/mobile/docs/forms/forms_all"} Form element gallery
      %li
        %a{:href => "/mobile/docs/forms/forms_text"} Text inputs
      %li
        %a{:href => "/mobile/docs/forms/forms_search"} Search inputs
      %li
        %a{:href => "/mobile/docs/forms/forms_slider"} Slider
      %li
        %a{:href => "/mobile/docs/forms/forms_switch"} Flip toggle switch
      %li
        %a{:href => "/mobile/docs/forms/forms_radiobuttons"} Radio buttons
      %li
        %a{:href => "/mobile/docs/forms/forms_checkboxes"} Checkboxes
      %li
        %a{:href => "/mobile/docs/forms/forms_selects"} Select menus
      %li
        %a{:href => "/mobile/docs/forms/forms_themes"} Theming forms
      %li
        %a{:href => "/mobile/docs/forms/forms_all_native"} Native form elements
      %li
        %a{:href => "/mobile/docs/forms/forms_sample"} Submitting forms
      %li
        %a{:href => "/mobile/docs/forms/plugin_eventsmethods"} Plugin methods
      / <li><a href="api_forms">API documentation</a></li>
    %ul{"data-inset" => "true", "data-role" => "listview"}
      %li{"data-role" => "list-divider"} Experimental Form Plugins
      %li
        %a{:href => "/mobile/experiments/datepicker/", :rel => "external"} Datepicker
  / /ui-body wrapper
/ /page
