-@title = "jQuery Mobile Docs - Forms"
= render :partial => "/mobile/index.js.haml", :format => :js

.type-interior{"data-role" => "page"}
  %div{"data-role" => "header", "data-theme" => "f"}
    %h1 Sample form submit to self
    %a.ui-btn-right.jqm-home{"data-direction" => "reverse", "data-icon" => "home", "data-iconpos" => "notext", :href => "/mobile"} Home
  / /header
  %div{"data-role" => "content", "data-theme" => "c"}
    .content-primary
      %form{:action => "/mobile/docs/forms/sample_selfsubmit", :method => "get"}
        %fieldset{"data-role" => "controlgroup", "data-type" => "horizontal"}
          %legend Gender
          - if @gender == "m"
            %input#gender-1{:type => "radio", :name => "gender", :value => "m", :checked => "checked"}
          - else
            %input#gender-1{:type => "radio", :name => "gender", :value => "m"}
          %label{:for => "gender-1"} Male
          - if @gender == "f"
            %input#gender-2{:type => "radio", :name => "gender", :value => "f", :checked => "checked"}
          - else
            %input#gender-2{:type => "radio", :name => "gender", :value => "f"}
          %label{:for => "gender-2"} Female
        %button{:type => "submit"}
          Submit
    / /content-primary
    .content-secondary
      .ui-body-b
        %div{"data-collapsed" => "true", "data-content-theme" => "d", "data-role" => "collapsible", "data-theme" => "b"}
          %h3 More in this section
          %ul{"data-dividertheme" => "d", "data-role" => "listview", "data-theme" => "c"}
            %li{"data-role" => "list-divider"} Form elements
            %li
              %a{:href => "/mobile/docs/forms/docs_forms"} Form basics
            %li
              %a{:href => "/mobile/docs/forms/all"} Form element gallery
            %li
              %a{:href => "/mobile/docs/forms/textinputs"} Text inputs
            %li
              %a{:href => "/mobile/docs/forms/search"} Search input
            %li
              %a{:href => "/mobile/docs/forms/slider"} Slider
            %li
              %a{:href => "/mobile/docs/forms/switch"} Flip toggle switch
            %li
              %a{:href => "/mobile/docs/forms/radiobuttons"} Radio buttons
            %li
              %a{:href => "/mobile/docs/forms/checkboxes"} Checkboxes
            %li
              %a{:href => "/mobile/docs/forms/selects"} Select menus
            %li
              %a{:href => "/mobile/docs/forms/themes"} Theming forms
            %li
              %a{:href => "/mobile/docs/forms/all_native"} Native form elements
            %li{"data-theme" => "a"}
              %a{:href => "/mobile/docs/forms/sample"} Submitting forms
  / /content
  .footer-docs{"data-role" => "footer", "data-theme" => "c"}
    %p &copy; 2011 The jQuery Project
/ /page
