!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %title jQuery Mobile Framework - Dialog Example
    %link{:href => "../../themes/default", :rel => "stylesheet"}/
    %link{:href => "../_assets/css/jqm-docs.css", :rel => "stylesheet"}/
    %script{:src => "../../js/", :type => "text/javascript"}
  %body
    %div{"data-role" => "page"}
      %div{"data-role" => "content", "data-theme" => "a"}
        %h3 Share Photos
        %a{"data-role" => "button", "data-theme" => "b", :href => "dialog-success.html"} Email
        %a{"data-role" => "button", "data-theme" => "b", :href => "dialog-success.html"} Upload to flickr
        %a{"data-role" => "button", "data-theme" => "b", :href => "dialog-success.html"} Share on Facebook
        %a{"data-role" => "button", "data-theme" => "b", :href => "dialog-success.html"} Tweet photo
        %a{"data-role" => "button", "data-theme" => "a", :href => "index.html"} Cancel
