!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %title jQuery Mobile Framework - Dialog Example
    %link{:href => "../../themes/default", :rel => "stylesheet"}/
    %link{:href => "../_assets/css/jqm-docs.css", :rel => "stylesheet"}/
    %script{:src => "../../js/", :type => "text/javascript"}
  %body
    %div{"data-role" => "page"}
      %div{"data-role" => "content", "data-theme" => "b"}
        %p Flickr upload:
        %h3 Photos posted successfully
        %a{"data-role" => "button", "data-theme" => "b", :href => "docs-dialogs.html"} View photo page
        %a{"data-role" => "button", "data-theme" => "c", :href => "docs-dialogs.html"} Done
