!!!
%html
  %head
    %title jQuery Mobile Docs - Pages
    %link{:href => "../../themes/default", :media => "only all", :rel => "stylesheet"}/
    %script{:src => "../../js/all", :type => "text/javascript"}
  %body
    %div{"data-role" => "page"}
      %div{"data-role" => "header"}
        %h1 Dialogs
      / /header
      .ui-body{"data-role" => "content"}
        %p
          Any page can be presented as a modal dialog by adding the
          %code data-rel="dialog"
          attribute to the page anchor link. When the "dialog" attribute is applied, the framework adds styles to add rounded corners, margins around the page and a dark background to make the "dialog" appear to be suspended above the page.
        %p
          %code
            \&lt;a href=&quot;foo.html&quot; data-rel=&quot;dialog&quot;&gt;Open dialog&lt;/a&gt;
        %a{"data-inline" => "true", "data-rel" => "dialog", "data-role" => "button", "data-transition" => "pop", :href => "dialog.html"} Open dialog
        %h2 Transitions
        %p
          Since the dialog is a standard "page", it will open with the standard slide transition that's applied to all pages.  And like all pages, you can specify any page transition you want on the dialog by adding the
          %code data-transition
          attribute to the link. To make it feel more dialog-like, we recommend specifying a transition of "pop", "slideup" or "flip".
        %code
          \&lt;a href=&quot;foo.html&quot; data-rel=&quot;dialog&quot; data-transition=&quot;pop&quot;&gt;Open dialog&lt;/a&gt;
        %div
          %a{"data-inline" => "true", "data-rel" => "dialog", "data-role" => "button", "data-transition" => "pop", :href => "dialog.html"} data-transition="pop"
          %a{"data-inline" => "true", "data-rel" => "dialog", "data-role" => "button", "data-transition" => "slideup", :href => "dialog.html"} data-transition="slideup"
          %a{"data-inline" => "true", "data-rel" => "dialog", "data-role" => "button", "data-transition" => "flip", :href => "dialog.html"} data-transition="flip"
        %h2 Styling
        %p Dialogs can be styled with different themes, just like any page. Here is a different dialog design:
        %a{"data-inline" => "true", "data-rel" => "dialog", "data-role" => "button", "data-transition" => "pop", :href => "dialog-alt.html"} An alternate color scheme
        %p And dialogs can be can used more like a control sheet to offer multiple buttons by removing the header:
        %a{"data-inline" => "true", "data-rel" => "dialog", "data-role" => "button", "data-transition" => "slideup", :href => "dialog-buttons.html"} Share photos...
      / /content
    / /page
