!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %title jQuery Mobile Docs - Pages
    %link{:href => "../../themes/default", :rel => "stylesheet"}/
    %link{:href => "../_assets/css/jqm-docs.css", :rel => "stylesheet"}/
    %script{:src => "../../js/", :type => "text/javascript"}
  %body
    %div{"data-role" => "page", "data-theme" => "b"}
      %div{"data-role" => "header", "data-theme" => "b"}
        %h1 Pages
      / /header
      %div{"data-role" => "content"}
        %p jQuery Mobile includes automatic AJAX page loading of external pages with back button history support, a set of animated page transitions and simple tools for displaying pages as dialogs.
        %ul{"data-inset" => "true", "data-role" => "listview"}
          %li
            %a{:href => "docs-pages.html"} Anatomy of a page
          %li
            %a{:href => "docs-transitions.html"} Page transitions
          %li
            %a{:href => "docs-dialogs.html"} Dialogs
          %li
            %a{:href => "docs-navmodel.html"} Navigation: Ajax, hashes &amp; history
          %li
            %a{:href => "link-formats.html"} Link format examples
          %li
            %a{:href => "pages-themes.html"} Theming pages
          / <li><a href="api-pages.html">API documentation</a></li>
      / /ui-body wrapper
    / /page
