!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %title Page Title
    %link{:href => "http://code.jquery.com/mobile/1.0a3/jquery.mobile-1.0a3.min.css", :rel => "stylesheet"}/
    %script{:src => "http://code.jquery.com/jquery-1.5.min.js"}
    %script{:src => "http://code.jquery.com/mobile/1.0a3/jquery.mobile-1.0a2.min.js"}
    %body
      / Start of first page
      #foo{"data-role" => "page"}
        %div{"data-role" => "header"}
          %h1 Foo
        / /header
        %div{"data-role" => "content"}
          %h2 Foo
          %p I'm first in the source order so I'm shown as the page.
          %p
            View internal page called
            %a{:href => "#bar"} bar
          %p
            View internal page called
            %a{"data-rel" => "dialog", "data-transition" => "pop", :href => "#baz"} baz
            as a dialog.
        / /content
        %div{"data-role" => "footer"}
          %h4 Page Footer
        / /footer
      / /page
      / Start of second page
      #bar{"data-role" => "page"}
        %div{"data-role" => "header"}
          %h1 Bar
        / /header
        %div{"data-role" => "content"}
          %h2 Bar
          %p I'm the bar page.
          %p
            %a{"data-direction" => "reverse", :href => "#foo"} Back to foo
        / /content
        %div{"data-role" => "footer"}
          %h4 Page Footer
        / /footer
      / /page
      / Start of second page
      #baz{"data-role" => "page"}
        %div{"data-role" => "header"}
          %h1 Baz
        / /header
        %div{"data-role" => "content"}
          %h2 Baz
          %p I'm the baz page, viewed as a dialog.
          %p
            %a{"data-rel" => "back", :href => "#foo"} Back to foo
        / /content
        %div{"data-role" => "footer"}
          %h4 Page Footer
        / /footer
      / /page
