!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
  %body
    %div{"data-role" => "page"}
      %div{"data-role" => "header"}
        %h1 jQuery.contains()
      %div{"data-role" => "content", "data-theme" => "c", :id => "jQuery.contains1"}
        %h2.jq-clearfix.roundTop.section-title
          %span.name jQuery.contains( container, contained )
          %span.returns
            Returns:
            %a.return{:href => "http://docs.jquery.com/Types#Boolean"} Boolean
        .entry-details
          %p.desc
            %strong> Description:
            Check to see if a DOM node is within another DOM node.
          %ul.signatures
            %li.signature{:id => "jQuery.contains-container-contained"}
              %h4.name
                %span.versionAdded>
                  version added:
                  %a{:href => "/category/version/1.4/"} 1.4
                jQuery.contains( container, contained )
              %p.arguement
                %strong> container
                The DOM element that may contain the other element.
              %p.arguement
                %strong> contained
                The DOM node that may be contained by the other element.
          %h3 Example:
          #entry-examples.entry-examples
            #example-0
              %h4
                %span.desc Check if an element is inside another.
              %pre
                %code.example
                  :preserve
                    jQuery.contains(document.documentElement, document.body); // true
                    jQuery.contains(document.body, document.documentElement); // false