*~
.DS_Store
app/stylesheets/.sass-cache/*
db/schema.rb
db/*.sqlite*
db/*.sqlite3
.idea
log/*
public/javascripts/common.js
public/javascripts/locales.js
public/stylesheets/*.sass
public/stylesheets/compiled/*
tmp/*
Gemfile.lock
