*~
.bundle
.DS_Store
.idea
app/stylesheets/.sass-cache/*
db/schema.rb
db/*.sqlite3
log/*.log
public/javascripts/common.js
public/javascripts/locales.js
public/javascripts/common.js
public/javascripts/locales.js
public/stylesheets/emulators/
public/stylesheets/jquery/
public/stylesheets/ellipsis-xbl.xml
public/stylesheets/ie.css
public/stylesheets/print.css
public/stylesheets/screen.blueprint.css
public/stylesheets/screen.ribbon.css
tmp/
Gemfile.lock
