:css
  div#parent { width: 60%; margin: 10px auto; padding: 5px; border: 1px solid #777; background-color: #fbca93; text-align: center; }
  div.positionable { width: 75px; height: 75px; position: absolute; display: block; right: 0; bottom: 0; background-color: #bcd5e6; text-align: center; }
  select, input { margin-left: 15px; }

:javascript
  $(function() {      
    function position(using) {
      $('.positionable').position({
        of: $('#parent'),
        my: $('#my_horizontal').val() + ' ' + $('#my_vertical').val(),
        at: $('#at_horizontal').val() + ' '+ $('#at_vertical').val(),
        offset: $('#offset').val(),
        using: using,
        collision: $("#collision_horizontal").val() + ' ' + $("#collision_vertical").val()
      });
    }
        
    $('.positionable').css("opacity", 0.5);
        
    $(':input').live('click keyup change', function() { position(); });
        
    $("#parent").draggable({
      drag: function() { position(); }
    });
        
    $('.positionable').draggable({
      drag: function(event, ui) {
        // reset offset before calculating it
        $("#offset").val("0");
        position(function(result) {
          $("#offset").val("" + (ui.offset.left - result.left) + " " + (ui.offset.top - result.top));
          position();
        });
      }
    });    
    position();
  });
