-@title = "#{t('txt.ui.name')} #{t('txt.ui.utilities.position.default')} - #{t('txt.ui.default')}"

- content_for :head_scripts do
  = render :partial => "default.js.haml", :format => :js

.demo
  %h3
    =image_tag("icons/22x22/jquery-ui.png", :border => 0)
    =@title
  #parent
    %p
      This is the position parent element.
  .positionable
    %p
      to position
  .positionable{ :style => "width:120px; height: 40px;" }
    %p
      to position 2
  %div{ :style => "padding: 20px; margin-top: 75px;" }
    %p
      position...   
    %div{ :style => "padding-bottom: 20px;" }
      %b
        my:
      %select#my_horizontal
        %option{ :value => "left" }
          left
        %option{ :value => "center" }
          center
        %option{ :value => "right" }
          right
      %select#my_vertical
        %option{ :value => "top" }
          top
        %option{ :value => "middle" }
          center
        %option{ :value => "bottom" }
          bottom
    %div{ :style => "padding-bottom: 20px;" }
      %b
        at:
      %select#at_horizontal
        %option{ :value => "left" }
          left
        %option{ :value => "center" }
          center
        %option{ :value => "right" }
          right
      %select#at_vertical
        %option{ :value => "top" }
          top
        %option{ :value => "middle" }
          center
        %option{ :value => "bottom" }
          bottom
    %div{ :style => "padding-bottom: 20px;" }
      %b
        offset:
      %input#offset{ :size => "15", :type => "text" }
    %div{ :style => "padding-bottom: 20px;" }
      %b
        collision:
      %select#collision_horizontal
        %option{ :value => "flip" }
          flip
        %option{ :value => "fit" }
          fit
        %option{ :value => "none" }
          none
      %select#collision_vertical
        %option{ :value => "flip" }
          flip
        %option{ :value => "fit" }
          fit
        %option{ :value => "none" }
          none
/ End Demo

.demo-description
  %p
    Use the form controls to configure the positioning,
    or drag the positioned element to modify its offset.
    %br
    Drag around the parent element to see collision detection in action.    
/ End demo-description
