!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
  %body
    %div{"data-role" => "page"}
      %div{"data-role" => "header"}
        %h1 .html()
      #html1{"data-role" => "content", "data-theme" => "c"}
        %h2.jq-clearfix.roundTop.section-title
          %span.name .html()
          %span.returns
            Returns:
            %a.return{:href => "http://docs.jquery.com/Types#String"} String
        .entry-details
          %p.desc
            %strong> Description:
            Get the HTML contents of the first element in the set of matched elements.
          %ul.signatures
            %li#html.signature
              %h4.name
                %span.versionAdded>
                  version added:
                  %a{:href => "/category/version/1.0/"} 1.0
                \.html()
          .longdesc
            %p This method is not available on XML documents.
            %p
              In an HTML document, we can use
              %code .html()
              to get the contents of any element. If the selector expression matches more than one element, only the first one's HTML content is returned. Consider this code:
            %pre $('div.demo-container').html();
            %p
              In order for the following
              = succeed "'s" do
                %code &lt;div&gt;
              content to be retrieved, it would have to be the first one with
              %code class="demo-container"
              in the document:
            %pre
              :preserve
                &lt;div class="demo-container"&gt;
                  &lt;div class="demo-box"&gt;Demonstration Box&lt;/div&gt;
                &lt;/div&gt;            %p The result would look like this:
            %pre &lt;div class="demo-box"&gt;Demonstration Box&lt;/div&gt;
          %h3 Example:
          #entry-examples.entry-examples
            #example-0
              %h4
                %span.desc Click a paragraph to convert it from html to text.
              %pre
                %code.example.demo-code
                  :preserve
                    &lt;!DOCTYPE html&gt;
                    &lt;html&gt;
                    &lt;head&gt;
                      &lt;style&gt;
                      p { margin:8px; font-size:20px; color:blue; 
                          cursor:pointer; }
                      b { text-decoration:underline; }
                      button { cursor:pointer; }
                      &lt;/style&gt;
                      &lt;script src="http://code.jquery.com/jquery-latest.js"&gt;&lt;/script&gt;
                    &lt;/head&gt;
                    &lt;body&gt;
                    	&lt;p&gt;
                    
                        &lt;b&gt;Click&lt;/b&gt; to change the &lt;span id="tag"&gt;html&lt;/span&gt;
                      &lt;/p&gt;
                      &lt;p&gt;
                    
                        to a &lt;span id="text"&gt;text&lt;/span&gt; node.
                      &lt;/p&gt;
                      &lt;p&gt;
                        This &lt;button name="nada"&gt;button&lt;/button&gt; does nothing.
                      &lt;/p&gt;
                    &lt;script&gt;
                        $("p").click(function () {
                          var htmlStr = $(this).html();
                          $(this).text(htmlStr);
                        });
                    &lt;/script&gt;
                    &lt;/body&gt;
                    &lt;/html&gt;              %h4 Demo:
              .demo.code-demo
      #html2{"data-role" => "content", "data-theme" => "c"}
        %h2.jq-clearfix.roundTop.section-title
          %span.name .html( htmlString )
          %span.returns
            Returns:
            %a.return{:href => "http://docs.jquery.com/Types#jQuery"} jQuery
        .entry-details
          %p.desc
            %strong> Description:
            Set the HTML contents of each element in the set of matched elements.
          %ul.signatures
            %li#html-htmlString.signature
              %h4.name
                %span.versionAdded>
                  version added:
                  %a{:href => "/category/version/1.0/"} 1.0
                \.html( htmlString )
              %p.arguement
                %strong> htmlString
                A string of HTML to set as the content of each matched element.
            %li.signature{:id => "html-functionindex, html"}
              %h4.name
                %span.versionAdded>
                  version added:
                  %a{:href => "/category/version/1.4/"} 1.4
                \.html( function(index, html) )
              %p.arguement
                %strong> function(index, html)
                A function returning the HTML content to set. Receives the index position of the element in the set and the old HTML value as arguments.
          .longdesc
            %p
              The
              %code .html()
              method is not available in XML documents.
            %p
              When we use
              %code .html()
              to set elements' contents, any contents that were in those elements is completely replaced by the new contents. Consider the following HTML:
            %pre
              :preserve
                &lt;div class="demo-container"&gt;
                  &lt;div class="demo-box"&gt;Demonstration Box&lt;/div&gt;
                &lt;/div&gt;            %p
              We can set the HTML contents of
              %code &lt;div class="demo-container"&gt;
              like so:
            %pre
              :preserve
                $('div.demo-container')
                  .html('&lt;p&gt;All new content. &lt;em&gt;You bet!&lt;/em&gt;&lt;/p&gt;');            %p
              That line of code will replace everything inside
              = succeed ":" do
                %code &lt;div class="demo-container"&gt;
            %pre
              :preserve
                &lt;div class="demo-container"&gt;
                  &lt;p&gt;All new content. &lt;em&gt;You bet!&lt;/em&gt;&lt;/p&gt;
                &lt;/div&gt;            %p
              As of jQuery 1.4, the
              %code .html()
              method allows us to set the HTML content by passing in a function.
            %pre
              :preserve
                $('div.demo-container').html(function() {
                  var emph = '&lt;em&gt;' + $('p').length + ' paragraphs!&lt;/em&gt;';
                  return '&lt;p&gt;All new content for ' + emph + '&lt;/p&gt;';
                });            %p
              Given a document with six paragraphs, this example will set the HTML of
              %code &lt;div class="demo-container"&gt;
              to
              = succeed "." do
                %code &lt;p&gt;All new content for &lt;em&gt;6 paragraphs!&lt;/em&gt;&lt;/p&gt;
          %h3 Examples:
          #entry-examples.entry-examples
            #example-0
              %h4
                Example:
                %span.desc Add some html to each div.
              %pre
                %code.example.demo-code
                  :preserve
                    &lt;!DOCTYPE html&gt;
                    &lt;html&gt;
                    &lt;head&gt;
                      &lt;style&gt;
                    
                      .red { color:red; }
                      &lt;/style&gt;
                      &lt;script src="http://code.jquery.com/jquery-latest.js"&gt;&lt;/script&gt;
                    &lt;/head&gt;
                    &lt;body&gt;
                    	&lt;span&gt;Hello&lt;/span&gt;
                      &lt;div&gt;&lt;/div&gt;
                      &lt;div&gt;&lt;/div&gt;
                      &lt;div&gt;&lt;/div&gt;
                    &lt;script&gt;$("div").html("&lt;span class='red'&gt;Hello &lt;b&gt;Again&lt;/b&gt;&lt;/span&gt;");&lt;/script&gt;
                    &lt;/body&gt;
                    &lt;/html&gt;              %h4 Demo:
              .demo.code-demo
            #example-1
              %h4
                Example:
                %span.desc Add some html to each div then immediately do further manipulations to the inserted html.
              %pre
                %code.example.demo-code
                  :preserve
                    &lt;!DOCTYPE html&gt;
                    &lt;html&gt;
                    &lt;head&gt;
                      &lt;style&gt;
                      div { color:blue; font-size:18px; }
                      &lt;/style&gt;
                      &lt;script src="http://code.jquery.com/jquery-latest.js"&gt;&lt;/script&gt;
                    &lt;/head&gt;
                    &lt;body&gt;
                    	&lt;div&gt;&lt;/div&gt;
                      &lt;div&gt;&lt;/div&gt;
                      &lt;div&gt;&lt;/div&gt;
                    &lt;script&gt;
                    
                        $("div").html("&lt;b&gt;Wow!&lt;/b&gt; Such excitement...");
                        $("div b").append(document.createTextNode("!!!"))
                                  .css("color", "red");
                    
                    &lt;/script&gt;
                    &lt;/body&gt;
                    &lt;/html&gt;              %h4 Demo:
              .demo.code-demo
