!!! Strict
%html
  %head
    %meta{:content => "text/html; charset=iso-utf-8", "http-equiv" => "Content-Type"}
      %title Highcharts Examples
  %body
    %h1 Highcharts Examples
    %h4 Line and scatter charts
    %ul
      %li
        %a{:href => "examples/line-basic.htm"}
          Basic line
      %li
        %a{:href => "examples/line-ajax.htm"}
          Ajax loaded data, clickable points
      %li
        %a{:href => "examples/line-labels.htm"}
          With data labels
      %li
        %a{:href => "examples/line-time-series.htm"}
          Time series, zoomable
      %li
        %a{:href => "examples/spline-inverted.htm"}
          Spline with inverted axes
      %li
        %a{:href => "examples/spline-symbols.htm"}
          Spline with symbols
      %li
        %a{:href => "examples/spline-plot-bands.htm"}
          Spline with plot bands
      %li
        %a{:href => "examples/scatter.htm"}
          Scatter plot
    %h4 Area charts
    %ul
      %li
        %a{:href => "examples/area-basic.htm"}
          Basic area
      %li
        %a{:href => "examples/area-negative.htm"}
          Area with negative values
      %li
        %a{:href => "examples/area-stacked.htm"}
          Stacked area
      %li
        %a{:href => "examples/area-stacked-percent.htm"}
          Percentage area
      %li
        %a{:href => "examples/area-missing.htm"}
          Area with missing points
      %li
        %a{:href => "examples/area-inverted.htm"}
          Inverted axes
      %li
        %a{:href => "examples/areaspline.htm"}
          Area-spline
    %h4 Column and bar charts
    %ul
      %li
        %a{:href => "examples/bar-basic.htm"}
          Basic bar
      %li
        %a{:href => "examples/bar-stacked.htm"}
          Stacked bar
      %li
        %a{:href => "examples/bar-negative-stack.htm"}
          Bar with negative stack
      %li
        %a{:href => "examples/column-basic.htm"}
          Basic column
      %li
        %a{:href => "examples/column-negative.htm"}
          Column with negative values
      %li
        %a{:href => "examples/column-stacked.htm"}
          Stacked column
      %li
        %a{:href => "examples/column-stacked-and-grouped.htm"}
          Stacked and grouped column
      %li
        %a{:href => "examples/column-stacked-percent.htm"}
          Stacked percentage column
      %li
        %a{:href => "examples/column-rotated-labels.htm"}
          Column with rotated labels
      %li
        %a{:href => "examples/column-parsed.htm"}
          Data defined in a HTML table
    %h4 Pie charts
    %ul
      %li
        %a{:href => "examples/pie-basic.htm"}
          Pie chart
      %li
        %a{:href => "examples/pie-donut.htm"}
          Donut chart
      %li
        %a{:href => "examples/pie-legend.htm"}
          Pie with legend
    %h4 Dynamic charts
    %ul
      %li
        %a{:href => "examples/dynamic-update.htm"}
          Spline updating each second
      %li
        %a{:href => "examples/dynamic-click-to-add.htm"}
          Click to add a point
      %li
        %a{:href => "examples/dynamic-master-detail.htm"}
          Master-detail chart
    %h4 Combinations
    %ul
      %li
        %a{:href => "examples/combo.htm"}
          Column, line and pie
      %li
        %a{:href => "examples/combo-dual-axes.htm"}
          Dual axes, line and column
      %li
        %a{:href => "examples/combo-multi-axes.htm"}
          Multiple axes
      %li
        %a{:href => "examples/combo-regression.htm"}
          Scatter with regression line
