:css
  fieldset { border:0;  margin-bottom: 40px;}	
  label,select,.ui-select-menu { float: left; margin-right: 10px; }
  select { width: 200px; }

:javascript
  $(function(){      
    $('select#switch').selectmenu({
      style:'popup',
      // use seleect callback
      select: function(event, options) {
        if (options.value == 1) { 
          $('select#ghost').parent("fieldset").show();
        } else {
          $('select#ghost').parent("fieldset").hide();
        }
      }
    });
    
    var ghost = $('select#ghost').selectmenu({
      maxHeight: 150
    }).parent("fieldset").hide();
  });
