:css
  fieldset { border:0;  margin-bottom: 40px;}	
  label,select,.ui-select-menu { float: left; margin-right: 10px; }
  select { width: 300px; }
  
:javascript
  $(function() {
    $('select#files').selectmenu({
      icons: [
        {find: '.script', icon: 'ui-icon-script'},
        {find: '.image', icon: 'ui-icon-image'}
      ]
    });
  });
