- content_for :head_stylesheets do
  %title OpenLayers Google Layer Example
  %link{:href => "http://openlayers.org/dev/examples/../theme/default/style.css", :rel => "stylesheet", :type => "text/css"}/
  %link{:href => "http://openlayers.org/dev/examples/../theme/default/google.css", :rel => "stylesheet", :type => "text/css"}/
  %link{:href => "http://openlayers.org/dev/examples/style.css", :rel => "stylesheet", :type => "text/css"}/
  / this gmaps key generated for http://openlayers.org/dev/

- content_for :head_scripts do
  %script{:src => "http://maps.google.com/maps?file=api"}
  %script{:src => "http://openlayers.org/dev/examples/../OpenLayers.js"}
  :javascript
    var map;

     $(function() {
      map = new OpenLayers.Map('map');
      map.addControl(new OpenLayers.Control.LayerSwitcher());

      var gphy = new OpenLayers.Layer.Google(
          "Google Physical",
          {type: G_PHYSICAL_MAP}
      );
      var gmap = new OpenLayers.Layer.Google(
          "Google Streets", // the default
          {numZoomLevels: 20}
      );
      var ghyb = new OpenLayers.Layer.Google(
          "Google Hybrid",
          {type: G_HYBRID_MAP, numZoomLevels: 20}
      );
      var gsat = new OpenLayers.Layer.Google(
          "Google Satellite",
          {type: G_SATELLITE_MAP, numZoomLevels: 22}
      );


      map.addLayers([gphy, gmap, ghyb, gsat]);

      map.setCenter(new OpenLayers.LonLat(10.2, 48.9), 5);

      $("#Selector").selectmenu({style: 'popup',width: 300,menuWidth:300,maxHeight:240});
    });

- content_for :license do
  = render :partial => "ui/license"
