!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
  %body
    %div{"data-role" => "page"}
      %div{"data-role" => "header"}
        %h1 jQuery.trim()
      %div{"data-role" => "content", "data-theme" => "c", :id => "jQuery.trim1"}
        %h2.jq-clearfix.roundTop.section-title
          %span.name jQuery.trim()
          %span.returns
            Returns:
            %a.return{:href => "http://docs.jquery.com/Types#String"} String
        .entry-details
          %p.desc
            %strong> Description:
            Remove the whitespace from the beginning and end of a string.
          %ul.signatures
            %li.signature{:id => "jQuery.trim"}
              %h4.name
                %span.versionAdded>
                  version added:
                  %a{:href => "/category/version/1.0/"} 1.0
                jQuery.trim()
          %h3 Examples:
          #entry-examples.entry-examples
            #example-0
              %h4
                Example:
                %span.desc Removes the two whitespaces at the start and at the end of the string.
              %pre
                %code.example.demo-code
                  :preserve
                    &lt;!DOCTYPE html&gt;
                    &lt;html&gt;
                    &lt;head&gt;
                      &lt;script src="http://code.jquery.com/jquery-latest.js"&gt;&lt;/script&gt;
                    &lt;/head&gt;
                    &lt;body&gt;
                    	&lt;button&gt;Show Trim Example&lt;/button&gt;
                    &lt;script&gt;
                    
                        $("button").click(function () {
                          var str = "     lots of spaces before and after     ";
                          alert("'" + str + "'");
                    
                          str = jQuery.trim(str);
                          alert("'" + str + "' - no longer");
                        });
                    
                    &lt;/script&gt;
                    &lt;/body&gt;
                    &lt;/html&gt;              %h4 Demo:
              .demo.code-demo
            #example-1
              %h4
                Example:
                %span.desc Removes the two whitespaces at the start and at the end of the string.
              %pre
                %code.example $.trim("  hello, how are you?  ");
              %h4 Result:
              %pre
                %code.results "hello, how are you?"
