<!doctype html>
%html{ :lang => "en" }
  %head
    %title
      jQuery UI Datepicker - Display button bar
    %link{ :href => "../../themes/base/ui.all.css", :rel => "stylesheet", :type => "text/css" }
    %script{ :type => "text/javascript", :src => "../../js/jquery-1.3.2.js" }
    %script{ :type => "text/javascript", :src => "../../ui/ui.core.js" }
    %script{ :type => "text/javascript", :src => "../../ui/ui.datepicker.js" }
    %link{ :href => "../demos.css", :rel => "stylesheet", :type => "text/css" }
    %script{ :type => "text/javascript" }
      $(function() {
      $('#datepicker').datepicker({
      showButtonPanel: true
      });
      });
  %body
    .demo
      %p
        Date:
        %input#datepicker{ :type => "text" }
    /
      End demo
    .demo-description
      %p
        Display a button for selecting Today's date and a Done button for closing the calendar with the boolean
        %code
          showButtonPanel
        option.  Each button is enabled by default when the bar is displayed, but can be turned off with additional options.  Button text is customizable.
    /
      End demo-description
