-@title = "#{t('txt.ui.name')} #{t('txt.ui.widgets.datepicker.default')} - #{t('txt.ui.widgets.datepicker.dropdown-month-year')}"
-@jquery_partial = 'dropdown_month_year.js.haml'
      
.demo
  %h3
    =@title
  %p
    Date:
    %input#datepicker{ :type => "text" }
/ End demo
.demo-description
  %p
    Show month and year dropdowns in place of the static month/year header to facilitate navigation through large timeframes.  Add the boolean
    %code
      changeMonth
    and
    %code
      changeYear
    options.
/ End demo-description
