-@title = "#{t('txt.ui.name')} #{t('txt.ui.widgets.datepicker.default')} - #{t('txt.ui.widgets.datepicker.event-search')}"

- content_for :content_head do
  = render(:partial => "event_search.js.haml", :format => :js)
     
.demo
  %h3
    =@title
  %label{ :for => "from" }
    From
  %input#from{ :name => "from", :type => "text" }
  %label{ :for => "to" }
    to
  %input#to{ :name => "to", :type => "text" } 
  / End demo

.demo-description
  %p
    Select the date range to search for.
/ End demo-description
