-@title = "#{t('txt.ui.name')} #{t('txt.ui.widgets.datepicker.default')} - #{t('txt.ui.widgets.datepicker.inline')}"

- content_for :content_head do
  = render(:partial => "inline.js.haml", :format => :js)
      
.demo
  %h3
    =@title
  Date:
  %br
  %br
  #datepicker
/ End demo
.demo-description
  %p
    Display the datepicker embedded in the page instead of in an overlay.  Simply call .datepicker() on a div instead of an input.
/ End demo-description
