-@browser_title = "#{t('txt.ui.name')} #{t('txt.ui.widgets.datepicker.default')} - #{t('txt.ui.widgets.datepicker.multiple-calendars')}"
-@jquery_partial = 'multiple_calendars.js.haml'
      
.demo
  %h3
    =@browser_title
  %p
    Date:
    %input#datepicker{ :type => "text" }
/
  End demo
.demo-description
  %p
    Set the
    %code
      numberOfMonths
    option to an integer of 2 or more to show multiple months in a single datepicker.
/
  End demo-description
