%style{:type => "text/css", :media => "screen"}
  :plain
    #draggable, #draggable2 { width: 90px; height: 90px; padding: 0.5em; float: left; margin: 10px 10px 10px 0; }
    #droppable, #droppable2 { width: 120px; height: 120px; padding: 0.5em; float: left; margin: 10px; }

:javascript 
  $(function() {
    $("#draggable").draggable();
    $("#droppable").droppable({
      hoverClass: 'ui-state-active',
      drop: function(event, ui) {
        $(this).addClass('ui-state-highlight').find('p').html('Dropped!');
      }
    });
    		
    $("#draggable2").draggable();
      $("#droppable2").droppable({
      accept: "#draggable2",
      activeClass: 'ui-state-hover',
      drop: function(event, ui) {
        $(this).addClass('ui-state-highlight').find('p').html('Dropped!');
      }
    });
  });