-@browser_title = "#{t('txt.ui.name')} #{t('txt.ui.interactions.droppable.default')} - #{t('txt.ui.default')}"
-@jquery_partial = 'default.js.haml'

.demo
  %h3
    =@browser_title
  #draggable.ui-widget-content
    %p
      Drag me to my target
  #droppable.ui-widget-header
    %p
      Drop here
/ End demo
.demo-description
  %p
    Enable any DOM element to be droppable, a target for draggable elements.
/ End demo-description
