-@title = "#{t('txt.ui.name')} #{t('txt.ui.interactions.droppable.default')} - #{t('txt.ui.default')}"

- content_for :content_head do
  = render(:partial => "default.js.haml", :format => :js)

.demo
  %h3
    =@title
  #draggable.ui-widget-content
    %p
      Drag me to my target
  #droppable.ui-widget-header
    %p
      Drop here
/ End demo
.demo-description
  %p
    Enable any DOM element to be droppable, a target for draggable elements.
/ End demo-description
