-@browser_title = "jQuery UI #{t('txt.ui.interactions.droppable.default')} - #{t('txt.ui.interactions.droppable.propagation')}"
-@jquery_partial = 'propagation.js.haml'

.demo
  %h3
    =@browser_title
  #draggable.ui-widget-content
    %p
      Drag me to my target
  #droppable.ui-widget-header
    %p
      Outer droppable
  #droppable-inner.ui-widget-header
    %p
      Inner droppable (not greedy)
  #droppable2.ui-widget-header
    %p
      Outer droppable
  #droppable2-inner.ui-widget-header
    %p
      Inner droppable (greedy)
/ End demo
.demo-description
  %p
    When working with nested droppables — for example, you may have an editable directory structure displayed as a tree, with folder and document nodes — the
    %code
      greedy
    option set to true prevents event propagation when a draggable is dropped on a child node (droppable).
/ End demo-description
