-@title = "#{t('txt.ui.name')} #{t('txt.ui.interactions.droppable.default')} - #{t('txt.ui.interactions.droppable.visual-feedback')}"

- content_for :content_head do
  = render(:partial => "visual_feedback.js.haml", :format => :js)

.demo
  %h3
    =@title
  %h3.docs
    Feedback on hover:
  #draggable.ui-widget-content
    %p
      Drag me to my target
  #droppable.ui-widget-header
    %p
      Drop here
  %h3.docs
    Feedback on activating draggable:
  #draggable2.ui-widget-content
    %p
      Drag me to my target
  #droppable2.ui-widget-header
    %p
      Drop here
  / add active class demo
/ End demo
.demo-description
  %p
    Change the droppable's appearance on hover, or when the droppable is active (an acceptable draggable is dropped on it).  Use the
    %code
      hoverClass
    or
    %code
      activeClass
    options to specify respective classes.
/ End demo-description
