<!doctype html>
%html{ :lang => "en" }
  %head
    %title
      jQuery UI Droppable - Visual feedback
    %link{ :href => "../../themes/base/ui.all.css", :rel => "stylesheet", :type => "text/css" }
    %script{ :type => "text/javascript", :src => "../../js/jquery-1.3.2.js" }
    %script{ :type => "text/javascript", :src => "../../ui/ui.core.js" }
    %script{ :type => "text/javascript", :src => "../../ui/ui.draggable.js" }
    %script{ :type => "text/javascript", :src => "../../ui/ui.droppable.js" }
    %link{ :href => "../demos.css", :rel => "stylesheet", :type => "text/css" }
    %style{ :type => "text/css" }
      \#draggable, #draggable2 { width: 90px; height: 90px; padding: 0.5em; float: left; margin: 10px 10px 10px 0; }
      \#droppable, #droppable2 { width: 120px; height: 120px; padding: 0.5em; float: left; margin: 10px; }
    %script{ :type => "text/javascript" }
      $(function() {
      $("#draggable").draggable();
      $("#droppable").droppable({
      hoverClass: 'ui-state-active',
      drop: function(event, ui) {
      $(this).addClass('ui-state-highlight').find('p').html('Dropped!');
      }
      });
      
      $("#draggable2").draggable();
      $("#droppable2").droppable({
      accept: "#draggable2",
      activeClass: 'ui-state-hover',
      drop: function(event, ui) {
      $(this).addClass('ui-state-highlight').find('p').html('Dropped!');
      }
      });
      
      });
  %body
    .demo
      %h3.docs
        Feedback on hover:
      #draggable.ui-widget-content
        %p
          Drag me to my target
      #droppable.ui-widget-header
        %p
          Drop here
      %h3.docs
        Feedback on activating draggable:
      #draggable2.ui-widget-content
        %p
          Drag me to my target
      #droppable2.ui-widget-header
        %p
          Drop here
      /
        add active class demo
    /
      End demo
    .demo-description
      %p
        Change the droppable's appearance on hover, or when the droppable is active (an acceptable draggable is dropped on it).  Use the
        %code
          hoverClass
        or
        %code
          activeClass
        options to specify respective classes.
    /
      End demo-description
