!!!
/ saved from url=(0060)http://www.genuitec.com/m/touch-demos/touch-demo4/index.html
%HTML{:xmlns => "http://www.w3.org/1999/xhtml"}
  %HEAD
    %META{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
      %TITLE iPhone Events Demo
      %META{:content => "width = device-width, user-scalable = no, height = device-height", :name => "viewport"}
        %SCRIPT{:type => "text/javascript"}
          var currentId;
          var objects = {};
          var zIndex = 0;
          
          function init() {
          document.addEventListener("touchstart", startmove, false);
          document.addEventListener("touchmove", move, false);
          document.addEventListener("touchend", endmove, false);
          makeObjectMovable(leaf1);
          makeObjectMovable(leaf2);
          makeObjectMovable(leaf3);
          }
          
          function startmove(event) {
          var touch = event.touches[0];
          var id = touch.identifier;
          currentId = id;
          if (touch.target.className == "movable") {
          objects[id] = {
          target: touch.target,
          beginX: touch.clientX,
          beginY: touch.clientY,
          pozX: touch.target.pozXinit,
          pozY: touch.target.pozYinit
          }
          touch.target.style.opacity = 0.5;
          touch.target.style.zIndex = ++zIndex;
          }
          event.preventDefault();
          }
          
          function endmove(event) {
          var touch = event.touches[0];
          var id = currentId;
          if (objects[id] != null) {
          if (objects[id].target.className == "movable") {
          objects[id].target.style.opacity = 1;
          }
          delete objects[id];
          }
          event.preventDefault();
          }
          
          function move(event) {
          var touch = event.touches[0];
          var id = touch.identifier;
          if (objects[id].target.className == "movable") {
          objects[id].target.pozXinit = objects[id].pozX + touch.clientX - objects[id].beginX;
          objects[id].target.pozYinit = objects[id].pozY + touch.clientY - objects[id].beginY;
          objects[id].target.style['-webkit-transform'] = 'translate(' + objects[id].target.pozXinit + 'px,' + objects[id].target.pozYinit + 'px)';
          }
          event.preventDefault();
          }
          
          function makeObjectMovable(obj) {
          obj.className = "movable";
          obj.pozXinit = 0;
          obj.pozYinit = 0;
          }
  %BODY{:onload => "init();", :style => "width:100%; height: 100%;"}
    %IMG{:alt => "Nextroot", :src => "./iPhone Events Demo_files/nextroot.png"}
      %BR
        %SPAN{:style => "font-family: Helvetica; font-size: 9pt;"} iPhone Drag n' Drop Demo
        %IMG#leaf1.movable{:alt => "Leaf 1", :src => "./iPhone Events Demo_files/leaf1.png", :style => "position: absolute; left: 10px; top: 10px;"}
          %IMG#leaf2.movable{:alt => "Leaf 2", :src => "./iPhone Events Demo_files/leaf2.png", :style => "position: absolute; left: 10px; top: 150px;"}
            %IMG#leaf3.movable{:alt => "Leaf 3", :src => "./iPhone Events Demo_files/leaf3.png", :style => "position: absolute; left: 80px; top: 40px;"}
