/* line 7, ../../../app/stylesheets/ie.sass */
body.bp {
  text-align: center;
}
/* line 47, C:/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/./blueprint/_ie.scss */
* html body.bp legend {
  margin: 0px -8px 16px 0;
  padding: 0;
}
/* line 51, C:/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/./blueprint/_ie.scss */
html>body.bp p code {
  *white-space: normal;
}
/* line 66, C:/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/./blueprint/_ie.scss */
body.bp .container {
  text-align: left;
}
/* line 68, C:/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/./blueprint/_ie.scss */
body.bp sup {
  vertical-align: text-top;
}
/* line 70, C:/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/./blueprint/_ie.scss */
body.bp sub {
  vertical-align: text-bottom;
}
/* line 72, C:/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/./blueprint/_ie.scss */
body.bp hr {
  margin: -8px auto 11px;
}
/* line 74, C:/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/./blueprint/_ie.scss */
body.bp img {
  -ms-interpolation-mode: bicubic;
}
/* line 76, C:/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/./blueprint/_ie.scss */
body.bp fieldset {
  padding-top: 0;
}
/* line 78, C:/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/./blueprint/_ie.scss */
body.bp textarea {
  overflow: auto;
}
/* line 81, C:/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/./blueprint/_ie.scss */
body.bp input.text {
  margin: 0.5em 0;
  background-color: white;
  border: 1px solid #bbbbbb;
}
/* line 85, C:/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/./blueprint/_ie.scss */
body.bp input.text:focus {
  border: 1px solid #666666;
}
/* line 87, C:/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/./blueprint/_ie.scss */
body.bp input.title {
  margin: 0.5em 0;
  background-color: white;
  border: 1px solid #bbbbbb;
}
/* line 91, C:/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/./blueprint/_ie.scss */
body.bp input.title:focus {
  border: 1px solid #666666;
}
/* line 93, C:/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/./blueprint/_ie.scss */
body.bp input.checkbox {
  position: relative;
  top: 0.25em;
}
/* line 96, C:/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/./blueprint/_ie.scss */
body.bp input.radio {
  position: relative;
  top: 0.25em;
}
/* line 99, C:/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/./blueprint/_ie.scss */
body.bp input.button {
  position: relative;
  top: 0.25em;
}
/* line 102, C:/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/./blueprint/_ie.scss */
body.bp textarea {
  margin: 0.5em 0;
}
/* line 104, C:/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/./blueprint/_ie.scss */
body.bp select {
  margin: 0.5em 0;
}
/* line 106, C:/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/./blueprint/_ie.scss */
body.bp button {
  position: relative;
  top: 0.25em;
}
