/* line 7, ../../../app/stylesheets/ie.sass */
body.bp {
  text-align: center;
}
/* line 38, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/./blueprint/_ie.sass */
* html body.bp legend {
  margin: 0px -8px 16px 0;
  padding: 0;
}
/* line 42, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/./blueprint/_ie.sass */
html>body.bp p code {
  *white-space: normal;
}
/* line 57, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/./blueprint/_ie.sass */
body.bp .container {
  text-align: left;
}
/* line 59, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/./blueprint/_ie.sass */
body.bp sup {
  vertical-align: text-top;
}
/* line 61, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/./blueprint/_ie.sass */
body.bp sub {
  vertical-align: text-bottom;
}
/* line 63, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/./blueprint/_ie.sass */
body.bp hr {
  margin: -8px auto 11px;
}
/* line 65, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/./blueprint/_ie.sass */
body.bp img {
  -ms-interpolation-mode: bicubic;
}
/* line 67, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/./blueprint/_ie.sass */
body.bp fieldset {
  padding-top: 0;
}
/* line 69, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/./blueprint/_ie.sass */
body.bp textarea {
  overflow: auto;
}
/* line 72, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/./blueprint/_ie.sass */
body.bp input.text {
  margin: 0.5em 0;
  background-color: #fff;
  border: 1px solid #bbb;
}
/* line 76, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/./blueprint/_ie.sass */
body.bp input.text:focus {
  border: 1px solid #666;
}
/* line 78, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/./blueprint/_ie.sass */
body.bp input.title {
  margin: 0.5em 0;
  background-color: #fff;
  border: 1px solid #bbb;
}
/* line 82, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/./blueprint/_ie.sass */
body.bp input.title:focus {
  border: 1px solid #666;
}
/* line 84, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/./blueprint/_ie.sass */
body.bp input.checkbox {
  position: relative;
  top: 0.25em;
}
/* line 87, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/./blueprint/_ie.sass */
body.bp input.radio {
  position: relative;
  top: 0.25em;
}
/* line 90, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/./blueprint/_ie.sass */
body.bp input.button {
  position: relative;
  top: 0.25em;
}
/* line 93, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/./blueprint/_ie.sass */
body.bp textarea {
  margin: 0.5em 0;
}
/* line 95, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/./blueprint/_ie.sass */
body.bp select {
  margin: 0.5em 0;
}
/* line 97, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/./blueprint/_ie.sass */
body.bp button {
  position: relative;
  top: 0.25em;
}
