/* line 13, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/compass/stylesheets/compass/utilities/general/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 16, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/compass/stylesheets/compass/utilities/general/_reset.scss */
*:focus {
  outline: 0;
}

/* line 18, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/compass/stylesheets/compass/utilities/general/_reset.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 20, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/compass/stylesheets/compass/utilities/general/_reset.scss */
ol, ul {
  list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
/* line 23, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/compass/stylesheets/compass/utilities/general/_reset.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 25, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/compass/stylesheets/compass/utilities/general/_reset.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 27, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/compass/stylesheets/compass/utilities/general/_reset.scss */
q, blockquote {
  quotes: "" "";
}
/* line 89, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/compass/stylesheets/compass/utilities/general/_reset.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 29, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/compass/stylesheets/compass/utilities/general/_reset.scss */
a img {
  border: none;
}

/* line 53, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.container {
  min-width: 950px;
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  display: inline-block;
}
/* line 5, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/compass/stylesheets/compass/utilities/general/././_hacks.scss */
.container {
  display: block;
}

/* line 57, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.span-1 {
  width: 3.167%;
}

/* line 60, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
div.span-1 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 3.167%;
  margin-right: 1.042%;
}

/* line 57, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.span-2 {
  width: 7.376%;
}

/* line 60, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
div.span-2 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 7.376%;
  margin-right: 1.042%;
}

/* line 57, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.span-3 {
  width: 11.585%;
}

/* line 60, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
div.span-3 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 11.585%;
  margin-right: 1.042%;
}

/* line 57, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.span-4 {
  width: 15.794%;
}

/* line 60, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
div.span-4 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 15.794%;
  margin-right: 1.042%;
}

/* line 57, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.span-5 {
  width: 20.003%;
}

/* line 60, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
div.span-5 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 20.003%;
  margin-right: 1.042%;
}

/* line 57, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.span-6 {
  width: 24.212%;
}

/* line 60, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
div.span-6 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 24.212%;
  margin-right: 1.042%;
}

/* line 57, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.span-7 {
  width: 28.421%;
}

/* line 60, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
div.span-7 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 28.421%;
  margin-right: 1.042%;
}

/* line 57, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.span-8 {
  width: 32.63%;
}

/* line 60, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
div.span-8 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 32.63%;
  margin-right: 1.042%;
}

/* line 57, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.span-9 {
  width: 36.839%;
}

/* line 60, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
div.span-9 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 36.839%;
  margin-right: 1.042%;
}

/* line 57, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.span-10 {
  width: 41.048%;
}

/* line 60, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
div.span-10 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 41.048%;
  margin-right: 1.042%;
}

/* line 57, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.span-11 {
  width: 45.257%;
}

/* line 60, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
div.span-11 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 45.257%;
  margin-right: 1.042%;
}

/* line 57, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.span-12 {
  width: 49.466%;
}

/* line 60, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
div.span-12 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 49.466%;
  margin-right: 1.042%;
}

/* line 57, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.span-13 {
  width: 53.675%;
}

/* line 60, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
div.span-13 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 53.675%;
  margin-right: 1.042%;
}

/* line 57, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.span-14 {
  width: 57.884%;
}

/* line 60, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
div.span-14 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 57.884%;
  margin-right: 1.042%;
}

/* line 57, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.span-15 {
  width: 62.093%;
}

/* line 60, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
div.span-15 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 62.093%;
  margin-right: 1.042%;
}

/* line 57, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.span-16 {
  width: 66.302%;
}

/* line 60, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
div.span-16 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 66.302%;
  margin-right: 1.042%;
}

/* line 57, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.span-17 {
  width: 70.511%;
}

/* line 60, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
div.span-17 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 70.511%;
  margin-right: 1.042%;
}

/* line 57, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.span-18 {
  width: 74.72%;
}

/* line 60, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
div.span-18 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 74.72%;
  margin-right: 1.042%;
}

/* line 57, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.span-19 {
  width: 78.929%;
}

/* line 60, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
div.span-19 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 78.929%;
  margin-right: 1.042%;
}

/* line 57, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.span-20 {
  width: 83.138%;
}

/* line 60, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
div.span-20 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 83.138%;
  margin-right: 1.042%;
}

/* line 57, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.span-21 {
  width: 87.347%;
}

/* line 60, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
div.span-21 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 87.347%;
  margin-right: 1.042%;
}

/* line 57, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.span-22 {
  width: 91.556%;
}

/* line 60, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
div.span-22 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 91.556%;
  margin-right: 1.042%;
}

/* line 57, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.span-23 {
  width: 95.765%;
}

/* line 60, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
div.span-23 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 95.765%;
  margin-right: 1.042%;
}

/* line 57, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.span-24 {
  width: 99.974%;
}

/* line 60, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
div.span-24 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 99.974%;
  margin-right: 0;
}

/* line 63, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
div.last {
  margin-right: 0;
}

/* line 67, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.append-1 {
  padding-right: 4.209%;
}

/* line 67, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.append-2 {
  padding-right: 8.418%;
}

/* line 67, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.append-3 {
  padding-right: 12.627%;
}

/* line 67, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.append-4 {
  padding-right: 16.836%;
}

/* line 67, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.append-5 {
  padding-right: 21.045%;
}

/* line 67, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.append-6 {
  padding-right: 25.254%;
}

/* line 67, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.append-7 {
  padding-right: 29.463%;
}

/* line 67, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.append-8 {
  padding-right: 33.672%;
}

/* line 67, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.append-9 {
  padding-right: 37.881%;
}

/* line 67, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.append-10 {
  padding-right: 42.09%;
}

/* line 67, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.append-11 {
  padding-right: 46.299%;
}

/* line 67, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.append-12 {
  padding-right: 50.508%;
}

/* line 67, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.append-13 {
  padding-right: 54.717%;
}

/* line 67, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.append-14 {
  padding-right: 58.926%;
}

/* line 67, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.append-15 {
  padding-right: 63.135%;
}

/* line 67, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.append-16 {
  padding-right: 67.344%;
}

/* line 67, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.append-17 {
  padding-right: 71.553%;
}

/* line 67, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.append-18 {
  padding-right: 75.762%;
}

/* line 67, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.append-19 {
  padding-right: 79.971%;
}

/* line 67, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.append-20 {
  padding-right: 84.18%;
}

/* line 67, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.append-21 {
  padding-right: 88.389%;
}

/* line 67, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.append-22 {
  padding-right: 92.598%;
}

/* line 67, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.append-23 {
  padding-right: 96.807%;
}

/* line 71, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.prepend-1 {
  padding-left: 4.209%;
}

/* line 71, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.prepend-2 {
  padding-left: 8.418%;
}

/* line 71, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.prepend-3 {
  padding-left: 12.627%;
}

/* line 71, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.prepend-4 {
  padding-left: 16.836%;
}

/* line 71, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.prepend-5 {
  padding-left: 21.045%;
}

/* line 71, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.prepend-6 {
  padding-left: 25.254%;
}

/* line 71, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.prepend-7 {
  padding-left: 29.463%;
}

/* line 71, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.prepend-8 {
  padding-left: 33.672%;
}

/* line 71, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.prepend-9 {
  padding-left: 37.881%;
}

/* line 71, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.prepend-10 {
  padding-left: 42.09%;
}

/* line 71, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.prepend-11 {
  padding-left: 46.299%;
}

/* line 71, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.prepend-12 {
  padding-left: 50.508%;
}

/* line 71, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.prepend-13 {
  padding-left: 54.717%;
}

/* line 71, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.prepend-14 {
  padding-left: 58.926%;
}

/* line 71, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.prepend-15 {
  padding-left: 63.135%;
}

/* line 71, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.prepend-16 {
  padding-left: 67.344%;
}

/* line 71, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.prepend-17 {
  padding-left: 71.553%;
}

/* line 71, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.prepend-18 {
  padding-left: 75.762%;
}

/* line 71, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.prepend-19 {
  padding-left: 79.971%;
}

/* line 71, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.prepend-20 {
  padding-left: 84.18%;
}

/* line 71, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.prepend-21 {
  padding-left: 88.389%;
}

/* line 71, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.prepend-22 {
  padding-left: 92.598%;
}

/* line 71, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.prepend-23 {
  padding-left: 96.807%;
}

/* line 76, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.pull-1 {
  margin-left: -4.209%;
}

/* line 76, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.pull-2 {
  margin-left: -8.418%;
}

/* line 76, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.pull-3 {
  margin-left: -12.627%;
}

/* line 76, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.pull-4 {
  margin-left: -16.836%;
}

/* line 76, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.pull-5 {
  margin-left: -21.045%;
}

/* line 76, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.pull-6 {
  margin-left: -25.254%;
}

/* line 76, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.pull-7 {
  margin-left: -29.463%;
}

/* line 76, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.pull-8 {
  margin-left: -33.672%;
}

/* line 76, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.pull-9 {
  margin-left: -37.881%;
}

/* line 76, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.pull-10 {
  margin-left: -42.09%;
}

/* line 76, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.pull-11 {
  margin-left: -46.299%;
}

/* line 76, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.pull-12 {
  margin-left: -50.508%;
}

/* line 76, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.pull-13 {
  margin-left: -54.717%;
}

/* line 76, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.pull-14 {
  margin-left: -58.926%;
}

/* line 76, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.pull-15 {
  margin-left: -63.135%;
}

/* line 76, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.pull-16 {
  margin-left: -67.344%;
}

/* line 76, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.pull-17 {
  margin-left: -71.553%;
}

/* line 76, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.pull-18 {
  margin-left: -75.762%;
}

/* line 76, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.pull-19 {
  margin-left: -79.971%;
}

/* line 76, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.pull-20 {
  margin-left: -84.18%;
}

/* line 76, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.pull-21 {
  margin-left: -88.389%;
}

/* line 76, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.pull-22 {
  margin-left: -92.598%;
}

/* line 76, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.pull-23 {
  margin-left: -96.807%;
}

/* line 76, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.pull-24 {
  margin-left: -101.016%;
}

/* line 79, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.push-1 {
  display: inline;
  float: right;
  margin-top: 0;
  margin-left: 1.042%;
  margin-right: -4.209%;
  margin-bottom: 0;
}

/* line 79, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.push-2 {
  display: inline;
  float: right;
  margin-top: 0;
  margin-left: 1.042%;
  margin-right: -8.418%;
  margin-bottom: 0;
}

/* line 79, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.push-3 {
  display: inline;
  float: right;
  margin-top: 0;
  margin-left: 1.042%;
  margin-right: -12.627%;
  margin-bottom: 0;
}

/* line 79, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.push-4 {
  display: inline;
  float: right;
  margin-top: 0;
  margin-left: 1.042%;
  margin-right: -16.836%;
  margin-bottom: 0;
}

/* line 79, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.push-5 {
  display: inline;
  float: right;
  margin-top: 0;
  margin-left: 1.042%;
  margin-right: -21.045%;
  margin-bottom: 0;
}

/* line 79, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.push-6 {
  display: inline;
  float: right;
  margin-top: 0;
  margin-left: 1.042%;
  margin-right: -25.254%;
  margin-bottom: 0;
}

/* line 79, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.push-7 {
  display: inline;
  float: right;
  margin-top: 0;
  margin-left: 1.042%;
  margin-right: -29.463%;
  margin-bottom: 0;
}

/* line 79, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.push-8 {
  display: inline;
  float: right;
  margin-top: 0;
  margin-left: 1.042%;
  margin-right: -33.672%;
  margin-bottom: 0;
}

/* line 79, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.push-9 {
  display: inline;
  float: right;
  margin-top: 0;
  margin-left: 1.042%;
  margin-right: -37.881%;
  margin-bottom: 0;
}

/* line 79, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.push-10 {
  display: inline;
  float: right;
  margin-top: 0;
  margin-left: 1.042%;
  margin-right: -42.09%;
  margin-bottom: 0;
}

/* line 79, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.push-11 {
  display: inline;
  float: right;
  margin-top: 0;
  margin-left: 1.042%;
  margin-right: -46.299%;
  margin-bottom: 0;
}

/* line 79, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.push-12 {
  display: inline;
  float: right;
  margin-top: 0;
  margin-left: 1.042%;
  margin-right: -50.508%;
  margin-bottom: 0;
}

/* line 79, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.push-13 {
  display: inline;
  float: right;
  margin-top: 0;
  margin-left: 1.042%;
  margin-right: -54.717%;
  margin-bottom: 0;
}

/* line 79, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.push-14 {
  display: inline;
  float: right;
  margin-top: 0;
  margin-left: 1.042%;
  margin-right: -58.926%;
  margin-bottom: 0;
}

/* line 79, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.push-15 {
  display: inline;
  float: right;
  margin-top: 0;
  margin-left: 1.042%;
  margin-right: -63.135%;
  margin-bottom: 0;
}

/* line 79, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.push-16 {
  display: inline;
  float: right;
  margin-top: 0;
  margin-left: 1.042%;
  margin-right: -67.344%;
  margin-bottom: 0;
}

/* line 79, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.push-17 {
  display: inline;
  float: right;
  margin-top: 0;
  margin-left: 1.042%;
  margin-right: -71.553%;
  margin-bottom: 0;
}

/* line 79, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.push-18 {
  display: inline;
  float: right;
  margin-top: 0;
  margin-left: 1.042%;
  margin-right: -75.762%;
  margin-bottom: 0;
}

/* line 79, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.push-19 {
  display: inline;
  float: right;
  margin-top: 0;
  margin-left: 1.042%;
  margin-right: -79.971%;
  margin-bottom: 0;
}

/* line 79, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.push-20 {
  display: inline;
  float: right;
  margin-top: 0;
  margin-left: 1.042%;
  margin-right: -84.18%;
  margin-bottom: 0;
}

/* line 79, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.push-21 {
  display: inline;
  float: right;
  margin-top: 0;
  margin-left: 1.042%;
  margin-right: -88.389%;
  margin-bottom: 0;
}

/* line 79, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.push-22 {
  display: inline;
  float: right;
  margin-top: 0;
  margin-left: 1.042%;
  margin-right: -92.598%;
  margin-bottom: 0;
}

/* line 79, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.push-23 {
  display: inline;
  float: right;
  margin-top: 0;
  margin-left: 1.042%;
  margin-right: -96.807%;
  margin-bottom: 0;
}

/* line 79, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/blueprint/_liquid.scss */
.push-24 {
  display: inline;
  float: right;
  margin-top: 0;
  margin-left: 1.042%;
  margin-right: -101.016%;
  margin-bottom: 0;
}

/* line 1, ../../../app/stylesheets/partials/_ribbon.sass */
html {
  overflow-x: hidden;
}

/* line 4, ../../../app/stylesheets/partials/_ribbon.sass */
body {
  font-family: Calibri, Arial, Trebuchet MS;
  font-size: 11pt;
  padding: 0px;
  margin: 0px;
  color: #254264;
  background-color: #dce5f2;
  background-image: url('/images/demo/ribbon/page/background.png?1270065326');
  background-repeat: repeat-x;
}

/* line 14, ../../../app/stylesheets/partials/_ribbon.sass */
h1 {
  font-family: Cambria, Arial, Trebuchet MS;
  font-size: 14pt;
}

/* line 18, ../../../app/stylesheets/partials/_ribbon.sass */
h2 {
  font-family: Cambria, Arial, Trebuchet MS;
  font-size: 13pt;
  color: #4e81c8;
}

/* line 23, ../../../app/stylesheets/partials/_ribbon.sass */
img {
  border: 0px;
}

/* line 26, ../../../app/stylesheets/partials/_ribbon.sass */
a {
  color: #254264;
  text-decoration: underline;
}
/* line 29, ../../../app/stylesheets/partials/_ribbon.sass */
a:hover {
  text-decoration: none;
}

/* line 32, ../../../app/stylesheets/partials/_ribbon.sass */
.mainContainer {
  width: 100%;
  background-color: #d9e4f3;
  border: 1px solid #3b5a82;
  border-bottom: 0px;
}

/* line 38, ../../../app/stylesheets/partials/_ribbon.sass */
.textbox {
  background-image: url('/images/demo/ribbon/page/textboxbg.png?1270065326');
  background-repeat: repeat-y;
  width: 809px;
  margin: 0px auto;
}
/* line 43, ../../../app/stylesheets/partials/_ribbon.sass */
.textbox div {
  width: 740px;
  margin: 0px auto;
  padding: 20px;
  overflow: hidden;
}

/* line 28, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body body {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%;
}
/* line 54, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-weight: normal;
  color: #222222;
}
/* line 55, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body h1 img, body h2 img, body h3 img, body h4 img, body h5 img, body h6 img {
  margin: 0;
}
/* line 56, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
/* line 57, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
/* line 58, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
/* line 59, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
/* line 60, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
/* line 61, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body h6 {
  font-size: 1em;
  font-weight: bold;
}
/* line 62, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body p {
  margin: 0 0 1.5em;
}
/* line 63, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body p img.left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 64, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body p img.right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
/* line 66, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body a {
  text-decoration: underline;
  color: #000099;
}
/* line 12, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body a:visited {
  color: #000066;
}
/* line 15, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body a:focus {
  color: black;
}
/* line 18, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body a:hover {
  color: black;
}
/* line 21, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body a:active {
  color: #cc0099;
}
/* line 67, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}
/* line 68, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body strong {
  font-weight: bold;
}
/* line 69, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body em {
  font-style: italic;
}
/* line 70, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body dfn {
  font-style: italic;
  font-weight: bold;
}
/* line 71, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body sup, body sub {
  line-height: 0;
}
/* line 72, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body abbr, body acronym {
  border-bottom: 1px dotted #666666;
}
/* line 73, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body address {
  margin: 0 0 1.5em;
  font-style: italic;
}
/* line 74, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body del {
  color: #666666;
}
/* line 75, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body pre {
  margin: 1.5em 0;
  white-space: pre;
}
/* line 76, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body pre, body code, body tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}
/* line 77, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body li ul, body li ol {
  margin: 0;
}
/* line 78, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body ul, body ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 3.333em;
}
/* line 79, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body ul {
  list-style-type: disc;
}
/* line 80, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body ol {
  list-style-type: decimal;
}
/* line 81, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body dl {
  margin: 0 0 1.5em 0;
}
/* line 82, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body dl dt {
  font-weight: bold;
}
/* line 83, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body dd {
  margin-left: 1.5em;
}
/* line 84, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body table {
  margin-bottom: 1.4em;
  width: 100%;
}
/* line 85, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body th {
  font-weight: bold;
}
/* line 86, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body thead th {
  background: #c3d9ff;
}
/* line 87, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body th, body td, body caption {
  padding: 4px 10px 4px 5px;
}
/* line 88, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body tr.even td {
  background: #e5ecf9;
}
/* line 89, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body tfoot {
  font-style: italic;
}
/* line 90, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body caption {
  background: #eeeeee;
}
/* line 91, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body .quiet {
  color: #666666;
}
/* line 92, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/blueprint/stylesheets/./blueprint/./_typography.scss */
body .loud {
  color: #111111;
}
/* line 5, ../../../app/stylesheets/screen.ribbon.sass */
body div.container {
  min-width: 950px;
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  display: inline-block;
  width: 95%;
}
/* line 5, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.10.0.rc3/frameworks/compass/stylesheets/compass/utilities/general/././_hacks.scss */
body div.container {
  display: block;
}
/* line 16, ../../../app/stylesheets/partials/_base.ribbon.sass */
body div.container #ribbon {
  display: inline;
  float: left;
  overflow: hidden;
  width: 99.974%;
  margin-right: 1.042%;
}
