/* line 6, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* line 17, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
*:focus {
  outline: 0; }

/* line 20, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
body {
  line-height: 1em;
  color: black;
  background: #fff; }

/* line 23, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
ol, ul {
  list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
/* line 27, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

/* line 30, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 33, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
q, blockquote {
  quotes: "" ""; }
  /* line 101, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
  q:before, q:after, blockquote:before, blockquote:after {
    content: ""; }

/* line 36, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
img a {
  border: none; }

/* line 49, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.container {
  min-width: 950px;
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  display: inline-block; }
  /* line 5, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/././_hacks.sass */
  .container {
    display: block; }

/* line 53, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.span-1 {
  width: 4%; }

/* line 56, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
div.span-1 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 4%;
  margin-right: 0.833em; }

/* line 53, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.span-2 {
  width: 8%; }

/* line 56, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
div.span-2 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 8%;
  margin-right: 0.833em; }

/* line 53, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.span-3 {
  width: 12%; }

/* line 56, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
div.span-3 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 12%;
  margin-right: 0.833em; }

/* line 53, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.span-4 {
  width: 16%; }

/* line 56, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
div.span-4 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 16%;
  margin-right: 0.833em; }

/* line 53, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.span-5 {
  width: 20%; }

/* line 56, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
div.span-5 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 20%;
  margin-right: 0.833em; }

/* line 53, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.span-6 {
  width: 25%; }

/* line 56, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
div.span-6 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 25%;
  margin-right: 0.833em; }

/* line 53, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.span-7 {
  width: 29%; }

/* line 56, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
div.span-7 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 29%;
  margin-right: 0.833em; }

/* line 53, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.span-8 {
  width: 33%; }

/* line 56, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
div.span-8 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 33%;
  margin-right: 0.833em; }

/* line 53, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.span-9 {
  width: 37%; }

/* line 56, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
div.span-9 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 37%;
  margin-right: 0.833em; }

/* line 53, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.span-10 {
  width: 41%; }

/* line 56, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
div.span-10 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 41%;
  margin-right: 0.833em; }

/* line 53, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.span-11 {
  width: 45%; }

/* line 56, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
div.span-11 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 45%;
  margin-right: 0.833em; }

/* line 53, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.span-12 {
  width: 50%; }

/* line 56, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
div.span-12 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 50%;
  margin-right: 0.833em; }

/* line 53, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.span-13 {
  width: 54%; }

/* line 56, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
div.span-13 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 54%;
  margin-right: 0.833em; }

/* line 53, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.span-14 {
  width: 58%; }

/* line 56, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
div.span-14 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 58%;
  margin-right: 0.833em; }

/* line 53, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.span-15 {
  width: 62%; }

/* line 56, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
div.span-15 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 62%;
  margin-right: 0.833em; }

/* line 53, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.span-16 {
  width: 66%; }

/* line 56, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
div.span-16 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 66%;
  margin-right: 0.833em; }

/* line 53, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.span-17 {
  width: 70%; }

/* line 56, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
div.span-17 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 70%;
  margin-right: 0.833em; }

/* line 53, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.span-18 {
  width: 75%; }

/* line 56, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
div.span-18 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 75%;
  margin-right: 0.833em; }

/* line 53, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.span-19 {
  width: 79%; }

/* line 56, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
div.span-19 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 79%;
  margin-right: 0.833em; }

/* line 53, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.span-20 {
  width: 83%; }

/* line 56, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
div.span-20 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 83%;
  margin-right: 0.833em; }

/* line 53, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.span-21 {
  width: 87%; }

/* line 56, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
div.span-21 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 87%;
  margin-right: 0.833em; }

/* line 53, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.span-22 {
  width: 91%; }

/* line 56, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
div.span-22 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 91%;
  margin-right: 0.833em; }

/* line 53, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.span-23 {
  width: 95%; }

/* line 56, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
div.span-23 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 95%;
  margin-right: 0.833em; }

/* line 53, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.span-24 {
  width: 100%; }

/* line 56, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
div.span-24 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 100%;
  margin-right: 0; }

/* line 59, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
div.last {
  margin-right: 0; }

/* line 63, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.append-1 {
  padding-right: 4%; }

/* line 63, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.append-2 {
  padding-right: 8%; }

/* line 63, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.append-3 {
  padding-right: 12%; }

/* line 63, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.append-4 {
  padding-right: 16%; }

/* line 63, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.append-5 {
  padding-right: 20%; }

/* line 63, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.append-6 {
  padding-right: 25%; }

/* line 63, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.append-7 {
  padding-right: 29%; }

/* line 63, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.append-8 {
  padding-right: 33%; }

/* line 63, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.append-9 {
  padding-right: 37%; }

/* line 63, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.append-10 {
  padding-right: 41%; }

/* line 63, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.append-11 {
  padding-right: 45%; }

/* line 63, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.append-12 {
  padding-right: 50%; }

/* line 63, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.append-13 {
  padding-right: 54%; }

/* line 63, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.append-14 {
  padding-right: 58%; }

/* line 63, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.append-15 {
  padding-right: 62%; }

/* line 63, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.append-16 {
  padding-right: 66%; }

/* line 63, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.append-17 {
  padding-right: 70%; }

/* line 63, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.append-18 {
  padding-right: 75%; }

/* line 63, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.append-19 {
  padding-right: 79%; }

/* line 63, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.append-20 {
  padding-right: 83%; }

/* line 63, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.append-21 {
  padding-right: 87%; }

/* line 63, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.append-22 {
  padding-right: 91%; }

/* line 63, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.append-23 {
  padding-right: 95%; }

/* line 67, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.prepend-1 {
  padding-left: 4%; }

/* line 67, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.prepend-2 {
  padding-left: 8%; }

/* line 67, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.prepend-3 {
  padding-left: 12%; }

/* line 67, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.prepend-4 {
  padding-left: 16%; }

/* line 67, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.prepend-5 {
  padding-left: 20%; }

/* line 67, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.prepend-6 {
  padding-left: 25%; }

/* line 67, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.prepend-7 {
  padding-left: 29%; }

/* line 67, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.prepend-8 {
  padding-left: 33%; }

/* line 67, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.prepend-9 {
  padding-left: 37%; }

/* line 67, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.prepend-10 {
  padding-left: 41%; }

/* line 67, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.prepend-11 {
  padding-left: 45%; }

/* line 67, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.prepend-12 {
  padding-left: 50%; }

/* line 67, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.prepend-13 {
  padding-left: 54%; }

/* line 67, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.prepend-14 {
  padding-left: 58%; }

/* line 67, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.prepend-15 {
  padding-left: 62%; }

/* line 67, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.prepend-16 {
  padding-left: 66%; }

/* line 67, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.prepend-17 {
  padding-left: 70%; }

/* line 67, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.prepend-18 {
  padding-left: 75%; }

/* line 67, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.prepend-19 {
  padding-left: 79%; }

/* line 67, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.prepend-20 {
  padding-left: 83%; }

/* line 67, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.prepend-21 {
  padding-left: 87%; }

/* line 67, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.prepend-22 {
  padding-left: 91%; }

/* line 67, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.prepend-23 {
  padding-left: 95%; }

/* line 72, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.pull-1 {
  margin-left: -3.332em; }

/* line 72, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.pull-2 {
  margin-left: -6.664em; }

/* line 72, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.pull-3 {
  margin-left: -9.996em; }

/* line 72, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.pull-4 {
  margin-left: -13.328em; }

/* line 72, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.pull-5 {
  margin-left: -16.66em; }

/* line 72, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.pull-6 {
  margin-left: -19.992em; }

/* line 72, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.pull-7 {
  margin-left: -23.324em; }

/* line 72, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.pull-8 {
  margin-left: -26.656em; }

/* line 72, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.pull-9 {
  margin-left: -29.988em; }

/* line 72, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.pull-10 {
  margin-left: -33.32em; }

/* line 72, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.pull-11 {
  margin-left: -36.652em; }

/* line 72, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.pull-12 {
  margin-left: -39.984em; }

/* line 72, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.pull-13 {
  margin-left: -43.316em; }

/* line 72, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.pull-14 {
  margin-left: -46.648em; }

/* line 72, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.pull-15 {
  margin-left: -49.98em; }

/* line 72, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.pull-16 {
  margin-left: -53.312em; }

/* line 72, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.pull-17 {
  margin-left: -56.644em; }

/* line 72, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.pull-18 {
  margin-left: -59.976em; }

/* line 72, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.pull-19 {
  margin-left: -63.308em; }

/* line 72, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.pull-20 {
  margin-left: -66.64em; }

/* line 72, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.pull-21 {
  margin-left: -69.972em; }

/* line 72, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.pull-22 {
  margin-left: -73.304em; }

/* line 72, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.pull-23 {
  margin-left: -76.636em; }

/* line 72, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.pull-24 {
  margin-left: -79.968em; }

/* line 75, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.push-1 {
  display: inline;
  float: right;
  margin-top: 0;
  margin-left: 1.5em;
  margin-right: -3.332em;
  margin-bottom: 0; }

/* line 75, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.push-2 {
  display: inline;
  float: right;
  margin-top: 0;
  margin-left: 1.5em;
  margin-right: -6.664em;
  margin-bottom: 0; }

/* line 75, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.push-3 {
  display: inline;
  float: right;
  margin-top: 0;
  margin-left: 1.5em;
  margin-right: -9.996em;
  margin-bottom: 0; }

/* line 75, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.push-4 {
  display: inline;
  float: right;
  margin-top: 0;
  margin-left: 1.5em;
  margin-right: -13.328em;
  margin-bottom: 0; }

/* line 75, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.push-5 {
  display: inline;
  float: right;
  margin-top: 0;
  margin-left: 1.5em;
  margin-right: -16.66em;
  margin-bottom: 0; }

/* line 75, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.push-6 {
  display: inline;
  float: right;
  margin-top: 0;
  margin-left: 1.5em;
  margin-right: -19.992em;
  margin-bottom: 0; }

/* line 75, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.push-7 {
  display: inline;
  float: right;
  margin-top: 0;
  margin-left: 1.5em;
  margin-right: -23.324em;
  margin-bottom: 0; }

/* line 75, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.push-8 {
  display: inline;
  float: right;
  margin-top: 0;
  margin-left: 1.5em;
  margin-right: -26.656em;
  margin-bottom: 0; }

/* line 75, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.push-9 {
  display: inline;
  float: right;
  margin-top: 0;
  margin-left: 1.5em;
  margin-right: -29.988em;
  margin-bottom: 0; }

/* line 75, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.push-10 {
  display: inline;
  float: right;
  margin-top: 0;
  margin-left: 1.5em;
  margin-right: -33.32em;
  margin-bottom: 0; }

/* line 75, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.push-11 {
  display: inline;
  float: right;
  margin-top: 0;
  margin-left: 1.5em;
  margin-right: -36.652em;
  margin-bottom: 0; }

/* line 75, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.push-12 {
  display: inline;
  float: right;
  margin-top: 0;
  margin-left: 1.5em;
  margin-right: -39.984em;
  margin-bottom: 0; }

/* line 75, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.push-13 {
  display: inline;
  float: right;
  margin-top: 0;
  margin-left: 1.5em;
  margin-right: -43.316em;
  margin-bottom: 0; }

/* line 75, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.push-14 {
  display: inline;
  float: right;
  margin-top: 0;
  margin-left: 1.5em;
  margin-right: -46.648em;
  margin-bottom: 0; }

/* line 75, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.push-15 {
  display: inline;
  float: right;
  margin-top: 0;
  margin-left: 1.5em;
  margin-right: -49.98em;
  margin-bottom: 0; }

/* line 75, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.push-16 {
  display: inline;
  float: right;
  margin-top: 0;
  margin-left: 1.5em;
  margin-right: -53.312em;
  margin-bottom: 0; }

/* line 75, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.push-17 {
  display: inline;
  float: right;
  margin-top: 0;
  margin-left: 1.5em;
  margin-right: -56.644em;
  margin-bottom: 0; }

/* line 75, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.push-18 {
  display: inline;
  float: right;
  margin-top: 0;
  margin-left: 1.5em;
  margin-right: -59.976em;
  margin-bottom: 0; }

/* line 75, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.push-19 {
  display: inline;
  float: right;
  margin-top: 0;
  margin-left: 1.5em;
  margin-right: -63.308em;
  margin-bottom: 0; }

/* line 75, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.push-20 {
  display: inline;
  float: right;
  margin-top: 0;
  margin-left: 1.5em;
  margin-right: -66.64em;
  margin-bottom: 0; }

/* line 75, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.push-21 {
  display: inline;
  float: right;
  margin-top: 0;
  margin-left: 1.5em;
  margin-right: -69.972em;
  margin-bottom: 0; }

/* line 75, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.push-22 {
  display: inline;
  float: right;
  margin-top: 0;
  margin-left: 1.5em;
  margin-right: -73.304em;
  margin-bottom: 0; }

/* line 75, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.push-23 {
  display: inline;
  float: right;
  margin-top: 0;
  margin-left: 1.5em;
  margin-right: -76.636em;
  margin-bottom: 0; }

/* line 75, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_liquid.sass */
.push-24 {
  display: inline;
  float: right;
  margin-top: 0;
  margin-left: 1.5em;
  margin-right: -79.968em;
  margin-bottom: 0; }

/* line 1, ../../../app/stylesheets/partials/_j_week_calendar.sass */
p.description {
  font-size: 0.8em;
  padding: 1em;
  position: relative;
  top: 3.2em;
  margin-right: 400px; }

/* line 9, ../../../app/stylesheets/partials/_j_week_calendar.sass */
#message {
  font-size: 0.7em;
  position: relative;
  top: 1em;
  right: 1em;
  width: 350px;
  display: none;
  padding: 1em;
  background: #ffc;
  border: 1px solid #dda; }

/* line 2, ../../../app/stylesheets/partials/_j_month_calendar.sass */
#jMonthCalendar .Meeting {
  background-color: #DDFFFF; }

/* line 4, ../../../app/stylesheets/partials/_j_month_calendar.sass */
#jMonthCalendar {
  background-color: #DD00FF; }

/* line 8, ../../../app/stylesheets/partials/_j_month_calendar.sass */
#jMonthCalendar #Event_3 {
  background-color: #0000FF; }

/* line 1, ../../../app/stylesheets/partials/_formrow.sass */
.formrow {
  display: block; }
  /* line 4, ../../../app/stylesheets/partials/_formrow.sass */
  .formrow label, .formrow input, .formrow select, .formrow textarea {
    float: left;
    display: block;
    margin-right: 10px; }
  /* line 9, ../../../app/stylesheets/partials/_formrow.sass */
  .formrow label, .formrow .floatLeft, .formrow .floatRight {
    padding-top: 2px; }
  /* line 12, ../../../app/stylesheets/partials/_formrow.sass */
  .formrow .digit {
    padding-top: 7px; }
  /* line 15, ../../../app/stylesheets/partials/_formrow.sass */
  .formrow:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden; }
  /* line 23, ../../../app/stylesheets/partials/_formrow.sass */
  .formrow .button {
    float: none;
    clear: both;
    padding: 2px; }
  /* line 28, ../../../app/stylesheets/partials/_formrow.sass */
  .formrow input, .formrow select, .formrow textarea {
    padding: 2px; }
  /* line 33, ../../../app/stylesheets/partials/_formrow.sass */
  .formrow input.text, .formrow input.title {
    border: 1px solid #bbb; }
  /* line 36, ../../../app/stylesheets/partials/_formrow.sass */
  .formrow textarea, .formrow select {
    border: 1px solid #bbb; }
  /* line 40, ../../../app/stylesheets/partials/_formrow.sass */
  .formrow input.text:focus, .formrow input.title:focus {
    border: 1px solid #666; }
  /* line 43, ../../../app/stylesheets/partials/_formrow.sass */
  .formrow textarea:focus, .formrow select:focus {
    border: 1px solid #666; }
  /* line 46, ../../../app/stylesheets/partials/_formrow.sass */
  .formrow input.title {
    font-size: 1.5em; }
  /* line 49, ../../../app/stylesheets/partials/_formrow.sass */
  .formrow label, .formrow .floatLeft, .formrow .floatRight {
    margin-top: 0.3em; }
  /* line 52, ../../../app/stylesheets/partials/_formrow.sass */
  .formrow .floatLeft {
    float: left;
    margin-right: 10px;
    display: block; }
  /* line 57, ../../../app/stylesheets/partials/_formrow.sass */
  .formrow .floatRight {
    float: right;
    margin-left: 0px;
    display: block; }
  /* line 62, ../../../app/stylesheets/partials/_formrow.sass */
  .formrow .digit {
    float: left;
    margin-left: -6px;
    display: block; }

/* line 68, ../../../app/stylesheets/partials/_formrow.sass */
select.span-1, input.span-1, textarea.span-1 {
  width: 24px; }

/* line 72, ../../../app/stylesheets/partials/_formrow.sass */
select.span-2, input.span-2, textarea.span-2 {
  width: 64px; }

/* line 76, ../../../app/stylesheets/partials/_formrow.sass */
select.span-3, input.span-3, textarea.span-3 {
  width: 104px; }

/* line 80, ../../../app/stylesheets/partials/_formrow.sass */
select.span-4, input.span-4, textarea.span-4 {
  width: 144px; }

/* line 84, ../../../app/stylesheets/partials/_formrow.sass */
select.span-5, input.span-5, textarea.span-5 {
  width: 184px; }

/* line 88, ../../../app/stylesheets/partials/_formrow.sass */
select.span-6, input.span-6, textarea.span-6 {
  width: 224px; }

/* line 92, ../../../app/stylesheets/partials/_formrow.sass */
select.span-7, input.span-7, textarea.span-7 {
  width: 264px; }

/* line 96, ../../../app/stylesheets/partials/_formrow.sass */
select.span-8, input.span-8, textarea.span-8 {
  width: 304px; }

/* line 100, ../../../app/stylesheets/partials/_formrow.sass */
select.span-9, input.span-9, textarea.span-9 {
  width: 344px; }

/* line 104, ../../../app/stylesheets/partials/_formrow.sass */
select.span-10, input.span-10, textarea.span-10 {
  width: 384px; }

/* line 108, ../../../app/stylesheets/partials/_formrow.sass */
select.span-11, input.span-11, textarea.span-11 {
  width: 424px; }

/* line 112, ../../../app/stylesheets/partials/_formrow.sass */
select.span-12, input.span-12, textarea.span-12 {
  width: 464px; }

/* line 116, ../../../app/stylesheets/partials/_formrow.sass */
select.span-13, input.span-13, textarea.span-13 {
  width: 504px; }

/* line 120, ../../../app/stylesheets/partials/_formrow.sass */
select.span-14, input.span-14, textarea.span-14 {
  width: 544px; }

/* line 124, ../../../app/stylesheets/partials/_formrow.sass */
select.span-15, input.span-15, textarea.span-15 {
  width: 584px; }

/* line 12, ../../../app/stylesheets/partials/_base.blueprint.sass */
#site-actions {
  float: right;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  display: inline-block; }
  /* line 5, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/././_hacks.sass */
  #site-actions {
    display: block; }
  /* line 50, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
  #site-actions li {
    list-style-type: none;
    margin-left: 0px;
    white-space: nowrap;
    display: inline;
    float: left;
    padding-left: 4px;
    padding-right: 4px; }
    /* line 40, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
    #site-actions li.first {
      padding-left: 0px; }
    /* line 42, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
    #site-actions li.last {
      padding-right: 0px; }
  /* line 15, ../../../app/stylesheets/partials/_base.blueprint.sass */
  #site-actions select {
    margin-top: 0; }

/* line 19, ../../../app/stylesheets/partials/_base.blueprint.sass */
#header {
  height: 4.5em; }
  /* line 21, ../../../app/stylesheets/partials/_base.blueprint.sass */
  #header #headline {
    display: inline;
    float: left;
    overflow: hidden;
    width: 83%;
    margin-right: 0.833em; }
    /* line 23, ../../../app/stylesheets/partials/_base.blueprint.sass */
    #header #headline img {
      padding: 0em 0em 0em 0.5em;
      width: 18em; }
    /* line 26, ../../../app/stylesheets/partials/_base.blueprint.sass */
    #header #headline h2 {
      padding: 0.5em; }
  /* line 28, ../../../app/stylesheets/partials/_base.blueprint.sass */
  #header #language {
    display: inline;
    float: left;
    overflow: hidden;
    width: 12%;
    margin-right: 0.833em;
    padding: 1em 0em 0em 0em; }

/* line 34, ../../../app/stylesheets/partials/_base.blueprint.sass */
#navigation {
  padding: 0.5em 0em 0em 0em; }

/* line 39, ../../../app/stylesheets/partials/_base.blueprint.sass */
#footer #legalese {
  display: inline;
  float: left;
  overflow: hidden;
  width: 83%;
  margin-right: 0.833em; }
/* line 41, ../../../app/stylesheets/partials/_base.blueprint.sass */
#footer #footer-links {
  display: inline;
  float: left;
  overflow: hidden;
  width: 12%;
  margin-right: 0; }

/* line 22, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/./blueprint/modules/_typography.sass */
body body {
  line-height: 1.5;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%; }
/* line 53, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/./blueprint/modules/_typography.sass */
body h1 {
  font-weight: normal;
  color: #222222;
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em; }
  /* line 58, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/./blueprint/modules/_typography.sass */
  body h1 img {
    margin: 0; }
/* line 60, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/./blueprint/modules/_typography.sass */
body h2 {
  font-weight: normal;
  color: #222222;
  font-size: 2em;
  margin-bottom: 0.75em; }
/* line 64, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/./blueprint/modules/_typography.sass */
body h3 {
  font-weight: normal;
  color: #222222;
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em; }
/* line 69, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/./blueprint/modules/_typography.sass */
body h4 {
  font-weight: normal;
  color: #222222;
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em; }
/* line 74, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/./blueprint/modules/_typography.sass */
body h5 {
  font-weight: normal;
  color: #222222;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em; }
/* line 79, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/./blueprint/modules/_typography.sass */
body h6 {
  font-weight: normal;
  color: #222222;
  font-size: 1em;
  font-weight: bold; }
/* line 83, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/./blueprint/modules/_typography.sass */
body h2 img, body h3 img, body h4 img, body h5 img, body h6 img {
  margin: 0; }
/* line 85, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/./blueprint/modules/_typography.sass */
body p {
  margin: 0 0 1.5em; }
  /* line 87, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/./blueprint/modules/_typography.sass */
  body p img.left {
    display: inline;
    float: left;
    margin: 1.5em 1.5em 1.5em 0;
    padding: 0; }
  /* line 91, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/./blueprint/modules/_typography.sass */
  body p img.right {
    display: inline;
    float: right;
    margin: 1.5em 0 1.5em 1.5em;
    padding: 0; }
/* line 95, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/./blueprint/modules/_typography.sass */
body a {
  text-decoration: underline;
  color: #000099; }
  /* line 12, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
  body a:visited {
    color: #000066; }
  /* line 15, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
  body a:focus {
    color: black; }
  /* line 18, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
  body a:hover {
    color: black; }
  /* line 21, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
  body a:active {
    color: #cc0099; }
/* line 98, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/./blueprint/modules/_typography.sass */
body blockquote {
  margin: 1.5em;
  color: #666;
  font-style: italic; }
/* line 102, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/./blueprint/modules/_typography.sass */
body strong {
  font-weight: bold; }
/* line 104, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/./blueprint/modules/_typography.sass */
body em {
  font-style: italic; }
/* line 106, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/./blueprint/modules/_typography.sass */
body dfn {
  font-style: italic;
  font-weight: bold; }
/* line 109, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/./blueprint/modules/_typography.sass */
body sup, body sub {
  line-height: 0; }
/* line 111, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/./blueprint/modules/_typography.sass */
body abbr, body acronym {
  border-bottom: 1px dotted #666; }
/* line 113, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/./blueprint/modules/_typography.sass */
body address {
  margin: 0 0 1.5em;
  font-style: italic; }
/* line 116, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/./blueprint/modules/_typography.sass */
body del {
  color: #666; }
/* line 118, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/./blueprint/modules/_typography.sass */
body pre {
  margin: 1.5em 0;
  white-space: pre; }
/* line 121, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/./blueprint/modules/_typography.sass */
body pre, body code, body tt {
  font: 1em 'andale mono', 'lucida console', monospace;
  line-height: 1.5; }
/* line 123, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/./blueprint/modules/_typography.sass */
body li ul, body li ol {
  margin: 0 1.5em; }
/* line 125, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/./blueprint/modules/_typography.sass */
body ul {
  margin: 0 1.5em 1.5em 1.5em;
  list-style-type: disc; }
/* line 128, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/./blueprint/modules/_typography.sass */
body ol {
  margin: 0 1.5em 1.5em 1.5em;
  list-style-type: decimal; }
/* line 131, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/./blueprint/modules/_typography.sass */
body dl {
  margin: 0 0 1.5em 0; }
  /* line 133, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/./blueprint/modules/_typography.sass */
  body dl dt {
    font-weight: bold; }
/* line 135, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/./blueprint/modules/_typography.sass */
body dd {
  margin-left: 1.5em; }
/* line 137, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/./blueprint/modules/_typography.sass */
body table {
  margin-bottom: 1.4em;
  width: 100%; }
/* line 140, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/./blueprint/modules/_typography.sass */
body th {
  font-weight: bold; }
/* line 142, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/./blueprint/modules/_typography.sass */
body thead th {
  background: #c3d9ff; }
/* line 144, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/./blueprint/modules/_typography.sass */
body th, body td, body caption {
  padding: 4px 10px 4px 5px; }
/* line 146, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/./blueprint/modules/_typography.sass */
body tr.even td {
  background: #e5ecf9; }
/* line 148, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/./blueprint/modules/_typography.sass */
body tfoot {
  font-style: italic; }
/* line 150, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/./blueprint/modules/_typography.sass */
body caption {
  background: #eee; }
/* line 152, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/./blueprint/modules/_typography.sass */
body .quiet {
  color: #666666; }
/* line 154, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/./blueprint/modules/_typography.sass */
body .loud {
  color: #111111; }
/* line 5, ../../../app/stylesheets/screen.blueprint.sass */
body div.container {
  min-width: 950px;
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  display: inline-block;
  width: 95%;
  font-size: 0.8em; }
  /* line 5, c:/ruby/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/././_hacks.sass */
  body div.container {
    display: block; }
  /* line 48, ../../../app/stylesheets/partials/_base.blueprint.sass */
  body div.container #header, body div.container #footer {
    display: inline;
    float: left;
    overflow: hidden;
    width: 100%;
    margin-right: 0.833em; }
  /* line 50, ../../../app/stylesheets/partials/_base.blueprint.sass */
  body div.container #navigation {
    display: inline;
    float: left;
    overflow: hidden;
    width: 20%;
    margin-right: 0.833em; }
  /* line 53, ../../../app/stylesheets/partials/_base.blueprint.sass */
  body div.container #content {
    display: inline;
    float: left;
    overflow: hidden;
    width: 75%;
    margin-right: 0.833em; }
