/*
Syntax error: Invalid CSS after "#{": expected expression (e.g. 1px, bold), was "!ribbon}"
        on line 16 of D:/Workspaces/rails/compass-jquery-plugin-sample-132/app/stylesheets/partials/_base.ribbon.sass
        from line 1 of D:/Workspaces/rails/compass-jquery-plugin-sample-132/app/stylesheets/screen.ribbon.sass

Backtrace:
D:/Workspaces/rails/compass-jquery-plugin-sample-132/app/stylesheets/partials/_base.ribbon.sass:16
D:/Workspaces/rails/compass-jquery-plugin-sample-132/app/stylesheets/screen.ribbon.sass:1
c:/ruby/lib/ruby/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/scss/parser.rb:702:in `expected'
c:/ruby/lib/ruby/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/script/lexer.rb:186:in `expected!'
c:/ruby/lib/ruby/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/script/parser.rb:341:in `assert_expr'
c:/ruby/lib/ruby/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/script/parser.rb:35:in `parse_interpolated'
c:/ruby/lib/ruby/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/scss/parser.rb:636:in `send'
c:/ruby/lib/ruby/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/scss/parser.rb:636:in `sass_script'
c:/ruby/lib/ruby/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/scss/parser.rb:578:in `interpolation'
c:/ruby/lib/ruby/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/scss/parser.rb:596:in `interp_ident'
c:/ruby/lib/ruby/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/scss/parser.rb:37:in `parse_interp_ident'
c:/ruby/lib/ruby/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/engine.rb:416:in `parse_property_or_rule'
c:/ruby/lib/ruby/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/engine.rb:407:in `parse_line'
c:/ruby/lib/ruby/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/engine.rb:295:in `build_tree'
c:/ruby/lib/ruby/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/engine.rb:314:in `append_children'
c:/ruby/lib/ruby/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/engine.rb:313:in `each'
c:/ruby/lib/ruby/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/engine.rb:313:in `append_children'
c:/ruby/lib/ruby/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/engine.rb:304:in `build_tree'
c:/ruby/lib/ruby/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/engine.rb:297:in `each'
c:/ruby/lib/ruby/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/engine.rb:297:in `build_tree'
c:/ruby/lib/ruby/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/engine.rb:314:in `append_children'
c:/ruby/lib/ruby/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/engine.rb:313:in `each'
c:/ruby/lib/ruby/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/engine.rb:313:in `append_children'
c:/ruby/lib/ruby/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/engine.rb:191:in `_to_tree'
c:/ruby/lib/ruby/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/engine.rb:179:in `to_tree'
c:/ruby/lib/ruby/gems/1.8/gems/haml-3.0.0.beta.3/lib/haml/util.rb:178:in `silence_haml_warnings'
c:/ruby/lib/ruby/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/engine.rb:179:in `to_tree'
c:/ruby/lib/ruby/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/files.rb:42:in `tree_for'
c:/ruby/lib/ruby/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/tree/import_node.rb:66:in `perform!'
c:/ruby/lib/ruby/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/tree/node.rb:273:in `_perform'
c:/ruby/lib/ruby/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/tree/import_node.rb:57:in `_perform'
c:/ruby/lib/ruby/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/tree/node.rb:185:in `perform'
c:/ruby/lib/ruby/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/tree/root_node.rb:27:in `perform'
c:/ruby/lib/ruby/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/tree/node.rb:294:in `perform_children'
c:/ruby/lib/ruby/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/tree/node.rb:294:in `map'
c:/ruby/lib/ruby/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/tree/node.rb:294:in `perform_children'
c:/ruby/lib/ruby/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/tree/node.rb:285:in `perform!'
c:/ruby/lib/ruby/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/tree/root_node.rb:44:in `perform!'
c:/ruby/lib/ruby/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/tree/node.rb:273:in `_perform'
c:/ruby/lib/ruby/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/tree/node.rb:185:in `perform'
c:/ruby/lib/ruby/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/tree/root_node.rb:27:in `perform'
c:/ruby/lib/ruby/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/tree/node.rb:119:in `render'
c:/ruby/lib/ruby/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/plugin.rb:331:in `update_stylesheet'
c:/ruby/lib/ruby/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/plugin.rb:226:in `update_stylesheets'
c:/ruby/lib/ruby/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/plugin.rb:219:in `each'
c:/ruby/lib/ruby/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/plugin.rb:219:in `update_stylesheets'
c:/ruby/lib/ruby/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/plugin.rb:217:in `each'
c:/ruby/lib/ruby/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/plugin.rb:217:in `update_stylesheets'
c:/ruby/lib/ruby/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/plugin.rb:191:in `check_for_updates'
c:/ruby/lib/ruby/gems/1.8/gems/haml-3.0.0.beta.3/lib/sass/plugin/rack.rb:43:in `call'
c:/ruby/lib/ruby/gems/1.8/gems/actionpack-2.3.5/lib/action_controller/string_coercion.rb:25:in `call'
c:/ruby/lib/ruby/gems/1.8/gems/rack-1.0.1/lib/rack/head.rb:9:in `call'
c:/ruby/lib/ruby/gems/1.8/gems/rack-1.0.1/lib/rack/methodoverride.rb:24:in `call'
c:/ruby/lib/ruby/gems/1.8/gems/actionpack-2.3.5/lib/action_controller/params_parser.rb:15:in `call'
c:/ruby/lib/ruby/gems/1.8/gems/actionpack-2.3.5/lib/action_controller/session/cookie_store.rb:93:in `call'
c:/ruby/lib/ruby/gems/1.8/gems/actionpack-2.3.5/lib/action_controller/failsafe.rb:26:in `call'
c:/ruby/lib/ruby/gems/1.8/gems/rack-1.0.1/lib/rack/lock.rb:11:in `call'
c:/ruby/lib/ruby/gems/1.8/gems/rack-1.0.1/lib/rack/lock.rb:11:in `synchronize'
c:/ruby/lib/ruby/gems/1.8/gems/rack-1.0.1/lib/rack/lock.rb:11:in `call'
c:/ruby/lib/ruby/gems/1.8/gems/actionpack-2.3.5/lib/action_controller/dispatcher.rb:114:in `call'
c:/ruby/lib/ruby/gems/1.8/gems/actionpack-2.3.5/lib/action_controller/reloader.rb:34:in `run'
c:/ruby/lib/ruby/gems/1.8/gems/actionpack-2.3.5/lib/action_controller/dispatcher.rb:108:in `call'
c:/ruby/lib/ruby/gems/1.8/gems/rails-2.3.5/lib/rails/rack/static.rb:31:in `call'
c:/ruby/lib/ruby/gems/1.8/gems/rack-1.0.1/lib/rack/urlmap.rb:46:in `call'
c:/ruby/lib/ruby/gems/1.8/gems/rack-1.0.1/lib/rack/urlmap.rb:40:in `each'
c:/ruby/lib/ruby/gems/1.8/gems/rack-1.0.1/lib/rack/urlmap.rb:40:in `call'
c:/ruby/lib/ruby/gems/1.8/gems/rails-2.3.5/lib/rails/rack/log_tailer.rb:17:in `call'
c:/ruby/lib/ruby/gems/1.8/gems/rack-1.0.1/lib/rack/content_length.rb:13:in `call'
c:/ruby/lib/ruby/gems/1.8/gems/rack-1.0.1/lib/rack/chunked.rb:15:in `call'
c:/ruby/lib/ruby/gems/1.8/gems/rack-1.0.1/lib/rack/handler/mongrel.rb:64:in `process'
c:/ruby/lib/ruby/gems/1.8/gems/mongrel-1.1.5-x86-mswin32-60/lib/mongrel.rb:159:in `process_client'
c:/ruby/lib/ruby/gems/1.8/gems/mongrel-1.1.5-x86-mswin32-60/lib/mongrel.rb:158:in `each'
c:/ruby/lib/ruby/gems/1.8/gems/mongrel-1.1.5-x86-mswin32-60/lib/mongrel.rb:158:in `process_client'
c:/ruby/lib/ruby/gems/1.8/gems/mongrel-1.1.5-x86-mswin32-60/lib/mongrel.rb:285:in `run'
c:/ruby/lib/ruby/gems/1.8/gems/mongrel-1.1.5-x86-mswin32-60/lib/mongrel.rb:285:in `initialize'
c:/ruby/lib/ruby/gems/1.8/gems/mongrel-1.1.5-x86-mswin32-60/lib/mongrel.rb:285:in `new'
c:/ruby/lib/ruby/gems/1.8/gems/mongrel-1.1.5-x86-mswin32-60/lib/mongrel.rb:285:in `run'
c:/ruby/lib/ruby/gems/1.8/gems/mongrel-1.1.5-x86-mswin32-60/lib/mongrel.rb:268:in `initialize'
c:/ruby/lib/ruby/gems/1.8/gems/mongrel-1.1.5-x86-mswin32-60/lib/mongrel.rb:268:in `new'
c:/ruby/lib/ruby/gems/1.8/gems/mongrel-1.1.5-x86-mswin32-60/lib/mongrel.rb:268:in `run'
c:/ruby/lib/ruby/gems/1.8/gems/rack-1.0.1/lib/rack/handler/mongrel.rb:34:in `run'
c:/ruby/lib/ruby/gems/1.8/gems/rails-2.3.5/lib/commands/server.rb:111
c:/ruby/lib/ruby/site_ruby/1.8/rubygems/custom_require.rb:31:in `gem_original_require'
c:/ruby/lib/ruby/site_ruby/1.8/rubygems/custom_require.rb:31:in `require'
./script/server:3
-e:2:in `load'
-e:2
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"#{\": expected expression (e.g. 1px, bold), was \"!ribbon}\"\A         on line 16 of D:/Workspaces/rails/compass-jquery-plugin-sample-132/app/stylesheets/partials/_base.ribbon.sass\A         from line 1 of D:/Workspaces/rails/compass-jquery-plugin-sample-132/app/stylesheets/screen.ribbon.sass"; }
