/* line 1, ../../../app/stylesheets/style.sass */
﻿html {
  overflow-x: hidden;
  height: 100%;
}

/* line 6, ../../../app/stylesheets/style.sass */
body {
  font-family: Calibri, Arial, Trebuchet MS;
  font-size: 11pt;
  padding: 0px;
  margin: 0px;
  color: #254264;
  background-color: #DCE5F2;
  background-image: url("/images/demo/ribbon/page/background.png");
  background-repeat: repeat-x;
}

/* line 17, ../../../app/stylesheets/style.sass */
h1 {
  font-family: Cambria, Arial, Trebuchet MS;
  font-size: 14pt;
}

/* line 22, ../../../app/stylesheets/style.sass */
h2 {
  font-family: Cambria, Arial, Trebuchet MS;
  font-size: 13pt;
  color: #4E81C8;
}

/* line 28, ../../../app/stylesheets/style.sass */
img {
  border: 0px;
}

/* line 32, ../../../app/stylesheets/style.sass */
a {
  color: #254264;
  text-decoration: underline;
}
/* line 36, ../../../app/stylesheets/style.sass */
a:hover {
  text-decoration: none;
}

/* line 40, ../../../app/stylesheets/style.sass */
.mainContainer {
  width: 100%;
  background-color: #d9e4f3;
  border: 1px solid #3b5a82;
  border-bottom: 0px;
}

/* line 47, ../../../app/stylesheets/style.sass */
.textbox {
  background-image: url("/images/demo/ribbon/page/textboxbg.png");
  background-repeat: repeat-y;
  width: 809px;
  margin: 0px auto;
}
/* line 53, ../../../app/stylesheets/style.sass */
.textbox div {
  width: 740px;
  margin: 0px auto;
  padding: 20px;
  overflow: hidden;
}
