!!!
%html
  %head

  %body
    #jqm-home{"data-role" => "page", "data-theme" => "b"}
      #jqm-homeheader
        %h1#jqm-logo
          %img{:alt => "jQuery Mobile Framework", :height => "61", :src => "docs/_assets/images/jquery-logo.png", :width => "235"}/
        %p A Touch-Optimized Web Framework for Smartphones &amp; Tablets
        %p#jqm-version Alpha Release
      %div{"data-role" => "content"}
        %ul{"data-dividertheme" => "b", "data-inset" => "true", "data-role" => "listview", "data-theme" => "c"}
          %li{"data-role" => "list-divider"} Overview
          %li
            %a{:href => "docs/about/intro.html"} Intro to jQuery Mobile
          %li
            %a{:href => "docs/about/features.html"} Features
          %li
            %a{:href => "docs/about/accessibility.html"} Accessibility
          %li
            %a{:href => "docs/about/platforms.html"} Supported platforms
          %li
            %a{:href => "docs/about/themes.html"} Theme system
        %ul{"data-dividertheme" => "b", "data-inset" => "true", "data-role" => "listview", "data-theme" => "c"}
          %li{"data-role" => "list-divider"} Components
          %li
            %a{:href => "docs/pages/index.html"} Pages &amp; dialogs
          %li
            %a{:href => "docs/toolbars/index.html"} Toolbars
          %li
            %a{:href => "docs/buttons/index.html"} Buttons
          %li
            %a{:href => "docs/content/index.html"} Content formatting
          %li
            %a{:href => "docs/forms/index.html"} Form elements
          %li
            %a{:href => "docs/lists/index.html"} List views
          %li
            %a{:href => "docs/events.html"} Events
        %ul{"data-dividertheme" => "b", "data-inset" => "true", "data-role" => "listview", "data-theme" => "c"}
          %li{"data-role" => "list-divider"} Demos
          %li
            %a{:href => "experiments/api-viewer/index.html"} jQuery API browser
