!!!
/ saved from url=(0036)http://jquerymobile.com/demos/1.0a1/
%html.ui-mobile.landscape
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
      %meta{:content => "width=device-width, minimum-scale=1, maximum-scale=1", :name => "viewport"}
        / <base href="/demos/1.0a1/" id="ui-base">
        %base{:href => "."}
          %title jQuery Mobile: Demos and Documentation
          %link{:href => "http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.css", :rel => "stylesheet"}
            %link{:href => "http://jquerymobile.com/demos/1.0a1/docs/_assets/css/jqm-docs.css", :rel => "stylesheet"}
              %script{:src => "./demo_files/jquery-1.4.3.min.js"}
              %script{:src => "./demo_files/jquery.mobile-1.0a1.min.js"}
              %script{:src => "./demo_files/jquery.mobile.themeswitcher.js"}
              %script{:src => "./demo_files/jqm-docs.js"}
  %body
    #jqm-home.ui-page.ui-body-b.ui-page-active{"data-role" => "page", "data-theme" => "b"}
      #jqm-homeheader
        %h1#jqm-logo
          %img{:alt => "jQuery Mobile Framework", :height => "61", :src => "./demo_files/jquery-logo.png", :width => "235"}/
        %p A Touch-Optimized Web Framework for Smartphones &amp; Tablets
        %p#jqm-version Alpha Release
      .ui-content{"data-role" => "content", :role => "main"}
        %ul.ui-listview.ui-listview-inset.ui-corner-all.ui-controlgroup.ui-controlgroup-vertical.ui-shadow{"data-dividertheme" => "b", "data-inset" => "true", "data-role" => "listview", "data-theme" => "c", :role => "listbox"}
          %li.ui-li.ui-li-divider.ui-btn.ui-bar-b.ui-corner-top{"data-role" => "list-divider", :role => "heading", :tabindex => "0"} Overview
          %li.ui-li.ui-btn.ui-btn-icon-right.ui-btn-up-c{"data-theme" => "c", :role => "option", :tabindex => "-1"}
            .ui-btn-inner
              %span.ui-icon.ui-icon-arrow-r
              .ui-btn-text
                %a.ui-link-inherit{:href => "http://jquerymobile.com/demos/1.0a1/docs/about/intro.html"} Intro to jQuery Mobile
          %li.ui-li.ui-btn.ui-btn-icon-right.ui-btn-up-c{"data-theme" => "c", :role => "option", :tabindex => "-1"}
            .ui-btn-inner
              %span.ui-icon.ui-icon-arrow-r
              .ui-btn-text
                %a.ui-link-inherit{:href => "http://jquerymobile.com/demos/1.0a1/docs/about/features.html"} Features
          %li.ui-li.ui-btn.ui-btn-icon-right.ui-btn-up-c{"data-theme" => "c", :role => "option", :tabindex => "-1"}
            .ui-btn-inner
              %span.ui-icon.ui-icon-arrow-r
              .ui-btn-text
                %a.ui-link-inherit{:href => "http://jquerymobile.com/demos/1.0a1/docs/about/accessibility.html"} Accessibility
          %li.ui-li.ui-btn.ui-btn-icon-right.ui-btn-up-c{"data-theme" => "c", :role => "option", :tabindex => "-1"}
            .ui-btn-inner
              %span.ui-icon.ui-icon-arrow-r
              .ui-btn-text
                %a.ui-link-inherit{:href => "http://jquerymobile.com/demos/1.0a1/docs/about/platforms.html"} Supported platforms
          %li.ui-li.ui-btn.ui-btn-icon-right.ui-corner-bottom.ui-controlgroup-last.ui-btn-up-c{"data-theme" => "c", :role => "option", :tabindex => "-1"}
            .ui-btn-inner.ui-corner-bottom.ui-controlgroup-last
              %span.ui-icon.ui-icon-arrow-r
              .ui-btn-text
                %a.ui-link-inherit{:href => "http://jquerymobile.com/demos/1.0a1/docs/about/themes.html"} Theme system
        %ul.ui-listview.ui-listview-inset.ui-corner-all.ui-controlgroup.ui-controlgroup-vertical.ui-shadow{"data-dividertheme" => "b", "data-inset" => "true", "data-role" => "listview", "data-theme" => "c", :role => "listbox"}
          %li.ui-li.ui-li-divider.ui-btn.ui-bar-b.ui-corner-top{"data-role" => "list-divider", :role => "heading", :tabindex => "0"} Components
          %li.ui-li.ui-btn.ui-btn-icon-right.ui-btn-up-c{"data-theme" => "c", :role => "option", :tabindex => "-1"}
            .ui-btn-inner
              %span.ui-icon.ui-icon-arrow-r
              .ui-btn-text
                %a.ui-link-inherit{:href => "http://jquerymobile.com/demos/1.0a1/docs/pages/index.html"} Pages &amp; dialogs
          %li.ui-li.ui-btn.ui-btn-icon-right.ui-btn-up-c{"data-theme" => "c", :role => "option", :tabindex => "-1"}
            .ui-btn-inner
              %span.ui-icon.ui-icon-arrow-r
              .ui-btn-text
                %a.ui-link-inherit{:href => "http://jquerymobile.com/demos/1.0a1/docs/toolbars/index.html"} Toolbars
          %li.ui-li.ui-btn.ui-btn-icon-right.ui-btn-up-c{"data-theme" => "c", :role => "option", :tabindex => "-1"}
            .ui-btn-inner
              %span.ui-icon.ui-icon-arrow-r
              .ui-btn-text
                %a.ui-link-inherit{:href => "http://jquerymobile.com/demos/1.0a1/docs/buttons/index.html"} Buttons
          %li.ui-li.ui-btn.ui-btn-icon-right.ui-btn-up-c{"data-theme" => "c", :role => "option", :tabindex => "-1"}
            .ui-btn-inner
              %span.ui-icon.ui-icon-arrow-r
              .ui-btn-text
                %a.ui-link-inherit{:href => "http://jquerymobile.com/demos/1.0a1/docs/content/index.html"} Content formatting
          %li.ui-li.ui-btn.ui-btn-icon-right.ui-btn-up-c{"data-theme" => "c", :role => "option", :tabindex => "-1"}
            .ui-btn-inner
              %span.ui-icon.ui-icon-arrow-r
              .ui-btn-text
                %a.ui-link-inherit{:href => "http://jquerymobile.com/demos/1.0a1/docs/forms/index.html"} Form elements
          %li.ui-li.ui-btn.ui-btn-icon-right.ui-corner-bottom.ui-controlgroup-last.ui-btn-up-c{"data-theme" => "c", :role => "option", :tabindex => "-1"}
            .ui-btn-inner.ui-corner-bottom.ui-controlgroup-last
              %span.ui-icon.ui-icon-arrow-r
              .ui-btn-text
                %a.ui-link-inherit{:href => "http://jquerymobile.com/demos/1.0a1/docs/lists/index.html"} List views
          / <li><a href="docs/events.html">Events</a></li>
        %ul.ui-listview.ui-listview-inset.ui-corner-all.ui-controlgroup.ui-controlgroup-vertical.ui-shadow{"data-dividertheme" => "b", "data-inset" => "true", "data-role" => "listview", "data-theme" => "c", :role => "listbox"}
          %li.ui-li.ui-li-divider.ui-btn.ui-bar-b.ui-corner-top{"data-role" => "list-divider", :role => "heading", :tabindex => "0"} Demos
          %li.ui-li.ui-btn.ui-btn-icon-right.ui-corner-bottom.ui-controlgroup-last.ui-btn-up-c{"data-theme" => "c", :role => "option", :tabindex => "-1"}
            .ui-btn-inner.ui-corner-bottom.ui-controlgroup-last
              %span.ui-icon.ui-icon-arrow-r
              .ui-btn-text
                %a.ui-link-inherit{:href => "http://jquerymobile.com/demos/1.0a1/experiments/api-viewer/index.html"} jQuery API browser
        .jqm-themeswitcher
          %a.ui-btn.ui-btn-inline.ui-btn-icon-left.ui-btn-corner-all.ui-btn-up-d{"data-theme" => "d", :href => "http://jquerymobile.com/demos/1.0a1/#"}
            %span.ui-btn-inner.ui-btn-corner-all
              %span.ui-icon.ui-icon-gear
              %span.ui-btn-text Switch theme
    .ui-loader.ui-body-a.ui-corner-all{:style => "top: 75px; "}
      %span.ui-icon.ui-icon-loading.spin
      %h1 loading
