-@browser_title = 'Users: ' +controller.action_name
-@jquery_partial = 'index.js.haml'
-@title = ''
%center
  %h3
    My cool AJAX grid!
  %table#sample.scroll{ :cellspacing => "0", :cellpadding => "0" }
  #sample_pager.scroll{ :style => "text-align:center;" }
