#greybox
.demo-description
  %p
    The software was written by
    %a{ :href => "http://www.highcharts.com", :class => :greybox } Highslide Software Torstein Hønsi
    and released under the following
    = succeed "." do
      %a{ :href => "http://www.highcharts.com/license", :class => :greybox } License conditions
/ End demo-description