- content_for :content_head do
  = render(:partial => "/mobile/index.js.haml", :format => :js)

%div{"data-role" => "page", "data-theme" => "b"}
  %div{"data-position" => "inline", "data-role" => "header"}
    %h1 jQuery Mobile Docs
  %div{"data-role" => "content"}
    %ul{"data-dividertheme" => "b", "data-inset" => "true", "data-role" => "listview", "data-theme" => "c"}
      %li{"data-role" => "list-divider"} Components
      %li
        %a{:href => "/mobile/docs/pages"} Pages &amp; dialogs
      %li
        %a{:href => "/mobile/docs/toolbars"} Toolbars
      %li
        %a{:href => "/mobile/docs/buttons"} Buttons
      %li
        %a{:href => "/mobile/docs/content"} Content formatting
      %li
        %a{:href => "/mobile/docs/forms"} Form elements
      %li
        %a{:href => "/mobile/docs/lists"} List views
