%div{"data-role" => "page", "data-theme" => "b"}
  %div{"data-position" => "inline", "data-role" => "header"}
    %h1 jQuery Mobile Docs
  %div{"data-role" => "content"}
    %ul{"data-dividertheme" => "b", "data-inset" => "true", "data-role" => "listview", "data-theme" => "c"}
      %li{"data-role" => "list-divider"} Components
      %li
        %a{:href => "docs/pages"} Pages &amp; dialogs
      %li
        %a{:href => "docs/toolbars/"} Toolbars
      %li
        %a{:href => "docs/buttons"} Buttons
      %li
        %a{:href => "docs/content"} Content formatting
      %li
        %a{:href => "docs/forms"} Form elements
      %li
        %a{:href => "docs/lists"} List views
      %li
        %a{:href => "docs/events"} Events
