-@title = "#{t('txt.ribbon.name')} - #{t('txt.ribbon.theming.name')} - #{t('txt.ribbon.theming.windows7')}"
-@jquery_partial = 'windows7.js.haml'
-@ribbon_theme = 'ribbon.windows7'

.demo
  %h3
    =@title
/ End demo

.demo-description
  %p
    This tree uses default options.
/ End demo-description
