!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %title jQuery Mobile Docs - Forms
    %link{:href => "../../themes/default/", :rel => "stylesheet"}/
    %link{:href => "../_assets/css/jqm-docs.css", :rel => "stylesheet"}/
    %script{:src => "../../js/jquery.js", :type => "text/javascript"}
    %script{:src => "../../js/", :type => "text/javascript"}
  %body
    %div{"data-role" => "page", "data-theme" => "c"}
      %div{"data-role" => "header", "data-theme" => "e"}
        %h1 Sample form response
        %a.ui-btn-right.jqm-home{"data-direction" => "reverse", "data-icon" => "home", "data-iconpos" => "notext", :href => "../../"} Home
      / /header
      %div{"data-role" => "content", "data-theme" => "c"}
        %form{:action => "index.html", :method => "get"}
          %h2 You Chose:
          <?php echo "<?>
          " . $_REQUEST['shipping'] . "
          ";
          ?>
      / /content
    / /page
