!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %title jQuery Mobile Docs - Forms
    %link{:href => "../../themes/default/", :rel => "stylesheet"}/
    %link{:href => "../_assets/css/jqm-docs.css", :rel => "stylesheet"}/
    %script{:src => "../../js/jquery.js", :type => "text/javascript"}
    %script{:src => "../../js/", :type => "text/javascript"}
  %body
    %div{"data-role" => "page"}
      %div{"data-role" => "header", "data-theme" => "b"}
        %h1 Forms
        %a.ui-btn-right.jqm-home{"data-direction" => "reverse", "data-icon" => "home", "data-iconpos" => "notext", :href => "../../"} Home
      / /header
      %div{"data-role" => "content"}
        %form{:action => "#", :method => "get"}
          %h2 Form elements
          %p This page contains various progressive-enhancement driven form controls. Native elements are sometimes hidden from view, but their values are maintained so the form can be submitted normally.
          %p Browsers that don't support the custom controls will still deliver a usable experience, because all are based on native form elements.
          %div{"data-role" => "fieldcontain"}
            %label{:for => "name"} Text Input:
            %input#name{:name => "name", :type => "text", :value => ""}/
          %div{"data-role" => "fieldcontain"}
            %label{:for => "textarea"} Textarea:
            %textarea#textarea{:cols => "40", :name => "textarea", :rows => "8"}
          %div{"data-role" => "fieldcontain"}
            %label{:for => "search"} Search Input:
            %input#search{:name => "password", :type => "search", :value => ""}/
          %div{"data-role" => "fieldcontain"}
            %label{:for => "slider2"} Flip switch:
            %select#slider2{"data-role" => "slider", :name => "slider2"}
              %option{:value => "off"} Off
              %option{:value => "on"} On
          %div{"data-role" => "fieldcontain"}
            %label{:for => "slider"} Slider:
            %input#slider{:max => "100", :min => "0", :name => "slider", :type => "range", :value => "0"}/
          %div{"data-role" => "fieldcontain"}
            %fieldset{"data-role" => "controlgroup"}
              %legend Choose as many snacks as you'd like:
              %input#checkbox-1a.custom{:name => "checkbox-1a", :type => "checkbox"}/
              %label{:for => "checkbox-1a"} Cheetos
              %input#checkbox-2a.custom{:name => "checkbox-2a", :type => "checkbox"}/
              %label{:for => "checkbox-2a"} Doritos
              %input#checkbox-3a.custom{:name => "checkbox-3a", :type => "checkbox"}/
              %label{:for => "checkbox-3a"} Fritos
              %input#checkbox-4a.custom{:name => "checkbox-4a", :type => "checkbox"}/
              %label{:for => "checkbox-4a"} Sun Chips
          %div{"data-role" => "fieldcontain"}
            %fieldset{"data-role" => "controlgroup", "data-type" => "horizontal"}
              %legend Font styling:
              %input#checkbox-6.custom{:name => "checkbox-6", :type => "checkbox"}/
              %label{:for => "checkbox-6"} b
              %input#checkbox-7.custom{:name => "checkbox-7", :type => "checkbox"}/
              %label{:for => "checkbox-7"}
                %em i
              %input#checkbox-8.custom{:name => "checkbox-8", :type => "checkbox"}/
              %label{:for => "checkbox-8"} u
          %div{"data-role" => "fieldcontain"}
            %fieldset{"data-role" => "controlgroup"}
              %legend Choose a pet:
              %input#radio-choice-1{:checked => "checked", :name => "radio-choice-1", :type => "radio", :value => "choice-1"}/
              %label{:for => "radio-choice-1"} Cat
              %input#radio-choice-2{:name => "radio-choice-1", :type => "radio", :value => "choice-2"}/
              %label{:for => "radio-choice-2"} Dog
              %input#radio-choice-3{:name => "radio-choice-1", :type => "radio", :value => "choice-3"}/
              %label{:for => "radio-choice-3"} Hampster
              %input#radio-choice-4{:name => "radio-choice-1", :type => "radio", :value => "choice-4"}/
              %label{:for => "radio-choice-4"} Lizard
          %div{"data-role" => "fieldcontain"}
            %fieldset{"data-role" => "controlgroup", "data-type" => "horizontal"}
              %legend Layout view:
              %input#radio-choice-c{:checked => "checked", :name => "radio-choice-b", :type => "radio", :value => "on"}/
              %label{:for => "radio-choice-c"} List
              %input#radio-choice-d{:name => "radio-choice-b", :type => "radio", :value => "off"}/
              %label{:for => "radio-choice-d"} Grid
              %input#radio-choice-e{:name => "radio-choice-b", :type => "radio", :value => "other"}/
              %label{:for => "radio-choice-e"} Gallery
          %div{"data-role" => "fieldcontain"}
            %label.select{:for => "select-choice-1"} Choose shipping method:
            %select#select-choice-1{:name => "select-choice-1"}
              %option{:value => "standard"} Standard: 7 day
              %option{:value => "rush"} Rush: 3 days
              %option{:value => "express"} Express: next day
              %option{:value => "overnight"} Overnight
          %div{"data-role" => "fieldcontain"}
            %label.select{:for => "select-choice-3"} Your state:
            %select#select-choice-3{:name => "select-choice-3"}
              %option Custom menu...
              %option{:value => "AL"} Alabama
              %option{:value => "AK"} Alaska
              %option{:value => "AZ"} Arizona
              %option{:value => "AR"} Arkansas
              %option{:value => "CA"} California
              %option{:value => "CO"} Colorado
              %option{:value => "CT"} Connecticut
              %option{:value => "DE"} Delaware
              %option{:value => "FL"} Florida
              %option{:value => "GA"} Georgia
              %option{:value => "HI"} Hawaii
              %option{:value => "ID"} Idaho
              %option{:value => "IL"} Illinois
              %option{:value => "IN"} Indiana
              %option{:value => "IA"} Iowa
              %option{:value => "KS"} Kansas
              %option{:value => "KY"} Kentucky
              %option{:value => "LA"} Louisiana
              %option{:value => "ME"} Maine
              %option{:value => "MD"} Maryland
              %option{:value => "MA"} Massachusetts
              %option{:value => "MI"} Michigan
              %option{:value => "MN"} Minnesota
              %option{:value => "MS"} Mississippi
              %option{:value => "MO"} Missouri
              %option{:value => "MT"} Montana
              %option{:value => "NE"} Nebraska
              %option{:value => "NV"} Nevada
              %option{:value => "NH"} New Hampshire
              %option{:value => "NJ"} New Jersey
              %option{:value => "NM"} New Mexico
              %option{:value => "NY"} New York
              %option{:value => "NC"} North Carolina
              %option{:value => "ND"} North Dakota
              %option{:value => "OH"} Ohio
              %option{:value => "OK"} Oklahoma
              %option{:value => "OR"} Oregon
              %option{:value => "PA"} Pennsylvania
              %option{:value => "RI"} Rhode Island
              %option{:value => "SC"} South Carolina
              %option{:value => "SD"} South Dakota
              %option{:value => "TN"} Tennessee
              %option{:value => "TX"} Texas
              %option{:value => "UT"} Utah
              %option{:value => "VT"} Vermont
              %option{:value => "VA"} Virginia
              %option{:value => "WA"} Washington
              %option{:value => "WV"} West Virginia
              %option{:value => "WI"} Wisconsin
              %option{:value => "WY"} Wyoming
          %div{"data-role" => "fieldcontain"}
            %label.select{:for => "select-choice-native"} Your state:
            %select#select-choice-native{"data-native-menu" => "true", :name => "select-choice-native"}
              %option Native menu...
              %option{:value => "AL"} Alabama
              %option{:value => "AK"} Alaska
              %option{:value => "AZ"} Arizona
              %option{:value => "AR"} Arkansas
              %option{:value => "CA"} California
              %option{:value => "CO"} Colorado
              %option{:value => "CT"} Connecticut
              %option{:value => "DE"} Delaware
              %option{:value => "FL"} Florida
              %option{:value => "GA"} Georgia
              %option{:value => "HI"} Hawaii
              %option{:value => "ID"} Idaho
              %option{:value => "IL"} Illinois
              %option{:value => "IN"} Indiana
              %option{:value => "IA"} Iowa
              %option{:value => "KS"} Kansas
              %option{:value => "KY"} Kentucky
              %option{:value => "LA"} Louisiana
              %option{:value => "ME"} Maine
              %option{:value => "MD"} Maryland
              %option{:value => "MA"} Massachusetts
              %option{:value => "MI"} Michigan
              %option{:value => "MN"} Minnesota
              %option{:value => "MS"} Mississippi
              %option{:value => "MO"} Missouri
              %option{:value => "MT"} Montana
              %option{:value => "NE"} Nebraska
              %option{:value => "NV"} Nevada
              %option{:value => "NH"} New Hampshire
              %option{:value => "NJ"} New Jersey
              %option{:value => "NM"} New Mexico
              %option{:value => "NY"} New York
              %option{:value => "NC"} North Carolina
              %option{:value => "ND"} North Dakota
              %option{:value => "OH"} Ohio
              %option{:value => "OK"} Oklahoma
              %option{:value => "OR"} Oregon
              %option{:value => "PA"} Pennsylvania
              %option{:value => "RI"} Rhode Island
              %option{:value => "SC"} South Carolina
              %option{:value => "SD"} South Dakota
              %option{:value => "TN"} Tennessee
              %option{:value => "TX"} Texas
              %option{:value => "UT"} Utah
              %option{:value => "VT"} Vermont
              %option{:value => "VA"} Virginia
              %option{:value => "WA"} Washington
              %option{:value => "WV"} West Virginia
              %option{:value => "WI"} Wisconsin
              %option{:value => "WY"} Wyoming
          .ui-body.ui-body-b
            %fieldset.ui-grid-a
              .ui-block-a
                %button{"data-theme" => "d", :type => "submit"} Cancel
              .ui-block-b
                %button{"data-theme" => "a", :type => "submit"} Submit
      / /content
    / /page
