!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %title jQuery Mobile Docs - Forms
    %link{:href => "../../themes/default/", :rel => "stylesheet"}/
    %link{:href => "../_assets/css/jqm-docs.css", :rel => "stylesheet"}/
    %script{:src => "../../js/jquery.js", :type => "text/javascript"}
    %script{:src => "../../js/", :type => "text/javascript"}
    %script{:src => "../docs/docs.js", :type => "text/javascript"}
  %body
    %div{"data-role" => "page"}
      %div{"data-role" => "header", "data-theme" => "b"}
        %h1 Flip switch
      / /header
      %div{"data-role" => "content"}
        %form{:action => "#", :method => "get"}
          %h2 Flip toggle switches
          %p A binary "flip" switch is a common UI element on mobile devices that is used for any binary on/off or true/false type of data input. You can either drag the flip handle like a slider or tap on each half of the switch.
          %p
            To create a flip toggle,  To add a slider widget to your page, start with an
            %code select
            with two options. The first option will be styled as the "on" state switch and the second will be styled as the "off" state so write your options in the correct order. Set the
            %code for
            attribute of the
            %code label
            to match the ID of the
            %code input
            so they are semantically associated and wrap them in a
            %code div
            with the
            %code data-role="fieldcontain"
            attribute to group them.
          %pre
            %code
              :preserve
                	
                &lt;div data-role=&quot;fieldcontain&quot;&gt;
                	&lt;label for=&quot;slider&quot;&gt;Select slider:&lt;/label&gt;
                	&lt;select name=&quot;slider&quot; id=&quot;slider&quot; data-role=&quot;slider&quot;&gt;
                		&lt;option value=&quot;off&quot;&gt;Off&lt;/option&gt;
                		&lt;option value=&quot;on&quot;&gt;On&lt;/option&gt;
                	&lt;/select&gt; 
                &lt;/div&gt;
          %p The flip toggle switch is displayed like this:
          %div{"data-role" => "fieldcontain"}
            %label{:for => "slider"} Flip switch:
            %select#slider{"data-role" => "slider", :name => "slider"}
              %option{:value => "off"} Off
              %option{:value => "on"} On
      / /content
    / /page
