!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %title jQuery Mobile Docs - Forms
    %link{:href => "../../themes/default/", :rel => "stylesheet"}/
    %link{:href => "../_assets/css/jqm-docs.css", :rel => "stylesheet"}/
    %script{:src => "../../js/jquery.js", :type => "text/javascript"}
    %script{:src => "../../js/", :type => "text/javascript"}
    %script{:src => "../docs/docs.js", :type => "text/javascript"}
  %body
    %div{"data-role" => "page"}
      %div{"data-role" => "header", "data-theme" => "b"}
        %h1 Form elements
        %a.ui-btn-right.jqm-home{"data-direction" => "reverse", "data-icon" => "home", "data-iconpos" => "notext", :href => "../../"} Home
      / /header
      %div{"data-role" => "content"}
        %p All form elements begin with standard html controls that are enhanced to make them more attractive and easy-to-use. In browsers that don't support the custom controls, they will still have a usable experience because these are all based on native form elements.
        %ul{"data-inset" => "true", "data-role" => "listview"}
          %li
            %a{:href => "docs-forms.html"} Form basics
          %li
            %a{:href => "forms-all.html"} Form element gallery
          %li
            %a{:href => "forms-text.html"} Text inputs
          %li
            %a{:href => "forms-search.html"} Search inputs
          %li
            %a{:href => "forms-slider.html"} Slider
          %li
            %a{:href => "forms-switch.html"} Flip toggle switch
          %li
            %a{:href => "forms-radiobuttons.html"} Radio buttons
          %li
            %a{:href => "forms-checkboxes.html"} Checkboxes
          %li
            %a{:href => "forms-selects.html"} Select menus
          %li
            %a{:href => "forms-themes.html"} Theming forms
          %li
            %a{:href => "forms-sample.html"} Submitting forms
          %li
            %a{:href => "plugin-eventsmethods.html"} Plugin methods
        %ul{"data-inset" => "true", "data-role" => "listview"}
          %li{"data-role" => "list-divider"} Experimental Form Plugins
          %li
            %a{:href => "../../experiments/ui-datepicker/", :rel => "external"} Datepicker
      / /ui-body wrapper
    / /page
