!!!
%html
  %head
    %title jQuery Mobile Docs - Forms
    %link{:href => "../../themes/default", :rel => "stylesheet"}/
    %script{:src => "../../js/all", :type => "text/javascript"}
    %script{:src => "../docs/docs.js", :type => "text/javascript"}
  %body
    %div{"data-role" => "page", "data-theme" => "b"}
      %div{"data-role" => "header", "data-theme" => "b"}
        %h1 Form elements
      / /header
      %div{"data-role" => "content"}
        %p All form elements begin with standard html controls that are enhanced to make them more attractive and easy-to-use. In browsers that don't support the custom controls, they will still have a usable experience because these are all based on native form elements.
        %ul{"data-inset" => "true", "data-role" => "listview"}
          %li
            %a{:href => "docs-forms.html"} Form basics
          %li
            %a{:href => "forms-all.html"} Form element gallery
          %li
            %a{:href => "forms-text.html"} Text inputs
          %li
            %a{:href => "forms-search.html"} Search inputs
          %li
            %a{:href => "forms-slider.html"} Slider
          %li
            %a{:href => "forms-switch.html"} Flip toggle switch
          %li
            %a{:href => "forms-radiobuttons.html"} Radio buttons
          %li
            %a{:href => "forms-checkboxes.html"} Checkboxes
          %li
            %a{:href => "forms-selects.html"} Select menus
          %li
            %a{:href => "forms-themes.html"} Theming forms
          / <li><a href="api-forms.html">API documentation</a></li>
      / /ui-body wrapper
    / /page
