-@title = "#{t('txt.jqgrid.name')} - #{t('txt.jqgrid.simple.name')} #{t('txt.jqgrid.simple.selection')}"
.demo
  %h3
    =@title
  %center
    %table#players_example03.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #players_example03_pager.scroll{ :style => "text-align:center;" }
    %br
    %button#players_example03_select_button
      Get ID of selected row