-@title = "#{t('txt.jqgrid.name')} - #{t('txt.jqgrid.simple.name')} #{t('txt.jqgrid.simple.direct')}"
.demo
  %h3
    =@title
  %center
    %table#players_example04.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #players_example04_pager.scroll{ :style => "text-align:center;" }