-@title = "#{t('txt.jqgrid.name')} - #{t('txt.jqgrid.subgrids.name')} #{t('txt.jqgrid.subgrids.default')}"
.demo
  %center
    %h3
      =image_tag("icons/22x22/grid.png", :border => 0)
      =@title
    %table#players_example10.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #players_example10_pager.scroll{ :style => "text-align:center;" }
    