:javascript  
  function handleSelection(id) {
    alert('ID selected : ' + id);
  }

= raw @grid

:javascript  
  jQuery("#players_example02_select_button").click( function(){ 
    var id = jQuery("#players_example02").jqGrid('getGridParam', 'selrow'); 
    if (id) { 
      handleSelection(id); 
    } else { 
      alert("Please select a row");
    }
    return false; 
  });
