:javascript
  $(function() {
    $("#players_example04_select_button").button();
    
    $("#players_example04_select_button").click(function() { 
      var id = $("#players_example04").jqGrid('getGridParam', 'selarrrow'); 
      alert('ID selected : ' + id);
    return false; 
    });    
  });
  
= raw @grid_players
