-@title = "#{t('txt.jqgrid.name')} - #{t('txt.jqgrid.subgrids.name')} #{t('txt.jqgrid.subgrids.default')}"
.demo
  %h3
    =@title
  %center
    %table#players_example10.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #players_example10_pager.scroll{ :style => "text-align:center;" }
    