-@title = "#{t('txt.jqgrid.name')} - #{t('txt.jqgrid.simple.name')} #{t('txt.jqgrid.simple.direct')}"
.demo
  %h3
    =image_tag("icons/22x22/grid.png", :border => 0)
    =@title
  %center
    %table#players_example03.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #players_example03_pager.scroll{ :style => "text-align:center;" }