-@title = "#{t('txt.jqgrid.name')} - #{t('txt.jqgrid.manipulation.name')} #{t('txt.jqgrid.manipulation.inline')}"
.demo
  %h3
    =@title
  %center
    %table#players_example06.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #players_example06_pager.scroll{ :style => "text-align:center;" }
