:javascript
  jQuery(function() {
    jQuery("#players_example05_select_button").button();
    
    jQuery("#players_example05_select_button").click(function() { 
      var id = jQuery("#players_example05").jqGrid('getGridParam', 'selarrrow'); 
      alert('ID selected : ' + id);
    return false; 
    });    
  });
  
= raw @grid_players
