-@browser_title = "#{t('txt.jqgrid.name')} - #{t('txt.jqgrid.simple.name')} #{t('txt.jqgrid.simple.default')}"
.demo
  %h3
    =@browser_title
  %center
    %table#players_example01.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #players_example01_pager.scroll{ :style => "text-align:center;" }
