/
  This sample illustrates template composition, including passing parameters to a {{tmpl}} tag.
:css
  .peopleTable td { border:2px solid #555; text-align:center; }
  .person{ background-color:#AFA; }
  .personAlt{ background-color:#9ED; }
  .citySeparator { background-color:#CCC; height:4px;}
  .separator { background-color:#C77; height:6px;}
  .peopleTable { border-collapse:collapse; border:2px solid #555; }
%script{:src => "http://code.jquery.com/jquery.js"}
%script{:src => "../../jquery.tmpl.js", :type => "text/javascript"}
%script{:src => "../../jquery.tmplPlus.js", :type => "text/javascript"}
:javascript
  var people = [
  	{
  		firstName: "John",
  		lastName: "Resig",
  		url: "http://ejohn.org/",
  		cities: [
  			{ name: "Boston", state: "MA" },
  			{ name: "San Francisco", state: "CA" }
  		]
  	},
  	{
  		firstName: "Dave",
  		lastName: "Reed",
  		url: "http://dave.org/"
  	},
  	{
  		firstName: "Boris",
  		lastName: "Moore",
  		url: "http://boris.org/",
  		cities: [
  			{ name: "Redmond", state: "WA" },
  			{ name: "Seattle", state: "WA" },
  			{ name: "New York", state: "NY" }
  		]
  	}
  ];
  
  function getName() {
  	return this.data.firstName + " " + this.data.lastName;
  }
  		 
  function alternate( item, array ) {
  	return ($.inArray( item, array ) % 2) ? "personAlt" : "person";
  }
  
  function cityNumber() {
  	return $.inArray( this.data, this.parent.data.cities ) + 1;
  }
  
  function getTemplate( key ) {
  	return $( "#tmpl" + key ).template();
  }
  
  $(function(){
  	$( ".peopleTable" )
  		.append( "#tmplPeople", people );
  	$( ".peopleTable" )
  		.append( "#tmplSeparator", {} );
  });
%script#tmplPeople{:type => "text/x-jquery-tmpl"}
  {{tmpl "#tmplSeparator"}}
  %tr{:class => "${alternate($data, people)}"}
    %td{:colspan => "2"}
      %a{:href => "${url}"} ${getName()}
  {{if cities}}
  {{tmpl(cities) getTemplate("City")}}
  {{/if}}
%script#tmplSeparator{:type => "text/x-jquery-tmpl"}
  %tr.separator
    %td{:colspan => "2"}
%script#tmplCitySeparator{:type => "text/x-jquery-tmpl"}
  %tr.citySeparator
    %td{:colspan => "2"}
%script#tmplCity{:type => "text/x-jquery-tmpl"}
  {{tmpl "#tmplCitySeparator"}}
  %tr{:class => "${alternate(this.parent.data, people)}"}
    %td{:colspan => "2"}
      %b
        %i City ${cityNumber()}:
  %tr{:class => "${alternate(this.parent.data, people)}"}
    %td
      %b ${name}
    %td ${state}
%table.peopleTable
  %tbody
