:css
  .tooltip{ display:none; width:165px; height:63px; position:absolute; padding:20px; color:#fff; background-color:#000; -moz-border-radius:4px; -webkit-border-radius:4px; }
  .test{ clear:left; }
  .trigger{ font-size:0.8em; }
   div.tip { background:transparent url(/images/jqtools/tooltip/black.png) 0 0 no-repeat; display:none; width:165px; height:63px; position:absolute; padding:20px; color:#fff; }
  .tip2 { border:1px solid #ccc; background-color:#000; color:#fff; padding:4px; font-size:11px; }

:javascript
  $(function() {
    $("a.trigger").button();

    $("#titled a").tooltip({ 
      delay: 300, 
      predelay: 0,
      effect: 'fade'
    });  
    $("#attr a").tooltip();
    $("#manual a").tooltip({ 
      delay: 300, 
      predelay: 0,
      effect: 'fade'
    });
    $("#same a").tooltip({ 
      tip: '#sametip', 
      delay: 50, 
      predelay: 110, 
      effect: 'fade' 
    });
    $("#bare a").tooltip({ tipClass: 'fool' });
    $("#slide a").tooltip({ effect: 'slide', opacity: 0.7 });
    
    $("#many a").tooltip({ tipClass: 'tip2', position: 'center right' });
    
    window.api = $("#click a").tooltip({
      tip: '#tip1', 
      position: "top",
      effect: 'toggle',
      cursor: true,
      events: {
        def: 'click,mouseout'
      }
    });
    $("#click a").next().click(function() {
      $(this).prev().tooltip().hide();			
    });
    
    // base configuration
    var conf = {
      tip: '#tip2', 
      position: ['top', 'left'], 
      offset: [-10, -10]
    };
    // topleft
    $("#dynamic a:eq(0)").tooltip(conf);
    $("#dynamic a:eq(1)").tooltip($.extend({}, conf)).dynamic();	
    // topright
    conf = $.extend(conf, {position: ['top', 'right'], effect: 'toggle', offset: [-10, 10]})
    $("#dynamic a:eq(2)").tooltip(conf);
    $("#dynamic a:eq(3)").tooltip($.extend({}, conf)).dynamic();
    // bottomleft
    conf = $.extend(conf, {position: ['bottom', 'left'], effect: 'toggle', offset: [10, -10]})
    $("#dynamic a:eq(4)").tooltip(conf);
    $("#dynamic a:eq(5)").tooltip($.extend({}, conf)).dynamic();
    // bottomright
    conf = $.extend(conf, {position: ['bottom', 'right'], effect: 'toggle', offset: [10, 10]})
    $("#dynamic a:eq(6)").tooltip(conf);
    $("#dynamic a:eq(7)").tooltip($.extend({}, conf)).dynamic();
    
    $("#positioning a").tooltip();
  });

