:css
  a:active { outline:none; }
  :focus { -moz-outline-style:none; }
  .tooltip { display:none; background:transparent url(/images/jqtools/tooltip/black_arrow.png); font-size:12px; height:70px; width:160px; padding:25px; color:#fff; }
  #dyna { padding-top:120px; }
  #dyna img { border:0; cursor:pointer; margin:0 8px; }
  .tooltip.bottom { background:url(/images/jqtools/tooltip/black_arrow_bottom.png); padding-top:40px; height:55px; }
  .tooltip.bottom { background:url(/images/jqtools/tooltip/black_arrow_bottom.png); }

:javascript
  $(document).ready(function() { 
    $("#dyna img[title]").tooltip({
      // tweak the position
      offset: [10, 2],
      // use the "slide" effect
      effect: 'slide'
      // add dynamic plugin with optional configuration for bottom edge
    }).dynamic({ bottom: { direction: 'down', bounce: true } });
  });

