-@title = "#{t('txt.jqtools.name')} - #{t('txt.jqtools.tooltip.name')} - #{t('txt.jqtools.tooltip.demo3')}"

- content_for :content_head do
  = render(:partial => "demo3.js.haml", :format => :js)

.demo
  %h3
    =image_tag("icons/22x22/jqtools.png", :border => 0)
    =@title/ End demo

.demo-description 
  #greybox
/ End demo-description
