-@title = "#{t('txt.jqtools.name')} - #{t('txt.jqtools.tooltip.name')} - #{t('txt.jqtools.tooltip.demo6')}"

- content_for :content_head do
  = render(:partial => "demo6.js.haml", :format => :js)

.demo
  %h3
    =image_tag("icons/22x22/jqtools.png", :border => 0)
    =@title
  #demo
    %img{:src => "/images/jqtools/img/1.jpg" }
    %img{:src => "/images/jqtools/img/2.jpg" }
    %img{:src => "/images/jqtools/img/3.jpg" }
    %img{:src => "/images/jqtools/img/4.jpg", :style => "margin-right:0px" }
/ End demo

.demo-description 
  #greybox
/ End demo-description
