:css
  .toggler { width: 500px; height: 200px; }
  #button { padding: .5em 1em; text-decoration: none; }
  #effect { width: 240px; height: 135px; padding: 0.4em; position: relative; }
  #effect h3 { margin: 0; padding: 0.4em; text-align: center; }
  label,select,.ui-select-menu { float: left; margin-right: 10px; }
  select { width: 120px; }

:javascript
  $(function() {
    $('select#effectTypes').selectmenu();
    $("button").button();

    //run the currently selected effect
    function runEffect(){
      //get effect type from
      var selectedEffect = $('#effectTypes').val();
      
      //most effect types need no options passed by default
      var options = {};
      //check if it's scale or size - they need options explicitly set
      if(selectedEffect == 'scale'){  options = {percent: 100}; }
      else if(selectedEffect == 'size'){ options = { to: {width: 280,height: 185} }; }
      
      //run the effect
      $("#effect").show(selectedEffect,options,500,callback);
    };
    
    //callback function to bring a hidden box back
    function callback(){
      setTimeout(function(){
      $("#effect:visible").removeAttr('style').hide().fadeOut();
      }, 1000);
    };
    
    //set effect from select menu value
    $("#button").click(function() {
      runEffect();
      return false;
    });
    
    $("#effect").hide();
  });
