:css
  #draggable, #draggable2 { width: 100px; height: 100px; padding: 0.5em; float: left; margin: 10px 10px 10px 0; }
  #droppable { width: 150px; height: 150px; padding: 0.5em; float: left; margin: 10px; }
    
:javascript
  $(function() {
    $("#draggable").draggable({ revert: 'valid' });
    $("#draggable2").draggable({ revert: 'invalid' });

    $("#droppable").droppable({
      activeClass: 'ui-state-hover',
      hoverClass: 'ui-state-active',
      drop: function(event, ui) {
        $(this).addClass('ui-state-highlight').find('p').html('Dropped!');
      }
    });
  });
