-@title = "#{t('txt.ui.name')} #{t('txt.ui.interactions.droppable.default')} - #{t('txt.ui.interactions.droppable.accepted-elements')}"

- content_for :head_scripts do
  = render :partial => "accepted_elements.js.haml", :format => :js

.demo
  %h3
    =image_tag("icons/22x22/jquery-ui.png", :border => 0)
    =@title
  #draggable-nonvalid.ui-widget-content
    %p
      I'm draggable but can't be dropped
  #draggable.ui-widget-content
    %p
      Drag me to my target
  #droppable.ui-widget-header
    %p
      accept: '#draggable'
/ End demo

.demo-description
  %p
    Specify using the
    %code
      accept
    option which element (or group of elements) is accepted by the target droppable\.
/ End demo-description
