-@title = "#{t('txt.ui.name')} #{t('txt.ui.interactions.droppable.default')} - #{t('txt.ui.interactions.droppable.propagation')}"

- content_for :content_head do
  = render :partial => "propagation.js.haml", :format => :js

.demo
  %h3
    =image_tag("icons/22x22/jquery-ui.png", :border => 0)
    =@title
  #draggable.ui-widget-content
    %p
      Drag me to my target
  #droppable.ui-widget-header
    %p
      Outer droppable
    #droppable-inner.ui-widget-header
      %p
        Inner droppable (not greedy)
  #droppable2.ui-widget-header
    %p
      Outer droppable
    #droppable2-inner.ui-widget-header
      %p
        Inner droppable (greedy)
/ End demo
.demo-description
  %p
    When working with nested droppables — for example, you may have an editable directory structure displayed as a tree, with folder and document nodes — the
    %code
      greedy
    option set to true prevents event propagation when a draggable is dropped on a child node (droppable).
/ End demo-description
