-@title = "#{t('txt.ui.name')} #{t('txt.ui.interactions.droppable.default')} - #{t('txt.ui.interactions.droppable.revert')}"

- content_for :content_head do
  = render :partial => "revert.js.haml", :format => :js

.demo
  %h3
    =image_tag("icons/22x22/jquery-ui.png", :border => 0)
    =@title
  #draggable.ui-widget-content
    %p
      I revert when I'm dropped
  #draggable2.ui-widget-content
    %p
      I revert when I'm not dropped
  #droppable.ui-widget-header
    %p
      Drop me here
/ End demo
.demo-description
  %p
    Return the draggable (or it's helper) to its original location when dragging stops with the boolean
    %code
      revert
    option set on the draggable.
/ End demo-description
