:css
  #the-content { border: 1px #666 solid; width: 300px; height: 300px; padding:0.5em; }

:javascript
  $(document).ready(function($) {
    function load(num) {
      $('#the-content').load(num);
    }

    $.history.init(function(url) {
      load(url == "" ? "ajax_1" : url);
    });

    $('#ajax-links a').live('click', function(e) {
      var url = $(this).attr('href');
      url = url.replace(/^.*#/, '');
      $.history.load(url);
      return false;
    });
  });

