:javascript
  $(function() {
    $("#tabs").tabs({
      ajaxOptions: {
        error: function(xhr, status, index, anchor) {
          $(anchor.hash).html("Couldn't load this tab. We'll try to fix this as soon as possible. If this wouldn't be a demo.");
        }
      }
    });
  });
  
  $(document).ready(function($) {
    function load(num) {
      $("#tabs").tabs("select", num);
    }
  
    $.history.init(function(url) {
      load(url == "" ? "1" : url.replace(/^.*ui-tabs-/, ''));
    });

    $(".pager") .live('click', function() {
      $("#tabs").tabs("select", eval($(this).val()));
    });
    
    // when the tab is selected update the url with the hash
    $("#tabs").live("tabsselect", function(event, ui) { 
      url = ui.tab.hash.replace(/^.*#/, '');
      //window.location.hash = ui.tab.hash;
      $.history.load(url);
      //return false;
    });
  });
