:javascript
  $(function() {
    $("#tabs-2a").tabs(options);
  });

.demo
  #tabs-2a
    %ul.ajax-links
      %li
        %a{:href => "mvc_2aA"}
          load 2aA.html
      %li
        %a{:href => "mvc_2aB"}
          load 2aB.html
