/* line 3, ../../../../app/stylesheets/jqtouch/apple.sass */
body, #jqt {
  background: rgb(0,0,0);
}

/* line 7, ../../../../app/stylesheets/jqtouch/apple.sass */
body > * {
  background: rgb(197,204,211) url("/images/jqtouch/apple/pinstripes.png");
}

/* line 12, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt > * {
  background: rgb(197,204,211) url("/images/jqtouch/apple/pinstripes.png");
}
/* line 15, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt h1, #jqt h2 {
  font: bold 18px "Helvetica Neue", Helvetica;
  text-shadow: rgba(255,255,255,.2) 0 1px 1px;
  color: rgb(76, 86, 108);
  margin: 10px 20px 6px;
}
/* line 21, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt .toolbar {
  -webkit-box-sizing: border-box;
  border-bottom: 1px solid #2d3642;
  padding: 10px;
  height: 45px;
  background: url("/images/jqtouch/apple/toolbar.png") #6d84a2 repeat-x;
  position: relative;
}
/* line 29, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt .black-translucent .toolbar {
  margin-top: 20px;
}

/* line 34, ../../../../app/stylesheets/jqtouch/apple.sass */
div#jqt .toolbar > h1 {
  position: absolute;
  overflow: hidden;
  left: 50%;
  top: 10px;
  line-height: 1em;
  margin: 1px 0 0 -75px;
  height: 40px;
  font-size: 20px;
  width: 150px;
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, 0.4) 0px -1px 0;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #fff;
}
/* line 51, ../../../../app/stylesheets/jqtouch/apple.sass */
div#jqt.landscape .toolbar > h1 {
  margin-left: -125px;
  width: 250px;
}

/* line 57, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt .button, #jqt .back, #jqt .cancel, #jqt .add {
  position: absolute;
  overflow: hidden;
  top: 8px;
  right: 6px;
  margin: 0;
  border-width: 0 5px;
  padding: 0 3px;
  width: auto;
  height: 30px;
  line-height: 30px;
  font-family: inherit;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 0;
  text-overflow: ellipsis;
  text-decoration: none;
  white-space: nowrap;
  background: none;
  -webkit-border-image: url("/images/jqtouch/apple/toolButton.png") 0 5 0 5;
}
/* line 79, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt .button.active, #jqt .cancel.active, #jqt .add.active {
  -webkit-border-image: url("/images/jqtouch/apple/toolButton.png") 0 5 0 5;
}
/* line 82, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt .blueButton {
  -webkit-border-image: url("/images/jqtouch/apple/actionButton.png") 0 5 0 5;
  border-width: 0 5px;
}
/* line 86, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt .back {
  left: 6px;
  right: auto;
  padding: 0;
  max-width: 55px;
  border-width: 0 8px 0 14px;
  -webkit-border-image: url("/images/jqtouch/apple/backButton.png") 0 8 0 14;
}
/* line 94, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt .back.active {
  -webkit-border-image: url("/images/jqtouch/apple/backButton.png") 0 8 0 14;
}
/* line 97, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt .leftButton, #jqt .cancel {
  left: 6px;
  right: auto;
}
/* line 101, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt .add {
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
}
/* line 106, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt .whiteButton, #jqt .grayButton, #jqt .redButton, #jqt .blueButton, #jqt .greenButton {
  display: block;
  border-width: 0 12px;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  text-decoration: inherit;
  color: inherit;
}
/* line 116, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt .whiteButton.active, #jqt .grayButton.active, #jqt .redButton.active, #jqt .blueButton.active, #jqt .greenButton.active, #jqt .whiteButton:active, #jqt .grayButton:active, #jqt .redButton:active, #jqt .blueButton:active, #jqt .greenButton:active {
  -webkit-border-image: url("/images/jqtouch/apple/activeButton.png") 0 12 0 12;
}
/* line 119, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt .whiteButton {
  -webkit-border-image: url("/images/jqtouch/apple/whiteButton.png") 0 12 0 12;
  text-shadow: rgba(255, 255, 255, 0.7) 0 1px 0;
}
/* line 123, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt .grayButton {
  -webkit-border-image: url("/images/jqtouch/apple/grayButton.png") 0 12 0 12;
  color: #FFFFFF;
}
/* line 127, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt .redButton {
  -webkit-border-image: url("/images/jqtouch/apple/redButton.png") 0 12 0 12;
  color: #FFFFFF;
}
/* line 131, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt .greenButton {
  -webkit-border-image: url("/images/jqtouch/apple/greenButton.png") 0 12 0 12;
  color: #FFFFFF;
}
/* line 135, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt h1 + ul, #jqt h2 + ul, #jqt h3 + ul, #jqt h4 + ul, #jqt h5 + ul, #jqt h6 + ul {
  margin-top: 0;
}
/* line 138, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt ul {
  color: black;
  background: #fff;
  border: 1px solid #B4B4B4;
  font: bold 17px "Helvetica Neue", Helvetica;
  padding: 0;
  margin: 15px 10px 17px 10px;
  -webkit-border-radius: 8px;
}
/* line 147, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt ul li {
  color: #666;
  border-top: 1px solid #B4B4B4;
  list-style-type: none;
  padding: 10px 10px 10px 10px;
}
/* line 154, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt li:first-child {
  border-top: 0;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
}
/* line 159, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt li:first-child a {
  border-top: 0;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
}
/* line 164, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt li:last-child {
  -webkit-border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
}
/* line 168, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt li:last-child a {
  -webkit-border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
}
/* line 172, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt ul li.arrow {
  background-image: url("/images/jqtouch/apple/chevron.png");
  background-position: right center;
  background-repeat: no-repeat;
}
/* line 177, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt ul li.arrow a {
  padding: 12px 22px 12px 10px;
}
/* line 180, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt #plastic ul li.arrow, #jqt #metal ul li.arrow {
  background-image: url("../images/chevron_dg.png");
  background-position: right center;
  background-repeat: no-repeat;
}
/* line 185, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt ul li a, #jqt li.img a + a {
  color: #000;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  padding: 12px 10px 12px 10px;
  margin: -10px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
/* line 199, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt ul li a.active {
  background: #194fdb url("/images/jqtouch/apple/selection.png") 0 0 repeat-x;
  color: #fff;
}
/* line 203, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt ul li a.button {
  background-color: #194fdb;
  color: #fff;
}
/* line 208, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt ul li.img a + a {
  margin: -10px 10px -20px -5px;
  font-size: 17px;
  font-weight: bold;
}
/* line 213, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt ul li.img a + a + a {
  font-size: 14px;
  font-weight: normal;
  margin-left: -10px;
  margin-bottom: -10px;
  margin-top: 0;
}
/* line 220, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt ul li.img a + small + a {
  margin-left: -5px;
}
/* line 223, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt ul li.img a + small + a + a {
  margin-left: -10px;
  margin-top: -20px;
  margin-bottom: -10px;
  font-size: 14px;
  font-weight: normal;
}
/* line 230, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt ul li.img a + small + a + a + a {
  margin-left: 0px !important;
  margin-bottom: 0;
}
/* line 234, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt ul li a + a {
  color: #000;
  font: 14px "Helvetica Neue", Helvetica;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
/* line 244, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt ul li a + a + a {
  color: #666;
  font: 13px "Helvetica Neue", Helvetica;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  padding: 0;
}
/* line 255, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt ul li.img a + a + a + a, #jqt ul li.img a + small + a + a + a {
  color: #666;
  font: 13px "Helvetica Neue", Helvetica;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  padding: 0;
}
/* line 265, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt ul.form li {
  padding: 7px 10px;
}
/* line 268, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt ul.form li.error {
  border: 2px solid red;
}
/* line 271, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt ul.form li.error + li.error {
  border-top: 0;
}
/* line 274, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt ul.form li:hover {
  background: #fff;
}
/* line 279, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt ul li input[type="text"], #jqt ul li input[type="password"], #jqt ul li input[type="tel"], #jqt ul li input[type="number"], #jqt ul li input[type="search"], #jqt ul li input[type="email"], #jqt ul li input[type="url"] {
  color: #777;
  background: #fff #inline_image("../.png");
  border: 0;
  font: normal 17px "Helvetica Neue", Helvetica;
  padding: 0;
  display: inline-block;
  margin-left: 0px;
  width: 100%;
  -webkit-appearance: textarea;
}
/* line 290, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt ul li textarea, #jqt ul li select {
  color: #777;
  background: #fff #inline_image("../.png");
  border: 0;
  font: normal 17px "Helvetica Neue", Helvetica;
  padding: 0;
  display: inline-block;
  margin-left: 0px;
  width: 100%;
  -webkit-appearance: textarea;
}
/* line 301, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt ul li textarea {
  height: 120px;
  padding: 0;
  text-indent: -2px;
}
/* line 306, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt ul li select {
  text-indent: 0px;
  background: transparent url("/images/jqtouch/apple/chevron.png") no-repeat 103% 3px;
  -webkit-appearance: textfield;
  margin-left: -6px;
  width: 104%;
}
/* line 314, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt ul li input[type="checkbox"], #jqt ul li input[type="radio"] {
  margin: 0;
  color: rgb(50,79,133);
  padding: 10px 10px;
}
/* line 319, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt ul li input[type="checkbox"]:after, #jqt ul li input[type="radio"]:after {
  content: attr(title);
  font: 17px "Helvetica Neue", Helvetica;
  display: block;
  width: 246px;
  margin: -12px 0 0 17px;
}
/* line 326, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt ul.edgetoedge {
  -webkit-border-radius: 0;
}
/* line 329, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt ul.edgetoedge li.sep {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(139, 159, 171, 1)), to(rgba(181, 193, 201, 1.0)));
  border-bottom: 1px solid #b5c1c9;
  border-top: 1px solid #b5c1c9;
  color: #fff;
  font-size: 16px;
  margin: 1px 0 0 0;
  padding: 2px 10px;
  text-shadow: #636a6f 0 1px 0;
}
/* line 339, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt .edgetoedge {
  margin: 0;
  padding: 0;
  background-color: rgb(255,255,255);
}
/* line 344, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt .edgetoedge h4 {
  color: #fff;
  background: rgb(154,159,170) url("/images/jqtouch/apple/listGroup.png") top left repeat-x;
  border-top: 1px solid rgb(165,177,186);
  text-shadow: #666 0 1px 0;
  margin: 0;
  padding: 2px 10px;
}
/* line 352, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt .metal {
  margin: 0;
  padding: 0;
  background-color: rgb(255,255,255);
}
/* line 357, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt .edgetoedge ul, #jqt .metal ul, #jqt .plastic ul {
  -webkit-border-radius: 0;
  margin: 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}
/* line 364, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt .metal ul {
  border-top: 0;
  border-bottom: 0;
  background: rgb(180,180,180);
}
/* line 370, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt .edgetoedge ul li:first-child, #jqt .edgetoedge ul li:last-child {
  -webkit-border-radius: 0;
}
/* line 373, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt .edgetoedge ul li:first-child a, #jqt .edgetoedge ul li:last-child a {
  -webkit-border-radius: 0;
}
/* line 377, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt .metal ul li:first-child a, #jqt .metal ul li:last-child a {
  -webkit-border-radius: 0;
}
/* line 381, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt .edgetoedge ul li small {
  font-size: 16px;
  line-height: 28px;
}
/* line 385, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt .edgetoedge li {
  -webkit-border-radius: 0;
}
/* line 388, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt .metal li {
  -webkit-border-radius: 0;
}
/* line 392, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt .edgetoedge li em {
  font-weight: normal;
  font-style: normal;
}
/* line 396, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt .edgetoedge h4 + ul {
  border-top: 1px solid rgb(152,158,164);
  border-bottom: 1px solid rgb(113,125,133);
}
/* line 401, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt ul li small {
  color: #369;
  font: 17px "Helvetica Neue", Helvetica;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  width: 23%;
  float: right;
  padding: 3px 0px;
}
/* line 413, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt ul li.arrow small {
  padding: 0 15px;
}
/* line 416, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt ul li small.counter {
  font-size: 17px !important;
  line-height: 13px !important;
  font-weight: bold;
  background: rgb(154,159,170);
  color: #fff;
  -webkit-border-radius: 11px;
  padding: 4px 10px 5px 10px;
  display: inline !important;
  width: auto;
  margin-top: -22px;
}
/* line 428, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt ul li.arrow small.counter {
  margin-right: 15px;
}
/* line 431, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt #plastic ul li.arrow, #jqt #metal ul li.arrow {
  background-image: url("/images/jqtouch/apple/listArrow.png");
  background-position: right center;
  background-repeat: no-repeat;
}
/* line 436, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt .edgetoedge ul, #jqt .metal ul, #jqt .plastic ul {
  -webkit-border-radius: 0;
  margin: 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}
/* line 443, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt .metal ul li {
  border-top: 1px solid rgb(238,238,238);
  border-bottom: 1px solid rgb(156,158,165);
  background: url("../images/bgMetal.png") top left repeat-x;
  font-size: 26px;
  text-shadow: #fff 0 1px 0;
}
/* line 450, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt .metal ul li a {
  line-height: 26px;
  margin: 0;
  padding: 13px 0;
}
/* line 455, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt .metal ul li a:hover {
  color: rgb(0,0,0);
}
/* line 458, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt .metal ul li:hover small {
  color: inherit;
}
/* line 461, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt .metal ul li a em {
  display: block;
  font-size: 14px;
  font-style: normal;
  color: #444;
  width: 50%;
  line-height: 14px;
}
/* line 469, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt .metal ul li small {
  float: right;
  position: relative;
  margin-top: 10px;
  font-weight: bold;
}
/* line 475, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt .metal ul li.arrow {
  background: url("/images/jqtouch/apple/bgMetal.png") top left repeat-x,;
}
/* line 479, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt .metal ul li url("../images/chevron_dg.png") right center no-repeat a small {
  padding-right: 0;
  line-height: 17px;
}
/* line 483, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt .plastic {
  margin: 0;
  padding: 0;
  background: rgb(173,173,173);
}
/* line 488, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt .plastic ul {
  -webkit-border-radius: 0;
  margin: 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  background-color: rgb(173,173,173);
}
/* line 496, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt .plastic ul li {
  -webkit-border-radius: 0;
  border-top: 1px solid rgb(191,191,191);
  border-bottom: 1px solid rgb(157,157,157);
}
/* line 501, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt .plastic ul li:nth-child(odd) {
  background-color: rgb(152,152,152);
  border-top: 1px solid rgb(181,181,181);
  border-bottom: 1px solid rgb(138,138,138);
}
/* line 506, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt .plastic ul + p {
  font-size: 11px;
  color: #2f3237;
  text-shadow: none;
  padding: 10px 10px;
}
/* line 512, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt .plastic ul + p strong {
  font-size: 14px;
  line-height: 18px;
  text-shadow: #fff 0 1px 0;
}
/* line 518, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt .plastic ul li a {
  text-shadow: rgb(211,211,211) 0 1px 0;
}
/* line 521, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt .plastic ul li:nth-child(odd) a {
  text-shadow: rgb(191,191,191) 0 1px 0;
}
/* line 524, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt .plastic ul li small {
  color: #3C3C3C;
  text-shadow: rgb(211,211,211) 0 1px 0;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 24px;
}
/* line 533, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt #plastic ul.minibanner {
  margin: 10px;
  border: 0;
  height: 81px;
  clear: both;
}
/* line 539, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt #plastic ul.bigbanner {
  margin: 10px;
  border: 0;
  height: 81px;
  clear: both;
  height: 140px !important;
}
/* line 546, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt #plastic ul.minibanner li {
  border: 1px solid rgb(138,138,138);
  background-color: rgb(152,152,152);
  width: 145px;
  height: 81px;
  float: left;
  -webkit-border-radius: 5px;
  padding: 0;
}
/* line 555, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt #plastic ul.bigbanner li {
  border: 1px solid rgb(138,138,138);
  background-color: rgb(152,152,152);
  width: 296px;
  height: 140px;
  float: left;
  -webkit-border-radius: 5px;
  padding: 0;
  margin-bottom: 4px;
}
/* line 566, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt #plastic ul.minibanner li:first-child {
  margin-right: 6px;
}
/* line 569, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt #plastic ul.minibanner li a {
  color: transparent;
  text-shadow: none;
  display: block;
  width: 145px;
  height: 81px;
}
/* line 576, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt #plastic ul.bigbanner li a {
  color: transparent;
  text-shadow: none;
  display: block;
  width: 296px;
  height: 145px;
}
/* line 583, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt ul.individual {
  border: 0;
  background: none;
  clear: both;
  overflow: hidden;
}
/* line 589, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt ul.individual li {
  color: rgb(183,190,205);
  background: white;
  border: 1px solid rgb(180,180,180);
  font-size: 14px;
  text-align: center;
  -webkit-border-radius: 8px;
  -webkit-box-sizing: border-box;
  width: 48%;
  float: left;
  display: block;
  padding: 11px 10px 14px 10px;
}
/* line 602, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt ul.individual li + li {
  float: right;
}
/* line 605, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt ul.individual li a {
  color: rgb(50,79,133);
  line-height: 16px;
  margin: -11px -10px -14px -10px;
  padding: 11px 10px 14px 10px;
  -webkit-border-radius: 8px;
}
/* line 612, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt ul.individual li a:hover {
  color: #fff;
  background: #36c;
}
/* line 616, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt .toggle {
  width: 94px;
  position: relative;
  height: 27px;
  display: block;
  overflow: hidden;
  float: right;
}
/* line 624, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt .toggle input[type="checkbox"] {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  margin: 0;
  -webkit-border-radius: 5px;
  background: #fff url("/images/jqtouch/apple/on_off.png") 0 0 no-repeat;
  height: 27px;
  overflow: hidden;
  width: 149px;
  border: 0;
  -webkit-appearance: textarea;
  background-color: transparent;
  -webkit-transition: left .15s;
  position: absolute;
  top: 0;
  left: -55px;
}
/* line 640, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt .toggle input[type="checkbox"]:checked {
  left: 0px;
}
/* line 643, ../../../../app/stylesheets/jqtouch/apple.sass */
#jqt .info {
  background: #dce1eb;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  text-shadow: rgba(255,255,255,.8) 0 1px 0;
  color: rgb(76, 86, 108);
  padding: 15px;
  border-top: 1px solid rgba(76, 86, 108, .3);
  font-weight: bold;
}
