/* line 2, ../../../../app/stylesheets/jqtouch/iphone.sass */
/* line 5, ../../../../app/stylesheets/jqtouch/iphone-emulator.scss */
.iphone .emulator {
  background: url('/images/jqtouch/iphone_fullsize.png?1271792630') no-repeat;
  width: 416px;
  height: 754px;
}
/* line 9, ../../../../app/stylesheets/jqtouch/iphone-emulator.scss */
.iphone .emulator .display-area {
  position: relative;
  top: 152px;
  width: 320px;
  height: 460px;
  max-height: 460px;
  color: white;
}
/* line 16, ../../../../app/stylesheets/jqtouch/iphone-emulator.scss */
.iphone .emulator .display-area a {
  color: #ff5500;
}

/* line 6, ../../../../app/stylesheets/jqtouch/iphone.sass */
/* line 13, ../../../../app/stylesheets/jqtouch/iphone.sass */
