/* line 3, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 7, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 10, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
#jqt {
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;
  font-family: "Helvetica Neue", Helvetica;
  -webkit-perspective: 800;
  -webkit-transform-style: preserve-3d;
}
/* line 16, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
#jqt .selectable, #jqt input, #jqt textarea {
  -webkit-user-select: auto;
}
/* line 18, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
#jqt.notransform {
  -webkit-transform: none !important;
}
/* line 20, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
#jqt > * {
  -webkit-backface-visibility: hidden;
  -webkit-box-sizing: border-box;
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  -webkit-transform: translate3d(0, 0, 0) rotate(0) scale(1);
  min-height: 420px !important;
  overflow-x: hidden;
}
/* line 31, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
#jqt.fullscreen > * {
  min-height: 460px !important;
}
/* line 33, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
#jqt.fullscreen.black-translucent > * {
  min-height: 480px !important;
}
/* line 35, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
#jqt.landscape > * {
  min-height: 320px !important;
}
/* line 37, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
#jqt > .current {
  display: block !important;
}
/* line 39, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
#jqt .in, #jqt .out {
  -webkit-animation-duration: 350ms;
  -webkit-transition-timing-function: cubic-bezier(0.5, 0.2, 0.3, 1);
}
/* line 43, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
#jqt .slide.in {
  -webkit-animation-name: slideinfromright;
}
/* line 45, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
#jqt .slide.out {
  -webkit-animation-name: slideouttoleft;
}
/* line 47, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
#jqt .slide.in.reverse {
  -webkit-animation-name: slideinfromleft;
}
/* line 49, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
#jqt .slide.out.reverse {
  -webkit-animation-name: slideouttoright;
}
/* line 52, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
#jqt .fade.in {
  z-index: 10;
  -webkit-animation-name: fadein;
}
/* line 55, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
#jqt .fade.out {
  z-index: 0;
}
/* line 58, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
#jqt .dissolve.in {
  -webkit-animation-name: fadein;
}
/* line 60, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
#jqt .dissolve.out {
  -webkit-animation-name: fadeout;
}
/* line 62, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
#jqt .flip {
  -webkit-animation-duration: 0.65s;
}
/* line 64, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
#jqt .flip.in {
  -webkit-animation-name: flipinfromleft;
}
/* line 66, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
#jqt .flip.out {
  -webkit-animation-name: flipouttoleft;
}
/* line 68, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
#jqt .flip.in.reverse {
  -webkit-animation-name: flipinfromright;
}
/* line 70, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
#jqt .flip.out.reverse {
  -webkit-animation-name: flipouttoright;
}
/* line 73, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
#jqt .slideup.in {
  -webkit-animation-name: slideup;
  z-index: 10;
}
/* line 76, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
#jqt .slideup.out {
  -webkit-animation-name: dontmove;
  z-index: 0;
}
/* line 79, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
#jqt .slideup.out.reverse {
  z-index: 10;
  -webkit-animation-name: slidedown;
}
/* line 82, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
#jqt .slideup.in.reverse {
  z-index: 0;
  -webkit-animation-name: dontmove;
}
/* line 85, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
#jqt .swap {
  -webkit-transform: perspective(800);
  -webkit-animation-duration: 0.7s;
}
/* line 88, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
#jqt .swap.out {
  -webkit-animation-name: swapouttoleft;
}
/* line 90, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
#jqt .swap.in {
  -webkit-animation-name: swapinfromright;
}
/* line 92, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
#jqt .swap.out.reverse {
  -webkit-animation-name: swapouttoright;
}
/* line 94, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
#jqt .swap.in.reverse {
  -webkit-animation-name: swapinfromleft;
}
/* line 96, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
#jqt .cube {
  -webkit-animation-duration: 0.55s;
}
/* line 98, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
#jqt .cube.in {
  -webkit-animation-name: cubeinfromright;
  -webkit-transform-origin: 0% 50%;
}
/* line 101, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
#jqt .cube.out {
  -webkit-animation-name: cubeouttoleft;
  -webkit-transform-origin: 100% 50%;
}
/* line 104, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
#jqt .cube.in.reverse {
  -webkit-animation-name: cubeinfromleft;
  -webkit-transform-origin: 100% 50%;
}
/* line 107, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
#jqt .cube.out.reverse {
  -webkit-animation-name: cubeouttoright;
  -webkit-transform-origin: 0% 50%;
}
/* line 110, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
#jqt .pop {
  -webkit-transform-origin: 50% 50%;
}
/* line 112, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
#jqt .pop.in {
  -webkit-animation-name: popin;
  z-index: 10;
}
/* line 115, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
#jqt .pop.out.reverse {
  -webkit-animation-name: popout;
  z-index: 10;
}
/* line 118, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
#jqt .pop.in.reverse {
  z-index: 0;
  -webkit-animation-name: dontmove;
}

@-webkit-keyframes slideinfromright {
  /* line 123, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
  from {
    -webkit-transform: translateX(100%);
  }

  /* line 125, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
  to {
    -webkit-transform: translateX(0);
  }
}

@-webkit-keyframes slideinfromleft {
  /* line 130, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
  from {
    -webkit-transform: translateX(-100%);
  }

  /* line 132, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
  to {
    -webkit-transform: translateX(0);
  }
}

@-webkit-keyframes slideouttoleft {
  /* line 137, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
  from {
    -webkit-transform: translateX(0);
  }

  /* line 139, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
  to {
    -webkit-transform: translateX(-100%);
  }
}

@-webkit-keyframes slideouttoright {
  /* line 144, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
  from {
    -webkit-transform: translateX(0);
  }

  /* line 146, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
  to {
    -webkit-transform: translateX(100%);
  }
}

@-webkit-keyframes fadein {
  /* line 151, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
  from {
    opacity: 0;
  }

  /* line 153, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  /* line 158, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
  from {
    opacity: 1;
  }

  /* line 160, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
  to {
    opacity: 0;
  }
}

/* Shake it all about */
@-webkit-keyframes flipinfromright {
  /* line 167, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
  from {
    -webkit-transform: rotateY(-180deg) scale(0.8);
  }

  /* line 169, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
  to {
    -webkit-transform: rotateY(0) scale(1);
  }
}

@-webkit-keyframes flipinfromleft {
  /* line 174, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
  from {
    -webkit-transform: rotateY(180deg) scale(0.8);
  }

  /* line 176, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
  to {
    -webkit-transform: rotateY(0) scale(1);
  }
}

@-webkit-keyframes flipouttoleft {
  /* line 181, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
  from {
    -webkit-transform: rotateY(0) scale(1);
  }

  /* line 183, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
  to {
    -webkit-transform: rotateY(-180deg) scale(0.8);
  }
}

@-webkit-keyframes flipouttoright {
  /* line 188, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
  from {
    -webkit-transform: rotateY(0) scale(1);
  }

  /* line 190, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
  to {
    -webkit-transform: rotateY(180deg) scale(0.8);
  }
}

@-webkit-keyframes slideup {
  /* line 195, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
  from {
    -webkit-transform: translateY(100%);
  }

  /* line 197, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
  to {
    -webkit-transform: translateY(0);
  }
}

@-webkit-keyframes slidedown {
  /* line 202, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
  from {
    -webkit-transform: translateY(0);
  }

  /* line 204, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
  to {
    -webkit-transform: translateY(100%);
  }
}

/* Hackish, but reliable. */
@-webkit-keyframes dontmove {
  /* line 211, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
  from, to {
    opacity: 1;
  }
}

@-webkit-keyframes swapouttoright {
  /* line 216, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
  0% {
    -webkit-transform: translate3d(0px, 0px, 0px) rotateY(0deg);
    -webkit-animation-timing-function: ease-in-out;
  }

  /* line 219, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
  50% {
    -webkit-transform: translate3d(-180px, 0px, -400px) rotateY(20deg);
    -webkit-animation-timing-function: ease-in;
  }

  /* line 222, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
  100% {
    -webkit-transform: translate3d(0px, 0px, -800px) rotateY(70deg);
  }
}

@-webkit-keyframes swapouttoleft {
  /* line 227, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
  0% {
    -webkit-transform: translate3d(0px, 0px, 0px) rotateY(0deg);
    -webkit-animation-timing-function: ease-in-out;
  }

  /* line 230, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
  50% {
    -webkit-transform: translate3d(180px, 0px, -400px) rotateY(-20deg);
    -webkit-animation-timing-function: ease-in;
  }

  /* line 233, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
  100% {
    -webkit-transform: translate3d(0px, 0px, -800px) rotateY(-70deg);
  }
}

@-webkit-keyframes swapinfromright {
  /* line 238, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
  0% {
    -webkit-transform: translate3d(0px, 0px, -800px) rotateY(70deg);
    -webkit-animation-timing-function: ease-out;
  }

  /* line 241, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
  50% {
    -webkit-transform: translate3d(-180px, 0px, -400px) rotateY(20deg);
    -webkit-animation-timing-function: ease-in-out;
  }

  /* line 244, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
  100% {
    -webkit-transform: translate3d(0px, 0px, 0px) rotateY(0deg);
  }
}

@-webkit-keyframes swapinfromleft {
  /* line 249, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
  0% {
    -webkit-transform: translate3d(0px, 0px, -800px) rotateY(-70deg);
    -webkit-animation-timing-function: ease-out;
  }

  /* line 252, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
  50% {
    -webkit-transform: translate3d(180px, 0px, -400px) rotateY(-20deg);
    -webkit-animation-timing-function: ease-in-out;
  }

  /* line 255, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
  100% {
    -webkit-transform: translate3d(0px, 0px, 0px) rotateY(0deg);
  }
}

@-webkit-keyframes cubeinfromleft {
  /* line 260, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
  from {
    -webkit-transform: rotateY(-90deg) translateZ(320px);
    opacity: 0.5;
  }

  /* line 263, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
  to {
    -webkit-transform: rotateY(0deg) translateZ(0);
    opacity: 1;
  }
}

@-webkit-keyframes cubeouttoright {
  /* line 269, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
  from {
    -webkit-transform: rotateY(0deg) translateX(0);
    opacity: 1;
  }

  /* line 272, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
  to {
    -webkit-transform: rotateY(90deg) translateZ(320px);
    opacity: 0.5;
  }
}

@-webkit-keyframes cubeinfromright {
  /* line 278, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
  from {
    -webkit-transform: rotateY(90deg) translateZ(320px);
    opacity: 0.5;
  }

  /* line 281, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
  to {
    -webkit-transform: rotateY(0deg) translateZ(0);
    opacity: 1;
  }
}

@-webkit-keyframes cubeouttoleft {
  /* line 287, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
  from {
    -webkit-transform: rotateY(0deg) translateZ(0);
    opacity: 1;
  }

  /* line 290, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
  to {
    -webkit-transform: rotateY(-90deg) translateZ(320px);
    opacity: 0.5;
  }
}

@-webkit-keyframes popin {
  /* line 296, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
  from {
    -webkit-transform: scale(0.2);
    opacity: 0;
  }

  /* line 299, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
  to {
    -webkit-transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes popout {
  /* line 305, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
  from {
    -webkit-transform: scale(1);
    opacity: 1;
  }

  /* line 308, ../../../../app/stylesheets/jqtouch/jqtouch.scss */
  to {
    -webkit-transform: scale(0.2);
    opacity: 0;
  }
}
