@-webkit-keyframes slideinfromright { from { -webkit-transform: translateX(100%); }
  to { -webkit-transform: translateX(0); } }

* { margin: 0; padding: 0; }

a { -webkit-tap-highlight-color: rgba(0,0,0,0); }

body { overflow-x: hidden; -webkit-user-select: none; -webkit-text-size-adjust: none; font-family: Helvetica; -webkit-perspective: 800; -webkit-transform-style: preserve-3d; }

.selectable, input, textarea { -webkit-user-select: auto; }

body > * { -webkit-backface-visibility: hidden; -webkit-box-sizing: border-box; display: none; position: absolute; left: 0; width: 100%; -webkit-transform: translate3d(0,0,0) rotate(0) scale(1); min-height: 420px !important; }
body.fullscreen > * { min-height: 460px !important; }
body.fullscreen.black-translucent > * { min-height: 480px !important; }
body.landscape > * { min-height: 320px; }
body > .current { display: block !important; }

.in, .out { -webkit-animation-timing-function: ease-in-out; -webkit-animation-duration: 350ms; }

.slide.in { -webkit-animation-name: slideinfromright; }
.slide.out { -webkit-animation-name: slideouttoleft; }
.slide.in.reverse { -webkit-animation-name: slideinfromleft; }
.slide.out.reverse { -webkit-animation-name: slideouttoright; }
