@-webkit-keyframes slideinfromright {
  /* line 4, ../../../../app/stylesheets/jqtouch/jqtouch.sass */
  from {
    -webkit-transform: translateX(100%);
  }

  /* line 7, ../../../../app/stylesheets/jqtouch/jqtouch.sass */
  to {
    -webkit-transform: translateX(0);
  }
}

/* line 12, ../../../../app/stylesheets/jqtouch/jqtouch.sass */
* {
  margin: 0;
  padding: 0;
}

/* line 17, ../../../../app/stylesheets/jqtouch/jqtouch.sass */
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* line 21, ../../../../app/stylesheets/jqtouch/jqtouch.sass */
div#jqt {
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;
  font-family: "Helvetica Neue", Helvetica;
  -webkit-perspective: 800;
  -webkit-transform-style: preserve-3d;
}

/* line 30, ../../../../app/stylesheets/jqtouch/jqtouch.sass */
#jqt .selectable, #jqt input, #jqt textarea {
  -webkit-user-select: auto;
}

/* line 34, ../../../../app/stylesheets/jqtouch/jqtouch.sass */
div#jqt > * {
  -webkit-backface-visibility: hidden;
  -webkit-box-sizing: border-box;
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  -webkit-transform: translate3d(0,0,0) rotate(0) scale(1);
  min-height: 420px !important;
}

/* line 47, ../../../../app/stylesheets/jqtouch/jqtouch.sass */
#jqt.fullscreen > * {
  min-height: 460px !important;
}
/* line 50, ../../../../app/stylesheets/jqtouch/jqtouch.sass */
#jqt.fullscreen.black-translucent > * {
  min-height: 480px !important;
}
/* line 53, ../../../../app/stylesheets/jqtouch/jqtouch.sass */
#jqt.landscape > * {
  min-height: 320px !important;
}

/* line 57, ../../../../app/stylesheets/jqtouch/jqtouch.sass */
div#jqt > .current {
  display: block !important;
}

/* line 62, ../../../../app/stylesheets/jqtouch/jqtouch.sass */
#jqt .in, #jqt .out {
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-duration: 350ms;
}
/* line 67, ../../../../app/stylesheets/jqtouch/jqtouch.sass */
#jqt .slide.in {
  -webkit-animation-name: slideinfromright;
}
/* line 70, ../../../../app/stylesheets/jqtouch/jqtouch.sass */
#jqt .slide.out {
  -webkit-animation-name: slideouttoleft;
}
/* line 73, ../../../../app/stylesheets/jqtouch/jqtouch.sass */
#jqt .slide.in.reverse {
  -webkit-animation-name: slideinfromleft;
}
/* line 76, ../../../../app/stylesheets/jqtouch/jqtouch.sass */
#jqt .slide.out.reverse {
  -webkit-animation-name: slideouttoright;
}
