- content_for :head_scripts do
  :javascript
    $(function() {
      $("#accordionDemo").accordion({
        fillSpace: true
      });
    });

    $(function() {
      $("#accordionDemoResizer").resizable({
        resize: function() {
          $("#accordionDemo").accordion("resize");
        },
        minHeight: 140
      });
    });

- content_for :license do
  = render :partial => "ui/license"
