@import blueprint/screen.sass
@import blueprint/modules/scaffolding.sass
@import blueprint/modules/liquid.sass
@import compass/reset.sass
@import compass/utilities.sass
+blueprint-liquid-grid
@import partials/formrow
@import partials/contextMenu

=site-actions
#site-actions
  :float right
  +horizontal-list
  select
    :margin-top 0

=header
#header
  :height 4em
  #headline
    +column(17)
    img
      :padding 0em 0em 0em 0em
      :height 4em
    h2
      :padding 0.5em 0em 0em 0em
      :background none
      :border 0
  #site
    +column(6)
    +site-actions
    :padding 1em 0em 0em 0em
=navigation
#navigation
  :padding 0.5em 0em 0em 0em

=footer
#footer
  #legalese
    +column(20)
  #footer-links
    +column(3,true)

=content
#content
  :padding 0.6em 0em 0em 0em

=two-column(!header, !left, !center, !footer)
  #{!header}, #{!footer}
    +column(24)
  #{!left}
    +column(6)
    +navigation
  #{!center}
    +column(17)
    +content
    +footer