@import "blueprint";
@import "blueprint/liquid";
@import "compass/reset";
@import "compass/utilities";

@include blueprint-liquid-grid;

@import "partials/design";
@import "partials/formrow";
@import "jquery/ui/contextMenu";
@import "jquery/ui/flash_messages";

@mixin site-actions {
 }

#site-actions {
  float: right;
  @include horizontal-list; }

@mixin header {
 }

#header {
  height: 5em;
  vertical-align: middle;
  #headline {
    @include column(16);
    img {
      padding: 0em 0em 0em 0.5em;
      height: 5em; }
    h2 {
      padding: 0.6em 0em 0em 0em;
      background: none;
      border: 0; } }
  #site {
    @include column(8, last);
    @include site-actions;
    padding: 1.7em 0em 0em 0em; }
    .ui-button-icon-only{ height: 1.65em; width: 1.65em; }  }

@mixin navigation {
 }

#navigation {
  padding: 0.5em 0em 0em 0em;
  font-size: 1.0em;
  h3 {
    margin-bottom: 0em; }
 	.ui-widget-header, .ui-widget-border { 
 	  padding: 0.3em 0.5em 0.3em 0.5em; } }


@mixin footer {
 }

#footer {
  padding: 0.5em;
  #legalese {
 } }

@mixin content {
 }

#content {
  padding: 0.6em 0em 0em 0em; }

@mixin two-column($header, $left, $center, $footer) {
  #{$header} {
    @include column(24, last); }
  #{$left} {
    @include column(6);
    @include navigation; }
  #{$center} {
    @include column(18, last);
    @include content;
    #{$footer} {
      @include footer; } } }
