body {
  font-family: segoe ui, verdana, arial, helvetica, sans-serif;
  .ui-dialog {
    font-size: 0.8em; } }

#site-actions {
	select {
  	height: 1.65em;
    width: 6em;
    margin-top: 0; } 
	a.customicons {	
		height: 11px; }
  .customicons li a, a.customicons span.ui-selectmenu-status {
  	line-height: 1em; padding-left: 30px !important; }
  .en .ui-selectmenu-item-icon, .de .ui-selectmenu-item-icon { 
  	height: 11px; width: 16px; }
  .en .ui-selectmenu-item-icon { 
  	background: url("/images/icons/flags/gb.png") 0 0 no-repeat; }	
  .de .ui-selectmenu-item-icon { 
  	background: url("/images/icons/flags/de.png") 0 0 no-repeat; } }
  	