-@browser_title = "#{t('txt.jqgrid.name')} - #{t('txt.jqgrid.simple.name')} #{t('txt.jqgrid.simple.selection')}"
.demo
  %h3
    =@browser_title
  %center
    %table#users_2.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #users_2_pager.scroll{ :style => "text-align:center;" }
    %a#users_2_select_button{ :href => "#" }
      Get ID of selected row