:javascript  
  function handleSelection(id) {
    alert('ID selected : ' + id);
  }
    
= raw jqgrid("Football users", "users_2", "/jqgrid/users", [ { :field => "id", :label => "ID" }, { :field => "pseudo", :label => "Pseudo" }, { :field => "firstname", :label => "Firstname" }, { :field => "lastname", :label => "Lastname" }, { :field => "email", :label => "Email" }, { :field => "role", :label => "Role" } ], { :height => :auto, :selection_handler => "handleSelection", :search => false } )
		