-@browser_title = "#{t('txt.jqgrid.name')} - #{t('txt.jqgrid.simple.name')} #{t('txt.jqgrid.simple.multiple')}"
.demo
  %h3
    =@browser_title
  %center
    %table#users_4.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #users_4_pager.scroll{ :style => "text-align:center;" }
    %a#users_4_select_button{ :href => "#" }
      Get IDs of selected rows