:javascript  
  function handleSelection(id) {
    alert('ID selected : ' + id);
  }

= raw jqgrid("Football users", "users_4", "/jqgrid/users", [ { :field => "id", :label => "ID", :width => 35, :resizable => false }, { :field => "pseudo", :label => "Pseudo" }, { :field => "firstname", :label => "Firstname" }, { :field => "lastname", :label => "Lastname" }, { :field => "email", :label => "Email" }, { :field => "role", :label => "Role" } ], { :height => :auto, :selection_handler => "handleSelection", :multi_selection => true, :rownumbers => true } )
		