-@browser_title = "#{t('txt.jqgrid.name')} - #{t('txt.jqgrid.subgrids.name')} #{t('txt.jqgrid.subgrids.selection')}"
.demo
  %h3
    =@browser_title
  %table#players_11.scroll{ :cellspacing => "0", :cellpadding => "0" }
  #players_11_pager.scroll{ :style => "text-align:center;" }
