-@browser_title = "#{t('txt.jqgrid.name')} - #{t('txt.jqgrid.manipulation.name')} #{t('txt.jqgrid.manipulation.modal')}"
.demo
  %h3
    =@browser_title
  %center
    #submit_errors{ :style => "background-color: #ffcdd1; border: 2px solid #e10c0c; display:none" }
    %table#users_7.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #users_7_pager.scroll{ :style => "text-align:center;" }