= jqgrid("Football Players", "players_5", "/jqgrid/users", [ { :field => "id", :label => "ID", :width => 35, :resizable => false }, { :field => "pseudo", :label => "Pseudo" }, { :field => "firstname", :label => "Firstname" }, { :field => "lastname", :label => "Lastname" }, { :field => "email", :label => "Email" }, { :field => "role", :label => "Role" } ], { :height => "480", :master_details => true, :details_url => "/jqgrid/users/pets", :details_caption => "Pets" } )

= jqgrid("Pets", "players_5_details", "/jqgrid/users/pets", [ { :field => "id", :label => "ID", :width => 35, :resizable => false }, { :field => "name", :label => "Name", :width => 500, :align => 'center' } ] )
		