-@title = "#{t('txt.jqgrid.name')} - #{t('txt.jqgrid.subgrids.name')} #{t('txt.jqgrid.subgrids.default')}"
.demo
  %h3
    =@title
  %center
    %table#users_10.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #users_10_pager.scroll{ :style => "text-align:center;" }