-@title = "#{t('txt.jqgrid.name')} - #{t('txt.jqgrid.simple.name')} #{t('txt.jqgrid.simple.default')}"
.demo
  %h3
    =@title
  %center
    %table#users.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #users_pager.scroll{ :style => "text-align:center;" }