-@title = "#{t('txt.jqgrid.name')} - #{t('txt.jqgrid.subgrids.name')} #{t('txt.jqgrid.subgrids.selection')}"
.demo
  %h3
    =@title
  %center
    %table#users_12.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #users_12_pager.scroll{ :style => "text-align:center;" }
