-@browser_title = "#{t('txt.jqgrid.name')} - #{t('txt.jqgrid.manipulation.name')} #{t('txt.jqgrid.manipulation.input')}"
.demo
  %h3
    =@browser_title
  %center
    %table#users_8.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #users_8_pager.scroll{ :style => "text-align:center;" }