:javascript
  function afterSubmit(r, data, action) {
    if(r.responseText != "") { // If an error message is returned
      $('#submit_errors').html("<h1>Error</h1>\n<p>"+r.responseText+"</p>");
      $('#submit_errors').slideDown(); // Show div with error message      
      window.setTimeout(function() { // Hide error div after 6 seconds
        $('#submit_errors').slideUp();
      }, 6000);
      return false; // Don't remove this!
    }
    return true; // Don't remove this!
  }

= jqgrid("Football users", "users_7", "/jqgrid/users", [ { :field => "id", :label => "ID", :width => 35, :resizable => false }, { :field => "pseudo", :label => "Pseudo", :editable => true }, { :field => "firstname", :label => "Firstname", :editable => true }, { :field => "lastname", :label => "Lastname", :editable => true }, { :field => "email", :label => "Email", :editable => true }, { :field => "role", :label => "Role", :editable => true, :edittype => "select", :editoptions => { :value => [["admin","admin"], ["user", "user"], ["defender","defender"]] } } ], { :height => "480", :add => true, :edit => true, :inline_edit => false, :delete => true, :edit_url => "/jqgrid/users/post_data", :error_handler => "afterSubmit" }, ", closeAfterEdit: true", ", closeAfterAdd: true", "")
		