-@browser_title = "#{t('txt.jqgrid.name')} - #{t('txt.jqgrid.improvements.name')}"
.demo
  %h3
    =@browser_title
  //%table#players_13.scroll{ :cellspacing => "0", :cellpadding => "0" }
  //#players_13_pager.scroll{ :style => "text-align:center;" }
