-@title = "#{t('txt.jqgrid.name')} - #{t('txt.jqgrid.simple.name')} #{t('txt.jqgrid.simple.master')}"
.demo
  %h3
    =@title
  %center
    %table#users_5.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #users_5_pager.scroll{ :style => "text-align:center;" }
    %br
    %table#users_5_details.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #users_5_details_pager.scroll{ :style => "text-align:center;" }