-@browser_title = "#{t('txt.jqgrid.name')} - #{t('txt.jqgrid.simple.name')} #{t('txt.jqgrid.simple.direct')}"
.demo
  %h3
    =@browser_title
  %table#players_3.scroll{ :cellspacing => "0", :cellpadding => "0" }
  #players_3_pager.scroll{ :style => "text-align:center;" }