-@browser_title = "#{t('txt.jqgrid.name')} - #{t('txt.jqgrid.simple.name')} #{t('txt.jqgrid.simple.master')}"
.demo
  %h3
    =@browser_title
  %center
    %table#players_5.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #players_5_pager.scroll{ :style => "text-align:center;" }
    %br
    %table#players_5_details.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #players_5_details_pager.scroll{ :style => "text-align:center;" }