-@browser_title = "#{t('txt.jqgrid.name')} - #{t('txt.jqgrid.manipulation.name')} #{t('txt.jqgrid.manipulation.datepicker')}"
.demo
  %h3
    =@browser_title
  %center
    %table#players_with_datepicker.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #players_with_datepicker_pager.scroll{ :style => "text-align:center;" }