-@title = "#{t('txt.jqgrid.name')} - #{t('txt.jqgrid.improvements.name')}"
.demo
  %h3
    =@title
  %center
    %table#users_13.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #users_13_pager.scroll{ :style => "text-align:center;" }
