-@title = "#{t('txt.jqgrid.name')} - #{t('txt.jqgrid.manipulation.name')} #{t('txt.jqgrid.manipulation.datepicker')}"
.demo
  %h3
    =@title
  %center
    %table#users_with_datepicker.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #users_with_datepicker_pager.scroll{ :style => "text-align:center;" }