- content_for :head_stylesheets do
  :css
    .ui-dialog { font-size: 62.5%; }

- content_for :head_scripts do
  :javascript
    $.fx.speeds._default = 1000;
    $(function() {
      $('#dialog').dialog({
        autoOpen: false,
        show: 'blind',
        hide: 'explode'
      });
      $('#opener')
      .button()
      .click(function() {
        $('#dialog').dialog('open');
        return false;
      });
    });

- content_for :license do
  = render :partial => "ui/license"
