- content_for :head_stylesheets do
  :css
    .ui-dialog { font-size: 62.5%; }

- content_for :head_scripts do
  :javascript
    $(function() {
      $("#dialog").dialog({
        bgiframe: true,
        resizable: false,
        height:140,
        width:300,
        modal: true,
        overlay: {
          backgroundColor: '#000',
          opacity: 0.5
        },
        buttons: {
          'Delete all items in recycle bin': function() {
            $(this).dialog('close');
          },
          Cancel: function() {
            $(this).dialog('close');
          }
        }
      });
    });

- content_for :license do
  = render :partial => "ui/license"
