:css
  .ui-dialog { font-size: 62.5%; }
        
:javascript
  $(function() {
    $("#dialog").dialog({
      bgiframe: true,
      modal: true,
      buttons: {
        Ok: function() {
          $(this).dialog('close');
        }
      }
    });
  });
