-@title = "#{t('txt.ui.name')} #{t('txt.ui.widgets.dialog.default')} - #{t('txt.ui.widgets.dialog.animated')}"
= render :partial => "animated.js.haml", :format => :js
     
.demo
  %h3
    =image_tag("icons/22x22/jquery-ui.png", :border => 0)
    =@title
  #dialog{ :title => "Basic dialog" }
    %p
      This is an animated dialog which is useful for displaying information.
      The dialog window can be moved, resized and closed with the 'x' icon.
  %button#opener
    Open Dialog
/ End demo

.demo-description
  %p
    Dialogs may be animated by specifying an effect for the show and/or hide properties.
    You must include the individual effects file for any effects you would like to use.
/ End demo-description
