-@title = "#{t('txt.ui.name')} #{t('txt.ui.widgets.dialog.default')} - #{t('txt.ui.widgets.dialog.modal-message')}"
= render :partial => "modal_message.js.haml", :format => :js
     
.demo
  %h3
    =image_tag("icons/22x22/jquery-ui.png", :border => 0)
    =@title
  #dialog{ :title => "Download complete" }
    %p
      %span.ui-icon.ui-icon-circle-check{ :style => "float:left; margin:0 7px 50px 0;" }
      Your files have downloaded successfully into the My Downloads folder.
    %p
      Currently using
      %b
        36% of your storage space
      \.
  / Sample page content to illustrate the layering of the dialog
  .hiddenInViewSource{ :style => "padding:20px;" }
    %p
      Sed vel diam id libero
      %a{ :href => "http://example.com" }
        rutrum convallis
      \. Donec aliquet leo vel magna. Phasellus rhoncus faucibus ante. Etiam bibendum, enim faucibus aliquet rhoncus, arcu felis ultricies neque, sit amet auctor elit eros a lectus.
    %form
      %input{ :value => "text input" }
      %br
      %input{ :type => "checkbox" }
      checkbox
      %br
      %input{ :type => "radio" }
      radio
      %br
      %select
        %option
          select
      %br
      %br
      %textarea
        textarea
      %br
  / End sample page content
/ End demo
.demo-description
  %p
    Use a modal dialog to explicitly acknowledge information or an action before continuing their work.  Set the
    %code
      modal
    option to true, and specify a primary action (Ok) with the
    %code
      buttons
    option.
/ End demo-description
