!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
  %body
    %div{"data-role" => "page"}
      %div{"data-role" => "header"}
        %h1 :visible Selector
      #visible1{"data-role" => "content", "data-theme" => "c"}
        %h2.jq-clearfix.roundTop.section-title
          %span.name visible
          selector
        .entry-details
          %h4.name
            %span.versionAdded>
              version added:
              %a{:href => "/version/1.0/"} 1.0
            jQuery(':visible')
          %p.desc
            %strong> Description:
            Selects all elements that are visible.
          .longdesc
            %p Elements can be considered hidden for several reasons:
            %ul
              %li They have a display value of none.
              %li They are form elements with type="hidden".
              %li Their width and height are explicitly set to 0.
              %li An ancestor element is hidden, so the element is not shown on the page.
            %p
              How
              %code :visible
              is calculated was changed in jQuery 1.3.2. The
              %a{:href => "http://docs.jquery.com/Release:jQuery_1.3.2#:visible.2F:hidden_Overhauled"} release notes
              outline the changes in more detail.
          %h3 Example:
          #entry-examples.entry-examples
            #example-0
              %h4
                %span.desc Make all visible divs turn yellow on click.
              %pre
                %code.example.demo-code
                  :preserve
                    &lt;!DOCTYPE html&gt;
                    &lt;html&gt;
                    &lt;head&gt;
                      &lt;style&gt;
                      div { width:50px; height:40px; margin:5px; border:3px outset green; float:left; }
                      .starthidden { display:none; }
                      &lt;/style&gt;
                      &lt;script src="http://code.jquery.com/jquery-latest.js"&gt;&lt;/script&gt;
                    &lt;/head&gt;
                    &lt;body&gt;
                    	&lt;button&gt;Show hidden to see they don't change&lt;/button&gt;
                      &lt;div&gt;&lt;/div&gt;
                      &lt;div class="starthidden"&gt;&lt;/div&gt;
                      &lt;div&gt;&lt;/div&gt;
                    
                      &lt;div&gt;&lt;/div&gt;
                      &lt;div style="display:none;"&gt;&lt;/div&gt;
                    &lt;script&gt;
                        $("div:visible").click(function () {
                          $(this).css("background", "yellow");
                        });
                        $("button").click(function () {
                          $("div:hidden").show("fast");
                        });
                    
                    &lt;/script&gt;
                    &lt;/body&gt;
                    &lt;/html&gt;              %h4 Demo:
              .demo.code-demo
