:javascript
  $(function() {
    function log(message) {
      $("<div/>").text(message).prependTo("#log");
      $("#log").attr("scrollTop", 0);
    }
    		
    $("#birds").autocomplete({
      source: "auto_complete_for_bird_name",
      minLength: 2,
      select: function(event, ui) {
        log(ui.item ? ("Selected: " + ui.item.value + " aka " + ui.item.id) : "Nothing selected, input was " + this.value);
      }
    });
  });