:javascript
	$(function() {
		function log(message) {
			$("<div/>").text(message).prependTo("#log");
			$("#log").attr("scrollTop", 0);
		}
		
		var cache = {};
		$("#birds").autocomplete({
			source: function(request, response) {
				if (cache.term == request.term && cache.content) {
					response(cache.content);
				}
				if (new RegExp(cache.term).test(request.term) && cache.content && cache.content.length < 13) {
					var matcher = new RegExp($.ui.autocomplete.escapeRegex(request.term), "i");
					response($.grep(cache.content, function(value) {
						return matcher.test(value.value)
					}));
				}
				$.ajax({
					url: "auto_complete_for_bird_name",
					dataType: "json",
					data: request,
					success: function(data) {
						cache.term = request.term;
						cache.content = data;
						response(data);
					}
				});
			},
			minLength: 2,
			select: function(event, ui) {
				log(ui.item ? ("Selected: " + ui.item.value + " aka " + ui.item.id) : "Nothing selected, input was " + this.value);
			}
		});
	});