-@title = "#{t('txt.ui.name')} #{t('txt.ui.widgets.autocomplete.default')} - #{t('txt.ui.widgets.autocomplete.custom')}"
-@jquery_partial = 'custom.js.haml'
      
.demo
  %h3
    =@title
/ End demo
.demo-description
  %p
    Click headers to expand/collapse content that is broken into logical sections, much like tabs.
    Optionally, toggle sections open/closed on mouseover.
  %p
    The underlying HTML markup is a series of headers (H3 tags) and content divs so the content is
    usable without JavaScript.
/ End demo-description
