-@title = "#{t('txt.ui.name')} #{t('txt.ui.widgets.autocomplete.default')} - #{t('txt.ui.widgets.autocomplete.jsonp')}"
-@jquery_partial = 'jsonp.js.haml'
      
.demo
  %h3
    =@title
  .ui-widget
    %label{ :for => "city" }
      Your city:
    %input#city
      Powered by
    %a{ :href => "http://geonames.org" }
      geonames.org
  .ui-widget{ :style => "margin-top:2em; font-family:Arial" }
    Result:
    #log.ui-widget-content{ :style => "height: 200px; width: 300px; overflow: auto;" }
/ End demo

.demo-description
  %p
    The Autocomplete widgets provides suggestions while you type into the field. Here the suggestions are cities, displayed when at least two characters are entered into the field.
  %p
    In this case, the datasource is the
    %a{ :href => "http://geonames.org" }
      geonames.org webservice
    \. While only the city name itself ends up in the input after selecting an element, more info is displayed in the suggestions to help find the right entry. That data is also available in callbacks, as illustrated by the Result area below the input.
/ End demo-description
