-@title = "#{t('txt.ui.name')} #{t('txt.ui.widgets.autocomplete.default')} - #{t('txt.ui.widgets.autocomplete.remote-with-cache')}"

- content_for :content_head do
  = render(:partial => "remote_with_cache.js.haml", :format => :js)
     
.demo
  %h3
    =@title
  .ui-widget
    %label{ :for => "birds" }
      Birds:
    %input#birds
  .ui-widget{ :style => "margin-top:2em; font-family:Arial" }
    Result:
    #log.ui-widget-content{ :style => "height: 200px; width: 300px; overflow: auto;" }
  / End demo

.demo-description
  %p
    The Autocomplete widgets provides suggestions while you type into the field.
    Here the suggestions are bird names, displayed when at least two characters
    are entered into the field.
  %p
    Similar to the remote datasource demo, though this adds some local caching to improve
    performance. The cache here saves just one query, and could be extended to cache multiple values,
    one for each term.
/ End demo-description