-@title = "#{t('txt.ui.name')} #{t('txt.ui.utilities.widget.default')} - #{t('txt.ui.default')}"
= render :partial => "default.js.haml", :format => :js

.demo
  %h3
    =image_tag("icons/22x22/jquery-ui.png", :border => 0)
    =@title
  %div
    #my-widget1 color me
    #my-widget2 color me
    #my-widget3 color me
    %br
    %a#disable Toggle disabled option
    %a#black Go black
/ End demo
.demo-description
  %p
    This demo shows a simple custom widget built using the widget factory (jquery.ui.widget.js).
  %p
    The three boxes are initialized in different ways. Clicking them changes their background color. View source to see how it works,
    its heavily commented.
  %p
    For more details on the widget factory, visit the
    %a{:href => "http://wiki.jqueryui.com/w/page/12138135/Widget-factory"} jQuery UI planning wiki.
/ End demo-description
