%style{:type => "text/css", :media => "screen"}
  :plain
    html, body { margin: 0; padding: 0 }
    
:javascript   
  $(function() {
    $("a", ".demo").button();
    
    $.fn.position2 = function(options) {
      return this.position($.extend({
        of: window,
        using: function(to) {
          $(this).css({
            top: to.top,
            left: to.left
          })
        },
        collision: "none"
      }, options));
    }
    
    $.fn.left = function(using) {
      return this.position2({
        my: "right middle",
        at: "left middle",
        offset: "25 0",
        using: using
      });
    }
    
    $.fn.right = function(using) {
      return this.position2({
        my: "left middle",
        at: "right middle",
        offset: "-25 0",
        using: using
      });
    }
    
    $.fn.center = function(using) {
      return this.position2({
        my: "center middle",
        at: "center middle",
        using: using
      });
    };
    
    $("img:eq(0)").left();
    $("img:eq(1)").center();
    $("img:eq(2)").right();
    
    $("body").css({
      overflow: "hidden"
    })
    $(".demo").css({
      position: "relative",
    });
    $(".demo img").css({
      position: "absolute",
    });
    
    function animate(to) {
      $(this).animate(to);
    }
    function next() {
      $("img:eq(2)").center(animate);
      $("img:eq(1)").left(animate)
      $("img:eq(0)").right().appendTo(".demo");
    }
    function previous() {
      $("img:eq(0)").center(animate);
      $("img:eq(1)").right(animate);
      $("img:eq(2)").left().prependTo(".demo");
    }
    $("#previous").click(previous);
    $("#next").click(next);
    
    $(".demo img").click(function() {
      $(".demo img").index(this) == 0 ? previous() : next();
    });
    
    $(window).resize(function() {
      $("img:eq(0)").left(animate);
      $("img:eq(1)").center(animate);
      $("img:eq(2)").right(animate);
    })
  });
        