!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
  %body
    %div{"data-role" => "page"}
      %div{"data-role" => "header"}
        %h1 jQuery.isXMLDoc()
      %div{"data-role" => "content", "data-theme" => "c", :id => "jQuery.isXMLDoc1"}
        %h2.jq-clearfix.roundTop.section-title
          %span.name jQuery.isXMLDoc( node )
          %span.returns
            Returns:
            %a.return{:href => "http://docs.jquery.com/Types#Boolean"} Boolean
        .entry-details
          %p.desc
            %strong> Description:
            Check to see if a DOM node is within an XML document (or is an XML document).
          %ul.signatures
            %li.signature{:id => "jQuery.isXMLDoc-node"}
              %h4.name
                %span.versionAdded>
                  version added:
                  %a{:href => "/category/version/1.1.4/"} 1.1.4
                jQuery.isXMLDoc( node )
              %p.arguement
                %strong> node
                The DOM node that will be checked to see if it's in an XML document.
          %h3 Example:
          #entry-examples.entry-examples
            #example-0
              %h4
                %span.desc Check an object to see if it's in an XML document.
              %pre
                %code.example
                  :preserve
                    jQuery.isXMLDoc(document) // false
                    jQuery.isXMLDoc(document.body) // false