:javascript
  var galleryInit = 0;
  var galleryCell = 0;
  var hunting = 0;
  var jQT = new $.jQTouch({
    icon: '/images/demo/touch/demo2/museum.png',
    addGlossToIcon: true,
    startupScreen: '/images/demo/touch/demo2/museum_startup.png',
    statusBar: 'black',
    cacheGetRequests: false,
    slideSelector:'.slide-right',
    preloadImages: [
      '/images/demo/touch/demo2/opacity_4.png',
      '/images/demo/touch/demo2/back_button.png',
      '/images/demo/touch/demo2/back_button_clicked.png',
      '/images/demo/touch/demo2/button_clicked.png',
      '/images/demo/touch/demo2/grayButton.png',
      '/images/demo/touch/demo2/whiteButton.png',
      '/images/demo/touch/demo2/loading.gif',
      '/images/demo/touch/demo2/icon_user.png',
      '/images/demo/touch/demo2/icon_users.png',
      '/images/demo/touch/demo2/palette.png',
      '/images/demo/touch/demo2/picture-frame.png',
      '/images/demo/touch/demo2/map.png',
      '/images/demo/touch/demo2/map_grey.png',
      '/images/demo/touch/demo2/pic_tech.png',
      '/images/demo/touch/demo2/icon_case.png',
      '/images/demo/touch/demo2/house.png',
      '/images/demo/touch/demo2/gear2.png',
      '/images/demo/touch/demo2/photos.png',
      '/images/demo/touch/demo2/clapboard.png',
      '/images/demo/touch/demo2/tools.png'
    ]
  });

  //you will find that jQTouch fails to appropriately identify the initial orientation
  //do to the fact that not all components are loaded before firing $.ready
  $(window).load(function(){
    $(document.body).trigger('orientationchange');
  });
  
  // show image event
  $('#show_image a').tap(function(){
    jQT.goBack();	
    return false;
  });
  
  // Some Javascript functions:
  $(function(){
    jQT.resetHeight();
    
    jQT.generateGallery("photo", 
      [
        {
          src:"http://www.nasa.gov/images/content/450090main_image_1653_946-710.jpg",
          width: 946,
          height: 710
        },
        {src:"/jqtouch/test-image-1.jpg",caption:"A test caption for the generator"},
        {src:"http://www.thinkgeek.com/images/products/front/b597_rock_paper_scissors_lizard_spock.jpg"},
        {src:"http://rlv.zcache.com/theres_no_place_like_127_0_0_1_tshirt-p235602976566783086tmn7_313.jpg"},
        {src:"http://www.thinkgeek.com/images/products/front/lg-capsaicin.jpg"},
        {src:"http://imgs.xkcd.com/comics/in_ur_reality.png"},
        {src:"http://www.thinkgeek.com/images/products/front/power.jpg"},
        {src:"http://imgs.xkcd.com/store/imgs/stand_back_square_0.png"},
        {src:"/jqtouch/test-image-4.jpg"},
        {src:"http://www.thinkgeek.com/images/products/front/zombie_repellent_crayon.jpg"},
        {src:"http://imgs.xkcd.com/store/imgs/sudo_square_0.png"},
        {src:"http://ladyzee.files.wordpress.com/2007/06/geek.jpg"},
        {src:"http://imgs.xkcd.com/store/imgs/just_shy_square_0.png"},
        {src:"/jqtouch/test-image-3.jpg"},
        {src:"http://farm5.static.flickr.com/4048/4620214378_da454753f2.jpg"},
        {src:"http://www.thinkgeek.com/images/products/front/ac0b_Electronic_Drum_Kit_Shirt.gif"},
        {src:"http://imgs.xkcd.com/comics/chess_photo.png"},
        {src:"http://farm5.static.flickr.com/4068/4635718507_389ca9b2e7.jpg"},
        {src:"http://imgs.xkcd.com/comics/asshole.png"},
        {src:"/jqtouch/test-image-2.jpg"},
        {src:"http://www.thinkgeek.com/images/products/front/obey-gravity.jpg"},
        {src:"http://farm3.static.flickr.com/2556/3833582019_a0c7593e5c.jpg"},
        {src:"http://antwrp.gsfc.nasa.gov/apod/image/1005/rheaepimetheus_cassini.jpg"},
        {src:"http://www.yeshua-do.com/jom/images/stories/einstein_tongue.jpg"},
        {src:"http://fc07.deviantart.net/fs71/f/2010/155/a/6/a63f0de1d27516832f2ce1474efc6be4.png"},
        {src:"http://fc07.deviantart.net/fs71/i/2010/154/8/5/sun_shower_by_jyoujo.jpg"},
        {src:"http://grin.hq.nasa.gov/IMAGES/MEDIUM/GPN-2000-000762.jpg"},
        {src:"http://i572.photobucket.com/albums/ss167/derekabril/einstein_010.png"},
        {src:"http://grin.hq.nasa.gov/IMAGES/MEDIUM/GPN-2000-000058.jpg"},
        {src:"http://fc05.deviantart.net/fs71/i/2010/153/5/f/tR_Minimal_Concept_by_kAtz93.png"},
        {src:"http://grin.hq.nasa.gov/IMAGES/MEDIUM/GPN-2000-000439.jpg"},
        {src:"http://antwrp.gsfc.nasa.gov/apod/image/1005/ic443_franke900.jpg"},
        {src:"/jqtouch/test-image-1.jpg",caption:"A test caption for the generator"},
        {src:"http://www.thinkgeek.com/images/products/front/b597_rock_paper_scissors_lizard_spock.jpg?2"},
        {src:"http://rlv.zcache.com/theres_no_place_like_127_0_0_1_tshirt-p235602976566783086tmn7_313.jpg?2"},
        {src:"http://www.thinkgeek.com/images/products/front/lg-capsaicin.jpg?2"},
        {src:"http://imgs.xkcd.com/comics/in_ur_reality.png?2"},
        {src:"http://www.thinkgeek.com/images/products/front/power.jpg?2"},
        {src:"http://imgs.xkcd.com/store/imgs/stand_back_square_0.png?2"},
        {src:"/jqtouch/test-image-4.jpg?2"},
        {src:"http://www.thinkgeek.com/images/products/front/zombie_repellent_crayon.jpg?2"},
        {src:"http://imgs.xkcd.com/store/imgs/sudo_square_0.png?2"},
        {src:"http://ladyzee.files.wordpress.com/2007/06/geek.jpg?2"},
        {src:"http://imgs.xkcd.com/store/imgs/just_shy_square_0.png?2"},
        {src:"/jqtouch/test-image-3.jpg?2"},
        {src:"http://farm5.static.flickr.com/4048/4620214378_da454753f2.jpg?2"},
        {src:"http://www.thinkgeek.com/images/products/front/ac0b_Electronic_Drum_Kit_Shirt.gif?2"},
        {src:"http://imgs.xkcd.com/comics/chess_photo.png?2"},
        {src:"http://farm5.static.flickr.com/4068/4635718507_389ca9b2e7.jpg?2"},
        {src:"http://imgs.xkcd.com/comics/asshole.png?2"},
        {src:"/jqtouch/test-image-2.jpg?2"},
        {src:"http://www.thinkgeek.com/images/products/front/obey-gravity.jpg?2"},
        {src:"http://farm3.static.flickr.com/2556/3833582019_a0c7593e5c.jpg?2"},
        {src:"http://antwrp.gsfc.nasa.gov/apod/image/1005/rheaepimetheus_cassini.jpg?2"},
        {src:"http://www.yeshua-do.com/jom/images/stories/einstein_tongue.jpg?2"},
        {src:"http://fc07.deviantart.net/fs71/f/2010/155/a/6/a63f0de1d27516832f2ce1474efc6be4.png?2"},
        {src:"http://fc07.deviantart.net/fs71/i/2010/154/8/5/sun_shower_by_jyoujo.jpg?2"},
        {src:"http://grin.hq.nasa.gov/IMAGES/MEDIUM/GPN-2000-000762.jpg?2"},
        {src:"http://i572.photobucket.com/albums/ss167/derekabril/einstein_010.png?2"},
        {src:"http://grin.hq.nasa.gov/IMAGES/MEDIUM/GPN-2000-000058.jpg?2"},
        {src:"http://fc05.deviantart.net/fs71/i/2010/153/5/f/tR_Minimal_Concept_by_kAtz93.png?2"},
        {src:"http://grin.hq.nasa.gov/IMAGES/MEDIUM/GPN-2000-000439.jpg?2"},
        {src:"http://antwrp.gsfc.nasa.gov/apod/image/1005/ic443_franke900.jpg?2"},
      ],
      {defaultIndex:5}
    );
    jQT.generateGallery("photo2",
      [
        {src:"http://www.nasa.gov/images/content/450090main_image_1653_946-710.jpg"},
        {src:"/images/demo/touch/mobione/test01.jpg",caption:"Test Image 1"},
        {src:"/images/demo/touch/mobione/test02.jpg",caption:"Test Image 2"},
        {src:"http://rlv.zcache.com/css_is_awesome_mug-p1687164350719819282objs_210.jpg",caption:"CSS is Awesome"},
        {src:"/images/demo/touch/mobione/test03.jpg"}
      ]);
    
    // Orientation callback event
    $('#jqt').bind('turn', function(e, data){
      $div = $(".current").attr("id");
      if (data.orientation == 'landscape'){
        ("#tabbar").hide();
      } else if (($div != 'show_image') && ($div != 'floor_plan') && ($div != 'gallery') && ($div != 'hunt')) {
        if ((hunting==0)) { 
          $("#tabbar").show();
        }
      }
      if ($div == 'gallery') {
        if (data.orientation == 'landscape'){
          $("div.centering").attr("class", "centering landscape");
        } else {
          $("div.centering").attr("class", "centering portrait");
        }
        window.setTimeout( function() { window.scrollTo(0, 0); }, 100 );
      }
    });
    
    // Page animation callback events
    $('#jqt').live('pageAnimationStart', function(e, info){
      $("#switching").removeClass("hide_switching").addClass("show_switching");
      var myOrient = jQT.getOrientation();
      if (e.target.id == 'home'){
          if (myOrient != 'landscape') {
            $("#tabbar").show();
          }
          hunting=0;
        }
        if ((e.target.id == 'show_image')||(e.target.id == 'floor_plan')||(e.target.id == 'gallery')||(e.target.id == 'hunt')) {
          if (info.direction =='in') {
            $("#tabbar").hide();
          } else if ((myOrient != 'landscape') && (hunting==0)) {
            $("#tabbar").show();
          }
        }
        if ((e.target.id == 'gallery') && (galleryInit == 0) && (info.direction =='in')){
          flickr(function (images) {
            zflow(images, "#tray");
          });
        } else if  (e.target.id == 'hunt'){
          if (info.direction =='in') {
            if (hunting==0) {
              chooseHunt();
              document.getElementById('sw-done').style.display="inline";
              document.getElementById('hunt_clue').style.display="none";
              document.getElementById('hunt_text').style.display="inline";
              document.getElementById('hunt_image').style.display="none";
              document.getElementById('clue_button').style.display="none";
            }
          } else if (hunting==0) {
            SpinningWheel.destroy();
        }
      }
      if ((e.target.id == 'gallery_list') && (galleryInit == 1) && (info.direction =='in')) {
        // DELETE THE PREVIOUS zflow
        zflowCleanup("#tray");
      }
    }).live('pageAnimationEnd', function(e, info) {
      $("#switching").removeClass("show_switching").addClass("hide_switching");
      if (info.direction =='in') {
        if (e.target.id == 'gallery') {
          var div = document.getElementById('show_image');
          if (div) {
            div.parentNode.removeChild(div);  //take the show_image out so it will reload
          }
        }
      }
    });
  });
  
  function flickr(callback)
  {
    var url = "http://api.flickr.com/services/rest/?method=flickr.interestingness.getList&api_key=60746a125b4a901f2dbb6fc902d9a716&per_page=20&format=json&jsoncallback=?";
    
    jQuery.getJSON(url, function(data) 
    {
      var images = jQuery.map(data.photos.photo, function (item) {
          return 'http://farm' + item.farm + '.static.flickr.com/' + item.server + '/' + item.id + '_' + item.secret + '_m.jpg';
      });    
      callback(images);
    });
  };
  
  $(document).ready(function() { // Init - keeps the user from scrolling the panel
    window.scrollTo(0,0);
    document.addEventListener('touchmove', function(e){ e.preventDefault(); return false; }, false);
    // document.onselectstart=new Function ("return false"); // Disables selections
  });

:css
  #jqt .toolbar { background: url("/images/demo/touch/demo2/toolbar.png") repeat-x; }
  #jqt #home, #jqt #gallery2, #jqt #horizontal, #jqt #more, #jqt #facilities, #jqt #artwork_styles, #jqt #artwork_types, #jqt #curators, #jqt #gallery_list { background: url("/images/demo/touch/demo2/background.png") repeat-x; }
  #jqt #home ul.rounded, #jqt #gallery2 ul.rounded, #jqt #horizontal ul.rounded, #jqt #more ul.rounded, #jqt #facilities ul, #jqt #artwork_styles ul.rounded, #jqt #artwork_types ul.rounded, #jqt #curators ul.rounded, #jqt #gallery_list ul { -webkit-background-clip: none; background: url("/images/demo/touch/demo2/charcoal_opacity_8.png"); background-color: none; color: none; border-width: 2px ; }
  #jqt #gallery_list h2 { -webkit-background-clip: none; background: url("/images/demo/touch/demo2/charcoal_opacity_8.png"); color: White; }
  #jqt #home li.arrow, #jqt #gallery2 li.arrow, #jqt #horizontal li.arrow, #jqt #more li.arrow, #jqt #facilities li.arrow, #jqt #artwork_styles li.arrow, #jqt #artwork_types li.arrow, #jqt #curators li.arrow, #jqt #gallery_list li.arrow { -webkit-background-clip: none; background-image: url("/images/demo/touch/demo2/charcoal_opacity_8.png"), url("/images/demo/touch/jqt/chevron.png"); background-repeat: repeat, no-repeat; background-color: none; border-width: 2px ; }
  
  .art_pic { max-width:320px; max-height:220px; }
  
  #jqt #home li.arrow { margin:0; padding-top:2px !important; }
  #jqt #home li img { position: relative; top: 5px; left: 0px; border:0; margin:0; padding-right: 10px; }
  
  #about { padding: 100px 10px 40px; text-shadow: rgba(255, 255, 255, 0.3) 0px -1px 0; font-size: 13px; text-align: center; background: #161618; }
  #about p { margin-bottom: 8px; }
  #about a { color: #fff; font-weight: bold; text-decoration: none; }
  
  .profile #show_image img { max-width:320px !important; max-height:460px !important; }
  .landscape #show_image img { max-width:480px !important; max-height:300px !important; }
  .profile #floor_plan .vertical-scroll { height:410px; overflow:hidden; }
  .profile .vertical-scroll, .vertical-slide { height:350px; overflow:hidden; }
  .landscape .vertical-scroll, .landscape .vertical-slide { height:250px; overflow:hidden; }
  
  .slide-container,.scroll-container{text-align:center;/*outline:2px solid red;*/}
  .slide-container > img,.scroll-container > img{vertical-align:middle;}
