-@browser_title = "jQTouch &beta;"

- content_for :head_scripts do
  = render :partial => "jqt.js.haml", :format => :js
  = render :partial => "sw.js.haml",  :format => :js
  = render :partial => "tab.js.haml", :format => :js

#jqt
  #about.selectable
    %center
      %p
        %img{:src => "/images/demo/touch/demo2/museum.png"}
      %p
        %strong
          Demo
        %br
        Version 1.0 beta
        %br
        %a{:href => ""} By Chris Couper
      %p
        %em A tour of some JQT capabilities.
      %p
        %br
        %br
        Copyright 2010 by
        %br
        Christopher C. Couper
      %p
        %br
        %br
        %a.grayButton.goback{:href => "#"} Close
  #gallery2
    .toolbar
      %a.back{ :href => "#back" } 
        Back
      %h1
        Photo Gallery
    .vertical-scroll
      %div
        %ul.rounded
          %li.arrow
            %a.slide-right{:href => "#photo"}
              %img{:src => "/images/demo/touch/demo2/photos.png"}
              Photo Gallery
            %small.counter 63
        %ul.rounded
          %li.arrow
            %a.slide-right{:href => "#photo2"}
              %img{:src => "/images/demo/touch/demo2/photos.png"}
              Photo Gallery 2
            %small.counter 5
        %ul.rounded
          %li.arrow
            %a.slide-right{:href => "javascript:jQT.goToSlide('#photo',15)"}
              %img{:src => "/images/demo/touch/demo2/photos.png"}
              Jump to a slide
            %small.counter 63
  #gallery_list
    .toolbar
      %h1
        Behind the Scenes
      %a.back{:href => "#"}
        Back
    .vertical-scroll
      %div
        %ul.rounded
          %li.arrow
            %a.slide-right{:href => "gallery?id=1"}
              %img{:src => "/images/demo/touch/demo2/photos.png"}
              \&nbsp;Flickr Gallery
          %li.arrow
            %a.slide-right{:href => "gallery?id=1"}
              %img{:src => "/images/demo/touch/demo2/photos.png"}
              \&nbsp;Flickr Gallery
          %li.arrow
            %a.slide-right{:href => "gallery?id=1"}
              %img{:src => "/images/demo/touch/demo2/photos.png"}
              \&nbsp;Flickr Gallery
          %li.arrow
            %a.slide-right{:href => "gallery?id=1"}
              %img{:src => "/images/demo/touch/demo2/photos.png"}
              \&nbsp;Flickr Gallery
          %li.arrow
            %a.slide-right{:href => "gallery?id=1"}
              %img{:src => "/images/demo/touch/demo2/photos.png"}
              \&nbsp;Flickr Gallery
          %li.arrow
            %a.slide-right{:href => "gallery?id=1"}
              %img{:src => "/images/demo/touch/demo2/photos.png"}
              \&nbsp;Flickr Gallery
          %li.arrow
            %a.slide-right{:href => "gallery?id=1"}
              %img{:src => "/images/demo/touch/demo2/photos.png"}
              \&nbsp;Flickr Gallery
  #home.current
    .toolbar
      %a.button.backRemote{ :href => "/jqtouch/demo", :target => "_webapp" } 
        Home    
      %h1
        Image handling
      %a#infoButton.button.slideup{:href => "#about"}
        About
    .vertical-scroll
      %div
        %ul.rounded
          %li.arrow
            %a.slide-right{:href => "#hunt"}
              %img{:src => "/images/demo/touch/demo2/map.png"}
              Spinning Wheel Demo
        %ul.rounded
          %li.arrow
            %a.slide-right{:href => "#gallery_list"}
              %img{:src => "/images/demo/touch/demo2/clapboard.png"}
              Zflow Demo
        %ul.rounded
          %li.arrow
            %a.slide-right{:href => "#gallery2"}
              %img{:src => "/images/demo/touch/demo2/photos.png"}
              Photo Gallery
            %small.counter 3
        %ul.rounded
          %li.arrow
            %a.slide-right{:href => "#horizontal"}
              %img{:src => "/images/demo/touch/demo2/clapboard.png"}
              Horizontal moves
            %small.counter 2
  #horizontal
    .toolbar
      %a.back{ :href => "#back" } 
        Back
      %h1
        Horizontal moves
    .vertical-scroll
      %div
        %ul.rounded
          %li.arrow
            %a.slide-right{:href => "#horizontal-scrolling-example"}
              %img{:src => "/images/demo/touch/demo2/clapboard.png"}
              Horizontal Scroll
        %ul.rounded
          %li.arrow
            %a.slide-right{:href => "#horizontal-slide-example"}
              %img{:src => "/images/demo/touch/demo2/clapboard.png"}
              Horizontal Slide
  #horizontal-scrolling-example
    .toolbar
      %h1 Horizontal Scroll Example
      %a.back{:href => "#back"} Back
    .horizontal-scroll
      %table.with-scrollbar
        %tr
          %td
            %div
              %img{:alt => "CSS Is Awesome", :src => "http://rlv.zcache.com/css_is_awesome_mug-p1687164350719819282objs_210.jpg"}/
          %td
            %div
              %img{:alt => "CSS Is Awesome", :src => "http://rlv.zcache.com/css_is_awesome_mug-p1687164350719819282objs_210.jpg"}/
          %td
            %div
              %img{:alt => "CSS Is Awesome", :src => "http://rlv.zcache.com/css_is_awesome_mug-p1687164350719819282objs_210.jpg"}/
          %td
            %div
              %img{:alt => "CSS Is Awesome", :src => "http://rlv.zcache.com/css_is_awesome_mug-p1687164350719819282objs_210.jpg"}/
          %td
            %div
              %img{:alt => "CSS Is Awesome", :src => "http://rlv.zcache.com/css_is_awesome_mug-p1687164350719819282objs_210.jpg"}/
          %td
            %div
              %img{:alt => "CSS Is Awesome", :src => "http://rlv.zcache.com/css_is_awesome_mug-p1687164350719819282objs_210.jpg"}/
          %td
            %div
              %img{:alt => "CSS Is Awesome", :src => "http://rlv.zcache.com/css_is_awesome_mug-p1687164350719819282objs_210.jpg"}/
  #horizontal-slide-example
    .toolbar
      %h1 Horizontal Slide Example
      %a.back{:href => "#Back"} Back
    .horizontal-scroll
      %table.with-scrollbar
        %tr
          %td
            .slide-container.current
              %img{:alt => "CSS Is Awesome", :src => "http://rlv.zcache.com/css_is_awesome_mug-p1687164350719819282objs_210.jpg"}/
          %td
            .slide-container
              %img{:alt => "CSS Is Awesome", :src => "http://rlv.zcache.com/css_is_awesome_mug-p1687164350719819282objs_210.jpg"}/
          %td
            .slide-container
              %img{:alt => "CSS Is Awesome", :src => "http://rlv.zcache.com/css_is_awesome_mug-p1687164350719819282objs_210.jpg"}/
          %td
            .slide-container
              %img{:alt => "CSS Is Awesome", :src => "http://rlv.zcache.com/css_is_awesome_mug-p1687164350719819282objs_210.jpg"}/
          %td
            .slide-container
              %img{:alt => "CSS Is Awesome", :src => "http://rlv.zcache.com/css_is_awesome_mug-p1687164350719819282objs_210.jpg"}/
          %td
            .slide-container
              %img{:alt => "CSS Is Awesome", :src => "http://rlv.zcache.com/css_is_awesome_mug-p1687164350719819282objs_210.jpg"}/
          %td
            .slide-container
              %img{:alt => "CSS Is Awesome", :src => "http://rlv.zcache.com/css_is_awesome_mug-p1687164350719819282objs_210.jpg"}/
  #hunt
    .toolbar
      %h1
        Scavenger Hunt
      %a.back{:href => "#"}
        Back
      %a#sw-done.button
        Find
      %a#hunt_clue.button.goTo.slide-right{:href => "art?id=1", :style => "display:none"}
        Clue
    %div
      %p#hunt_text
        Choose the building, style and type of artwork and then press FIND.
        %br
        %br
        You may rotate the device to see all of the choices.
      %center
        %a#hunt_image.pop{:href => "show_image?fName=images/artwork/blank.png"}
          %img.art_pic{:BORDER => "0", :src => "/images/demo/touch/demo2/artwork/blank.png"}
      #clue_button
        %ul.rounded
          %li
            %a#clue_button_a.pop{:href => "room?id=1"}
              Reveal Answer
#outside
  #switching.hide_switching
    \&nbsp;
  #tabbar.tabbar
    %table#art_filter.art_filter
      %tr{:align => "center"}
        %td
    %table.tabbar
      %tr{:align => "center"}
        %td#tab_1.tab_sel{:onclick => "tab_to(this, '#home', 'flip');"}
          %img{:src => "/images/demo/touch/demo2/open_padlock_selected.png"}
            %br
              Unfiltered
        %td#tab_2.tab{:onclick => "tab_to(this, '#home', 'flip');"}
          %img{:src => "/images/demo/touch/demo2/house.png"}
            %br
              Room
        %td#tab_3.tab{:onclick => "tab_to(this, '#home', 'flip');"}
          %img{:src => "/images/demo/touch/demo2/icon_users.png"}
            %br
              Artist
        %td#tab_4.tab{:onclick => "tab_to(this, '#home', 'flip');"}
          %img{:src => "/images/demo/touch/demo2/picture-frame.png"}
            %br
              Artwork
        %td#tab_5.tab{:onclick => "tab_to(this, '#home', 'flip');"}
          %img{:src => "/images/demo/touch/demo2/palette.png"}
            %br
              Style
