-@title = "jQuery Mobile Framework - Page orientation"

= render(:partial => "index.js.haml", :format => :js)

%div{"data-role" => "page"}
  %div{"data-role" => "header"}
    %h1 Orientation
    %a.ui-btn-left{"data-direction" => "reverse", "data-icon" => "home", "data-iconpos" => "notext", :href => "/mobile/experiments/main", :rel => "external"} Home
  / / header
  %div{"data-role" => "content"}
    #orientation.portrait
      %p
        Orientation:

  / / content
/ /page