%link{:href => "/images/demo/mobile/homeicon.png", :rel => "apple-touch-icon"}/

:css
  .nav-glyphish-example .ui-btn .ui-btn-inner { padding-top: 40px !important; }
  .ui-navbar-expanded ul .ui-btn .ui-btn-inner { padding-top: 55px !important; }
  .nav-glyphish-example .ui-btn .ui-icon, .ui-navbar-expanded ul .ui-btn .ui-icon { width: 30px!important; height: 30px!important; margin-left: -15px !important; box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; -webkit-border-radius: none !important; border-radius: none !important; }
  .ui-navbar-expanded ul .ui-btn .ui-icon { top: 20px; }
  #chat .ui-icon { background:  url(/images/glyphish/icons-white/09-chat2.png) 50% 50% no-repeat; }
  #email .ui-icon { background:  url(/images/glyphish/icons-white/18-envelope.png) 50% 50% no-repeat; }
  .nav-glyphish-example .ui-navbar-toggle .ui-icon { background:  url(/images/glyphish/icons-white/19-gear.png) 50% 50% no-repeat !important; }
  #login .ui-icon { background:  url(/images/glyphish/icons-white/30-key.png) 50% 50% no-repeat; }
  #beer .ui-icon { background:  url(/images/glyphish/icons-white/88-beermug.png) 50% 50% no-repeat; }
  #coffee .ui-icon { background:  url(/images/glyphish/icons-white/100-coffee.png) 50% 50% no-repeat; }
  #clock .ui-icon { background:  url(/images/glyphish/icons-white/11-clock.png) 50% 50% no-repeat; }
