-@title = "jQuery Mobile Framework - navbar Example"

- content_for :content_head do
  = render(:partial => "index.js.haml", :format => :js)
  
%div{"data-role" => "page"}
  %div{"data-role" => "header"}
    %h1 Navbar Example
    %a.ui-btn-left.jqm-home{"data-direction" => "reverse", "data-icon" => "home", "data-iconpos" => "notext", :href => "/mobile/experiments"} Home
  / / header
  %div{"data-role" => "content", "data-theme" => "b"}
    %h1 Demo description
    %p This page includes a navbar plugin, which will fix to the footer as a tabbed navigation, and persist as pages switch out behind it.
    %p
      %strong Pellentesque habitant morbi tristique
      senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
      %em Aenean ultricies mi vitae est.
      Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed,
      = succeed "," do
        %code commodo vitae
      ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui.
      %a{:href => "#"} Donec non enim
      in turpis pulvinar facilisis. Ut felis.
    %ol
      %li Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
      %li Aliquam tincidunt mauris eu risus.
    %h2 Header Level 2
    %ol
      %li Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
      %li Aliquam tincidunt mauris eu risus.
    %blockquote
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.
    %h3 Header Level 3
    %ul
      %li Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
      %li Aliquam tincidunt mauris eu risus.
    %pre
      %code
        :preserve
          #header h1 a {
            display: block;
            width: 300px;
            height: 80px;
          }
          %h1 HTML Ipsum Presents
    %p
      %strong Pellentesque habitant morbi tristique
      senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
      %em Aenean ultricies mi vitae est.
      Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed,
      = succeed "," do
        %code commodo vitae
      ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui.
      %a{:href => "#"} Donec non enim
      in turpis pulvinar facilisis. Ut felis.
    %h2 Header Level 2
    %ol
      %li Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
      %li Aliquam tincidunt mauris eu risus.
    %blockquote
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.
    %h3 Header Level 3
    %ul
      %li Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
      %li Aliquam tincidunt mauris eu risus.
    %pre
      %code
        :preserve
          #header h1 a { 
            display: block; 
            width: 300px; 
            height: 80px; 
          }
          %h1 HTML Ipsum Presents
    %p
      %strong Pellentesque habitant morbi tristique
      senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
      %em Aenean ultricies mi vitae est.
      Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed,
      = succeed "," do
        %code commodo vitae
      ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui.
      %a{:href => "#"} Donec non enim
      in turpis pulvinar facilisis. Ut felis.
  .nav-glyphish-example{"data-role" => "footer"}
    .nav-glyphish-example{"data-role" => "navbar"}
      %ul
        %li
          %a#chat{"data-icon" => "custom", :href => "../../_containers-states.html"} Chat
        %li
          %a#email{"data-icon" => "custom", :href => "../../_fixed.html"} Email
        %li
          %a#clock{"data-icon" => "custom", :href => "../../_form-controls.html"} Clock
        %li
          %a#login{"data-icon" => "custom", "data-rel" => "dialog", "data-transition" => "pop", :href => "../../_dialog.html"} Login
        %li
          %a#coffee{"data-icon" => "custom", :href => "../../_listview.html"} Coffee
        %li
          %a#beer{"data-icon" => "custom", :href => "../../_events.html"} Beer
