- content_for :head_stylesheets do
  %link{:href => "/images/demo/mobile/jquery-mobile-icon.png", :rel => "apple-touch-icon"}
= render :partial => "/mobile/mobile_init.js.haml", :format => :js

- content_for :head_scripts_before_mobile do
  :javascript
    $(function() {
      var widthBreakpoints = [320, 360, 480, 600, 640, 768, 800, 960, 1024, 1200, 1280];
      $("#widthList li").hide();
      $("#widthList .title").show();

      for (var i = 0; i < widthBreakpoints.length; i++){
        $(".min-width-"+widthBreakpoints[i]+"px #widthList .min"+widthBreakpoints[i]).show();
        $(".max-width-"+widthBreakpoints[i]+"px #widthList .max"+widthBreakpoints[i]).show();
      }

      $("#orientList li").hide();
      $("#orientList .title").show();
      $("#orientList .port").show().hasClass("portrait");
      $("#orientList .land").show().hasClass("landscape");
    });