-@title = "jQuery Mobile Framework - Media helpers"

- content_for :content_custom_scripts do
  = render(:partial => "index.js.haml", :format => :js)

%div{"data-role" => "page"}
  %div{"data-role" => "header", "data-theme" => "b"}
    %h1 Media helpers
    %a.ui-btn-left{"data-direction" => "reverse", "data-icon" => "home", "data-iconpos" => "notext", :href => "/mobile/experiments/main", :rel => "external"} Home
  / / header
  / /header
  %div{"data-role" => "content"}
    %ul#widthList{"data-inset" => "true", "data-role" => "listview"}
      %li.title{"data-role" => "list-divider"}
        Active Width Breakpoints:
        %em
          These change depending on window size
      %li.min320 min-width-320px
      %li.max320 max-width-320px
      %li.min360 min-width-360px
      %li.max360 max-width-360px
      %li.min480 min-width-480px
      %li.max480 max-width-480px
      %li.min600 min-width-600px
      %li.max600 max-width-600px
      %li.min640 min-width-640px
      %li.max640 max-width-640px
      %li.min768 min-width-768px
      %li.max768 max-width-768px
      %li.min800 min-width-800px
      %li.max800 max-width-800px
      %li.min960 min-width-960px
      %li.max960 max-width-960px
      %li.min1024 min-width-1024px
      %li.max1024 max-width-1024px
      %li.min1200 min-width-1200px
      %li.max1200 max-width-1200px
      %li.min1280 min-width-1280px
      %li.max1280 max-width-1280px
    %ul#orientList{"data-inset" => "true", "data-role" => "listview"}
      %li.title{"data-role" => "list-divider"}
        Orientation
        %em
          These change depending on window orientation
      %li.port Portrait
      %li.land Landscape


  / /content
/ /page
