- content_for :content_head do
  = render(:partial => "/mobile/docs/docs.js.haml", :format => :js)

%div{"data-role" => "page"}
  %div{"data-position" => "inline", "data-role" => "header"}
    %h1
      Bar theming
  %div{"data-role" => "content"}
    %p
      Both the header and footer bars will be styled by default with the theme's "a" color swatch
      (black in the default theme) because these bars are typically primary in the visual hierarchy
      of a page.
    %h2
      Theming headers and footers
    %p
      To set the header or footer bars to a different color in your theme, add the
      %code
        data-theme
      attribute and specify the letter of the theme swatch (a, b, c, etc.). For example, this will
      set the bar to swatch "b" (blue in the default theme):
    .highlight
      %pre
        %code
          :preserve
            &lt;div data-role=&quot;header&quot; data-theme=&quot;b&quot;&gt;
              &lt;h1&gt;Page Title&lt;/h1&gt;
            &lt;/div&gt;
    %h2
      Theming buttons in toolbars
    %p
      Any link added inside the header block will be automatically styled as a button that matches
      the color of the bar's theme swatch. To make a button stand out as a primary call to action,
      the
      %code
        data-theme
      attribute can be used to specify a contrasting button color from a different theme swatch.
      For example, if we set the header to theme "c" (light gray), both buttons would be styled as
      the "c" button by default. If we wanted the Save button to visually pop, we can override the color
      by setting the
      %code
        data-theme
      attribute to "b" (blue in our default theme) on the Save button's anchor.
    .highlight
      %pre
        %code
          :preserve
            &lt;a href=&quot;add-user.php&quot; data-theme=&quot;b&quot;&gt;Save&lt;/a&gt;
    %h2
      Theme variations
    %p
      This is a demo of the variation that can be achieved by tweaking the theme swatches and
      buttons inside the headers and footers.
    %h3
      Headers
  %div{"data-position" => "inline", "data-role" => "header"}
    %h1
      Bar theme "a"
    %a{"data-icon" => "plus", "data-theme" => "c", :href => "/mobile/docs/toolbars/index"}
      New
  %div{"data-position" => "inline", "data-role" => "header"}
    %a{"data-icon" => "delete", :href => "/mobile/docs/toolbars/index", :iconpos => "notext"}
      Cancel
    %h1
      Bar theme "a"
    %a{"data-icon" => "arrow-r", "data-iconpos" => "right", "data-theme" => "b", :href => "/mobile/docs/toolbars/index"}
      Save
  %div{"data-position" => "inline", "data-role" => "header", "data-theme" => "b"}
    %h1
      Bar theme "b"
    %a{"data-icon" => "plus", "data-theme" => "a", :href => "/mobile/docs/toolbars/index"}
      New
  %div{"data-position" => "inline", "data-role" => "header", "data-theme" => "b"}
    %a{"data-icon" => "delete", :href => "/mobile/docs/toolbars/index", :iconpos => "notext"}
      Cancel
    %h1
      Bar theme "b"
    %a{"data-icon" => "arrow-r", "data-iconpos" => "right", "data-theme" => "d", :href => "/mobile/docs/toolbars/index"}
      Save
  %div{"data-position" => "inline", "data-role" => "header", "data-theme" => "c"}
    %h1
      Bar theme "c"
    %a{"data-icon" => "plus", "data-theme" => "a", :href => "/mobile/docs/toolbars/index"}
      New
  %div{"data-position" => "inline", "data-role" => "header", "data-theme" => "c"}
    %a{"data-icon" => "delete", :href => "/mobile/docs/toolbars/index", :iconpos => "notext"}
      Cancel
    %h1
      Bar theme "c"
    %a{"data-icon" => "arrow-r", "data-iconpos" => "right", "data-theme" => "b", :href => "/mobile/docs/toolbars/index"}
      Save
  %div{"data-position" => "inline", "data-role" => "header", "data-theme" => "d"}
    %h1
      Bar theme "d"
    %a{"data-icon" => "plus", "data-theme" => "a", :href => "/mobile/docs/toolbars/index"}
      New
  %div{"data-position" => "inline", "data-role" => "header", "data-theme" => "d"}
    %a{"data-icon" => "delete", :href => "/mobile/docs/toolbars/index", :iconpos => "notext"}
      Cancel
    %h1
      Bar theme "d"
    %a{"data-icon" => "arrow-r", "data-iconpos" => "right", "data-theme" => "b", :href => "/mobile/docs/toolbars/index"}
      Save
  .ui-body{"data-role" => "content"}
    %h3
      Footers
  %div{"data-position" => "inline", "data-role" => "footer"}
    %div
      %a{"data-icon" => "arrow-l", "data-iconpos" => "right", :href => "/mobile/docs/toolbars/index"}
        left
      %a{"data-icon" => "arrow-r", "data-iconpos" => "right", :href => "/mobile/docs/toolbars/index"}
        right
      %a{"data-icon" => "arrow-u", "data-iconpos" => "right", :href => "/mobile/docs/toolbars/index"}
        up
      %a{"data-icon" => "arrow-d", "data-iconpos" => "right", :href => "/mobile/docs/toolbars/index"}
        down
      %a{"data-icon" => "plus", "data-iconpos" => "right", :href => "/mobile/docs/toolbars/index"}
        plus
      %a{"data-icon" => "minus", "data-iconpos" => "right", :href => "/mobile/docs/toolbars/index"}
        minus
      %a{"data-icon" => "delete", "data-iconpos" => "right", :href => "/mobile/docs/toolbars/index"}
        delete
  %p
