-@title = "jQuery Mobile Docs - Footer Configuration"
= render :partial => "/mobile/index.js.haml", :format => :js

.type-interior{"data-role" => "page"}
  %div{"data-role" => "header", "data-theme" => "f"}
    %h1 Footer configuration
    %a.ui-btn-right.jqm-home{"data-direction" => "reverse", "data-icon" => "home", "data-iconpos" => "notext", :href => "/mobile"} Home
  / /header
  %div{"data-role" => "content"}
    .content-primary
      %h2 Footer bar structure
      %p
        The
        %code foote1r
        bar has the same basic structure as the header except it uses the
        %code data-role
        attribute value of
        = succeed "." do
          %code footer
      .highlight
        %pre
          :preserve
            &lt;div data-role="footer"&gt;
               &lt;h4&gt;Footer content&lt;/h4&gt;
            &lt;/div&gt;
      %p
        The
        %code footer
        toolbar will be be themed with the "a" swatch by default (black in the default theme) but you can easily
        = succeed "." do
          %a{:href => "/mobile/docs/toolbars/bars-themes"} set the theme swatch color
      %div{"data-position" => "inline", "data-role" => "footer"}
        %h4 Footer content
      %p The page footer is very similar to the header in terms of options and configuration. The primary differences are that the footer is designed to be less structured than the header to allow for more flexibility, so the framework doesn't automatically place buttons to the left or right based on source order as it does in the header.
      %h2 Adding buttons
      %p
        Any link or valid
        %a{:href => "/mobile/docs/buttons/buttons_types"} button markup
        added to the footer will automatically be turned into a button. To save space, buttons in toolbars are automatically set to
        %a{:href => "/mobile/docsbuttons/buttons_inline"} inline styling
        so the button is only as wide as the text and icons it contains.
      %p
        By default, toolbars don't have any padding to accommodate nav bars and other widgets. To include padding on the bar, add a
        %code class="ui-bar"
        to the footer.
      %pre
        %code
          :preserve
            &lt;div data-role=&quot;footer&quot; class=&quot;ui-bar&quot;&gt;
              &lt;a href=&quot;index.html&quot; data-role=&quot;button&quot; data-icon=&quot;delete&quot;&gt;Remove&lt;/a&gt;
              &lt;a href=&quot;index.html&quot; data-role=&quot;button&quot; data-icon=&quot;plus&quot;&gt;Add&lt;/a&gt;
              &lt;a href=&quot;index.html&quot; data-role=&quot;button&quot; data-icon=&quot;arrow-u&quot;&gt;Up&lt;/a&gt;
              &lt;a href=&quot;index.html&quot; data-role=&quot;button&quot; data-icon=&quot;arrow-d&quot;&gt;Down&lt;/a&gt;
            &lt;/div&gt;
      %p This creates this toolbar with buttons sitting in a row
      .ui-bar{"data-position" => "inline", "data-role" => "footer"}
        %a{"data-icon" => "delete", :href => "/mobile/docs/toolbars"} Remove
        %a{"data-icon" => "plus", :href => "/mobile/docs/toolbars"} Add
        %a{"data-icon" => "arrow-u", :href => "/mobile/docs/toolbars"} Up
        %a{"data-icon" => "arrow-d", :href => "/mobile/docs/toolbars"} Down
      %p
        To group buttons together into a button set, wrap the links in a wrapper with
        %code data-role=&quot;controlgroup&quot;
        and
        %code data-type=&quot;horizontal&quot;
        attributes.
      %code &lt;div data-role=&quot;controlgroup&quot; data-type=&quot;horizontal&quot;&gt;
      %p This creates a grouped set of buttons:
      .ui-bar{"data-position" => "inline", "data-role" => "footer"}
        %div{"data-role" => "controlgroup", "data-type" => "horizontal"}
          %a{"data-icon" => "delete", :href => "/mobile/docs/toolbars"} Remove
          %a{"data-icon" => "plus", :href => "/mobile/docs/toolbars"} Add
          %a{"data-icon" => "arrow-u", :href => "/mobile/docs/toolbars"} Up
          %a{"data-icon" => "arrow-d", :href => "/mobile/docs/toolbars"} Down
      %h2 Adding form elements
      %p Form elements and other content can also be added to toolbars. Here is an example of a select menu inside a footer bar:
      .ui-bar{"data-position" => "inline", "data-role" => "footer"}
        %label{:for => "select-choice-1"} Shipping:
        %select#select-choice-1{"data-theme" => "a", :name => "select-choice-1"}
          %option{:value => "standard"} Standard: 7 day
          %option{:value => "rush"} Rush: 3 days
          %option{:value => "express"} Express: next day
          %option{:value => "overnight"} Overnight
      %h2 Persistent footers
      %p In situations where the footer is a global navigation element, you may want it to appear fixed in place between page transitions. This can be accomplished by using the persistent footer feature included in jQuery Mobile.
      %p
        To make a footer stay in place between transitions, add the
        %code data-id
        attribute to the footer of all relevant pages and use the same
        %code id
        value for each. For example, by adding
        %code data-id="myfooter"
        to the current page and the target page, the framework will keep the footer anchors in the same spot during the page animation. PLEASE NOTE: This effect will only work correctly if the header and footer toolbars are set to
        %code data-position="fixed"
        so they are in view during the transition.
    / /content-primary
    .content-secondary
      .ui-body-b
        %div{"data-collapsed" => "true", "data-role" => "collapsible", "data-theme" => "b"}
          %h3 More in this section
          %ul{"data-dividertheme" => "d", "data-role" => "listview", "data-theme" => "c"}
            %li{"data-role" => "list-divider"} Toolbars
            %li
              %a{:href => "/mobile/docs/toolbars/docs_bars"} Toolbar basics
            %li
              %a{:href => "/mobile/docs/toolbars/docs_headers"} Header bars
            %li{"data-theme" => "a"}
              %a{:href => "/mobile/docs/toolbars/docs_footers"} Footer bars
            %li
              %a{:href => "/mobile/docs/toolbars/docs_navbar"} Navbars
            %li
              %a{:href => "/mobile/docs/toolbars/bars_fixed"} Fixed positioning
            %li
              %a{:href => "/mobile/docs/toolbars/bars_fullscreen"} Fullscreen positioning
            %li
              %a{:href => "/mobile/docs/toolbars/footer_persist_a"} Persistent footer nav bar
            %li
              %a{:href => "/mobile/docs/toolbars/bars_themes"} Theming toolbars
  / /content
  .footer-docs{"data-role" => "footer", "data-theme" => "c"}
    %p &copy; 2011 The jQuery Project
/ /page
