-@title = "jQuery Mobile Framework - Persistent footer A"
= render :partial => "/mobile/index.js.haml", :format => :js

.type-interior{"data-role" => "page"}
  %div{"data-position" => "fixed", "data-role" => "header", "data-theme" => "f"}
    %h1 Friends
    %a.ui-btn-right.jqm-home{"data-direction" => "reverse", "data-icon" => "home", "data-iconpos" => "notext", :href => "/mobile"} Home
  %div{"data-role" => "content"}
    .content-primary
      %p
        This page is a demo of a persistent footer navigation bar. At the foot of the page, you'll see a persistent horizontal navigation bar. Click on any of the links, and you'll see the page content transition but the footer remains fixed: The footer sticks persistently even when transitioning to a new HTML page, because the footer on all four HTML pages has the same
        %code data-id
        attribute.
        %strong Note:
        If you'd like an active button in your navbar to remain active when you return to the page displaying this active button, add a class of
        %code ui-state-persist
        in addition to
        %code ui-btn-active
        to the corresponding anchor.
      %ul{"data-dividertheme" => "d", "data-role" => "listview", :style => "margin-top: 0;"}
        %li{"data-role" => "list-divider"} A
        %li
          %a{:href => "/mobile/docs/toolbars"} Adam Kinkaid
        %li
          %a{:href => "/mobile/docs/toolbars"} Alex Wickerham
        %li
          %a{:href => "/mobile/docs/toolbars"} Avery Johnson
        %li{"data-role" => "list-divider"} B
        %li
          %a{:href => "/mobile/docs/toolbars"} Bob Cabot
        %li{"data-role" => "list-divider"} C
        %li
          %a{:href => "/mobile/docs/toolbars"} Caleb Booth
        %li
          %a{:href => "/mobile/docs/toolbars"} Christopher Adams
        %li
          %a{:href => "/mobile/docs/toolbars"} Culver James
        %li{"data-role" => "list-divider"} D
        %li
          %a{:href => "/mobile/docs/toolbars"} David Walsh
        %li
          %a{:href => "/mobile/docs/toolbars"} Drake Alfred
        %li{"data-role" => "list-divider"} E
        %li
          %a{:href => "/mobile/docs/toolbars"} Elizabeth Bacon
        %li
          %a{:href => "/mobile/docs/toolbars"} Emery Parker
        %li
          %a{:href => "/mobile/docs/toolbars"} Enid Voldon
        %li{"data-role" => "list-divider"} F
        %li
          %a{:href => "/mobile/docs/toolbars"} Francis Wall
        %li{"data-role" => "list-divider"} G
        %li
          %a{:href => "/mobile/docs/toolbars"} Graham Smith
        %li
          %a{:href => "/mobile/docs/toolbars"} Greta Peete
        %li{"data-role" => "list-divider"} H
        %li
          %a{:href => "/mobile/docs/toolbars"} Harvey Walls
        %li{"data-role" => "list-divider"} M
        %li
          %a{:href => "/mobile/docs/toolbars"} Mike Farnsworth
        %li
          %a{:href => "/mobile/docs/toolbars"} Murray Vanderbuilt
        %li{"data-role" => "list-divider"} N
        %li
          %a{:href => "/mobile/docs/toolbars"} Nathan Williams
        %li{"data-role" => "list-divider"} P
        %li
          %a{:href => "/mobile/docs/toolbars"} Paul Baker
        %li
          %a{:href => "/mobile/docs/toolbars"} Pete Mason
        %li{"data-role" => "list-divider"} R
        %li
          %a{:href => "/mobile/docs/toolbars"} Rod Tarker
        %li{"data-role" => "list-divider"} S
        %li
          %a{:href => "/mobile/docs/toolbars"} Sawyer Wakefield
    / /content-primary
    .content-secondary
      .ui-body-b
        %div{"data-collapsed" => "true", "data-content-theme" => "d", "data-role" => "collapsible", "data-theme" => "b"}
          %h3 More in this section
          %ul{"data-dividertheme" => "d", "data-role" => "listview", "data-theme" => "c"}
            %li{"data-role" => "list-divider"} Toolbars
            %li
              %a{:href => "/mobile/docs/toolbars/docs_bars"} Toolbar basics
            %li
              %a{:href => "/mobile/docs/toolbars/docs_headers"} Header bars
            %li
              %a{:href => "/mobile/docs/toolbars/docs_footers"} Footer bars
            %li
              %a{:href => "/mobile/docs/toolbars/docs_navbar"} Navbars
            %li
              %a{:href => "/mobile/docs/toolbars/bars_fixed"} Fixed positioning
            %li
              %a{:href => "/mobile/docs/toolbars/bars_fullscreen"} Fullscreen positioning
            %li{"data-theme" => "a"}
              %a{:href => "/mobile/docs/toolbars/footer_persist_a"} Persistent footer navbar
            %li
              %a{:href => "/mobile/docs/toolbars/bars_themes"} Theming toolbars
  / /content
  %div{"data-id" => "foo1", "data-position" => "fixed", "data-role" => "footer"}
    %div{"data-role" => "navbar"}
      %ul
        %li
          %a.ui-btn-active.ui-state-persist{:href => "/mobile/docs/toolbars/footer_persist_a"} Friends
        %li
          %a{:href => "/mobile/docs/toolbars/footer_persist_b"} Albums
        %li
          %a{:href => "/mobile/docs/toolbars/footer_persist_c"} Emails
    / /navbar
  / /footer
/ /page
