%center
  .ipad
    .emulator
      .display-area
        %iframe{ :src => url, :width => "768", :height => "1004", :frameborder => "0" }
        %a{ :href => url }
          Click here
        if the IFrame could not be shown.
