!!!
%html
  %head
    %title jQuery Mobile Framework - Search Results
    %link{:href => "themes/default", :rel => "stylesheet"}/
    %script{:src => "js/all", :type => "text/javascript"}
  %body
    .ui-body-c{"data-role" => "page"}
      %div{"data-role" => "header"}
        %h1 Search Results
      %form{:action => "_searchresult.html", "data-role" => "ajaxform", "data-theme" => "c", :method => "get"}
        %label{"data-role" => "nojs", :for => "term"} Search:
        %input#term{:name => "term", :placeholder => "search...", :type => "search"}/
        %button{"data-role" => "nojs", :type => "submit"} Search
      %div{"data-role" => "content"}
        %p
          12 Results for
          %em "Justin Bieber"
        %ol{"data-inset" => "true", "data-role" => "listview"}
          %li
            %img{:alt => "jb", :src => "images/jb.jpg"}/
            %h3
              %a{:href => "index.html"} Page A
            %p Quick description about this item here
            %span.ui-li-count 22
            %a{:href => "index.html"} browse details
          %li
            %img{:alt => "jb", :src => "images/jb.jpg"}/
            %h3
              %a{:href => "index.html"} Page A
            %p Quick description about this item here
            %span.ui-li-count 22
            %a{:href => "index.html"} browse details
          %li
            %img{:alt => "jb", :src => "images/jb.jpg"}/
            %h3
              %a{:href => "index.html"} Page A
            %p Quick description about this item here
            %span.ui-li-count 22
            %a{:href => "index.html"} browse details
          %li
            %img{:alt => "jb", :src => "images/jb.jpg"}/
            %h3
              %a{:href => "index.html"} Page A
            %p Quick description about this item here
            %span.ui-li-count 22
            %a{:href => "index.html"} browse details
          %li
            %img{:alt => "jb", :src => "images/jb.jpg"}/
            %h3
              %a{:href => "index.html"} Page A
            %p Quick description about this item here
            %span.ui-li-count 22
            %a{:href => "index.html"} browse details
          %li
            %img{:alt => "jb", :src => "images/jb.jpg"}/
            %h3
              %a{:href => "index.html"} Page A
            %p Quick description about this item here
            %span.ui-li-count 22
            %a{:href => "index.html"} browse details
          %li
            %img{:alt => "jb", :src => "images/jb.jpg"}/
            %h3
              %a{:href => "index.html"} Page A
            %p Quick description about this item here
            %span.ui-li-count 22
            %a{:href => "index.html"} browse details
          %li
            %img{:alt => "jb", :src => "images/jb.jpg"}/
            %h3
              %a{:href => "index.html"} Page A
            %p Quick description about this item here
            %span.ui-li-count 22
            %a{:href => "index.html"} browse details
          %li
            %img{:alt => "jb", :src => "images/jb.jpg"}/
            %h3
              %a{:href => "index.html"} Page A
            %p Quick description about this item here
            %span.ui-li-count 22
            %a{:href => "index.html"} browse details
          %li
            %img{:alt => "jb", :src => "images/jb.jpg"}/
            %h3
              %a{:href => "index.html"} Page A
            %p Quick description about this item here
            %span.ui-li-count 22
            %a{:href => "index.html"} browse details
          %li
            %img{:alt => "jb", :src => "images/jb.jpg"}/
            %h3
              %a{:href => "index.html"} Page A
            %p Quick description about this item here
            %span.ui-li-count 22
            %a{:href => "index.html"} browse details
          %li
            %img{:alt => "jb", :src => "images/jb.jpg"}/
            %h3
              %a{:href => "index.html"} Page A
            %p Quick description about this item here
            %span.ui-li-count 22
            %a{:href => "index.html"} browse details
