!!!
%html
  %head
    %title jQuery Mobile Framework - Search Example
    %link{:href => "themes/default", :rel => "stylesheet"}/
    %script{:src => "js/all", :type => "text/javascript"}
  %body
    %div{"data-role" => "page"}
      %div{"data-role" => "header"}
        %h1 Search
      %form{:action => "_search-results.html", :d => "", "data-role" => "ajaxform", :method => "get"}
        %label{"data-role" => "nojs", :for => "term"} Search:
        %input#term{:name => "term", :placeholder => "search...", :type => "search"}/
        %button{"data-role" => "nojs", :type => "submit"} Search
      %div{"data-role" => "content"}
        %p No search results yet...
