-@title = "#{t('txt.ui.name')} #{t('txt.ui.widgets.progressbar.default')} - #{t('txt.ui.default')}"

- content_for :content_head do
  = render :partial => "default.js.haml", :format => :js
     
.demo
  %h3
    =image_tag("icons/22x22/jquery-ui.png", :border => 0)
    =@title
  #progressbar
/ End demo
.demo-description
  %p
    Default determinate progress bar.
/ End demo-description
