%link{:href => "/images/demo/mobile/jquery-mobile-icon.png", :rel => "apple-touch-icon"}/

:css
  label.missing  { color:#FF0000; font-weight:bold; }

:javascript
  // Global declarations - assignments made in $(document).ready() below
  var hdrMainvar = null;
  var contentMainVar = null;
  var ftrMainVar = null;
  var contentTransitionVar = null;
  var stateLabelVar = null;
  var whatLabelVar = null;
  var stateVar = null;
  var whatVar = null;
  var form1var = null;
  var confirmationVar = null;
  var contentDialogVar = null;
  var hdrConfirmationVar = null; 
  var contentConfirmationVar = null;
  var ftrConfirmationVar = null;
  var inputMapVar = null;
  
  // Constants
  var MISSING = "missing";
  var EMPTY = "";
  var NO_STATE = "ZZ";
  
  function hideMain(){
    hdrMainVar.hide();
    contentMainVar.hide();
    ftrMainVar.hide();
  }
   
  function showMain(){
    hdrMainVar.show();
    contentMainVar.show();
    ftrMainVar.show();
  }
   
  function hideContentTransition(){
    contentTransitionVar.hide();
  }
   
  function showContentTransition(){
    contentTransitionVar.show();
  }
   
  function hideContentDialog(){
    contentDialogVar.hide();
   }
   
  function showContentDialog(){
    contentDialogVar.show();
  }
  
  function hideConfirmation(){
    hdrConfirmationVar.hide();
    contentConfirmationVar.hide();
    ftrConfirmationVar.hide();
  }
   
  function showConfirmation(){
    hdrConfirmationVar.show();
    contentConfirmationVar.show();
    ftrConfirmationVar.show();
  }
  
  $(document).ready(function() {
    // Assign global variables
    hdrMainVar = $('#hdrMain');
    contentMainVar = $('#contentMain');
    ftrMainVar = $('#ftrMain');
    contentTransitionVar = $('#contentTransition');
    stateLabelVar = $('#stateLabel');
    whatLabelVar = $('#whatLabel');
    stateVar = $('#state');
    whatVar = $('#what');
    form1Var = $('#form1');
    confirmationVar = $('#confirmation');
    contentDialogVar = $('#contentDialog');
    hdrConfirmationVar = $('#hdrConfirmation');
    contentConfirmationVar = $('#contentConfirmation');
    ftrConfirmationVar = $('#ftrConfirmation'); 
    inputMapVar = $('input[name*="_r"]');
    hideContentDialog();
    hideContentTransition();
    hideConfirmation();

    $('#buttonOK').live(click, function() {
      hideContentDialog();
      showMain();
      return false;
    });
    
    $('#form1').live(submit,function() {
      var err = false;
      // Hide the Main content
      hideMain();
      
      // Reset the previously highlighted form elements
      stateLabelVar.removeClass(MISSING); 
      whatLabelVar.removeClass(MISSING);
      inputMapVar.each(function(index) {
        $(this).prev().removeClass(MISSING); 
      });
      
      // Perform form validation
      inputMapVar.each(function(index){  
      if($(this).val()==null || $(this).val()==EMPTY) {
          $(this).prev().addClass(MISSING);
          err = true;
        }          
      });   
      if(stateVar.val()==NO_STATE) {
        stateLabelVar.addClass(MISSING);
        err = true;
      }            
      if(whatVar.val()==null||whatVar.val()==EMPTY) {
        whatLabelVar.addClass(MISSING);
        err = true;
      }
      
      // If validation fails, show Dialog content
      if(err == true) {
        showContentDialog();
        return false;
      }
      
      // If validation passes, show Transition content
      showContentTransition();
      
      // Submit the form
      $.get("/forms/request_prrocessor", form1Var.serialize(), function(data){
        confirmationVar.text(data);
        hideContentTransition();
        showConfirmation();
      });
      return false;
    });
  }); 
  