!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
  %body
    %div{"data-role" => "page"}
      %div{"data-role" => "header"}
        %h1 jQuery.getScript()
      %div{"data-role" => "content", "data-theme" => "c", :id => "jQuery.getScript1"}
        %h2.jq-clearfix.roundTop.section-title
          %span.name jQuery.getScript( url, [ success(data, textStatus) ] )
          %span.returns
            Returns:
            %a.return{:href => "http://docs.jquery.com/Types#XMLHttpRequest"} XMLHttpRequest
        .entry-details
          %p.desc
            %strong> Description:
            Load a JavaScript file from the server using a GET HTTP request, then execute it.
          %ul.signatures
            %li.signature{:id => "jQuery.getScript-url-successdata, textStatus"}
              %h4.name
                %span.versionAdded>
                  version added:
                  %a{:href => "/category/version/1.0/"} 1.0
                jQuery.getScript( url, [ success(data, textStatus) ] )
              %p.arguement
                %strong> url
                A string containing the URL to which the request is sent.
              %p.arguement
                %strong> success(data, textStatus)
                A callback function that is executed if the request succeeds.
          .longdesc
            %p This is a shorthand Ajax function, which is equivalent to:
            %pre
              $.ajax({
              url:
              = succeed "," do
                %em url
              dataType: 'script',
              success:
              %em success
              });
            %p The callback is passed the returned JavaScript file. This is generally not useful as the script will already have run at this point.
            %p The script is executed in the global context, so it can refer to other variables and use jQuery functions. Included scripts should have some impact on the current page:
            %pre $('.result').html('&lt;p&gt;Lorem ipsum dolor sit amet.&lt;/p&gt;');
            %p The script can then be included and run by referencing the file name:
            %pre
              :preserve
                $.getScript('ajax/test.js', function() {
                  alert('Load was performed.');
                });          %h3 Examples:
          #entry-examples.entry-examples
            #example-0
              %h4
                Example:
                %span.desc We load the new official jQuery Color Animation plugin dynamically and bind some color animations to occur once the new functionality is loaded.
              %pre
                %code.example.demo-code
                  :preserve
                    &lt;!DOCTYPE html&gt;
                    &lt;html&gt;
                    &lt;head&gt;
                      &lt;style&gt;.block { 
                       background-color: blue; 
                       width: 150px; 
                       height: 70px;
                       margin: 10px; 
                    }&lt;/style&gt;
                      &lt;script src="http://code.jquery.com/jquery-latest.js"&gt;&lt;/script&gt;
                    &lt;/head&gt;
                    &lt;body&gt;
                    	&lt;button id="go"&gt;&amp;raquo; Run&lt;/button&gt;
                    
                    &lt;div class="block"&gt;&lt;/div&gt;
                    
                    &lt;script&gt;$.getScript("http://dev.jquery.com/view/trunk/plugins/color/jquery.color.js", function(){
                      $("#go").click(function(){
                        $(".block").animate( { backgroundColor: 'pink' }, 1000)
                          .animate( { backgroundColor: 'blue' }, 1000);
                      });
                    });&lt;/script&gt;
                    &lt;/body&gt;
                    &lt;/html&gt;              %h4 Demo:
              .demo.code-demo
            #example-1
              %h4
                Example:
                %span.desc Load the test.js JavaScript file and execute it.
              %pre
                %code.example $.getScript("test.js");
            #example-2
              %h4
                Example:
                %span.desc Load the test.js JavaScript file and execute it, displaying an alert message when the execution is complete.
              %pre
                %code.example
                  :preserve
                    $.getScript("test.js", function(){
                       alert("Script loaded and executed.");
                     });