!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
      %title Highstock Example
      %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js", :type => "text/javascript"}
      :javascript
        jQuery(function() {
        	// Create the chart	
        	window.chart = new Highcharts.StockChart({
        	    chart: {
        	        renderTo: 'container'
        	    },
        	    
        	    rangeSelector: {
        	        selected: 1
        	    },
        	    
        	    title: {
        	        text: 'USD to EUR exchange rate'
        	    },
        	    
        	    xAxis: {
        	        maxZoom: 14 * 24 * 3600000 // fourteen days
        	    },
        	    yAxis: {
        	        title: {
        	            text: 'Exchange rate'
        	        }
        	    },
        		
        	    series: [{
        	        name: 'USD to EUR',
        	        data: usdeur
        	    }]
        	});
        });
          %body
    %script{:src => "../../js/highstock.js", :type => "text/javascript"}
    %script{:src => "../../js/modules/exporting.js", :type => "text/javascript"}
    %script{:src => "http://www.highcharts.com/samples/data/usdeur.js", :type => "text/javascript"}
    #container{:style => "height: 500px"}
