:css
  .toggler { width: 500px; height: 200px; position: relative;}
  #button { padding: .5em 1em; text-decoration: none; }
  #effect { width: 240px; height: 135px; padding: 0.4em; position: relative; background: #fff; }
  #effect h3 { margin: 0; padding: 0.4em; text-align: center; }

:javascript
  $(function() {
    $("#button").toggle(
      function() {
        $("#effect").animate({backgroundColor: '#aa0000', color: '#fff', width: 500}, 1000);
      },
      function() {
        $("#effect").animate({backgroundColor: '#fff', color: '#000', width: 240}, 1000);
      }
    );
  });
