!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %title jQuery Mobile Framework - Photo 1
    %link{:href => "../../themes/default", :rel => "stylesheet"}/
    %script{:src => "../../js/all", :type => "text/javascript"}
    %link{:href => "photos.css", :rel => "stylesheet"}/
    %script{:src => "photos.js", :type => "text/javascript"}
  %body
    .photoview{"data-fullscreen" => "true", "data-role" => "page"}
      %div{"data-role" => "header", :id => ""}
        %h1 A canoe
      %div{"data-role" => "content"}
        %img{:alt => "photo-canoe", :src => "images/photo-canoe.jpeg"}/
      .ui-footer.ui-bar-a
        %a.prev{:href => "index.html"} Prev
        %a.next{:href => "_photo3.html"} Next
