<!doctype html>
%html
  %head
    %meta{:charset => "UTF-8"}/
    %title jQTouch &beta;
    %style{:media => "screen", :type => "text/css"} @import "../../jqtouch/jqtouch.css";
    %style{:media => "screen", :type => "text/css"} @import "../../themes/jqt/theme.css";
    %script{:charset => "utf-8", :src => "../../jqtouch/jquery-1.4.2.min.js", :type => "text/javascript"}
    %script{:charset => "utf-8", :src => "../../jqtouch/jqtouch.js", :type => "application/x-javascript"}
    %script{:charset => "utf-8", :type => "text/javascript"}
      var jQT = new $.jQTouch({
      icon: 'jqtouch.png',
      addGlossToIcon: false,
      startupScreen: 'jqt_startup.png',
      statusBar: 'black'
      });
      
      $(function(){
      $('#go_link').tap(function(){
      jQT.goTo('#page2', 'flip');
      });
      $('#ajax_link').tap(function(){
      jQT.goTo('../main/ajax.html', 'pop');
      })
      });
    %style{:media => "screen", :type => "text/css"}
      \/* Custom Style */
  %body
    #jqt
      #home
        .toolbar
          %h1 Public Functions
        .info
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquet euismod venenatis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse laoreet, dui et elementum elementum, nibh neque laoreet dolor, vel malesuada nunc lorem in turpis.
          %a#go_link{:href => "#"} Go to Page 2 &raquo;
          Quisque malesuada, lacus at viverra euismod, enim tellus gravida mauris, et placerat turpis massa in arcu.
          %a#ajax_link{:href => "#"} Go to Ajax page &raquo;
      #page2
        %h1{:style => "margin: 100px 0; text-align: center;"} Success!
        %a.back{:href => "#"} Back
