- content_for :head_stylesheets do
  :css
    #resizable { background-position: top left; }
    #resizable, #also { width: 150px; height: 120px; padding: 0.5em; }
    #resizable h3, #also h3 { text-align: center; margin: 0; }
    #also { margin-top: 1em; }

- content_for :head_scripts do
  :javascript
    $(function() {
      $("#resizable").resizable({
        alsoResize: '#also'
      });
      $("#also").resizable();
    });

- content_for :license do
  = render :partial => "ui/license"
