- content_for :head_stylesheets do
  :css
    #resizable { width: 150px; height: 150px; padding: 0.5em; }
    #resizable h3 { text-align: center; margin: 0; }
    .ui-resizable-ghost { border: 1px dotted gray; }

- content_for :head_scripts do
  :javascript
    $(function() {
      $("#resizable").resizable({
        ghost: true
      });
    });

- content_for :license do
  = render :partial => "ui/license"
