-@title = "#{t('txt.ui.name')} #{t('txt.ui.interactions.resizable.default')} - #{t('txt.ui.interactions.resizable.delay-start')}"

- content_for :content_head do
  = render(:partial => "delay_start.js.haml", :format => :js)

.demo
  %h3
    =image_tag("icons/22x22/jquery-ui.png", :border => 0)
    =@title
  %h3.docs
    Time delay (ms):
  #resizable.ui-widget-content
    %h3.ui-widget-header
      Time
  %h3.docs
    Distance delay (px):
  #resizable2.ui-widget-content
    %h3.ui-widget-header
      Distance
  / ADD DISTANCE DEMO
/ End demo
.demo-description
  %p
    Delay the start of resizng for a number of milliseconds with the
    %code
      delay
    option; prevent resizing until the cursor is held down and dragged a specifed number of pixels with the
    %code
      distance
    option.
/ End demo-description
