-@title = "#{t('txt.ui.name')} #{t('txt.ui.interactions.resizable.default')} - #{t('txt.ui.interactions.resizable.helper')}"

- content_for :head_scripts do
  = render :partial => "helper.js.haml", :format => :js

.demo
  %h3
    =image_tag("icons/22x22/jquery-ui.png", :border => 0)
    =@title
  #resizable.ui-widget-content
    %h3.ui-widget-header
      Helper
/ End demo
.demo-description
  %p
    Display only an outline of the element while resizing by setting the
    %code
      helper
    option to a CSS class.
/ End demo-description
