-@title = "#{t('txt.ui.name')} #{t('txt.ui.interactions.resizable.default')} - #{t('txt.ui.interactions.resizable.textarea')}"

- content_for :head_scripts do
  = render :partial => "textarea.js.haml", :format => :js

.demo
  %h3
    =image_tag("icons/22x22/jquery-ui.png", :border => 0)
    =@title
  %textarea#resizable{ :style => "rows: 5; cols: 20;" }
    Edit text
/ End demo
.demo-description
  %p
    Animate the resize action using the
    %code
      animate
    option (boolean). When this option is set to true, drag the outline to the desired location; the element animates to that size on drag stop.
/ End demo-description
