-@title = "#{t('txt.ui.name')} #{t('txt.ui.interactions.resizable.default')} - #{t('txt.ui.interactions.resizable.visual-feedback')}"

- content_for :head_scripts do
  = render :partial => "visual_feedback.js.haml", :format => :js

.demo
  %h3
    =image_tag("icons/22x22/jquery-ui.png", :border => 0)
    =@title
  #resizable.ui-widget-content
    %h3.ui-widget-header
      Ghost
/ End demo
.demo-description
  %p
    Instead of showing the actual element during resize, set the
    %code
      ghost
    option to true to show a semi-transparent part of the element.
/ End demo-description
