<%-- :mode=jsp: --%>
<%@ include file="../../standalone.jsf" %>
%body
  :css
    /* the styling of the exposed element */
    div.exposed {
    	border:1px solid #ccc;
    	background:#fff url(${cdn}/img/global/gradient/h150.png);
    	padding:30px 20px;
    	font-size:25px;
    	margin:20px auto;
    	text-align:center;
    	width:450px;
    	margin-top:15px;
    	-moz-border-radius:10px;	
    }
  / element to be exposed when clicked
  %c:set{:var => "html"}
    #e1.exposed
      Exposed element #1
    #e2.exposed
      Exposed element #2
  %c:set{:var => "buttons"}
    %div{:style => "position:relative;z-index:10000;text-align:center"}
      %button{:onClick => "api1.load()", :type => "button"} Load 1
      %button{:onClick => "api1.close()", :type => "button"} Close 1
      %button{:onClick => "api2.load()", :type => "button"} Load 2
      %button{:onClick => "api2.close()", :type => "button"} Close 2
  ${buttons}
  
  ${html}
  / javascript coding
  :javascript
    // initialize first expose and make its API available
    var api1 = $("#e1").expose({api:true, lazy:true, color: '#78c'});
    
    // second expose
    var api2 = $("#e2").expose({api:true, lazy:true, color: '#7a1'});
    
    ${js}
