-@browser_title = 'Secret Sauce: ' + controller.action_name

- content_for :head_scripts do
  = render :partial => "index.js.haml", :format => :js

%center
  %h3
    =image_tag("icons/22x22/grid.png", :border => 0)
    Secret Sauce jqGrid - DataGrid  
   
  %table#secrets_table.scroll
  #secrets_pager.scroll{ :style => "text-align:center;" }
  #secrets_update_dialog{ :style => "display: none;" }
  #secrets_create_dialog{ :style => "display: none;" }
