-@browser_title = 'Secret Sauce: ' + controller.action_name
= render :partial => "index.js.haml", :format => :js

%h3
  =image_tag("icons/22x22/grid.png", :border => 0)
  Secret Sauce jqGrid - DataGrid

%center
  %table#secrets_table.scroll
  #secrets_pager.scroll{ :style => "text-align:center;" }
  #secrets_update_dialog{ :style => "display: none;" }
  #secrets_create_dialog{ :style => "display: none;" }
