!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
  %body
    %div{"data-role" => "page"}
      %div{"data-role" => "header"}
        %h1 .mousemove()
      #mousemove1{"data-role" => "content", "data-theme" => "c"}
        %h2.jq-clearfix.roundTop.section-title
          %span.name .mousemove( handler(eventObject) )
          %span.returns
            Returns:
            %a.return{:href => "http://docs.jquery.com/Types#jQuery"} jQuery
        .entry-details
          %p.desc
            %strong> Description:
            Bind an event handler to the "mousemove" JavaScript event, or trigger that event on an element.
          %ul.signatures
            %li#mousemove-handlereventObject.signature
              %h4.name
                %span.versionAdded>
                  version added:
                  %a{:href => "/category/version/1.0/"} 1.0
                \.mousemove( handler(eventObject) )
              %p.arguement
                %strong> handler(eventObject)
                A function to execute each time the event is triggered.
            %li#mousemove.signature
              %h4.name
                %span.versionAdded>
                  version added:
                  %a{:href => "/category/version/1.0/"} 1.0
                \.mousemove()
          .longdesc
            %p
              This method is a shortcut for
              %code .bind('mousemove', handler)
              in the first variation, and
              %code .trigger('mousemove')
              in the second.
            %p
              The
              %code mousemove
              event is sent to an element when the mouse pointer moves inside the element. Any HTML element can receive this event.
            %p For example, consider the HTML:
            %pre
              :preserve
                &lt;div id="target"&gt;
                  Move here
                &lt;/div&gt;
                &lt;div id="other"&gt;
                  Trigger the handler
                &lt;/div&gt;
                &lt;div id="log"&gt;&lt;/div&gt;            %p.image
              %img{:alt => "", :src => "http://api.jquery.com/images/0042_05_10.png"}/
            %p The event handler can be bound to the target:
            %pre
              :preserve
                $('#target').mousemove(function(event) {
                  var msg = 'Handler for .mousemove() called at ' + event.pageX + ', ' + event.pageY;
                  $('#log').append('&lt;div&gt; + msg + '&lt;/div&gt;');
                });            %p Now when the mouse pointer moves within the target button, the messages are appended to &lt;div id="log"&gt;:
            %p
              %span.output Handler for .mousemove() called at (399, 48)
              %br
                %span.output Handler for .mousemove() called at (398, 46)
                %br
                  %span.output Handler for .mousemove() called at (397, 44)
                  %br
                    %span.output Handler for .mousemove() called at (396, 42)
                    %br/
            %p We can also trigger the event when the second button is clicked:
            %pre
              :preserve
                $('#other').click(function() {
                  $('#target').mousemove();
                });            %p After this code executes, clicks on the Trigger button will also append the message:
            %p
              %span.output Handler for .mousemove() called at (undefined, undefined)
            %p
              When tracking mouse movement, we usually need to know the actual position of the mouse pointer. The event object that is passed to the handler contains some information about the mouse coordinates. Properties such as
              = succeed "," do
                %code .clientX
              = succeed "," do
                %code .offsetX
              and
              %code .pageX
              are available, but support for them differs between browsers. Fortunately, jQuery normalizes the
              %code .pageX
              and
              %code .pageY
              attributes so that they can be used in all browsers. These attributes provide the X and Y coordinates of the mouse pointer relative to the top-left corner of the page, as illustrated in the example output above.
            %p
              We need to remember that the
              %code mousemove
              event is triggered whenever the mouse pointer moves, even for a pixel. This means that hundreds of events can be generated over a very small amount of time. If the handler has to do any significant processing, or if multiple handlers for the event exist, this can be a serious performance drain on the browser. It is important, therefore, to optimize
              = succeed "handlers" do
                %code mousemove
              as much as possible, and to unbind them as soon as they are no longer needed.
            %p
              A common pattern is to bind the
              %code mousemove
              handler from within a
              %code mousedown
              hander, and to unbind it from a corresponding
              %code mouseup
              handler. If implementing this sequence of events, remember that the
              %code mouseup
              event might be sent to a different HTML element than the
              %code mousemove
              event was. To account for this, the
              %code mouseup
              handler should typically be bound to an element high up in the DOM tree, such as
              = succeed "." do
                %code &lt;body&gt;
          %h3 Example:
          #entry-examples.entry-examples
            #example-0
              %h4
                %span.desc Show the mouse coordinates when the mouse is moved over the yellow div.  Coordinates are relative to the window, which in this case is the iframe.
              %pre
                %code.example.demo-code
                  :preserve
                    &lt;!DOCTYPE html&gt;
                    &lt;html&gt;
                    &lt;head&gt;
                      &lt;style&gt;
                      div { width:220px; height:170px; margin;10px; margin-right:50px;
                            background:yellow; border:2px groove; float:right; }
                      p { margin:0; margin-left:10px; color:red; width:220px;
                          height:120px; padding-top:70px;
                          float:left; font-size:14px; }
                      span { display:block; }
                      &lt;/style&gt;
                      &lt;script src="http://code.jquery.com/jquery-latest.js"&gt;&lt;/script&gt;
                    &lt;/head&gt;
                    &lt;body&gt;
                    	&lt;p&gt;   
                        Try scrolling too.
                        &lt;span&gt;Move the mouse over the div.&lt;/span&gt;
                        &lt;span&gt;&amp;nbsp;&lt;/span&gt;
                      &lt;/p&gt;
                    
                      &lt;div&gt;&lt;/div&gt;
                    &lt;script&gt;
                        $("div").mousemove(function(e){
                          var pageCoords = "( " + e.pageX + ", " + e.pageY + " )";
                          var clientCoords = "( " + e.clientX + ", " + e.clientY + " )";
                          $("span:first").text("( e.pageX, e.pageY ) - " + pageCoords);
                          $("span:last").text("( e.clientX, e.clientY ) - " + clientCoords);
                        });
                    
                    &lt;/script&gt;
                    &lt;/body&gt;
                    &lt;/html&gt;              %h4 Demo:
              .demo.code-demo{:rel => "300"}
