!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
  %body
    %div{"data-role" => "page"}
      %div{"data-role" => "header"}
        %h1 :header Selector
      #header1{"data-role" => "content", "data-theme" => "c"}
        %h2.jq-clearfix.roundTop.section-title
          %span.name header
          selector
        .entry-details
          %h4.name
            %span.versionAdded>
              version added:
              %a{:href => "/version/1.2/"} 1.2
            jQuery(':header')
          %p.desc
            %strong> Description:
            Selects all elements that are headers, like h1, h2, h3 and so on.
          %h3 Example:
          #entry-examples.entry-examples
            #example-0
              %h4
                %span.desc Adds a background and text color to all the headers on the page.
              %pre
                %code.example.demo-code
                  :preserve
                    &lt;!DOCTYPE html&gt;
                    &lt;html&gt;
                    &lt;head&gt;
                      &lt;style&gt;
                      body { font-size: 10px; font-family: Arial; } 
                      h1, h2 { margin: 3px 0; }
                      &lt;/style&gt;
                      &lt;script src="http://code.jquery.com/jquery-latest.js"&gt;&lt;/script&gt;
                    &lt;/head&gt;
                    &lt;body&gt;
                    	&lt;h1&gt;Header 1&lt;/h1&gt;
                    
                      &lt;p&gt;Contents 1&lt;/p&gt;
                      &lt;h2&gt;Header 2&lt;/h2&gt;
                      &lt;p&gt;Contents 2&lt;/p&gt;
                    &lt;script&gt;$(":header").css({ background:'#CCC', color:'blue' });&lt;/script&gt;
                    &lt;/body&gt;
                    &lt;/html&gt;              %h4 Demo:
              .demo.code-demo
