- content_for :head_scripts do
  = javascript_include_tag :jstree
  :javascript
    $(function () {
      $("#demo1").jstree({
        "plugins" : [ "themes", "html_data", "ui", "cookies" ]
      });
    });

- content_for :license do
  = render :partial => "widgets/jstree/license"
