:css
  .jstree-drop{ clear:both; border:5px solid green; background:lime; color:green; height:40px; line-height:40px; text-align:center; font-size:20px; }
  .jstree-draggable{ margin:10px 0; clear:both; border:5px solid navy; background:aqua; color:navy; height:40px; line-height:40px; text-align:center; font-size:20px; }

:javascript
  $(function () {
    $("#demo2").jstree({ 
      "crrm" : { 
        "move" : {
          "check_move" : function (m) { 
            var p = this._get_parent(m.o);
            if(!p) return false;
            p = p == -1 ? this.get_container() : p;
            if(p === m.np) return true;
            if(p[0] && m.np[0] && p[0] === m.np[0]) return true;
            return false;
          }
        }
      },
      "dnd" : {
        "drop_target" : false,
        "drag_target" : false
      },
      "plugins" : [ "themes", "html_data", "crrm", "dnd" ]
    });
  
    $("#demo1").jstree({ 
      "dnd" : {
        "drop_finish" : function () { 
          alert("DROP"); 
        },
        "drag_check" : function (data) {
          if(data.r.attr("id") == "phtml_1") {
            return false;
          }
          return { 
            after : false, 
            before : false, 
            inside : true 
          };
        },
        "drag_finish" : function () { 
          alert("DRAG OK"); 
        }
      },
      "plugins" : [ "themes", "html_data", "dnd" ]
    });
  });
  