#greybox
.demo-description  
  %p
    The jsTree plugin is released under the license
    %a{ :href => "http://www.jstree.com/", :class => :greybox }
      MIT or GPL Version 2.
/ End demo description
