:css
  .toolbar{ padding: 0.3em; }
  .ui-button{ font-size: 0.9em; }
  
:javascript
  $(function () {
    $("button", ".demo").button();
    
    $("#rename").click(function () { 
      $("#demo1").jstree("rename");
    });
    
    $("#demo1").jstree({ 
      "plugins" : [ "themes", "html_data", "ui", "crrm", "sort" ]
    });
  });
      