-@title = "#{t('txt.jst.name')} - #{t('txt.jst.core')}"
= render :partial => "core.js.haml", :format => :js

.demo
  %h3
    =image_tag("icons/22x22/tree.png", :border => 0)
    =@title
  .span-11
    %h4
      Binding to an event and executing an action
    #demo1.ui-widget-content.ui-corner-all
      %ul
        %li#phtml_1
          %a{:href => "#"} Root node 1
          %ul
            %li#phtml_2
              %a{:href => "#"} Child node 1
            %li#phtml_3
              %a{:href => "#"} Child node 2
        %li#phtml_4
          %a{:href => "#"} Root node 2
    .toolbar.ui-widget-header.ui-corner-all
      %button#toggle_node
        toggle node
    %p#log1.log.ui-corner-all
  .span-11.prepend-2.last
    %h4
      Preventing an action
    #demo2.ui-widget-content.ui-corner-all
      %ul
        %li#html_1
          %a{:href => "#"} Root node 1
          %ul
            %li#html_2
              %a{:href => "#"} Child node 1
            %li#html_3
              %a{:href => "#"} Child node 2
        %li#html_4
          %a{:href => "#"} Root node 2
    .toolbar.ui-widget-header.ui-corner-all
      %button#toggle_node2
        toggle node
    %p#log2.log.ui-corner-all
    %p
      This is the same demo as on the left, but this time the operation will be prevented.
    %p
      The important part is:
      %br
      %code
        e.stopImmediatePropagation();
      %br
      %code
        return false;
/ End demo
.demo-description
  %p
    = link_to raw("Look here for addtional Documentation"), "http://www.jstree.com/documentation/core"  
/ End demo-description
