-@title = "#{t('txt.jst.name')} - #{t('txt.jst.sort')}"
= render :partial => "sort.js.haml", :format => :js

.demo
  %h3
    =image_tag("icons/22x22/tree.png", :border => 0)
    =@title
  .span-11.append-13.last
    %h4
      Using the sort plugin
    #demo1.ui-widget-content.ui-corner-all
      %ul
        %li#phtml_1
          %a{:href => "#"} Root node 1
          %ul
            %li#phtml_2
              %a{:href => "#"} Child node 1
            %li#phtml_3
              %a{:href => "#"} Child node 2
        %li#phtml_4
          %a{:href => "#"} Root node 2
    .span-11.append-13.last
    #toolbar.ui-widget-header.ui-corner-all
      %button#rename
        Rename
/ End demo
.demo-description
  %p
    The
    %b
      sort plugin 
    enables jstree to automatically sort all nodes using a specified function. This means that when
    the user creates, renames or moves nodes around - they will be sorted automatically.
  %p
    = link_to raw("Look here for addtional Documentation"), "http://www.jstree.com/documentation/sort"  
/ End demo-description
