- content_for :head_stylesheets do
  = stylesheet_link_tag :markitup_default, :media => 'screen, projection'

- content_for :head_scripts do
  = javascript_include_tag :markitup
  = javascript_include_tag :markitup_default
  :javascript
    $(function()	{
      // Add markItUp! to your textarea in one line
      // $('textarea').markItUp( { Settings }, { OptionalExtraSettings } );

      //      previewInWindow:    '', // 'width=800, height=600, resizable=yes, scrollbars=yes'
      //      previewAutoRefresh:    true,
      //      previewPosition:    'after',
      //      previewTemplatePath:  '~/templates/preview.html',
      //      previewParserPath:    '',
      //      previewParserVar:    'data',

      $('#markItUp').markItUp(mySettings, {
                                previewTemplatePath: '/widgets/mark_it_up/preview'
                              });

      // You can add content from anywhere in your page
      // $.markItUp( { Settings } );
      $('.add').click(function() {
        $.markItUp({
          openWith:'<opening tag>',
          closeWith:'<\/closing tag>',
          placeHolder:"New content"
        });
        return false;
      });

      // And you can add/remove markItUp! whenever you want
      // $(textarea).markItUpRemove();
      $('.toggle').click(function() {
        if ($("#markItUp.markItUpEditor").length === 1) {
          $("#markItUp").markItUpRemove();
          $("span", this).text("get markItUp! back");
        } else {
          $('#markItUp').markItUp(mySettings);
          $("span", this).text("remove markItUp!");
        }
        return false;
      });
    });