-@title =  "#{t('txt.markitup.name')} - #{t('txt.markitup.default')}"
= render :partial => "basic.js.haml", :format => :js

.demo
  %h3
    =image_tag("icons/22x22/markitup.png", :border => 0)
    =raw @title
  %h1
    %a{:href => "http://markitup.jaysalvat.com/"} markItUp!
  %p
    %em
      %a{:href => "http://www.jaysalvat.com"} By Jay Salvat
  %p
    Downloads, examples and documentation at
    = succeed "." do
      %a{:href => "http://markitup.jaysalvat.com"} http://markitup.jaysalvat.com
  %p
    Click
    %a.add{:href => "#"} this link to insert content
    from anywhere in the page or
    %a.toggle{:href => "#"}
      this one to
      %span remove markItUp!
  %p
    %textarea#markItUp{:cols => "80", :rows => "20"}
      :preserve
        &lt;h1&gt;Welcome on markItUp!&lt;/h1&gt;

        &lt;p&gt;&lt;strong&gt;markItUp!&lt;/strong&gt; is a JavaScript plugin built on the jQuery library. It allows you to turn any textarea into a markup editor. Html, Textile, Wiki Syntax, Markdown, BBcode or even your own markup system can be easily implemented.&lt;/p&gt;

