-@title = "#{t('txt.jqgrid.name')} - #{t('txt.jqgrid.simple.name')} #{t('txt.jqgrid.simple.master')}"
.demo
  %center
    %h3
      =image_tag("icons/22x22/grid.png", :border => 0)
      =@title
    %table#players_example05.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #players_example05_pager.scroll{ :style => "text-align:center;" }
    %br
    %table#animals_example05.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #animals_example05_pager.scroll{ :style => "text-align:center;" }