- content_for :head_stylesheets do
  = stylesheet_link_tag :jqGrid

- content_for :head_scripts do
  = raw jqgrid_javascripts(I18n.locale)
  :javascript
    $(function() {
      $("#players_example02_select_button").button();

      $("#players_example02_select_button").click(function() {
        var id = $("#players_example02").jqGrid('getGridParam', 'selrow');
        if (id) {
          alert('ID selected : ' + id);
        } else {
          alert("Please select a row");
        }
      return false;
      });
    });

  = raw @grid_players

- content_for :license do
  = render :partial =>  "widgets/jqgrid/license"
