%center
  .ipad
    .emulator
      .display-area
        %iframe{ :src => url, :width => "600", :height => "987", :frameborder => "0" }
        %a{ :href => url }
          Click here
        if the IFrame could not be shown.
