%link{:href => "/images/demo/mobile/list-maker-icon.png", :rel => "apple-touch-icon"}/

:css
  .ui-li-has-thumb .ui-btn-inner { min-height: 1em; padding-left: 0.5em; }
  .ui-li-thumb { position: relative; }
  #box { background-repeat: no-repeat; background-clip: none; width: 23px; border: 0px; }

= javascript_include_tag :tmpl, :offline

%script#item_template{:type => "text/x-jquery-tmpl"}
  %li
    %img#box.ui-icon-checkbox-off{ :src => "/images/demo/empty.png" }
    %a#item{ :value => "${list_item.id}", :href => "#" }
      ${list_item.name}
    %a{"data-rel" => "dialog", "data-transition" => "slideup", :href => "#delete_item"}
      Delete item

:javascript
  $(function() {
    if ($.support.localStorage) {
      $(window.applicationCache).bind("error", function() {
        console.log("There was an error when loading the cache manifest.");
      });
      if (!localStorage["pendingItems"]) {
        localStorage["pendingItems"] = JSON.stringify([]);
      }
      $.retrieveJSON("/mobile/experiments/list_maker?format=json", function(data) {
        var pendingItems = $.parseJSON(localStorage["pendingItems"]);
        $("#items").html($("#item_template").tmpl(data.concat(pendingItems))).listview("refresh");
      });
      $("#create_item").submit(function(e) {
        var pendingItems = $.parseJSON(localStorage["pendingItems"]);
        var item = {"data":$(this).serialize(), "item":{"name":$("#item_name").val()}};
        $("#item_template").tmpl(item).appendTo("#items");
        $("#items").listview("refresh");
        pendingItems.push(item);
        localStorage["pendingItems"] = JSON.stringify(pendingItems)
        $("#item_name").val("");
        sendPending();
        e.preventDefault();
      });
      function sendPending() {
        if (window.navigator.onLine) {
          var pendingItems = $.parseJSON(localStorage["pendingItems"]);
          if (pendingItems.length > 0) {
            var item = pendingItems[0];
            $.post("/mobile/experiments/list_maker", item.data, function(data) {
              var pendingItems = $.parseJSON(localStorage["pendingItems"]);
              pendingItems.shift();
              localStorage["pendingItems"] = JSON.stringify(pendingItems)
              setTimeout(sendPending, 100);
            });
          }
        }
      }
      sendPending();
      $(window).bind("online", sendPending);
    } else {
      alert("Try a different browser.");
    };
  });
  
  $(document).ready(function() {
    $("#item").live('click', function(){
      var item = $(this).attr("value");
      if (checked == "1") {
        $(this).attr("checked", "0");
        alert("Item " + item + " unchecked.");
      }
      else{
        $(this).attr("checked", "1");
        alert("Item " + item + " checked.");
      }
    });
  });
