-@title = "jQuery Mobile Framework - Grocery List"
-@manifest = "/manifest"

- content_for :content_head do
  = render(:partial => "index.js.haml", :format => :js)

#start{"data-role" => "page", "data-theme" => "a"}
  %div{"data-backbtn" => "false", "data-role" => "header"}
    %a.ui-btn-right{"data-icon" => "plus", "data-rel" => "dialog", "data-transition" => "pop", :href => "#add_item"} Add item
    %h1 Offline Shopping List
  %div{"data-role" => "content", "data-theme" => "a"}
    %ol#items{"data-inset"=> "true", "data-role" => "listview", "data-split-icon" => "delete", "data-theme" => "a"}
      - if @items.empty?
        %li
          %em
            Loading items...
      - else
        - @items.each do |item|
          %li
            -if item.checked
              %img#box.ui-icon-checkbox-on{ :src => "/images/demo/empty.png", :alt => "checked" }
              %a#item{ :value => item.id, :href => "#", :checked => 1 }
                = item.name
            -else
              %img#box.ui-icon-checkbox-of{ :src => "/images/demo/empty.png", :alt => "unchecked" }
              %a#item{ :value => item.id, :href => "#", :checked => 0 }
                = item.name
            %a{"data-rel" => "dialog", "data-transition" => "slideup", :href => "#delete_item"} Delete item
#add_item{"data-role" => "page", "data-theme" => "a"}
  %div{"data-backbtn" => "false", "data-role" => "header", "data-theme" => "a"}
    %h1 Add item to list
  %div{"data-role" => "content", "data-theme" => "a"}
    %form{:action => :create, :method => :post, :format => :json}
      %fieldset
        %div{"data-role" => "fieldcontain"}
          %label{:for => "name"} Name:
          %input#item_name{:name => "name", :type => "text", :value => ""}
          %button#create_item{:type => "submit", "data-theme" => "b"} Submit
#delete_item{"data-role" => "page", "data-theme" => "a"}
  %div{"data-backbtn" => "false", "data-role" => "header", "data-theme" => "a"}
    %h1 Delete item from list
  %div{"data-role" => "content", "data-theme" => "a"}
    %form{:action => :destroy, :method => :delete, :format => :json}
      %fieldset
        %div{"data-role" => "fieldcontain"}
          %label{:for => "name"} Name:
          %button#destroy_item{:type => "submit", "data-theme" => "b"} Delete
  
  