-@title = "jQuery Mobile Framework - Grocery List"
-@manifest = "list_maker/manifest"

- content_for :content_head do
  = render(:partial => "index.js.haml", :format => :js)

#start{"data-role" => "page", "data-theme" => "a"}
  %div{"data-role" => "header"}
    %h1 Grocery List
  / /header
  %div{"data-role" => "content"}
    %form{:action => "/mobile/docs/forms/forms_sample_response", :method => "get"}
      %fieldset
        %div{"data-role" => "fieldcontain"}
          %label{:for => "name"} Name:
          %input#name{:name => "name", :type => "text", :value => ""}
          %button{"data-inline" => "true", :type => "submit", :name => "submit", :value => "submit-value"} Submit
  / /content
/ / page
