-@title = "jQuery Mobile Framework - Grocery List"
-@manifest = "/manifest"

- content_for :content_head do
  = render(:partial => "index.js.haml", :format => :js)

#start{"data-role" => "page", "data-theme" => "a"}
  %div{"data-backbtn" => "false", "data-role" => "header"}
    %a.ui-btn-right{"data-icon" => "plus", "data-rel" => "dialog", "data-transition" => "pop", :href => "#add_item"} Add item
    %h1 Offline Shopping List
  %div{"data-role" => "content", "data-theme" => "a"}
    %ol#itemss{"data-inset"=> "true", "data-role" => "listview", "data-theme" => "a"}
      - if @items.empty?
        %li
          %em
            Loading items...
      - else
        - @items.each do |item|
          %li
            = item.name
#add_item{"data-role" => "page", "data-theme" => "a"}
  %div{"data-backbtn" => "false", "data-role" => "header", "data-theme" => "a"}
    %h1 Add item to list
  %div{"data-role" => "content", "data-theme" => "a"}
    %form{:action => :create, :method => :post, :format => :json}
      %fieldset
        %div{"data-role" => "fieldcontain"}
          %label{:for => "name"} Name:
          %input#name{:name => "name", :type => "text", :value => ""}
          %button#new_item{:type => "submit", "data-theme" => "b"} Submit
  
  