-@title = "jQuery Mobile Framework - Grocery List"
-@manifest = "list_maker/manifest"

- content_for :content_head do
  = render(:partial => "index.js.haml", :format => :js)

#start{"data-role" => "page", "data-theme" => "a"}

  %script#item_template{:type => "text/html"}
    %li ${item.name}
  %ol#items
    %li
      %em Loading items...


  %div{"data-role" => "header"}
    %h1 Grocery List
  / /header
  %div{"data-role" => "content"}
    = form_for ListItem.new do |f|
      %fieldset
        %div{"data-role" => "fieldcontain"}
          %label{:for => "name"} Name:
          %input#name{:name => "name", :type => "text", :value => ""}
          %button{"data-inline" => "true", :type => "submit", :name => "submit", :value => "submit-value"} Submit
    %ul#items{"data-role" => "listview", "data-theme" => "a"}
  / /content
/ / page
