:css
  .box { margin-top:2em;  font-size: 62.5%; }

:javascript
  $(document).ready(
    function(){
      $('#panel9').panel({
        'collapseType':'slide-right',
        'stackable':false,
        'trueVerticalText':true
      });
    }
  );
