:css
  .box { margin-top:2em;  font-size: 62.5%; }

:javascript
  $(document).ready(
    function(){
      $('#panel1').panel({
        'collapseType':'slide-right',
        'stackable':false,
        'controls':$('#cntrl').html()
      });
    }
  );
