%center
  %h3
    9) Data manipulation with various input types and datepicker for lastname
  %table#players_with_datepicker.scroll{ :cellspacing => "0", :cellpadding => "0" }
  #players_with_datepicker_pager.scroll{ :style => "text-align:center;" }