%center
  %h3
    7) Data manipulation with modal editing (+ navigation and server side errors handling if pseudo is empty)
  #submit_errors{ :style => "background-color: #ffcdd1; border: 2px solid #e10c0c; display:none" }
  %table#players_7.scroll{ :cellspacing => "0", :cellpadding => "0" }
  #players_7_pager.scroll{ :style => "text-align:center;" }