%center
  %h3
    2) Simple DataGrid with selection link/button + search disabled
  %table#players_2.scroll{ :cellspacing => "0", :cellpadding => "0" }
  #players_2_pager.scroll{ :style => "text-align:center;" }
  %a#players_2_select_button{ :href => "#" }
    Get ID of selected row