%center
  %h3
    4) Simple DataGrid with multiple selections
  %table#players_4.scroll{ :cellspacing => "0", :cellpadding => "0" }
  #players_4_pager.scroll{ :style => "text-align:center;" }
  %a#players_4_select_button{ :href => "#" }
    Get IDs of selected rows