%script{:src => "../js/jquery-1.3.2.js"}
%script{:src => "../../src/scrollable/scrollable.js"}
%link{:href => "style.css", :rel => "stylesheet", :type => "text/css"}/
:javascript
  $(function() {
  	$(".scrollable").scrollable({ circular: false, initialIndex: 2, onBeforeSeek: function() {
  		console.info("jou");
  	}}); 	
  });
%div
  %a.prev prev
  .navi
  .scrollable{:style => "width:130px"}
    .items
      %div 0
      %div 1
      %div 2
      %div 3
      %div 4
      %div 5
      %div 6
  %a.next next
%div
  %a.prev prev
  .navi
  .scrollable{:style => "width:130px"}
    .items
      %div 0
      %div 1
      %div 2
      %div 3
      %div 4
      %div 5
      %div 6
  %a.next next
