-@title = "#{t('txt.ui.name')} #{t('txt.ui.effects.default')} - #{t('txt.ui.effects.effect.easing')}"

- content_for :content_head do
  = render :partial => "easing.js.haml", :format => :js

.demo
  %h3
    =image_tag("icons/22x22/jquery-ui.png", :border => 0)
    =@title
  #graphs
  #animted
/ End demo

.demo-description
  %p
    %strong
      All easings provided by jQuery UI are drawn above, using a HTML canvas element.
    Click a diagram to see the easing in action.
/ End demo-description
