- content_for :head_stylesheets do
  :css
    #demo-frame > div.demo { padding: 10px !important; };

- content_for :head_scripts do
  :javascript
    $(function() {
      $("#slider").slider();
    });

- content_for :license do
  = render :partial => "ui/license"

