- content_for :head_stylesheets do
  :css
    #demo-frame > div.demo { padding: 10px !important; };

- content_for :head_scripts do
  :javascript
    $(function() {
      $("#slider-range-min").slider({
        range: "min",
        value: 37,
        min: 1,
        max: 700,
        slide: function(event, ui) {
          $("#amount").val('$' + ui.value);
        }
      });
      $("#amount").val('$' + $("#slider-range-min").slider("value"));
    });

- content_for :license do
  = render :partial => "ui/license"

