- content_for :head_stylesheets do
  :css
    #demo-frame > div.demo { padding: 10px !important; };

- content_for :head_scripts do
  :javascript
    $(function() {
      $("#slider-range-max").slider({
        range: "max",
        min: 1,
        max: 10,
        value: 2,
        slide: function(event, ui) {
          $("#amount").val(ui.value);
        }
      });
      $("#amount").val($("#slider-range-max").slider("value"));
    });

- content_for :license do
  = render :partial => "ui/license"
  
