- content_for :head_stylesheets do
  :css
    #demo-frame > div.demo { padding: 10px !important; };

- content_for :head_scripts do
  :javascript
    $(function() {
      $("#slider").slider({
        value:100,
        min: 0,
        max: 500,
        step: 50,
        slide: function(event, ui) {
          $("#amount").val('$' + ui.value);
        }
      });
      $("#amount").val('$' + $("#slider").slider("value"));
    });

- content_for :license do
  = render :partial => "ui/license"
  
