-@title = "#{t('txt.ui.name')} #{t('txt.ui.widgets.slider.default')} - #{t('txt.ui.widgets.slider.colorpicker')}"

- content_for :content_head do
  = render :partial => "colorpicker.js.haml", :format => :js

.demo
  %h3
    =image_tag("icons/22x22/jquery-ui.png", :border => 0)
    =@title
  %p.ui-state-default.ui-corner-all.ui-helper-clearfix{ :style => "padding:4px;" }
    %span.ui-icon.ui-icon-pencil{ :style => "float:left; margin:-2px 5px 0 0;" }
    Simple Colorpicker
  #red
  #green
  #blue
  #swatch.ui-widget-content.ui-corner-all
/ End demo
.demo-description{ :style => "clear:left;" }
  %p
    Combine three sliders to create a simple RGB colorpicker.
/ End demo-description
