-@title = "#{t('txt.ui.name')} #{t('txt.ui.widgets.slider.default')} - #{t('txt.ui.default')}"

- content_for :content_head do
  = render :partial => "default.js.haml", :format => :js

.demo
  %h3
    =image_tag("icons/22x22/jquery-ui.png", :border => 0)
    =@title
  #slider
/ End demo
.demo-description
  %p
    The basic slider is horizontal and has a single handle that can be moved with the mouse or by using the arrow keys.
/ End demo-description
