-@title = "#{t('txt.ui.name')} #{t('txt.ui.widgets.slider.default')} - #{t('txt.ui.widgets.slider.hotelrooms')}"
= render :partial => "hotelrooms.js.haml", :format => :js

.demo
  %h3
    =image_tag("icons/22x22/jquery-ui.png", :border => 0)
    =@title
  %form#reservation
    %fieldset
      %label{ :for => "minbeds" }
        Minimum number of beds
      %select#minbeds{ :name => "minbeds" }
        %option{:value => "1"} 1
        %option{:value => "2"} 2
        %option{:value => "3"} 3
        %option{:value => "4"} 4
        %option{:value => "5"} 5
        %option{:value => "6"} 6
    %br
    #saa
/ End demo

.demo-description
  %p
    How to bind a slider to an existing select element. The select stays visible to display the change.
    When the select is changed, the slider is updated, too.
/ End demo-description
