-@title = "#{t('txt.ui.name')} #{t('txt.ui.widgets.slider.default')} - #{t('txt.ui.widgets.slider.rangemax')}"

- content_for :content_head do
  = render :partial => "rangemax.js.haml", :format => :js

.demo
  %h3
    =image_tag("icons/22x22/jquery-ui.png", :border => 0)
    =@title
  %p
    %label{ :for => "amount" }
      Minimum number of bedrooms:
    %input#amount{ :type => "text", :style => "border:0; color:#f6931f; font-weight:bold;" }
  #slider-range-max
/ End demo
.demo-description
  %p
    Fix the maximum value of the range slider so that the user can only select a minimum.  Set the
    %code
      range
    option to "max."
/ End demo-description
