-@title = "#{t('txt.ui.name')} #{t('txt.ui.widgets.slider.default')} - #{t('txt.ui.widgets.slider.slider-vertical')}"

- content_for :content_head do
  = render(:partial => "slider_vertical.js.haml", :format => :js)

.demo
  %h3
    =image_tag("icons/22x22/jquery-ui.png", :border => 0)
    =@title
  %p
    %label{ :for => "amount" }
      Volume:
    %input#amount{ :type => "text", :style => "border:0; color:#f6931f; font-weight:bold;" }
  #slider-vertical{ :style => "height:200px;" }
/ End demo
.demo-description
  %p
    Change the orientation of the slider to vertical.  Assign a height value via
    %code
      \.height()
    or by setting the height through CSS, and set the
    %code
      orientation
    option to "vertical."
/ End demo-description
