!!!
%script{:src => "../js/jquery-1.4.2.min.js"}
%script{:src => "../../src/validator/validator.js"}
:css
  label {
  	margin:10px 0;
  	display:block;
  }
  
  body {
  	padding:100px;		
  	font-family:sans-serif;
  }
  
  .invalid {
  	border:1px solid red;		
  }
  
  .error {
  	display:none;		
  	border:1px solid #667;
  	background:#eee;
  	padding:5px;
  }
.form{:action => "#"}
  %label
    requred text
    %input{:required => "required", :type => "text"}/
  %label
    pattern
    %input{:pattern => "\\d+", :type => "text"}/
  %label
    date
    %input{:name => "day", :title => "Use format yyyy-mm-dd", :type => "date"}/
  %label
    email
    %input{:type => "email"}/
  %button Submit
:javascript
  // perform validation programmatically
  var inputs = $(".form :input").validator(); 
  inputs.data("validator").checkValidity();
