- content_for :head_stylesheets do
  %link{:href => "/images/demo/mobile/homeicon.png", :rel => "apple-touch-icon"}/

- content_for :head_scripts_before_mobile do
  %script{:src => "http://maps.google.com/maps/api/js?sensor=false"}
