-@title = "jQuery Mobile Framework - Goggle Maps Example"
= render :partial => "map.js.haml", :format => :js

%div{"data-role" => "page"}
  %div{"data-role" => "header"}
    %h1 Google maps view
    %a.ui-btn-left{"data-icon" => "home", "data-iconpos" => "notext", :href => "/mobile/experiments/main", :rel => "external"} Home
  / / header
  %div{"data-role" => "content"}
    %p
      If you're linking to a map page with jQuery Mobile's Ajax behavior, be sure to load google maps in the first real page's head, since it uses document.write and can not be included in the data-role=page div like normal scripts can.
      %a{:href => "/mobile/experiments/google_maps/map?"} View map
