-@title = "jQuery Mobile Docs - Buttons"

= render(:partial => "/mobile/index.js.haml", :format => :js)

%div{"data-role" => "page"}
  %div{"data-role" => "header", "data-theme" => "b"}
    %h1 Button API
    %a.ui-btn-right.jqm-home{"data-direction" => "reverse", "data-icon" => "home", "data-iconpos" => "notext", :href => "/mobile"} Home
  / /header
  %div{"data-role" => "content", "data-theme" => "c"}
    %h2 Dependencies
    %p To be documented
    %h2 Options
    %p To be documented
    %h2 Methods
    %p To be documented
    %h2 Known Issues
    %p To be documented
  / /content
/ /page
