-@title = "jQuery Mobile Docs - Inline Buttons"

= render :partial => "/mobile/index.js.haml", :format => :js

%div{"data-role" => "page"}
  %div{"data-role" => "header", "data-theme" => "b"}
    %h1 Ãnline buttons
    %a.ui-btn-right.jqm-home{"data-direction" => "reverse", "data-icon" => "home", "data-iconpos" => "notext", :href => "/mobile"} Home
  / /header
  %div{"data-role" => "content"}
    %p By default, all buttons in the body content are styled as block-level element so they fill the width of the screen:
    %a{"data-role" => "button", :href => "/mobile/docs/buttons"} Button
    %p
      However, if you want a more compact button that is only as wide as the text and icons inside, add the
      %code data-inline="true"
      attribute to the button:
    %a{"data-inline" => "true", "data-role" => "button", :href => "/mobile/docs/buttons"} Button
    %p
      If you have multiple buttons that should sit side-by-side on the same line, wrap the buttons in a container that has a
      %code data-inline="true"
      attribute. This will style the buttons to be the width of their content and float the buttons so they sit on the same line.
    %pre
      %code
        :preserve
          
          &lt;div data-inline=&quot;true&quot;&gt;
            &lt;a href=&quot;index.html&quot; data-role=&quot;button&quot;&gt;Cancel&lt;/a&gt;
            &lt;a href=&quot;index.html&quot; data-role=&quot;button&quot; data-theme=&quot;b&quot;&gt;Save&lt;/a&gt;
          &lt;/div&gt;
    %p This creates an inline button set:
    %a{"data-inline" => "true", "data-role" => "button", :href => "/mobile/docs/buttons"} Cancel
    %a{"data-inline" => "true", "data-role" => "button", "data-theme" => "b", :href => "/mobile/docs/buttons"} Save
    %p
      If you want buttons to sit side-by-side but stretch to fill the width of the screen, you can use the
      %a{:href => "/mobile/docs/content/content_grids"} content column grids
      to put normal full-width buttons into 2- or 3-columns.
  / /content
/ /page
