-@title = "jQuery Mobile Docs - Button icons"

= render :partial => "/mobile/index.js.haml", :format => :js

%div{"data-role" => "page"}
  %div{"data-role" => "header", "data-theme" => "b"}
    %h1 Button icons
    %a.ui-btn-right.jqm-home{"data-direction" => "reverse", "data-icon" => "home", "data-iconpos" => "notext", :href => "/mobile"} Home
  / /header
  %div{"data-role" => "content"}
    %h2 Adding Icons to Buttons
    %p The jQuery Mobile framework includes a selected set of icons most often needed for mobile apps. To minimize download size, jQuery Mobile includes a single white icon sprite, and automatically adds a semi-transparent black circle behind the icon to ensure that it has good contrast on any background color.
    %p
      An icon can be added to a button by adding a
      %code data-icon
      attribute on the anchor specifying the icon to display.  For example, the following markup:
    %code
      &lt;a href=&quot;index.html&quot; data-role=&quot;button&quot;
      data-icon=&quot;delete&quot;
      &gt;Delete&lt;/a&gt;
    %p Creates this button with an icon:
    %a{"data-icon" => "delete", "data-role" => "button", :href => "/mobile/docs/buttons"} Delete
    %h2 Icon set
    %p
      The following
      %code data-icon
      attributes can be referenced to create the icons shown below:
    %p
      %strong Left arrow
      \- data-icon="arrow-l"
    %a{"data-icon" => "arrow-l", "data-role" => "button", :href => "/mobile/docs/buttons"} My button
    %p
      %strong Right arrow
      \- data-icon="arrow-r"
    %a{"data-icon" => "arrow-r", "data-role" => "button", :href => "/mobile/docs/buttons"} My button
    %p
      %strong Up arrow
      \- data-icon="arrow-u"
    %a{"data-icon" => "arrow-u", "data-role" => "button", :href => "/mobile/docs/buttons"} My button
    %p
      %strong Down arrow
      \- data-icon="arrow-d"
    %a{"data-icon" => "arrow-d", "data-role" => "button", :href => "/mobile/docs/buttons"} My button
    %p
      %strong Delete
      \- data-icon="delete"
    %a{"data-icon" => "delete", "data-role" => "button", :href => "/mobile/docs/buttons"} My button
    %p
      %strong Plus
      \- data-icon="plus"
    %a{"data-icon" => "plus", "data-role" => "button", :href => "/mobile/docs/buttons"} My button
    %p
      %strong Minus
      \- data-icon="minus"
    %a{"data-icon" => "minus", "data-role" => "button", :href => "/mobile/docs/buttons"} My button
    %p
      %strong Check
      \- data-icon="check"
    %a{"data-icon" => "check", "data-role" => "button", :href => "/mobile/docs/buttons"} My button
    %p
      %strong Gear
      \- data-icon="gear"
    %a{"data-icon" => "gear", "data-role" => "button", :href => "/mobile/docs/buttons"} My button
    %p
      %strong Refresh
      \- data-icon="refresh"
    %a{"data-icon" => "refresh", "data-role" => "button", :href => "/mobile/docs/buttons"} My button
    %p
      %strong Forward
      \- data-icon="forward"
    %a{"data-icon" => "forward", "data-role" => "button", :href => "/mobile/docs/buttons"} My button
    %p
      %strong Back
      \- data-icon="back"
    %a{"data-icon" => "back", "data-role" => "button", :href => "/mobile/docs/buttons"} My button
    %p
      %strong Grid
      \- data-icon="grid"
    %a{"data-icon" => "grid", "data-role" => "button", :href => "/mobile/docs/buttons"} My button
    %p
      %strong Star
      \- data-icon="star"
    %a{"data-icon" => "star", "data-role" => "button", :href => "/mobile/docs/buttons"} My button
    %p
      %strong Alert
      \- data-icon="alert"
    %a{"data-icon" => "alert", "data-role" => "button", :href => "/mobile/docs/buttons"} My button
    %p
      %strong Info
      \- data-icon="info"
    %a{"data-icon" => "info", "data-role" => "button", :href => "/mobile/docs/buttons"} My button
    %p
      %strong Home
      \- data-icon="home"
    %a{"data-icon" => "home", "data-role" => "button", :href => "/mobile/docs/buttons"} My button
    %p
      %strong Search
      \- data-icon="search"
    %a{"data-icon" => "search", "data-role" => "button", :href => "/mobile/docs/buttons"} My button
    %h2 Icon positioning
    %p By default, all icons in buttons are placed to the left of the button text.
    %a{"data-icon" => "delete", "data-iconpos" => "left", "data-role" => "button", :href => "/mobile/docs/buttons"} Delete
    %p
      This default may be overridden using the
      %code data-iconpos
      attribute to set the icon to the right, above (top) or below (bottom) the text. For example, the markup:
    %code
      &lt;a href=&quot;index.html&quot; data-role=&quot;button&quot; data-icon=&quot;delete&quot;
      data-iconpos=&quot;right&quot;
      &gt;Delete&lt;/a&gt;
    %p Creates this button with right-aligned icon:
    %a{"data-icon" => "delete", "data-iconpos" => "right", "data-role" => "button", :href => "/mobile/docs/buttons"} Delete
    %p
      Icons can also be positioned above the text by specifying
      %code data-iconpos="top"
    %a{"data-icon" => "delete", "data-iconpos" => "top", "data-role" => "button", :href => "/mobile/docs/buttons"} Delete
    %p
      Or icons can also be positioned below the text by specifying
      %code data-iconpos="bottom"
    %a{"data-icon" => "delete", "data-iconpos" => "bottom", "data-role" => "button", :href => "/mobile/docs/buttons"} Delete
    %p
      You can also create an icon-only button, by setting the
      %code data-iconpos
      attribute to
      = succeed "." do
        %code notext
      The button plugin will hide the text on-screen, but add it as a
      %code title
      attribute on the link to provide context for screen readers and devices that support tooltips. For example, replacing
      %code data-iconpos="right"
      on the previous example with
      = succeed ":" do
        %code data-iconpos="notext"
    %code
      &lt;a href=&quot;index.html&quot; data-role=&quot;button&quot; data-icon=&quot;delete&quot;
      data-iconpos=&quot;right&quot;
      &gt;Delete&lt;/a&gt;
      
    %p Creates this icon-only button:
    %a{"data-icon" => "delete", "data-iconpos" => "notext", "data-role" => "button", :href => "/mobile/docs/buttons"} Delete
    %h2 Custom Icons
    %p
      To use custom icons, specify a
      %code data-icon
      value that has a unique name like
      %code myapp-email
      and the button plugin will generate a class by prefixing
      %code ui-icon-
      to the
      %code data-icon
      value and apply it to the button. You can then write a CSS rule that targets the
      %code ui-icon-myapp-email
      class to specify the icon background source. To maintain visual consistency, create a white icon 18x18 pixels saved as a PNG-8 with alpha transparency.
    %h2 Icons and themes
    %p The semi-transparent black circle behind the white icon ensures good contrast on any background color so it works well with the jQuery Mobile theming system. Here are examples of the same icons sitting on top of a range of different color swatches in out theme.
    / A themed
    %p
      %strong Swatch "A"
      themed buttons
    %div{"data-role" => "controlgroup", "data-type" => "horizontal"}
      %a{"data-icon" => "arrow-l", "data-iconpos" => "notext", "data-inline" => "true", "data-role" => "button", "data-theme" => "a", :href => "/mobile/docs/buttons"} My button
      %a{"data-icon" => "arrow-r", "data-iconpos" => "notext", "data-inline" => "true", "data-role" => "button", "data-theme" => "a", :href => "/mobile/docs/buttons"} My button
      %a{"data-icon" => "arrow-u", "data-iconpos" => "notext", "data-inline" => "true", "data-role" => "button", "data-theme" => "a", :href => "/mobile/docs/buttons"} My button
      %a{"data-icon" => "arrow-d", "data-iconpos" => "notext", "data-inline" => "true", "data-role" => "button", "data-theme" => "a", :href => "/mobile/docs/buttons"} My button
      %a{"data-icon" => "delete", "data-iconpos" => "notext", "data-inline" => "true", "data-role" => "button", "data-theme" => "a", :href => "/mobile/docs/buttons"} My button
      %a{"data-icon" => "plus", "data-iconpos" => "notext", "data-inline" => "true", "data-role" => "button", "data-theme" => "a", :href => "/mobile/docs/buttons"} My button
      %a{"data-icon" => "minus", "data-iconpos" => "notext", "data-inline" => "true", "data-role" => "button", "data-theme" => "a", :href => "/mobile/docs/buttons"} My button
      %a{"data-icon" => "check", "data-iconpos" => "notext", "data-inline" => "true", "data-role" => "button", "data-theme" => "a", :href => "/mobile/docs/buttons"} My button
      %a{"data-icon" => "gear", "data-iconpos" => "notext", "data-inline" => "true", "data-role" => "button", "data-theme" => "a", :href => "/mobile/docs/buttons"} My button
      %a{"data-icon" => "refresh", "data-iconpos" => "notext", "data-inline" => "true", "data-role" => "button", "data-theme" => "a", :href => "/mobile/docs/buttons"} My button
      %a{"data-icon" => "forward", "data-iconpos" => "notext", "data-inline" => "true", "data-role" => "button", "data-theme" => "a", :href => "/mobile/docs/buttons"} My button
      %a{"data-icon" => "back", "data-iconpos" => "notext", "data-inline" => "true", "data-role" => "button", "data-theme" => "a", :href => "/mobile/docs/buttons"} My button
      %a{"data-icon" => "grid", "data-iconpos" => "notext", "data-inline" => "true", "data-role" => "button", "data-theme" => "a", :href => "/mobile/docs/buttons"} My button
      %a{"data-icon" => "star", "data-iconpos" => "notext", "data-inline" => "true", "data-role" => "button", "data-theme" => "a", :href => "/mobile/docs/buttons"} My button
      %a{"data-icon" => "alert", "data-iconpos" => "notext", "data-inline" => "true", "data-role" => "button", "data-theme" => "a", :href => "/mobile/docs/buttons"} My button
      %a{"data-icon" => "info", "data-iconpos" => "notext", "data-inline" => "true", "data-role" => "button", "data-theme" => "a", :href => "/mobile/docs/buttons"} My button
      %a{"data-icon" => "home", "data-iconpos" => "notext", "data-inline" => "true", "data-role" => "button", "data-theme" => "a", :href => "/mobile/docs/buttons"} My button
      %a{"data-icon" => "search", "data-iconpos" => "notext", "data-inline" => "true", "data-role" => "button", "data-theme" => "a", :href => "/mobile/docs/buttons"} My button
    / B themed
    %p
      %strong Swatch "B"
      themed buttons
    %div{"data-role" => "controlgroup", "data-type" => "horizontal"}
      %a{"data-icon" => "arrow-l", "data-iconpos" => "notext", "data-inline" => "true", "data-role" => "button", "data-theme" => "b", :href => "/mobile/docs/buttons"} My button
      %a{"data-icon" => "arrow-r", "data-iconpos" => "notext", "data-inline" => "true", "data-role" => "button", "data-theme" => "b", :href => "/mobile/docs/buttons"} My button
      %a{"data-icon" => "arrow-u", "data-iconpos" => "notext", "data-inline" => "true", "data-role" => "button", "data-theme" => "b", :href => "/mobile/docs/buttons"} My button
      %a{"data-icon" => "arrow-d", "data-iconpos" => "notext", "data-inline" => "true", "data-role" => "button", "data-theme" => "b", :href => "/mobile/docs/buttons"} My button
      %a{"data-icon" => "delete", "data-iconpos" => "notext", "data-inline" => "true", "data-role" => "button", "data-theme" => "b", :href => "/mobile/docs/buttons"} My button
      %a{"data-icon" => "plus", "data-iconpos" => "notext", "data-inline" => "true", "data-role" => "button", "data-theme" => "b", :href => "/mobile/docs/buttons"} My button
      %a{"data-icon" => "minus", "data-iconpos" => "notext", "data-inline" => "true", "data-role" => "button", "data-theme" => "b", :href => "/mobile/docs/buttons"} My button
      %a{"data-icon" => "check", "data-iconpos" => "notext", "data-inline" => "true", "data-role" => "button", "data-theme" => "b", :href => "/mobile/docs/buttons"} My button
      %a{"data-icon" => "gear", "data-iconpos" => "notext", "data-inline" => "true", "data-role" => "button", "data-theme" => "b", :href => "/mobile/docs/buttons"} My button
      %a{"data-icon" => "refresh", "data-iconpos" => "notext", "data-inline" => "true", "data-role" => "button", "data-theme" => "b", :href => "/mobile/docs/buttons"} My button
      %a{"data-icon" => "forward", "data-iconpos" => "notext", "data-inline" => "true", "data-role" => "button", "data-theme" => "b", :href => "/mobile/docs/buttons"} My button
      %a{"data-icon" => "back", "data-iconpos" => "notext", "data-inline" => "true", "data-role" => "button", "data-theme" => "b", :href => "/mobile/docs/buttons"} My button
      %a{"data-icon" => "grid", "data-iconpos" => "notext", "data-inline" => "true", "data-role" => "button", "data-theme" => "b", :href => "/mobile/docs/buttons"} My button
      %a{"data-icon" => "star", "data-iconpos" => "notext", "data-inline" => "true", "data-role" => "button", "data-theme" => "b", :href => "/mobile/docs/buttons"} My button
      %a{"data-icon" => "alert", "data-iconpos" => "notext", "data-inline" => "true", "data-role" => "button", "data-theme" => "b", :href => "/mobile/docs/buttons"} My button
      %a{"data-icon" => "info", "data-iconpos" => "notext", "data-inline" => "true", "data-role" => "button", "data-theme" => "b", :href => "/mobile/docs/buttons"} My button
      %a{"data-icon" => "home", "data-iconpos" => "notext", "data-inline" => "true", "data-role" => "button", "data-theme" => "b", :href => "/mobile/docs/buttons"} My button
      %a{"data-icon" => "search", "data-iconpos" => "notext", "data-inline" => "true", "data-role" => "button", "data-theme" => "b", :href => "/mobile/docs/buttons"} My button
    / C themed
    %p
      %strong Swatch "C"
      themed buttons
    %div{"data-role" => "controlgroup", "data-type" => "horizontal"}
      %a{"data-icon" => "arrow-l", "data-iconpos" => "notext", "data-inline" => "true", "data-role" => "button", "data-theme" => "c", :href => "/mobile/docs/buttons"} My button
      %a{"data-icon" => "arrow-r", "data-iconpos" => "notext", "data-inline" => "true", "data-role" => "button", "data-theme" => "c", :href => "/mobile/docs/buttons"} My button
      %a{"data-icon" => "arrow-u", "data-iconpos" => "notext", "data-inline" => "true", "data-role" => "button", "data-theme" => "c", :href => "/mobile/docs/buttons"} My button
      %a{"data-icon" => "arrow-d", "data-iconpos" => "notext", "data-inline" => "true", "data-role" => "button", "data-theme" => "c", :href => "/mobile/docs/buttons"} My button
      %a{"data-icon" => "delete", "data-iconpos" => "notext", "data-inline" => "true", "data-role" => "button", "data-theme" => "c", :href => "/mobile/docs/buttons"} My button
      %a{"data-icon" => "plus", "data-iconpos" => "notext", "data-inline" => "true", "data-role" => "button", "data-theme" => "c", :href => "/mobile/docs/buttons"} My button
      %a{"data-icon" => "minus", "data-iconpos" => "notext", "data-inline" => "true", "data-role" => "button", "data-theme" => "c", :href => "/mobile/docs/buttons"} My button
      %a{"data-icon" => "check", "data-iconpos" => "notext", "data-inline" => "true", "data-role" => "button", "data-theme" => "c", :href => "/mobile/docs/buttons"} My button
      %a{"data-icon" => "gear", "data-iconpos" => "notext", "data-inline" => "true", "data-role" => "button", "data-theme" => "c", :href => "/mobile/docs/buttons"} My button
      %a{"data-icon" => "refresh", "data-iconpos" => "notext", "data-inline" => "true", "data-role" => "button", "data-theme" => "c", :href => "/mobile/docs/buttons"} My button
      %a{"data-icon" => "forward", "data-iconpos" => "notext", "data-inline" => "true", "data-role" => "button", "data-theme" => "c", :href => "/mobile/docs/buttons"} My button
      %a{"data-icon" => "back", "data-iconpos" => "notext", "data-inline" => "true", "data-role" => "button", "data-theme" => "c", :href => "/mobile/docs/buttons"} My button
      %a{"data-icon" => "grid", "data-iconpos" => "notext", "data-inline" => "true", "data-role" => "button", "data-theme" => "c", :href => "/mobile/docs/buttons"} My button
      %a{"data-icon" => "star", "data-iconpos" => "notext", "data-inline" => "true", "data-role" => "button", "data-theme" => "c", :href => "/mobile/docs/buttons"} My button
      %a{"data-icon" => "alert", "data-iconpos" => "notext", "data-inline" => "true", "data-role" => "button", "data-theme" => "c", :href => "/mobile/docs/buttons"} My button
      %a{"data-icon" => "info", "data-iconpos" => "notext", "data-inline" => "true", "data-role" => "button", "data-theme" => "c", :href => "/mobile/docs/buttons"} My button
      %a{"data-icon" => "home", "data-iconpos" => "notext", "data-inline" => "true", "data-role" => "button", "data-theme" => "c", :href => "/mobile/docs/buttons"} My button
      %a{"data-icon" => "search", "data-iconpos" => "notext", "data-inline" => "true", "data-role" => "button", "data-theme" => "c", :href => "/mobile/docs/buttons"} My button
  / /content
/ /page
