-@title = "jQuery Mobile Docs - Button types"
= render :partial => "/mobile/index.js.haml", :format => :js

.type-interior{"data-role" => "page"}
  %div{"data-role" => "header", "data-theme" => "f"}
    %h1 Button basics
    %a.ui-btn-right.jqm-home{"data-direction" => "reverse", "data-icon" => "home", "data-iconpos" => "notext", :href => "/mobile"} Home
  / /header
  %div{"data-role" => "content"}
    .content-primary
      %h2 Button basics
      %ul.localnav{"data-role" => "controlgroup", "data-type" => "horizontal"}
        %li
          %a{"data-role" => "button", "data-transition" => "fade", :href => "/mobile/docs/buttons/types"} Basics
        %li
          %a{"data-role" => "button", "data-transition" => "fade", :href => "/mobile/docs/buttons/options"} Options
        %li
          %a{"data-role" => "button", "data-transition" => "fade", :href => "/mobile/docs/buttons/methods"} Methods
        %li
          %a.ui-btn-active{"data-role" => "button", "data-transition" => "fade", :href => "/mobile/docs/buttons/events"} Events
      %p
        Bind events directly to the
        = succeed "," do
          %code a
        = succeed "," do
          %code input
        or
        %code button
        element.  Use jQuery Mobile's
        = succeed "," do
          %a{:href => "/mobile/docs/api/events"} virtual events
        or bind standard JavaScript events, like change, focus, blur, etc.:
      %pre
        %code
          :preserve
            $( ".myButton" ).bind( "click", function(event, ui) {
              ...
            });
      %p
        The
        %strong form button
        plugin has the following custom events:
      %dl
        %dt
          %code create
          triggered when a form button is created
        %dd
          %pre
            %code
              :preserve
                $('[type='submit']').button({
                   create: function(event, ui) { ... }
                });
    / /content-primary
    .content-secondary
      .ui-body-b
        %div{"data-collapsed" => "true", "data-content-theme" => "d", "data-role" => "collapsible", "data-theme" => "b"}
          %h3 More in this section
          %ul{"data-dividertheme" => "d", "data-role" => "listview", "data-theme" => "c"}
            %li{"data-role" => "list-divider"} Buttons
            %li{"data-theme" => "a"}
              %a{:href => "/mobile/docs/buttons/types"} Button basics
            %li
              %a{:href => "/mobile/docs/buttons/icons"} Button icons
            %li
              %a{:href => "/mobile/docs/buttons/inline"} Inline buttons
            %li
              %a{:href => "/mobile/docs/buttons/grouped"} Grouped buttons
            %li
              %a{:href => "/mobile/docs/buttons/themes"} Theming buttons
  / /content
  .footer-docs{"data-role" => "footer", "data-theme" => "c"}
    %p &copy; 2011 The jQuery Project
/ /page
