-@title = "jQuery Mobile Docs - Button types"
= render :partial => "/mobile/index.js.haml", :format => :js

.type-interior{"data-role" => "page"}
  %div{"data-role" => "header", "data-theme" => "f"}
    %h1 Button basics
    %a.ui-btn-right.jqm-home{"data-direction" => "reverse", "data-icon" => "home", "data-iconpos" => "notext", :href => "/mobile"} Home
  / /header
  %div{"data-role" => "content"}
    .content-primary
      %h2 Button basics
      %ul.localnav{"data-role" => "controlgroup", "data-type" => "horizontal"}
        %li
          %a{"data-role" => "button", "data-transition" => "fade", :href => "/mobile/docs/buttons/types"} Basics
        %li
          %a{"data-role" => "button", "data-transition" => "fade", :href => "/mobile/docs/buttons/options"} Options
        %li
          %a.ui-btn-active{"data-role" => "button", "data-transition" => "fade", :href => "/mobile/docs/buttons/methods"} Methods
        %li
          %a{"data-role" => "button", "data-transition" => "fade", :href => "/mobile/docs/buttons/events"} Events
      %p
        The following methods apply only to
        = succeed "." do
          %strong form buttons
        Link-based buttons do not have any associated methods.
      %dl
        %dt
          %code enable
          enable a disabled form button
        %dd
          %pre
            %code
              :preserve
                $('[type='submit']').button('enable');
        %dt
          %code disable
          disable a form button
        %dd
          %pre
            %code
              :preserve
                $('[type='submit']').button('disable');
        %dt
          %code refresh
          update the form button
        %dd
          %p If you manipulate a form button via JavaScript, you must call the refresh method on it to update the visual styling.
          %pre
            %code
              :preserve
                $('[type='submit']').button('refresh');
    / /content-primary
    .content-secondary
      .ui-body-b
        %div{"data-collapsed" => "true", "data-content-theme" => "d", "data-role" => "collapsible", "data-theme" => "b"}
          %h3 More in this section
          %ul{"data-dividertheme" => "d", "data-role" => "listview", "data-theme" => "c"}
            %li{"data-role" => "list-divider"} Buttons
            %li{"data-theme" => "a"}
              %a{:href => "/mobile/docs/buttons/types"} Button basics
            %li
              %a{:href => "/mobile/docs/buttons/icons"} Button icons
            %li
              %a{:href => "/mobile/docs/buttons/inline"} Inline buttons
            %li
              %a{:href => "/mobile/docs/buttons/grouped"} Grouped buttons
            %li
              %a{:href => "/mobile/docs/buttons/themes"} Theming buttons
  / /content
  .footer-docs{"data-role" => "footer", "data-theme" => "c"}
    %p &copy; 2011 The jQuery Project
/ /page
