-@title = "jQuery Mobile Docs - Button Theming"
= render :partial => "/mobile/index.js.haml", :format => :js

.type-interior{"data-role" => "page"}
  %div{"data-role" => "header", "data-theme" => "f"}
    %h1 Theming buttons
    %a.ui-btn-right.jqm-home{"data-direction" => "reverse", "data-icon" => "home", "data-iconpos" => "notext", :href => "/mobile"} Home
  / /header
  %div{"data-role" => "content"}
    .content-primary
      %h2 Theming buttons
      %p
        jQuery Mobile has a rich
        %a{:href => "/mobile/docs/api/themes"} theming system
        that gives you full control of how buttons are styled. When a link is added to a container, it is automatically assigned a theme swatch letter that matches its parent bar or content box to visually integrate the button into the parent container, like a chameleon. So a button placed inside a content container with a theme of "a" (black in the default theme) will be automatically assigned the button theme of "a" (charcoal in the default theme). Here are examples of the button theme pairings in the default theme. All buttons have the same HTML markup:
      .ui-body.ui-body-a
        %h4 A swatch
        %a{"data-role" => "button", :href => "/mobile/docs/buttons"} Button
      .ui-body.ui-body-b
        %h4 B swatch
        %a{"data-role" => "button", :href => "/mobile/docs/buttons"} Button
      .ui-body.ui-body-c
        %h4 C swatch
        %a{"data-role" => "button", :href => "/mobile/docs/buttons"} Button
      .ui-body.ui-body-d
        %h4 D swatch
        %a{"data-role" => "button", :href => "/mobile/docs/buttons"} Button
      .ui-body.ui-body-e
        %h4 E swatch
        %a{"data-role" => "button", :href => "/mobile/docs/buttons"} Button
      %h2 Assigning theme swatches
      %p
        Buttons can be manually assigned any of the button color swatches from the theme to add visual contrast with the container they sit inside by adding the
        %code data-theme
        attribute on the button markup and specifying a swatch letter.
      %pre
        %code
          :preserve
            &lt;a href=&quot;index.html&quot; data-role=&quot;button&quot; data-theme=&quot;a&quot;&gt;Theme a&lt;/a&gt;
      %p
        Here are 5 buttons with icons that have a different swatch letter assigned via the
        %code data-theme
        attribute.
      %a{"data-icon" => "arrow-l", "data-inline" => "true", "data-role" => "button", "data-theme" => "a", :href => "/mobile/docs/buttons"} Theme a
      %a{"data-icon" => "arrow-l", "data-inline" => "true", "data-role" => "button", "data-theme" => "b", :href => "/mobile/docs/buttons"} Theme b
      %a{"data-icon" => "arrow-l", "data-inline" => "true", "data-role" => "button", "data-theme" => "c", :href => "/mobile/docs/buttons"} Theme c
      %a{"data-icon" => "arrow-l", "data-inline" => "true", "data-role" => "button", "data-theme" => "d", :href => "/mobile/docs/buttons"} Theme d
      %a{"data-icon" => "arrow-l", "data-inline" => "true", "data-role" => "button", "data-theme" => "e", :href => "/mobile/docs/buttons"} Theme e
      %h2 Theme variations
      %p
        %strong "a" theme
        on container with themed buttons inside
      .ui-body.ui-body-a
        %a{"data-icon" => "arrow-l", "data-inline" => "true", "data-role" => "button", "data-theme" => "a", :href => "/mobile/docs/buttons"} Theme a
        %a{"data-icon" => "arrow-l", "data-inline" => "true", "data-role" => "button", "data-theme" => "b", :href => "/mobile/docs/buttons"} Theme b
        %a{"data-icon" => "arrow-l", "data-inline" => "true", "data-role" => "button", "data-theme" => "c", :href => "/mobile/docs/buttons"} Theme c
        %a{"data-icon" => "arrow-l", "data-inline" => "true", "data-role" => "button", "data-theme" => "d", :href => "/mobile/docs/buttons"} Theme d
        %a{"data-icon" => "arrow-l", "data-inline" => "true", "data-role" => "button", "data-theme" => "e", :href => "/mobile/docs/buttons"} Theme e
      %p
        %strong "b" theme
        on container with themed buttons inside
      .ui-body.ui-body-b
        %a{"data-icon" => "arrow-l", "data-inline" => "true", "data-role" => "button", "data-theme" => "a", :href => "/mobile/docs/buttons"} Theme a
        %a{"data-icon" => "arrow-l", "data-inline" => "true", "data-role" => "button", "data-theme" => "b", :href => "/mobile/docs/buttons"} Theme b
        %a{"data-icon" => "arrow-l", "data-inline" => "true", "data-role" => "button", "data-theme" => "c", :href => "/mobile/docs/buttons"} Theme c
        %a{"data-icon" => "arrow-l", "data-inline" => "true", "data-role" => "button", "data-theme" => "d", :href => "/mobile/docs/buttons"} Theme d
        %a{"data-icon" => "arrow-l", "data-inline" => "true", "data-role" => "button", "data-theme" => "e", :href => "/mobile/docs/buttons"} Theme e
      %p
        %strong "c" theme
        on container with themed buttons inside
      .ui-body.ui-body-c
        %a{"data-icon" => "arrow-l", "data-inline" => "true", "data-role" => "button", "data-theme" => "a", :href => "/mobile/docs/buttons"} Theme a
        %a{"data-icon" => "arrow-l", "data-inline" => "true", "data-role" => "button", "data-theme" => "b", :href => "/mobile/docs/buttons"} Theme b
        %a{"data-icon" => "arrow-l", "data-inline" => "true", "data-role" => "button", "data-theme" => "c", :href => "/mobile/docs/buttons"} Theme c
        %a{"data-icon" => "arrow-l", "data-inline" => "true", "data-role" => "button", "data-theme" => "d", :href => "/mobile/docs/buttons"} Theme d
        %a{"data-icon" => "arrow-l", "data-inline" => "true", "data-role" => "button", "data-theme" => "e", :href => "/mobile/docs/buttons"} Theme e
      %p
        %strong "d" theme
        on container with themed buttons inside
      .ui-body.ui-body-d
        %a{"data-icon" => "arrow-l", "data-inline" => "true", "data-role" => "button", "data-theme" => "a", :href => "/mobile/docs/buttons"} Theme a
        %a{"data-icon" => "arrow-l", "data-inline" => "true", "data-role" => "button", "data-theme" => "b", :href => "/mobile/docs/buttons"} Theme b
        %a{"data-icon" => "arrow-l", "data-inline" => "true", "data-role" => "button", "data-theme" => "c", :href => "/mobile/docs/buttons"} Theme c
        %a{"data-icon" => "arrow-l", "data-inline" => "true", "data-role" => "button", "data-theme" => "d", :href => "/mobile/docs/buttons"} Theme d
        %a{"data-icon" => "arrow-l", "data-inline" => "true", "data-role" => "button", "data-theme" => "e", :href => "/mobile/docs/buttons"} Theme e
      %p
        %strong "e" theme
        on container with themed buttons inside
      .ui-body.ui-body-e
        %a{"data-icon" => "arrow-l", "data-inline" => "true", "data-role" => "button", "data-theme" => "a", :href => "/mobile/docs/buttons"} Theme a
        %a{"data-icon" => "arrow-l", "data-inline" => "true", "data-role" => "button", "data-theme" => "b", :href => "/mobile/docs/buttons"} Theme b
        %a{"data-icon" => "arrow-l", "data-inline" => "true", "data-role" => "button", "data-theme" => "c", :href => "/mobile/docs/buttons"} Theme c
        %a{"data-icon" => "arrow-l", "data-inline" => "true", "data-role" => "button", "data-theme" => "d", :href => "/mobile/docs/buttons"} Theme d
        %a{"data-icon" => "arrow-l", "data-inline" => "true", "data-role" => "button", "data-theme" => "e", :href => "/mobile/docs/buttons"} Theme e
    / /content-primary
    .content-secondary
      .ui-body-b
        %div{"data-collapsed" => "true", "data-content-theme" => "d", "data-role" => "collapsible", "data-theme" => "b"}
          %h3 More in this section
          %ul{"data-dividertheme" => "d", "data-role" => "listview", "data-theme" => "c"}
            %li{"data-role" => "list-divider"} Buttons
            %li
              %a{:href => "/mobile/docs/buttons/types"} Button basics
            %li
              %a{:href => "/mobile/docs/buttons/icons"} Button icons
            %li
              %a{:href => "/mobile/docs/buttons/inline"} Inline buttons
            %li
              %a{:href => "/mobile/docs/buttons/grouped"} Grouped buttons
            %li{"data-theme" => "a"}
              %a{:href => "/mobile/docs/buttons/themes"} Theming buttons
  / /content
  .footer-docs{"data-role" => "footer", "data-theme" => "c"}
    %p &copy; 2011 The jQuery Project
/ /page
