-@browser_title = "#{t('txt.ui.name')} #{t('txt.ui.interactions.draggable.default')} - #{t('txt.ui.interactions.draggable.cursor-style')}"
-@jquery_partial = 'cursor_style.js.haml'
      
.demo
  %h3
    =@browser_title
  #draggable.ui-widget-content
    %p
      I will always stick to the center (relative to the mouse)
  #draggable2.ui-widget-content
    %p
      My cursor is at left -5 and top -5
  #draggable3.ui-widget-content
    %p
      My cursor position is only controlled for the 'bottom' value
/ End demo
.demo-description
  %p
    Position the cursor while dragging the object. By default the cursor appears in the center of the dragged object; use the
    %code
      cursorAt
    option to specify another location relative to the draggable (specify a pixel value from the top, right, bottom, and/or left).  Customize the cursor's appearance by supplying the
    %code
      cursor
    option with a valid CSS cursor value: default, move, pointer, crosshair, etc.
/ End demo-description
