-@browser_title = "jQuery UI #{t('txt.ui.interactions.draggable.default')} - #{t('txt.ui.interactions.draggable.delay-start')}"
-@jquery_partial = 'delay_start.js.haml'
      
.demo
  %h3
    =@browser_title
  #draggable.ui-widget-content
    %p
      Only if you drag me by 20 pixels, the dragging will start
  #draggable2.ui-widget-content
    %p
      Regardless of the distance, you have to drag and wait for 1000ms before dragging starts
/ End demo
.demo-description
  %p
    Delay the start of dragging for a number of milliseconds with the
    %code
      delay
    option; prevent dragging until the cursor is held down and dragged a specifed number of pixels with the
    %code
      distance
    option.
/ End demo-description
