-@title = "#{t('txt.ui.name')} #{t('txt.ui.interactions.draggable.default')} - #{t('txt.ui.interactions.draggable.handle')}"
-@jquery_partial = 'handle.js.haml'

.demo
  %h3
    =@title
  #draggable.ui-widget-content
    %p.ui-widget-header
      I can be dragged only by this handle
  #draggable2.ui-widget-content
    %p
      You can drag me around&hellip;
    %p.ui-widget-header
      \&hellip;but you can't drag me by this handle.
  / ADD CANCEL DEMO
/ End demo
.demo-description
  %p
    Allow dragging only when the cursor is over a specific part of the draggable.  Use the
    %code
      handle
    option to specify the jQuery selector of an element (or group of elements) used to drag the object.
  %p
    Or prevent dragging when the cursor is over a specific element (or group of elements) within the draggable.  Use the
    %code
      cancel
    option to specify a jQuery selector over which to "cancel" draggable functionality.
/ End demo-description
