-@browser_title = 'jQuery UI Draggable - Default functionality'
-@jquery_partial = 'index.js.haml'

.demo
  #draggable.ui-widget-content
    %p
      Drag me around
/
  End demo
.demo-description
  %p
    Enable draggable functionality on any DOM element. Move the draggable object by clicking on it with the mouse and dragging it anywhere within the viewport.
/
  End demo-description
