-@browser_title = "jQuery UI #{t('txt.ui.interactions.default')} - #{t('txt.ui.interactions.draggable.revert')}"
-@jquery_partial = 'revert.js.haml'

.demo
  %h3
    =@browser_title
  #draggable.ui-widget-content
    %p
      Revert the original
  #draggable2.ui-widget-content
    %p
      Revert the helper
/
  End demo
.demo-description
  %p
    Return the draggable (or it's helper) to its original location when dragging stops with the boolean
    %code
      revert
    option.
/
  End demo-description
