-@browser_title = 'jQuery UI Draggable - Revert position'
-@jquery_partial = 'revert.js.haml'

.demo
  #draggable.ui-widget-content
    %p
      Revert the original
  #draggable2.ui-widget-content
    %p
      Revert the helper
/
  End demo
.demo-description
  %p
    Return the draggable (or it's helper) to its original location when dragging stops with the boolean
    %code
      revert
    option.
/
  End demo-description
