-@browser_title = "jQuery UI #{t('txt.ui.interactions.default')} - #{t('txt.ui.interactions.draggable.snap-to')}"
-@jquery_partial = 'snap_to.js.haml'

.demo
  %h3
    =@browser_title
  #snaptarget.ui-widget-header
    %p
      I'm a snap target
  %br{ :clear => "both" }
  #draggable.draggable.ui-widget-content
    %p
      Default (snap: true), snaps to all other draggable elements
  #draggable2.draggable.ui-widget-content
    %p
      I only snap to the big box
  #draggable3.draggable.ui-widget-content
    %p
      I only snap to the outer edges of the big box
  #draggable4.draggable.ui-widget-content
    %p
      I snap to a 20 x 20 grid
  #draggable5.draggable.ui-widget-content
    %p
      I snap to a 80 x 80 grid
/
  End demo
.demo-description
  %p
    Snap the draggable to the inner or outer boundaries of a DOM element.  Use the
    %code
      snap
    ,
    %code
      snapMode
    (inner, outer, both), and
    %code
      snapTolerance
    (distance in pixels the draggable must be from the element when snapping is invoked) options.
  %p
    Or snap the draggable to a grid.  Set the dimensions of grid cells (height and width in pixels) with the
    %code
      grid
    option.
/
  End demo-description
