-@title = "#{t('txt.ui.name')} #{t('txt.ui.interactions.draggable.default')} - #{t('txt.ui.interactions.draggable.sortable')}"

- content_for :content_head do
  = render(:partial => "sortable.js.haml", :format => :js)

.demo
  %h3
    =image_tag("icons/22x22/jquery-ui.png", :border => 0)
    =@title
  %ul
    %li#draggable.ui-state-highlight
      Drag me down
  %ul#sortable
    %li.ui-state-default
      Item 1
    %li.ui-state-default
      Item 2
    %li.ui-state-default
      Item 3
    %li.ui-state-default
      Item 4
    %li.ui-state-default
      Item 5
/ End demo
.demo-description
  %p
    Draggables are built to interact seamlessly with sortables.
/ End demo-description
