!!!
%html
  %head
    %meta{:charset => "utf-8"}
      %meta{:content => "width=device-width", :name => "viewport"}
        %title Animals
        %link{:href => "../../../themes/default/", :rel => "stylesheet"}
          %script{:src => "../../../js/jquery.js"}
          %script{:src => "../../../js/"}
  %body
    %div{"data-role" => "page"}
      %div{"data-role" => "header"}
        %h1 Animals
      %div{"data-role" => "content"}
        %p All your favorites from aardvarks to zebras.
        %ul{"data-inset" => "true", "data-role" => "listview"}
          %li Pets
          %li Farm Animals
          %li Wild Animals
