-@title = "jQuery Mobile Docs - Dynamic Page Samples"

%div{"data-role" => "page"}
  %div{"data-role" => "header"}
    %h1 Categories
  %div{"data-role" => "content"}
    %h2 Select a Category Below:
    %ul{"data-inset" => "true", "data-role" => "listview"}
      %li
        %a{:href => "/mobile/docs/pages/dynamic/sample_reuse_page", :rel => "external"} Re-using a Page with In-Memory Data
      %li
        %a{:href => "/mobile/docs/pages/dynamic/sample_reuse_page_external", :rel => "external"} Re-using a Page With External Data
