-@title = "jQuery Mobile Docs - changePage JSON Sample"
= render :partial => "sample_reuse_page.js.haml", :format => :js

#home{"data-role" => "page"}
  %div{"data-role" => "header"}
    %h1 Categories
  %div{"data-role" => "content"}
    %h2 Select a Category Below:
    %ul{"data-inset" => "true", "data-role" => "listview"}
      %li
        %a{:href => "#category-items?category=animals"} Animals
      %li
        %a{:href => "#category-items?category=colors"} Colors
      %li
        %a{:href => "#category-items?category=vehicles"} Vehicles
#category-items{"data-role" => "page"}
  %div{"data-role" => "header"}
    %h1
  %div{"data-role" => "content"}
