!!!
%html
  %head
    %meta{:charset => "utf-8"}
      %meta{:content => "width=device-width", :name => "viewport"}
        %title Vehicles
        %link{:href => "../../../themes/default/", :rel => "stylesheet"}
          %script{:src => "../../../js/jquery.js"}
          %script{:src => "../../../js/"}
  %body
    %div{"data-role" => "page"}
      %div{"data-role" => "header"}
        %h1 Vehicles
      %div{"data-role" => "content"}
        %p Everything from cars to planes.
        %ul{"data-inset" => "true", "data-role" => "listview"}
          %li Cars
          %li Planes
          %li Destruction
