!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
  %body
    %div{"data-role" => "page"}
      %div{"data-role" => "header"}
        %h1 .get()
      #get1{"data-role" => "content", "data-theme" => "c"}
        %h2.jq-clearfix.roundTop.section-title
          %span.name .get( [ index ] )
          %span.returns
            Returns:
            %a.return{:href => "http://docs.jquery.com/Types#Element,%20Array"} Element, Array
        .entry-details
          %p.desc
            %strong> Description:
            Retrieve the DOM elements matched by the jQuery object.
          %ul.signatures
            %li#get-index.signature
              %h4.name
                %span.versionAdded>
                  version added:
                  %a{:href => "/category/version/1.0/"} 1.0
                \.get( [ index ] )
              %p.arguement
                %strong> index
                A zero-based integer indicating which element to retrieve.
          .longdesc
            %p
              The
              %code .get()
              method grants us access to the DOM nodes underlying each jQuery object. Suppose we had a simple unordered list on the page:
            %pre
              :preserve
                
                &lt;ul&gt;
                  &lt;li id="foo"&gt;foo&lt;/li&gt;
                  &lt;li id="bar"&gt;bar&lt;/li&gt;
                &lt;/ul&gt;
            %p
              Without a parameter,
              %code .get()
              returns all of the elements:
            %pre alert($('li').get());
            %p All of the matched DOM nodes are returned by this call, contained in a standard array:
            %p
              %span.result [&lt;li id="foo"&gt;, &lt;li id="bar"&gt;]
            %p With an index specified, .get() will retrieve a single element:
            %pre ($('li').get(0));
            %p Since the index is zero-based, the first list item is returned:
            %p
              %span.output &lt;li id="foo"&gt;
            %p Each jQuery object also masquerades as an array, so we can use the array dereferencing operator to get at the list item instead:
            %pre alert($('li')[0]);
            %p However, this syntax lacks some of the additional capabilities of .get(), such as specifying a negative index:
            %pre alert($('li').get(-1));
            %p A negative index is counted from the end of the matched set, so this example will return the last item in the list:
            %p
              %span.output &lt;li id="bar"&gt;
          %h3 Examples:
          #entry-examples.entry-examples
            #example-0
              %h4
                Example:
                %span.desc Selects all divs in the document and returns the DOM Elements as an Array, then uses the built-in reverse-method to reverse that array.
              %pre
                %code.example.demo-code
                  :preserve
                    &lt;!DOCTYPE html&gt;
                    &lt;html&gt;
                    &lt;head&gt;
                      &lt;style&gt;
                      span { color:red; }
                      &lt;/style&gt;
                      &lt;script src="http://code.jquery.com/jquery-latest.js"&gt;&lt;/script&gt;
                    &lt;/head&gt;
                    &lt;body&gt;
                    	Reversed - &lt;span&gt;&lt;/span&gt;
                    
                      &lt;div&gt;One&lt;/div&gt;
                      &lt;div&gt;Two&lt;/div&gt;
                      &lt;div&gt;Three&lt;/div&gt;
                    &lt;script&gt;
                    
                        function disp(divs) {
                          var a = [];
                          for (var i = 0; i &lt; divs.length; i++) {
                            a.push(divs[i].innerHTML);
                          }
                          $("span").text(a.join(" "));
                        }
                        
                        disp( $("div").get().reverse() );
                    &lt;/script&gt;
                    &lt;/body&gt;
                    &lt;/html&gt;              %h4 Demo:
              .demo.code-demo
            #example-1
              %h4
                Example:
                %span.desc Gives the tag name of the element clicked on.
              %pre
                %code.example.demo-code
                  :preserve
                    &lt;!DOCTYPE html&gt;
                    &lt;html&gt;
                    &lt;head&gt;
                      &lt;style&gt;
                      span { color:red; }
                      div { background:yellow; }
                      &lt;/style&gt;
                      &lt;script src="http://code.jquery.com/jquery-latest.js"&gt;&lt;/script&gt;
                    &lt;/head&gt;
                    &lt;body&gt;
                    	&lt;span&gt;&amp;nbsp;&lt;/span&gt;
                      &lt;p&gt;In this paragraph is an &lt;span&gt;important&lt;/span&gt; section&lt;/p&gt;
                    
                      &lt;div&gt;&lt;input type="text" /&gt;&lt;/div&gt;
                    &lt;script&gt;
                    
                        $("*", document.body).click(function (e) {
                          e.stopPropagation();
                          var domEl = $(this).get(0);
                          $("span:first").text("Clicked on - " + domEl.tagName);
                        });
                    &lt;/script&gt;
                    &lt;/body&gt;
                    &lt;/html&gt;              %h4 Demo:
              .demo.code-demo
