%script{:src => "../../js/jquery-1.4.2.js"}
%script{:src => "../../../src/toolbox/toolbox.expose.js"}
%h1 Jotain tulee tähän
%button{:onClick => "$.mask.load({startOpacity: 0.5, maskId: 'mask', color: null})"} load mask
%div{:style => "width:800px;border:1px solid black; height:300px"} lkjlkjlj
#mask{:style => "background-color:blue;"} sadfsadf
