%tr
  %td
    aaa
  %td
    = link_to 'Show', ical_calendar_event_path(events)
    |
    = link_to 'Edit', edit_ical_calendar_event_path(events)
    |
    = link_to 'Destroy', ical_calendar_event_path(events), :confirm => 'Really destroy calendars?', :method => :delete