!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
  %body
    %div{"data-role" => "page"}
      %div{"data-role" => "header"}
        %h1 .delegate()
      #delegate1{"data-role" => "content", "data-theme" => "c"}
        %h2.jq-clearfix.roundTop.section-title
          %span.name .delegate( selector, eventType, handler )
          %span.returns
            Returns:
            %a.return{:href => "http://docs.jquery.com/Types#jQuery"} jQuery
        .entry-details
          %p.desc
            %strong> Description:
            Attach a handler to one or more events for all elements that match the selector, now or in the future, based on a specific set of root elements.
          %ul.signatures
            %li#delegate-selector-eventType-handler.signature
              %h4.name
                %span.versionAdded>
                  version added:
                  %a{:href => "/category/version/1.4.2/"} 1.4.2
                \.delegate( selector, eventType, handler )
              %p.arguement
                %strong> selector
                A selector to filter the elements that trigger the event.
              %p.arguement
                %strong> eventType
                A string containing one or more space-separated JavaScript event types, such as "click" or "keydown," or custom event names.
              %p.arguement
                %strong> handler
                A function to execute at the time the event is triggered.
            %li#delegate-selector-eventType-eventData-handler.signature
              %h4.name
                %span.versionAdded>
                  version added:
                  %a{:href => "/category/version/1.4.2/"} 1.4.2
                \.delegate( selector, eventType, eventData, handler )
              %p.arguement
                %strong> selector
                A selector to filter the elements that trigger the event.
              %p.arguement
                %strong> eventType
                A string containing one or more space-separated JavaScript event types, such as "click" or "keydown," or custom event names.
              %p.arguement
                %strong> eventData
                A map of data that will be passed to the event handler.
              %p.arguement
                %strong> handler
                A function to execute at the time the event is triggered.
          .longdesc
            %p
              Delegate is an alternative to using the
              %a{:href => "/live"} .live()
              method, allowing for each binding of event delegation to specific DOM elements. For example the following delegate code:
            %pre
              :preserve
                $("table").delegate("td", "hover", function(){
                	$(this).toggleClass("hover");
                });            %p
              Is equivalent to the following code written using
              = succeed ":" do
                %code .live()
            %pre
              :preserve
                $("table").each(function(){
                	$("td", this).live("hover", function(){
                		$(this).toggleClass("hover");
                	});
                });            %p
              See also the
              %a{:href => "/undelegate"} .undelegate()
              method for a way of removing event handlers added in
              = succeed "." do
                %a{:href => "/delegate"} .delegate()
          %h3 Examples:
          #entry-examples.entry-examples
            #example-0
              %h4
                Example:
                %span.desc Click a paragraph to add another. Note that .delegate() binds the click event to all paragraphs - even new ones.
              %pre
                %code.example.demo-code
                  :preserve
                    &lt;!DOCTYPE html&gt;
                    &lt;html&gt;
                    &lt;head&gt;
                      &lt;style&gt;
                      p { background:yellow; font-weight:bold; cursor:pointer; 
                          padding:5px; }
                      p.over { background: #ccc; }
                      span { color:red; }
                      &lt;/style&gt;
                      &lt;script src="http://code.jquery.com/jquery-latest.js"&gt;&lt;/script&gt;
                    &lt;/head&gt;
                    &lt;body&gt;
                    	&lt;p&gt;Click me!&lt;/p&gt;
                    
                      &lt;span&gt;&lt;/span&gt;
                    &lt;script&gt;
                        $("body").delegate("p", "click", function(){
                          $(this).after("&lt;p&gt;Another paragraph!&lt;/p&gt;");
                        });
                    &lt;/script&gt;
                    &lt;/body&gt;
                    &lt;/html&gt;              %h4 Demo:
              .demo.code-demo
            #example-1
              %h4
                Example:
                %span.desc To display each paragraph's text in an alert box whenever it is clicked:
              %pre
                %code.example
                  :preserve
                    $("body").delegate("p", "click", function(){
                      alert( $(this).text() );
                    });            #example-2
              %h4
                Example:
                %span.desc To cancel a default action and prevent it from bubbling up, return false:
              %pre
                %code.example $("body").delegate("a", "click", function() { return false; })
            #example-3
              %h4
                Example:
                %span.desc To cancel only the default action by using the preventDefault method.
              %pre
                %code.example
                  :preserve
                    $("body").delegate("a", "click", function(event){
                      event.preventDefault();
                    });            #example-4
              %h4
                Example:
                %span.desc Can bind custom events too.
              %pre
                %code.example.demo-code
                  :preserve
                    &lt;!DOCTYPE html&gt;
                    &lt;html&gt;
                    &lt;head&gt;
                      &lt;style&gt;
                      p { color:red; }
                      span { color:blue; }
                      &lt;/style&gt;
                      &lt;script src="http://code.jquery.com/jquery-latest.js"&gt;&lt;/script&gt;
                    &lt;/head&gt;
                    &lt;body&gt;
                    	&lt;p&gt;Has an attached custom event.&lt;/p&gt;
                      &lt;button&gt;Trigger custom event&lt;/button&gt;
                      &lt;span style="display:none;"&gt;&lt;/span&gt;
                    &lt;script&gt;
                    
                        $("body").delegate("p", "myCustomEvent", function(e, myName, myValue){
                          $(this).text("Hi there!");
                          $("span").stop().css("opacity", 1)
                                   .text("myName = " + myName)
                                   .fadeIn(30).fadeOut(1000);
                        });
                        $("button").click(function () {
                          $("p").trigger("myCustomEvent");
                        });
                    
                    &lt;/script&gt;
                    &lt;/body&gt;
                    &lt;/html&gt;              %h4 Demo:
              .demo.code-demo
