!!!
%html
  %head
    %title jQuery Mobile Docs - Lists
    %link{:href => "../../themes/default", :rel => "stylesheet"}/
    %script{:src => "../../js/all", :type => "text/javascript"}
  %body
    %div{"data-role" => "page"}
      %div{"data-role" => "header"}
        %h1 List API
      / /header
      %div{"data-role" => "content"}
      / /content
    / /page
