!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %title jQuery Mobile Docs - Lists
    %link{:href => "../../themes/default", :rel => "stylesheet"}/
    %link{:href => "../_assets/css/jqm-docs.css", :rel => "stylesheet"}/
    %script{:src => "../../js/", :type => "text/javascript"}
  %body
    %div{"data-role" => "page", "data-theme" => "b"}
      %div{"data-role" => "header", "data-theme" => "b"}
        %h1 Lists
      / /header
      %div{"data-role" => "content"}
        %p Lists are used for data display, navigation, result lists, and data entry so jQuery Mobile includes a wide range of list types and formatting examples to cover most common design patterns.
        %ul{"data-inset" => "true", "data-role" => "listview"}
          %li
            %a{:href => "docs-lists.html"} List markup conventions
          %li
            %a{:href => "lists-ul.html"} Basic linked list
          %li
            %a{:href => "lists-nested.html"} Nested list
          %li
            %a{:href => "lists-ol.html"} Numbered list
          %li
            %a{:href => "lists-readonly.html"} Read-only list
          %li
            %a{:href => "lists-split.html"} Split button list
          %li
            %a{:href => "lists-divider.html"} List dividers
          %li
            %a{:href => "lists-count.html"} Count bubble
          %li
            %a{:href => "lists-thumbnails.html"} Thumbnails
          %li
            %a{:href => "lists-icons.html"} Icons
          %li
            %a{:href => "lists-formatting.html"} Content formatting
          %li
            %a{:href => "lists-search.html"} Search filter bar
          %li
            %a{:href => "lists-inset.html"} Inset styled lists
          %li
            %a{:href => "lists-performance.html"} List performance test
          %li
            %a{:href => "lists-themes.html"} Theming lists
          / <li><a href="api-lists.html">API documentation</a></li>
      / /content
    / /page
