!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %title jQuery Mobile Docs - Lists
    %link{:href => "../../themes/default", :rel => "stylesheet"}/
    %link{:href => "../_assets/css/jqm-docs.css", :rel => "stylesheet"}/
    %script{:src => "../../js/", :type => "text/javascript"}
    %script{:src => "docs/docs.js", :type => "text/javascript"}
  %body
    %div{"data-role" => "page"}
      %div{"data-role" => "header"}
        %h1 Inset list
      / /header
      %div{"data-role" => "content"}
        %ul{"data-inset" => "true", "data-role" => "listview"}
          %li
            %a{:href => "index.html"} Inbox
            %span.ui-li-count 12
          %li
            %a{:href => "index.html"} Outbox
            %span.ui-li-count 0
          %li
            %a{:href => "index.html"} Drafts
            %span.ui-li-count 4
          %li
            %a{:href => "index.html"} Sent
            %span.ui-li-count 328
          %li
            %a{:href => "index.html"} Trash
            %span.ui-li-count 62
        %ol{"data-inset" => "true", "data-role" => "listview"}
          %li
            %a{:href => "index.html"} The Godfather
          %li
            %a{:href => "index.html"} Inception
          %li
            %a{:href => "index.html"} The Good, the Bad and the Ugly
          %li
            %a{:href => "index.html"} Pulp Fiction
          %li
            %a{:href => "index.html"} Schindler's List
        %ul{"data-inset" => "true", "data-role" => "listview"}
          %li{"data-role" => "list-divider"} A
          %li
            %a{:href => "index.html"} Adam Kinkaid
          %li
            %a{:href => "index.html"} Alex Wickerham
          %li
            %a{:href => "index.html"} Avery Johnson
          %li{"data-role" => "list-divider"} B
          %li
            %a{:href => "index.html"} Bob Cabot
          %li{"data-role" => "list-divider"} C
          %li
            %a{:href => "index.html"} Caleb Booth
          %li
            %a{:href => "index.html"} Christopher Adams
        %ul{"data-inset" => "true", "data-role" => "listview"}
          %li
            %img{:src => "images/album-bb.jpg"}/
            %h3
              %a{:href => "index.html"} Broken Bells
            %p Broken Bells
            %a{:href => "index.html"} Purchase album
          %li
            %img{:src => "images/album-hc.jpg"}/
            %h3
              %a{:href => "index.html"} Warning
            %p Hot Chip
            %a{:href => "index.html"} Purchase album
          %li
            %img{:src => "images/album-p.jpg"}/
            %h3
              %a{:href => "index.html"} Wolfgang Amadeus Phoenix
            %p Phoenix
            %a{:href => "index.html"} Purchase album
          %li
            %img{:src => "images/album-ok.jpg"}/
            %h3
              %a{:href => "index.html"} Of The Blue Colour Of The Sky
            %p Ok Go
            %a{:href => "index.html"} Purchase album
      / /content
    / /page
