!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %title jQuery Mobile Docs - Lists
    %link{:href => "../../themes/default/", :rel => "stylesheet"}/
    %link{:href => "../_assets/css/jqm-docs.css", :rel => "stylesheet"}/
    %script{:src => "../../js/jquery.js", :type => "text/javascript"}
    %script{:src => "../../js/", :type => "text/javascript"}
    %script{:src => "docs/docs.js", :type => "text/javascript"}
  %body
    %div{"data-role" => "page"}
      %div{"data-role" => "header", "data-theme" => "b"}
        %h1 Nested list
        %a.ui-btn-right.jqm-home{"data-direction" => "reverse", "data-icon" => "home", "data-iconpos" => "notext", :href => "../../"} Home
      / /header
      %div{"data-role" => "content"}
        %ul{"data-role" => "listview"}
          %li
            %h3
              %a{:href => "#"} Animals
            %p All your favorites from aarkvarks to zebras.
            %ul
              %li
                Pets
                %ul
                  %li
                    %a{:href => "index.html"} Canary
                  %li
                    %a{:href => "index.html"} Cat
                  %li
                    %a{:href => "index.html"} Dog
                  %li
                    %a{:href => "index.html"} Gerbil
                  %li
                    %a{:href => "index.html"} Iguana
                  %li
                    %a{:href => "index.html"} Mouse
              %li
                Farm animals
                %ul
                  %li
                    %a{:href => "index.html"} Chicken
                  %li
                    %a{:href => "index.html"} Cow
                  %li
                    %a{:href => "index.html"} Duck
                  %li
                    %a{:href => "index.html"} Horse
                  %li
                    %a{:href => "index.html"} Pig
                  %li
                    %a{:href => "index.html"} Sheep
              %li
                Wild animals
                %ul
                  %li
                    %a{:href => "index.html"} Aardvark
                  %li
                    %a{:href => "index.html"} Alligator
                  %li
                    %a{:href => "index.html"} Ant
                  %li
                    %a{:href => "index.html"} Bear
                  %li
                    %a{:href => "index.html"} Beaver
                  %li
                    %a{:href => "index.html"} Cougar
                  %li
                    %a{:href => "index.html"} Dingo
                  %li
                    %a{:href => "index.html"} Eagle
                  %li
                    %a{:href => "index.html"} Elephant
                  %li
                    %a{:href => "index.html"} Ferret
                  %li
                    %a{:href => "index.html"} Frog
                  %li
                    %a{:href => "index.html"} Giraffe
                  %li
                    %a{:href => "index.html"} Lion
                  %li
                    %a{:href => "index.html"} Monkey
                  %li
                    %a{:href => "index.html"} Panda bear
                  %li
                    %a{:href => "index.html"} Polar bear
                  %li
                    %a{:href => "index.html"} Tiger
                  %li
                    %a{:href => "index.html"} Zebra
          %li
            %h3
              %a{:href => "#"} Colors
            %p Fresh colors from the magic rainbow.
            %ul
              %li
                %a{:href => "index.html"} Blue
              %li
                %a{:href => "index.html"} Green
              %li
                %a{:href => "index.html"} Orange
              %li
                %a{:href => "index.html"} Purple
              %li
                %a{:href => "index.html"} Red
              %li
                %a{:href => "index.html"} Yellow
              %li
                %a{:href => "index.html"} Violet
          %li
            %h3
              %a{:href => "#"} Vehicles
            %p Everything from cars to planes.
            %ul
              %li
                Cars
                %ul
                  %li
                    %a{:href => "index.html"} Acura
                  %li
                    %a{:href => "index.html"} Audi
                  %li
                    %a{:href => "index.html"} BMW
                  %li
                    %a{:href => "index.html"} Cadillac
                  %li
                    %a{:href => "index.html"} Chrysler
                  %li
                    %a{:href => "index.html"} Dodge
                  %li
                    %a{:href => "index.html"} Ferrari
                  %li
                    %a{:href => "index.html"} Ford
                  %li
                    %a{:href => "index.html"} GMC
                  %li
                    %a{:href => "index.html"} Honda
                  %li
                    %a{:href => "index.html"} Hyundai
                  %li
                    %a{:href => "index.html"} Infiniti
                  %li
                    %a{:href => "index.html"} Jeep
                  %li
                    %a{:href => "index.html"} Kia
                  %li
                    %a{:href => "index.html"} Lexus
                  %li
                    %a{:href => "index.html"} Mini
                  %li
                    %a{:href => "index.html"} Nissan
                  %li
                    %a{:href => "index.html"} Porsche
                  %li
                    %a{:href => "index.html"} Subaru
                  %li
                    %a{:href => "index.html"} Toyota
                  %li
                    %a{:href => "index.html"} Volkswagon
                  %li
                    %a{:href => "index.html"} Volvo
              %li
                Planes
                %ul
                  %li
                    %a{:href => "index.html"} Boeing
                  %li
                    %a{:href => "index.html"} Cessna
                  %li
                    %a{:href => "index.html"} Derringer
                  %li
                    %a{:href => "index.html"} Embraer
                  %li
                    %a{:href => "index.html"} Gulfstream
                  %li
                    %a{:href => "index.html"} Piper Aircraft
                  %li
                    %a{:href => "index.html"} Raytheon
              %li
                Construction
                %ul
                  %li
                    %a{:href => "index.html"} Caterpillar
                  %li
                    %a{:href => "index.html"} Ford
                  %li
                    %a{:href => "index.html"} John Deere
      / /content
    / /page
