!!!
%html
  %head
    %meta{:charset => "utf-8"}
      %meta{:content => "width=device-width, minimum-scale=1, maximum-scale=1", :name => "viewport"}
        %title jQuery Mobile Docs - Lists
        %link{:href => "../../themes/default/", :rel => "stylesheet"}/
        %link{:href => "../_assets/css/jqm-docs.css", :rel => "stylesheet"}/
        %script{:src => "../../js/jquery.js", :type => "text/javascript"}
        %script{:src => "../../js/", :type => "text/javascript"}
        %script{:src => "docs/docs.js", :type => "text/javascript"}
  %body
    %div{"data-role" => "page"}
      %div{"data-role" => "header", "data-theme" => "b"}
        %h1 Linked list samples
        %a.ui-btn-right.jqm-home{"data-direction" => "reverse", "data-icon" => "home", "data-iconpos" => "notext", :href => "../../"} Home
      / /header
      %div{"data-role" => "content"}
        %form
          %h2 Simple list
          %ul{"data-role" => "listview"}
            %li
              %a{:href => "index.html"} Acura
            %li
              %a{:href => "index.html"} Audi
            %li
              %a{:href => "index.html"} BMW
            %li
              %a{:href => "index.html"} Cadillac
            %li
              %a{:href => "index.html"} Ferrari
          %h2 Count bubbles
          %ul{"data-role" => "listview"}
            %li
              %a{:href => "index.html"}
                Inbox
                %span.ui-li-count 12
            %li
              %a{:href => "index.html"}
                Outbox
                %span.ui-li-count 0
            %li
              %a{:href => "index.html"}
                Drafts
                %span.ui-li-count 4
            %li
              %a{:href => "index.html"}
                Sent
                %span.ui-li-count 328
            %li
              %a{:href => "index.html"}
                Trash
                %span.ui-li-count 62
          %h2 Numbered list
          %ol{"data-role" => "listview"}
            %li
              %a{:href => "index.html"} The Godfather
            %li
              %a{:href => "index.html"} Inception
            %li
              %a{:href => "index.html"} The Good, the Bad and the Ugly
            %li
              %a{:href => "index.html"} Pulp Fiction
            %li
              %a{:href => "index.html"} Schindler's List
          %h2 Divided, formatted content
          %ul{"data-role" => "listview"}
            %li
              %a{:href => "index.html"}
                %h3 Stephen Weber
                %p
                  %strong You've been invited to a meeting at Filament Group in Boston, MA
                %p Hey Stephen, if you're available at 10am tomorrow, we've got a meeting with the jQuery team.
                %p.ui-li-aside
                  %strong> 6:24
                  PM
            %li
              %a{:href => "index.html"}
                %h3 jQuery Team
                %p
                  %strong Boston Conference Planning
                %p In preparation for the upcoming conference in Boston, we need to start gathering a list of sponsors and speakers.
                %p.ui-li-aside
                  %strong> 9:18
                  AM
          %h2 Icon list
          %ul{"data-role" => "listview"}
            %li
              %a{:href => "index.html"}
                %img.ui-li-icon{:alt => "France", :src => "images/gf.png"}
                  France
                  %span.ui-li-count 4
            %li
              %a{:href => "index.html"}
                %img.ui-li-icon{:alt => "Germany", :src => "images/de.png"}
                  Germany
                  %span.ui-li-count 4
            %li
              %a{:href => "index.html"}
                %img.ui-li-icon{:alt => "Great Britain", :src => "images/gb.png"}
                  Great Britain
                  %span.ui-li-count 0
            %li
              %a{:href => "index.html"}
                %img.ui-li-icon{:alt => "Finland", :src => "images/fi.png"}
                  Finland
                  %span.ui-li-count 12
            %li
              %a{:href => "index.html"}
                %img.ui-li-icon{:alt => "Norway", :src => "images/sj.png"}
                  Norway
                  %span.ui-li-count 328
            %li
              %a{:href => "index.html"}
                %img.ui-li-icon{:alt => "United States", :src => "images/us.png"}
                  United States
                  %span.ui-li-count 62
          %h2 Thumbnail, split button list
          %ul{"data-role" => "listview"}
            %li
              %a{:href => "index.html"}
                %img{:src => "images/album-bb.jpg"}/
                %h3 Broken Bells
                %p Broken Bells
              %a{"data-rel" => "dialog", "data-transition" => "slideup", :href => "lists-split-purchase.html"}
                Purchase album
            %li
              %a{:href => "index.html"}
                %img{:src => "images/album-hc.jpg"}/
                %h3 Warning
                %p Hot Chip
              %a{"data-rel" => "dialog", "data-transition" => "slideup", :href => "lists-split-purchase.html"}
                Purchase album
            %li
              %a{:href => "index.html"}
                %img{:src => "images/album-p.jpg"}/
                %h3 Wolfgang Amadeus Phoenix
                %p Phoenix
              %a{"data-rel" => "dialog", "data-transition" => "slideup", :href => "lists-split-purchase.html"}
                Purchase album
          %h2 Divided, filterable list
          %ul{"data-filter" => "true", "data-role" => "listview"}
            %li{"data-role" => "list-divider"} A
            %li
              %a{:href => "index.html"} Adam Kinkaid
            %li
              %a{:href => "index.html"} Alex Wickerham
            %li
              %a{:href => "index.html"} Avery Johnson
            %li{"data-role" => "list-divider"} B
            %li
              %a{:href => "index.html"} Bob Cabot
            %li{"data-role" => "list-divider"} C
            %li
              %a{:href => "index.html"} Caleb Booth
            %li
              %a{:href => "index.html"} Christopher Adams
      / /content
    / /page
