!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %title jQuery Mobile Docs - Lists
    %link{:href => "../../themes/default", :rel => "stylesheet"}/
    %script{:src => "../../js/all", :type => "text/javascript"}
    %script{:src => "docs/docs.js", :type => "text/javascript"}
  %body
    %div{"data-role" => "page"}
      %div{"data-role" => "header"}
        %h1 Numbered list
      / /header
      %div{"data-role" => "content"}
        %ol{"data-role" => "listview"}
          %li
            %a{:href => "index.html"} The Godfather
          %li
            %a{:href => "index.html"} Inception
          %li
            %a{:href => "index.html"} The Good, the Bad and the Ugly
          %li
            %a{:href => "index.html"} Pulp Fiction
          %li
            %a{:href => "index.html"} Schindler's List
          %li
            %a{:href => "index.html"} 12 Angry Men
          %li
            %a{:href => "index.html"} One Flew Over the Cuckoo's Nest
          %li
            %a{:href => "index.html"} Star Wars: Episode V - The Empire Strikes Back
          %li
            %a{:href => "index.html"} The Dark Knight
          %li
            %a{:href => "index.html"} The Lord of the Rings: The Return of the King
          %li
            %a{:href => "index.html"} Seven Samurai
          %li
            %a{:href => "index.html"} Star Wars: Episode IV - A New Hope
          %li
            %a{:href => "index.html"} Casablanca
          %li
            %a{:href => "index.html"} Goodfellas
          %li
            %a{:href => "index.html"} Toy Story 3
          %li
            %a{:href => "index.html"} Fight Club
          %li
            %a{:href => "index.html"} City of God
          %li
            %a{:href => "index.html"} The Lord of the Rings: The Fellowship of the Ring
          %li
            %a{:href => "index.html"} The Big Lebowski
          %li
            %a{:href => "index.html"} Psycho
      / /content
    / /page
