!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %title jQuery Mobile Docs - Lists
    %link{:href => "../../themes/default/", :rel => "stylesheet"}/
    %link{:href => "../_assets/css/jqm-docs.css", :rel => "stylesheet"}/
    %script{:src => "../../js/jquery.js", :type => "text/javascript"}
    %script{:src => "../../js/", :type => "text/javascript"}
    %script{:src => "docs/docs.js", :type => "text/javascript"}
  %body
    %div{"data-role" => "page"}
      %div{"data-role" => "header", "data-theme" => "b"}
        %h1 Read-only list
        %a.ui-btn-right.jqm-home{"data-direction" => "reverse", "data-icon" => "home", "data-iconpos" => "notext", :href => "../../"} Home
      / /header
      %div{"data-role" => "content"}
        %ul{"data-inset" => "true", "data-role" => "listview", "data-theme" => "d"}
          %li Acura
          %li Audi
          %li BMW
          %li Cadillac
          %li Chrysler
          %li Dodge
          %li Ferrari
          %li Ford
          %li GMC
          %li Honda
          %li Hyundai
          %li Infiniti
          %li Jeep
          %li Kia
          %li Lexus
          %li Mini
          %li Nissan
          %li Porsche
          %li Subaru
          %li Toyota
          %li Volkswagon
          %li Volvo
      / /content
    / /page
