%link{:href => "/images/demo/mobile/list-maker-icon.png", :rel => "apple-touch-icon"}/

:css
  .ui-li-has-thumb .ui-btn-inner { min-height: 1em; padding-left: 0.5em; }
  .ui-li-thumb { position: relative; }
  #box { background-repeat: no-repeat; background-clip: none; width: 23px; border: 0px; }

= javascript_include_tag :tmpl, :offline

%script#item_template{:type => "text/x-jquery-tmpl"}
  %li
    %img#box.ui-icon-checkbox-off{ :src => "/images/demo/empty.png" }
    %a#item{ :value => "${list_item.id}", :href => "#" }
      ${list_item.name}
    %a#item_delete{:value => "${list_item.id}", :href => "#", "data-rel" => "dialog", "data-transition" => "pop" }
      Delete item

:javascript
  function itemCreate(myName){
    var newItem;
    if (!myName || /^\s*$/.test(myName)) {
      alert("Name cannot be empty");
    }
    else {
      $.ajax({
        async: false,
        type:'POST',
        url:'/mobile/experiments/list_items',
        data: { 
                "authenticity_token" : "#{form_authenticity_token}",
                "list_item"          : { "name" : myName }
              }, 
        dataType:"json",
        //timeout: 1000,
        success: function(response, status) {
                   $("#item_name").val("");
                 }
        //error: function(XMLHttpRequest, textStatus, errorThrown) {
        //         $("#item_name").val(textStatus);
        //       }
      });
    }
  };
  
  function itemUpdate(myId, myChecked){
    $.ajax({
      type:'PUT',
      url:'/mobile/experiments/list_items/'+myId,
      data: { 
              "authenticity_token" : "#{form_authenticity_token}",
              "list_item"          : { "checked" : myChecked }
            }, 
      dataType:"json"//,
      //timeout: 1000,
      //success: function(response, status) {
                 //createTimeEvent(response.time_event);
      //         },
      //error: function() {
      //
      //       }
    });
  };
  
  function itemDelete(myId){
    $.ajax({
      type:'DELETE',
      url:'/mobile/experiments/list_items/'+myId,
      data: { 
              "authenticity_token" : "#{form_authenticity_token}"
            }, 
      dataType:"json"//,
      //timeout: 1000,
      //success: function(response, status) {
                 //createTimeEvent(response.time_event);
      //         },
      //error: function() {
      //
      //       }
    });
  };
  
  $(function() {
    if ($.support.localStorage) {
      //$(window.applicationCache).bind("error", function() {
      //  console.log("There was an error when loading the cache manifest.");
      //});
      if (!localStorage["pendingItems"]) {
        localStorage["pendingItems"] = JSON.stringify([]);
      }
      $.retrieveJSON("/mobile/experiments/list_items?format=json", function(data) {
        var pendingItems = $.parseJSON(localStorage["pendingItems"]);
        $("#items").html($("#item_template").tmpl(data.concat(pendingItems))).listview("refresh");
      });
      
      $("#item_create").submit(function(e) {
        var pendingItems = $.parseJSON(localStorage["pendingItems"]);
        var item = {"data":$(this).serialize(), "list_item":{"name":$("#item_name").val()}};
        $("#item_template").tmpl(item).appendTo("#items");
        $("#items").listview("refresh");
        pendingItems.push(item);
        localStorage["pendingItems"] = JSON.stringify(pendingItems)
        $("#item_name").val("");
        sendPending();
        e.preventDefault();
      });
      
      function sendPending() {
        if (window.navigator.onLine) {
          var pendingItems = $.parseJSON(localStorage["pendingItems"]);
          if (pendingItems.length > 0) {
            var item = pendingItems[0];
            $.post("/mobile/experiments/list_items", item.data, function(data) {
              var pendingItems = $.parseJSON(localStorage["pendingItems"]);
              pendingItems.shift();
              localStorage["pendingItems"] = JSON.stringify(pendingItems)
              setTimeout(sendPending, 100);
            });
          }
        }
      }
      sendPending();
      $(window).bind("online", sendPending);
    } else {
      alert("Try a different browser.");
    };
  });
  
  $(document).ready(function() {
    $("#item").live('click', function(){
      var item = $(this).attr("value");
      var box = $(this).parent().children("#box");
      if (box.hasClass("ui-icon-checkbox-on")) {
        box.removeClass("ui-icon-checkbox-on");
        itemUpdate(item, false);
      }
      else {
        box.addClass("ui-icon-checkbox-on");
        itemUpdate(item, true);
      }
    });
    
    $("#item_create").live('click', function(){
      var itemName = $("#item_name").val();
      itemCreate(itemName);
      //var itemTmpl = {"data":$(this).serialize(), "list_item":{"id" : item.id,  "name": item.name, "checked" : item.checked }};
      //$("#item_template").tmpl(itemTmpl).appendTo("#items");
      //$("#items").listview("refresh");
    });
    
    $("#item_delete").live('click', function(){
      itemDelete($(this).attr("value"));
      $(this).parent().parent().parent().remove();
      $("#items").listview("refresh");
    });
  });
