-@title = "jQuery Mobile Framework - Shopping List"
-@manifest = "/manifest"

- content_for :content_scripts_before_mobile do
  = render(:partial => "index.js.haml", :format => :js)

#start{"data-role" => "page", "data-theme" => "a"}
  %div{"data-backbtn" => "false", "data-role" => "header"}
    %a.ui-btn-right{"data-icon" => "plus", "data-rel" => "dialog", "data-transition" => "pop", :href => "#item_add"} Add item
    %h1 Offline Shopping List
    %a.ui-btn-left{"data-direction" => "reverse", "data-icon" => "home", "data-iconpos" => "notext", :href => "/mobile/experiments/main", :rel => "external"} Home
  %div{"data-role" => "content", "data-theme" => "a"}
    %ol#items{"data-inset"=> "true", "data-role" => "listview", "data-splittheme" =>"a", "data-split-icon" => "delete", "data-theme" => "a"}
      - if @current_objects.empty?
        %li
          %em
            Loading items...
      - else
        - @current_objects.each do |item|
          %li
            -if item.checked
              %a#item.checked{ :value => item.id, :href => "#" }
                %s
                  = item.name
            -else
              %a#item{ :value => item.id, :href => "#" }
                = item.name
            %a#item_delete{:value => item.id, :href => "#", "data-rel" => "dialog", "data-transition" => "pop"}
              Remove
              = item.name
#item_add{"data-role" => "page", "data-theme" => "a"}
  %div{"data-backbtn" => "false", "data-role" => "header", "data-theme" => "a"}
    %h1 Add item to list
    %a.ui-btn-right{"data-icon" => "check", "data-transition" => "fade", :href => "#start"} Done
  %div{"data-role" => "content", "data-theme" => "a"}
    #createMsg
    %fieldset
      %div{"data-role" => "fieldcontain"}
        %label{:for => "name"} Name:
        %input#item_name{:name => "name", :type => "text", :value => ""}
        %button#item_create{"data-theme" => "b"} Add item
