-@title = "jQuery Mobile Framework - Datepicker"

- content_for :content_head do
  = render(:partial => "index.js.haml", :format => :js)
  
%div{"data-role" => "page"}
  %div{"data-role" => "header"}
    %h1 Datepicker Styled for mobile
  %div{"data-role" => "content"}
    %form{:action => "#", :method => "get"}
      %div{"data-role" => "fieldcontain"}
        %label{:for => "date"} Date Input (non-functional):
        %input#date{:name => "date", :type => "date", :value => ""}
