-@browser_title = 'Welcome to the jQuery Compass plugin'
-@jquery_partial = 'index.js.haml'

.welcome
  %h3.ui-widget-header.ui-corner-all
    compass-jquery-plugin
  %p 
    Welcome
  %code
    aaa
  %br
  %p
    Copyright &copy 2009-2010 Kosmas Schuetz. See LICENSE for details.

