-@browser_title = 'Welcome to the jQuery Compass plugin'
-@jquery_partial = 'index.js.haml'

.welcome
  .ui-widget-content.ui-corner-all
    %h3.ui-widget-header.ui-corner-all
      compass-jquery-plugin
    %p 
      Welcome
  %br
  %p.ui-widget-header.ui-corner-all
    Copyright &copy 2009-2010 Kosmas Schuetz. See LICENSE for details.

