-@title = " 960 Grid on jQuery Mobile - merge 960.gs flexibility with jquery.mobile ease"
= render :partial => "fluid.css.haml"

%div{"data-role" => "page"}
  %div{"data-role" => "header"}
    %h1.pageTitle
      960 Grid
      %span.on on
      jQuery Mobile
    %a.ui-btn-left{"data-icon" => "arrow-l", :href => "/mobile/experiments/grid960", :rel => "external"} Back
  / /header
  %div{"data-role" => "content"}
    .ui-grid-b
      .ui-block-a
        %ul{"data-inset" => "true", "data-role" => "listview"}
          %li
            %a{:href => "http://creativefan.com/tutorials-and-inspiration-to-unleash-the-960-grid-system/"} Because many developers already know it
          %li
            %a{:href => "http://www.blueprintcss.org/"} Other alternatives like blueprint exist
          %li
            %a{:href => "http://960.gs"} See More.
      .ui-block-b
        %ul{"data-dividertheme" => "b", "data-inset" => "true", "data-role" => "listview", "data-theme" => "c"}
          %li
            %a{:href => "http://creativefan.com/tutorials-and-inspiration-to-unleash-the-960-grid-system/"} Because many developers already know it
          %li
            %a{:href => "http://www.blueprintcss.org/"} Other alternatives like blueprint exist
          %li
            %a{:href => "http://960.gs"} See More.
      .ui-block-c
        %ul{"data-dividertheme" => "b", "data-inset" => "true", "data-role" => "listview", "data-theme" => "c"}
          %li{"data-role" => "list-divider"} Layout Not Flexible
          %li
            %a{:href => "http://creativefan.com/tutorials-and-inspiration-to-unleash-the-960-grid-system/"} Because many developers already know it
          %li
            %a{:href => "http://www.blueprintcss.org/"} Other alternatives like blueprint exist
          %li
            %a{:href => "http://960.gs"} See More.
    / /grid-a
    .container_12
      .grid_4
        %ul{"data-dividertheme" => "b", "data-inset" => "true", "data-role" => "listview", "data-theme" => "c"}
          %li
            %a{:href => "http://creativefan.com/tutorials-and-inspiration-to-unleash-the-960-grid-system/"} Because many developers already know it
          %li
            %a{:href => "http://www.blueprintcss.org/"} Other alternatives like blueprint exist
          %li
            %a{:href => "http://960.gs"} See More.
      .grid_4
        %ul{"data-dividertheme" => "b", "data-inset" => "true", "data-role" => "listview", "data-theme" => "c"}
          %li
            %a{:href => "http://creativefan.com/tutorials-and-inspiration-to-unleash-the-960-grid-system/"} Because many developers already know it
          %li
            %a{:href => "http://www.blueprintcss.org/"} Other alternatives like blueprint exist
          %li
            %a{:href => "http://960.gs"} See More.
      .grid_4
        %ul{"data-dividertheme" => "b", "data-inset" => "true", "data-role" => "listview", "data-theme" => "c"}
          %li{"data-role" => "list-divider"} Layout Not Flexible
          %li
            %a{:href => "http://creativefan.com/tutorials-and-inspiration-to-unleash-the-960-grid-system/"} Because many developers already know it
          %li
            %a{:href => "http://www.blueprintcss.org/"} Other alternatives like blueprint exist
          %li
            %a{:href => "http://960.gs"} See More.
    / /grid-a
  / /content
  %div{"data-role" => "footer"}
    %h4 Page Footer
  / /footer
/ /page
