:javascript
  $().ready(function() {
    var options = {
      onMonthChanging: function(dateIn) {
        //this could be an Ajax call to the backend to get this months events
        //var events = [ 	{ "EventID": 7, "StartDate": new Date(2009, 1, 1), "Title": "10:00 pm - EventTitle1", "URL": "#", "Description": "This is a sample event description", "CssClass": "Birthday" },
        //				{ "EventID": 8, "StartDate": new Date(2009, 1, 2), "Title": "9:30 pm - this is a much longer title", "URL": "#", "Description": "This is a sample event description", "CssClass": "Meeting" }
        //];
        //$.jMonthCalendar.ReplaceEventCollection(events);
        return true;
      },
      onEventLinkClick: function(event) { 
        alert("event link click");
        return true; 
      },
      onEventBlockClick: function(event) { 
        alert("block clicked");
        return true; 
      },
      onEventBlockOver: function(event) {
        //alert(event.Title + " - " + event.Description);
        return true;
      },
      onEventBlockOut: function(event) {
        return true;
      },
      onDayLinkClick: function(date) { 
        alert(date.toLocaleDateString());
        return true; 
      },
      onDayCellClick: function(date) { 
        alert(date.toLocaleDateString());
        return true; 
      }
    };
    
    var events = [ 	{ "EventID": 1, "StartDateTime": "new Date(2009, 5, 29)", "EndDateTime": "new Date(2009, 6, 3)", "Title": "10:00 pm - EventTitle1", "URL": "#", "Description": "This is a sample event description" },
      { "EventID": 6, "StartDateTime": "new Date(2009, 5, 29)", "EndDateTime": "new Date(2009, 6, 3)", "Title": "10:00 pm - EventTitle6", "URL": "#", "Description": "This is a sample event description" },
      { "EventID": 7, "StartDateTime": new Date(2009, 5, 12), "Title": "10:00 pm - EventTitle7", "URL": "#", "Description": "This is a sample event description" },
      { "EventID": 3, "StartDateTime": "2009-05-28T12:30:00.0000000", "Title": "This is a much longer title", "URL": "#", "Description": "This is a sample event description", "CssClass": "Meeting" },
      { "EventID": 4, "StartDateTime": new Date(2009, 5, 13), "Title": "This is a much longer title", "URL": "#", "Description": "This is a sample event description", "CssClass": "Meeting" },
      { "EventID": 5, "StartDateTime": "2009-06-03", "EndDateTime": "2009-06-14", "Title": "This is a much longer title", "URL": "#", "Description": "This is a sample event description", "CssClass": "Meeting" }
    ];
    
    $.jMonthCalendar.Initialize(options, events);  
    
    var extraEvents = [	{ "EventID": 8, "StartDateTime": new Date(2009, 3, 11), "Title": "10:00 pm - EventTitle1", "URL": "#", "Description": "This is a sample event description", "CssClass": "Birthday" },
      { "EventID": 9, "StartDateTime": new Date(2009, 3, 20), "Title": "9:30 pm - this is a much longer title", "URL": "#", "Description": "This is a sample event description", "CssClass": "Meeting" }
    ];
    
    $("#Button").click(function() {					
      $.jMonthCalendar.AddEvents(extraEvents);
    });
    
    $("#ChangeMonth").click(function() {
      $.jMonthCalendar.ChangeMonth(new Date(2009, 7, 7));
    });
  });
