-@jquery_partial = 'weeks03.js.haml'

%center
  %h3
    Week Calendar Demo (JSON data source)
  %p.description
    Please Note ***. This demo uses static json data. For this reason, in order to see any event data, please edit events.json to use current dates.
  #calendar
  