-@jquery_partial = 'weeks01.js.haml'
%center
  %h3
    Week Calendar Demo
  %p.description
    This calendar demonstrates a basic calendar. Events triggered are displayed in the message area. Appointments in the past are shaded grey.
  #calendar
  