-@title = 'iCalendar: ' +controller.action_name

- content_for :content_head do
  = render(:partial => "index.js.haml", :format => :js)

.demo
  %h3
    =@title
    
  = render :partial => "events"
    
  %button#event_create
    New Event     
  -#= link_to('New Event', new_event_path)
  
  #event_delete_dialog{ :style => "display: none;" }
  #event_update_dialog{ :style => "display: none;" }
  #event_create_dialog{ :style => "display: none;" }
/ End demo
 