-@browser_title = 'Calendar: ' +controller.action_name
-@jquery_partial = 'months.js.haml'

%center
  %h3
    jQuery Month Calendar
  %p
    #jMonthCalendar
  %p
    %button#Button
      Add More Events
    %button#ChangeMonth
      Change Month to August 2009
