:css
  /* the overlayed element */
  .simple_overlay {
    
    /* must be initially hidden */
    display:none;
    
    /* place overlay on top of other elements */
    z-index:10000;
    
    /* styling */
    background-color:#333;
    
    width:675px;	
    min-height:200px;
    border:1px solid #666;
    
    /* CSS3 styling for latest browsers */
    -moz-box-shadow:0 0 90px 5px #000;
    -webkit-box-shadow: 0 0 90px #000;	
  }
  
  /* close button positioned on upper right corner */
  .simple_overlay .close {
    background-image:url(/images/demo/tools/overlay/close.png);
    position:absolute;
    right:-15px;
    top:-15px;
    cursor:pointer;
    height:35px;
    width:35px;
  }
  /* some styling for triggers */
  #triggers {
    text-align:center;
  }
  
  #triggers img {
    cursor:pointer;
    margin:0 5px;
    background-color:#fff;
    border:1px solid #ccc;
    padding:2px;
  
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
  }
  
  /* styling for elements inside overlay */
  .details {
    position:absolute;
    top:15px;
    right:15px;
    font-size:11px;
    color:#fff;
    width:150px;
  }
  
  .details h3 {
    color:#aba;
    font-size:15px;
    margin:0 0 -10px 0;
  }

:javascript
  // create custom animation algorithm for jQuery called "drop" 
  $.easing.drop = function (x, t, b, c, d) {
    return -c * (Math.sqrt(1 - (t/=d)*t) - 1) + b;
  };
  
  // loading animation
  $.tools.overlay.addEffect("drop", function(css, done) { 
     // use Overlay API to gain access to crucial elements
     var conf = this.getConf(),
         overlay = this.getOverlay();
     // determine initial position for the overlay
     if (conf.fixed)  {
        css.position = 'fixed';
     } else {
        css.top += $(window).scrollTop();
        css.left += $(window).scrollLeft();
        css.position = 'absolute';
     } 
     // position the overlay and show it
     overlay.css(css).show();
     // begin animating with our custom easing
     overlay.animate({ top: '+=55',  opacity: 1,  width: '+=20'}, 400, 'drop', done);
     /* closing animation */
     }, function(done) {
        this.getOverlay().animate({top:'-=55', opacity:0, width:'-=20'}, 300, 'drop', function() {
           $(this).hide();
           done.call();      
        });
     }
  );
  
  // What is $(document).ready ? See: http://flowplayer.org${jqt}/documentation/basics.html#document_ready
  $(document).ready(function() {
    $("img[rel]").overlay({
      effect: 'drop',
      mask: '#789'
    });
  });
  