- content_for :head_stylesheets do
  :css
    /* the overlayed element */
    .apple_overlay {
      /* initially overlay is hidden */
      display:none;
      /* growing background image */
      background-image:url(/images/demo/tools/overlay/white.png);
      width:300px;
      /* some padding to layout nested elements nicely  */
      padding:35px;
      /* a little styling */
      font-size:11px;
    }

    /* default close button positioned on upper right corner */
    .apple_overlay .close {
      background-image:url(/images/demo/tools/overlay/close.png);
      position:absolute; right:5px; top:5px;
      cursor:pointer;
      height:35px;
      width:35px;
    }

- content_for :head_scripts do
  = javascript_include_tag :tools
  :javascript
    $(function() {
      $("button", ".demo").button();
    });

    $(function() {
      // positions for each overlay
      var positions = [
        [0, 	530],
        [400, 20],
        [400, 530],
        [0, 	20]
      ];
      // setup triggers
      $("button[rel]").each(function(i) {
        $(this).overlay({
          // common configuration for each overlay
          oneInstance: false,
          closeOnClick: false,
          // setup custom finish position
          top: positions[i][0],
          left: positions[i][1],
          // use apple effect
          effect: 'apple'
        });
      });
    });

- content_for :license do
  = render :partial => "widgets/tools/license"

