-@title = "#{t('txt.tools.name')} - #{t('txt.tools.ui.overlay.name')} - #{t('txt.tools.ui.overlay.demo07')}"

- content_for :content_head do
  = render :partial => "demo07.js.haml", :format => :js

.demo
  %h3
    =image_tag("icons/22x22/tools.png", :border => 0)
    =@title
  %p
    The following buttons will open multiple overlays side-by-side so that all overlays
    can be visible together:

  %p
    %button{:rel => "div.apple_overlay:eq(0)", :type => "button"}
      first
    %button{:rel => "div.apple_overlay:eq(1)", :type => "button"}
      second
    %button{:rel => "div.apple_overlay:eq(2)", :type => "button"}
      third
    %button{:rel => "div.apple_overlay:eq(3)", :type => "button"}
      fourth
  .apple_overlay
    %a.close
    %h2{:style => "margin:10px 0"}
      Overlay
      %me
        #1
    %p{:style => "float: left; margin:0px 20px 20px 0;"}
      %img{:src => "/images/demo/tools/overlay/tools24.png"}
    %p
      Class aptent taciti sociosqu ad litora torquent per conubia nostra,
      per inceptos himenaeos. Donec lorem ligula, elementum vitae,
      imperdiet a, posuere nec, ante. Quisque mattis massa id metus.
  .apple_overlay
    %a.close
    %h2{:style => "margin:10px 0"}
      Overlay
      %me
        #2
    %p{:style => "float: left; margin:0px 20px 20px 0;"}
      %img{:src => "/images/demo/tools/overlay/tools24.png"}
    %p
      Class aptent taciti sociosqu ad litora torquent per conubia nostra,
      per inceptos himenaeos. Donec lorem ligula, elementum vitae,
      imperdiet a, posuere nec, ante. Quisque mattis massa id metus.
  .apple_overlay
    %a.close
    %h2{:style => "margin:10px 0"}
      Overlay
      %me
        #3
    %p{:style => "float: left; margin:0px 20px 20px 0;"}
      %img{:src => "/images/demo/tools/overlay/tools24.png"}
    %p
      Class aptent taciti sociosqu ad litora torquent per conubia nostra,
      per inceptos himenaeos. Donec lorem ligula, elementum vitae,
      imperdiet a, posuere nec, ante. Quisque mattis massa id metus.
  .apple_overlay
    %a.close
    %h2{:style => "margin:10px 0"}
      Overlay
      %me
        #4
    %p{:style => "float: left; margin:0px 20px 20px 0;"}
      %img{:src => "/images/demo/tools/overlay/tools24.png"}
    %p
      Class aptent taciti sociosqu ad litora torquent per conubia nostra,
      per inceptos himenaeos. Donec lorem ligula, elementum vitae,
      imperdiet a, posuere nec, ante. Quisque mattis massa id metus.
/ End demo

.demo-description 
  #greybox
/ End demo-description
