-@title = "#{t('txt.tools.name')} - #{t('txt.tools.ui.overlay.name')} - #{t('txt.tools.ui.overlay.demo04')}"
= render :partial => "demo04.js.haml", :format => :js

.demo
  %h3
    =image_tag("icons/22x22/tools.png", :border => 0)
    =@title
  #facebox{:style => "z-index: 9999; top: 260px; left: 630px; position: fixed; display: block; "}
    %div
      %h2
        Facebox
      %p
        This dialog is opened programmatically when the page loads. There is no need for a trigger
        element.
      %form
        %input{:type => "file"}
      %p{:style => "color:#666"}
        To close, click the Close button or hit the ESC key.
      / yes/no buttons
      %p
        %button.close
          Close
  #exposeMask{:style => "position: absolute; top: 0px; left: 0px; z-index: 9998; background-color: rgb(255, 255, 255); display: block; opacity: 0.5; width: 1680px; height: 965px; "}
  %p
    Sometimes you want to open dialogs or info boxes for your users directly from your JavaScript code.
    In this case, you don't need any trigger element and the setup is slightly different. This page
    loads the overlay upon page load but you can also do it from your JavaScript anytime you like.
/ End demo

.demo-description 
  #greybox
/ End demo-description
