!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title
      Navigator Output
    :css
      label { font-weight:bold; }
      label:after { content: ":"; margin-right:5px; }
	  %body
    #nav
    :javascript
      var nav = document.getElementById('nav'), i,v;
      for ( i in navigator ) {
      	var v = navigator[i];
      	nav.innerHTML += ''+i+''+v+'';
      }
	