!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
  %body
    %div{"data-role" => "page"}
      %div{"data-role" => "header"}
        %h1 .prepend()
      #prepend1{"data-role" => "content", "data-theme" => "c"}
        %h2.jq-clearfix.roundTop.section-title
          %span.name .prepend( content )
          %span.returns
            Returns:
            %a.return{:href => "http://docs.jquery.com/Types#jQuery"} jQuery
        .entry-details
          %p.desc
            %strong> Description:
            Insert content, specified by the parameter, to the beginning of each element in the set of matched elements.
          %ul.signatures
            %li#prepend-content.signature
              %h4.name
                %span.versionAdded>
                  version added:
                  %a{:href => "/category/version/1.0/"} 1.0
                \.prepend( content )
              %p.arguement
                %strong> content
                An element, HTML string, or jQuery object to insert at the beginning of each element in the set of matched elements.
            %li.signature{:id => "prepend-functionindex, html"}
              %h4.name
                %span.versionAdded>
                  version added:
                  %a{:href => "/category/version/1.4/"} 1.4
                \.prepend( function(index, html) )
              %p.arguement
                %strong> function(index, html)
                A function that returns an HTML string to insert at the beginning of each element in the set of matched elements. Receives the index position of the element in the set and the old HTML value of the element as arguments.
          .longdesc
            %p
              The
              %code .prepend()
              and
              %code
                %a{:href => "/prependTo"} .prependTo()
              methods perform the same task. The major difference is in the syntax-specifically, in the placement of the content and target. With
              %code> .prepend()
              , the selector expression preceding the method is the container into which the content is inserted. With
              = succeed "," do
                %code .prependTo()
              on the other hand, the content precedes the method, either as a selector expression or as markup created on the fly, and it is inserted into the target container.
            %p Consider the following HTML:
            %pre
              :preserve
                &lt;h2&gt;Greetings&lt;/h2&gt;
                &lt;div class="container"&gt;
                  &lt;div class="inner"&gt;Hello&lt;/div&gt;
                  &lt;div class="inner"&gt;Goodbye&lt;/div&gt;
                &lt;/div&gt;            %p We can create content and insert it into several elements at once:
            %pre $('.inner').prepend('&lt;p&gt;Test&lt;/p&gt;');
            %p
              Each
              %code &lt;div class="inner"&gt;
              element gets this new content:
            %pre
              :preserve
                &lt;h2&gt;Greetings&lt;/h2&gt;
                &lt;div class="container"&gt;
                  &lt;div class="inner"&gt;
                    &lt;p&gt;Test&lt;/p&gt;
                    Hello
                  &lt;/div&gt;
                  &lt;div class="inner"&gt;
                    &lt;p&gt;Test&lt;/p&gt;
                    Goodbye
                  &lt;/div&gt;
                &lt;/div&gt;            %p We can also select an element on the page and insert it into another:
            %pre $('.container').prepend($('h2'));
            %p If an element selected this way is inserted elsewhere, it will be moved into the target (not cloned):
            %pre
              :preserve
                &lt;div class="container"&gt;
                  &lt;h2&gt;Greetings&lt;/h2&gt;
                  &lt;div class="inner"&gt;Hello&lt;/div&gt;
                  &lt;div class="inner"&gt;Goodbye&lt;/div&gt;
                &lt;/div&gt;            %p If there is more than one target element, however, cloned copies of the inserted element will be created for each target after the first.
          %h3 Examples:
          #entry-examples.entry-examples
            #example-0
              %h4
                Example:
                %span.desc Prepends some HTML to all paragraphs.
              %pre
                %code.example.demo-code
                  :preserve
                    &lt;!DOCTYPE html&gt;
                    &lt;html&gt;
                    &lt;head&gt;
                      &lt;style&gt;p { background:yellow; }&lt;/style&gt;
                      &lt;script src="http://code.jquery.com/jquery-latest.js"&gt;&lt;/script&gt;
                    &lt;/head&gt;
                    &lt;body&gt;
                    	&lt;p&gt;there friend!&lt;/p&gt;
                    
                      &lt;p&gt;amigo!&lt;/p&gt;
                    &lt;script&gt;$("p").prepend("&lt;b&gt;Hello &lt;/b&gt;");&lt;/script&gt;
                    &lt;/body&gt;
                    &lt;/html&gt;              %h4 Demo:
              .demo.code-demo
            #example-1
              %h4
                Example:
                %span.desc Prepends a DOM Element to all paragraphs.
              %pre
                %code.example.demo-code
                  :preserve
                    &lt;!DOCTYPE html&gt;
                    &lt;html&gt;
                    &lt;head&gt;
                      &lt;style&gt;p { background:yellow; }&lt;/style&gt;
                      &lt;script src="http://code.jquery.com/jquery-latest.js"&gt;&lt;/script&gt;
                    &lt;/head&gt;
                    &lt;body&gt;
                    	&lt;p&gt;is what I'd say&lt;/p&gt;
                      &lt;p&gt;is what I said&lt;/p&gt;
                    &lt;script&gt;$("p").prepend(document.createTextNode("Hello "));&lt;/script&gt;
                    &lt;/body&gt;
                    &lt;/html&gt;              %h4 Demo:
              .demo.code-demo
            #example-2
              %h4
                Example:
                %span.desc Prepends a jQuery object (similar to an Array of DOM Elements) to all paragraphs.
              %pre
                %code.example.demo-code
                  :preserve
                    &lt;!DOCTYPE html&gt;
                    &lt;html&gt;
                    &lt;head&gt;
                      &lt;style&gt;p { background:yellow; }&lt;/style&gt;
                      &lt;script src="http://code.jquery.com/jquery-latest.js"&gt;&lt;/script&gt;
                    &lt;/head&gt;
                    &lt;body&gt;
                    	&lt;p&gt; is what was said.&lt;/p&gt;&lt;b&gt;Hello&lt;/b&gt;
                    &lt;script&gt;$("p").prepend( $("b") );&lt;/script&gt;
                    &lt;/body&gt;
                    &lt;/html&gt;              %h4 Demo:
              .demo.code-demo
