!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %title jQuery Mobile Framework - Persistent footer demo
    %link{:href => "../../themes/default", :rel => "stylesheet"}/
    %link{:href => "../_assets/css/jqm-docs.css", :rel => "stylesheet"}/
    %script{:src => "../../js/", :type => "text/javascript"}
  %body
    %div{"data-role" => "page"}
      %div{"data-position" => "fixed", "data-role" => "header"}
        %h1 Albums
        %a.ui-btn-right{"data-icon" => "gear", "data-rel" => "dialog", "data-transition" => "pop", :href => "../forms/forms-all.html"} Options
      %div{"data-role" => "content"}
        %ul{"data-role" => "listview", "data-split-icon" => "gear", "data-split-theme" => "b"}
          %li
            %img{:src => "../lists/images/album-bb.jpg"}/
            %h3
              %a{:href => "index.html"} Broken Bells
            %p Broken Bells
            %a{"data-rel" => "dialog", "data-transition" => "slideup", :href => "../lists/lists-split-purchase.html"} Purchase album
          %li
            %img{:src => "../lists/images/album-hc.jpg"}/
            %h3
              %a{:href => "index.html"} Warning
            %p Hot Chip
            %a{"data-rel" => "dialog", "data-transition" => "slideup", :href => "../lists/lists-split-purchase.html"} Purchase album
          %li
            %img{:src => "../lists/images/album-p.jpg"}/
            %h3
              %a{:href => "index.html"} Wolfgang Amadeus Phoenix
            %p Phoenix
            %a{"data-rel" => "dialog", "data-transition" => "slideup", :href => "../lists/lists-split-purchase.html"} Purchase album
          %li
            %img{:src => "../lists/images/album-ok.jpg"}/
            %h3
              %a{:href => "index.html"} Of The Blue Colour Of The Sky
            %p Ok Go
            %a{"data-rel" => "dialog", "data-transition" => "slideup", :href => "../lists/lists-split-purchase.html"} Purchase album
          %li
            %img{:src => "../lists/images/album-ws.jpg"}/
            %h3
              %a{:href => "index.html"} Elephant
            %p The White Stripes
            %a{"data-rel" => "dialog", "data-transition" => "slideup", :href => "../lists/lists-split-purchase.html"} Purchase album
          %li
            %img{:src => "../lists/images/album-rh.jpg"}/
            %h3
              %a{:href => "index.html"} Kid A
            %p Radiohead
            %a{"data-rel" => "dialog", "data-transition" => "slideup", :href => "../lists/lists-split-purchase.html"} Purchase album
          %li
            %img{:src => "../lists/images/album-xx.jpg"}/
            %h3
              %a{:href => "index.html"} XX
            %p XX
            %a{"data-rel" => "dialog", "data-transition" => "slideup", :href => "../lists/lists-split-purchase.html"} Purchase album
          %li
            %img{:src => "../lists/images/album-mg.jpg"}/
            %h3
              %a{:href => "index.html"} Congratulations
            %p MGMT
            %a{"data-rel" => "dialog", "data-transition" => "slideup", :href => "../lists/lists-split-purchase.html"} Purchase album
          %li
            %img{:src => "../lists/images/album-ag.jpg"}/
            %h3
              %a{:href => "index.html"} Ashes Grammar
            %p A Sunny Day in Glasgow
            %a{"data-rel" => "dialog", "data-transition" => "slideup", :href => "../lists/lists-split-purchase.html"} Purchase album
          %li
            %img{:src => "../lists/images/album-k.jpg"}/
            %h3
              %a{:href => "index.html"} Hot Fuss
            %p Killers
            %a{"data-rel" => "dialog", "data-transition" => "slideup", :href => "../lists/lists-split-purchase.html"} Purchase album
          %li
            %img{:src => "../lists/images/album-af.jpg"}/
            %h3
              %a{:href => "index.html"} The Suburbs
            %p Arcade Fire
            %a{"data-rel" => "dialog", "data-transition" => "slideup", :href => "../lists/lists-split-purchase.html"} Purchase album
      %div{"data-id" => "foo1", "data-position" => "fixed", "data-role" => "footer"}
        %div{"data-role" => "navbar"}
          %ul
            %li
              %a{:href => "footer-persist-a.html"} Friends
            %li
              %a.ui-btn-active{:href => "footer-persist-b.html"} Albums
            %li
              %a{:href => "footer-persist-c.html"} Emails
        / /navbar
      / /footer
    / /page
