!!!
%html
  %head
    %title jQuery Mobile Docs - Toolbars
    %link{:href => "../../themes/default", :rel => "stylesheet"}/
    %script{:src => "../../js/all", :type => "text/javascript"}
  %body
    %div{"data-role" => "page", "data-theme" => "b"}
      %div{"data-role" => "header", "data-theme" => "b"}
        %h1 Toolbars
      / /header
      %div{"data-role" => "content"}
        %p Toolbars are used for headers, footers and utility bars throughout a mobile sites and applications, so jQuery Mobile provides a standard set of bars and navigation tools to cover most standard scenarios.
        %ul{"data-inset" => "true", "data-role" => "listview"}
          %li
            %a{:href => "docs-bars.html"} Toolbar basics
          %li
            %a{:href => "docs-headers.html"} Header bars
          %li
            %a{:href => "docs-footers.html"} Footer bars
          %li
            %a{:href => "bars-fixed.html"} Fixed positioning
          %li
            %a{:href => "bars-fullscreen.html"} Fullscreen positioning
          %li
            %a{:href => "footer-persist-a.html"} Persistent footer nav bar
          %li
            %a{:href => "bars-themes.html"} Theming toolbars
          / <li><a href="api-bars.html">API documentation</a></li>
      / /content
    / /page
