!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %title jQuery Mobile Docs - Toolbars
    %link{:href => "../../themes/default/", :rel => "stylesheet"}/
    %link{:href => "../_assets/css/jqm-docs.css", :rel => "stylesheet"}/
    %script{:src => "../../js/jquery.js", :type => "text/javascript"}
    %script{:src => "../../js/", :type => "text/javascript"}
  %body
    %div{"data-role" => "page"}
      %div{"data-role" => "header", "data-theme" => "b"}
        %h1 Toolbars
        %a.ui-btn-right.jqm-home{"data-direction" => "reverse", "data-icon" => "home", "data-iconpos" => "notext", :href => "../../"} Home
      / /header
      %div{"data-role" => "content"}
        %p Toolbars are used for headers, footers and utility bars throughout a mobile sites and applications, so jQuery Mobile provides a standard set of bars and navigation tools to cover most standard scenarios.
        %ul{"data-inset" => "true", "data-role" => "listview"}
          %li
            %a{:href => "docs-bars.html"} Toolbar basics
          %li
            %a{:href => "docs-headers.html"} Header bars
          %li
            %a{:href => "docs-footers.html"} Footer bars
          %li
            %a{:href => "docs-navbar.html"} Navbars
          %li
            %a{:href => "bars-fixed.html"} Fixed positioning
          %li
            %a{:href => "bars-fullscreen.html"} Fullscreen positioning
          %li
            %a{:href => "footer-persist-a.html"} Persistent footer nav bar
          %li
            %a{:href => "bars-themes.html"} Theming toolbars
          / <li><a href="api-bars.html">API documentation</a></li>
      / /content
    / /page
