!!!
%html
  %head
    %title jQuery Mobile Docs - Lists
    %link{:href => "../../themes/default", :rel => "stylesheet"}/
    %script{:src => "../../js/all", :type => "text/javascript"}
    %script{:src => "docs/docs.js", :type => "text/javascript"}
  %body
    %div{"data-role" => "page"}
      %div{"data-role" => "header"}
        %h1 Icons
      / /header
      %div{"data-role" => "content"}
        %ul{"data-role" => "listview"}
          %li
            %img.ui-li-icon{:alt => "France", :src => "/images/demo/mobile/album/gf.png"}
              %a{:href => "index.html"} France
              %span.ui-li-count 4
          %li
            %img.ui-li-icon{:alt => "Germany", :src => "/images/demo/mobile/album/de.png"}
              %a{:href => "index.html"} Germany
              %span.ui-li-count 4
          %li
            %img.ui-li-icon{:alt => "Great Britain", :src => "/images/demo/mobile/album/gb.png"}
              %a{:href => "index.html"} Great Britain
              %span.ui-li-count 0
          %li
            %img.ui-li-icon{:alt => "Japan", :src => "/images/demo/mobile/album/fi.png"}
              %a{:href => "index.html"} Japan
              %span.ui-li-count 12
          %li
            %img.ui-li-icon{:alt => "Sweden", :src => "/images/demo/mobile/album/sj.png"}
              %a{:href => "index.html"} Sweden
              %span.ui-li-count 328
          %li
            %img.ui-li-icon{:alt => "United States", :src => "/images/demo/mobile/album/us.png"}
              %a{:href => "index.html"} United States
              %span.ui-li-count 62
      / /content
    / /page
