%center
  .galaxys
    .emulator
      .display-area
        %iframe{ :src => url, :width => "800", :height => "445", :frameborder => "0" }
        %a{ :href => url }
          Click here
        if the IFrame could not be shown.
