%center
  .emulator
    .actions
      %a#zoom{:href => "#"}
        =image_tag("icons/32x32/ppi.png", :border => 0)
    .display-area
      %iframe#disp-area{ :src => url, :width => "1280", :height => "708", :frameborder => "0" }
