%center
  .galaxy10
    .emulator
      .display-area
        %iframe{ :src => url, :width => "1280", :height => "708", :frameborder => "0" }
        %a{ :href => url }
          Click here
        if the IFrame could not be shown.
