-@browser_title = "#{t('txt.ui.name')} #{t('txt.ui.effects.default')} - #{t('txt.ui.effects.switch_class.default')}"
-@jquery_partial = 'index.js.haml'
      
.demo
  %h3
    =@browser_title
  .toggler
    #effect.newClass.ui-corner-all
      Etiam libero neque, luctus a, eleifend nec, semper at, lorem. Sed pede.
  %a#button.ui-state-default.ui-corner-all{ :href => "#" }
    Run Effect
/ End demo
.demo-description
  %p
    Click the button above to preview the effect.
/ End demo-description
