#greybox
.demo-description  
  %p
    The jQuery TOOLS are released under
    %a{ :href => "http://flowplayer.org/tools/release-notes/index.html", :class => :greybox }
      NO COPYRIGHTS OR LICENSES. DO WHAT YOU LIKE.
/ End demo description
