<!doctype html>
%html{ :lang => "en" }
  %head
    %title
      jQuery UI Button - Checkboxes demo
    %link{ :href => "../../themes/base/jquery.ui.all.css", :rel => "stylesheet", :type => "text/css" }
    %script{ :type => "text/javascript", :src => "../../jquery-1.4.2.js" }
    %script{ :type => "text/javascript", :src => "../../ui/jquery.ui.core.js" }
    %script{ :type => "text/javascript", :src => "../../ui/jquery.ui.widget.js" }
    %script{ :type => "text/javascript", :src => "../../ui/jquery.ui.button.js" }
    %link{ :href => "../demos.css", :rel => "stylesheet", :type => "text/css" }
    %script{ :type => "text/javascript" }
      $(function() {
      $("#check").button();
      $("#format").buttonset();
      });
    %style
      \#format { margin-top: 2em; }
  %body
    .demo
      %input#check{ :type => "checkbox" }
      %label{ :for => "check" }
        Toggle
      #format
        %input#check1{ :type => "checkbox" }
        %label{ :for => "check1" }
          B
        %input#check2{ :type => "checkbox" }
        %label{ :for => "check2" }
          I
        %input#check3{ :type => "checkbox" }
        %label{ :for => "check3" }
          U
    /
      End demo
    .demo-description
      %p
        TODO
    /
      End demo-description
