<!doctype html>
%html{ :lang => "en" }
  %head
    %title
      jQuery UI Button - Radio Buttons demo
    %link{ :href => "../../themes/base/jquery.ui.all.css", :rel => "stylesheet", :type => "text/css" }
    %script{ :type => "text/javascript", :src => "../../jquery-1.4.2.js" }
    %script{ :type => "text/javascript", :src => "../../ui/jquery.ui.core.js" }
    %script{ :type => "text/javascript", :src => "../../ui/jquery.ui.widget.js" }
    %script{ :type => "text/javascript", :src => "../../ui/jquery.ui.button.js" }
    %link{ :href => "../demos.css", :rel => "stylesheet", :type => "text/css" }
    %script{ :type => "text/javascript" }
      $(function() {
      $("#radio1").buttonset();
      });
    %style
  %body
    .demo
      %form
        #radio1
          %input#radio1{ :name => "radio", :type => "radio" }
          %label{ :for => "radio1" }
            Choice 1
          %input#radio2{ :name => "radio", :checked => "checked", :type => "radio" }
          %label{ :for => "radio2" }
            Choice 2
          %input#radio3{ :name => "radio", :type => "radio" }
          %label{ :for => "radio3" }
            Choice 3
    /
      End demo
    .demo-description
      %p
        A set of three radio buttons transformed into a button set.
    /
      End demo-description
