#greybox
.demo-description  
  %p
    The jqGrid plugin is released under the license
    %a{ :href => "http://www.trirand.com/blog/?page_id=154", :class => :greybox }
      MIT or GPL Version 2.
/ End demo description
