%div#events
  %ol
    - for event in @events
      %li
        == #{event.summary} from #{event.starts_at.to_s} until #{event.ends_at.to_s}
      %button.event_update{ :value => event.id }
        Edit
      %button.event_delete{ :value => event.id }   
        Delete
        
        