%div#events
  %ol
    - for event in @events
      %li
        == #{event.summary} from #{l(event.starts_at, :format => :long).to_s} until #{l(event.ends_at, :format => :long).to_s}
      %button.event_update{ :value => event.id }
        Edit
      %button.event_delete{ :value => event.id }   
        Delete
        
        