-@title = t('txt.jqical.event.listing')

- content_for :content_head do
  = render(:partial => "index.js.haml", :format => :js)

.demo
  %h3
    =@title
    
  = render :partial => "events"
  
  %p.buttons  
    %button.event_create
      = t('txt.jqical.event.new')
    = link_to t('txt.layout.back'), jqical_calendars_path 
    
  #event_delete_dialog{ :style => "display: none;" }
  #event_update_dialog{ :style => "display: none;" }
  #event_create_dialog{ :style => "display: none;" }
/ End demo
 