-@title = "jQuery Mobile Docs - Configuration"
= render :partial => "/mobile/index.js.haml", :format => :js

- content_for :head_scripts_before_mobile do
  :javascript
    $(document).bind("mobileinit", function(){
      $.mobile.touchOverflowEnabled = true;
    });

.type-index{"data-role" => "page"}
  %div{"data-role" => "header", "data-theme" => "f"}
    %h1 Config applied
    %a.ui-btn-right.jqm-home{"data-direction" => "reverse", "data-icon" => "home", "data-iconpos" => "notext", :href => "/mobile"} Home
  / /header
  %div{"data-role" => "content"}
    %h2 touchOverflowEnabled is now active
    %p The toolbar on this page should now be fixed, like a native toolbar. To test, hit the button below and browse the docs. Note that if a link causes a refresh, this setting will be lost and the default settings will be seen.
    %a{"data-icon" => "arrow-r", "data-iconpos" => "right", "data-role" => "button", :href => "/mobile"} Browse docs
    %a{"data-icon" => "arrow-r", "data-iconpos" => "right", "data-role" => "button", :href => "/mobile/docs/pages/touch_overflow"} touchOverflow docs
    %h3 Some good pages to test out:
    %a{"data-icon" => "arrow-r", "data-iconpos" => "right", "data-role" => "button", :href => "/mobile/docs/toolbars/bars_fixed"} Fixed toolbars
    %a{"data-icon" => "arrow-r", "data-iconpos" => "right", "data-role" => "button", :href => "/mobile/docs/toolbars/bars_fullscreen"} Fullscreen toolbars
    %a{"data-icon" => "arrow-r", "data-iconpos" => "right", "data-role" => "button", :href => "/mobile/docs/toolbars/footer_persist_a"} Fixed persistent footer
    %a{"data-icon" => "arrow-r", "data-iconpos" => "right", "data-role" => "button", :href => "/mobile/docs/pages/page_dialogs"} Dialogs &amp; transitions
  / /ui-body wrapper
/ /page
