%script{:src => "../js/jquery-1.4.2.js"}
%script{:src => "../../src/toolbox/toolbox.flashembed.js"}
:css
  #clock {
  	width: 250px;
  	height: 250px;
  }
%body
  #clock
  :javascript
    flashembed("clock", "clock.swf");
