%center
  .iphone
    .emulator
      .display-area
        %iframe{ :name => "iframe_name", :src => "http://www.jqtouch.com/preview/demos/main/", :width => "320", :height => "460", :frameborder => "0" }
        If the IFrame could not be shown.
        %br
        %br
        %br
        %br
        %br
        %a{ :href => "http://www.jqtouch.com/preview/demos/main/" }
          Click here
