:javascript
  jQuery("#grid_id").jqGrid({
  ...
     colModel: [ 
        ... 
        {name:'price', index:'price', width:60, align:"center", editable: true, formatter:currencyFmatter, unformat:unformatCurrency},
        ...
     ]
  ...
  });
   
  function currencyFmatter (cellvalue, options, rowObject)
  {
   
     return "$"+cellvalue;
  }
  function  unformatCurrency (cellvalue, options)
  {
   
     return cellvalue.replace("$","");
  }
   
