-@title = "#{t('txt.ui.name')} #{t('txt.ui.effects.default')} - #{t('txt.ui.effects.effect.easing')}"
-@jquery_partial = 'easing.js.haml'
      
.demo
  %h3
    =@title
  #graphs
  #animted
/ End demo

.demo-description
  %p
    %strong
      All easings provided by jQuery UI are drawn above, using a HTML canvas element.
    Click a diagram to see the easing in action.
/ End demo-description
