- content_for :head_scripts do
  :javascript
    $(function() {
      $(".demo button:first").button({
        icons: {
          secondary: 'ui-icon-locked'
        },
        text: false
      }).next().button({
        icons: {
          secondary: 'ui-icon-locked'
        }
      }).next().button({
        icons: {
          primary: 'ui-icon-gear',
          secondary: 'ui-icon-triangle-1-s'
        }
      }).next().button({
        icons: {
          primary: 'ui-icon-gear',
          secondary: 'ui-icon-triangle-1-s'
        },
        text: false
      });
    });

- content_for :license do
  = render :partial => "ui/license"
