-@title = "#{t('txt.ui.name')} #{t('txt.ui.widgets.button.default')} - #{t('txt.ui.widgets.button.icon')}"
= render :partial => "icon.js.haml", :format => :js
     
.demo
  %h3
    =image_tag("icons/22x22/jquery-ui.png", :border => 0)
    =@title
  %button
    Button with icon only
  %button
    Button with icon on the left
  %button
    Button with two icons
  %button
    Button with two icons and no text
/ End demo

.demo-description
  %p
    Some buttons with various combinations of text and icons, here specified via metadata.
/ End demo-description
