-@title = "#{t('txt.ui.name')} #{t('txt.ui.widgets.button.default')} - #{t('txt.ui.widgets.button.radio')}"

- content_for :content_head do
  = render :partial => "radio.js.haml", :format => :js
     
.demo
  %h3
    =image_tag("icons/22x22/jquery-ui.png", :border => 0)
    =@title
  %form
    #radio
      %input#radio1{ :name => "radio", :type => "radio" }
      %label{ :for => "radio1" }
        Choice 1
      %input#radio2{ :name => "radio", :checked => "checked", :type => "radio" }
      %label{ :for => "radio2" }
        Choice 2
      %input#radio3{ :name => "radio", :type => "radio" }
      %label{ :for => "radio3" }
        Choice 3
/ End demo

.demo-description
  %p
    A set of three radio buttons transformed into a button set.
/ End demo-description
