-@title = "jQuery UI Mobile Framework - API"

- content_for :content_custom_scripts do
  = render(:partial => "/mobile/index.js.haml", :format => :js)

%div{"data-role" => "page"}
  %div{"data-role" => "header", "data-theme" => "b"}
    %h1 API
    %a.ui-btn-right.jqm-home{"data-direction" => "reverse", "data-icon" => "home", "data-iconpos" => "notext", :href => "/mobile"} Home
  / /header
  %div{"data-role" => "content"}
    %ul{"data-dividertheme" => "b", "data-inset" => "true", "data-role" => "listview", "data-theme" => "c"}
      %li{"data-role" => "list-divider"} API
      %li
        %a{:href => "/mobile/docs/api/globalconfig"} Configuring defaults
      %li
        %a{:href => "/mobile/docs/api/events"} Events
      %li
        %a{:href => "/mobile/docs/api/methods"} Methods &amp; Utilities
      %li
        %a{:href => "/mobile/docs/api/mediahelpers"} Responsive Layout
      %li
        %a{:href => "/mobile/docs/api/themes"} Theme framework
