:css
  a:active { outline:none; }
  :focus { -moz-outline-style:none; }
  .apple_overlay { display:none; background-image:url(/images/jqtools/overlay/white.png); width:640px; padding:35px; font-size:11px; }
  .apple_overlay .close { background-image:url(/images/jqtools/overlay/close.png); position:absolute; right:5px; top:5px; cursor:pointer; height:27px; width:27px; }
  div.apple_overlay.black { background-image:url(/images/jqtools/overlay/transparent.png); color:#fff; }
  div.apple_overlay h2 { font-weight:bold; font-size:14px; }
  div.black h2 { color:#fff; }
  #triggers { margin-top:10px; text-align:center; }
  #triggers img { background-color:#fff; padding:2px; border:1px solid #ccc; margin:2px 5px; cursor:pointer; -moz-border-radius:4px; -webkit-border-radius:4px; }


:javascript
  $(document).ready(function() { 
    $("#triggers img[rel]").overlay({effect: 'apple'});
  });

