:css
  a:active { outline:none; }
  :focus { -moz-outline-style:none; }
  .modal { background-color:#fff; display:none; width:350px; padding:15px; text-align:left; border:2px solid #333; opacity:0.8; -moz-border-radius:6px; -webkit-border-radius:6px; -moz-box-shadow: 0 0 50px #ccc; -webkit-box-shadow: 0 0 50px #ccc; }
  .modal h2 { background:url(/images/jqtools/overlay/info.png) 0 50% no-repeat; margin:0px; padding:10px 0 10px 45px; border-bottom:1px solid #333; font-size:20px; }

:javascript
  $(document).ready(function() {
    var triggers = $(".modalInput").overlay({
      // some mask tweaks suitable for modal dialogs
      mask: {
        color: '#ebecff',
        loadSpeed: 200,
        opacity: 0.9
      },
      closeOnClick: false
    });
    var buttons = $("#yesno button").click(function(e) {
      // get user input
      var yes = buttons.index(this) === 0;
      // do something with the answer
      triggers.eq(0).html("You clicked " + (yes ? "yes" : "no"));
    });
    $("#prompt form").submit(function(e) {
      // close the overlay
      triggers.eq(1).overlay().close();
      // get user input
      var input = $("input", this).val();
      // do something with the answer
      triggers.eq(1).html(input);
      // do not submit the form
      return e.preventDefault();
    });
  });

