-@title = "#{t('txt.jqtools.name')} - #{t('txt.jqtools.overlay.name')} - #{t('txt.jqtools.overlay.demo6')}"

- content_for :content_head do
  = render(:partial => "demo6.js.haml", :format => :js)

.demo
  %h3
    =image_tag("icons/22x22/jqtools.png", :border => 0)
    =@title
  / external page is given in the href attribute (as it should be)
  %a{:href => "http://flowplayer.org/tools/demos/overlay/external-content.htm", :rel => "#overlay", :style => "text-decoration:none"}
    / remember that you can use any element inside the trigger
    %button{:type => "button"} Show external page in overlay
  / another link. uses the same overlay
  %a{:href => "http://flowplayer.org/tools/demos/overlay/external-content2.htm", :rel => "#overlay", :style => "text-decoration:none"}
    %button{:type => "button"} Show another page
  / overlayed element
  #overlay.apple_overlay
    %a.close
    / the external content is loaded inside this tag
    .contentWrap
/ End demo

.demo-description
  %p
    Get more information
    %a{ :href => "https://forum.jquery.com/topic/jquery-load-external-page-by-url", :class => :greybox}
      here
    \.
  #greybox
/ End demo-description
