-@title = "#{t('txt.jqtools.name')} - #{t('txt.jqtools.overlay.name')} - #{t('txt.jqtools.overlay.demo5')}"

- content_for :content_head do
  = render(:partial => "demo5.js.haml", :format => :js)


.demo
  %h3
    =image_tag("icons/22x22/jqtools.png", :border => 0)
    =@title
  %p
    %button{:rel => "#petrol", :type => "button"} petrol
    %button{:rel => "#custom", :type => "button"} custom
    %button{:rel => "#custom2", :type => "button"}
      custom
      %em 2
    %button{:rel => "#apple", :type => "button"} apple
  #petrol.apple_overlay
    %a.close
    %h2{:style => "margin:0px; color: #444;"}
      Here is my overlay
    %img{:src => "/images/jqtools/overlay/eye192.png", :style => "float: left; margin:0px 20px 0 0;"}
      %p
        %strong Sit amet felis non sem eleifend rhoncus. Mauris imperdiet consequat neque, ac molestie eros venenatis pharetra. In et leo nulla. Vivamus feugiat consequat augue nec vulputate. Vestibulum a ipsum et turpis viverra accumsan.
      %p
        Cras sit amet est purus, a consectetur augue. Ut scelerisque consequat dictum. Donec in nulla risus. Nulla metus elit, tempus vel fermentum sed, dictum eu justo. Etiam et nulla ligula. Integer in tincidunt tellus. Cras cursus, lectus id tincidunt tincidunt, eros arcu cursus velit, a euismod justo lectus non quam. Ut euismod erat eu elit hendrerit.
      %p
        Nulla vitae tellus justo. Donec condimentum lorem ac enim blandit id lobortis felis pellentesque. Mauris nulla velit, ultrices vel tempor vitae, sollicitudin vitae ligula. Vestibulum nec ullamcorper turpis. Aliquam aliquam aliquam pharetra.
      %p{:style => "color:#666"}
        Cras sit amet est purus, a consectetur augue. Ut scelerisque consequat dictum. Donec in nulla risus. Nulla metus elit, tempus vel fermentum sed, dictum eu justo. Etiam et nulla ligula. Integer in tincidunt tellus. Cras cursus, lectus id tincidunt tincidunt, eros arcu cursus velit, a euismod justo lectus non quam. Ut euismod erat eu elit hendrerit a aliquet odio consequat.
  #custom.apple_overlay
    %a.close
  #custom2.apple_overlay{:style => "background-image:url(/images/jqtools/overlay/flowplayer.png)"}
    %a.close
    %h2{:style => "margin:0px"} Here is my overlay
    %img{:src => "/images/jqtools/overlay/eye192.png", :style => "float: left; margin:0px 20px 0 0;"}
      %p
        %strong Sit amet felis non sem eleifend rhoncus. Mauris imperdiet consequat neque, ac molestie eros venenatis pharetra. In et leo nulla. Vivamus feugiat consequat augue nec vulputate. Vestibulum a ipsum et turpis viverra accumsan.
      %p
        Cras sit amet est purus, a consectetur augue. Ut scelerisque consequat dictum. Donec in nulla risus. Nulla metus elit, tempus vel fermentum sed, dictum eu justo. Etiam et nulla ligula. Integer in tincidunt tellus. Cras cursus, lectus id tincidunt tincidunt, eros arcu cursus velit, a euismod justo lectus non quam. Ut euismod erat eu elit hendrerit.
      %p
        Nulla vitae tellus justo. Donec condimentum lorem ac enim blandit id lobortis felis pellentesque. Mauris nulla velit, ultrices vel tempor vitae, sollicitudin vitae ligula. Vestibulum nec ullamcorper turpis. Aliquam aliquam aliquam pharetra.
      %p{:style => "color:#666"}
        Cras sit amet est purus, a consectetur augue. Ut scelerisque consequat dictum. Donec in nulla risus. Nulla metus elit, tempus vel fermentum sed, dictum eu justo. Etiam et nulla ligula. Integer in tincidunt tellus. Cras cursus, lectus id tincidunt tincidunt, eros arcu cursus velit, a euismod justo lectus non quam. Ut euismod erat eu elit hendrerit a aliquet odio consequat.
  #apple.apple_overlay
    %a.close
    %h2{:style => "margin:0px; color: #444;"}
      Here is my overlay
    %img{:src => "/images/jqtools/overlay/eye192.png", :style => "float: left; margin:0px 20px 0 0;"}
      %p
        %strong Sit amet felis non sem eleifend rhoncus. Mauris imperdiet consequat neque, ac molestie eros venenatis pharetra. In et leo nulla. Vivamus feugiat consequat augue nec vulputate. Vestibulum a ipsum et turpis viverra accumsan.
      %p
        Cras sit amet est purus, a consectetur augue. Ut scelerisque consequat dictum. Donec in nulla risus. Nulla metus elit, tempus vel fermentum sed, dictum eu justo. Etiam et nulla ligula. Integer in tincidunt tellus. Cras cursus, lectus id tincidunt tincidunt, eros arcu cursus velit, a euismod justo lectus non quam. Ut euismod erat eu elit hendrerit.
      %p
        Nulla vitae tellus justo. Donec condimentum lorem ac enim blandit id lobortis felis pellentesque. Mauris nulla velit, ultrices vel tempor vitae, sollicitudin vitae ligula. Vestibulum nec ullamcorper turpis. Aliquam aliquam aliquam pharetra.
      %p{:style => "color:#666"}
        Cras sit amet est purus, a consectetur augue. Ut scelerisque consequat dictum. Donec in nulla risus. Nulla metus elit, tempus vel fermentum sed, dictum eu justo. Etiam et nulla ligula. Integer in tincidunt tellus. Cras cursus, lectus id tincidunt tincidunt, eros arcu cursus velit, a euismod justo lectus non quam. Ut euismod erat eu elit hendrerit a aliquet odio consequat.
/ End demo

.demo-description 
  #greybox
/ End demo-description
