!!!
%html
  %head
    %title jQuery UI Mobile Framework - Documentation
    %link{:href => "../../themes/default", :media => "only all", :rel => "stylesheet"}/
    %script{:src => "../../js/all", :type => "text/javascript"}
  %body
    %div{"data-role" => "page", "data-theme" => "b"}
      %div{"data-position" => "inline", "data-role" => "header"}
        %h1 jQuery Mobile Docs
      %div{"data-role" => "content"}
        %ul{"data-dividertheme" => "b", "data-inset" => "true", "data-role" => "listview", "data-theme" => "c"}
          %li{"data-role" => "list-divider"} Components
          %li
            %a{:href => "pages/index.html"} Pages &amp; dialogs
          %li
            %a{:href => "toolbars/index.html"} Toolbars
          %li
            %a{:href => "buttons/index.html"} Buttons
          %li
            %a{:href => "content/index.html"} Content formatting
          %li
            %a{:href => "forms/index.html"} Form elements
          %li
            %a{:href => "lists/index.html"} List views
          %li
            %a{:href => "events.html"} Events
