%input{:onclick => "$('#invheaders_demo0502').jqGrid('editRow','\\\"\#{id}\\\"');", :style => "height:22px;width:20px;", :type => "button", :value => "E"}/
%input{:onclick => "$('#invheaders_demo0502').jqGrid('saveRow','\#{id}');", :style => "height:22px;width:20px;", :type => "button", :value => "S"}/
%input{:onclick => "$('#invheaders_demo0502').jqGrid('restoreRow','\#{id}');", :style => "height:22px;width:20px;", :type => "button", :value => "C"}/
