-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.32v')} - #{t('txt.jqgrid.demo.32new_methods')}"
.demo
  %h3
    =image_tag("icons/22x22/grid.png", :border => 0)
    =@title
  %center
    %table#invheaders_demo1001.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #invheaders_demo1001_pager.scroll{ :style => "text-align:center;" }
   
    #toolbar.ui-widget-header.ui-corner-all
      %a#shc{ :href => "#" }
        Change the content of header Tax
      %a#scc{ :href => "#" }
        Change the tax of row 12
      %a#cdat{ :href => "#" }
        Clear the currently loaded data
/ End demo
.demo-description
  %p
    This example demonstrates the setCell and setLabel methods. We can change the content
    and style of the particular header and cell. Again we use the loadui option
    to disable interaction when the data is loaded.
/ End demo-description
