-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.31v')} - #{t('txt.jqgrid.demo.31cparams')}"
.demo
  %h3
    =image_tag("icons/22x22/grid.png", :border => 0)
    =@title
  %center
    %table#invheaders_demo0905.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #invheaders_demo0905_pager.scroll{ :style => "text-align:center;" }
    #toolbar.ui-widget-header.ui-corner-all
      %a#pp1{ :href => "#" }
        Set Common Params
/ End demo 
.demo-description
  %p 
    This example demonstrates setting of common grid parameters.
  %p
    In this example rows and loading messages will be changed.
  %p
    Reopen the grid to watch this. Note that all parameters can be changed.
/ End demo-description
