:javascript  
  $(function() {
    $("#chngroup").change(function(){
      var vl = $(this).val();
      if(vl) {
        if(vl == "clear") {
          jQuery("#invheaders_demo1612").jqGrid('groupingRemove',true);
        } else {
          jQuery("#invheaders_demo1612").jqGrid('groupingGroupBy',vl);
        }
      }
    });
  });
     
= raw @grid
