:css
  #toolbar { padding: 0.3em; }

:javascript
  $(function() {
    $("a", "#toolbar").button();
  });  
  
  $(document).ready(function() {
    $("#s1").click( function() {
      $("#invheaders_demo0203").jqGrid('setGridParam', {
        url:"/widgets/jqgrid/demo"
      }).trigger("reloadGrid")
    });
    $("#s2").click( function() {
      $("#invheaders_demo0203").jqGrid('setGridParam', {
        sortname : "amount", sortorder : "asc"
      }).trigger("reloadGrid");
    });
    $("#s3").click( function() {
      var so = $("#invheaders_demo0203").jqGrid('getGridParam','sortorder');
      so = so == "asc" ? "desc" : "asc";
      $("#invheaders_demo0203").jqGrid('setGridParam', {
        sortorder : so
      }).trigger("reloadGrid");
    });
    $("#s4").click( function() {
      $("#invheaders_demo0203").jqGrid('setGridParam', {
        page : 2
      }).trigger("reloadGrid");
    });
    $("#s5").click( function() {
      $("#invheaders_demo0203").jqGrid('setGridParam', {
        rowNum : 15
      }).trigger("reloadGrid");
    });
    $("#s6").click( function() {
      $("#invheaders_demo0203").jqGrid('setGridParam', {
        postData :{ "grid": "demo0203", "datatype" : "xml" }
      }).trigger('reloadGrid');
    });
    $("#s7").click( function() {
      $("#invheaders_demo0203").jqGrid('setCaption', 
        "New Caption"
      );
    });
    $("#s8").click( function() {
      $("#invheaders_demo0203").jqGrid('sortGrid', 
        "client.name", false
      );
    });
  });
    
= raw @grid
