-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.30row')} - #{t('txt.jqgrid.demo.30types')}"
.demo
  %h3
    =image_tag("icons/22x22/grid.png", :border => 0)
    =@title
  %center
    %table#demo0505.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #demo0505_pager.scroll{ :style => "text-align:center;" }

/ End demo 
.demo-description
  %p
    This example demonstrates different input types. This is achieved via two new options:
  %p
    %p
      %code
        edittype
      where the possible values are text(default), checkbox, textarea and select.
    %p
      %code
        editoptions
      array which contains different options for the control.
  %p
    Try to click on some row.   
/ End demo-description
