:css
  #toolbar { padding: 0.3em; }
  #toolbar .ui-button{ font-size: 0.8em;

= raw @grid

:javascript
  $(function() {
    $("a", "#toolbar").button();
  });

  $(function() {
    $("#sm1").click( function(){
      alert($("#invheaders_demo0903").jqGrid('getGridParam',"records"));
    });
    $("#sm2").click( function(){
      $("#invheaders_demo0903").jqGrid('setGridParam',{
        onSelectRow : function(id) {
          $("#resp").html("I'm row number: "+id +" and setted dynamically").css("color","red");
        }
      });
      alert("Try to select row");
    });
    $("#sm3").click( function(){
      $("#invheaders_demo0903").jqGrid('resetSelection');
    });
  });
