-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.36v')} - #{t('txt.jqgrid.demo.36validation')}"
.demo
  %h3
    =image_tag("icons/22x22/grid.png", :border => 0)
    =@title
  %center
    %table#invheaders_demo1405.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #invheaders_demo1405_pager.scroll{ :style => "text-align:center;" }

/ End demo 
.demo-description
  %p    
    Since it is not possible to meat every user requirement in the validation when we use editing
    we have created a possibility to create custome ones defined by the developer.
    This is done just with two options in colModel
    %ul
      %li 
        %code
          custom:true 
        (which initialize this) and
      %li 
        %code
          custom_func
        which should perform validation.
  %p
    In our example the amount value should have values between 200 and 300 when we perform editing and adding.   
/ End demo-description
