:css
  #toolbar { padding: 0.3em; }
  #toolbar .ui-button{ font-size: 0.8em; }

:javascript
  $(function() {
    $("a", "#toolbar").button();
  });
  
  function checksave(result) {
    if (result.responseText=="") {alert("Update is missing!"); return false;}
    return true;
  };
  
  $(document).ready(function() {
    $("#ed4").click( function() {
      $("#invheaders_demo0504").jqGrid('editRow',"13");
      this.disabled = 'true';
      $("#sved4").attr("disabled",false);
    });
    $("#sved4").click( function() {
      $("#invheaders_demo0504").jqGrid('saveRow',"13", checksave);
      $("#sved4").attr("disabled",true);
      $("#ed4").attr("disabled",false);
    });
  });
  
= raw @grid
