:javascript
  function dataFunction(pdata) {
    $.ajax({
      url:'/widgets/jqgrid/demo',
      data:pdata,
      dataType:"json",
      complete: function(jsondata,stat){
        if(stat=="success") {
          var thegrid = $("#invheaders_demo1108")[0];
          thegrid.addJSONData(eval("("+jsondata.responseText+")"))
        }
      }
    });
  };

= raw @grid
