:javascript  
  function after_load(){
    var udata = $("#invheaders_demo0902").jqGrid('getUserData');
    $("#t_invheaders_demo0902").css("text-align","right").html("Totals Amount:"+udata.amount+" Tax: "+udata.tax+" Total: "+udata.total+ "&nbsp;&nbsp;&nbsp;");
  };

= raw @grid
