= raw @grid

:javascript  
  $(document).ready(function() { 
    $("#invheaders_demo1303").jqGrid('navButtonAdd',"#invheaders_demo1303_pager",{ 
      caption:"Toggle",
      title:"Toggle Search Toolbar", 
      buttonicon :'ui-icon-pin-s',
      onClickButton:function(){
        grid_invheaders_demo1303[0].toggleToolbar()
     } 
    });
    $("#invheaders_demo1303").jqGrid('navButtonAdd',"#invheaders_demo1303_pager",{
      caption:"Clear",
      title:"Clear Search",
      buttonicon :'ui-icon-refresh',
      onClickButton:function(){
        grid_invheaders_demo1303[0].clearToolbar()
      } 
    });
    $("#invheaders_demo1303").jqGrid('filterToolbar');
  }); 
