-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.33v')} - #{t('txt.jqgrid.demo.33tree')}"
.demo
  %h3
    =image_tag("icons/22x22/grid.png", :border => 0)
    =@title
  %center
    %table#accounts_demo1102.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #accounts_demo1102_pager.scroll{ :style => "text-align:center;" }
/ End demo
.demo-description
  %p
    This example shows the tree grid feature of jqGrid. Currently jqGrid supports only a Nested Set Model.
    The Adjacency List Model will be supported soon. All you need is to set treeGrid option to true, and
    to specify which column is expandable. Of course the data from the server should be ajusted in
    appropriate way.
/ End demo-description
