-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.30v')} - #{t('txt.jqgrid.demo.30hide')}"
.demo
  %h3
    =image_tag("icons/22x22/grid.png", :border => 0)
    =@title
  %center
    %table#invheaders_demo0405.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #invheaders_demo0405_pager.scroll{ :style => "text-align:center;" }
    #toolbar.ui-widget-header.ui-corner-all
      %form
        #radio
          %input#hc{ :name => "radio", :type => "radio" }
          %label{ :for => "hc" }
            Hide column Tax
          %input#sc{ :name => "radio", :type => "radio", :checked => "checked" }
          %label{ :for => "sc" }
            Show column Tax
/ End demo
.demo-description
  %p
    This example shows two new methods:
    %ol
      %li
        %code
          hideCol(colname)
        \- hide a column with a given colname and
      %li
        %code
          showCol(colname)
        \ - show a column with a given colname.
      %li
        We can hide a column when the grid is initialized using a new property
        %code
          hidden
        in colModel.
  %p
    Example:
    %code
      {name:'invdate',index:'invdate', width:90, hidden:true}
    will hide a column Date.
/ End demo-description
