- content_for :head_stylesheets do
  = stylesheet_link_tag :jqGrid

- content_for :head_scripts do
  = raw jqgrid_javascripts(I18n.locale)
  = raw @grid

  :javascript
    $("#invheaders_demo1411").jqGrid('gridResize',{minWidth:350,maxWidth:800,minHeight:100, maxHeight:350});

- content_for :license do
  = render :partial =>  "widgets/jqgrid/license"