
  def actions
# for(var i=0;i<ids.length;i++){
#      "<input style='height:22px;width:20px;' type='button' value='E' onclick=\"$('#invheaders_demo0502').jqGrid('editRow','"+cl+"');\"  />";
#      "<input style='height:22px;width:20px;' type='button' value='S' onclick=\"$('#invheaders_demo0502').jqGrid('saveRow','"+cl+"');\"  />";
#      "<input style='height:22px;width:20px;' type='button' value='C' onclick=\"$('#invheaders_demo0502').jqGrid('restoreRow','"+cl+"');\" />";
#    }
#  };
  "aaa"

  end