-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.31v')} - #{t('txt.jqgrid.demo.31new_methods')}"
.demo
  %h3
    =image_tag("icons/22x22/grid.png", :border => 0)
    =@title
  %center
    %table#invheaders_demo0903.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #invheaders_demo0903_pager.scroll{ :style => "text-align:center;" }

    #toolbar.ui-widget-header.ui-corner-all
      %a#sm1{ :href => "#" }
        Get number of record
      %a#sm2{ :href => "#" }
        Set a onSelectRow Method
      %a#sm3{ :href => "#" }
        Reset selected Rows
      << Select some rows and then click me 
  %br
  %b
    Response:
  %span#resp
/ End demo 
.demo-description
  %p    
    This example demonstrates new methods. Try to click on pager buttons.
/ End demo-description
