:javascript
  function handleDemo0302(id, status) { 
    if(id == null) { 
      id = 0; 
    } 
    $("#invlines_demo0302").jqGrid('setGridParam', {url: "/widgets/jqgrid/demo/?model=invline&details_for="+id,page:1})
    $("#invlines_demo0302").trigger('reloadGrid'); 
  };

= raw @grid
= raw @grid_details
