-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.36v')} - #{t('txt.jqgrid.demo.36resizing')}"
.demo
  %h3
    =image_tag("icons/22x22/grid.png", :border => 0)
    =@title
  %center
    %table#invheaders_demo1411.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #invheaders_demo1411_pager.scroll{ :style => "text-align:center;" }

/ End demo 
.demo-description
  %p    
    This is experimental method which resizes the grid.
    This feature uses the jQuery UI resizable widget.
/ End demo-description
