:css
  #toolbar { padding: 0.3em; }
  #toolbar .ui-button{ font-size: 0.8em;

= raw @grid

:javascript
  $(function() {
    $("a", "#toolbar").button();
  });

  $(function() {
    $("#hcg").click( function() {
      $("#invheaders_demo1005").jqGrid('hideCol',["amount","tax"]);
    });
    $("#scg").click( function() {
      $("#invheaders_demo1005").jqGrid('showCol',["amount","tax"]);
    });
  });

