-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.31v')} - #{t('txt.jqgrid.demo.31toolbar')}"
.demo
  %h3
    =image_tag("icons/22x22/grid.png", :border => 0)
    =@title
  %center
    %table#invheaders_demo0901.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #invheaders_demo0901_pager.scroll{ :style => "text-align:center;" }
/ End demo 
.demo-description
  %p    
    This example shows how we can add toolbars at top or bottom of the grid.
/ End demo-description
