-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.40search')} - #{t('txt.jqgrid.demo.40grpsearch2')}"
.demo
  %h3
    =image_tag("icons/22x22/grid.png", :border => 0)
    =@title
  %center
    %table#demo1802.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #demo1802_pager.scroll{ :style => "text-align:center;" }

/ End demo
.demo-description
  %p
    The Query from the search can be shown to the user.
/ End demo-description
