-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.37v')} - #{t('txt.jqgrid.demo.37scroll')}"
.demo
  %h3
    =image_tag("icons/22x22/grid.png", :border => 0)
    =@title
  %center
    %table#items_demo1505.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #items_demo1505_pager.scroll{ :style => "text-align:center;" }

/ End demo 
.demo-description
  %p
    We can enable virtual scrolling through a big set of local data - i.e with scroll option set to 1.
/ End demo-description
