-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.40new')} - #{t('txt.jqgrid.demo.40colspan')}"
.demo
  %h3
    =image_tag("icons/22x22/grid.png", :border => 0)
    =@title
  %center
    %table#invheaders_demo1701.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #invheaders_demo1701_pager.scroll{ :style => "text-align:center;" }

/ End demo
.demo-description
  %p
    Using the new event
    %code
      cellattr
    in colModel we can easy configure data span.
    Note that with cellattribute we can set any valid attribute for the cell including the style.
/ End demo-description
