-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.33v')} - #{t('txt.jqgrid.demo.33dynamic')}"
.demo
  %h3
    =image_tag("icons/22x22/grid.png", :border => 0)
    =@title
  %center
    %table#invheaders_demo1101.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #invheaders_demo1101_pager.scroll{ :style => "text-align:center;" }
    
    #toolbar.ui-widget-header.ui-corner-all
      %input#setwidth{:type => "text"}
      %a#snw Set New Width
      %input#setheight{:type => "text"}
      %a#snh Set New Height"
/ End demo
.demo-description
  %p
    This example shows the new feature
    %code
      forcefit.
    Try to resize a column. We can see that the adjacent column (to the right) resizes so
    that the overall grid width is maintained. Again with this we can set the width and height
    dynamically.
  %p
    Another feature is that we can apply a sort to a certain column instead of clicking on another one.
    Click on date colummn. The sort is not by date, but by client name.
/ End demo-description
