-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.20loading')} - #{t('txt.jqgrid.demo.20json_data')}"
.demo
  %h3
    =image_tag("icons/22x22/grid.png", :border => 0)
    =@title
  %center
    %table#invheaders_demo0102.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #invheaders_demo0102_pager.scroll{ :style => "text-align:center;" }

/ End demo 
.demo-description
  %p    
    This example shows how we can load JSON data from a server. Note that we
    can use multiple indexes in col model to sort data.
/ End demo-description
