-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.36v')} - #{t('txt.jqgrid.demo.36ajax')}"
.demo
  %h3
    =image_tag("icons/22x22/grid.png", :border => 0)
    =@title
  %center
    %table#invheaders_demo1407.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #invheaders_demo1407_pager.scroll{ :style => "text-align:center;" }

/ End demo 
.demo-description
  %p    
    In 3.6 we have done so that the developer can controll full the ajax requests to the server. For this purpose
    we created a 3 level of settings:
    %ol
      %li 
        common ajax settings for all modules that use ajax requests
      %li
        specific ajax settings for every module
      %li
        serialize function which can be used to serialize the data to the server in a way that the developer want
    In this example we set the grid to use a POST to the server and in the serialize function we set the things so
    that only the first page should be returned.
/ End demo-description
