-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.38v')} - #{t('txt.jqgrid.demo.38array2')}"
.demo
  %h3
    =image_tag("icons/22x22/grid.png", :border => 0)
    =@title
  %center
    %table#demo1602.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #demo1602_pager.scroll{ :style => "text-align:center;" }

/ End demo
.demo-description
  %p
    It is possible to tell the grid to hide the grouping column.
  %p
    This is done with the option 
    %code
      groupColumnShow
    in the groupingView object.
  %p
    Note that all groupingView options can be changed dynamically.
/ End demo-description
