- content_for :head_stylesheets do
  = stylesheet_link_tag :jqGrid

- content_for :head_scripts do
  = raw jqgrid_javascripts(I18n.locale)
  :javascript
    function gridComplete() {
      var tm = $("#invheaders_demo1302").jqGrid('getGridParam','totaltime');
      $("#speed_div").html("<b>Render time:</b> "+ tm+" ms ");
    };

  = raw @grid

- content_for :license do
  = render :partial =>  "widgets/jqgrid/license"
