:css
  ul#icons {
    margin: 0;
    padding: 0;
  }
  ul#icons li {
    margin: 2px;
    position: relative;
    padding: 4px 0;
    cursor: pointer;
    float: left;
    list-style: none;
  }
= raw @grid
