- content_for :head_stylesheets do
  = stylesheet_link_tag :jqGrid

- content_for :head_scripts do
  = raw jqgrid_javascripts(I18n.locale)
  :javascript
    function gridComplete() {
      $("#_empty","#invheaders_demo1109").addClass("nodrag nodrop");
      $("#invheaders_demo1109").tableDnDUpdate();
    };

    $(function() {
      $("#invheaders_demo1109").tableDnD({scrollAmount:0});
    });

  = raw @grid

- content_for :license do
  = render :partial =>  "widgets/jqgrid/license"

