- content_for :head_stylesheets do
  = stylesheet_link_tag :jqGrid

- content_for :head_scripts do
  = raw jqgrid_javascripts(I18n.locale)
  :javascript
    function mycheck(value, name) {
      if(parseFloat(value) >= 200 && parseFloat(value)<=300) {
        return [true,"",""];
      } else {
        return [false,name+": The value should be between 200 and 300!",""];
      }
    }

  = raw @grid

- content_for :license do
  = render :partial =>  "widgets/jqgrid/license"