-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.30row')} - #{t('txt.jqgrid.demo.30cedit')}"
.demo
  %h3
    =image_tag("icons/22x22/grid.png", :border => 0)
    =@title
  %center
    %table#invheaders_demo0502.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #invheaders_demo0502_pager.scroll{ :style => "text-align:center;" }

/ End demo 
.demo-description
  %p    
    This example shows how we can add an additional column into the grid to define the three actions for each row.
  %p
    This can be done at server side and at client side. This example shows a client side solution.
  %p
    Added option
    %code
      rowActions
    to gridify with possible values:
    %code
      \:client
    as default and
    %code
      \:server
    for adding client or server side row actions.
  %p
    To do that we use the 
    %code
      getDataIDs, setRowData
    and
    %code
      loadComplete
    methods.
  %p
    %button
      E
    means Edit,
    %button
      S
    means Save and
    %button
      C
    Cancel editing.
/ End demo-description
