:css
  #toolbar { padding: 0.3em; }
  #toolbar .ui-button{ font-size: 0.8em;

= raw @grid

:javascript
  $(function() {
    $("a", "#toolbar").button();
  });

  $(function() {
    $("#shc").click( function() {
      $("#invheaders_demo1001").jqGrid('setLabel',"tax","Tax Amt",{'font-weight': 'bold','font-style': 'italic'});
    });    
    $("#scc").click( function() {
      $("#invheaders_demo1001").jqGrid('setCell',"12","tax","",{'font-weight': 'bold',color: 'red','text-align':'center'});
    });
    $("#cdat").click( function() {
     $("#invheaders_demo1001").jqGrid('clearGridData');
    }); 
  });  
  