:css
  #toolbar { padding: 0.3em; }
  #toolbar .ui-button{ font-size: 0.8em; }
  .demo-description td{ vertical-align: top; }

:javascript
  $(function() {
    $("a", "#toolbar").button();
  });
  
  $(document).ready(function() {
    $("#badata").click( function(){    
      $("#invheaders_demo0803").jqGrid('editGridRow',"new",{height:280,reloadAfterSubmit:false});
    });
  });
  
= raw @grid
