-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.35v')} - #{t('txt.jqgrid.demo.35summary')}"
.demo
  %h3
    =image_tag("icons/22x22/grid.png", :border => 0)
    =@title
  %center
    %table#invheaders_demo1308.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #invheaders_demo1308_pager.scroll{ :style => "text-align:center;" }
/ End demo
.demo-description
  %p
    This example demonstrates the new feature - summary row. Also a good thing is that the data from
    userData array can be direct puted in the summary row just with one option userDataOnFooter - >true.
    Also some new methods available for manipulating this data.
    %code
      getCol
    returns the entry coll as array.
    %code
      FooterData
    method  get or set a data on footer row.
  %p
    %b{ :style => "color: red;" }
      Not implemented yet
/ End demo-description
