-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.32v')} - #{t('txt.jqgrid.demo.32cbutton')}"
.demo
  %h3
    =image_tag("icons/22x22/grid.png", :border => 0)
    =@title
  %center
    %table#invheaders_demo1006.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #invheaders_demo1006_pager.scroll{ :style => "text-align:center;" }

    %br
    %form#order{:style => "width:350px;margin:0px;"}
      %fieldset{:style => "border: 1px solid;" }
        %legend Invoice Data
        %table
          %tbody
            %tr
              %td Invice No:
              %td
                %input#invid{:name => "id", :readonly => "true", :type => "text"}
            %tr
              %td Invoice Date:
              %td
                %input{:name => "invdate", :type => "text"}
            %tr
              %td Client
              %td
                %input{:name => "name", :type => "text"}
            %tr
              %td Amount
              %td
                %input{:name => "amount", :type => "text"}
            %tr
              %td Tax
              %td
                %input{:name => "tax", :type => "text"}
            %tr
              %td Total
              %td
                %input{:name => "total", :type => "text"}
            %tr
              %td Note
              %td
                %input{:name => "note", :type => "text"}
            %tr
              %td &nbsp;
              %td
                %input#savedata{:type => "button", :value => "Save"}
/ End demo
.demo-description
  %p
    With this example we demonstrate 3 new methods
    %ol
      %li
        %code
          navButtonAdd
        with help of this method we can add custom buttons in page bar.
      %li
        %code
          GridToForm
        this method fill the form data from grid with a given row id and form id.
      %li
        %code
          FormToGrid
        this method fill the Grid row with data from a given form id.
  %p
    Select a row. Then click the Edit button. Try to change some values in form and then click the Save
    button. Note: data is not saved to the server.
/ End demo-description
