- content_for :head_stylesheets do
  :css
    #sortable { list-style-type: none; margin: 0; padding: 0; }
    #sortable li { margin: 3px 3px 3px 0; padding: 0.5em; float: left; width: 100px; height: 90px; font-size: 4em; text-align: center; }

- content_for :head_scripts do
  :javascript
    $(function() {
      $("#sortable").sortable();
      $("#sortable").disableSelection();
    });

- content_for :license do
  = render :partial => "ui/license"