-@title = "#{t('txt.ui.name')} #{t('txt.ui.interactions.sortable.default')} - #{t('txt.ui.interactions.sortable.display-grid')}"

- content_for :head_scripts do
  = render :partial => "display_grid.js.haml", :format => :js

.demo
  %h3
    =image_tag("icons/22x22/jquery-ui.png", :border => 0)
    =@title
  %ul#sortable
    %li.ui-state-default
      1
    %li.ui-state-default
      2
    %li.ui-state-default
      3
    %li.ui-state-default
      4
    %li.ui-state-default
      5
    %li.ui-state-default
      6
    %li.ui-state-default
      7
    %li.ui-state-default
      8
    %li.ui-state-default
      9
    %li.ui-state-default
      10
    %li.ui-state-default
      11
    %li.ui-state-default
      12
/ End demo
.demo-description
  %p
    To arrange sortable items as a grid, give them identical dimensions and
    float them using CSS.
/ End demo-description
