-@title = "#{t('txt.ui.name')} #{t('txt.ui.interactions.sortable.default')} - #{t('txt.ui.interactions.sortable.portlets')}"
= render :partial => "portlets.js.haml", :format => :js

.demo
  %h3
    =image_tag("icons/22x22/jquery-ui.png", :border => 0)
    =@title
  .column
    .portlet
      .portlet-header
        Feeds
      .portlet-content
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit
    .portlet
      .portlet-header
        News
      .portlet-content
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit
  .column
    .portlet
      .portlet-header
        Shopping
      .portlet-content
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit
  .column
    .portlet
      .portlet-header
        Links
      .portlet-content
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit
    .portlet
      .portlet-header
        Images
      .portlet-content
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit
/ End demo
.demo-description
  %p
    Enable portlets (styled divs) as sortables and use the
    %code
      connectWith
    option to allow sorting between columns.
/ End demo-description
