:javascript
  var jQT = new $.jQTouch({
    icon: '/images/jquery/touch/jqtouch.png',
    addGlossToIcon: false,
    startupScreen: '/images/jquery/touch/jqt_startup.png',
    statusBar: 'black'
  });

  $(function(){
    jQT.resetHeight();
      
    \// Custom Javascript (onReady)
  });

:css
