-@title = "#{t('txt.ui.name')} #{t('txt.ui.widgets.button.default')} - #{t('txt.ui.widgets.button.checkbox')}"

- content_for :content_head do
  = render(:partial => "checkbox.js.haml", :format => :js)
      
.demo
  %h3
    =@title
  %input#check{ :type => "checkbox" }
    %label{ :for => "check" }
      Toggle
  #format
    %input#check1{ :type => "checkbox" }
    %label{ :for => "check1" }
      B
    %input#check2{ :type => "checkbox" }
    %label{ :for => "check2" }
      I
    %input#check3{ :type => "checkbox" }
    %label{ :for => "check3" }
      U
/End demo

.demo-description
  %p
    TODO
/ End demo-description
