-@title = "#{t('txt.ui.name')} #{t('txt.ui.widgets.button.default')} - #{t('txt.ui.default')}"

- content_for :content_head do
  = render(:partial => "default.js.haml", :format => :js)
     
.demo
  %h3
    =@title
  %button
    A button element
  %input{ :type => "submit", :value => "A submit button" }
  %a{ :href => "#" }
    An anchor
/ End demo

.demo-description
  %p
    Examples of the markup that can be used for buttons: A button element, an input of type submit and an anchor.
/ End demo-description
