-@title = "#{t('txt.ui.name')} #{t('txt.ui.widgets.button.default')} - #{t('txt.ui.widgets.button.splitbutton')}"

- content_for :content_head do
  = render(:partial => "splitbutton.js.haml", :format => :js)
     
.demo
  %h3
    =image_tag("icons/22x22/jquery-ui.png", :border => 0)
    =@title
  %div
    %button#rerun
      Run last action
    %button#select
      Select an action
/ End demo

.demo-description
  %p
    An example of a split button built with two buttons: A plan button with just text,
    one with only a primary icon and no text. Both are grouped together in a set.
/ End demo-description
