-@title = "#{t('txt.ui.name')} #{t('txt.ui.effects.default')} - #{t('txt.ui.effects.animate.default')}"

- content_for :content_head do
  = render(:partial => "index.js.haml", :format => :js)

.demo
  %h3
    =@title
  .toggler
    #effect.ui-widget-content.ui-corner-all
      %h3.ui-widget-header.ui-corner-all
        Animate
      %p
        Etiam libero neque, luctus a, eleifend nec, semper at, lorem. Sed pede. Nulla lorem metus, adipiscing ut, luctus sed, hendrerit vitae, mi.
  %a#button.ui-state-default.ui-corner-all{ :href => "#" }
    Toggle Effect
/ End demo
.demo-description
  %p
    Click the button above to preview the effect.
/ End demo-description
