- content_for :head_stylesheets do
  :css
    .box { margin-top:2em;  font-size: 62.5%; }

- content_for :head_scripts do
  :javascript
    $(function() {
        $('#panel6, #panel7, #panel8').panel({
          'accordion':'my_group'
        });
      }
    );

- content_for :license do
  = render :partial => "ui/license"
