%style{:type => "text/css", :media => "screen"}
  :plain
    .ui-progressbar-value { background-image: url(/images/demo/pbar-ani.gif); }

:javascript
  $(function() {
    $("#progressbar").progressbar({
      value: 59
    });
  });