-@title = "#{t('txt.ui.name')} #{t('txt.ui.widgets.progressbar.default')} - #{t('txt.ui.widgets.progressbar.animated')}"
-@jquery_partial = 'animated.js.haml'
      
.demo
  %h3
    =@title
  #progressbar
/ End demo
.demo-description
  %p
    This progressbar has an animated fill by setting the
    %code
      background-image
    on the
    %code
      \.ui-progressbar-value
    element, using css.
/ End demo-description
