-@title = "#{t('txt.ui.name')} #{t('txt.ui.widgets.progressbar.default')} - #{t('txt.ui.widgets.progressbar.animated')}"

- content_for :content_head do
  = render(:partial => "animated.js.haml", :format => :js)
    
.demo
  %h3
    =@title
  #progressbar
/ End demo
.demo-description
  %p
    This progressbar has an animated fill by setting the
    %code
      background-image
    on the
    %code
      \.ui-progressbar-value
    element, using css.
/ End demo-description
