-@browser_title = "#{t('txt.ui.name')} #{t('txt.ui.widgets.progressbar.default')} - #{t('txt.ui.default')}"
-@jquery_partial = 'index.js.haml'
      
.demo
  %h3
    =@browser_title
  #progressbar
/ End demo
.demo-description
  %p
    Default determinate progress bar.
/ End demo-description
