-@browser_title = 'jQuery UI Progressbar - Default functionality'
-@jquery_partial = 'index.js.haml'

.demo
  #progressbar
/
  End demo
.demo-description
  %p
    Default determinate progress bar.
/
  End demo-description
