-@title = "#{t('txt.ui.name')} #{t('txt.ui.widgets.progressbar.default')} - #{t('txt.ui.widgets.progressbar.resize')}"
-@jquery_partial = 'resize.js.haml'
      
.demo
  %h3
    =@title
  #progressbarWrapper.ui-widget-default{ :style => "height:30px; " }
    #progressbar{ :style => "height:100%;" }
/ End demo
.demo-description
  %p
    The progress bar's widths are specified in percentages for flexible sizing so it will resize to fit its container. Try resizing the height and width of this bar to see how it maintains the correct proportions. (This is not necessarily a real-world example, but it's a good illustration of how flexibly all the plugins are coded.)
/ End demo-description
