-@title = "#{t('txt.tools.name')} - #{t('txt.tools.toolbox.combinations.name')} - #{t('txt.tools.toolbox.combinations.demo02')}"
= render :partial => "demo02.js.haml", :format => :js

.demo
  %h3
    =image_tag("icons/22x22/tools.png", :border => 0)
    =@title

/ End demo

.demo-description 
  #greybox
/ End demo-description
