:javascript  
  $(document).ready(function() {
    $("#DateTimeDemo").AnyTime_picker({
      format: "%Y-%m-%d %H:%i:%s %E %#",
      formatUtcOffset: "%: (%@)",
      hideInput: true,
      placement: "inline"
    });
  });
