-@title =  "#{t('txt.jqical.anytime.name')} - #{t('txt.jqical.anytime.inline')}" 

- content_for :content_head do
  = render(:partial => "inline.js.haml", :format => :js)

.demo
  %h3
    =raw @title
  %div
    %input#DateTimeDemo{:type => "text", :value => "2010-04-20 04:20:10 (CE) +0"}
  

  
  
  