- content_for :head_stylesheets do
  :css
    /* my addition to supply convertible grids based on www.cssgrid.net by Andy Taylor */
    /* ==================================================================================================================== */
    /* ! The 1140px Grid V2 by Andy Taylor \ http://cssgrid.net \ http://www.twitter.com/andytlr \ http://www.andytlr.com   */
    /* ==================================================================================================================== */
    .row, .fixedrow {
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
    }

    .onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol {
        margin-right: 3.8%;
        float: left;
        min-height: 1px;
    }

    .row .onecol, .fixedrow .onecol {
        width: 4.85%;
    }

    .row .twocol, .fixedrow .twocol {
        width: 13.45%;
    }

    .row .threecol, .fixedrow .threecol {
        width: 22.05%;
    }

    .row .fourcol, .fixedrow .fourcol {
        width: 30.75%;
    }

    .row .fivecol, .fixedrow .fivecol {
        width: 39.45%;
    }

    .row .sixcol, .fixedrow .sixcol {
        width: 48%;
    }

    .row .sevencol, .fixedrow .sevencol {
        width: 56.75%;
    }

    .row .eightcol, .fixedrow .eightcol {
        width: 65.4%;
    }

    .row .ninecol, .fixedrow .ninecol {
        width: 74.05%;
    }

    .row .tencol, .fixedrow .tencol {
        width: 82.7%;
    }

    .row .elevencol, .fixedrow .elevencol {
        width: 91.35%;
    }

    .row .twelvecol, .fixedrow .twelvecol {
        width: 100%;
        float: left;
    }

    .last {
        margin-right: 0px;
    }

    img, object, embed {
        max-width: 100%;
    }

    img {
        height: auto;
    }

    /* touchscreens */

    .touch.min-width-768px body {
        font-size: 1em;
        line-height: normal;
    }

    /* Smaller screens */
    .min-width-768px body {
        font-size: 0.9em;
        line-height: normal;
    }

    /* Mobile */

    .max-width-480px body {
        font-size: 1em;
        -webkit-text-size-adjust: none;
    }

    .max-width-480px .row, .max-width-480px body {
        width: 100%;
        min-width: 0;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .max-width-480px .row .onecol, .max-width-480px .row .twocol, .max-width-480px .row .threecol, .max-width-480px .row .fourcol, .max-width-480px .row .fivecol, .max-width-480px .row .sixcol, .max-width-480px .row .sevencol, .max-width-480px .row .eightcol, .max-width-480px .row .ninecol, .max-width-480px .row .tencol, .max-width-480px .row .elevencol, .max-width-480px .row .twelvecol {
        width: auto;
        float: none;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 20px;
        padding-right: 20px;
    }
