-@title = "jQuery Mobile Framework - Photo 1"

- content_for :content_head do
  = render(:partial => "index.js.haml", :format => :js)

.photoview{"data-fullscreen" => "true", "data-role" => "page"}
  %div{"data-role" => "header"}
    %h1 A bridge
    %a.ui-btn-left.jqm-home{"data-direction" => "reverse", "data-icon" => "home", "data-iconpos" => "notext", :href => "/mobile/experiments", :rel => "external"} Home
  / / header
  %div{"data-role" => "content"}
    %img{:alt => "photo-bridge", :src => "/images/demo/mobile/photos/photo-bridge.jpeg"}/
  %div{"data-role" => "footer"}
    %a.next{:href => "/mobile/experiments/photos/photo2"} Next

  