-@title = "jQuery Mobile Framework - Photo 1"

- content_for :content_custom_scripts do
  = render(:partial => "index.js.haml", :format => :js)

.photoview{"data-fullscreen" => "true", "data-role" => "page"}
  #photoview{"data-role" => "header"}
    %h1 A dock
  %div{"data-role" => "content"}
    %img{:alt => "photo-dock", :src => "/images/demo/mobile/photos/photo-dock.jpeg"}/
  .ui-footer.ui-bar-a
    %a.prev{:href => "/mobile/experiments/photos/photo2"} Prev
    %a.next{:href => "/mobile/experiments/photos/photo4"} Next
