-@browser_title = "#{t('txt.ui.name')} #{t('txt.ui.interactions.sortable.default')} - #{t('txt.ui.default')}"
-@jquery_partial = 'default.js.haml'

.demo
  %h3
    =@browser_title
  %ul#sortable
    %li.ui-state-default
      %span.ui-icon.ui-icon-arrowthick-2-n-s
      Item 1
    %li.ui-state-default
      %span.ui-icon.ui-icon-arrowthick-2-n-s
      Item 2
    %li.ui-state-default
      %span.ui-icon.ui-icon-arrowthick-2-n-s
      Item 3
    %li.ui-state-default
      %span.ui-icon.ui-icon-arrowthick-2-n-s
      Item 4
    %li.ui-state-default
      %span.ui-icon.ui-icon-arrowthick-2-n-s
      Item 5
    %li.ui-state-default
      %span.ui-icon.ui-icon-arrowthick-2-n-s
      Item 6
    %li.ui-state-default
      %span.ui-icon.ui-icon-arrowthick-2-n-s
      Item 7
/ End demo
.demo-description
  %p
    Enable a group of DOM elements to be sortable. Click on and drag an
    element to a new spot within the list, and the other items will adjust to
    fit. By default, sortable items share
    %code
      draggable
    properties.
/ End demo-description
