-@title = "#{t('txt.ui.name')} #{t('txt.ui.interactions.sortable.default')} - #{t('txt.ui.interactions.sortable.items')}"
-@jquery_partial = 'items.js.haml'

.demo
  %h3
    =@title
  %h3.docs
    Specify which items are sortable:
  %ul#sortable1
    %li.ui-state-default
      Item 1
    %li.ui-state-default.ui-state-disabled
      (I'm not sortable or a drop target)
    %li.ui-state-default.ui-state-disabled
      (I'm not sortable or a drop target)
    %li.ui-state-default
      Item 4
  %h3.docs
    Cancel sorting (but keep as drop targets):
  %ul#sortable2
    %li.ui-state-default
      Item 1
    %li.ui-state-default.ui-state-disabled
      (I'm not sortable)
    %li.ui-state-default.ui-state-disabled
      (I'm not sortable)
    %li.ui-state-default
      Item 4
/ End demo
.demo-description
  %p
    Specify which items are eligible to sort by passing a jQuery selector into
    the
    %code
      items
    option. Items excluded from this option are not
    sortable, nor are they valid targets for sortable items.
  %p
    To only prevent sorting on certain items, pass a jQuery selector into the
    %code
      cancel
    option. Cancelled items remain valid sort targets for
    others.
/ End demo-description
