<!doctype html>
%html{ :lang => "en" }
  %head
    %title
      jQuery UI Sortable - Include / exclude items
    %link{ :href => "../../themes/base/ui.all.css", :rel => "stylesheet", :type => "text/css" }
    %script{ :type => "text/javascript", :src => "../../js/jquery-1.3.2.js" }
    %script{ :type => "text/javascript", :src => "../../ui/ui.core.js" }
    %script{ :type => "text/javascript", :src => "../../ui/ui.sortable.js" }
    %link{ :href => "../demos.css", :rel => "stylesheet", :type => "text/css" }
    %style{ :type => "text/css" }
      \#sortable1, #sortable2 { list-style-type: none; margin: 0; padding: 0; zoom: 1; }
      \#sortable1 li, #sortable2 li { margin: 0 5px 5px 5px; padding: 3px; width: 90%; }
    %script{ :type => "text/javascript" }
      $(function() {
      $("#sortable1").sortable({
      items: 'li:not(.ui-state-disabled)'
      });
      
      $("#sortable2").sortable({
      cancel: '.ui-state-disabled'
      });
      
      $("#sortable1 li, #sortable2 li").disableSelection();
      });
  %body
    .demo
      %h3.docs
        Specify which items are sortable:
      %ul#sortable1
        %li.ui-state-default
          Item 1
        %li.ui-state-default.ui-state-disabled
          (I'm not sortable or a drop target)
        %li.ui-state-default.ui-state-disabled
          (I'm not sortable or a drop target)
        %li.ui-state-default
          Item 4
      %h3.docs
        Cancel sorting (but keep as drop targets):
      %ul#sortable2
        %li.ui-state-default
          Item 1
        %li.ui-state-default.ui-state-disabled
          (I'm not sortable)
        %li.ui-state-default.ui-state-disabled
          (I'm not sortable)
        %li.ui-state-default
          Item 4
    /
      End demo
    .demo-description
      %p
        Specify which items are eligible to sort by passing a jQuery selector into
        the
        %code
          items
        option. Items excluded from this option are not
        sortable, nor are they valid targets for sortable items.
      %p
        To only prevent sorting on certain items, pass a jQuery selector into the
        %code
          cancel
        option. Cancelled items remain valid sort targets for
        others.
    /
      End demo-description
