-@browser_title = "#{t('txt.ui.name')} #{t('txt.ui.interactions.sortable.default')} - #{t('txt.ui.interactions.sortable.placeholder')}"
-@jquery_partial = 'placeholder.js.haml'

.demo
  %h3
    =@browser_title
  %ul#sortable
    %li.ui-state-default
      Item 1
    %li.ui-state-default
      Item 2
    %li.ui-state-default
      Item 3
    %li.ui-state-default
      Item 4
    %li.ui-state-default
      Item 5
    %li.ui-state-default
      Item 6
    %li.ui-state-default
      Item 7
/ End demo
.demo-description
  %p
    When dragging a sortable item to a new location, other items will make room
    for the that item by shifting to allow white space between them. Pass a
    class into the
    %code
      placeholder
    option to style that space to
    be visible.  Use the boolean
    %code
      forcePlaceholderSize
    option
    to set dimensions on the placeholder.
/ End demo-description
