<!doctype html>
%html{ :lang => "en" }
  %head
    %title
      jQuery UI Sortable - Drop placeholder
    %link{ :href => "../../themes/base/ui.all.css", :rel => "stylesheet", :type => "text/css" }
    %script{ :type => "text/javascript", :src => "../../js/jquery-1.3.2.js" }
    %script{ :type => "text/javascript", :src => "../../ui/ui.core.js" }
    %script{ :type => "text/javascript", :src => "../../ui/ui.sortable.js" }
    %link{ :href => "../demos.css", :rel => "stylesheet", :type => "text/css" }
    %style{ :type => "text/css" }
      \#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
      \#sortable li { margin: 0 5px 5px 5px; padding: 5px; font-size: 1.2em; height: 1.5em; }
      html>body #sortable li { height: 1.5em; line-height: 1.2em; }
      \.ui-state-highlight { height: 1.5em; line-height: 1.2em; }
    %script{ :type => "text/javascript" }
      $(function() {
      $("#sortable").sortable({
      placeholder: 'ui-state-highlight'
      });
      $("#sortable").disableSelection();
      });
  %body
    .demo
      %ul#sortable
        %li.ui-state-default
          Item 1
        %li.ui-state-default
          Item 2
        %li.ui-state-default
          Item 3
        %li.ui-state-default
          Item 4
        %li.ui-state-default
          Item 5
        %li.ui-state-default
          Item 6
        %li.ui-state-default
          Item 7
    /
      End demo
    .demo-description
      %p
        When dragging a sortable item to a new location, other items will make room
        for the that item by shifting to allow white space between them. Pass a
        class into the
        %code
          placeholder
        option to style that space to
        be visible.  Use the boolean
        %code
          forcePlaceholderSize
        option
        to set dimensions on the placeholder.
    /
      End demo-description
