-@browser_title = "#{t('txt.ui.name')} #{t('txt.ui.interactions.sortable.default')} - #{t('txt.ui.interactions.sortable.portlets')}"
-@jquery_partial = 'portlets.js.haml'

.demo
  %h3
    =@browser_title
  .column
    .portlet
      .portlet-header
        Feeds
      .portlet-content
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit
    .portlet
      .portlet-header
        News
      .portlet-content
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit
  .column
    .portlet
      .portlet-header
        Shopping
      .portlet-content
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit
  .column
    .portlet
      .portlet-header
        Links
      .portlet-content
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit
    .portlet
      .portlet-header
        Images
      .portlet-content
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit
/ End demo
.demo-description
  %p
    Enable portlets (styled divs) as sortables and use the
    %code
      connectWith
    option to allow sorting between columns.
/ End demo-description
