-@title = "#{t('txt.ui.name')} #{t('txt.ui.widgets.autocomplete.default')} - #{t('txt.ui.widgets.autocomplete.categories')}"
= render :partial => "categories.js.haml", :format => :js
     
.demo
  %h3
    =image_tag("icons/22x22/jquery-ui.png", :border => 0)
    =@title
  %label{:for => "search"} Search:
  %input#search/
/ End demo
.demo-description
  %p
    A categorized search result. Try typing "a" or "n".
/ End demo-description
