-@title = "#{t('txt.ui.name')} #{t('txt.ui.widgets.autocomplete.default')} - #{t('txt.ui.widgets.autocomplete.combobox')}"
= render :partial => "combobox.js.haml", :format => :js
      
.demo
  %h3
    =image_tag("icons/22x22/jquery-ui.png", :border => 0)
    =@title
  .ui-widget
    %label Your preferred programming language:
    %select#combobox
      %option{:value => ""} Select one...
      %option{:value => "ActionScript"} ActionScript
      %option{:value => "AppleScript"} AppleScript
      %option{:value => "Asp"} Asp
      %option{:value => "BASIC"} BASIC
      %option{:value => "C"} C
      %option{:value => "C++"} C++
      %option{:value => "Clojure"} Clojure
      %option{:value => "COBOL"} COBOL
      %option{:value => "ColdFusion"} ColdFusion
      %option{:value => "Erlang"} Erlang
      %option{:value => "Fortran"} Fortran
      %option{:value => "Groovy"} Groovy
      %option{:value => "Haskell"} Haskell
      %option{:value => "Java"} Java
      %option{:value => "JavaScript"} JavaScript
      %option{:value => "Lisp"} Lisp
      %option{:value => "Perl"} Perl
      %option{:value => "PHP"} PHP
      %option{:value => "Python"} Python
      %option{:value => "Ruby"} Ruby
      %option{:value => "Scala"} Scala
      %option{:value => "Scheme"} Scheme
  %br
  %a#toggle{ :href => "#" } Show underlying select
/ End demo
.demo-description
  %p
    A custom widget built by composition of Autocomplete and Button.
    You can either type something into the field to get filtered suggestions based on your input,
    or use the button to get the full list of selections.
  %p
    The input is read from an existing select-element for progressive enhancement, passed to
    Autocomplete with a customized source-option.
/ End demo-description
