-@title = "#{t('txt.ui.name')} #{t('txt.ui.widgets.autocomplete.default')} - #{t('txt.ui.widgets.autocomplete.custom-data')}"

- content_for :content_head do
  = render :partial => "custom_data.js.haml", :format => :js
      
.demo
  %h3
    =image_tag("icons/22x22/jquery-ui.png", :border => 0)
    =@title
  %label#project-label{ :for => "tags" }
    Select a project (type "j" for a start):
  %img#project-icon.ui-state-default{ :src => "/images/demo/transparent_1x1.png" }
    %input#project
      %input#project-id{ :type => "hidden" }
        %p#project-description
/ End demo

.demo-description
  %p
    You can use your own custom data formats and displays by simply overriding
    the default focus and select actions.
  %p
    Try typing "j" to get a list of projects or just press the down arrow.
/ End demo-description
