-@title = "#{t('txt.ui.name')} #{t('txt.ui.widgets.autocomplete.default')} - #{t('txt.ui.widgets.autocomplete.remote')}"
= render :partial => "remote.js.haml", :format => :js
      
.demo
  %h3
    =image_tag("icons/22x22/jquery-ui.png", :border => 0)
    =@title
  .ui-widget
    %label{ :for => "birds" }
      Birds:
    %input#birds
  .ui-widget{ :style => "margin-top:2em; font-family:Arial" }
    Result:
    #log.ui-widget-content{ :style => "height: 200px; width: 300px; overflow: auto;" }
/ End demo

.demo-description
  %p
    The Autocomplete widgets provides suggestions while you type into the field.
    Here the suggestions are bird names, displayed when at least two characters are entered into the field.
  %p
    The datasource is a server-side script which returns JSON data, specified via a simple URL
    for the source-option. In addition, the minLength-option is set to 2 to avoid queries that
    would return too many results and the select-event is used to display some feedback.
/ End demo-description
