%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title jQuery History Plugin Samples
  %body
    %h1 jQuery History Plugin Samples
    %ul
      %li
        %a{:href => "ajax/"} AJAX
      %li
        %a{:href => "debugger/"} Debugger
      %li
        %a{:href => "mvc/"} Model-View-Controller (Nested AJAX Tabs)
