-@title = "jQuery Mobile Framework - Media helpers"
= render :partial => "index.js.haml", :format => :js

.type-interior{"data-role" => "page"}
  %div{"data-role" => "header", "data-theme" => "f"}
    %h1 CSS3 Media Queries
    %a.ui-btn-left{"data-direction" => "reverse", "data-icon" => "home", "data-iconpos" => "notext", :href => "/mobile/experiments/main", :rel => "external"} Home
  / /header
  %div{"data-role" => "content"}
    .content-primary
      #screenInfo{"data-collapsed" => "true", "data-role" => "collapsible", "data-theme" => "b"}
        %h1 Screen Info
        .ui-body-b
          Total Screen
          %br
          Width:
          = succeed "," do
            %b
              %span#width &nbsp;
          Height:
          %b
            %span#height
          %br
          %br
          Available Screen
          %br
          Width:
          = succeed "," do
            %b
              %span#aWidth &nbsp;
          Height:
          %b
            %span#aHeight
          %br
          %br
          Color Depth:
          = succeed "," do
            %b
              %span#colorDepth &nbsp;
          Pixel Depth:
          %b
            %span#pixelDepth
      %ul#widthList{"data-inset" => "true", "data-role" => "listview"}
        %li.title{"data-role" => "list-divider"}
          Active Widths:
          %em
            These change depending on window size
        %li.min320 min-width-320px
        %li.max320 max-width-320px
        %li.min360 min-width-360px
        %li.max360 max-width-360px
        %li.min480 min-width-480px
        %li.max480 max-width-480px
        %li.min600 min-width-600px
        %li.max600 max-width-600px
        %li.min640 min-width-640px
        %li.max640 max-width-640px
        %li.min768 min-width-768px
        %li.max768 max-width-768px
        %li.min800 min-width-800px
        %li.max800 max-width-800px
        %li.min960 min-width-960px
        %li.max960 max-width-960px
        %li.min1024 min-width-1024px
        %li.max1024 max-width-1024px
        %li.min1200 min-width-1200px
        %li.max1200 max-width-1200px
        %li.min1280 min-width-1280px
        %li.max1280 max-width-1280px
      %ul#orientList{"data-inset" => "true", "data-role" => "listview"}
        %li.title{"data-role" => "list-divider"}
          Orientation
          %em
            This changes depending on window orientation
        %li.port Portrait
        %li.land Landscape
      %p
        The original example from
        %a{:href => "https://github.com/scottjehl/jQuery-Media-Helpers/blob/master/sample.html"} Scott Jehl
        ported to CSS3 media queries.
    .content-secondary
      .ui-body-b
        %div{"data-collapsed" => "true", "data-role" => "collapsible", "data-theme" => "b"}
          %h3 More HTML5 and CSS3 Experiments in this section
          %ul{"data-dividertheme" => "d", "data-role" => "listview", "data-theme" => "c"}
            %li{"data-role" => "list-divider"} HTML5 and CSS3 Experiments
            %li
              %a{:href => "/mobile/experiments/converter", :rel => "external"}
                %img.ui-li-icon{:alt => "HTML5", :src => "/images/icons/16x16/html5.png"}
                  HTML5 - Offline Converter Application
            %li
              %a{:href => "/mobile/experiments/list_items", :rel => "external"}
                %img.ui-li-icon{:alt => "HTML5", :src => "/images/icons/16x16/working.png"}
                  HTML5 - Offline Shopping List (based on Railscast 248)
            %li
              %a{:href => "/mobile/experiments/dst_test", :rel => "external"}
                %img.ui-li-icon{:alt => "HTML5", :src => "/images/icons/16x16/html5.png"}
                  HTML5 - jQuery DST Plugin
            %li{"data-theme" => "a"}
              %a{:href => "/mobile/experiments/media_queries", :rel => "external"}
                %img.ui-li-icon{:alt => "Tablet", :src => "/images/icons/16x16/css3.png"}
                  CSS3 - Using Media Queries
  / /content
/ /page
