-@browser_title = "jQuery UI #{t('txt.ui.effects.default')} - #{t('txt.ui.effects.add_class.default')}"
-@jquery_partial = 'index.js.haml'
      
.demo
  %h3
    =@browser_title
  .toggler
    #effect.ui-corner-all
      Etiam libero neque, luctus a, eleifend nec, semper at, lorem. Sed pede.
  %a#button.ui-state-default.ui-corner-all{ :href => "#" }
    Run Effect
/  End demo
.demo-description
  %p
    This demo adds a class which animates: text-indent, letter-spacing, width, height, padding, margin, and font-size.
/  End demo-description
