<div class="ui-parent" style="<%= parent %>">
  <div class="ui-dialog ui-widget ui-widget-content ui-corner-all" style="<%= style %>">
    <div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix">
      <span> <%= title %></span>
    </div>
    <div class="ui-dialog-content ui-widget-content">