- content_for :head_stylesheets do
  = render :partial => "/mobile/experiments/jquery.scrollview.css.haml"
  = render :partial => "/mobile/docs/docs.html.haml"
  :css
    .ui-content.ui-scrollview-clip {
      padding: 0;
    }
    .ui-content.ui-scrollview-clip > div.ui-scrollview-view {
      margin: 0;
      padding: 15px;
    }
    .ui-content.ui-scrollview-clip > .ui-listview.ui-scrollview-view {
      margin: 0;
    }
    .square {
      width: 98px;
      height: 98px;
      border: solid 1px #333;
      text-align: center;
      line-height: 100px;
      font-size: 60px;
    }

    .ui-scrollview-clip .ui-scrollview-clip .square {
      background-color: #3CF;
    }

    .ui-scrollview-clip .ui-scrollview-clip .ui-scrollview-clip .square {
      background-color: #F39;
    }

    .ui-scrollview-clip .ui-scrollview-clip .ui-scrollview-clip .ui-scrollview-clip .square {
      background-color: #0F6;
    }

    .ui-scrollview-clip .ui-scrollview-clip .ui-scrollview-clip .ui-scrollview-clip .ui-scrollview-clip .square {
      background-color: #FF6;
    }

    .threeByThree {
      border: solid 1px black;
      background-color: #999;
      overflow: hidden;
      width: 300px;
      height: 300px;
    }

    .threeByThree > .ui-scrollview-view {
      width: 1300px;
      background-color: white;
    }

    .threeByThree .square {
      float: left;
    }

= render :partial => "/mobile/experiments/jquery.scrollview.js.haml", :format => :js
= render :partial => "scrollview.js.haml", :format => :js