- content_for :head_stylesheets do
  :css
    .ui-content.ui-scrollview-clip {
      padding: 0;
    }
    .ui-content.ui-scrollview-clip > div.ui-scrollview-view {
      margin: 0;
      padding: 15px;
    }
    .ui-content.ui-scrollview-clip > .ui-listview.ui-scrollview-view {
      margin: 0;
    }
