- content_for :head_scripts_before_jquery do
  :css
    .ui-content.ui-scrollview-clip {
      padding: 0;
    }
    .ui-content.ui-scrollview-clip > div.ui-scrollview-view {
      margin: 0;
      padding: 15px;
    }
    .ui-content.ui-scrollview-clip > .ui-listview.ui-scrollview-view {
      margin: 0;
    }

    .ui-scrollview-clip {
      background-color: #999;
    }

    .ui-scrollview-view {
      background-color: white;
    }

    .square {
      width: 200px;
      height: 200px;
      text-align: center;
      line-height: 200px;
      font-size: 160px;
    }

    .ui-scrollview-clip .ui-scrollview-clip .square {
      background-color: #3CF;
    }

    .ui-scrollview-clip .ui-scrollview-clip .ui-scrollview-clip .square {
      background-color: #F39;
    }

    .ui-scrollview-clip .ui-scrollview-clip .ui-scrollview-clip .ui-scrollview-clip .square {
      background-color: #0F6;
    }

    .ui-scrollview-clip .ui-scrollview-clip .ui-scrollview-clip .ui-scrollview-clip .ui-scrollview-clip .square {
      background-color: #FF6;
    }

    .single-block-view-h, .single-block-view-v {
      width: 200px;
      height: 200px;
    }
    .double-block-view-h {
      border: solid 1px black;
      width: 400px;
      height: 200px;
    }

    .double-block-view-v {
      border: solid 1px black;
      width: 200px;
      height: 400px;
    }

    .single-block-view-h > .view, .double-block-view-h > .view {
      width: 1400px;
      height: 200px;
    }

    .single-block-view-h > .view > .square, .double-block-view-h > .view > .square {
      float: left;
    }

    .single-block-view-v > .view, .double-block-view-v > .view {
      width: 200px;
      height: 1400px;
    }