-@title = "jQuery Mobile: Scrollview Demos and Tests"

= render :partial => "/mobile/index.js.haml", :format => :js

#jqm{"data-role" => "page"}
  %div{"data-backbtn" => "false", "data-role" => "header", "data-theme" => "b"}
    %h1 jQuery Scroll View Plugin
    %a.ui-btn-left{"data-direction" => "reverse", "data-icon" => "home", "data-iconpos" => "notext", :href => "/mobile/experiments/main", :rel => "external"} Home
  / / header
  %div{"data-role" => "content"}
    %p
      A few examples tweaked to make use of the scrollview component.
    %ul{"data-dividertheme" => "b", "data-inset" => "true", "data-role" => "listview", "data-theme" => "c"}
      %li{"data-role" => "list-divider"} Tests
      %li
        %a{:href => "/mobile/experiments/scrollview/direction", :rel => "external"} Scroll Direction
      %li
        %a{:href => "/mobile/experiments/scrollview/nested", :rel => "external"} Nested Scroll Views
      %li
        %a{:href => "/mobile/experiments/scrollview/sv_test_01", :rel => "external"} Form Elements Event Test
      %li
        %a{:href => "/mobile/experiments/scrollview/sv_test_02", :rel => "external"} Form Elements in Scrollview Event Test
  / / content
/ / page

