-@title = "jQuery Mobile: Scrollview Demos and Tests"

- content_for :content_custom_scripts do
  = render(:partial => "/mobile/index.js.haml", :format => :js)
  
#jqm-home{"data-role" => "page", "data-theme" => "b"}
  #jqm-homeheader
    %h1#jqm-logo
      %img{:alt => "jQuery Mobile Framework", :height => "61", :src => "/images/demo/mobile/jquery-logo.png", :width => "235"}
    %p A few examples tweaked to make use of the scrollview component.
    %p#jqm-version Alpha Release
  %div{"data-role" => "content"}
    %ul{"data-dividertheme" => "b", "data-inset" => "true", "data-role" => "listview", "data-theme" => "c"}
      %li{"data-role" => "list-divider"} Tests
      %li
        %a{:href => "/mobile/experiments/scrollview/direction", :rel => "external"} Scroll Direction
      %li
        %a{:href => "/mobile/experiments/scrollview/nested", :rel => "external"} Nested Scroll Views
      %li
        %a{:href => "/mobile/experiments/scrollview/sv_test_01", :rel => "external"} Form Elements Event Test
      %li
        %a{:href => "/mobile/experiments/scrollview/sv_test_02", :rel => "external"} Form Elements in Scrollview Event Test

