-@title = "#{t('txt.tools.name')} - #{t('txt.tools.ui.tooltips.name')} - #{t('txt.tools.ui.tooltips.demo03')}"

- content_for :content_head do
  = render(:partial => "demo03.js.haml", :format => :js)

.demo
  %h3
    =image_tag("icons/22x22/tools.png", :border => 0)
    =@title
  %p
    The first two images show the browser's default tooltip and the last two show the jQuery Tools
    tooltip. We are trying to mimic the standard browser behaviour.
    
  #triggers
    %img{:src => "/images/demo/tools/img/1.jpg", :title => "This is browser's default tooltip." }
    %img{:src => "/images/demo/tools/img/2.jpg", :title => "Another default tooltip. It comes with a slight delay." }
    %img{:src => "/images/demo/tools/img/3.jpg", :title => "This is jQuery.Tools tooltip. Look/feel is almost similar."}
    %img{:src => "/images/demo/tools/img/4.jpg", :title => "You can customize every aspect of this tip"}
/End demo
.demo-description
  #greybox
/ End demo-description
