!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %title jQuery Mobile Docs - Content formatting
    %link{:href => "../../themes/default/", :rel => "stylesheet"}/
    %link{:href => "../_assets/css/jqm-docs.css", :rel => "stylesheet"}/
    %script{:src => "../../js/jquery.js", :type => "text/javascript"}
    %script{:src => "../../js/", :type => "text/javascript"}
    %script{:src => "../docs/docs.js", :type => "text/javascript"}
  %body
    %div{"data-role" => "page"}
      %div{"data-role" => "header", "data-theme" => "b"}
        %h1 HTML Formatting
        %a.ui-btn-right.jqm-home{"data-direction" => "reverse", "data-icon" => "home", "data-iconpos" => "notext", :href => "../../"} Home
      / /header
      %div{"data-role" => "content"}
        :css
          table { width:100%; }
          table caption { text-align:left;  }
          table thead th { text-align:left; border-bottom-width:1px; border-top-width:1px; }
          table th, td { text-align:left; padding:6px;} 
		        %p
          The default approach to styling content in jQuery Mobile is simple: Use a light hand.  Our goal is to let the browser's native rendering take precedence; we add a bit of padding for more comfortable readability, and use the
          %a{:href => "../api/themes.html"} theming system
          to apply the font family and colors.
        %p Taking a light hand with content styling gives designers and developers a clean slate to work with, instead of fighting against a lot of complex style overhead.
        %h2 Default HTML markup styling
        %p By default, jQuery Mobile themes use standard HTML styles and sizes for standard markup elements like headers, paragraph content, block quotes, anchor links, standard ordered, unordered and definition lists, and tables &mdash; as shown in the examples below:
        %hr
          %h1 H1 Heading
          %h2 H2 Heading
          %h3 H3 Heading
          %h4 H4 Heading
          %h5 H5 Heading
          %h6 H1 Heading
          %p
            This is a paragraph that contains
            = succeed "," do
              %strong strong
            %em emphasized
            and
            %a{:href => "index.html"} linked
            text. Here is more text so you can see how HTML markup works in content. Here is more text so you can see how HTML markup works in content.
          %blockquote
            How about some blockquote action with a
            %cite cite
          %p This is another paragraph of text so you can see how HTML markup works in content. This is another paragraph of text so you can see how HTML markup works in content. This is another paragraph of text so you can see how HTML markup works in content.
          %p
            We add a few styles to
            %code tables
            and
            %code fieldsets
            to make them more legible, which are easily overridden with customs styles.
          %ul
            %li Unordered list item 1
            %li Unordered list item 1
            %li Unordered list item 1
          %ul
            %li Ordered list item 1
            %li Ordered list item 1
            %li Ordered list item 1
          %dl{:title => "Definition list"}
            %dt Definition term
            %dd I'm the definition text
            %dt Definition term
            %dd I'm the definition text
          %table{:summary => "This table lists all the JetBlue flights."}
            %caption Travel Itinerary
            %thead
              %tr
                %th{:scope => "col"} Flight:
                %th{:scope => "col"} From:
                %th{:scope => "col"} To:
            %tfoot
              %tr
                %td{:colspan => "5"} Total: 3 flights
            %tbody
              %tr
                %th{:scope => "row"} JetBlue 983
                %td Boston (BOS)
                %td New York (JFK)
              %tr
                %th{:scope => "row"} JetBlue 354
                %td San Francisco (SFO)
                %td Los Angeles (LAX)
              %tr
                %th{:scope => "row"} JetBlue 465
                %td New York (JFK)
                %td Portland (PDX)
      / /content
    / /page
