-@title = "jQuery Mobile Docs - Collapsible Content"
= render :partial => "/mobile/index.js.haml", :format => :js

.type-interior{"data-role" => "page"}
  %div{"data-role" => "header", "data-theme" => "f"}
    %h1 Collapsible sets (Accordions)
    %a.ui-btn-right.jqm-home{"data-direction" => "reverse", "data-icon" => "home", "data-iconpos" => "notext", :href => "/mobile"} Home
  / /header
  %div{"data-role" => "content"}
    .content-primary
      %h2 Collapsible set markup
      %p
        Collapsible sets start with the exact same markup as
        = succeed "." do
          %a{:href => "/mobile/docs/content/content_collapsible"} individual collapsibles
        By adding a parent wrapper with a
        %code data-role="collapsible-set"
        attribute around a number of collapsibles, the framework will style these to looks like a visually grouped widget and make it behave like an accordion so only one section can be open at a time.
      %p
        By default, all the sections will be collapsed. To set a section to be open when the page loads, add the
        %code data-collapsed="false"
        attribute to the heading of the section you want expanded.
      %pre
        %code
          %strong &lt;div data-role="collapsible-set"&gt;
          \&lt;div data-role=&quot;collapsible&quot;
          = succeed "&amp;gt;" do
            %strong data-collapsed=&quot;false&quot;
          \&lt;h3&gt;Section 1&lt;/h3&gt;
          \&lt;p&gt;I&#x27;m the collapsible set content for section B.&lt;/p&gt;
          \&lt;/div&gt;

          \&lt;div data-role=&quot;collapsible&quot;&gt;
          \&lt;h3&gt;Section 2&lt;/h3&gt;
          \&lt;p&gt;I&#x27;m the collapsible set content for section B.&lt;/p&gt;
          \&lt;/div&gt;
          %strong &lt;/div&gt;
      %p Here is an example of a collapsible set with 5 sections.
      %div{"data-role" => "collapsible-set"}
        %div{"data-collapsed" => "false", "data-role" => "collapsible"}
          %h3 Section 1
          %p
            I'm the collapsible content in a set so this feels like an accordion. I'm open by default because I have the
            %code data-collapsed="false"
            attribute.
        %div{"data-role" => "collapsible"}
          %h3 Section 2
          %p I'm the collapsible content in a set so this feels like an accordion. I'm hidden by default because I have the "collapsed" state; you need to expand the header to see me.
        %div{"data-role" => "collapsible"}
          %h3 Section 3
          %p I'm the collapsible content in a set so this feels like an accordion. I'm hidden by default because I have the "collapsed" state; you need to expand the header to see me.
        %div{"data-role" => "collapsible"}
          %h3 Section 4
          %p I'm the collapsible content in a set so this feels like an accordion. I'm hidden by default because I have the "collapsed" state; you need to expand the header to see me.
        %div{"data-role" => "collapsible"}
          %h3 Section 5
          %p I'm the collapsible content in a set so this feels like an accordion. I'm hidden by default because I have the "collapsed" state; you need to expand the header to see me.
      %h2 Theming collapsible content
      %p
        The standard
        %code data-theme
        attribute can be used to set the color of each collapsible in a set. To provide a clearer visual grouping of the content with the headers, add the
        %code data-content-theme
        attribute with a swatch letter. This adds a themed background color and border to the content block. For consistent theming, add these attributes to the parent collapsible set.
      %pre
        %code
          \&lt;div data-role=&quot;collapsible-set&quot;
          = succeed "&amp;gt;" do
            %strong data-theme=&quot;c&quot; data-content-theme=&quot;d&quot;
      %div{"data-content-theme" => "d", "data-role" => "collapsible-set", "data-theme" => "c"}
        %div{"data-role" => "collapsible"}
          %h3 Section 1
          %p Collapsible content
        %div{"data-role" => "collapsible"}
          %h3 Section 2
          %p Collapsible content
        %div{"data-role" => "collapsible"}
          %h3 Section 3
          %p Collapsible content
      %h2 Theming individual sections
      %p
        To have individual sections in a group styled differently, add
        %code data-theme
        and
        %code data-content-theme
        attributes to specific collapsibles.
      %div{"data-content-theme" => "c", "data-role" => "collapsible-set"}
        %div{"data-content-theme" => "b", "data-role" => "collapsible", "data-theme" => "b"}
          %h3 Section header, swatch B
          %p Collapsible content, swatch B
        %div{"data-content-theme" => "a", "data-role" => "collapsible", "data-theme" => "a"}
          %h3 Section header, swatch A
          %p Collapsible content, swatch A
        %div{"data-content-theme" => "d", "data-role" => "collapsible", "data-theme" => "e"}
          %h3 Section header, swatch E
          %p Collapsible content, swatch D
    / /content-primary
    .content-secondary
      .ui-body-b
        %div{"data-collapsed" => "true", "data-role" => "collapsible", "data-theme" => "b"}
          %h3 More in this section
          %ul{"data-dividertheme" => "d", "data-role" => "listview", "data-theme" => "c"}
            %li{"data-role" => "list-divider"} Content Formatting
            %li
              %a{:href => "/mobile/docs/content/content_html"} Basic HTML styles
            %li
              %a{:href => "/mobile/docs/content/content_grids"} Layout grids (columns)
            %li
              %a{:href => "/mobile/docs/content/content_collapsible"} Collapsible content blocks
            %li{"data-theme" => "a"}
              %a{:href => "/mobile/docs/content/content_collapsible_set"} Collapsible sets (accordions)
            %li
              %a{:href => "/mobile/docs/content/content_themes"} Theming content
  / /content
  .footer-docs{"data-role" => "footer", "data-theme" => "c"}
    %p &copy; 2011 The jQuery Project
/ /page
