-@title = "jQuery Mobile Docs - Content formatting"

- content_for :content_head do
  = render(:partial => "/mobile/index.js.haml", :format => :js)

%div{"data-role" => "page"}
  %div{"data-role" => "header", "data-theme" => "b"}
    %h1 Content formatting
    %a.ui-btn-right.jqm-home{"data-direction" => "reverse", "data-icon" => "home", "data-iconpos" => "notext", :href => "/mobile"} Home
  / /header
  %div{"data-role" => "content"}
    %p The content of pages in jQuery Mobile is completely open-ended, but the jQuery Mobile framework provides a number of helpful tools and widgets &mdash; such as collapsible panels and multiple-column grid layouts &mdash; to make it easy to format your content for mobile devices.
    %ul{"data-inset" => "true", "data-role" => "listview"}
      %li
        %a{:href => "/mobile/docs/content/content_html"} Basic HTML styles
      %li
        %a{:href => "/mobile/docs/content/content_grids"} Layout grids (columns)
      %li
        %a{:href => "/mobile/docs/content/content_collapsible"} Collapsible content blocks
      %li
        %a{:href => "/mobile/docs/content/content_themes"} Theming content
      / <li><a href="api_content.html">API documentation</a></li>
  / /ui-body wrapper
/ /page
