= render(:partial => "dual_column.js.haml", :format => :js)
= render(:partial => "/mobile/experiments/scrollview/scrollview1.js.haml", :format => :js)
= render(:partial => "/mobile/experiments/scrollview/scrollview2.js.haml", :format => :js)