- content_for :head_stylesheets do
  %link{:href => "/images/demo/mobile/jquery-mobile-icon.png", :rel => "apple-touch-icon"}

= render :partial => "/mobile/mobile_init.js.haml", :format => :js
= render :partial => "dual_column.js.haml", :format => :js
= render :partial => "/mobile/experiments/jquery.mobile.scrollview.css.haml"
= render :partial => "/mobile/experiments/jquery.mobile.scrollview.js.haml", :format => :js