%link{:href => "/images/demo/mobile/jquery-mobile-icon.png", :rel => "apple-touch-icon"}


= render :partial => "/mobile/mobile_init.js.haml", :format => :js
- content_for :head_scripts_after_mobile do

  = render :partial => "dual_column.js.haml", :format => :js
  = render :partial => "/mobile/experiments/scrollview.css.js.haml", :format => :js
  = render :partial => "/mobile/experiments/scrollview.js.haml", :format => :js