-@title = "jQuery Mobile Framework - Page orientation"

- content_for :content_custom_scripts do
  = render(:partial => "index.js.haml", :format => :js)

%div{"data-role" => "page"}
  %div{"data-nobackbtn" => "true", "data-role" => "header"}
    %span.ui-li-count 1.0a4.1
    %h1 Two columns at jQuery Mobile resources
    %a.ui-btn-left{"data-direction" => "reverse", "data-icon" => "home", "data-iconpos" => "notext", :href => "/mobile/experiments/main", :rel => "external"} Home
  / /header
  %div{"data-outer" => "true", "data-role" => "menu", "data-width" => "35%"}
    .ui-scrolllistview{"data-role" => "content"}
      %ul{"data-role" => "listview"}
        %li{"data-role" => "list-divider"}
          Test cases
        %li
          %a{:href => "/mobile/docs/about/intro"}
            %img.ui-li-icon{:alt => "France", :src => "/images/icons/16x16/jqmobile.png"}
            Intro to jQuery Mobile
        %li
          %a{:href => "/mobile/docs/forms/forms_all"}
            %img.ui-li-icon{:alt => "France", :src => "/images/icons/16x16/jqmobile.png"}
            Test page
        %li
          %a{:href => "#about"}
            %img.ui-li-icon{:alt => "France", :src => "/images/icons/16x16/jqmobile.png"}
            About
        %li
          %a{:href => "#about"}
            %img.ui-li-icon{:alt => "France", :src => "/images/icons/16x16/jqmobile.png"}
            About
        %li
          %a{:href => "#about"}
            %img.ui-li-icon{:alt => "France", :src => "/images/icons/16x16/jqmobile.png"}
            About
        %li
          %a{:href => "#about"}
            %img.ui-li-icon{:alt => "France", :src => "/images/icons/16x16/jqmobile.png"}
            About
        %li
          %a{:href => "#about"}
            %img.ui-li-icon{:alt => "France", :src => "/images/icons/16x16/jqmobile.png"}
            About
        %li
          %a{:href => "#about"}
            %img.ui-li-icon{:alt => "France", :src => "/images/icons/16x16/jqmobile.png"}
            About
        %li
          %a{:href => "#about"}
            %img.ui-li-icon{:alt => "France", :src => "/images/icons/16x16/jqmobile.png"}
            About
        %li
          %a{:href => "#about"}
            %img.ui-li-icon{:alt => "France", :src => "/images/icons/16x16/jqmobile.png"}
            About
        %li
          %a{:href => "#about"}
            %img.ui-li-icon{:alt => "France", :src => "/images/icons/16x16/jqmobile.png"}
            About
        %li
          %a{:href => "#about"}
            %img.ui-li-icon{:alt => "France", :src => "/images/icons/16x16/jqmobile.png"}
            About
        %li
          %a{:href => "#about"}
            %img.ui-li-icon{:alt => "France", :src => "/images/icons/16x16/jqmobile.png"}
            About
        %li
          %a{:href => "#about"}
            %img.ui-li-icon{:alt => "France", :src => "/images/icons/16x16/jqmobile.png"}
            About
        %li
          %a{:href => "#about"}
            %img.ui-li-icon{:alt => "France", :src => "/images/icons/16x16/jqmobile.png"}
            About
        %li
          %a{:href => "#about"}
            %img.ui-li-icon{:alt => "France", :src => "/images/icons/16x16/jqmobile.png"}
            About
        %li
          %a{:href => "#about"}
            %img.ui-li-icon{:alt => "France", :src => "/images/icons/16x16/jqmobile.png"}
            Last about
  / /menu
  %div{"data-role" => "content"}
    Hello World(s)
  / /content
  %div{"data-role" => "footer"}
    %a{:href => "#about"} about
    %a{:href => "contribute.html"} Contribution welcome!
  / /footer
#about{"data-role" => "page"}
  %div{"data-role" => "header"}
    %h1 Contribution is welcome!
  / /header
  %div{"data-role" => "content"}
    %p
      What you found here is a set of simple dictionaries that aim at covering:
      %ul
        %li all markup-driven configuration
        %li all public methods
        %li avaliable CSS classes
      All content was fetched automatically from library files and jquerymobile.com (both docs and source HTML) and is avaliable as this simple dictionary so that you don't have to look for it all through the docs. I am still working on it.
    %p
      Hey, if you want to contribute to this dictionary or add items to FAQ you can
      %strong e-mail me
      \- I'm naugtur and I use gmail [take that, spambots! ;)]
    %p
      The dictionary is missing
      = succeed "s." do
        %code info
      Everybody can add them to the files on github.
      Here is a repo with the files:
      %br/
      %a{:href => "https://github.com/naugtur/jQuery-Mobile-dictionary"} https://github.com/naugtur/jQuery-Mobile-dictionary
    %p
      I will update the site with files from repo after every major commit. Every work will be appreciated. Now go and add just a single info! :)
  / /content
