- content_for :head_stylesheets do
  :css
    #draggable, #draggable2, #draggable3 { width: 100px; height: 100px; padding: 0.5em; float: left; margin: 0 10px 10px 0; }

- content_for :head_scripts do
  :javascript
    $(function() {
      $("#draggable").draggable({ scroll: true });
      $("#draggable2").draggable({ scroll: true, scrollSensitivity: 100 });
      $("#draggable3").draggable({ scroll: true, scrollSpeed: 100 });
    });

- content_for :license do
  = render :partial => "ui/license"

