-@title = "#{t('txt.ui.name')} #{t('txt.ui.interactions.draggable.default')} - #{t('txt.ui.default')}"

- content_for :head_scripts do
  = render :partial => "default.js.haml", :format => :js

.demo
  %h3
    =image_tag("icons/22x22/jquery-ui.png", :border => 0)
    =@title
  #draggable.ui-widget-content
    %p
      Drag me around
/ End demo
.demo-description
  %p
    Enable draggable functionality on any DOM element. Move the draggable object by clicking on it with the mouse and dragging it anywhere within the viewport.
/ End demo-description
