-@title = "#{t('txt.ui.name')} #{t('txt.ui.interactions.draggable.default')} - #{t('txt.ui.interactions.draggable.scroll')}"     

- content_for :content_head do
  = render(:partial => "scroll.js.haml", :format => :js)

.demo
  %h3
    =image_tag("icons/22x22/jquery-ui.png", :border => 0)
    =@title
  #draggable.ui-widget-content
    %p
      Scroll set to true, default settings
  #draggable2.ui-widget-content
    %p
      scrollSensitivity set to 100
  #draggable3.ui-widget-content
    %p
      scrollSpeed set to 100
  %div{ :style => "height: 5000px; width: 1px;" }
/ End demo
.demo-description
  %p
    Automatically scroll the document when the draggable is moved beyond the viewport. Set the
    %code
      scroll
    option to true to enable auto-scrolling, and fine-tune when scrolling is triggered and its speed with the
    %code
      scrollSensitivity
    and
    %code
      scrollSpeed
    options.
/ End demo-description
