:css
  #tabs { height: 200px; } 
  .tabs-bottom { position: relative; } 
  .tabs-bottom .ui-tabs-panel { height: 140px; overflow: auto; } 
  .tabs-bottom .ui-tabs-nav { position: absolute !important; left: 0; bottom: 0; right:0; padding: 0 0.2em 0.2em 0; } 
  .tabs-bottom .ui-tabs-nav li { margin-top: -2px !important; margin-bottom: 1px !important; border-top: none; border-bottom-width: 1px; }
  .ui-tabs-selected { margin-top: -3px !important; }
  
:javascript
  $(function() {
    $("#tabs").tabs();
    $(".tabs-bottom .ui-tabs-nav, .tabs-bottom .ui-tabs-nav > *") 
    .removeClass("ui-corner-all ui-corner-top") 
    .addClass("ui-corner-bottom");
  });
