- content_for :head_scripts do
  :javascript
    $(function() {
        $("#tabs").tabs({
        cookie: {
          // store cookie for a day, without, it would be a session cookie
          expires: 1
        }
      });
    });

- content_for :license do
  = render :partial => "ui/license"
