<!doctype html>
%html{ :lang => "en" }
  %head
    %title
      jQuery UI Resizable - Preserve aspect ratio
    %link{ :href => "../../themes/base/ui.all.css", :rel => "stylesheet", :type => "text/css" }
    %script{ :type => "text/javascript", :src => "../../js/jquery-1.3.2.js" }
    %script{ :type => "text/javascript", :src => "../../ui/ui.core.js" }
    %script{ :type => "text/javascript", :src => "../../ui/ui.resizable.js" }
    %link{ :href => "../demos.css", :rel => "stylesheet", :type => "text/css" }
    %style{ :type => "text/css" }
      \#resizable { width: 160px; height: 90px; padding: 0.5em; }
      \#resizable h3 { text-align: center; margin: 0; }
    %script{ :type => "text/javascript" }
      $(function() {
      $("#resizable").resizable({
      aspectRatio: 16/9
      });
      });
  %body
    .demo
      #resizable.ui-widget-content
        %h3.ui-widget-header
          Preserve aspect ratio
    /
      End demo
    .demo-description
      %p
        Maintain the existing aspect ratio or set a new one to constrain the proportions on resize. Set the
        %code
          aspectRatio
        option to true, and optionally pass in a new ratio (i.e., 4/3)
    /
      End demo-description
