-@browser_title = "#{t('txt.ui.name')} #{t('txt.ui.interactions.resizable.default')} - #{t('txt.ui.default')}"
-@jquery_partial = 'default.js.haml'

.demo
  %h3
    =@browser_title
  #resizable.ui-widget-content
    %h3.ui-widget-header
      Resizable
/ End demo
.demo-description
  %p
    Enable any DOM element to be resizable.  With the cursor grab the right or bottom border and drag to the desired width or height.
/ End demo-description
