-@title = "#{t('txt.ui.name')} #{t('txt.ui.interactions.resizable.default')} - #{t('txt.ui.interactions.resizable.helper')}"
-@jquery_partial = 'helper.js.haml'

.demo
  %h3
    =@title
  #resizable.ui-widget-content
    %h3.ui-widget-header
      Helper
/ End demo
.demo-description
  %p
    Display only an outline of the element while resizing by setting the
    %code
      helper
    option to a CSS class.
/ End demo-description
