<!doctype html>
%html{ :lang => "en" }
  %head
    %title
      jQuery UI Resizable - Snap to grid
    %link{ :href => "../../themes/base/ui.all.css", :rel => "stylesheet", :type => "text/css" }
    %script{ :type => "text/javascript", :src => "../../js/jquery-1.3.2.js" }
    %script{ :type => "text/javascript", :src => "../../ui/ui.core.js" }
    %script{ :type => "text/javascript", :src => "../../ui/ui.resizable.js" }
    %link{ :href => "../demos.css", :rel => "stylesheet", :type => "text/css" }
    %style{ :type => "text/css" }
      \#resizable { width: 150px; height: 150px; padding: 0.5em; }
      \#resizable h3 { text-align: center; margin: 0; }
    %script{ :type => "text/javascript" }
      $(function() {
      $("#resizable").resizable({
      grid: 50
      });
      });
  %body
    .demo
      #resizable.ui-widget-content
        %h3.ui-widget-header
          Grid
    /
      End demo
    .demo-description
      %p
        Snap the resizable element to a grid.  Set the dimensions of grid cells (height and width in pixels) with the
        %code
          grid
        option.
    /
      End demo-description
