-@title = "#{t('txt.ui.name')} #{t('txt.ui.interactions.resizable.default')} - #{t('txt.ui.interactions.resizable.snap-to-grid')}"
-@jquery_partial = 'snap_to_grid.js.haml'

.demo
  %h3
    =@title
  #resizable.ui-widget-content
    %h3.ui-widget-header
      Grid
/ End demo
.demo-description
  %p
    Snap the resizable element to a grid.  Set the dimensions of grid cells (height and width in pixels) with the
    %code
      grid
    option.
/ End demo-description
