:css
  /* the overlayed element */
  .apple_overlay {
    /* initially overlay is hidden */
    display:none;    
    /* growing background image */
    background-image:url(/images/demo/tools/overlay/white.png); 
    width:640px;
    /* some padding to layout nested elements nicely  */
    padding:35px;
    /* a little styling */	
    font-size:11px;
  }
  
  /* default close button positioned on upper right corner */
  .apple_overlay .close {
    background-image:url(/images/demo/tools/overlay/close.png);
    position:absolute; right:5px; top:5px;
    cursor:pointer;
    height:35px;
    width:35px;
  }
  
  /* use a semi-transparent image for the overlay */
  #overlay {
    background-image:url(/images/demo/tools/overlay/transparent.png);
    color:#efefef;
    height:450px;
  }
  
  /* container for external content. uses vertical scrollbar, if needed */
  div.contentWrap {
    height:441px;
    overflow-y:auto;
  }  
  
:javascript
  $(function() {
    $("button", ".demo").button();
  });
  $(document).ready(function() {
    // if the function argument is given to overlay,
    // it is assumed to be the onBeforeLoad event listener
    $("a[rel]").overlay({
      mask: 'darkred',
      effect: 'apple',
      onBeforeLoad: function() {
        // grab wrapper element inside content
        var wrap = this.getOverlay().find(".contentWrap");
        //load the page specified in the trigger
        //wrap.load(this.getTrigger().attr("href"));
        wrap.load('./external');
      }
    });
  });
  