%h3{ :style => "color: #fff;" }
  Hint:
%p
  Ajax calls cannot retrieve external pages for security reasons.
  The only way to get external pages onto your page is to use an iframe,
  or a simple server side proxy that you can call with your ajax.
    