-@title = "#{t('txt.tools.name')} - #{t('txt.tools.tooltip.name')} - #{t('txt.tools.tooltip.demo3')}"

- content_for :content_head do
  = render(:partial => "demo3.js.haml", :format => :js)

.demo
  %h3
    =image_tag("icons/22x22/tools.png", :border => 0)
    =@title
  #triggers
    %img{:src => "/images/tools/img/1.jpg", :title => "This is browser's default tooltip." }
    %img{:src => "/images/tools/img/2.jpg", :title => "Another default tooltip. It comes with a slight delay." }
    %img{:src => "/images/tools/img/3.jpg" }
    %img{:src => "/images/tools/img/4.jpg" }
/End demo
.demo-description
  #greybox
/ End demo-description
