!!!
%html{:lang => "en"}
  %head
    %title test
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
  %body
    %div{"data-role" => "page"}
      %div{"data-role" => "header"}
        %h1 .add()
      #add1{"data-role" => "content", "data-theme" => "c"}
        %h2.jq-clearfix.roundTop.section-title
          %span.name .add( selector )
          %span.returns
            Returns:
            %a.return{:href => "http://docs.jquery.com/Types#jQuery"} jQuery
        .entry-details
          %p.desc
            %strong> Description:
            Add elements to the set of matched elements.
          %ul.signatures
            %li#add-selector.signature
              %h4.name
                %span.versionAdded>
                  version added:
                  %a{:href => "/category/version/1.0/"} 1.0
                \.add( selector )
              %p.arguement
                %strong> selector
                A string containing a selector expression to match additional elements against.
            %li#add-elements.signature
              %h4.name
                %span.versionAdded>
                  version added:
                  %a{:href => "/category/version/1.0/"} 1.0
                \.add( elements )
              %p.arguement
                %strong> elements
                one or more elements to add to the set of matched elements.
            %li#add-html.signature
              %h4.name
                %span.versionAdded>
                  version added:
                  %a{:href => "/category/version/1.0/"} 1.0
                \.add( html )
              %p.arguement
                %strong> html
                An HTML fragment to add to the set of matched elements.
            %li#add-selector-context.signature
              %h4.name
                %span.versionAdded>
                  version added:
                  %a{:href => "/category/version/1.4/"} 1.4
                \.add( selector, context )
              %p.arguement
                %strong> selector
                A string containing a selector expression to match additional elements against.
              %p.arguement
                %strong> context
                Add some elements rooted against the specified context.
          .longdesc
            %p
              Given a jQuery object that represents a set of DOM elements, the
              %code .add()
              method constructs a new jQuery object from the union of those elements and the ones passed into the method. The argument to
              %code .add()
              can be pretty much anything that
              %code $()
              accepts, including a jQuery selector expression, references to DOM elements, or an HTML snippet.
            %p Consider a page with a simple list and a paragraph following it:
            %pre
              :preserve
                &lt;ul&gt;
                  &lt;li&gt;list item 1&lt;/li&gt;
                  &lt;li&gt;list item 2&lt;/li&gt;
                  &lt;li&gt;list item 3&lt;/li&gt;
                &lt;/ul&gt;
                &lt;p&gt;a paragraph&lt;/p&gt;            %p
              We can select the list items and then the paragraph by using either a selector or a reference to the DOM element itself as the
              %code .add()
              method's argument:
            %pre $('li').add('p').css('background-color', 'red');
            %p Or:
            %pre
              :preserve
                $('li').add(document.getElementsByTagName('p')[0])
                  .css('background-color', 'red');            %p
              The result of this call is a red background behind all four elements.
              Using an HTML snippet as the
              %code .add()
              method's argument (as in the third version), we can create additional elements on the fly and add those elements to the matched set of elements. Let's say, for example, that we want to alter the background of the list items along with a newly created paragraph:
            %pre
              :preserve
                $('li').add('&lt;p id="new"&gt;new paragraph&lt;/p&gt;')
                  .css('background-color', 'red');            %p Although the new paragraph has been created and its background color changed, it still does not appear on the page. To place it on the page, we could add one of the insertion methods to the chain.
            %p As of jQuery 1.4 the results from .add() will always be returned in document order (rather than a simple concatenation).
          %h3 Examples:
          #entry-examples.entry-examples
            #example-0
              %h4
                Example:
                %span.desc Finds all divs and makes a border.  Then adds all paragraphs to the jQuery object to set their backgrounds yellow.
              %pre
                %code.example.demo-code
                  :preserve
                    &lt;!DOCTYPE html&gt;
                    &lt;html&gt;
                    &lt;head&gt;
                      &lt;style&gt;
                     div { width:60px; height:60px; margin:10px; float:left; }
                     p { clear:left; font-weight:bold; font-size:16px; 
                         color:blue; margin:0 10px; padding:2px; }
                     &lt;/style&gt;
                      &lt;script src="http://code.jquery.com/jquery-latest.js"&gt;&lt;/script&gt;
                    &lt;/head&gt;
                    &lt;body&gt;
                    	&lt;div&gt;&lt;/div&gt;
                    
                      &lt;div&gt;&lt;/div&gt;
                      &lt;div&gt;&lt;/div&gt;
                      &lt;div&gt;&lt;/div&gt;
                      &lt;div&gt;&lt;/div&gt;
                      &lt;div&gt;&lt;/div&gt;
                    
                      &lt;p&gt;Added this... (notice no border)&lt;/p&gt;
                    &lt;script&gt;
                    
                    $("div").css("border", "2px solid red")
                            .add("p")
                            .css("background", "yellow");
                    &lt;/script&gt;
                    &lt;/body&gt;
                    &lt;/html&gt;              %h4 Demo:
              .demo.code-demo
            #example-1
              %h4
                Example:
                %span.desc Adds more elements, matched by the given expression, to the set of matched elements.
              %pre
                %code.example.demo-code
                  :preserve
                    &lt;!DOCTYPE html&gt;
                    &lt;html&gt;
                    &lt;head&gt;
                      &lt;script src="http://code.jquery.com/jquery-latest.js"&gt;&lt;/script&gt;
                    &lt;/head&gt;
                    &lt;body&gt;
                    	&lt;p&gt;Hello&lt;/p&gt;&lt;span&gt;Hello Again&lt;/span&gt;
                    &lt;script&gt;$("p").add("span").css("background", "yellow");&lt;/script&gt;
                    &lt;/body&gt;
                    &lt;/html&gt;              %h4 Demo:
              .demo.code-demo
            #example-2
              %h4
                Example:
                %span.desc Adds more elements, created on the fly, to the set of matched elements.
              %pre
                %code.example.demo-code
                  :preserve
                    &lt;!DOCTYPE html&gt;
                    &lt;html&gt;
                    &lt;head&gt;
                      &lt;script src="http://code.jquery.com/jquery-latest.js"&gt;&lt;/script&gt;
                    &lt;/head&gt;
                    &lt;body&gt;
                    	&lt;p&gt;Hello&lt;/p&gt;
                    &lt;script&gt;$("p").clone().add("&lt;span&gt;Again&lt;/span&gt;").appendTo(document.body);&lt;/script&gt;
                    &lt;/body&gt;
                    &lt;/html&gt;              %h4 Demo:
              .demo.code-demo
            #example-3
              %h4
                Example:
                %span.desc Adds one or more Elements to the set of matched elements.
              %pre
                %code.example.demo-code
                  :preserve
                    &lt;!DOCTYPE html&gt;
                    &lt;html&gt;
                    &lt;head&gt;
                      &lt;script src="http://code.jquery.com/jquery-latest.js"&gt;&lt;/script&gt;
                    &lt;/head&gt;
                    &lt;body&gt;
                    	&lt;p&gt;Hello&lt;/p&gt;&lt;span id="a"&gt;Hello Again&lt;/span&gt;
                    &lt;script&gt;$("p").add(document.getElementById("a")).css("background", "yellow");&lt;/script&gt;
                    &lt;/body&gt;
                    &lt;/html&gt;              %h4 Demo:
              .demo.code-demo
            #example-4
              %h4
                Example:
                %span.desc Demonstrates how to add (or push) elements to an existing collection
              %pre
                %code.example.demo-code
                  :preserve
                    &lt;!DOCTYPE html&gt;
                    &lt;html&gt;
                    &lt;head&gt;
                      &lt;script src="http://code.jquery.com/jquery-latest.js"&gt;&lt;/script&gt;
                    &lt;/head&gt;
                    &lt;body&gt;
                    	&lt;p&gt;Hello&lt;/p&gt;&lt;span id="a"&gt;Hello Again&lt;/span&gt;
                    &lt;script&gt;var collection = $("p");
                    // capture the new collection
                    collection = collection.add(document.getElementById("a"));
                    collection.css("background", "yellow");&lt;/script&gt;
                    &lt;/body&gt;
                    &lt;/html&gt;              %h4 Demo:
              .demo.code-demo
