-@browser_title = 'Widgets: ' +controller.action_name

- content_for :content_head do
  = render(:partial => "index.js.haml", :format => :js)

%center
  %h3
    =image_tag("icons/22x22/grid.png", :border => 0)
    Secret Sauce jqGrid - DataGrid  
   
  %table#widgets_table.scroll
  #widgets_pager.scroll{ :style => "text-align:center;" }
  #widgets_update_dialog{ :style => "display: none;" }
  #widgets_create_dialog{ :style => "display: none;" }
