-@browser_title = 'Widgets: ' +controller.action_name
-@jquery_partial = 'index.js.haml'
%center
  %h3
    Secret Sauce jqGrid - DataGrid  
   
  %table#widgets_table.scroll
  #widgets_pager.scroll{ :style => "text-align:center;" }
  #widgets_update_dialog{ :style => "display: none;" }
  #widgets_create_dialog{ :style => "display: none;" }

  