%script{:src => "../js/jquery-1.4.2.js"}
%script{:src => "../../src/tabs/tabs.js"}
%script{:src => "../../src/dateinput/dateinput.js"}
%link{:href => "skin1.css", :rel => "stylesheet", :type => "text/css"}/
%link{:href => "../tabs/tabs.css", :rel => "stylesheet", :type => "text/css"}/
:css
  body {
  	margin:100px;
  	font-family:sans-serif;
  	width:800px;
  	font-size:12px;
  }
/ tabs
%ul.css-tabs
  %li
    %a{:href => "#1"} Tab 1
  %li
    %a{:href => "#2"} Second tab
  %li
    %a{:href => "#3"} A ultra long third tab
/ panes
.css-panes
  .pane
    %h3 Tab 1
    %input{:name => "mydate", :type => "date"}/
  .pane
    %h3 Tab 2
    %input{:name => "mydate", :type => "date"}/
  .pane
    %h3 Tab 3
    %input{:name => "mydate", :type => "date"}/
:javascript
  $(".css-tabs").tabs(".css-panes > div");
  $(":date").dateinput();
