!!!
%html
  %head
    %title jQuery Mobile Framework - Static Progressbar Example
    %link{:href => "themes/default", :rel => "stylesheet"}/
    %script{:src => "js/all", :type => "text/javascript"}
  %body
    .ui-body-c{"data-role" => "page"}
      %div{"data-role" => "header"}
        %h1 Static Progressbar
      %div{"data-role" => "content"}
        %h2 Just a simple static progressbar, for future reference.
        :css
          .progress { margin: 1em 0; }
          .progress-filled { height: 1.5em; margin: -1px; }
		        .progress.ui-bar-c.ui-btn-corner-all
          .progress-filled.ui-btn-up-b.ui-btn-corner-left{:style => "width: 30%;"}
