%div{"data-role" => "page"}
  %header.tuts{"data-role" => "header"}
    %h1
      %img{:alt => "Tuts+", :src => "/images/demo/mobile/tuts/TLogo.png"}/
  / /header
  %div{"data-role" => "content"}
    %ul{"data-counttheme" => "e", "data-dividertheme" => "d", "data-role" => "listview", "data-theme" => "c"}
      %li
        %img.ui-li-icon{:alt => "Nettuts", :src => "/images/demo/mobile/tuts/ntLogo.jpg"}/
        %a{:href => "site.php?siteName=nettuts"} Nettuts+
      %li
        %img.ui-li-icon{:alt => "Psdtuts", :src => "/images/demo/mobile/tuts/psdLogo.jpg"}/
        %a{:href => "site.php?siteName=psdtuts"} Psdtuts+
      %li
        %img.ui-li-icon{:alt => "Vectortuts+", :src => "/images/demo/mobile/tuts/vectorLogo.jpg"}/
        %a{:href => "site.php?siteName=vectortuts"} Vectortuts+
      %li
        %img.ui-li-icon{:alt => "Mobiletuts+", :src => "/images/demo/mobile/tuts/mobileLogo.png"}/
        %a{:href => "site.php?siteName=mobiletuts"} Mobiletuts+
      %li
        %img.ui-li-icon{:alt => "Aetuts+", :src => "/images/demo/mobile/tuts/aeLogo.jpg"}/
        %a{:href => "site.php?siteName=aetuts"} Aetuts+
      %li
        %img.ui-li-icon{:alt => "Phototuts+", :src => "/images/demo/mobile/tuts/photoLogo.jpg"}/
        %a{:href => "site.php?siteName=phototuts"} Phototuts+
      %li
        %img.ui-li-icon{:alt => "Cgtuts+", :src => "/images/demo/mobile/tuts/cgLogo.jpg"}/
        %a{:href => "site.php?siteName=cgtuts"} Cgtuts+
      %li
        %img.ui-li-icon{:alt => "Audiotuts+", :src => "/images/demo/mobile/tuts/audioLogo.jpg"}/
        %a{:href => "site.php?siteName=audiotuts"} Audiotuts+
      %li
        %img.ui-li-icon{:alt => "Activetuts+", :src => "/images/demo/mobile/tuts/activeLogo.jpg"}/
        %a{:href => "site.php?siteName=flashtuts"} Activetuts+
      %li
        %img.ui-li-icon{:alt => "Webdesigntuts+", :src => "/images/demo/mobile/tuts/wdLogo.jpg"}/
        %a{:href => "site.php?siteName=webdesigntutsplus"} Webdesigntuts+
  %footer.tuts{"data-role" => "footer"}
    %h4 www.tutsplus.com
/ /page
