-@browser_title = "jQTouch &beta;"
-@jqt_partial_1 ='jqt.js.haml'

#jqt
  #home
    .toolbar
      %h1
        World Clock
      %a.button.leftButton.flip{ :href => "#info" }
        Info
      %a.button.add.slideup{ :href => "#add" }
        +
    #clocks
  #add.form
    .toolbar
      %h1
        New Time Zone
      %a.cancel{ :href => "#add" }
        Cancel
    %form#time
      %ul.rounded
        %li
          %input#label{ :name => "Label", :placeholder => "Label", :type => "text" }
        %li
          %select#timezone{ :name => "timezone" }
            %option{ :value => "-12.0" }
              (GMT -12:00) Eniwetok
            %option{ :value => "-11.0" }
              (GMT -11:00) Samoa
            %option{ :value => "-10.0" }
              (GMT -10:00) Hawaii
            %option{ :value => "-9.0" }
              (GMT -9:00) Alaska
            %option{ :value => "-8.0" }
              (GMT -8:00) Pacific Time
            %option{ :value => "-7.0" }
              (GMT -7:00) Mountain Time
            %option{ :value => "-6.0" }
              (GMT -6:00) Central Time
            %option{ :value => "-5.0" }
              (GMT -5:00) Eastern Time
            %option{ :value => "-4.0" }
              (GMT -4:00) Atlantic Time
            %option{ :value => "-3.5" }
              (GMT -3:30) Newfoundland
            %option{ :value => "-3.0" }
              (GMT -3:00) Brazil
            %option{ :value => "-2.0" }
              (GMT -2:00) Mid-Atlantic
            %option{ :value => "-1.0" }
              (GMT -1:00 hour) Azores
            %option{ :selected => "", :value => "0.0" }
              (GMT) Western Europe Time
            %option{ :value => "1.0" }
              (GMT +1:00 hour) Paris
            %option{ :value => "2.0" }
              (GMT +2:00) Kaliningrad
            %option{ :value => "3.0" }
              (GMT +3:00) Baghdad
            %option{ :value => "3.5" }
              (GMT +3:30) Tehran
            %option{ :value => "4.0" }
              (GMT +4:00) Abu Dhabi
            %option{ :value => "4.5" }
              (GMT +4:30) Kabul
            %option{ :value => "5.0" }
              (GMT +5:00) Ekaterinburg
            %option{ :value => "5.5" }
              (GMT +5:30) New Delhi
            %option{ :value => "5.75" }
              (GMT +5:45) Kathmandu
            %option{ :value => "6.0" }
              (GMT +6:00) Colombo
            %option{ :value => "7.0" }
              (GMT +7:00) Bangkok
            %option{ :value => "8.0" }
              (GMT +8:00) Hong Kong
            %option{ :value => "9.0" }
              (GMT +9:00) Tokyo
            %option{ :value => "9.5" }
              (GMT +9:30) Adelaide
            %option{ :value => "10.0" }
              (GMT +10:00) Eastern Australia
            %option{ :value => "11.0" }
              (GMT +11:00) Solomon Islands
            %option{ :value => "12.0" }
              (GMT +12:00) Fiji
      %a.whiteButton.submit{ :href => "#", :style => "margin: 10px;" }
        Add Clock
  #info
    .toolbar
      %h1
        About
      %a.cancel{ :href => "#add" }
        Cancel
    .info
      This is a demo for jQTouch.
        