:javascript
  var jQT = new $.jQTouch({
    icon: '/images/jqtouch/jqtouch.png',
    addGlossToIcon: false,
    startupScreen: '/images/jqtouch/jqt_startup.png',
    statusBar: 'black',
    preloadImages: [
        '/images/jqtouch/jqtouch.png',
        '/images/jqtouch/jqt/back_button.png',
        '/images/jqtouch/jqt/back_button_clicked.png',
        '/images/jqtouch/jqt/button_clicked.png',
        '/images/jqtouch/jqt/grayButton.png',
        '/images/jqtouch/jqt/whiteButton.png',
        '/images/jqtouch/jqt/loading.gif'
        ]
    });
    // Some sample Javascript functions:
    $(function(){    
      // Page animations end with AJAX callback event, example 1 (load remote HTML only first time)
      $('#callback').bind('pageAnimationEnd', function(e, info){
        if (!$(this).data('loaded')) {                    // Make sure the data hasn't already been loaded (we'll set 'loaded' to true a couple lines further down)
          //$(this).append($('<div>Loading</div>').         // Append a placeholder in case the remote HTML takes its sweet time making it back
            //load('ajax.html .info', function() {        // Overwrite the "Loading" placeholder text with the remote HTML
         
            //$("#reviews").append("<%= escape_javascript(render(:partial => @review)) %>");
         
          //$(this).parent().data('loaded', true);  // Set the 'loaded' var to true so we know not to re-load the HTML next time the #callback div animation ends
          //}));
        }
      });
    });
    