:javascript
  var jQT = new $.jQTouch({
    slideSelector: '#jqt li a, .slide',
    icon: '/images/jqtouch/jqtouch.png',
    addGlossToIcon: false,
    startupScreen: '/images/jqtouch/jqt_startup.png',
    statusBar: 'black',
    preloadImages: [
        '/images/jqtouch/jqtouch.png',
        '/images/jqtouch/jqt/back_button.png',
        '/images/jqtouch/jqt/back_button_clicked.png',
        '/images/jqtouch/jqt/button_clicked.png',
        '/images/jqtouch/jqt/grayButton.png',
        '/images/jqtouch/jqt/whiteButton.png',
        '/images/jqtouch/jqt/loading.gif'
      ]
  });
  
  var friends = [{firstName: "Mike", lastName: "Vaninetti"},
                 {firstName: "Mithulan", lastName: "Jegapragasan"},
                 {firstName: "Chris", lastName: "Williams"},
                 {firstName: "Orges", lastName: "Beqiri"},
                 {firstName: "Nick", lastName: "Prionas"}];
  
  function filter() {
    $("#friends").items("filter", $("#search").val());
  };
  
  function friendclick(event) {
    var element = (event.target.nodeName == "SPAN") ? event.target.parentNode : event.target;
    var first = $(element).children("span.firstName").text();
    var last = $(element).children("span.lastName").text();
    
    $("#thedetails").item("replace", {firstName:first, lastName:last}).chain();
  };
                     
  // Some sample Javascript functions:
  $(function(){
    jQT.resetHeight();
    
    jQT.dbOpen("databaseTest", "1.0","jqTouch web application database", 200000); 
    jQT.dbDropTable("favoriteThing")
      var jsonTb= { "createTables" :
        [
          {"table": "favoriteThing",  "property":
            [
              {"name": "id", "type": "INTEGER PRIMARY KEY AUTOINCREMENT" },
              {"name": "name", "type": "TEXT" },
              {"name": "link", "type": "TEXT" },
              {"name": "content", "type": "TEXT" }
            ]
          }
        ]
      }
    jQT.dbCreateTables(jsonTb)
      var jsonAddRow1 = { "addRow" :
        [
          {"table": "favoriteThing",  "property":
            [
              {"name": "name", "value": "Field from database 1" },
              {"name": "link", "value": "database1" },
              {"name": "content", "value": "This text is coming from the database 1" }
            ]
          },
          {"table": "favoriteThing",  "property":
            [
              {"name": "name", "value": "Field from database 2" },
              {"name": "link", "value": "database2" },
              {"name": "content", "value": "This text is coming from the database2" }
            ]
          },
        ]
      }
    jQT.dbInsertRows(jsonAddRow1)

    jQT.dbSelectAll("favoriteThing",function(result){
      for (var i = 0; i < result.rows.length; ++i) {
        var row = result.rows.item(i);
        $("ul#database").append('<li class=""><a href="#'+row['link']+'">'+row['name']+'</a></li>')
      }
    })

    // Show a swipe event on swipe test
    $('#swipeme').swipe(function(evt, data) {
      $(this).html('You swiped <strong>' + data.direction + '/' + data.deltaX +':' + data.deltaY + '</strong>!');
      $(this).parent().after('<li>swiped!</li>');
    });
    $('#tapme').tap(function(){
        $(this).parent().after('<li>tapped!</li>')
    });
    $('a[target="_blank"]').click(function() {
      if (confirm('This link opens in a new window.')) {
        return true;
      } else {
        //$(this).removeClass('active');
        return false;
      }
    });
    // Page animation callback events
    $('#pageevents').live('pageAnimationStart', function(e, info){ 
        $(this).find('.info').append('Started animating ' + info.direction + '&hellip; ');
      }).live('pageAnimationEnd', function(e, info){
        $(this).find('.info').append(' finished animating ' + info.direction + '.<br /><br />');
      });
    // Orientation callback event
    $('body').live('turn', function(e, data){
      $('#orient').html('Orientation: ' + data.orientation);
    });
    // Video stuff
    $('#play_movie').live('tap', function(){
      $('#movie').get(0).play();
      $(this).removeClass('active');
    });      
    $('#play_movie').live('click', function(){
      $('#movie').get(0).play();
      $(this).removeClass('active');
    });      
    $('#video').live('pageAnimationStart', function(e, info){
      $('#movie').css('display', 'none');
    }).live('pageAnimationEnd', function(e, info){
      if (info.direction == 'in')
      {
        $('#movie').css('display', 'block');
      }
    });
    $("#friends").items(friends).chain();
    $("#thedetails").item({}).chain();
    
    jQT.generateGallery("photo", 
      [
        {
          src:"http://www.nasa.gov/images/content/450090main_image_1653_946-710.jpg",
          width: 946,
          height: 710
        },
        {src:"/jqtouch/test-image-1.jpg",caption:"A test caption for the generator"},
        {src:"http://www.thinkgeek.com/images/products/front/b597_rock_paper_scissors_lizard_spock.jpg"},
        {src:"http://rlv.zcache.com/theres_no_place_like_127_0_0_1_tshirt-p235602976566783086tmn7_313.jpg"},
        {src:"http://www.thinkgeek.com/images/products/front/lg-capsaicin.jpg"},
        {src:"http://imgs.xkcd.com/comics/in_ur_reality.png"},
        {src:"http://www.thinkgeek.com/images/products/front/power.jpg"},
        {src:"http://imgs.xkcd.com/store/imgs/stand_back_square_0.png"},
        {src:"/jqtouch/test-image-4.jpg"},
        {src:"http://www.thinkgeek.com/images/products/front/zombie_repellent_crayon.jpg"},
        {src:"http://imgs.xkcd.com/store/imgs/sudo_square_0.png"},
        {src:"http://ladyzee.files.wordpress.com/2007/06/geek.jpg"},
        {src:"http://imgs.xkcd.com/store/imgs/just_shy_square_0.png"},
        {src:"/jqtouch/test-image-3.jpg"},
        {src:"http://farm5.static.flickr.com/4048/4620214378_da454753f2.jpg"},
        {src:"http://www.thinkgeek.com/images/products/front/ac0b_Electronic_Drum_Kit_Shirt.gif"},
        {src:"http://imgs.xkcd.com/comics/chess_photo.png"},
        {src:"http://farm5.static.flickr.com/4068/4635718507_389ca9b2e7.jpg"},
        {src:"http://imgs.xkcd.com/comics/asshole.png"},
        {src:"/jqtouch/test-image-2.jpg"},
        {src:"http://www.thinkgeek.com/images/products/front/obey-gravity.jpg"},
        {src:"http://farm3.static.flickr.com/2556/3833582019_a0c7593e5c.jpg"},
        {src:"http://antwrp.gsfc.nasa.gov/apod/image/1005/rheaepimetheus_cassini.jpg"},
        {src:"http://www.yeshua-do.com/jom/images/stories/einstein_tongue.jpg"},
        {src:"http://fc07.deviantart.net/fs71/f/2010/155/a/6/a63f0de1d27516832f2ce1474efc6be4.png"},
        {src:"http://fc07.deviantart.net/fs71/i/2010/154/8/5/sun_shower_by_jyoujo.jpg"},
        {src:"http://grin.hq.nasa.gov/IMAGES/MEDIUM/GPN-2000-000762.jpg"},
        {src:"http://i572.photobucket.com/albums/ss167/derekabril/einstein_010.png"},
        {src:"http://grin.hq.nasa.gov/IMAGES/MEDIUM/GPN-2000-000058.jpg"},
        {src:"http://fc05.deviantart.net/fs71/i/2010/153/5/f/tR_Minimal_Concept_by_kAtz93.png"},
        {src:"http://grin.hq.nasa.gov/IMAGES/MEDIUM/GPN-2000-000439.jpg"},
        {src:"http://antwrp.gsfc.nasa.gov/apod/image/1005/ic443_franke900.jpg"},
        {src:"/jqtouch/test-image-1.jpg",caption:"A test caption for the generator"},
        {src:"http://www.thinkgeek.com/images/products/front/b597_rock_paper_scissors_lizard_spock.jpg?2"},
        {src:"http://rlv.zcache.com/theres_no_place_like_127_0_0_1_tshirt-p235602976566783086tmn7_313.jpg?2"},
        {src:"http://www.thinkgeek.com/images/products/front/lg-capsaicin.jpg?2"},
        {src:"http://imgs.xkcd.com/comics/in_ur_reality.png?2"},
        {src:"http://www.thinkgeek.com/images/products/front/power.jpg?2"},
        {src:"http://imgs.xkcd.com/store/imgs/stand_back_square_0.png?2"},
        {src:"/jqtouch/test-image-4.jpg?2"},
        {src:"http://www.thinkgeek.com/images/products/front/zombie_repellent_crayon.jpg?2"},
        {src:"http://imgs.xkcd.com/store/imgs/sudo_square_0.png?2"},
        {src:"http://ladyzee.files.wordpress.com/2007/06/geek.jpg?2"},
        {src:"http://imgs.xkcd.com/store/imgs/just_shy_square_0.png?2"},
        {src:"/jqtouch/test-image-3.jpg?2"},
        {src:"http://farm5.static.flickr.com/4048/4620214378_da454753f2.jpg?2"},
        {src:"http://www.thinkgeek.com/images/products/front/ac0b_Electronic_Drum_Kit_Shirt.gif?2"},
        {src:"http://imgs.xkcd.com/comics/chess_photo.png?2"},
        {src:"http://farm5.static.flickr.com/4068/4635718507_389ca9b2e7.jpg?2"},
        {src:"http://imgs.xkcd.com/comics/asshole.png?2"},
        {src:"/jqtouch/test-image-2.jpg?2"},
        {src:"http://www.thinkgeek.com/images/products/front/obey-gravity.jpg?2"},
        {src:"http://farm3.static.flickr.com/2556/3833582019_a0c7593e5c.jpg?2"},
        {src:"http://antwrp.gsfc.nasa.gov/apod/image/1005/rheaepimetheus_cassini.jpg?2"},
        {src:"http://www.yeshua-do.com/jom/images/stories/einstein_tongue.jpg?2"},
        {src:"http://fc07.deviantart.net/fs71/f/2010/155/a/6/a63f0de1d27516832f2ce1474efc6be4.png?2"},
        {src:"http://fc07.deviantart.net/fs71/i/2010/154/8/5/sun_shower_by_jyoujo.jpg?2"},
        {src:"http://grin.hq.nasa.gov/IMAGES/MEDIUM/GPN-2000-000762.jpg?2"},
        {src:"http://i572.photobucket.com/albums/ss167/derekabril/einstein_010.png?2"},
        {src:"http://grin.hq.nasa.gov/IMAGES/MEDIUM/GPN-2000-000058.jpg?2"},
        {src:"http://fc05.deviantart.net/fs71/i/2010/153/5/f/tR_Minimal_Concept_by_kAtz93.png?2"},
        {src:"http://grin.hq.nasa.gov/IMAGES/MEDIUM/GPN-2000-000439.jpg?2"},
        {src:"http://antwrp.gsfc.nasa.gov/apod/image/1005/ic443_franke900.jpg?2"},
      ],
      {defaultIndex:5}
    );
    jQT.generateGallery("photo2",
      [
        {src:"http://www.nasa.gov/images/content/450090main_image_1653_946-710.jpg"},
        {src:"/images/jqtouch/mobione/leaf1.png",caption:"Test Image 1"},
        {src:"/images/jqtouch/mobione/leaf2.png",caption:"Test Image 2"},
        {src:"http://rlv.zcache.com/css_is_awesome_mug-p1687164350719819282objs_210.jpg",caption:"CSS is Awesome"},
        {src:"/images/jqtouch/mobione/leaf3.png"}
      ]);
  });
  
:css
  #jqt.fullscreen #home .info { display: none; }
  div#jqt #about { padding: 100px 10px 40px; text-shadow: rgba(255, 255, 255, 0.3) 0px -1px 0; font-size: 13px; text-align: center; background: #161618; }
  div#jqt #about p { margin-bottom: 8px; }
  div#jqt #about a { color: #fff; font-weight: bold; text-decoration: none; }
  .slide-container,.scroll-container{text-align:center;/*outline:2px solid red;*/}
  .slide-container > img,.scroll-container > img{vertical-align:middle;}
