:javascript
  var jQT = new $.jQTouch({
    icon: '/images/jqtouch/jqtouch.png',
    addGlossToIcon: false,
    startupScreen: '/images/jqtouch/jqt_startup.png',
    statusBar: 'black',
    preloadImages: [
        '/images/jqtouch/jqtouch.png',
        '/images/jqtouch/jqt/back_button.png',
        '/images/jqtouch/jqt/back_button_clicked.png',
        '/images/jqtouch/jqt/button_clicked.png',
        '/images/jqtouch/jqt/grayButton.png',
        '/images/jqtouch/jqt/whiteButton.png',
        '/images/jqtouch/jqt/loading.gif'
      ]
  });
  // Some sample Javascript functions:
  $(function(){
    // Show a swipe event on swipe test
    $('#swipeme').swipe(function(evt, data) {
      $(this).html('You swiped <strong>' + data.direction + '/' + data.deltaX +':' + data.deltaY + '</strong>!');
      $(this).parent().after('<li>swiped!</li>');
    });
    $('#tapme').tap(function(){
        $(this).parent().after('<li>tapped!</li>')
    });
    $('a[target="_blank"]').click(function() {
      if (confirm('This link opens in a new window.')) {
        return true;
      } else {
        //$(this).removeClass('active');
        return false;
      }
    });
    // Page animation callback events
    $('#pageevents').
      bind('pageAnimationStart', function(e, info){ 
        $(this).find('.info').append('Started animating ' + info.direction + '&hellip; ');
      }).
      bind('pageAnimationEnd', function(e, info){
        $(this).find('.info').append(' finished animating ' + info.direction + '.<br /><br />');
      });
    // Orientation callback event
    $('body').bind('turn', function(e, data){
      $('#orient').html('Orientation: ' + data.orientation);
    });
    // Video stuff
    $('#play_movie').bind('tap', function(){
      $('#movie').get(0).play();
      $(this).removeClass('active');
    });      
    $('#play_movie').bind('click', function(){
      $('#movie').get(0).play();
      $(this).removeClass('active');
    });      
    $('#video').bind('pageAnimationStart', function(e, info){
      $('#movie').css('display', 'none');
    }).bind('pageAnimationEnd', function(e, info){
      if (info.direction == 'in')
      {
        $('#movie').css('display', 'block');
      }
    });      
  });

:css
  #jqt.fullscreen #home .info { display: none; }
  div#jqt #about { padding: 100px 10px 40px; text-shadow: rgba(255, 255, 255, 0.3) 0px -1px 0; font-size: 13px; text-align: center; background: #161618; }
  div#jqt #about p { margin-bottom: 8px; }
  div#jqt #about a { color: #fff; font-weight: bold; text-decoration: none; }
  .in video, .out video { display: none; }
							