-@browser_title = "jQTouch &beta;"
-@jqt_partial_1 ='jqt.js.haml'

#jqt
  #ajax
    .toolbar
      %h1
        AJAX
      %a.back{ :href => "/jqtouch/demo", :target => "_webapp"  }
        Home
    %ul.rounded
      %li.arrow
        %a{ :href => "/jqtouch/demo/ajax_post", :target => "_webapp"  }
          POST Form Example
      %li.arrow
        %a{ :href => "/jqtouch/demo/ajax_get", :target => "_webapp"  }
          GET Example
      %li.arrow
        %a{ :href => "/jqtouch/demo/ajax_long", :target => "_webapp"  }
          Long GET Example
      %li.arrow
        %a{ :href => "#callback" }
          With Callback
  #callback
    .toolbar
      %h1
        AJAX w/Callback
      %a.back{ :href => "#" }
        Ajax
