-@browser_title = "jQTouch &beta;"

- content_for :content_head do
  = render(:partial => "jqt.js.haml", :format => :js)

#jqt
  #get
    .toolbar
      %h1
        GET Example
      %a.back{ :href => "ajax", :target => "_webapp" }
        Back
    .info
      This page was loaded via AJAX.
    %ul.rounded
      %li
        %a{ :href => "#livetest" }
          Test live events
  #livetest
    .toolbar
      %h1
        Events test
      %a.back{ :href => "#" }
        Back
      %a.button.goback{ :href => "index", :target => "_webapp"  } 
        Home
    .info
      This is a test of live events.
