-@browser_title = "jQTouch &beta;"
-@jqt_partial_1 ='jqt.js.haml'

#jqt
  #post
    .toolbar
      %h1
        = @title
      %a.button.back{ :href => "ajax", :target => "_webapp" }
        Back  
        
    %ul.edgetoedge
      - if @zip
        - for theater in @theaters
          %li
            %a{ :href => "#theater" }
              = theater
      - else
        - for movie in @movies
          %li
            %a{ :href => "#movie" }
              = movie
              
    %form{ :action => "ajax_post", :method => "POST" }
      %ul.rounded
        %li
          %input{ :name => "zip", :placeholder => "Live post event test", :type => "text", :value => "" }
        %a.submit.whiteButton{ :href => "#", :style => "margin:0 10px;color:rgba(0,0,0,.9)" }
          Submit
        