-@title = "#{t('txt.ui.name')} #{t('txt.ui.effects.default')} - #{t('txt.ui.effects.add_class.default')}"

- content_for :head_scripts do
  = render :partial => "index.js.haml", :format => :js

.demo
  %h3
    =image_tag("icons/22x22/jquery-ui.png", :border => 0)
    =@title
  .toggler
    #effect.ui-corner-all
      Etiam libero neque, luctus a, eleifend nec, semper at, lorem. Sed pede.
  %a#button.ui-state-default.ui-corner-all{ :href => "#" }
    Run Effect
/  End demo
.demo-description
  %p
    This demo adds a class which animates: text-indent, letter-spacing, width, height, padding, margin, and font-size.
/  End demo-description
