:css
  #tree { vertical-align: top; width: 250px; }
  iframe { border: 1px dotted gray; }

:javascript
  $(function(){
    // Attach the dynatree widget to an existing <div id="tree"> element
    // and pass the tree options as an argument to the dynatree() function:
    $("#tree").dynatree({
      rootVisible: false,
      // autoCollapse: true,
      persist: true,
      onPostInit: function(isReloading, isError) {
        this.reactivate();
      },
      onActivate: function(dtnode) {
        // Use our custom attribute to load the new target content:
        if( dtnode.data.url )
          $("[name=contentFrame]").attr("src", dtnode.data.url);
      },
      children: [
        {title: "Search engines", isFolder: true, expand: true,
          children: [
            {title: "Google", url: "http://www.google.com"},
            {title: "Yahoo", url: "http://yahoo.com"}
          ]
        },
        {title: "jQuery", isFolder: true, expand: true,
          children: [
            {title: "jQuery", url: "http://www.jquery.com"},
            {title: "jQuery UI", url: "http://ui.jquery.com"},
            {title: "API browser", url: "http://api.jquery.com"},
            {title: "dynatree", url: "http://code.google.com/p/dynatree/"}
          ]
        },
        {title: "Misc", isFolder: true, expand: true,
          children: [
            {title: "Welcome", url: "iframe_1"}
          ]
        }
      ]
    });
  });
    