:javascript
  $(function(){
    $("#tree").dynatree({
      initAjax: { 
        url: "data1?format=json"
      },
      onActivate: function(node) {
        $("#echoActive").text(node.data.title);
      },
      onDeactivate: function(node) {
        $("#echoActive").text("-");
      }
    });
  });
