%form{:action => "#"}
  %fieldset
    %label{:for => "skin"}
      Select a Skin:
    %br
    %br
    - form_tag('', :method => :get) do
      = select_tag("dynatree_skin", 
                    options_for_select([["Aero", "aero.css"],
                                        ["Aqua", "aqua.css"],
                                        ["Crystal", "crystal.css"],
                                        ["XP", "xp.css"]],
                                       @dynatree_skin))
