:javascript
  $(function(){
    $("#tree").dynatree({
      title: "Sample Theming",
      imagePath: "/images/jquery/dynatree/#{@dynatree_skin.gsub(/\.css$/, '')}/", // Image folder used for data.icon attribute.      
      //initAjax: { 
      //  url: "data3?format=json"
      //},
      onSelect: function(node) {
        alert ("You selected " + node);
      }
    });
  });
