:javascript
  $(function(){
    $("#tree").dynatree({
      imagePath: "/images/jquery/dynatree/aero/", // Image folder used for data.icon attribute.      
      initAjax: { 
        url: "data3?format=json"
      },
      onSelect: function(dtnode) {
        alert ("You selected " + dtnode);
      }
    });
  });
