:javascript
  $(function(){
    $("#tree").dynatree({
      title: "Sample Theming",
      imagePath: "/images/jquery.ui/dynatree.aero/", // Image folder used for data.icon attribute.      
      onSelect: function(dtnode) {
        alert ("You selected " + dtnode);
      }
    });
  });
