:javascript
  $(function(){
    $("#tree").dynatree({
      title: "Sample Theming",
      rootVisible: true,
      imagePath: "/images/jquery.ui/dynatree.vista/", // Image folder used for data.icon attribute.      
      onSelect: function(dtnode) {
        alert ("You selected " + dtnode);
      }
    });
  });
