-@title = "#{t('txt.dt.name')} - #{t('txt.dt.api')}"
-@dynatree_theme = 'start'
-@dynatree_skin = 'dynatree.aero.css'

- content_for :content_head do
  = render(:partial => "api.js.haml", :format => :js)

.demo
  %h3
    =@title
  %p
    %button#btnExpandAll{ :href => "#" }
      Expand all
    %button#btnCollapseAll{ :href => "#" }
      Collapse all
    %button#btnToggleExpand{ :href => "#" }
      Toggle expand 
    %button#btnSortAll{:href => "#"}
      Sort tree
    %button#btnSortActive{:href => "#"}
      Sort current node
    %button#btnDisable{ :href => "#" }
      Disable
  #tree
    %ul
      %li
        This simple node (and the following) have been created from html.
      %li#id1{ :title => "This is item #1" }
        item1 with key and tooltip
      %li#id2
        item2 with key 'id2'
      %li#id3.folder
        Standard Folder with some children
        %ul
          %li#id3_1
            Sub-item 3.1
          %li#id3_2
            Sub-item 3.2
      %li#id4
        item 4. Note that also non-folders (i.e. 'documents') may have child nodes
        %ul
          %li#id4_1
            Sub-item 4.1
          %li#id4_2
            Sub-item 4.2
          %li#id4_3
            Sub-item 4.3
            %ul
              %li#id4_3_1
                Sub-item 4.3.1
              %li#id4_3_2
                Sub-item 4.3.2
                %ul
                  %li#id4_3_2_1
                    Sub-item 4.3.2.1
                  %li#id4_3_2_2
                    Sub-item 4.3.2.2
          %li#id4_4
            Sub-item 4.4
      %li#id5.expanded.folder
        Advanced examples
        %ul
          %li{ :data => "key: 'node5_1'" }
            item5.1: Using data attribute as an alternative way to specify a key.
          %li{ :data => "key: 'node5_3', isFolder: true" }
            item5.1: Using data attribute as an alternative way to specify a folder.
          %li#id5_2
            Sub-item 5.2
          %li
            Item without a key. Keys are optional (generated automatically), but may be used in the callbacks
  %br
  %div
    Active node:
    %span#echoActive
      -
  %div
    Focused node:
    %span#echoFocused
      -
  %br
  %p
    %button#btnAddCode
      Add nodes programmatically
    %button#btnAddObject
      Add nodes using arrays
    %button#btnActiveNode
      Activate item id4.3.2
    %button#btnShowActive
      Show active node...
/ End demo

.demo-description
  %p
    This example demonstrates the usage of some DynaTree and DynaTreeNode API functions.
/ End demo-description
