-@jquery_partial = 'iframe_1.js.haml'
-@dynatree_theme = 'start'
-@dynatree_theme = 'dynatree.xp.css'

.demo
  %h3
    =@title
  %p
    This page lives inside an iframe
    %br
    Click a link in the tree to load some content here.
    %br
    This button demonstrates, ho to access a tree in another frame:
    %br
    %br
    %button#btnExpand
      Toggle tree
/ End demo