-@title = "#{t('txt.dt.name')} - #{t('txt.dt.minexpand')}"
-@dynatree_theme = 'start'
-@dynatree_skin = 'dynatree.aero.css'

- content_for :content_head do
  = render(:partial => "minexpand.js.haml", :format => :js)

.demo
  %h3
    =@title
  
  %hr
    %p.description
      Root visible, minExpandLevel=0  
  #tree1
  %hr
    %p.description
      Root visible, minExpandLevel=1
  #tree2
  %hr
    %p.description
      Root hidden, minExpandLevel=1
    This is the default option:
  #tree3
  %hr
    %p.description
      Root hidden, minExpandLevel=2
    Note, that you cannot collapse the top-level nodes:
  #tree4

/ End demo