-@title = "#{t('txt.dt.name')} - #{t('txt.dt.minexpand')}"
-@dynatree_theme = 'start'
-@dynatree_skin = 'dynatree.aero.css'

- content_for :content_head do
  = render(:partial => "minexpand.js.haml", :format => :js)

.demo
  %h3
    =@title
  %p.description
    minExpandLevel=1
    %br
    This is the default option.
  #tree1
  %hr
  %p.description
    minExpandLevel=2
    %br
    Top-level nodes are always expanded, so the expander icon is hidden.
  #tree2
  %hr
  %p.description
    minExpandLevel=3
  #tree3
/ End demo