-@title = "#{t('txt.dt.name')} - #{t('txt.dt.quick')}"
-@dynatree_theme = 'start'
-@dynatree_skin = 'dynatree.xp.css'

- content_for :content_head do
  = render(:partial => "quick.js.haml", :format => :js)

.demo
  %h3
    =@title
  #tree

/ End demo
.demo-description
  %p
    This sample initializes the tree from a JavaScript object.
    %br
      An
      %i
        onActivate
      handler brings up an alert box when a node is selected.
/ End demo-description
    