-@title = "#{t('txt.dt.name')} - #{t('txt.dt.quick')}"
-@jquery_partial = 'quick.js.haml'

.demo
  %h3
    =@title
  #tree

/ End demo
.demo-description
  %p
    This sample initializes the tree from a JavaScript object.
    %br
      An
      %i
        onActivate
      handler brings up an alert box when a node is selected.
/ End demo-description
    