!!! Frameset
/
  <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
%html
  %head
    %meta{ :content => "text/html; charset=ISO-8859-1", "http-equiv" => "content-type" }
      %meta{ :name => "robots", :content => "noindex,follow" }
        %title
          Dynatree - Example Browser
  %frameset{ :framespacing => "0", :rows => "50,1*", :frameborder => "no" }
    %frame{ :name => "top", :noresize => "", :src => "samples-top.html", :marginwidth => "0", :scrolling => "NO", :marginheight => "0" }
      %frameset{ :cols => "200,1*" }
        %frame{ :name => "nav", :src => "samples-nav.html", :marginwidth => "0", :scrolling => "NO", :marginheight => "0" }
          %frame{ :name => "content", :src => "samples-welcome.html" }
  %noframes
    %body
      %p
        This page requires frames.
