!!! Strict
%html
  %head
    %meta{ :content => "text/html; charset=ISO-8859-1", "http-equiv" => "content-type" }
      %title
        Dynatree - Example
      %script{ :src => "../lib/jquery/jquery.js", :type => "text/javascript" }
      %script{ :src => "../lib/jquery/ui.core.js", :type => "text/javascript" }
      %script{ :src => "../lib/jquery/jquery.cookie.js", :type => "text/javascript" }
      %link{ :href => "sample.css", :rel => "stylesheet", :type => "text/css" }
        %script{ :src => "sample.js", :type => "text/javascript" }
  %body.example
    %h1
      dynatree - Examples
    %p.description
      This frameset presents some stand-alone html files as live examples for
      dynatree.
      %br
        View the html source for details...
        %br
          Have fun :-)
