!!! Strict
%html
  %head
    %meta{ :content => "text/html; charset=ISO-8859-1", "http-equiv" => "content-type" }
      %title
        Dynatree - Example
      %script{ :src => "../lib/jquery/jquery.js", :type => "text/javascript" }
      %script{ :src => "../lib/jquery/ui.core.js", :type => "text/javascript" }
      %script{ :src => "../lib/jquery/jquery.cookie.js", :type => "text/javascript" }
      %link{ :href => "../src/skin/ui.dynatree.css", :rel => "stylesheet", :type => "text/css" }
        %script{ :src => "../src/jquery.dynatree.js", :type => "text/javascript" }
        /
          start_Exclude: This block is not part of the sample code
        %link{ :href => "prettify.css", :rel => "stylesheet" }
          %script{ :src => "prettify.js", :type => "text/javascript" }
          %link{ :href => "sample.css", :rel => "stylesheet", :type => "text/css" }
            %script{ :src => "sample.js", :type => "text/javascript" }
            /
              End_Exclude
            %script{ :type => "text/javascript" }
              $(function(){
              $("#tree").dynatree({
              fx: { height: "toggle", duration: 200 },
              autoCollapse: true,
              onActivate: function(dtnode) {
              $("#echoActive").text(dtnode.data.title);
              },
              onDeactivate: function(dtnode) {
              $("#echoActive").text("-");
              }
              });
              });
  %body.example
    %h1
      Example: effects
    %p.description
      This sample enables effects to expand/Collapse and sets the
      %code
        autoCollapse
      option.
    #tree
      %ul{ :style => "display: none;" }
        %li#id1{ :title => "Look, a tool tip!" }
          item1 with key and tooltip
          %li#id2
            item2
            %li#id3.folder
              Folder with some children
              %ul
                %li#id3.1
                  Sub-item 3.1
                  %ul
                    %li#id3.1.1
                      Sub-item 3.1.1
                      %li#id3.1.2
                        Sub-item 3.1.2
                  %li#id3.2
                    Sub-item 3.2
                    %ul
                      %li#id3.2.1
                        Sub-item 3.2.1
                        %li#id3.2.2
                          Sub-item 3.2.2
              %li#id4.expanded
                Document with some children (expanded on init)
                %ul
                  %li#id4.1.active.focused
                    Sub-item 4.1 (active and focus on init)
                    %ul
                      %li#id4.1.1
                        Sub-item 4.1.1
                        %li#id4.1.2
                          Sub-item 4.1.2
                    %li#id4.2
                      Sub-item 4.2
                      %ul
                        %li#id4.2.1
                          Sub-item 4.2.1
                          %li#id4.2.2
                            Sub-item 4.2.2
    %div
      Active node:
      %span#echoActive
        \-
    /
      'start'_Exclude: This block is not part of the sample code
    %hr
      %p.sample-links.no_code
        %a.hideInsideFS{ :href => "http://dynatree.googlecode.com" }
          jquery.dynatree.js project home
        %a.hideOutsideFS{ :href => "#" }
          Link to this page
        %a.hideInsideFS{ :href => "samples.html" }
          Example Browser
        %a.codeExample{ :href => "#" }
          View source code
      /
        End_Exclude
