-@title = "#{t('txt.dt.name')} - #{t('txt.dt.theming.name')} - #{t('txt.dt.theming.aero')}"
-@dynatree_theme = 'redmond'
-@dynatree_skin = 'dynatree.aero.css'

- content_for :content_head do
  = render(:partial => "theming.js.haml", :format => :js)

.demo
  .div.ui-widget-content.ui-corner-all
    %h4.ui-widget-header.ui-corner-all
      =@title
    #tree{ :style => "padding: 20px;" }
      %ul
        %li
          Document with some children
          %ul
            %li
              Sub-item 4.1
            %li
              Sub-item 4.2
        %li.folder
          A folder
          %ul
            %li
              Node 2.1
            %li
              Node 2.2
        %li{ :data => "addClass:'custom1'" }
          Node with custom class 1
        %li{ :data => "isFolder: true, addClass:'custom2'" }
          Folder with custom class 2
          %ul
            %li{ :data => "addClass:'custom1'" }
              Node 4.1 (using custom class 1)
              %li
                Node 4.2
        %li{ :data => "icon: '../../demo/dynatree.custom/customDoc.png'" }
          Node with standard CSS, but custom icon
        %li{ :data => "isFolder: true, icon: '../../demo/dynatree.custom/customFolder.png'" }
          Folder with standard CSS but custom icon
          %ul
            %li
              Node 4.1
            %li
              Node 4.2
/ End demo

.demo-description
  %p
    Includes a custom CSS for a new theming (inspired by Windows Vista).
    %br
    Some nodes have their
    %code
      data.addClass
    attribute set.
    %br
    Finally, the last two nodes use the
    %code
      data.icon
    attribute.
/ End demo-description
