-@title = "#{t('txt.dt.name')} - #{t('txt.dt.ul')}"
-@dynatree_theme = 'start'
-@dynatree_skin = 'dynatree.xp.css'

- content_for :content_head do
  = render(:partial => "ul.js.haml", :format => :js)

.demo
  %h3
    =@title
  #tree
    %ul{ :style => "display:none" }
      %li#key1{ :title => "Look, a tool tip!" }
        item1 with key and tooltip
      %li#key2.selected
        item2: selected on init
      %li#key3.folder
        Folder with some children
        %ul
          %li#key3.1
            Sub-item 3.1
          %li#key3.2
            Sub-item 3.2
      %li#key4.expanded
        Document with some children (expanded on init)
        %ul
          %li#key4.1
            Sub-item 4.1
          %li#key4.2
            Sub-item 4.2
        %li#key5.lazy.folder
          Lazy folder
  %br
  %div
    Active node:
    %span#echoActive
      -

/ End demo
.demo-description
  %p
    This sample initializes the tree from a &lt;ul> element.
/ End demo-description   
