-@title = "#{t('txt.dt.name')} - #{t('txt.dt.ul')}"
-@dynatree_theme = 'start'
-@dynatree_skin = 'dynatree.aero.css'

- content_for :content_head do
  = render(:partial => "ul.js.haml", :format => :js)

.demo
  %h3
    =image_tag("icons/22x22/tree.png", :border => 0)
    =@title
  #tree
  %br
  %div
    Active node:
    %span#echoActive
      -

/ End demo
.demo-description
  %p
    This sample initializes the tree from a &lt;ul> element.
/ End demo-description   
