/
  \#####################################################################
  
  jQTouch iCal, 1.0 alpha
  @created by
  Bruno Alexandre, 26.03.2010
  twitter.com/balexandre
  balexandre.com
  bruno.in.dk [at] gmail.com
  
  \#####################################################################
  
  This is a static Event Calendar, just use your favorite
  language to create the events dynamically.
  
  Just read the QueryString values for:
  Day (day) Month (month) and Year (year)
  
  Layout:
  <li><span>TIME</span>MESSAGE</li>
  
  \######################################################################
%li
  %span 07:30
  %a{:href => "#"} breakfast with Catherine
%li
  %span 11:30
  %a{:href => "#"} lunch with Anna
%li
  %span 15:30
  %a{:href => "#"} brunch with Candy
%li
  %span 19:30
  %a{:href => "#"} dinner with the wife
