%li
  %span 07:30
  %a{:href => "#"} breakfast with Catherine
%li
  %span 11:30
  %a{:href => "#"} lunch with Anna
%li
  %span 15:30
  %a{:href => "#"} brunch with Candy
%li
  %span 19:30
  %a{:href => "#"} dinner with the wife
