:javascript
  var jQT = new $.jQTouch({
    icon: '/images/jquery/touch/ical/jqtouch-ical.png',
    addGlossToIcon: false,
    startupScreen: '/images/jquery/touch/ical/jqt_startup.png',
    statusBar: 'black',
    preloadImages: [
      '/images/jquery/touch/apple/backButton.png',
      '/images/jquery/touch/apple/toolButton.png',
      '/images/jquery/touch/apple/grayButton.png',
      '/images/jquery/touch/apple/whiteButton.png',
      '/images/jquery/touch/apple/loading.gif'
    ]
  });
  // Some sample Javascript functions:
  $(function(){
    jQT.resetHeight();
      
    // load calendar
    var currentTime = new Date();
    getCalendar('/jqtouch/ical/month', '/jqtouch/ical/events', currentTime); 				
  });
  
  $(document).ready(function() {    
    $(".bottom-bar-today").click( function() {
    	alert("Today");
    });  
    $(".bottom-bar-list").click( function() {
    	alert("List view");
    });  
    $(".bottom-bar-day").click( function() {
    	alert("Day view");
    });  
    $(".bottom-bar-month").click( function() {
    	alert("Month view");
    });
  });
  
:css
  #jqt.fullscreen #home .info { display: none; }
  #about { padding: 100px 10px 40px; text-shadow: rgba(255, 255, 255, 0.3) 0px -1px 0; font-size: 13px; text-align: center; background: #999; }
  #about p { margin-bottom: 8px; }
  #about a { color: #fff; font-weight: bold; text-decoration: none; }					
    					