= javascript_include_tag 'jquery.jqt.ical'

:javascript
  var jQT = new $.jQTouch({
    icon: '/images/jqtouch/ical/jqtouch-ical.png',
    addGlossToIcon: false,
    startupScreen: '/images/jqtouch/ical/jqt_startup.png',
    statusBar: 'black',
    preloadImages: [
      '/images/jqtouch/apple/backButton.png',
      '/images/jqtouch/apple/toolButton.png',
      '/images/jqtouch/apple/grayButton.png',
      '/images/jqtouch/apple/whiteButton.png',
      '/images/jqtouch/apple/loading.gif'
    ]
  });
  // Some sample Javascript functions:
  $(function(){
    // load calendar
    var currentTime = new Date();
    getCalendar('/jqtouch/ical/month', currentTime); 				
  });
  
  $(document).ready(function() {    
    $(".bottom-bar-today").click( function() {
    	alert("Today");
    });  
    $(".bottom-bar-list").click( function() {
    	alert("List view");
    });  
    $(".bottom-bar-day").click( function() {
    	alert("Day view");
    });  
    $(".bottom-bar-month").click( function() {
    	alert("Month view");
    });
  });
  
:css
  #jqt.fullscreen #home .info { display: none; }
  #about { padding: 100px 10px 40px; text-shadow: rgba(255, 255, 255, 0.3) 0px -1px 0; font-size: 13px; text-align: center; background: #999; }
  #about p { margin-bottom: 8px; }
  #about a { color: #fff; font-weight: bold; text-decoration: none; }					
    					