<!--
	#####################################################################
	
	jQTouch iCal, 1.0 alpha
	@created by 
		Bruno Alexandre, 26.03.2010
		twitter.com/balexandre
		balexandre.com
		bruno.in.dk [at] gmail.com
	
	#####################################################################
	
	This is a static Event Calendar, just use your favorite
	  language to create the events dynamically.
	
	Just read the QueryString values for:
		Day (day) Month (month) and Year (year)
		
	Layout:
		<li><span>TIME</span>MESSAGE</li>
	
	######################################################################
-->
<li><span>07:30</span><a href="#">breakfast with Catherine</a></li>
<li><span>11:30</span><a href="#">lunch with Anna</a></li>
<li><span>15:30</span><a href="#">brunch with Candy</a></li>
<li><span>19:30</span><a href="#">dinner with the wife</a></li>