%div{"data-role" => "page"}
  %div{"data-role" => "header"}
    %h1 Attribute Contains Word Selector [name~=value]
  #attributeContainsWord1{"data-role" => "content", "data-theme" => "c"}
    %h2.jq-clearfix.roundTop.section-title
      %span.name attributeContainsWord
      selector
    .entry-details
      %h4.name
        %span.versionAdded>
          version added:
          %a{:href => "/version/1.0/"} 1.0
        jQuery('[attribute~=value]')
      %ul.signatures
        %li
          %dl.arguments
            %dt attribute
            %dd An attribute name.
            %dt value
            %dd An attribute value. Quotes are optional.
      %p.desc
        %strong> Description:
        Selects elements that have the specified attribute with a value containing a given word, delimited by spaces.
      .longdesc
        %p This selector matches the test string against each word in the attribute value, where a "word" is defined as a string delimited by whitespace. The selector matches if the test string is exactly equal to any of the words.
      %h3 Example:
      #entry-examples.entry-examples
        #example-0
          %h4
            %span.desc Finds all inputs with a name attribute that contains the word 'man' and sets the value with some text.
          %pre
            %code.example.demo-code
              :preserve
                &lt;!DOCTYPE html&gt;
                &lt;html&gt;
                &lt;head&gt;
                  &lt;script src="http://code.jquery.com/jquery-latest.js"&gt;&lt;/script&gt;
                &lt;/head&gt;
                &lt;body&gt;
                	&lt;input name="man-news" /&gt;
                
                  &lt;input name="milk man" /&gt;
                  &lt;input name="letterman2" /&gt;
                  &lt;input name="newmilk" /&gt;
                &lt;script&gt;$("input[name~=man]").val("mr. man is in it!");&lt;/script&gt;
                &lt;/body&gt;
                &lt;/html&gt;          %h4 Demo:
          .demo.code-demo
