%div{"data-role" => "page"}
  %div{"data-role" => "header"}
    %h1 Attribute Starts With Selector [name^=value]
  #attributeStartsWith1{"data-role" => "content", "data-theme" => "c"}
    %h2.jq-clearfix.roundTop.section-title
      %span.name attributeStartsWith
      selector
    .entry-details
      %h4.name
        %span.versionAdded>
          version added:
          %a{:href => "/version/1.0/"} 1.0
        jQuery('[attribute^=value]')
      %ul.signatures
        %li
          %dl.arguments
            %dt attribute
            %dd An attribute name.
            %dt value
            %dd An attribute value. Quotes are optional.
      %p.desc
        %strong> Description:
        Selects elements that have the specified attribute with a value beginning exactly with a given string.
      .longdesc
        %p This selector can be useful for identifying elements in pages produced by server-side frameworks that produce HTML with systematic element IDs. However it will be slower than using a class selector so leverage classes, if you can, to group like elements.
      %h3 Example:
      #entry-examples.entry-examples
        #example-0
          %h4
            %span.desc Finds all inputs with an attribute name that starts with 'news' and puts text in them.
          %pre
            %code.example.demo-code
              :preserve
                &lt;!DOCTYPE html&gt;
                &lt;html&gt;
                &lt;head&gt;
                  &lt;script src="http://code.jquery.com/jquery-latest.js"&gt;&lt;/script&gt;
                &lt;/head&gt;
                &lt;body&gt;
                	&lt;input name="newsletter" /&gt;
                
                  &lt;input name="milkman" /&gt;
                  &lt;input name="newsboy" /&gt;
                &lt;script&gt;$("input[name^='news']").val("news here!");&lt;/script&gt;
                &lt;/body&gt;
                &lt;/html&gt;          %h4 Demo:
          .demo.code-demo
