%div{"data-role" => "page"}
  %div{"data-role" => "header"}
    %h1 .dblclick()
  #dblclick1{"data-role" => "content", "data-theme" => "c"}
    %h2.jq-clearfix.roundTop.section-title
      %span.name .dblclick( handler(eventObject) )
      %span.returns
        Returns:
        %a.return{:href => "http://docs.jquery.com/Types#jQuery"} jQuery
    .entry-details
      %p.desc
        %strong> Description:
        Bind an event handler to the "dblclick" JavaScript event, or trigger that event on an element.
      %ul.signatures
        %li#dblclick-handlereventObject.signature
          %h4.name
            %span.versionAdded>
              version added:
              %a{:href => "/category/version/1.0/"} 1.0
            \.dblclick( handler(eventObject) )
          %p.arguement
            %strong> handler(eventObject)
            A function to execute each time the event is triggered.
        %li#dblclick.signature
          %h4.name
            %span.versionAdded>
              version added:
              %a{:href => "/category/version/1.0/"} 1.0
            \.dblclick()
      .longdesc
        %p
          This method is a shortcut for
          %code .bind('dblclick', handler)
          in the first variation, and
          %code .trigger('dblclick')
          in the second.
          The
          %code dblclick
          event is sent to an element when the element is double-clicked. Any HTML element can receive this event.
          For example, consider the HTML:
        %pre
          :preserve
            &lt;div id="target"&gt;
              Double-click here
            &lt;/div&gt;
            &lt;div id="other"&gt;
              Trigger the handler
            &lt;/div&gt;        %p.image
          %img{:alt => "", :src => "http://api.jquery.com/images/0042_05_04.png"}/
        %p
          The event handler can be bound to any
          = succeed ":" do
            %code &lt;div&gt;
        %pre
          :preserve
            $('#target').dblclick(function() {
              alert('Handler for .dblclick() called.');
            });        %p Now if we double-click on this element, the alert is displayed:
        %p
          %span.output Handler for .dblclick() called.
        %p We can also trigger the event when a different element is clicked:
        %pre
          :preserve
            $('#other').click(function() {
              $('#target').dblclick();
            });        %p
          After this code executes, (single) clicks on
          %span.output Trigger the handler
          will also alert the message.
        %p
          The
          %code dblclick
          event is only triggered after this exact series of events:
        %ul
          %li The mouse button is depressed while the pointer is inside the element.
          %li The mouse button is released while the pointer is inside the element.
          %li The mouse button is depressed again while the pointer is inside the element, within a time window that is system-dependent.
          %li The mouse button is released while the pointer is inside the element.
        %p
          It is inadvisable to bind handlers to both the
          %code click
          and
          %code dblclick
          events for the same element. The sequence of events triggered varies from browser to browser, with some receiving two
          %code click
          events and others only one. If an interface that reacts differently to single- and double-clicks cannot be avoided, then the
          %code dblclick
          event should be simulated within the
          %code click
          handler. We can achieve this by saving a timestamp in the handler, and then comparing the current time to the saved timestamp on subsequent clicks. If the difference is small enough, we can treat the click as a double-click.
      %h3 Examples:
      #entry-examples.entry-examples
        #example-0
          %h4
            Example:
            %span.desc To bind a "Hello World!" alert box the dblclick event on every paragraph on the page:
          %pre
            %code.example $("p").dblclick( function () { alert("Hello World!"); });
        #example-1
          %h4
            Example:
            %span.desc Double click to toggle background color.
          %pre
            %code.example.demo-code
              :preserve
                &lt;!DOCTYPE html&gt;
                &lt;html&gt;
                &lt;head&gt;
                  &lt;style&gt;
                
                  div { background:blue;
                        color:white;
                        height:100px;
                        width:150px;
                 }
                  div.dbl { background:yellow;color:black; }
                  &lt;/style&gt;
                  &lt;script src="http://code.jquery.com/jquery-latest.js"&gt;&lt;/script&gt;
                &lt;/head&gt;
                &lt;body&gt;
                	&lt;div&gt;&lt;/div&gt;&lt;span&gt;Double click the block&lt;/span&gt;
                &lt;script&gt;
                    var divdbl = $("div:first");
                    divdbl.dblclick(function () { 
                      divdbl.toggleClass('dbl'); 
                    });
                
                &lt;/script&gt;
                &lt;/body&gt;
                &lt;/html&gt;          %h4 Demo:
          .demo.code-demo
