%div{"data-role" => "page"}
  %div{"data-role" => "header"}
    %h1 .detach()
  #detach1{"data-role" => "content", "data-theme" => "c"}
    %h2.jq-clearfix.roundTop.section-title
      %span.name .detach( [ selector ] )
      %span.returns
        Returns:
        %a.return{:href => "http://docs.jquery.com/Types#jQuery"} jQuery
    .entry-details
      %p.desc
        %strong> Description:
        Remove the set of matched elements from the DOM.
      %ul.signatures
        %li#detach-selector.signature
          %h4.name
            %span.versionAdded>
              version added:
              %a{:href => "/category/version/1.4/"} 1.4
            \.detach( [ selector ] )
          %p.arguement
            %strong> selector
            A selector expression that filters the set of matched elements to be removed.
      .longdesc
        %p
          The
          %code .detach()
          method is the same as
          = succeed "," do
            %code
              %a{:href => "/remove"} .remove()
          except that
          %code .detach()
          keeps all jQuery data associated with the removed elements. This method is useful when removed elements are to be reinserted into the DOM at a later time.
      %h3 Example:
      #entry-examples.entry-examples
        #example-0
          %h4
            %span.desc Detach all paragraphs from the DOM
          %pre
            %code.example.demo-code
              :preserve
                &lt;!DOCTYPE html&gt;
                &lt;html&gt;
                &lt;head&gt;
                  &lt;style&gt;p { background:yellow; margin:6px 0; } p.off { background: black; }&lt;/style&gt;
                  &lt;script src="http://code.jquery.com/jquery-latest.js"&gt;&lt;/script&gt;
                &lt;/head&gt;
                &lt;body&gt;
                	&lt;p&gt;Hello&lt;/p&gt; 
                  how are 
                  &lt;p&gt;you?&lt;/p&gt;
                  &lt;button&gt;Attach/detach paragraphs&lt;/button&gt;
                &lt;script&gt;
                    $("p").click(function(){
                      $(this).toggleClass("off");
                    });
                    var p;
                    $("button").click(function(){
                      if ( p ) {
                        p.appendTo("body");
                        p = null;
                      } else {
                        p = $("p").detach();
                      }
                    });&lt;/script&gt;
                &lt;/body&gt;
                &lt;/html&gt;          %h4 Demo:
          .demo.code-demo
