%div{"data-role" => "page"}
  %div{"data-role" => "header"}
    %h1 :disabled Selector
  #disabled1{"data-role" => "content", "data-theme" => "c"}
    %h2.jq-clearfix.roundTop.section-title
      %span.name disabled
      selector
    .entry-details
      %h4.name
        %span.versionAdded>
          version added:
          %a{:href => "/version/1.0/"} 1.0
        jQuery(':disabled')
      %p.desc
        %strong> Description:
        Selects all elements that are disabled.
      .longdesc
        %p
          As with other pseudo-class selectors (those that begin with a ":") it is recommended to precede it with a tag name or some other selector; otherwise, the universal selector ("*") is implied. In other words, the bare
          %code $(':disabled')
          is equivalent to
          = succeed "," do
            %code $('*:disabled')
          so
          %code $('input:disabled')
          should be used instead.
      %h3 Example:
      #entry-examples.entry-examples
        #example-0
          %h4
            %span.desc Finds all input elements that are disabled.
          %pre
            %code.example.demo-code
              :preserve
                &lt;!DOCTYPE html&gt;
                &lt;html&gt;
                &lt;head&gt;
                  &lt;script src="http://code.jquery.com/jquery-latest.js"&gt;&lt;/script&gt;
                &lt;/head&gt;
                &lt;body&gt;
                	&lt;form&gt;
                
                    &lt;input name="email" disabled="disabled" /&gt;
                    &lt;input name="id" /&gt;
                  &lt;/form&gt;
                &lt;script&gt;$("input:disabled").val("this is it");&lt;/script&gt;
                &lt;/body&gt;
                &lt;/html&gt;          %h4 Demo:
          .demo.code-demo
