%div{"data-role" => "page"}
  %div{"data-role" => "header"}
    %h1 event.preventDefault()
  %div{"data-role" => "content", "data-theme" => "c", :id => "event.preventDefault1"}
    %h2.jq-clearfix.roundTop.section-title
      %span.name event.preventDefault()
      %span.returns
        Returns:
        %a.return{:href => "http://docs.jquery.com/Types#undefined"} undefined
    .entry-details
      %p.desc
        %strong Description:
        If this method is called, the default action of the event will not be triggered.
      %ul.signatures
        %li.signature{:id => "event.preventDefault"}
          %h4.name
            %span.versionAdded>
              version added:
              %a{:href => "/category/version/1.0/"} 1.0
            event.preventDefault()
      .longdesc
        %p
          For example, clicked anchors will not take the browser to a new URL. We can use
          %code event.isDefaultPrevented()
          to determine if this method has been called by an event handler that was triggered by this event.
      %h3 Example:
      #entry-examples.entry-examples
        #example-0
          %h4
            %span.desc Cancel the default action (navigation) of the click.
          %pre
            %code.example.demo-code
              :preserve
                &lt;!DOCTYPE html&gt;
                &lt;html&gt;
                &lt;head&gt;
                  &lt;script src="http://code.jquery.com/jquery-latest.js"&gt;&lt;/script&gt;
                &lt;/head&gt;
                &lt;body&gt;
                	
                &lt;a href="http://jquery.com"&gt;default click action is prevented&lt;/a&gt;
                &lt;div id="log"&gt;&lt;/div&gt;
                
                &lt;script&gt;
                $("a").click(function(event) {
                  event.preventDefault();
                  $('&lt;div/&gt;')
                    .append('default ' + event.type + ' prevented')
                    .appendTo('#log');
                });
                &lt;/script&gt;
                &lt;/body&gt;
                &lt;/html&gt;          %h4 Demo:
          .demo.code-demo
