%div{"data-role" => "page"}
  %div{"data-role" => "header"}
    %h1 .fadeTo()
  #fadeTo1{"data-role" => "content", "data-theme" => "c"}
    %h2.jq-clearfix.roundTop.section-title
      %span.name .fadeTo( duration, opacity, [ callback ] )
      %span.returns
        Returns:
        %a.return{:href => "http://docs.jquery.com/Types#jQuery"} jQuery
    .entry-details
      %p.desc
        %strong> Description:
        Adjust the opacity of the matched elements.
      %ul.signatures
        %li#fadeTo-duration-opacity-callback.signature
          %h4.name
            %span.versionAdded>
              version added:
              %a{:href => "/category/version/1.0/"} 1.0
            \.fadeTo( duration, opacity, [ callback ] )
          %p.arguement
            %strong> duration
            A string or number determining how long the animation will run.
          %p.arguement
            %strong> opacity
            A number between 0 and 1 denoting the target opacity.
          %p.arguement
            %strong> callback
            A function to call once the animation is complete.
      .longdesc
        %p
          The
          %code .fadeTo()
          method animates the opacity of the matched elements.
        %p
          Durations are given in milliseconds; higher values indicate slower animations, not faster ones. The strings
          %code 'fast'
          and
          %code 'slow'
          can be supplied to indicate durations of
          %code 200
          and
          %code 600
          milliseconds, respectively. If any other string is supplied, the default duration of
          %code 400
          milliseconds is used. Unlike the other effect methods,
          %code .fadeTo()
          requires that
          %code duration
          be explicitly specified.
        %p
          If supplied, the callback is fired once the animation is complete. This can be useful for stringing different animations together in sequence. The callback is not sent any arguments, but
          %code this
          is set to the DOM element being animated. If multiple elements are animated, it is important to note that the callback is executed once per matched element, not once for the animation as a whole.
        %p We can animate any element, such as a simple image:
        %pre
          :preserve
            &lt;div id="clickme"&gt;
                Click here
              &lt;/div&gt;
              &lt;img id="book" src="book.png" alt="" width="100" height="123" /&gt;
              With the element initially shown, we can dim it slowly:
              $('#clickme').click(function() {
                $('#book').fadeTo('slow', 0.5, function() {
                  // Animation complete.
                });
              });
                      %p.image.four-across
          %img{:alt => "", :src => "http://api.jquery.com/images/0042_06_41.png"}
            %img{:alt => "", :src => "http://api.jquery.com/images/0042_06_42.png"}
              %img{:alt => "", :src => "http://api.jquery.com/images/0042_06_43.png"}
                %img{:alt => "", :src => "http://api.jquery.com/images/0042_06_44.png"}/
        %p
          With
          %code duration
          set to
          = succeed "," do
            %code 0
          this method just changes the
          %code opacity
          CSS property, so
          %code .fadeTo(0, opacity)
          is the same as
          = succeed "." do
            %code .css('opacity', opacity)
      %h3 Examples:
      #entry-examples.entry-examples
        #example-0
          %h4
            Example:
            %span.desc Animates first paragraph to fade to an opacity of 0.33 (33%, about one third visible), completing the animation within 600 milliseconds.
          %pre
            %code.example.demo-code
              :preserve
                &lt;!DOCTYPE html&gt;
                &lt;html&gt;
                &lt;head&gt;
                  &lt;script src="http://code.jquery.com/jquery-latest.js"&gt;&lt;/script&gt;
                &lt;/head&gt;
                &lt;body&gt;
                	&lt;p&gt;
                Click this paragraph to see it fade.
                &lt;/p&gt;
                
                &lt;p&gt;
                Compare to this one that won't fade.
                &lt;/p&gt;
                &lt;script&gt;
                $("p:first").click(function () {
                $(this).fadeTo("slow", 0.33);
                });
                &lt;/script&gt;
                &lt;/body&gt;
                &lt;/html&gt;          %h4 Demo:
          .demo.code-demo
        #example-1
          %h4
            Example:
            %span.desc Fade div to a random opacity on each click, completing the animation within 200 milliseconds.
          %pre
            %code.example.demo-code
              :preserve
                &lt;!DOCTYPE html&gt;
                &lt;html&gt;
                &lt;head&gt;
                  &lt;style&gt;
                p { width:80px; margin:0; padding:5px; }
                div { width:40px; height:40px; position:absolute; }
                div#one { top:0; left:0; background:#f00; }
                div#two { top:20px; left:20px; background:#0f0; }
                div#three { top:40px; left:40px; background:#00f; }
                &lt;/style&gt;
                  &lt;script src="http://code.jquery.com/jquery-latest.js"&gt;&lt;/script&gt;
                &lt;/head&gt;
                &lt;body&gt;
                	&lt;p&gt;And this is the library that John built...&lt;/p&gt;
                
                &lt;div id="one"&gt;&lt;/div&gt;
                &lt;div id="two"&gt;&lt;/div&gt;
                &lt;div id="three"&gt;&lt;/div&gt;
                &lt;script&gt;
                $("div").click(function () {
                $(this).fadeTo("fast", Math.random());
                });
                &lt;/script&gt;
                &lt;/body&gt;
                &lt;/html&gt;          %h4 Demo:
          .demo.code-demo
        #example-2
          %h4
            Example:
            %span.desc Find the right answer!  The fade will take 250 milliseconds and change various styles when it completes.
          %pre
            %code.example.demo-code
              :preserve
                &lt;!DOCTYPE html&gt;
                &lt;html&gt;
                &lt;head&gt;
                  &lt;style&gt;
                div, p { width:80px; height:40px; top:0; margin:0; 
                position:absolute; padding-top:8px; }
                p { background:#fcc; text-align:center; }
                div { background:blue; }
                &lt;/style&gt;
                  &lt;script src="http://code.jquery.com/jquery-latest.js"&gt;&lt;/script&gt;
                &lt;/head&gt;
                &lt;body&gt;
                	&lt;p&gt;Wrong&lt;/p&gt;
                &lt;div&gt;&lt;/div&gt;
                &lt;p&gt;Wrong&lt;/p&gt;
                &lt;div&gt;&lt;/div&gt;
                
                &lt;p&gt;Right!&lt;/p&gt;
                &lt;div&gt;&lt;/div&gt;
                &lt;script&gt;
                var getPos = function (n) {
                return (Math.floor(n) * 90) + "px";
                };
                $("p").each(function (n) {
                var r = Math.floor(Math.random() * 3);
                var tmp = $(this).text();
                $(this).text($("p:eq(" + r + ")").text());
                $("p:eq(" + r + ")").text(tmp);
                $(this).css("left", getPos(n));
                });
                $("div").each(function (n) {
                      $(this).css("left", getPos(n));
                    })
                .css("cursor", "pointer")
                .click(function () {
                      $(this).fadeTo(250, 0.25, function () {
                            $(this).css("cursor", "")
                                   .prev().css({"font-weight": "bolder",
                                                "font-style": "italic"});
                          });
                    });
                
                &lt;/script&gt;
                &lt;/body&gt;
                &lt;/html&gt;          %h4 Demo:
          .demo.code-demo
