%div{"data-role" => "page"}
  %div{"data-role" => "header"}
    %h1 .hasClass()
  #hasClass1{"data-role" => "content", "data-theme" => "c"}
    %h2.jq-clearfix.roundTop.section-title
      %span.name .hasClass( className )
      %span.returns
        Returns:
        %a.return{:href => "http://docs.jquery.com/Types#Boolean"} Boolean
    .entry-details
      %p.desc
        %strong> Description:
        Determine whether any of the matched elements are assigned the given class.
      %ul.signatures
        %li#hasClass-className.signature
          %h4.name
            %span.versionAdded>
              version added:
              %a{:href => "/category/version/1.2/"} 1.2
            \.hasClass( className )
          %p.arguement
            %strong> className
            The class name to search for.
      .longdesc
        %p Elements may have more than one class assigned to them. In HTML, this is represented by separating the class names with a space:
        %pre &lt;div id="mydiv" class="foo bar"&gt;&lt;/div&gt;
        %p
          The
          %code .hasClass()
          method will return
          %code true
          if the class is assigned to an element, even if other classes also are. For example, given the HTML above, the following will return
          = succeed ":" do
            %code true
        %pre $('#mydiv').hasClass('foo')
        %p as would:
        %pre $('#mydiv').hasClass('bar')
      %h3 Example:
      #entry-examples.entry-examples
        #example-0
          %h4
            %span.desc Looks for the class 'selected' on the matched elements.
          %pre
            %code.example.demo-code
              :preserve
                &lt;!DOCTYPE html&gt;
                &lt;html&gt;
                &lt;head&gt;
                  &lt;style&gt;
                
                  p { margin: 8px; font-size:16px; }
                  .selected { color:red; }
                  .highlight { background:yellow; }
                  &lt;/style&gt;
                  &lt;script src="http://code.jquery.com/jquery-latest.js"&gt;&lt;/script&gt;
                &lt;/head&gt;
                &lt;body&gt;
                	&lt;p&gt;Hello&lt;/p&gt;
                  &lt;p class="selected"&gt;Goodbye&lt;/p&gt;
                  &lt;div id="result1"&gt;First paragraph has selected class: &lt;/div&gt;
                
                  &lt;div id="result2"&gt;Last paragraph has selected class: &lt;/div&gt;
                  &lt;div id="result3"&gt;Some paragraph has selected class: &lt;/div&gt;
                &lt;script&gt;$("div#result1").append($("p:first").hasClass("selected").toString());
                $("div#result2").append($("p:last").hasClass("selected").toString());
                $("div#result3").append($("p").hasClass("selected").toString());&lt;/script&gt;
                &lt;/body&gt;
                &lt;/html&gt;          %h4 Demo:
          .demo.code-demo
