%div{"data-role" => "page"}
  %div{"data-role" => "header"}
    %h1 :hidden Selector
  #hidden1{"data-role" => "content", "data-theme" => "c"}
    %h2.jq-clearfix.roundTop.section-title
      %span.name hidden
      selector
    .entry-details
      %h4.name
        %span.versionAdded>
          version added:
          %a{:href => "/version/1.0/"} 1.0
        jQuery(':hidden')
      %p.desc
        %strong> Description:
        Selects all elements that are hidden.
      .longdesc
        %p Elements can be considered hidden for several reasons:
        %ul
          %li They have a display value of none.
          %li They are form elements with type="hidden".
          %li Their width and height are explicitly set to 0.
          %li An ancestor element is hidden, so the element is not shown on the page.
        %p
          How
          %code :hidden
          is determined was changed in jQuery 1.3.2. An element is assumed to be hidden if it or any of its parents consumes no space in the document. CSS visibility isn't taken into account (therefore
          = succeed ")." do
            %code $(elem).css('visibility','hidden').is(':hidden') == false
          The
          %a{:href => "http://docs.jquery.com/Release:jQuery_1.3.2#:visible.2F:hidden_Overhauled"} release notes
          outline the changes in more detail.
      %h3 Example:
      #entry-examples.entry-examples
        #example-0
          %h4
            %span.desc Shows all hidden divs and counts hidden inputs.
          %pre
            %code.example.demo-code
              :preserve
                &lt;!DOCTYPE html&gt;
                &lt;html&gt;
                &lt;head&gt;
                  &lt;style&gt;
                  div { width:70px; height:40px; background:#ee77ff; margin:5px; float:left; }
                  span { display:block; clear:left; color:red; }
                  .starthidden { display:none; }
                  &lt;/style&gt;
                  &lt;script src="http://code.jquery.com/jquery-latest.js"&gt;&lt;/script&gt;
                &lt;/head&gt;
                &lt;body&gt;
                	&lt;span&gt;&lt;/span&gt;
                  &lt;div&gt;&lt;/div&gt;
                  &lt;div style="display:none;"&gt;Hider!&lt;/div&gt;
                  &lt;div&gt;&lt;/div&gt;
                
                  &lt;div class="starthidden"&gt;Hider!&lt;/div&gt;
                  &lt;div&gt;&lt;/div&gt;
                  &lt;form&gt;
                    &lt;input type="hidden" /&gt;
                
                    &lt;input type="hidden" /&gt;
                    &lt;input type="hidden" /&gt;
                  &lt;/form&gt;
                  &lt;span&gt;
                
                  &lt;/span&gt;
                &lt;script&gt;
                    // in some browsers :hidden includes head, title, script, etc... so limit to body
                    $("span:first").text("Found " + $(":hidden", document.body).length + 
                                         " hidden elements total.");
                    $("div:hidden").show(3000);
                    $("span:last").text("Found " + $("input:hidden").length + " hidden inputs.");
                
                &lt;/script&gt;
                &lt;/body&gt;
                &lt;/html&gt;          %h4 Demo:
          .demo.code-demo
