%div{"data-role" => "page"}
  %div{"data-role" => "header"}
    %h1 jQuery.globalEval()
  %div{"data-role" => "content", "data-theme" => "c", :id => "jQuery.globalEval1"}
    %h2.jq-clearfix.roundTop.section-title
      %span.name jQuery.globalEval( code )
      %span.returns
    .entry-details
      %p.desc
        %strong> Description:
        Execute some JavaScript code globally.
      %ul.signatures
        %li.signature{:id => "jQuery.globalEval-code"}
          %h4.name
            %span.versionAdded>
              version added:
              %a{:href => "/category/version/1.0.4/"} 1.0.4
            jQuery.globalEval( code )
          %p.arguement
            %strong> code
            The JavaScript code to execute.
      .longdesc
        %p
          This method behaves differently from using a normal JavaScript
          %code eval()
          in that it's executed within the global context (which is important for loading external scripts dynamically).
      %h3 Example:
      #entry-examples.entry-examples
        #example-0
          %h4
            %span.desc Execute a script in the global context.
          %pre
            %code.example
              :preserve
                function test(){
                    jQuery.globalEval("var newVar = true;")
                }
                test();
                // newVar === true