%div{"data-role" => "page"}
  %div{"data-role" => "header"}
    %h1 jQuery.inArray()
  %div{"data-role" => "content", "data-theme" => "c", :id => "jQuery.inArray1"}
    %h2.jq-clearfix.roundTop.section-title
      %span.name jQuery.inArray( value, array )
      %span.returns
        Returns:
        %a.return{:href => "http://docs.jquery.com/Types#Number"} Number
    .entry-details
      %p.desc
        %strong> Description:
        Search for a specified value within an array and return its index (or -1 if not found).
      %ul.signatures
        %li.signature{:id => "jQuery.inArray-value-array"}
          %h4.name
            %span.versionAdded>
              version added:
              %a{:href => "/category/version/1.2/"} 1.2
            jQuery.inArray( value, array )
          %p.arguement
            %strong> value
            The value to search for.
          %p.arguement
            %strong> array
            An array through which to search.
      .longdesc
        %p
          The
          %code $.inArray()
          method is similar to JavaScript's native
          %code .indexOf()
          method in that it returns -1 when it doesn't find a match. If the first element within the array matches
          = succeed "," do
            %code value
          %code $.inArray()
          returns 0.
        %p
          Because JavaScript treats 0 as loosely equal to false (i.e. 0 == false, but 0 !== false), if we're checking for the presence of
          %code value
          within
          = succeed "," do
            %code array
          we need to check if it's not equal to (or greater than) -1.
      %h3 Example:
      #entry-examples.entry-examples
        #example-0
          %h4
            %span.desc Report the index of some elements in the array.
          %pre
            %code.example.demo-code
              :preserve
                &lt;!DOCTYPE html&gt;
                &lt;html&gt;
                &lt;head&gt;
                  &lt;style&gt;
                  div { color:blue; }
                  span { color:red; }
                &lt;/style&gt;
                  &lt;script src="http://code.jquery.com/jquery-latest.js"&gt;&lt;/script&gt;
                &lt;/head&gt;
                &lt;body&gt;
                	
                &lt;div&gt;"John" found at &lt;span&gt;&lt;/span&gt;&lt;/div&gt;
                &lt;div&gt;4 found at &lt;span&gt;&lt;/span&gt;&lt;/div&gt;
                &lt;div&gt;"Karl" not found, so &lt;span&gt;&lt;/span&gt;&lt;/div&gt;
                &lt;script&gt;var arr = [ 4, "Pete", 8, "John" ];
                
                $("span:eq(0)").text(jQuery.inArray("John", arr));
                $("span:eq(1)").text(jQuery.inArray(4, arr));
                $("span:eq(2)").text(jQuery.inArray("Karl", arr));
                
                &lt;/script&gt;
                &lt;/body&gt;
                &lt;/html&gt;          %h4 Demo:
          .demo.code-demo
