%div{"data-role" => "page"}
  %div{"data-role" => "header"}
    %h1 :last-child Selector
  #last-child1{"data-role" => "content", "data-theme" => "c"}
    %h2.jq-clearfix.roundTop.section-title
      %span.name last-child
      selector
    .entry-details
      %h4.name
        %span.versionAdded>
          version added:
          %a{:href => "/version/1.1.4/"} 1.1.4
        jQuery(':last-child')
      %p.desc
        %strong> Description:
        Selects all elements that are the last child of their parent.
      .longdesc
        %p
          While
          %a{:href => "/last-selector"} :last
          matches only a single element,
          %code :last-child
          can match more than one: one for each parent.
      %h3 Example:
      #entry-examples.entry-examples
        #example-0
          %h4
            %span.desc Finds the last span in each matched div and adds some css plus a hover state.
          %pre
            %code.example.demo-code
              :preserve
                &lt;!DOCTYPE html&gt;
                &lt;html&gt;
                &lt;head&gt;
                  &lt;style&gt;
                  span.solast { text-decoration:line-through; }
                  &lt;/style&gt;
                  &lt;script src="http://code.jquery.com/jquery-latest.js"&gt;&lt;/script&gt;
                &lt;/head&gt;
                &lt;body&gt;
                	&lt;div&gt;
                    &lt;span&gt;John,&lt;/span&gt;
                    &lt;span&gt;Karl,&lt;/span&gt;
                    &lt;span&gt;Brandon,&lt;/span&gt;
                
                    &lt;span&gt;Sam&lt;/span&gt;
                  &lt;/div&gt;
                  &lt;div&gt;
                    &lt;span&gt;Glen,&lt;/span&gt;
                    &lt;span&gt;Tane,&lt;/span&gt;
                
                    &lt;span&gt;Ralph,&lt;/span&gt;
                    &lt;span&gt;David&lt;/span&gt;
                  &lt;/div&gt;
                &lt;script&gt;
                    $("div span:last-child")
                        .css({color:"red", fontSize:"80%"})
                        .hover(function () {
                              $(this).addClass("solast");
                            }, function () {
                              $(this).removeClass("solast");
                            });
                
                &lt;/script&gt;
                &lt;/body&gt;
                &lt;/html&gt;          %h4 Demo:
          .demo.code-demo
