%div{"data-role" => "page"}
  %div{"data-role" => "header"}
    %h1 .offsetParent()
  #offsetParent1{"data-role" => "content", "data-theme" => "c"}
    %h2.jq-clearfix.roundTop.section-title
      %span.name .offsetParent()
      %span.returns
        Returns:
        %a.return{:href => "http://docs.jquery.com/Types#jQuery"} jQuery
    .entry-details
      %p.desc
        %strong> Description:
        Get the closest ancestor element that is positioned.
      %ul.signatures
        %li#offsetParent.signature
          %h4.name
            %span.versionAdded>
              version added:
              %a{:href => "/category/version/1.26/"} 1.26
            \.offsetParent()
      .longdesc
        %p
          Given a jQuery object that represents a set of DOM elements, the
          %code .offsetParent()
          method allows us to search through the ancestors of these elements in the DOM tree and construct a new jQuery object wrapped around the closest positioned ancestor. An element is said to be positioned if it has a CSS position attribute of
          = succeed "," do
            %code relative
          = succeed "," do
            %code absolute
          or
          = succeed "." do
            %code fixed
          This information is useful for calculating offsets for performing animations and placing objects on the page.
        %p Consider a page with a basic nested list on it, with a positioned element:
        %pre
          :preserve
            
            &lt;ul class="level-1"&gt;
              &lt;li class="item-i"&gt;I&lt;/li&gt;
              &lt;li class="item-ii" style="position: relative;"&gt;II
                &lt;ul class="level-2"&gt;
                  &lt;li class="item-a"&gt;A&lt;/li&gt;
                  &lt;li class="item-b"&gt;B
                    &lt;ul class="level-3"&gt;
                      &lt;li class="item-1"&gt;1&lt;/li&gt;
                      &lt;li class="item-2"&gt;2&lt;/li&gt;
                      &lt;li class="item-3"&gt;3&lt;/li&gt;
                    &lt;/ul&gt;
                  &lt;/li&gt;
                  &lt;li class="item-c"&gt;C&lt;/li&gt;
                &lt;/ul&gt;
              &lt;/li&gt;
              &lt;li class="item-iii"&gt;III&lt;/li&gt;
            &lt;/ul&gt;
        %p If we begin at item A, we can find its positioned ancestor:
        %pre $('li.item-a').offsetParent().css('background-color', 'red');
        %p This will change the color of list item II, which is positioned.
      %h3 Example:
      #entry-examples.entry-examples
        #example-0
          %h4
            %span.desc Find the offsetParent of item "A."
          %pre
            %code.example.demo-code
              :preserve
                &lt;!DOCTYPE html&gt;
                &lt;html&gt;
                &lt;head&gt;
                  &lt;script src="http://code.jquery.com/jquery-latest.js"&gt;&lt;/script&gt;
                &lt;/head&gt;
                &lt;body&gt;
                	
                    &lt;ul class="level-1"&gt;
                      &lt;li class="item-i"&gt;I&lt;/li&gt;
                      &lt;li class="item-ii" style="position: relative;"&gt;II
                        &lt;ul class="level-2"&gt;
                          &lt;li class="item-a"&gt;A&lt;/li&gt;
                          &lt;li class="item-b"&gt;B
                            &lt;ul class="level-3"&gt;
                              &lt;li class="item-1"&gt;1&lt;/li&gt;
                              &lt;li class="item-2"&gt;2&lt;/li&gt;
                              &lt;li class="item-3"&gt;3&lt;/li&gt;
                            &lt;/ul&gt;
                          &lt;/li&gt;
                          &lt;li class="item-c"&gt;C&lt;/li&gt;
                        &lt;/ul&gt;
                      &lt;/li&gt;
                      &lt;li class="item-iii"&gt;III&lt;/li&gt;
                    &lt;/ul&gt;
                  
                &lt;script&gt;$('li.item-a').offsetParent().css('background-color', 'red');&lt;/script&gt;
                &lt;/body&gt;
                &lt;/html&gt;          %h4 Demo:
          .demo.code-demo{:rel => "250"}
