%div{"data-role" => "page"}
  %div{"data-role" => "header"}
    %h1 .position()
  #position1{"data-role" => "content", "data-theme" => "c"}
    %h2.jq-clearfix.roundTop.section-title
      %span.name .position()
      %span.returns
        Returns:
        %a.return{:href => "http://docs.jquery.com/Types#Object"} Object
    .entry-details
      %p.desc
        %strong> Description:
        Get the current coordinates of the first element in the set of matched elements, relative to the offset parent.
      %ul.signatures
        %li#position.signature
          %h4.name
            %span.versionAdded>
              version added:
              %a{:href => "/category/version/1.2/"} 1.2
            \.position()
      .longdesc
        %p
          The
          %code .position()
          method allows us to retrieve the current position of an element
          = succeed "." do
            %em relative to the offset parent
          Contrast this with
          = succeed "," do
            %code
              %a{:href => "/offset"} .offset()
          which retrieves the current position
          = succeed "." do
            %em relative to the document
          When positioning a new element near another one and within the same containing DOM element,
          %code .position()
          is the more useful.
        %p
          Returns an object containing the properties
          %code top
          and
          = succeed "." do
            %code left
      %h3 Example:
      #entry-examples.entry-examples
        #example-0
          %h4
            %span.desc Access the position of the second paragraph:
          %pre
            %code.example.demo-code
              :preserve
                &lt;!DOCTYPE html&gt;
                &lt;html&gt;
                &lt;head&gt;
                  &lt;style&gt;
                
                  div { padding: 15px;}
                  p { margin-left:10px; }
                  &lt;/style&gt;
                  &lt;script src="http://code.jquery.com/jquery-latest.js"&gt;&lt;/script&gt;
                &lt;/head&gt;
                &lt;body&gt;
                	&lt;div&gt;&lt;p&gt;Hello&lt;/p&gt;&lt;/div&gt;&lt;p&gt;&lt;/p&gt;
                &lt;script&gt;var p = $("p:first");
                var position = p.position();
                $("p:last").text( "left: " + position.left + ", top: " + position.top );&lt;/script&gt;
                &lt;/body&gt;
                &lt;/html&gt;          %h4 Demo:
          .demo.code-demo
