%div{"data-role" => "page"}
  %div{"data-role" => "header"}
    %h1 .text()
  #text1{"data-role" => "content", "data-theme" => "c"}
    %h2.jq-clearfix.roundTop.section-title
      %span.name .text()
      %span.returns
        Returns:
        %a.return{:href => "http://docs.jquery.com/Types#String"} String
    .entry-details
      %p.desc
        %strong> Description:
        Get the combined text contents of each element in the set of matched elements, including their descendants.
      %ul.signatures
        %li#text.signature
          %h4.name
            %span.versionAdded>
              version added:
              %a{:href => "/category/version/1.0/"} 1.0
            \.text()
      .longdesc
        %p
          Unlike the
          %code .html()
          method,
          %code .text()
          can be used in both XML and HTML documents. The result of the
          %code .text()
          method is a string containing the combined text of all matched elements. (Due to variations in the HTML parsers in different browsers, the text returned may vary in newlines and other white space.) Consider the following HTML:
        %pre
          :preserve
            &lt;div class="demo-container"&gt;
              &lt;div class="demo-box"&gt;Demonstration Box&lt;/div&gt;
              &lt;ul&gt;
              &lt;li&gt;list item 1&lt;/li&gt;
              &lt;li&gt;list &lt;strong&gt;item&lt;/strong&gt; 2&lt;/li&gt;
              &lt;/ul&gt;
              &lt;/div&gt;
        %p
          The code
          %code $('div.demo-container').text()
          would produce the following result:
        %p
          %code Demonstration Box list item 1 list item 2
        %p
          The
          %code .text()
          method cannot be used on input elements.  For input field text, use the
          %a{:href => "/val"} .val()
          method.
        %p
          As of jQuery 1.4, the
          %code .text()
          method returns the value of text and CDATA nodes as well as element nodes.
      %h3 Example:
      #entry-examples.entry-examples
        #example-0
          %h4
            %span.desc Find the text in the first paragraph (stripping out the html), then set the html of the last paragraph to show it is just text (the red bold is gone).
          %pre
            %code.example.demo-code
              :preserve
                &lt;!DOCTYPE html&gt;
                &lt;html&gt;
                &lt;head&gt;
                  &lt;style&gt;
                  p { color:blue; margin:8px; }
                  b { color:red; }
                  &lt;/style&gt;
                  &lt;script src="http://code.jquery.com/jquery-latest.js"&gt;&lt;/script&gt;
                &lt;/head&gt;
                &lt;body&gt;
                	&lt;p&gt;&lt;b&gt;Test&lt;/b&gt; Paragraph.&lt;/p&gt;
                
                  &lt;p&gt;&lt;/p&gt;
                &lt;script&gt;
                    var str = $("p:first").text();
                    $("p:last").html(str);
                &lt;/script&gt;
                &lt;/body&gt;
                &lt;/html&gt;          %h4 Demo:
          .demo.code-demo
  #text2{"data-role" => "content", "data-theme" => "c"}
    %h2.jq-clearfix.roundTop.section-title
      %span.name .text( textString )
      %span.returns
        Returns:
        %a.return{:href => "http://docs.jquery.com/Types#jQuery"} jQuery
    .entry-details
      %p.desc
        %strong> Description:
        Set the content of each element in the set of matched elements to the specified text.
      %ul.signatures
        %li#text-textString.signature
          %h4.name
            %span.versionAdded>
              version added:
              %a{:href => "/category/version/1.0/"} 1.0
            \.text( textString )
          %p.arguement
            %strong> textString
            A string of text to set as the content of each matched element.
        %li.signature{:id => "text-functionindex, text"}
          %h4.name
            %span.versionAdded>
              version added:
              %a{:href => "/category/version/1.4/"} 1.4
            \.text( function(index, text) )
          %p.arguement
            %strong> function(index, text)
            A function returning the text content to set. Receives the index position of the element in the set and the old text value as arguments.
      .longdesc
        %p
          Unlike the
          %code .html()
          method,
          %code .text()
          can be used in both XML and HTML documents.
        %p
          We need to be aware that this method escapes the string provided as necessary so that it will render correctly in HTML. To do so, it calls the DOM method
          = succeed "," do
            %code .createTextNode()
          which replaces special characters with their HTML entity equivalents (such as
          %code &amp;lt;
          for
          = succeed ")." do
            %code &lt;
          Consider the following HTML:
        %pre
          :preserve
            &lt;div class="demo-container"&gt;
              &lt;div class="demo-box"&gt;Demonstration Box&lt;/div&gt;
              &lt;ul&gt;
                &lt;li&gt;list item 1&lt;/li&gt;
                &lt;li&gt;list &lt;strong&gt;item&lt;/strong&gt; 2&lt;/li&gt;
              &lt;/ul&gt;
            &lt;/div&gt;
        %p
          The code
          %code $('div.demo-container').text('&lt;p&gt;This is a test.&lt;/p&gt;');
          will produce the following DOM output:
        %pre
          :preserve
            &lt;div class="demo-container"&gt;
            &amp;lt;p&amp;gt;This is a test.&amp;lt;/p&amp;gt;
            &lt;/div&gt;        %p It will appear on a rendered page as though the tags were exposed, like this:
        %pre &lt;p&gt;This is a test&lt;/p&gt;
        %p
          The
          %code .text()
          method cannot be used on input elements.  For input field text, use the
          %a{:href => "/val"} .val()
          method.
        %p
          As of jQuery 1.4, the
          %code .text()
          method allows us to set the text content by passing in a function.
        %pre
          :preserve
            $('ul li').text(function(index) {
              return 'item number ' + (index + 1);
            });        %p
          Given an unordered list with three
          %code &lt;li&gt;
          elements, this example will produce the following DOM output:
        %pre
          :preserve
            &lt;ul&gt;
              &lt;li&gt;item number 1&lt;/li&gt;
              &lt;li&gt;item number 2&lt;/li&gt;
              &lt;li&gt;item number 3&lt;/li&gt;
            &lt;/ul&gt;
      %h3 Example:
      #entry-examples.entry-examples
        #example-0
          %h4
            %span.desc Add text to the paragraph (notice the bold tag is escaped).
          %pre
            %code.example.demo-code
              :preserve
                &lt;!DOCTYPE html&gt;
                &lt;html&gt;
                &lt;head&gt;
                  &lt;style&gt;
                
                  p { color:blue; margin:8px; }
                  &lt;/style&gt;
                  &lt;script src="http://code.jquery.com/jquery-latest.js"&gt;&lt;/script&gt;
                &lt;/head&gt;
                &lt;body&gt;
                	&lt;p&gt;Test Paragraph.&lt;/p&gt;
                &lt;script&gt;$("p").text("&lt;b&gt;Some&lt;/b&gt; new text.");&lt;/script&gt;
                &lt;/body&gt;
                &lt;/html&gt;          %h4 Demo:
          .demo.code-demo
