%div{"data-role" => "page"}
  %div{"data-role" => "header"}
    %h1 .toArray()
  #toArray1{"data-role" => "content", "data-theme" => "c"}
    %h2.jq-clearfix.roundTop.section-title
      %span.name .toArray()
      %span.returns
        Returns:
        %a.return{:href => "http://docs.jquery.com/Types#Array"} Array
    .entry-details
      %p.desc
        %strong> Description:
        Retrieve all the DOM elements contained in the jQuery set, as an array.
      %ul.signatures
        %li#toArray.signature
          %h4.name
            %span.versionAdded>
              version added:
              %a{:href => "/category/version/1.4/"} 1.4
            \.toArray()
      .longdesc
        %p
          %code .toArray()
          returns all of the elements in the jQuery set:
        %pre alert($('li').toArray());
        %p All of the matched DOM nodes are returned by this call, contained in a standard array:
        %p
          %span.result [&lt;li id="foo"&gt;, &lt;li id="bar"&gt;]
      %h3 Example:
      #entry-examples.entry-examples
        #example-0
          %h4
            %span.desc Selects all divs in the document and returns the DOM Elements as an Array, then uses the built-in reverse-method to reverse that array.
          %pre
            %code.example.demo-code
              :preserve
                &lt;!DOCTYPE html&gt;
                &lt;html&gt;
                &lt;head&gt;
                  &lt;style&gt;
                  span { color:red; }
                  &lt;/style&gt;
                  &lt;script src="http://code.jquery.com/jquery-latest.js"&gt;&lt;/script&gt;
                &lt;/head&gt;
                &lt;body&gt;
                	Reversed - &lt;span&gt;&lt;/span&gt;
                
                  &lt;div&gt;One&lt;/div&gt;
                  &lt;div&gt;Two&lt;/div&gt;
                  &lt;div&gt;Three&lt;/div&gt;
                &lt;script&gt;
                
                    function disp(divs) {
                      var a = [];
                      for (var i = 0; i &lt; divs.length; i++) {
                        a.push(divs[i].innerHTML);
                      }
                      $("span").text(a.join(" "));
                    }
                    
                    disp( $("div").toArray().reverse() );
                &lt;/script&gt;
                &lt;/body&gt;
                &lt;/html&gt;          %h4 Demo:
          .demo.code-demo
