%div{"data-role" => "page"}
  %div{"data-role" => "header"}
    %h1 .undelegate()
  #undelegate1{"data-role" => "content", "data-theme" => "c"}
    %h2.jq-clearfix.roundTop.section-title
      %span.name .undelegate(  )
      %span.returns
        Returns:
        %a.return{:href => "http://docs.jquery.com/Types#jQuery"} jQuery
    .entry-details
      %p.desc
        %strong> Description:
        Remove a handler from the event for all elements which match the current selector, now or in the future, based upon a specific set of root elements.
      %ul.signatures
        %li#undelegate.signature
          %h4.name
            %span.versionAdded>
              version added:
              %a{:href => "/category/version/1.4.2/"} 1.4.2
            \.undelegate()
        %li#undelegate-selector-eventType.signature
          %h4.name
            %span.versionAdded>
              version added:
              %a{:href => "/category/version/1.4.2/"} 1.4.2
            \.undelegate( selector, eventType )
          %p.arguement
            %strong> selector
            A selector which will be used to filter the event results.
          %p.arguement
            %strong> eventType
            A string containing a JavaScript event type, such as "click" or "keydown"
        %li#undelegate-selector-eventType-handler.signature
          %h4.name
            %span.versionAdded>
              version added:
              %a{:href => "/category/version/1.4.2/"} 1.4.2
            \.undelegate( selector, eventType, handler )
          %p.arguement
            %strong> selector
            A selector which will be used to filter the event results.
          %p.arguement
            %strong> eventType
            A string containing a JavaScript event type, such as "click" or "keydown"
          %p.arguement
            %strong> handler
            A function to execute at the time the event is triggered.
      .longdesc
        %p
          Undelegate is a way of removing event handlers that have been bound using
          = succeed "." do
            %a{:href => "/delegate"} .delegate()
          It works virtually identically to
          %a{:href => "/die"} .die()
          with the addition of a selector filter argument (which is required for delegation to work).
      %h3 Examples:
      #entry-examples.entry-examples
        #example-0
          %h4
            Example:
            %span.desc Can bind and unbind events to the colored button.
          %pre
            %code.example.demo-code
              :preserve
                &lt;!DOCTYPE html&gt;
                &lt;html&gt;
                &lt;head&gt;
                  &lt;style&gt;
                button { margin:5px; }
                button#theone { color:red; background:yellow; }
                &lt;/style&gt;
                  &lt;script src="http://code.jquery.com/jquery-latest.js"&gt;&lt;/script&gt;
                &lt;/head&gt;
                &lt;body&gt;
                	&lt;button id="theone"&gt;Does nothing...&lt;/button&gt;
                &lt;button id="bind"&gt;Bind Click&lt;/button&gt;
                &lt;button id="unbind"&gt;Unbind Click&lt;/button&gt;
                &lt;div style="display:none;"&gt;Click!&lt;/div&gt;
                &lt;script&gt;
                function aClick() {
                  $("div").show().fadeOut("slow");
                }
                $("#bind").click(function () {
                  $("body").delegate("#theone", "click", aClick)
                    .find("#theone").text("Can Click!");
                });
                $("#unbind").click(function () {
                  $("body").undelegate("#theone", "click", aClick)
                    .find("#theone").text("Does nothing...");
                });
                &lt;/script&gt;
                &lt;/body&gt;
                &lt;/html&gt;          %h4 Demo:
          .demo.code-demo
        #example-1
          %h4
            Example:
            %span.desc To unbind all delegated events from all paragraphs, write:
          %pre
            %code.example $("p").undelegate()
        #example-2
          %h4
            Example:
            %span.desc To unbind all delegated click events from all paragraphs, write:
          %pre
            %code.example $("p").undelegate( "click" )
        #example-3
          %h4
            Example:
            %span.desc To undelegate just one previously bound handler, pass the function in as the third argument:
          %pre
            %code.example
              :preserve
                var foo = function () {
                // code to handle some kind of event
                };
                
                $("body").delegate("p", "click", foo); // ... now foo will be called when paragraphs are clicked ...
                
                $("body").undelegate("p", "click", foo); // ... foo will no longer be called.