%div{"data-role" => "page"}
  %div{"data-role" => "header"}
    %h1 .wrapInner()
  #wrapInner1{"data-role" => "content", "data-theme" => "c"}
    %h2.jq-clearfix.roundTop.section-title
      %span.name .wrapInner( wrappingElement )
      %span.returns
        Returns:
        %a.return{:href => "http://docs.jquery.com/Types#jQuery"} jQuery
    .entry-details
      %p.desc
        %strong> Description:
        Wrap an HTML structure around the content of each element in the set of matched elements.
      %ul.signatures
        %li#wrapInner-wrappingElement.signature
          %h4.name
            %span.versionAdded>
              version added:
              %a{:href => "/category/version/1.2/"} 1.2
            \.wrapInner( wrappingElement )
          %p.arguement
            %strong> wrappingElement
            An HTML snippet, selector expression, jQuery object, or DOM element specifying the structure to wrap around the content of the matched elements.
        %li#wrapInner-wrappingFunction.signature
          %h4.name
            %span.versionAdded>
              version added:
              %a{:href => "/category/version/1.4/"} 1.4
            \.wrapInner( wrappingFunction )
          %p.arguement
            %strong> wrappingFunction
            A callback function which generates a structure to wrap around the content of the matched elements.
      .longdesc
        %p
          The
          %code .wrapInner()
          function can take any string or object that could be passed to the
          %code $()
          factory function to specify a DOM structure. This structure may be nested several levels deep, but should contain only one inmost element. The structure will be wrapped around the content of each of the elements in the set of matched elements.
        %p Consider the following HTML:
        %pre
          :preserve
            &lt;div class="container"&gt;
              &lt;div class="inner"&gt;Hello&lt;/div&gt;
              &lt;div class="inner"&gt;Goodbye&lt;/div&gt;
            &lt;/div&gt;        %p
          Using
          = succeed "," do
            %code .wrapInner()
          we can insert an HTML structure around the content of each inner
          %code &lt;div&gt;
          elements like so:
        %pre $('.inner').wrapInner('&lt;div class="new" /&gt;');
        %p
          The new
          %code &lt;div&gt;
          element is created on the fly and added to the DOM. The result is a new
          %code &lt;div&gt;
          wrapped around the content of each matched element:
        %pre
          :preserve
            &lt;div class="container"&gt;
              &lt;div class="inner"&gt;
                &lt;div class="new"&gt;Hello&lt;/div&gt;
              &lt;/div&gt;
              &lt;div class="inner"&gt;
                &lt;div class="new"&gt;Goodbye&lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;        %p The second version of this method allows us to instead specify a callback function. This callback function will be called once for every matched element; it should return a DOM element, jQuery object, or HTML snippet in which to wrap the content of the corresponding element. For example:
        %pre
          :preserve
            $('.inner').wrapInner(function() {
              return '&lt;div class="' + this.nodeValue + '" /&gt;';
            });        %p
          This will cause each
          %code &lt;div&gt;
          to have a class corresponding to the text it wraps:
        %pre
          :preserve
            &lt;div class="container"&gt;
              &lt;div class="inner"&gt;
                &lt;div class="Hello"&gt;Hello&lt;/div&gt;
              &lt;/div&gt;
              &lt;div class="inner"&gt;
                &lt;div class="Goodbye"&gt;Goodbye&lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;      %h3 Examples:
      #entry-examples.entry-examples
        #example-0
          %h4
            Example:
            %span.desc Selects all paragraphs and wraps a bold tag around each of its contents.
          %pre
            %code.example.demo-code
              :preserve
                &lt;!DOCTYPE html&gt;
                &lt;html&gt;
                &lt;head&gt;
                  &lt;style&gt;p { background:#bbf; }&lt;/style&gt;
                  &lt;script src="http://code.jquery.com/jquery-latest.js"&gt;&lt;/script&gt;
                &lt;/head&gt;
                &lt;body&gt;
                	&lt;p&gt;Hello&lt;/p&gt;
                
                  &lt;p&gt;cruel&lt;/p&gt;
                  &lt;p&gt;World&lt;/p&gt;
                &lt;script&gt;$("p").wrapInner("&lt;b&gt;&lt;/b&gt;");&lt;/script&gt;
                &lt;/body&gt;
                &lt;/html&gt;          %h4 Demo:
          .demo.code-demo
        #example-1
          %h4
            Example:
            %span.desc Wraps a newly created tree of objects around the inside of the body.
          %pre
            %code.example.demo-code
              :preserve
                &lt;!DOCTYPE html&gt;
                &lt;html&gt;
                &lt;head&gt;
                  &lt;style&gt;
                
                  div { border:2px green solid; margin:2px; padding:2px; }
                  p { background:yellow; margin:2px; padding:2px; }
                  &lt;/style&gt;
                  &lt;script src="http://code.jquery.com/jquery-latest.js"&gt;&lt;/script&gt;
                &lt;/head&gt;
                &lt;body&gt;
                	Plain old text, or is it?
                &lt;script&gt;$("body").wrapInner("&lt;div&gt;&lt;div&gt;&lt;p&gt;&lt;em&gt;&lt;b&gt;&lt;/b&gt;&lt;/em&gt;&lt;/p&gt;&lt;/div&gt;&lt;/div&gt;");&lt;/script&gt;
                &lt;/body&gt;
                &lt;/html&gt;          %h4 Demo:
          .demo.code-demo
        #example-2
          %h4
            Example:
            %span.desc Selects all paragraphs and wraps a bold tag around each of its contents.
          %pre
            %code.example.demo-code
              :preserve
                &lt;!DOCTYPE html&gt;
                &lt;html&gt;
                &lt;head&gt;
                  &lt;style&gt;p { background:#9f9; }&lt;/style&gt;
                  &lt;script src="http://code.jquery.com/jquery-latest.js"&gt;&lt;/script&gt;
                &lt;/head&gt;
                &lt;body&gt;
                	&lt;p&gt;Hello&lt;/p&gt;
                
                  &lt;p&gt;cruel&lt;/p&gt;
                  &lt;p&gt;World&lt;/p&gt;
                &lt;script&gt;$("p").wrapInner(document.createElement("b"));&lt;/script&gt;
                &lt;/body&gt;
                &lt;/html&gt;          %h4 Demo:
          .demo.code-demo
        #example-3
          %h4
            Example:
            %span.desc Selects all paragraphs and wraps a jQuery object around each of its contents.
          %pre
            %code.example.demo-code
              :preserve
                &lt;!DOCTYPE html&gt;
                &lt;html&gt;
                &lt;head&gt;
                  &lt;style&gt;
                
                  p { background:#9f9; }
                  .red { color:red; }
                  &lt;/style&gt;
                  &lt;script src="http://code.jquery.com/jquery-latest.js"&gt;&lt;/script&gt;
                &lt;/head&gt;
                &lt;body&gt;
                	&lt;p&gt;Hello&lt;/p&gt;
                  &lt;p&gt;cruel&lt;/p&gt;
                  &lt;p&gt;World&lt;/p&gt;
                &lt;script&gt;$("p").wrapInner($("&lt;span class='red'&gt;&lt;/span&gt;"));&lt;/script&gt;
                &lt;/body&gt;
                &lt;/html&gt;          %h4 Demo:
          .demo.code-demo
