-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.33v')} - #{t('txt.jqgrid.demo.33rdnd')}"
.demo
  %h3
    =image_tag("icons/22x22/grid.png", :border => 0)
    =@title
  %center
    %table#invheaders_demo1109.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #invheaders_demo1109_pager.scroll{ :style => "text-align:center;" }
/ End demo
.demo-description
  %p
    This example shows how we can use The Table Drag and Drop plugin provided from Denis Howlett.
    Try to drag a row whitin the table.
/ End demo-description
