= raw @grid

:javascript  
  $(document).ready(function() {  
    jQuery("#t_invheaders_demo0901").append("<input type='button' value='Click Me' style='height:20px;font-size:-3'/>");
    jQuery("input","#t_invheaders_demo0901").click(function(){
      alert("Hi! I'm added button at this toolbar");
    });
  }); 
