-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.38v')} - #{t('txt.jqgrid.demo.38array6')}"
.demo
  %h3
    =@title
  %center
    %table#demo1606.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #demo1606_pager.scroll{ :style => "text-align:center;" }

/ End demo
.demo-description
  %p
    In this example we demonstrate the abilty to have a summary information at each group footer.
  %p
    The appropriate option is 
    %code
      groupSummary
    which enables/disables footer summary.
  %p
    In order to work this we added two additional properties in colModel
    %code
      summaryType
    which describes the summary function and
    %code
      summaryTpl
    which is template on how data will be displayed into the footer column.
  %p
    Currently we support the following functions
    %code
      sum, count, min, max.
    In the final release we will add a possibility to define custom functions.   
/ End demo-description
