-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.34v')} - #{t('txt.jqgrid.demo.34cformat')}"
.demo
  %h3
    =@title
  %center
    %table#invheaders_demo1202.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #invheaders_demo1202_pager.scroll{ :style => "text-align:center;" }
/ End demo
.demo-description
  %p
    This example shows the custom formatter option per field. Options are set in the column model.
/ End demo-description
