-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.v37')} - #{t('txt.jqgrid.demo.37toolbar')}"
.demo
  %h3
    =@title
  %center
    %table#items_demo1506.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #items_demo1506_pager.scroll{ :style => "text-align:center;" }

/ End demo 
.demo-description
  %p
    Toolbar search works too on local data.
/ End demo-description
