:javascript
  function my_input(value, options) {
    return $("<input type='text' size='10' value='"+value+"'/>");
  }
  function my_value(value) {
    return "My value: "+value.val();
  }

= raw @grid