-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.v36')} - #{t('txt.jqgrid.demo.cinput')}"
.demo
  %h3
    =@title
  %center
    %table#invheaders_demo1406.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #invheaders_demo1406_pager.scroll{ :style => "text-align:center;" }

/ End demo 
.demo-description
  %p    
    This example shows how we can load XML data from Server. Note that we
    can use a multiple indexes in col model to sort data.    
/ End demo-description
