:css
  #toolbar { padding: 0.3em; }

:javascript
  $(function() {
    $("a", ".demo").button();
  });  
  
  $(document).ready(function() {
    $("#g1").click( function() {
      alert($('#invheaders_demo0202').jqGrid('getGridParam','url'));
    });
    $("#g2").click( function() {
      alert($('#invheaders_demo0202').jqGrid('getGridParam','sortname'));
    });
    $("#g3").click( function() {
      alert($('#invheaders_demo0202').jqGrid('getGridParam','sortorder'));
    });
    $("#g4").click( function() {
      alert($('#invheaders_demo0202').jqGrid('getGridParam','selrow'));
    });
    $("#g5").click( function() {
      alert($('#invheaders_demo0202').jqGrid('getGridParam','page'));
    });
    $("#g6").click( function() {
      alert($('#invheaders_demo0202').jqGrid('getGridParam','rowNum'));
    });
    $("#g7").click( function() {
      alert('See Multi select rows example');
    });
    $("#g8").click( function() {
      alert($('#invheaders_demo0202').jqGrid('getGridParam','datatype'));
    });
    $("#g9").click( function() {
      alert($('#invheaders_demo0202').jqGrid('getGridParam','records'));
    });         
    $("#g10").click( function() {
      $("#invheaders_demo0202").jqGrid('setGridParam', { 
        onSortCol : function(name,index) { 
          alert("Column Name: "+name+" Column Index: "+index);
        }
      });
    	alert("Try to sort a column");
    });          
    $("#g11").click( function() {
      $("#invheaders_demo0202").jqGrid('setGridParam', { 
        onDblClickRow : function(id) { 
          alert("You double click row with id: "+id);
        }
      });
    	alert("Try to doubleclick a row");
    });      
  });

= raw @grid
