= raw @grid

:javascript  
  $(document).ready(function() {
    jQuery("#invheaders_demo1006").jqGrid('navButtonAdd','#invheaders_demo1006_pager',{caption:"Edit",
      onClickButton:function(){
    		var gsr = jQuery("#invheaders_demo1006").jqGrid('getGridParam','selrow');
    		if(gsr){
    			jQuery("#invheaders_demo1006").jqGrid('GridToForm',gsr,"#order");
    		} else {
    			alert("Please select Row")
    		}							
    	} 
    });
    jQuery("#savedata").click(function(){
    	var invid = jQuery("#invid").val();
    	if(invid) {
    		jQuery("#invheaders_demo1006").jqGrid('FormToGrid',invid,"#order");
    	  jQuery("#invheaders_demo1006").jqGrid('editRow',invid);
    		jQuery("#invheaders_demo1006").jqGrid('saveRow',invid);
    	}
    });
  }); 
    