:javascript  
  function after_load(){
    var udata = $("#invheaders_demo0901b").jqGrid('getUserData');
    $("#t_#invheaders_demo0901b").css("text-align","right").html("Totals Amount:"+udata.tamount+" Tax: "+udata.ttax+" Total: "+udata.ttotal+ "&nbsp;&nbsp;&nbsp;");
  };   

= raw @grid
