:javascript
  function afterEditCell(id,name,val,iRow,iCol){
    if(name=='invdate') {
      $("#"+iRow+"_invdate","#invheaders_demo1103").datepicker({dateFormat:"yy-mm-dd"});
    }
  };
    
  function afterSaveCell(rowid,name,val,iRow,iCol) {
    if(name == 'amount') {
      var taxval = $("#invheaders_demo1103").jqGrid('getCell',rowid,iCol+1);
      $("#invheaders_demo1103").jqGrid('setRowData',rowid,{total:parseFloat(val)+parseFloat(taxval)});
    }
    if(name == 'tax') {
      var amtval = $("#invheaders_demo1103").jqGrid('getCell',rowid,iCol-1);
      $("#invheaders_demo1103").jqGrid('setRowData',rowid,{total:parseFloat(val)+parseFloat(amtval)});
    }
  };
  
= raw @grid    
