-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.38v')} - #{t('txt.jqgrid.demo.38array4')}"
.demo
  %h3
    =@title
  %center
    %table#demo1604.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #demo1604_pager.scroll{ :style => "text-align:center;" }

/ End demo
.demo-description
  %p
    Of course Right To Left Languages are supported.
/ End demo-description
