-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.v35')} - #{t('txt.jqgrid.demo.summary')}"
.demo
  %h3
    =@title
  %center
    %table#invheaders_demo1308.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #invheaders_demo1308_pager.scroll{ :style => "text-align:center;" }
/ End demo
.demo-description
  %p
    This example demonstrates the new feature - summary row. Also a good thing is that the data from
    userData array can be direct puted in the summary row just with one option userDataOnFooter - >true.
    Also some new methods available for manipulating this data. getCol - return the entry coll as array.
    FooterData - method  get or set a data on footer row.
/ End demo-description
