-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.manipulating')} - #{t('txt.jqgrid.demo.get')}"
.demo
  %h3
    =@title
  %center
    %table#invheaders_demo0202.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #invheaders_demo0202_pager.scroll{ :style => "text-align:center;" }
  
    #toolbar.ui-widget-header.ui-corner-all
      %a#g1
        Get url
      %a#g2
        Get Sort Name
      %a#g3
        Get Sort Order
      %a#g4
        Get Selected Row
      %a#g5
        Get Current Page
      %a#g6
        Get Number of Rows requested
      %a#g7
        Get Selected Rows
      %a#g8
        Get Data Type requested
      %a#g9
        Get number of records in Grid
      %a#g10
        Activate onSortCol
      %a#g11
        Activate onDblClick
/ End demo 
.demo-description
  %p    
    This example demonstrates how we can manipulate data at client side. To synchronize
    the manipulation on server we must write custom code.
/ End demo-description
