-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.loading')} - #{t('txt.jqgrid.demo.once')}"
.demo
  %h3
    =@title
  %center
    %table#invheaders_demo0103.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #invheaders_demo0103_pager.scroll{ :style => "text-align:center;" }

/ End demo 
.demo-description
  %p   
    This example show how we can load data once from Server.
    Note that in this case pager is disabled.   
/ End demo-description
