-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.34v')} - #{t('txt.jqgrid.demo.34autoscroll')}"
.demo
  %h3
    =@title
  %center
    %table#invheaders_demo1204.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #invheaders_demo1204_pager.scroll{ :style => "text-align:center;" }
/ End demo
.demo-description
  %p
    This example shows the new scrolling grid feature. The data is loaded when you scroll the grid.
    Try to scroll and see what happens. This method can be improwed when we want to load relative
    big data sets. Note the automatic disabling of pager elements.   
/ End demo-description
