-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.36v')} - #{t('txt.jqgrid.demo.36chooser')}"
.demo
  %h3
    =@title
  %center
    %table#invheaders_demo1404.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #invheaders_demo1404_pager.scroll{ :style => "text-align:center;" }

/ End demo 
.demo-description
  %p    
    Thanks again to Mark Williams we have other great feature - Column Chooser and Reordering.
  %p
    This is done with a simple method call like 
    %code
      jQuery("#colch").jqGrid('columnChooser');
  %p
    This feature depends on jQuery UI sortable widget, jQuery UI dialog widget
    and multiselect plugin provided from Michael Aufreiter and Yanick Rochon.
  %p
    Click on 
    %i
      Columns
    button in the navigator and enjoy.
/ End demo-description
