-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.v37')} - #{t('txt.jqgrid.demo.37single')}"
.demo
  %h3
    =@title
  %center
    %table#items_demo1503.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #items_demo1503_pager.scroll{ :style => "text-align:center;" }

/ End demo 
.demo-description
  %p
    With this example we show another useful feature of jqGrid - local searching.
    You need just to enable it. You can see how fast the grid is loading 2000 records.
/ End demo-description
