-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.v36')} - #{t('txt.jqgrid.demo.api')}"
.demo
  %h3
    =@title
  %center
    %table#invheaders_demo1401.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #invheaders_demo1401_pager.scroll{ :style => "text-align:center;" }

/ End demo 
.demo-description
  %p  
    Since 3.6 on we've introduced a new API, which is similar to jQuery UI. Using the new API avoids
    namespace conflicts with other plugins and makes using jqGrid more natural in coding, 
    by showing the connections to jqGrid methods. The calling convention are:
  %p
    %code
      (jqgridelement).jqGrid( method ,parameter1,...,parameterN);
    %br
    Where 
    %i
      method
    is exiting jqGrid method.
  %p
    In the example above we do:
    %br
    %code
      jQuery("#newapi").jqGrid('navGrid','#pnewapi',{edit:false,add:false,del:false});
  %p
    To fully enjoy this API a new variable is used in $.jgrid namespace - called 
    %i
      $.jgrid.no_legacy_api
    , which default value is false. The variable should be set before including jqGrid Java Script
    file or can be added in the language file.     
/ End demo-description
