-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.20loading')} - #{t('txt.jqgrid.demo.20array')}"
.demo
  %h3
    =@title
  %center
    %table#demo0104.scroll{ :cellspacing => "0", :cellpadding => "0" }
/ End demo 
.demo-description
  %p    
    This example shows how we can load array data.
    In this case we use the
    %code
      addRowData
    method.    
/ End demo-description
