-@browser_title = "#{t('txt.jqgrid.name')} - XML Demo"
.demo
  %h3
    =@browser_title
  %center
    %table#demo01.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #demo01_pager.scroll{ :style => "text-align:center;" }
