-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.35v')} - #{t('txt.jqgrid.demo.35improvements')}"
.demo
  %h3
    =image_tag("icons/22x22/grid.png", :border => 0)
    =@title
  %center
    %table#invheaders_demo1305.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #invheaders_demo1305_pager.scroll{ :style => "text-align:center;" }
/ End demo
.demo-description
  %p
    A Form editing module changes a lot adding very usefull features. Thanks to Faserline
    %code
      www.faserline.com.
  %p
    Here we demonstrate the following features:
  %p
    %ul
      %li
        closeOnEscape
      %li
        modal - which covers the grid only
      %li
        a new gridView method
      %li
        changing the labels of the fields
      %li
        changing the row positions
      %li
        adding prefixes and suffixes in the fields
      %li
        set default values in add mode
      %li
        retrieve a select via url
      %li1        
        easily attaching a datepicker
      %li
        set default values via functions
      %li
        adding additional information at the bottom or top of the form.
  %p
    %b{ :style => "color: red;" }
      Not implemented yet
/ End demo-description
