-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.38v')} - #{t('txt.jqgrid.demo.38remote4')}"
.demo
  %h3
    =@title
  Group By:
  %select#chngroup
    %option{:value => "name"} Client name
    %option{:value => "invdate"} Invoice Date
    %option{:value => "clear"} Remove Grouping
  %br
  %br
  
  %center  
    %table#invheaders_demo1610.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #invheaders_demo1610_pager.scroll{ :style => "text-align:center;" }
/ End demo
.demo-description
  %p
    This example demonstrates some usefull methods like changing the group dynamically, remove grouping and etc.
/ End demo-description
