-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.v34')} - #{t('txt.jqgrid.demo.scroll')}"
.demo
  %h3
    =@title
  %center
    %table#invheaders_demo1205.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #invheaders_demo1205_pager.scroll{ :style => "text-align:center;" }
/ End demo
.demo-description
  %p
    This example shows the Autoscrolling feature when a row is selected.
    Open the edit form and try to navigate from top to the end of the grid
    using tha pager buttons in the edit form.
/ End demo-description
