-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.35v')} - #{t('txt.jqgrid.demo.35improvements')}"
.demo
  %h3
    =@title
  %center
    %table#invheaders_demo1305.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #invheaders_demo1305_pager.scroll{ :style => "text-align:center;" }
/ End demo
.demo-description
  %p
    A Form editing module changes a lot adding very usefull features. Thanks to Faserline
    %code
      www.faserline.com.
  %p
    Here we demonstrate the following features:
  %p
    closeOnEscape, modal which covers the grid only, a new gridView method, changing the labels of the
    fields, changing the row positions, adding prefixes and sufixes in the fields, set default values
    in add mode, retrieve a selects via url, attaching easy a date picker, set default value via function,
    adding additional information at the bottom or top of the form.
/ End demo-description
