-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.v35')} - #{t('txt.jqgrid.demo.sortable')}"
.demo
  %h3
    =@title
  %center
    %table#invheaders_demo1309.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #invheaders_demo1309_pager.scroll{ :style => "text-align:center;" }
/ End demo
.demo-description
  %p
    This example demonstrates the visibility of sortable columns.
/ End demo-description
