-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.v36')} - #{t('txt.jqgrid.demo.tscroll')}"
.demo
  %h3
    =@title
  %center
    %table#items_demo1408.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #items_demo1408_pager.scroll{ :style => "text-align:center;" }

/ End demo 
.demo-description
  %p    
    Thanks again to Mark Williams created this wonderful feature - loading data while scrolling.
    Note how the data is loaded and the requests go to the server!
  %p
    Enjoy the feature and speed!
/ End demo-description
