-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.advanced')} - #{t('txt.jqgrid.demo.master')}"
.demo
  %h3
    =@title
  %center
    %table#invheaders_demo0302.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #invheaders_demo0302_pager.scroll{ :style => "text-align:center;" }
    %br
    %table#invlines_demo0302.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #invlines_demo0302_pager.scroll{ :style => "text-align:center;" }
/ End demo 
.demo-description
  %p
    This example demonstrates the construction of two grids and how we
    can realize master detail. Try to select a row on Master Detail.
/ End demo-description
