-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.v36')} - #{t('txt.jqgrid.demo.srows')}"
.demo
  %h3
    =@title
  %center
    %table#invheaders_demo1409.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #invheaders_demo1409_pager.scroll{ :style => "text-align:center;" }

/ End demo 
.demo-description
  %p    
    Another very usefull addition in 
    %code
      grid.jqueryui.js
    module is adding a possibility for sortable rows. In order to use this feature a jQuery UI
    sortable widget is used.
  %p
    Try to sort the rows in the grid.
  %p
    Note that all available options and evenents from sortable widget can be used.   
/ End demo-description
