-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.v37')} - #{t('txt.jqgrid.demo.37scroll')}"
.demo
  %h3
    =@title
  %center
    %table#invheaders_demo1505.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #invheaders_demo1505_pager.scroll{ :style => "text-align:center;" }

/ End demo 
.demo-description
  %p
    We can enable virtual scrolling through a big set of local data - i.e with scroll option set to 1.
/ End demo-description
