-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.34v')} - #{t('txt.jqgrid.demo.34format')}"
.demo
  %h3
    =@title
  %center
    %table#invheaders_demo1201.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #invheaders_demo1201_pager.scroll{ :style => "text-align:center;" }
/ End demo
.demo-description
  %p
    This example shows the new formatter. The example shows the use of the common format options that are
    ajustable in the language file.
/ End demo-description
