-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.loading')} - #{t('txt.jqgrid.demo.array')}"
.demo
  %h3
    =@title
  %center
    %table#demo0104.scroll{ :cellspacing => "0", :cellpadding => "0" }
/ End demo 
.demo-description
  %p    
    This example show how we can load array data.
    In this case we use a addRowData method.    
/ End demo-description
