-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.37v')} - #{t('txt.jqgrid.demo.37multiple')}"
.demo
  %h3
    =@title
  %center
    %table#items_demo1504.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #items_demo1504_pager.scroll{ :style => "text-align:center;" }

/ End demo 
.demo-description
  %p
    We can search on multiple fields too (local searching).
/ End demo-description
