-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.v35')} - #{t('txt.jqgrid.demo.stoolbar')}"
.demo
  %h3
    =@title
  %center
    %table#invheaders_demo1303.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #invheaders_demo1303_pager.scroll{ :style => "text-align:center;" }
/ End demo
.demo-description
  %p
    This example demonstrates the new filterToolbar method. When we call this method the search
    is placed above the header columns. This method is similar to filterGrid, but resolves the issue
    related with resizing of columns.
/ End demo-description
