-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.34v')} - #{t('txt.jqgrid.demo.34adjacency')}"
.demo
  %h3
    =image_tag("icons/22x22/grid.png", :border => 0)
    =@title
  %center
    %table#adjacency_accounts_demo1206.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #adjacency_accounts_demo1206_pager.scroll{ :style => "text-align:center;" }
/ End demo
.demo-description
  %p
    This example shows the tree grid feature of jqGrid with supporting of Adjacency List Model.
    All you need is to set treeGrid option to true, and to specify which column is expandable.
    Of course the data from the server should be ajusted in an appropriate way.
/ End demo-description
