-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.32v')} - #{t('txt.jqgrid.demo.32insert')}"
.demo
  %h3
    =@title
  %center
    %table#invheaders_demo1003.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #invheaders_demo1003_pager.scroll{ :style => "text-align:center;" }
/ End demo
.demo-description
  %p
    This example demonstrates a 
    %code
      afterInsertRow
    event which fires after every inserted row. Again with this we use a setCell
    method. We analyze the inserted data and depending on client name we change
    the color of the total amount
/ End demo-description
