:css
  #toolbar { padding: 0.3em; }

:javascript
  $(function() {
    $("a", ".demo").button();
  });
  
= raw @grid

:javascript  
  $(document).ready(function() {  
    jQuery("#shc").click( function() {
      $("#invheaders_demo1001").jqGrid('setLabel',"tax","Tax Amt",{'font-weight': 'bold','font-style': 'italic'});
    });    
    jQuery("#scc").click( function() {
      $("#invheaders_demo1001").jqGrid('setCell',"12","tax","",{'font-weight': 'bold',color: 'red','text-align':'center'});
    });
    jQuery("#cdat").click( function() {
     $("#invheaders_demo1001").jqGrid('clearGridData');
    }); 
  });  
  