-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.33v')} - #{t('txt.jqgrid.demo.33html')}"
.demo
  %h3
    =@title
  %center    
    %div{:style => "width:500px;"}
      %table#mytable{:border => "1"}
        %thead
          %tr
            %th Header1
            %th Header2
            %th Header3
        %tbody
          %tr
            %td Cell 11
            %td Cell 12
            %td Cell 13
          %tr
            %td Cell 21
            %td Cell 22
            %td Cell 23
          %tr
            %td Cell 31
            %td Cell 32
            %td Cell 33
    %br
    #toolbar.ui-widget-header.ui-corner-all   
      %a#ttogrid{:href => "#"}
        Convert To Grid    
/ End demo
.demo-description
  %p
    This module is contributed by Peter Romianowski. The module converts an existing html table to a Grid.
/ End demo-description
