-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.integrations')} - #{t('txt.jqgrid.demo.datepicker')}"
.demo
  %h3
    =@title
  %center
    %table#demo0701.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #demo0701_pager.scroll{ :style => "text-align:center;" }

/ End demo 
.demo-description
  %p
    This is a first integration of another jQueryUI plugin. In this case it's Datepicker.
    Try to click on some row and select the Last Sales cell - a datapicker will popup.    
/ End demo-description
