-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.b30')} - #{t('txt.jqgrid.demo.resizable')}"
.demo
  %h3
    =@title
  %center
    %table#invheaders_demo0404.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #invheaders_demo0404_pager.scroll{ :style => "text-align:center;" }
/ End demo 
.demo-description
  %p
    This example shows that by using the new property 
    %i
      resizable
    only certain columns can be made resizable in colModel.
    In this case the only resizable columns are: Client and Total.
/ End demo-description
