-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.20advanced')} - #{t('txt.jqgrid.demo.20multi')}"
.demo
  %h3
    =@title
  %center
    %table#invheaders_demo0301.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #invheaders_demo0301_pager.scroll{ :style => "text-align:center;" }
    #toolbar.ui-widget-header.ui-corner-all
      %a#m1{ :href => "#" }
        Get Selected id's
      %a#m1s{ :href => "#" }
        Select(Unselect) row 13
/ End demo 
.demo-description
  %p
    This example demonstrates multiple selection of rows.
/ End demo-description
