-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.33v')} - #{t('txt.jqgrid.demo.33visible')}"
.demo
  %h3
    =image_tag("icons/22x22/grid.png", :border => 0)
    =@title
  %center
    %table#invheaders_demo1104.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #invheaders_demo1104_pager.scroll{ :style => "text-align:center;" }
    
    #toolbar.ui-widget-header.ui-corner-all
      %a#vcol{ :href => "#" }
        Hide/Show Columns
/ End demo
.demo-description
  %p
    This module is contributed by Piotr Roznicki. The module allows to show and hide columns
    via user interface
    %i
      Click on Hide/Show Columns
    link.
/ End demo-description
