-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.34v')} - #{t('txt.jqgrid.demo.34import')}"
.demo
  %h3
    =@title
  %center
    %table#invheaders_demo1203.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #invheaders_demo1203_pager.scroll{ :style => "text-align:center;" }
    
    #toolbar.ui-widget-header.ui-corner-all
      %a#cnvxml{ :href => "#" }
        Convert
      %a{ :href => "testxml.xml" }
        The XML example file look like this
/ End demo
.demo-description
  %p
    This example shows how we can load a XML Grid Configuration from an external xml file.
    A JSON import is also available. Press the Convert button to perform the conversion.
/ End demo-description
