-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.20advanced')} - #{t('txt.jqgrid.demo.20subgrid')}"
.demo
  %h3
    =@title
  %center
    %table#invheaders_demo0303.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #invheaders_demo0303_pager.scroll{ :style => "text-align:center;" }

/ End demo 
.demo-description
  %p
    This example demonstrates the use of a subgrid.
/ End demo-description
