:css
  #toolbar { padding: 0.3em; }

:javascript
  $(function() {
    $("a", ".demo").button();
  });

= raw @grid

:javascript
  $(document).ready(function() {
    $("#sm1").click( function(){
      alert($("#invheaders_demo0903").jqGrid('getGridParam',"records"));
    });
    $("#sm2").click( function(){
      $("#invheaders_demo0903").jqGrid('setGridParam',{
        onSelectRow : function(id) {
          $("#resp").html("I'm row number: "+id +" and setted dynamically").css("color","red");
        }
      });
      alert("Try to select row");
    });
    $("#sm3").click( function(){
      $("#invheaders_demo0903").jqGrid('resetSelection');
    });
  });
