-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.row')} - #{t('txt.jqgrid.demo.full')}"
.demo
  %h3
    =@title
  %center
    %table#invheaders_demo0504.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #invheaders_demo0504_pager.scroll{ :style => "text-align:center;" }
    #toolbar.ui-widget-header.ui-corner-all
      %a#ed4{ :href => "#" }
        Edit row 13
      %a#sved4{ :href => "#" }
        Save row 13    
/ End demo 
.demo-description
  %p    
    We can have a full control on what is done at server side when we save the data.
    It is well known that the post can be successful, but the same saving to the database can be not.
    To control that we can use a callback function when data is saving to the server.
    The function accept one parameter - data returned from the server. Depending on this data
    the function should return true or false. When true this means the saving is done and false othewise.
/ End demo-description
