-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.38v')} - #{t('txt.jqgrid.demo.38remote3')}"
.demo
  %h3
    =@title
  %center
    %table#invheaders_demo1609.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #invheaders_demo01609_pager.scroll{ :style => "text-align:center;" }
/ End demo
.demo-description
  %p
    In case when the server response can not be controlled, jqGrid can perform grouping too
    using his own sorting procedure.
/ End demo-description
