-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.38v')} - #{t('txt.jqgrid.demo.38remote1')}"
.demo
  %h3
    =image_tag("icons/22x22/grid.png", :border => 0)
    =@title
  %center
    %table#invheaders_demo1607.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #invheaders_demo01607_pager.scroll{ :style => "text-align:center;" }

/ End demo 
.demo-description
  %p
    The grouping also works with remote data. If the option
    %code
      groupDataSorted
    is turned on, then to the sidx parameter is added to the grouping column name.
    This way the server knows that it should first sort by the grouping column and then to the sort column.
/ End demo-description
