= raw @grid

:javascript  
  $(document).ready(function() {  
    $("#t_invheaders_demo0901").append("<input type='button' value='Click Me' style='height:20px;font-size:-3;'/>");
    $("input","#t_invheaders_demo0901").click(function(){
      alert("Hi! I've added a button at this toolbar");
    });
  }); 
