-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.36v')} - #{t('txt.jqgrid.demo.36cinput')}"
.demo
  %h3
    =@title
  %center
    %table#invheaders_demo1406.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #invheaders_demo1406_pager.scroll{ :style => "text-align:center;" }

/ End demo 
.demo-description
  %p    
    Another great feature which is requested many times from the community - custom creation of 
    editable elements. This is done with the following settings in colModel - 
    %code
      edittype:'custom' 
    and two functions - one to create the element and another to get the value from it.
  %p
    In this example click on a row to edit it and see what is happens when you perform saving
    in the column Client.   
/ End demo-description
