-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.advanced')} - #{t('txt.jqgrid.demo.big_sets')}"
.demo
  %h3
    =@title 
  %center  
    %table#items_demo0306.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #items_demo0306_pager.scroll{ :style => "text-align:center;" }

/ End demo 
.demo-description
  %p
    This sample demonstrates how jqGrid works with large amount of data. We have put 20.000 records into a database filled with random content.
    jqGrid, using Ajax, loads only those records, that are visible. If you want to make a search (just enter some word into input fields),
    grid sends search criteria to server and loads only data that correspond to entered criteria.
  %p
    Speed is increased about 2 times if we index the column. In this case this is column Code.
  %p
    %i
      Important: sample is working with real data -
    %b
      20.000
    records!
  %p
    Enjoy it's performance.
/ End demo-description
