-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.32v')} - #{t('txt.jqgrid.demo.32server_errors')}"
.demo
  %h3
    =@title
  %center
    %table#invheaders_demo1004.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #invheaders_demo1004_pager.scroll{ :style => "text-align:center;" }
  %p
    %b
      Response:
    %span#rsperror{:style => "color:red;"}
/ End demo
.demo-description
  %p
    This example demonstrates how to control an error from the server.
    In this case we point to a file not existing on the server.
/ End demo-description
