-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.v35')} - #{t('txt.jqgrid.demo.asearch')}"
.demo
  %h3
    =@title
  %center
    %table#invheaders_demo1304.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #invheaders_demo1304_pager.scroll{ :style => "text-align:center;" }
/ End demo
.demo-description
  %p
    This example demonstrates the entirely rewritten searchGrid method. From now on jqGrid uses a new
    search engine thanks to wonderful plugin provided from Kasey Speakman. Note that the old behaviour
    of the search is saved.
  %p
    I will just say Enjoy! <br>
/ End demo-description
