-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.loading')} - #{t('txt.jqgrid.demo.json_data')}"
.demo
  %h3
    =@title
  %center
    %table#invheaders_demo02.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #invheaders_demo02_pager.scroll{ :style => "text-align:center;" }
