= raw @grid

:javascript  
  $(document).ready(function() {
    $("#invheaders_demo1006").jqGrid('navButtonAdd','#invheaders_demo1006_pager',{caption:"Edit",
      onClickButton:function(){
        var gsr = $("#invheaders_demo1006").jqGrid('getGridParam','selrow');
        if(gsr){
          $("#invheaders_demo1006").jqGrid('GridToForm',gsr,"#order");
        } else {
          alert("Please select Row")
        }
      } 
    });
    $("#savedata").click(function(){
      var invid = $("#invid").val();
      if(invid) {
        $("#invheaders_demo1006").jqGrid('FormToGrid',invid,"#order");
        $("#invheaders_demo1006").jqGrid('editRow',invid);
        $("#invheaders_demo1006").jqGrid('saveRow',invid);
      }
    });
  }); 
    