-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.live')} - #{t('txt.jqgrid.demo.navigator')}"
.demo
  %h3
    =@title
  %center
    %table#invheaders_demo0805.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #invheaders_demo0805_pager.scroll{ :style => "text-align:center;" }

/ End demo 
.demo-description
  %p
    This example show navigator.
    See below for all available options.
  %p
    This method uses
    %b
      colModel
    names and
    %b
      editurl
    parameters from jqGrid
  %p
    Calling:
    %code
      jQuery("#grid_id").jqGrid('navGrid',selector,options,pEdit,pAdd,pDel,pSearch );
/ End demo-description
