%style{:type => "text/css", :media => "screen"}
  :plain
    .demo-description td{ vertical-align: top; }

:javascript
  $(function() {
    $("a", ".demo").button();
  });
  
  $(document).ready(function() {
    jQuery("#dedata").click( function(){
      var gr = jQuery("#invheaders_demo0804").jqGrid('getGridParam','selrow');
      //getSelectedRow();
      if( gr != null )
        jQuery("#invheaders_demo0804").jqGrid('delGridRow',gr,{reloadAfterSubmit:false});
      else
        alert("Please Select Row to delete!");
    });
  });
  
= raw @grid

