:css
  #toolbar { padding: 0.3em; }

:javascript
  $(function() {
    $("a", ".demo").button();
  });
  
  $(document).ready(function() {
    $("#m1").click( function() {
    	var s;
    	s = $("#invheaders_demo0301").jqGrid('getGridParam','selarrrow');
    	alert(s);
    });
    $("#m1s").click( function() {
    	$("#invheaders_demo0301").jqGrid('setSelection',"13");
    });
  });
  
= raw @grid
