:javascript
  var timeoutHnd;
  var flAuto = false;
  
  function doSearch(ev){
  	if(!flAuto)
  		return;
    //	var elem = ev.target||ev.srcElement;
  	if(timeoutHnd)
  		clearTimeout(timeoutHnd)
  	timeoutHnd = setTimeout(gridReload,500)
  }
  
  function gridReload(){
  	var srch_nm = jQuery("#item_nm").val();
  	var srch_cd = jQuery("#search_cd").val();
  	jQuery("#items_demo0306").jqGrid('setGridParam',{url:"/jqgrid/demo?model=item&srch_nm="+srch_nm+"&srch_cd="+srch_cd,page:1}).trigger("reloadGrid");
  }
  function enableAutosubmit(state){
  	flAuto = state;
  	jQuery("#submitButton").attr("disabled",state);
  }

= raw @grid
