-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.38v')} - #{t('txt.jqgrid.demo.38array5')}"
.demo
  %h3
    =@title
  %center
    %table#demo1605.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #demo1605_pager.scroll{ :style => "text-align:center;" }

/ End demo
.demo-description
  %p
    With the option
    %code
      groupCollapse
    it is possible to hide all data when loading and show the grouping headers only.
  %p
    In this example we set the grouping order to descending.
/ End demo-description
