-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.32v')} - #{t('txt.jqgrid.demo.32initial')}"
.demo
  %h3
    =@title
  %center
    %table#invheaders_demo1002.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #invheaders_demo1002_pager.scroll{ :style => "text-align:center;" }
/ End demo
.demo-description
  %p
    This example demonstartes the new option hiddengrid. If set to true the grid initially is hidden.
    The data is not loaded (no request is made) and only the caption layer is shown. When click to show
    grid (first time only) the data is loaded and grid  is shown. From this point we have a regular grid. This option work
    only if the caption option is set and hidegrid option is set to true. Try to click on caption button.
/ End demo-description
