-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.v36')} - #{t('txt.jqgrid.demo.reordering')}"
.demo
  %h3
    =@title
  %center
    %table#invheaders_demo1403.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #invheaders_demo1403_pager.scroll{ :style => "text-align:center;" }

/ End demo 
.demo-description
  %p    
    Thanks to Mark Williams we have another great feature - Column Reordering.
  %p
    This is done again just with setting one options - sortable. Click on header column and
    try to move it to another location.
    This feature depend on jQuery UI sortable widget.
  %p
    Since we have other great stuffs which are depend on jQuery UI we have created a separated module 
    %i
      grid.jqueryui.js
    \.
/ End demo-description
