-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.38v')} - #{t('txt.jqgrid.demo.38remote2')}"
.demo
  %h3
    =image_tag("icons/22x22/grid.png", :border => 0)
    =@title
  %center
    %table#invheaders_demo1608.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #invheaders_demo01608_pager.scroll{ :style => "text-align:center;" }

/ End demo
.demo-description
  %p
    This example is like the prevous one, but additionally to that we have added a possiblity to accept
    the grand totals from the server using the folowing grid options:
    %code
      footerrow: true, userDataOnFooter: true   
/ End demo-description
