-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.v36')} - #{t('txt.jqgrid.demo.rdnd')}"
.demo
  %h3
    =@title
  %table
    %tbody
      %tr
        %td
          %center
            %table#grid1
            #pgrid1
        %td
          %center
            \&lt;===&gt;
        %td
          %center
            %table#grid2
            #pgrid2
      %tr
        %td
          %center
            ||
        %td
          %center
            &nbsp;
        %td
          %center
            \&nbsp;
      %tr
        %td
          %center
            \\/
        %td
          %center
            \&nbsp;
        %td
          %center
            \&nbsp;
      %tr
        %td
          %center
            %table#grid3
          #pgrid3
        %td
          \&nbsp;
        %td
          \&nbsp;
/ End demo
.demo-description
  %p    
    Last, but not least we develop a row drag and drop method, which allow exchanging
    information between grids in visual maner.
  %p
    This feature uses the jQuery UI draggable and droppable widgets.
  %p
    In this exmple try to drag rows between the grids following the allowed directions.
  %i
    You have to drop it on another row not on the surrounding table.
/ End demo-description
