:css
  #toolbar { padding: 0.3em; }
  .demo-description td{ vertical-align: top; }

:javascript
  $(function() {
    $("a", ".demo").button();
  });
  
  $(document).ready(function() {
    $("#bsdata").click( function(){
      $("#invheaders_demo0801").jqGrid('searchGrid',
        {sopt:['cn','bw','eq','ne','lt','gt','ew']}
      );
    });
  });
  
= raw @grid