-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.32v')} - #{t('txt.jqgrid.demo.32hide')}"
.demo
  %h3
    =@title
  %center
    %table#invheaders_demo1005.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #invheaders_demo1005_pager.scroll{ :style => "text-align:center;" }
    #toolbar.ui-widget-header.ui-corner-all
      %a#hcg{ :href => "#" }
        Hide column Amount and Tax
      %a#scg{ :href => "#" }
        Show column Amount and Tax
/ End demo
.demo-description
  %p
    From version 3.2 we can hide and show group of columns at once. These methods can accept arrays
    as arguments as single strings too. Try to resize the grid to see how these method works.
/ End demo-description
