-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.row')} - #{t('txt.jqgrid.demo.events')}"
.demo
  %h3
    =@title
  %center
    %table#invheaders_demo0503.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #invheaders_demo0503_pager.scroll{ :style => "text-align:center;" }

/ End demo 
.demo-description
  %p    
    This example show a online editing and saving row. This is done when the user click on some row.
  %p
    Note the use of a second parameter of editRow method. This way when we press Enter data is saved
    to the server and when we press ESC key the editing is canceled.
/ End demo-description
