:css
  #toolbar { padding: 0.3em; }

:javascript
  $(function() {
    $("a", ".demo").button();
  });
 
  function onSortCol(nm,index){
    if (nm == "invdate") {
      $("#invheaders_demo1101").jqGrid('setGridParam',{sortname:'client_id'});
    }
  };
    
  function onHeaderClick(status){
    alert("My status is now: "+ status);
  };
	
= raw @grid

:javascript
  $(document).ready(function() {
    $("#snw").click(function (){
      var nw = parseInt($("#setwidth").val());
      if(isNaN(nw)) {
        alert("Value must be a number");
      } else if (nw<200 || nw > 700) {
        alert("Value can be between 200 and 700")
      } else {
        $("#invheaders_demo1101").jqGrid('setGridWidth',nw);
      }
    });
    
    $("#snh").click(function (){
      var nh = $("#setheight").val();
      $("#invheaders_demo1101").jqGrid('setGridHeight',nh);
    });  
  });    
