-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.v35')} - #{t('txt.jqgrid.demo.number')}"
.demo
  %h3
    =@title
  %center
    %table#invheaders_demo1301.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #invheaders_demo1301_pager.scroll{ :style => "text-align:center;" }
/ End demo
.demo-description
  %p
    In this example we demonstrate two new options in jqGrid
    %i
      autowidth
    and
    %i
      rownumbers.
    When autowidth is set to true the grid fits to the width of the parent container.
    This option does not resize the grid when the width of the parent container changes.
    In order to do that a method setGridWidth should be used again with binding an event to the container.
/ End demo-description
