:css
  #toolbar { padding: 0.3em; }

:javascript
  $(function() {
    $("a", ".demo").button();
  });
  
= raw @grid

:javascript  
  $(document).ready(function() {  
    $("#ttogrid").click( function() {
      tableToGrid("#mytable");;
    });
  });  
  