-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.v33')} - #{t('txt.jqgrid.demo.cell')}"
.demo
  %h3
    =@title
  %center
    %table#invheaders_demo1103.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #invheaders_demo1103_pager.scroll{ :style => "text-align:center;" }
/ End demo
.demo-description
  %p
    This example shows the new Cell editing feature of jqGrid. Select some cell. The fields date, amout and
    tax are editable. When selecting a cell you can navigate with left, right, up and down keys. The Enter key
    saves the content. The ESC key cancels without saving the content. Try to change the values of amount or
    tax and see that the total changes.	To enable cell editing you should just set
    %code
      cellEdit: true
    and ajust the colModel in an appropriate way.
/ End demo-description
