:javascript  
  $(document).ready(function() {
    $("#invheaders_demo1407").jqGrid('setGridParam', { 
      serialize_grid_data : function(postdata) {
        postdata.page = 1;
        return postdata;
      }
     });
   });  
  
= raw @grid
