-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.v33')} - #{t('txt.jqgrid.demo.function')}"
.demo
  %h3
    =@title
  %center
    %table#invheaders_demo1108.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #invheaders_demo1108_pager.scroll{ :style => "text-align:center;" }
/ End demo
.demo-description
  %p
    This example shows how we can load JSON data with the custom data type function
    i.e. the data is not obtained with the url parameter but with custom function.
/ End demo-description
