-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.32v')} - #{t('txt.jqgrid.demo.32client')}"
.demo
  %h3
    =@title
  %center
    %table#invheaders_demo1007.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #invheaders_demo1007_pager.scroll{ :style => "text-align:center;" }

/ End demo
.demo-description
  %p
    This example show Client side validation in form edit. Again with this there is a
    option to edit easy initially hidden fields. You can see that the field tax is hidden,
    but in the form it is editable. The alowed values in tax fields are between 40 and 100
    The field of date is required.
/ End demo-description
