-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.34v')} - #{t('txt.jqgrid.demo.34scroll')}"
.demo
  %h3
    =image_tag("icons/22x22/grid.png", :border => 0)
    =@title
  %center
    %table#invheaders_demo1205.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #invheaders_demo1205_pager.scroll{ :style => "text-align:center;" }
/ End demo
.demo-description
  %p
    This example shows the Autoscrolling feature when a row is selected.
    Open the edit form and try to navigate from top to the end of the grid
    using tha pager buttons in the edit form.
  %p
    %b{ :style => "color: red;" }
      Not implemented yet
/ End demo-description
