-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.live')} - #{t('txt.jqgrid.demo.edit_row')}"
.demo
  %h3
    =@title
  %center
    %table#invheaders_demo0802.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #invheaders_demo0802_pager.scroll{ :style => "text-align:center;" }
    #toolbar.ui-widget-header.ui-corner-all
      %a#bedata{ :href => "#" }
        Edit Selected
/ End demo 
.demo-description
  %p
    This example shows how we can add a dialog for data editing.
    See the available options below.
  %p
    This method uses
    %i
      colModel
    names and
    %i
      editurl
    parameters from jqGrid
  %p
    Calling:
    %code
      jQuery("#grid_id").jqGrid('editGridRow', the_row_id, options );
    %i
      the_row_id
    is the row to edit.
  %p
    %b
      Options:
    %table
      %tr
        %td
          %code
            top : 0
        %td
          the initial top position of edit dialog
      %tr
        %td
          %code
            left: 0
        %td
          the initinal left position of edit dialog. If the left and top positions are not set
          the dialog apper on upper left corner of the grid
      %tr
        %td
          %code
            width: 0
        %td
          the width of edit dialog - default 300
      %tr
        %td
          %code
            height: 0
        %td
          the height of edit dialog default 200
      %tr
        %td
          %code
            modal: false
        %td
          determine if the dialog should be in modal mode default is false
      %tr
        %td
          %code
            drag: true
        %td
          determine if the dialog is dragable default true
      %tr
        %td
          %code
            addCaption: "Add Record"
        %td
          the caption of the dialog if the mode is adding
      %tr
        %td
          %code
            editCaption: "Edit Record"
        %td
          the caption of the dialog if the mode is editing
      %tr
        %td
          %code
            bSubmit: "Submit"
        %td
          the text of the button when you click to data default Submit
      %tr
        %td
          %code
            bCancel: "Cancel"
        %td
          the text of the button when you click to close dialog default Cancel
      %tr
        %td
          %code
            url:
        %td
          url where to post data. If set replace the editurl
      %tr
        %td
          %code
            processData: "Processing..."
        %td
          Indicator when posting data
      %tr
        %td
          %code
            closeAfterAdd : false
        %td
          when add mode closes the dialog after add record - default false
      %tr
        %td
          %code
            clearAfterAdd : true
        %td
          when add mode clears the data after adding data - default true
      %tr
        %td
          %code
            closeAfterEdit : false
        %td
          when in edit mode closes the dialog after editing - default false
      %tr
        %td
          %i
            Events:
      %tr
        %td
          %code
            reloadAfterSubmit : true
        %td
          reloads grid data after posting default is true
          %br
          %br
          %i
            intializeForm: null
          fires only once when creating the data for editing and adding.
          %br
          Paramter passed to the event is the id of the constructed form.
      %tr
        %td
          %code
            beforeInitData: null
        %td
          fires before initialize the form data. Paramter passed to the event is the id of
          the constructed form.
      %tr
        %td
          %code
            beforeShowForm: null
        %td
          fires before showing the form data. Paramter passed to the event is the id of the
          constructed form.
      %tr
        %td
          %code
            afterShowForm: null
        %td
          fires after the form is shown. Paramter passed to the event is the id of the
          constructed form.
      %tr
        %td
          %code
            beforeSubmit: null
        %td
          fires before the data is submitted to the server. Paramter is array of type name:value.
          When called the event can  return array where the first parameter can be true or false
          and the second is the message of the error if any.
          Example:
          %br
          %code
            [false,"The value is not valid"]
      %tr
        %td
          %code
            afterSubmit: null
        %td
          fires after the data is posted to the server. Typical this event is used to recieve status
          form server if the data is posted with success. Parameters to this event are the returned
          data from the request and array of the posted values of type name:value.
/ End demo-description
