-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.35v')} - #{t('txt.jqgrid.demo.35navigation')}"
.demo
  %h3
    =@title
  %center
    %table#invheaders_demo1307.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #invheaders_demo1307_pager.scroll{ :style => "text-align:center;" }
/ End demo
.demo-description
  %p
    Here we demonstrate more form editing improvements. Thanks again to Faserline
    %code
      www.faserline.com
  %p
    In this demo:
  %p
    Navigation with up and down keys when in edit and view mode; submit the changes pressing the Enter key;
    check if something is changed in the form and ask the user to confirm. Try to change something in edit
    mode and submit.
  %p
    %b{ :style => "color: red;" }
      Not implemented yet
/ End demo-description
