-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.v32')} - #{t('txt.jqgrid.demo.hide')}"
.demo
  %h3
    =@title
  %center
    %table#invheaders_demo1005.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #invheaders_demo1005_pager.scroll{ :style => "text-align:center;" }
/ End demo
.demo-description
  %p
    This example show how we can add toolbars at top or bottom of the body.
/ End demo-description
