-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.36v')} - #{t('txt.jqgrid.demo.36reordering')}"
.demo
  %h3
    =@title
  %center
    %table#invheaders_demo1403.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #invheaders_demo1403_pager.scroll{ :style => "text-align:center;" }

/ End demo 
.demo-description
  %p    
    Thanks to Mark Williams we have another great feature - Column Reordering.
  %p
    This is done again just with setting one option - 
    %i
      sortable. 
    Click on header column and
    try to move it to another location. This feature depends on the jQuery UI sortable widget.
  %p
    Since we have other great stuff which is depending on jQuery UI we have created a separate module 
    %i
      grid.jqueryui.js
    \.
/ End demo-description
