:javascript  
  function afterInsertRow(rowid, aData){
    switch (aData.name) {
      case "1":
        $("#invheaders_demo1003").jqGrid('setCell',rowid,"total","",{color:'green'});
        break;
      case "2":
        $("#invheaders_demo1003").jqGrid('setCell',rowid,"total","",{color:'red'});
        break;
      case "3":
        $("#invheaders_demo1003").jqGrid('setCell',rowid,"total","",{color:'blue'});
        break;
    }
  };
  
= raw @grid
