-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.38v')} - #{t('txt.jqgrid.demo.38array1')}"
.demo
  %h3
    =@title
  %center
    %table#demo1601.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #demo1601_pager.scroll{ :style => "text-align:center;" }

/ End demo
.demo-description
  %p
    The simple way to group is to enable grouping and define a field name on which grouping occurs.
  %p
    When we are in local mode the data are grouped (sorted) automatically so there is no need
    to define additional sort columns.
  %p
    Note that paging and sorting are working correctly.
/ End demo-description
