-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.38v')} - #{t('txt.jqgrid.demo.38xml1')}"
.demo
  %h3
    =image_tag("icons/22x22/grid.png", :border => 0)
    =@title
  %center
    %table#invheaders_demo1611.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #invheaders_demo1611_pager.scroll{ :style => "text-align:center;" }
/ End demo
