-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.33v')} - #{t('txt.jqgrid.demo.33mform')}"
.demo
  %h3
    =@title
  %center
    %table#invheaders_demo1107.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #invheaders_demo1107_pager.scroll{ :style => "text-align:center;" }
    #filter{ :style => "margin-left:30%;display:none;" } Search Invoices/
/ End demo
.demo-description
  %p
    This example demonstrates the form search of multi search.
    Just click on search button.
  %p
    %b{ :style => "color: red;" }
      Not implemented yet
/ End demo-description
