:javascript
  function afterInsertRow(rowid, aData){
    switch (aData.name) {
      case 'Client 1':
        jQuery("#invheaders_demo1003").jqGrid('setCell',rowid,'total','',{color:'green'});
        break;
      case 'Client 2':
        jQuery("#invheaders_demo1003").jqGrid('setCell',rowid,'total','',{color:'red'});
        break;
      case 'Client 3':
        jQuery("#invheaders_demo1003").jqGrid('setCell',rowid,'total','',{color:'blue'});
        break;
    }
  };

= raw @grid
  