-@title = "#{t('txt.jqgrid.name')} #{t('txt.jqgrid.demo.name')} - #{t('txt.jqgrid.demo.v37')} - #{t('txt.jqgrid.demo.37server')}"
.demo
  %h3
    =@title
  %center
    %table#items_demo1502.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #items_demo1502_pager.scroll{ :style => "text-align:center;" }
/ End demo 
.demo-description
  %p
    With this example we show a new very useful feature of jqGrid - load all the needed data from server at once and then
    operate on it locally - i.e - pagging, sorting, searching and etc.
  %p
    For this purpose we introduce a new grid parameter - 
    %code
      rowTotal
    \, when set this paramater can instruct the server to load the total number of rows needed to work on.
    Note that rowNum determines the total records displayed in the grid, while rowTotal the total rows on
    wich we operate. When this parameter is set we send a aditional parameter to server named totalrows. You
    can check for this parameter and if it is available you can replace the rows parameter with this one.
    You can see how fast is the grid when loading 2000 records.
/ End demo-description
