!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
  %body
    %div{"data-role" => "page"}
      %div{"data-role" => "header"}
        %h1 event.stopPropagation()
      %div{"data-role" => "content", "data-theme" => "c", :id => "event.stopPropagation1"}
        %h2.jq-clearfix.roundTop.section-title
          %span.name event.stopPropagation()
          %span.returns
        .entry-details
          %p.desc
            %strong Description:
            This method prevents the event from bubbling up the DOM tree, preventing any parent handlers from being notified of the event.
          %ul.signatures
            %li.signature{:id => "event.stopPropagation"}
              %h4.name
                %span.versionAdded>
                  version added:
                  %a{:href => "/category/version/1.0/"} 1.0
                event.stopPropagation()
          .longdesc
            %p
              We can use
              %code .isPropagationStopped()
              to determine if this method has been called by an event handler that was triggered by this event.
            %p
              This method works for custom events triggered with
              = succeed "," do
                %a{:href => "/trigger"} trigger()
              as well.
            %p
              Note that this will not prevent other handlers
              %em on the same element
              from running. Use the method
              %a{:href => "/event.isPropagationStopped"} event.isPropagationStopped()
              to know whether this method was ever called (on that event object).
          %h3 Example:
          #entry-examples.entry-examples
            #example-0
              %h4
                %span.desc Kill the bubbling on the click event.
              %pre
                %code.example.demo-code
                  :preserve
                    &lt;!DOCTYPE html&gt;
                    &lt;html&gt;
                    &lt;head&gt;
                      &lt;script src="http://code.jquery.com/jquery-latest.js"&gt;&lt;/script&gt;
                    &lt;/head&gt;
                    &lt;body&gt;
                    	
                    &lt;script&gt;$("p").click(function(event){
                      event.stopPropagation();
                      // do something
                    });  &lt;/script&gt;
                    &lt;/body&gt;
                    &lt;/html&gt;              %h4 Demo:
              .demo.code-demo
              %h4 Result:
              %pre
                %code.results
