-@title = "jQuery Mobile Framework - Dialog Example with Select"
= render :partial => "/mobile/index.js.haml", :format => :js

.type-interior{"data-role" => "page"}
  %div{"data-role" => "header", "data-theme" => "f"}
    %h1 Dialog select test
  %div{"data-role" => "content"}
    %a{"data-rel" => "dialog", "data-role" => "button", :href => "#bar"} Open dialog
#bar{"data-role" => "page"}
  %div{"data-position" => "inline", "data-role" => "header", "data-theme" => "d"}
    %h1 Sample Dialogs
  %div{"data-role" => "content", "data-theme" => "c"}
    %form{:action => ""}
      %div{"data-role" => "fieldcontain"}
        %label.select{:for => "select-choice-1"} Choose shipping method:
        %select#select-choice-1{"data-native-menu" => "false", :name => "select-choice-1"}
          %option{:value => "standard"} Standard: 7 day
          %option{:value => "rush"} Rush: 3 days
          %option{:value => "express"} Express: next day
          %option{:value => "overnight"} Overnight
      %div{"data-role" => "fieldcontain"}
        %label.select{:for => "select-choice-3"} Your state:
        %select#select-choice-3{"data-native-menu" => "false", :name => "select-choice-3"}
          %option{:value => "AL"} Alabama
          %option{:value => "AK"} Alaska
          %option{:value => "AZ"} Arizona
          %option{:value => "AR"} Arkansas
          %option{:value => "CA"} California
          %option{:value => "CO"} Colorado
          %option{:value => "CT"} Connecticut
          %option{:value => "DE"} Delaware
          %option{:value => "FL"} Florida
          %option{:value => "GA"} Georgia
          %option{:value => "HI"} Hawaii
          %option{:value => "ID"} Idaho
          %option{:value => "IL"} Illinois
          %option{:value => "IN"} Indiana
          %option{:value => "IA"} Iowa
          %option{:value => "KS"} Kansas
          %option{:value => "KY"} Kentucky
          %option{:value => "LA"} Louisiana
          %option{:value => "ME"} Maine
          %option{:value => "MD"} Maryland
          %option{:value => "MA"} Massachusetts
          %option{:value => "MI"} Michigan
          %option{:value => "MN"} Minnesota
          %option{:value => "MS"} Mississippi
          %option{:value => "MO"} Missouri
          %option{:value => "MT"} Montana
          %option{:value => "NE"} Nebraska
          %option{:value => "NV"} Nevada
          %option{:value => "NH"} New Hampshire
          %option{:value => "NJ"} New Jersey
          %option{:value => "NM"} New Mexico
          %option{:value => "NY"} New York
          %option{:value => "NC"} North Carolina
          %option{:value => "ND"} North Dakota
          %option{:value => "OH"} Ohio
          %option{:value => "OK"} Oklahoma
          %option{:value => "OR"} Oregon
          %option{:value => "PA"} Pennsylvania
          %option{:value => "RI"} Rhode Island
          %option{:value => "SC"} South Carolina
          %option{:value => "SD"} South Dakota
          %option{:value => "TN"} Tennessee
          %option{:value => "TX"} Texas
          %option{:value => "UT"} Utah
          %option{:value => "VT"} Vermont
          %option{:value => "VA"} Virginia
          %option{:value => "WA"} Washington
          %option{:value => "WV"} West Virginia
          %option{:value => "WI"} Wisconsin
          %option{:value => "WY"} Wyoming
      %a{"data-rel" => "back", "data-role" => "button", "data-theme" => "c", :href => "#foo"} Real Submit Would go here
    %a{"data-rel" => "back", "data-role" => "button", "data-theme" => "c", :href => "#foo"} Cancel
