-@title = "jQuery Mobile Framework - Dialog Example"

- content_for :content_custom_scripts do
  = render(:partial => "/mobile/index.js.haml", :format => :js)

%div{"data-role" => "page"}
  %div{"data-position" => "inline", "data-role" => "header", "data-theme" => "d"}
    %h1 Dialog
  %div{"data-role" => "content", "data-theme" => "c"}
    %h1 Delete page?
    %p
      This is a regular page, styled as a dialog. To create a dialog, just link to a normal page and include a transition and
      %code data-rel="dialog"
      attribute.
    %a{"data-rel" => "back", "data-role" => "button", "data-theme" => "b", :href => "/mobile/docs/pages/docs_dialogs"} Sounds good
    %a{"data-rel" => "back", "data-role" => "button", "data-theme" => "c", :href => "/mobile/docs/pages/docs_dialogs"} Cancel
