-@title = "jQuery Mobile Framework - Dialog Example"

- content_for :content_head do
  = render(:partial => "/mobile/index.js.haml", :format => :js)

%div{"data-role" => "page"}
  %div{"data-role" => "content", "data-theme" => "a"}
    %h3 Share Photos
    %a{"data-rel" => "dialog", "data-role" => "button", "data-theme" => "b", "data-transition" => "slidedown", :href => "/mobile/docs/pages/dialog_success"} Email
    %a{"data-rel" => "dialog", "data-role" => "button", "data-theme" => "b", "data-transition" => "slidedown", :href => "/mobile/docs/pages/dialog_success"} Upload to flickr
    %a{"data-rel" => "dialog", "data-role" => "button", "data-theme" => "b", "data-transition" => "slidedown", :href => "/mobile/docs/pages/dialog_success"} Share on Facebook
    %a{"data-rel" => "dialog", "data-role" => "button", "data-theme" => "b", "data-transition" => "slidedown", :href => "/mobile/docs/pages/dialog_success"} Tweet photo
    %a{"data-rel" => "back", "data-role" => "button", "data-theme" => "a", :href => "/mobile/docs/pages"} Cancel
  / /content
/ /page
