%div{"data-role" => "page"}
  %div{"data-role" => "header"}
    %h1
      Anatomy of a Page
  / /header
  %div{"data-role" => "content"}
    %p
      The jQuery Mobile "page" structure is optimized to support either single pages, or local
      internal linked "pages" within a page.
    %p
      The goal of this model is to allow developers to create websites using best practices &mdash;
      where ordinary links will "just work" without any special configuration &mdash; while creating
      a rich, native-like experience that can't be achieved with standard HTTP requests.
    %h2
      Mobile page structure
    %p
      A jQuery Mobile site must start with an HTML5 'doctype' to take full advantage of all of the
      framework's features. (Older devices with browsers that don't understand HTML5 will safely
      ignore the 'doctype' and various custom attributes.) In the 'head', references to jQuery,
      jQuery Mobile and the mobile theme CSS are all required to start things off:
    %pre
      %code
        :preserve
          &lt;!DOCTYPE html&gt;
          &lt;html&gt;
            &lt;head&gt;
              &lt;title&gt;Page Title&lt;/title&gt;
              &lt;link rel=&quot;stylesheet&quot; href=&quot;http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.css&quot; /&gt;
              &lt;script src=&quot;http://code.jquery.com/jquery-1.4.3.min.js&quot;&gt;&lt;/script&gt;
              &lt;script src=&quot;http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.js&quot;&gt;&lt;/script&gt;
            &lt;/head&gt;
            &lt;body&gt;
          
               ...
          
            &lt;/body&gt;
          &lt;/html&gt;
    %p
      Inside the
      %code
        &lt;body&gt;
      tag, each view or "page" on the mobile device is identified with an element (usually a
      %code
        div
      with the
      %code
        data-role="page"
      attribute:
    %pre
      %code
        :preserve
          &lt;div data-role=&quot;page&quot;&gt; 
            ...
          &lt;/div&gt;
    %p
      Within the "page" container, any valid HTML markup can be used, but for typical pages in
      jQuery Mobile, the immediate children of a "page" are divs with data-roles of
      %code
        "header"
      ,
      %code
        "content"
      and
      %code
        "footer"
    %pre
      %code
        :preserve
          &lt;div data-role=&quot;page&quot;&gt;
            &lt;div data-role=&quot;header&quot;&gt;
              ...
            &lt;/div&gt;
            &lt;div data-role=&quot;content&quot;&gt;
              ...
            &lt;/div&gt;
            &lt;div data-role=&quot;footer&quot;&gt;
              ...
            &lt;/div&gt;
          &lt;/div&gt;
    %h2
      Complete single page template
    %p
      Putting it all together, this is the standard boilerplate page template you should start with:
    %pre
      %code
        :preserve
          &lt;!DOCTYPE html&gt;
          &lt;html&gt;
            &lt;head&gt;
              &lt;title&gt;Page Title&lt;/title&gt;
              &lt;link rel=&quot;stylesheet&quot; href=&quot;http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.css&quot; /&gt;
              &lt;script src=&quot;http://code.jquery.com/jquery-1.4.3.min.js&quot;&gt;&lt;/script&gt;
              &lt;script src=&quot;http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.js&quot;&gt;&lt;/script&gt;
            &lt;/head&gt;
            
            &lt;body&gt;
              &lt;div data-role=&quot;page&quot;&gt;
                &lt;div data-role=&quot;header&quot;&gt;
                  &lt;h1&gt;Page Title&lt;/h1&gt;
                &lt;/div&gt;&lt;!-- /header --&gt;
                
                &lt;div data-role=&quot;content&quot;&gt;
                  &lt;p&gt;Page content goes here.&lt;/p&gt;
                &lt;/div&gt;&lt;!-- /content --&gt;
                
                &lt;div data-role=&quot;footer&quot;&gt;
                  &lt;h4&gt;Page Footer&lt;/h4&gt;
                &lt;/div&gt;&lt;!-- /footer --&gt;
              &lt;/div&gt;&lt;!-- /page --&gt;
            &lt;/body&gt;
          &lt;/html&gt;
    %a{"data-inline" => "true", "data-role" => "button", "data-theme" => "b", :href => "/mobile/docs/pages/page-template"}
      View boilerplate template
    %h2
      External page linking
    %p
      jQuery Mobile automates the process of building Ajax powered sites and applications.
    %p
      By default, when you click on a link that points to an external page (ex. products.html),
      the framework will parse the link's
      %code
        href
      to formulate an Ajax request (Hijax) and displays the loading spinner.
    %p
      If the Ajax request is successful, the new page content is added to the DOM, the
      %code
        mobilize()
      function runs, then the new page is animated into view with a page transition.
    %p
      If the Ajax request fails, the framework will display a small error message overlay
      (styled in the "e" swatch) that disappears after a brief time so this doesn't break
      the navigation flow. View an
      %a{:href => "notapage.html"}
        example of the error message.
    %h2
      Local, internal linked "pages"
    %p
      A single HTML document can contain multiple 'pages' that are loaded together by stacking
      multiple divs with a
      %code
        data-role
      of
      %code
        "page"
      \. Each 'page' block needs a unique ID (
      %code
        id="foo"
      ) that will be used to link internally between 'pages' (
      %code
        href="#foo"
      ). When a link is clicked, the framework will look for an internal 'page' with the ID and
      transition it into view.
    %p
      It's important to note if you  are linking from a mobile page that was loaded via Ajax
      to a page with multiple internal pages, you need to add a
      %code
        rel="external"
      to the link. This tells the framework to do a full page reload to clear out the Ajax hash
      in the URL. This is critical because Ajax pages use the hash (#) to track the Ajax history,
      while multiple internal pages use the hash to indicate internal pages so there will be a
      conflicts.
    %p
      For example, a link to a page containing multiple internal pages would look like this:
    %code
      &lt;a href=&quot;multipage.html&quot; rel=&quot;external&quot;&gt;Multi-pagelink&lt;/a&gt;
    %p
      Here is an example of a 2 "page" site built with two jQuery Mobile divs navigated by linking
      to an ID placed on each page wrapper. Note that the IDs on the page wrappers are only needed
      to support the internal page linking, and are optional if each page is a separate HTML document.
      Here is what two pages look inside the
      %code
        body
      element.
    %pre
      %code
        :preserve
          &lt;body&gt;
            &lt;!-- Start of first page --&gt;
            &lt;div data-role=&quot;page&quot; id=&quot;foo&quot;&gt;
              &lt;div data-role=&quot;header&quot;&gt;
                &lt;h1&gt;Foo&lt;/h1&gt;
              &lt;/div&gt;&lt;!-- /header --&gt;
              
              &lt;div data-role=&quot;content&quot;&gt;
                &lt;p&gt;I&#x27;m first in the source order so I&#x27;m shown as the page.&lt;/p&gt;
                &lt;p&gt;View internal page called &lt;a href=&quot;#bar&quot;&gt;bar&lt;/a&gt;&lt;/p&gt;
              &lt;/div&gt;&lt;!-- /content --&gt;
              
              &lt;div data-role=&quot;footer&quot;&gt;
                &lt;h4&gt;Page Footer&lt;/h4&gt;
                &lt;/div&gt;&lt;!-- /footer --&gt;
            &lt;/div&gt;&lt;!-- /page --&gt;
              
            &lt;!-- Start of second page --&gt;
            &lt;div data-role=&quot;page&quot; id=&quot;bar&quot;&gt;
              &lt;div data-role=&quot;header&quot;&gt;
                &lt;h1&gt;Bar&lt;/h1&gt;
              &lt;/div&gt;&lt;!-- /header --&gt;
              
              &lt;div data-role=&quot;content&quot;&gt;
                &lt;p&gt;I&#x27;m first in the source order so I&#x27;m shown as the page.&lt;/p&gt;
                &lt;p&gt;&lt;a href=&quot;#foo&quot;&gt;Back to foo&lt;/a&gt;&lt;/p&gt;
              &lt;/div&gt;&lt;!-- /content --&gt;
              
              &lt;div data-role=&quot;footer&quot;&gt;
                &lt;h4&gt;Page Footer&lt;/h4&gt;
              &lt;/div&gt;&lt;!-- /footer --&gt;
            &lt;/div&gt;&lt;!-- /page --&gt;
          &lt;/body&gt;
    %a{"data-inline" => "true", "data-role" => "button", "data-theme" => "b", :href => "/mobile/docs/pages/multipage-template", :rel => "external"}
      View multi-page template
    %p
      PLEASE NOTE: Since we are using the hash to track navigation history for all the
      Ajax 'pages', it's not currently possible to deep link to an anchor (
      %code
        index.html#foo
      ) on a page in jQuery Mobile, because the framework will look for a 'page' with an
      %code
        ID
      of
      %code
        \#foo
      instead of the native behavior of scrolling to the content with that
      %code
        ID
      \.
    %p
      Learn more about the technical details of the navigation model and
      %a{:href => "/mobile/docs/pages/docs-navmodel"}
        Ajax, hashes and history
      in jQuery mobile.
  / /content
/ /page
