-@title = "jQuery Mobile Docs - Link Scenarios"

- content_for :content_head do
  = render(:partial => "/mobile/index.js.haml", :format => :js)

%div{"data-role" => "page"}
  %div{"data-role" => "header", "data-theme" => "b"}
    %h1 Link Scenarios
    %a.ui-btn-right.jqm-home{"data-direction" => "reverse", "data-icon" => "home", "data-iconpos" => "notext", :href => "/mobile"} Home
  / /header
  %div{"data-role" => "content"}
    %p jQuery Mobile is designed to work with simple page linking conventions. The following list demonstrates how different types of links will be handled, either remotely or through an Ajax Request.
    %ul{"data-dividertheme" => "b", "data-inset" => "true", "data-role" => "listview", "data-theme" => "c"}
      %li{"data-role" => "list-divider"} Examples of links that work within a single-page (if the page exists)
      %li
        %a{:href => "/mobile/docs/pages"} [href="docs/pages/index.html"]
      %li
        %a{:href => "/mobile/docs/toolbars"} [href="/docs/toolbars/index.html"]
      %li
        %a{:href => "#somelocalID"} [href="#somelocalID"]
      %li Note: a full URL to the same-domain will also work
      %li{"data-role" => "list-divider"} Examples of links that trigger a refresh
      %li
        %a{"data-ajax" => "false", :href => "/mobile/docs/pages"} [data-ajax="false"]
      %li
        %a{:href => "/mobile/docs/pages", :rel => "external"} [rel="external"]
      %li
        %a{:href => "/mobile/docs/pages", :target => "_blank"} [target="_blank"]
      %li
        %a{:href => "mailto:john@doe.com"} [href="mailto:john@doe.com"]
      %li
        %a{:href => "tel:543-434-3454"} [href="tel:543-434-3454"]
      %li
        %a{:href => "http://google.com"} [href="http://google.com"]
      %li{"data-role" => "list-divider"} Links that return false
      %li
        %a{:href => "#"} [href="#"]
  / /content
/ /page
