-@title = "jQuery Mobile Docs - Pages"
= render :partial => "/mobile/index.js.haml", :format => :js

.type-index{"data-role" => "page"}
  %div{"data-role" => "header", "data-theme" => "f"}
    %h1 Pages
    %a.ui-btn-right.jqm-home{"data-direction" => "reverse", "data-icon" => "home", "data-iconpos" => "notext", :href => "/mobile"} Home
  / /header
  %div{"data-role" => "content"}
    %p jQuery Mobile includes automatic AJAX page loading of external pages with back button history support, a set of animated page transitions and simple tools for displaying pages as dialogs.
    %ul{"data-inset" => "true", "data-role" => "listview"}
      %li
        %a{:href => "/mobile/docs/pages/page_anatomy"} Anatomy of a page
      %li
        %a{"data-ajax" => "false", :href => "/mobile/docs/pages/page_-template"} Single page template
      %li
        %a{"data-ajax" => "false", :href => "/mobile/docs/pages/multipage_template"} Multi-page template
      %li
        %a{:href => "/mobile/docs/pages/page_titles"} Page titles
      %li
        %a{:href => "/mobile/docs/pages/page_links"} Linking pages
      %li
        %a{:href => "/mobile/docs/pages/page_transitions"} Page transitions
      %li
        %a{:href => "/mobile/docs/pages/page_dialogs"} Dialogs
      %li
        %a{:href => "/mobile/docs/pages/page_cache"} Preload & cache pages
      %li
        %a{:href => "/mobile/docs/pages/page_navmodel"} Ajax, hashes &amp; history
      %li
        %a{:href => "/mobile/docs/pages/page_scripting"} Scripting pages
      %li
        %a{:href => "/mobile/docs/pages/pages_themes"} Theming pages
  / /ui-body wrapper
/ /page
