-@title = "jQuery Mobile Docs - Pages"

- content_for :content_head do
  = render(:partial => "/mobile/index.js.haml", :format => :js)

%div{"data-role" => "page", "data-theme" => "b"}
  %div{"data-role" => "header", "data-theme" => "b"}
    %h1 Pages
  / /header
  %div{"data-role" => "content"}
    %p jQuery Mobile includes automatic AJAX page loading of external pages with back button history support, a set of animated page transitions and simple tools for displaying pages as dialogs.
    %ul{"data-inset" => "true", "data-role" => "listview"}
      %li
        %a{:href => "/mobile/docs/pages/docs-pages"} Anatomy of a page
      %li
        %a{:href => "/mobile/docs/pages/docs-transitions"} Page transitions
      %li
        %a{:href => "/mobile/docs/pages/docs-dialogs"} Dialogs
      %li
        %a{:href => "/mobile/docs/pages/docs-navmodel"} Navigation: Ajax, hashes &amp; history
      %li
        %a{:href => "/mobile/docs/pages/link-formats"} Link format examples
      %li
        %a{:href => "/mobile/docs/pages/pages-themes"} Theming pages
      / <li><a href="/mobile/docs/pages/api-pages">API documentation</a></li>
  / /ui-body wrapper
/ /page
