-@title = "jQuery Mobile Docs - Pages"
= render :partial => "/mobile/index.js.haml", :format => :js

.type-index{"data-role" => "page"}
  %div{"data-role" => "header", "data-theme" => "f"}
    %h1 Pages
    %a.ui-btn-right.jqm-home{"data-direction" => "reverse", "data-icon" => "home", "data-iconpos" => "notext", :href => "/mobile"} Home
  / /header
  %div{"data-role" => "content"}
    %p jQuery Mobile includes automatic AJAX page loading of external pages with back button history support, a set of animated page transitions and simple tools for displaying pages as dialogs.
    %ul{"data-inset" => "true", "data-role" => "listview"}
      %li
        %a{:href => "/mobile/docs/pages/docs_pages"} Anatomy of a page
      %li
        %a{:href => "/mobile/docs/pages/docs_transitions"} Page transitions
      %li
        %a{:href => "/mobile/docs/pages/docs_dialogs"} Dialogs
      %li
        %a{:href => "/mobile/docs/pages/docs_navmodel"} Navigation: Ajax, hashes &amp; history
      %li
        %a{:href => "/mobile/docs/pages/link_formats"} Link format examples
      %li
        %a{:href => "/mobile/docs/pages/pages_themes"} Theming pages
      / <li><a href="/mobile/docs/pages/api_pages">API documentation</a></li>
  / /ui-body wrapper
/ /page
