- content_for :content_head do
  = render(:partial => "/mobile/index.js.haml", :format => :js)

%div{"data-role" => "page"}
  %div{"data-role" => "header"}
    %h1 Link formats
  / /header
  %div{"data-role" => "content"}
    %p All standard HTML link types are supported in jQuery Mobile. To make the experience as polished as possible, any links to pages within the same domain will be automatically turned into Ajax requests and displayed with an animated page transition by the framework.
    %p
      Links that point to other domains or that have
      %code rel="external"
      or
      %code target
      attributes will not be loaded with Ajax and will cause a full page refresh. If multiple "pages" are contained within a single HTML document, they can be linked by referencing the ID of the page as an anchor (#foo).
    %p
      All other types of links like
      %code mailto:
      and
      %code tel:
      aren't impacted by the framework and will work as expected. Learn more about the
      %a{:href => "/mobile/docs/pages/docs-navmodel"} linking and navigation model
      in jQuery Mobile
    %ul{"data-inset" => "true", "data-role" => "listview"}
      %li{"data-role" => "list-divider"} Links that will be Ajax-loaded with page transitions
      %li
        %a{:href => "/mobile/docs/pages"} Link in the same domain
      %li
        %a{"data-rel" => "dialog", :href => "/mobile/docs/pages/dialog"} Dialog link: data-rel="dialog" (not tracked in history)
      %li{"data-role" => "list-divider"} Links that will refresh the page
      %li
        %a{:href => "http://www.jquery.com"} External domain
      %li
        %a{:href => "/mobile", :rel => "external"} Link with rel="external"
      %li
        %a{:href => "/mobile", :target => "foo"} Link with target="foo"
      %li{"data-role" => "list-divider"} Email links
      %li
        %a{:href => "mailto:jdoe@foo.com"} Basic email: mailto:jdoe@foo.com
      %li
        %a{:href => "mailto:jdoe@foo.com?cc=bill@bar.com&bcc=mark@abc.com&subject=Happy%20Birthday&body=Best%20wishes!"} Mailto with a cc:, bcc:, subject and body pre-filled
      %li{"data-role" => "list-divider"} Phone links
      %li
        %a{:href => "tel:15555555555"} Phone: tel:15555555555
      %li
        %a{:href => "wtai://wp/mc;15555555555"} Phone: wtai://wp/mc;15555555555
      %li
        %a{:href => "dc:234*234*234"} Phone: dc:234*234*234
      %li{"data-role" => "list-divider"} Other
      %li
        %a{:href => "#"} A href="#" will return false
  / /content
/ /page
