-@title = "Page Title"

-#- content_for :content_head do
-#  = render(:partial => "/mobile/index.js.haml", :format => :js)

/ Start of first page
#foo{"data-role" => "page"}
  %div{"data-role" => "header"}
    %h1 Foo
  / /header
  %div{"data-role" => "content"}
    %h2 Foo
    %p I'm first in the source order so I'm shown as the page.
    %p
      View internal page called
      %a{:href => "#bar"} bar
  / /content
  %div{"data-role" => "footer"}
    %h4 Page Footer
  / /footer
/ /page
/ Start of second page
#bar{"data-role" => "page"}
  %div{"data-role" => "header"}
    %h1 Bar
  / /header
  %div{"data-role" => "content"}
    %h2 Bar
    %p I'm first in the source order so I'm shown as the page.
    %p
      %a{:href => "#foo"} Back to foo
  / /content
  %div{"data-role" => "footer"}
    %h4 Page Footer
  / /footer
/ /page
