-@title = "jQuery Mobile Docs - Test URL Example"
= render :partial => "/mobile/index.js.haml", :format => :js

%div{"data-role" => "page", "data-url" => "/mobile/docs/pages/page_links_urltest/"}
  %div{"data-role" => "header", "data-theme" => "f"}
    %h1 URL Test Page
  %div{"data-role" => "content"}
    %p This is a regular page that updated the url with a different value than was requested.
