-@title = "Page Title"
= render :partial => "/mobile/index.js.haml", :format => :js

%div{"data-role" => "page"}
  %div{"data-role" => "header"}
    %a{"data-ajax" => "false", "data-icon" => "arrow-l", :href => "/mobile/docs/pages"} List
    %h1 Single page
  / /header
  %div{"data-role" => "content"}
    %p This is a single page boilerplate template that you can copy to build you first jQuery Mobile page. Each link or form from here will pull a new page in via Ajax to support the animated page transitions.
    %p Just view the source and copy the code to get started. All the CSS and JS is linked to the jQuery CDN versions so this is super easy to set up. Remember to include a meta viewport tag in the head to set the zoom level.
    %p
      This template is standard HTML document with a single "page" container inside, unlike a
      %a{:href => "/mobile/docs/pages/multipage_template"} multi-page template
      that has multiple pages within it. We strongly recommend builidng your site or app as a series of separate pages like this because it's cleaner, more lightweight and works better without JavaScript.
  / /content
  %div{"data-role" => "footer"}
    %h4 Footer content
  / /footer
/ /page
