-@title = "Page Title"

= render :partial => "/mobile/index.js.haml", :format => :js

%div{"data-role" => "page"}
  %div{"data-role" => "header"}
    %h1 Page Title
  / /header
  %div{"data-role" => "content"}
    %p Page content goes here.
  / /content
  %div{"data-role" => "footer"}
    %h4 Page Footer
  / /footer
/ /page
