-@title = "jQuery Mobile Docs - Pages"

- content_for :content_head do
  = render(:partial => "/mobile/index.js.haml", :format => :js)

%div{"data-role" => "page", "data-theme" => "e"}
  %div{"data-role" => "header", "data-theme" => "e"}
    %h1 Ta-da!
  / /header
  %div{"data-role" => "content"}
    %p
      That was an animated page transition effect that we added with a
      %code data-transition
      attribute on the link.
    %p Since it uses CSS transforms, this should be hardware accelerated on many mobile devices.
    %p What do you think?
    %a{"data-rel" => "back", "data-role" => "button", "data-theme" => "b", :href => "/mobile/docs/pages/docs_transitions"} I like it
