:css
  #ganttChart {
    font-size: 0.8em;
    padding: 10px;
  }

= render :partial => "data.js.haml", :format => :js

:javascript
  $(function() {
    $("#ganttChart").ganttView({
        data: ganttData,
        slideWidth: 900,
        behavior: {
            onClick: function (data) {
                var msg = "You clicked on an event: { start: " + data.start.toString("M/d/yyyy") + ", end: " + data.end.toString("M/d/yyyy") + " }";
                $("#eventMessage").text(msg);
            },
            onResize: function (data) {
                var msg = "You resized an event: { start: " + data.start.toString("M/d/yyyy") + ", end: " + data.end.toString("M/d/yyyy") + " }";
                $("#eventMessage").text(msg);
            },
            onDrag: function (data) {
                var msg = "You dragged an event: { start: " + data.start.toString("M/d/yyyy") + ", end: " + data.end.toString("M/d/yyyy") + " }";
                $("#eventMessage").text(msg);
            }
        }
    });
  });