-@title = "#{t('txt.jst.name')} - #{t('txt.jst.checkbox')}"
-@jstree_theme = 'jstree.default.css'

- content_for :content_head do
  = render(:partial => "checkbox.js.haml", :format => :js)

.demo
  %h3
    =image_tag("icons/22x22/tree.png", :border => 0)
    =@title
  .span-11.append-13.last
    %h4
      Using the checkbox plugin - all you need to do is include it in the list of active plugins.
    #demo1.ui-widget-content.ui-corner-all
      %ul
        %li#phtml_1
          %a{:href => "#"} Root node 1
          %ul
            %li#phtml_2.jstree-checked
              %a{:href => "#"} Child node 1
            %li#phtml_3
              %a{:href => "#"} Child node 2
        %li#phtml_4
          %a{:href => "#"} Root node 2
  .span-12.append-12.last
    #toolbar.ui-widget-header.ui-corner-all
      %button#set_theme1
        Set default theme
      %button#set_theme2
        Set aqua theme
      %button#set_theme3
        Set aero theme
      %button#set_theme4
        Set crystal theme
      %button#set_theme5
        Set classic theme
/ End demo
.demo-description
  %p
    The
    %b
      checkbox plugin 
    makes multiselection possible using three-state checkboxes.    
  %p
    = link_to raw("Look here for addtional Documentation"), "http://www.jstree.com/documentation/checkbox"  
/ End demo-description
