-@title = "#{t('txt.jst.name')} - #{t('txt.jst.core')}"
-@jstree_theme = 'jstree.default.css'

- content_for :content_head do
  = render(:partial => "core.js.haml", :format => :js)

.demo
  %h3
    =@title
/ End demo
.demo-description
  %p
    This tree 
/ End demo-description
