-@title = "#{t('txt.jst.name')} - #{t('txt.jst.demo')}"
-@jstree_theme = 'jstree.default.css'

- content_for :content_head do
  = render(:partial => "demo.js.haml", :format => :js)

.demo
  %h3
    =@title
  
  .span-24
    #toolbar_top.ui-widget-header.ui-corner-all
      %button#initialize
        Initialize demo
      %button#add_folder
        Add folder
      %button#add_default
        Add file
      %button#rename
        Rename
      %button#remove
        Remove
      %button#cut
        Cut
      %button#copy
        Copy
      %button#paste
        Paste
      %button#clear_search{ :style => "float:right;" }
        Clear
      %button#search{ :style => "float:right;" }
        Search
      %input#text{ :style => "float:right;", :type => "text" }
  .span-16
    #treedemo.ui-widget-content.ui-corner-all
  .span-7
    #alog.ui-widget-content.ui-corner-all
  .span-24
    #toolbar_bottom.ui-widget-header.ui-corner-all
      %center
        %button#reconstruct
          Reconstruct
        %button#analyze
          Analyze
        %button#refresh
          Refresh
/ End demo
.demo-description
  %p
    Original demo transfered from PHP to Ruby on Rails utilzing the
    = link_to raw("<b>acts_as_tree_on_steroids</b>"), "http://github.com/bandito/acts_as_tree_on_steroids"
    plugin.
/ End demo-description
