-@title = "#{t('txt.jst.name')} - #{t('txt.jst.dnd')}"
-@jstree_theme = 'jstree.default.css'

- content_for :content_head do
  = render(:partial => "dnd.js.haml", :format => :js)

.demo
  %h3
    =@title
  .span-11
    %h4
      Using the dnd plugin
    #demo1.ui-widget-content.ui-corner-all
      %ul
        %li#phtml_1
          %a{:href => "#"} Root node 1
          %ul
            %li#phtml_2
              %a{:href => "#"} Child node 1
            %li#phtml_3
              %a{:href => "#"} Child node 2
        %li#phtml_4
          %a{:href => "#"} Root node 2
    %p
      .jstree-drop
        I have the jstree-drop class
      .jstree-draggable
        I have the jstree-draggable class
    %p
      Drag stuff around!   
  .span-11.prepend-2.last
    %h4
      Reorder only demo
    #demo2.ui-widget-content.ui-corner-all
      %ul
        %li#rhtml_1
          %a{:href => "#"} Root node 1
          %ul
            %li#rhtml_2
              %a{:href => "#"} Child node 1
            %li#rhtml_3
              %a{:href => "#"} Child node 2
            %li#rhtml_4
              %a{:href => "#"} Child node 3
            %li#rhtml_5
              %a{:href => "#"} Child node 4
        %li#rhtml_6
          %a{:href => "#"} Root node 2
        %li#rhtml_7
          %a{:href => "#"} Root node 3

/ End demo
.demo-description
  %p
    The
    %b
      dnd plugin 
    enables drag'n'drop support for jstree, also using foreign nodes and drop targets.
  %p
    = link_to raw("Look here for addtional Documentation"), "http://www.jstree.com/documentation/dnd"  
/ End demo-description
