-@title = "#{t('txt.jst.name')} - #{t('txt.jst.ui')}"
-@jstree_theme = 'jstree.default.css'

- content_for :content_head do
  = render(:partial => "ui.js.haml", :format => :js)

.demo
  %h3
    =@title
/ End demo
.demo-description
  %p
    = link_to raw("Look here for addtional Documentation"), "http://www.jstree.com/documentation/ui"  
/ End demo-description
