-@title = "#{t('txt.graphics.sparklines.name')} - #{t('txt.graphics.sparklines.examples')}"
= render :partial => "examples.js.haml", :format => :js

.demo
  %h3
    =image_tag("icons/22x22/sparklines.png", :border => 0)
    =@title
  .span-12
    %p
      Mouse speed
      %span#mousespeed Loading..
    %p
      Inline
      %span.line 10,8,9,3,5,8,5
      line graphs
      %span.line 8,4,0,0,0,0,1,4,4,10,10,10,10,0,0,0,4,6,5,9,10
    %p
      Bar charts
      %span.bar 10,8,9,3,5,8,5
      negative values:
      %span.bar -3,1,2,0,3,-1
    %p
      Composite inline
      %span#compositeline 8,4,0,0,0,0,1,4,4,10,10,10,10,0,0,0,4,6,5,9,10
    %p
      Inline with normal range
      %span#normalline 8,4,0,0,0,0,1,4,4,10,10,10,10,0,0,0,4,6,5,9,10
    %p
      Composite bar
      %span#compositebar 4,6,7,7,4,3,2,1,4
    %p
      Discrete
      %span.discrete1 4,6,7,7,4,3,2,1,4,4,5,6,7,6,6,2,4,5
      %br
        Discrete with threshold
        %span#discrete2 4,6,7,7,4,3,2,1,4
  .span-12.last
    %p
      Customize size and colours
      %span#linecustom 10,8,9,3,5,8,5,7
    %p
      Tristate charts
      %span.tristate 1,1,0,1,-1,-1,1,-1,0,0,1,1
      %br
        (think games won, lost or drawn)
    %p
      Tristate chart using a colour map:
      %span.tristatecols 1,2,0,2,-1,-2,1,-2,0,0,1,1
    %p
      Box Plot:
      %span.boxplot 4,27,34,52,54,59,61,68,78,82,85,87,91,93,100
      %br
        Pre-computed box plot
        %span.boxplotraw
    %p
      Pie charts
      %span.pie 1,1,2
      %span.pie 1,5
      %span.pie 20,50,80
    %p
      Bullet charts
      %br
      %span.bullet 10,12,12,9,7
      %br
      %span.bullet 14,12,12,9,7
      %br
      %span.bullet 10,12,14,9,7
      %br
/ End demo
.demo-description
  #greybox
  %p
    The plugin was written by
    %a{:href => "http://omnipotent.net/", :class => :greybox  } Gareth Watts
    for
    %a{:href => "http://www.splunk.com/", :class => :greybox  } Splunk Inc
    and released under the
    = succeed "." do
      %a{:href => "http://www.opensource.org/licenses/bsd-license.php", :class => :greybox } New BSD License
/ End demo-description

