-@title = "#{t('txt.sparklines.name')} - #{t('txt.sparklines.default')}"

- content_for :content_head do
  = render(:partial => "default.js.haml", :format => :js)

.demo
  %h3
    =@title
  #examples
    %a{:name => "examples"}
    %h4
      %span Examples
    #ex2
      %p
        Pie charts
        %span.pie
          %canvas{:height => "14", :style => "display: inline-block; width: 14px; height: 14px; vertical-align: top;", :width => "14"}
        %span.pie
          %canvas{:height => "14", :style => "display: inline-block; width: 14px; height: 14px; vertical-align: top;", :width => "14"}
        %span.pie
          %canvas{:height => "14", :style => "display: inline-block; width: 14px; height: 14px; vertical-align: top;", :width => "14"}
    #ex1
      %p
        Mouse speed
      %span#mousespeed
        %canvas{:height => "16", :style => "display: inline-block; width: 60px; height: 16px; vertical-align: top;", :width => "60"}

/ End demo
.demo-description
  %h4
    About
  %p
    This jQuery plugin generates
    %a{:href => "http://en.wikipedia.org/wiki/Sparkline", :linkindex => "7", :class => :greybox } sparklines
    (small inline charts) directly
    in the browser using data supplied either inline in the HTML, or via javascript.
  %p
    The plugin is compatible with most modern browsers and has been
    tested with Firefox 2+, Safari 3+, Opera 9, Google Chrome and Internet
    Explorer 6, 7 &amp; 8.
  %p
    Each example displayed above takes just 1 line of HTML or javascript to generate.
  %p
    The plugin was written by
    %a{:href => "http://omnipotent.net/", :linkindex => "8", :class => :greybox } Gareth Watts
    for
    %a{:href => "http://www.splunk.com/", :linkindex => "9", :class => :greybox } Splunk Inc
    and released under the
    = succeed "." do
      %a{:href => "http://www.opensource.org/licenses/bsd-license.php", :linkindex => "10", :class => :greybox } New BSD License

/ End demo-description
