-@title = "#{t('txt.sparklines.name')} - #{t('txt.sparklines.examples')}"

- content_for :content_head do
  = render(:partial => "examples.js.haml", :format => :js)


.demo
  %h3
    =image_tag("icons/22x22/sparklines.png", :border => 0)
    =@title
  .span-12
    %p
      Mouse speed
      %span#mousespeed
        %canvas{:height => "16", :style => "display: inline-block; width: 60px; height: 16px; vertical-align: top;", :width => "60"}
      
  .span-12.last

/ End demo
.demo-description
  %p
    The plugin was written by
    %a{:href => "http://omnipotent.net/" } Gareth Watts
    for
    %a{:href => "http://www.splunk.com/" } Splunk Inc
    and released under the
    = succeed "." do
      %a{:href => "http://www.opensource.org/licenses/bsd-license.php" } New BSD License
/ End demo-description

