-@title = "#{t('txt.jqgrid.name')} - #{t('txt.jqgrid.subgrids.name')} #{t('txt.jqgrid.subgrids.crud')}"
.demo
  %h3
    =image_tag("icons/22x22/grid.png", :border => 0)
    =@title
  %center
    %table#users_11.scroll{ :cellspacing => "0", :cellpadding => "0" }
    #users_11_pager.scroll{ :style => "text-align:center;" }
