-@title = "jQuery Mobile Docs - Features"
= render :partial => "/mobile/index.js.haml", :format => :js

.type-interior{"data-role" => "page"}
  %div{"data-role" => "header", "data-theme" => "f"}
    %h1 Features
    %a.ui-btn-right.jqm-home{"data-direction" => "reverse", "data-icon" => "home", "data-iconpos" => "notext", :href => "/mobile"} Home
  / /header
  %div{"data-role" => "content"}
    .content-primary
      %h2 Key features:
      %ul
        %li
          %strong Built on jQuery core
          for familiar and consistent jQuery syntax and minimal learning curve and leverages jQuery UI code and patterns.
        %li
          %strong Compatible with all major mobile, tablet, e-reader & desktop platforms
          \- iOS, Android, Blackberry, Palm WebOS, Nokia/Symbian, Windows Phone 7, MeeGo, Opera Mobile/Mini, Firefox Mobile, Kindle, Nook, and all modern browsers with graded levels of support.
        %li
          %strong Lightweight size
          and minimal image dependencies for speed.
        %li
          %strong Modular architecture
          for creating custom builds that are optimized to only include the features needed for a particular application
        %li
          %strong HTML5 Markup-driven configuration
          of pages and behavior for fast development and minimal required scripting.
        %li
          %strong Progressive enhancement
          approach brings core content and functionality to all mobile, tablet and desktop platforms and a rich, installed application-like experience on newer mobile platforms.
        %li
          %strong Responsive design
          techniques and tools allow the same underlying codebase to automatically scale from smartphone to desktop-sized screens
        %li
          %strong Powerful Ajax-powered navigation system
          to enable animated page transitions while maintaining back button, bookmarking and and clean URLs though pushState.
        %li
          %strong Accessibility
          features such as WAI-ARIA are also included to ensure that the pages work for screen readers (e.g. VoiceOver in iOS) and other assistive technologies.
        %li
          %strong Touch and mouse event support
          streamline the process of supporting touch, mouse, and cursor focus-based user input methods with a simple API.
        %li
          %strong Unified UI widgets
          for common controls enhance native controls with touch-optimized, themable controls that are platform-agnostic and easy to use.
        %li
          %strong Powerful theming framework
          and the
          %a{:href => "http://www.jquerymobile.com/themeroller", :rel => "external"} ThemeRoller
    .content-secondary
      .ui-body-b
        %div{"data-collapsed" => "true", "data-content-theme" => "d", "data-role" => "collapsible", "data-theme" => "b"}
          %h3 More in this section
          %ul{"data-dividertheme" => "d", "data-role" => "listview", "data-theme" => "c"}
            %li{"data-role" => "list-divider"} Overview
            %li
              %a{:href => "/mobile/docs/about/intro"} Intro to jQuery Mobile
            %li
              %a{:href => "/mobile/docs/about/getting_started"} Quick start guide
            %li{"data-theme" => "a"}
              %a{:href => "/mobile/docs/about/features"} Features
            %li
              %a{:href => "/mobile/docs/about/accessibility"} Accessibility
            %li
              %a{:href => "/mobile/docs/about/platforms"} Supported platforms
  / /content
  .footer-docs{"data-role" => "footer", "data-theme" => "c"}
    %p &copy; 2011 The jQuery Project
/ /page
