-@title = "jQuery Mobile Docs - Supported platforms"
= render :partial => "/mobile/index.js.haml", :format => :js

.type-interior{"data-role" => "page"}
  %div{"data-role" => "header", "data-theme" => "f"}
    %h1 Supported platforms
    %a.ui-btn-right.jqm-home{"data-direction" => "reverse", "data-icon" => "home", "data-iconpos" => "notext", :href => "../../"} Home
  / /header
  %div{"data-role" => "content"}
    .content-primary
      %h2#platforms jQuery Mobile Supported Platforms
      %p jQuery Mobile has broad support for the vast majority of all modern desktop, smartphone, tablet, and e-reader platforms. In addition, feature phones and older browsers are supported because of our progressive enhancement approach. We're very proud of our commitment to universal accessibility through our broad support for all popular platforms.
      %p We use a 3-level graded platform support system: A (full), B (full minus Ajax), C (basic). The visual fidelity of the experience is highly dependent on the CSS rendering capabilities of the device and platform so not all A grade experience will be pixel-perfect but that's the nature of the web.
      %h3{:style => "display: block; font-size: 15px !important; font-weight: normal; background: #f0f0f0; border-left: 7px solid #74B64A; padding: 5px 0 5px 8px;"}
        %strong A-grade
        \- Full enhanced experience with Ajax-based animated page transitions.
      %ul
        %li
          %strong Apple iOS 3.2-5.0
          \- Tested on the original iPad (4.3 / 5.0), iPad 2 (4.3), original iPhone (3.1), iPhone 3 (3.2), 3GS (4.3), and 4 (4.3 / 5.0)
        %li
          %strong Android 2.1-2.3
          \- Tested on the HTC Incredible (2.2), original Droid (2.2), Nook Color (2.2), HTC Aria (2.1), Google Nexus S (2.3). Functional on 1.5 &amp; 1.6 but performance may be sluggish, tested on Google G1 (1.5)
        %li
          %strong> Android Honeycomb
          \- Tested on the Samsung Galaxy Tab 10.1 and Motorola XOOM
        %li
          %strong Windows Phone 7-7.5
          \- Tested on the HTC Surround (7.0) HTC Trophy (7.5), and LG-E900 (7.5)
        %li
          %strong Blackberry 6.0
          \- Tested on the Torch 9800 and Style 9670
        %li
          %strong Blackberry 7
          \- Tested on BlackBerry® Torch 9810
        %li
          %strong Blackberry Playbook
          \- Tested on PlayBook version 1.0.1 / 1.0.5
        %li
          %strong Palm WebOS (1.4-2.0)
          \- Tested on the Palm Pixi (1.4), Pre (1.4), Pre 2 (2.0)
        %li
          %strong Palm WebOS 3.0
          \- Tested on HP TouchPad
        %li
          %strong Firebox Mobile (Beta)
          \- Tested on Android 2.2
        %li
          %strong> Opera Mobile 11.0
          \: Tested on the iPhone 3GS and 4 (5.0/6.0), Android 2.2 (5.0/6.0)
        %li
          %strong Meego 1.2
          \- Tested on Nokia 950 and N9
        %li
          %strong> Kindle 3 and Fire
          \: Tested on the built-in WebKit browser for each
        %li
          %strong>
            Chrome
            = succeed "11-15" do
              %strong Desktop
           - Tested on OS X 10.6.7 and Windows 7
        %li
          %strong Firefox Desktop 4-8
          \- Tested on OS X 10.6.7 and Windows 7
        %li
          %strong Internet Explorer 7-9
          \- Tested on Windows XP, Vista and 7 (minor CSS issues)
        %li
          %strong Opera Desktop 10-11
          \- Tested on OS X 10.6.7 and Windows 7
      %h3{:style => "display: block; font-size: 15px !important; font-weight: normal; background: #f0f0f0; border-left: 7px solid #6699cc; padding: 5px 0 5px 8px;"}
        %strong B-grade
        \- Enhanced experience except without Ajax navigation features.
      %ul
        %li
          %strong> Blackberry 5.0
          \: Tested on the Storm 2 9550, Bold 9770
        %li
          %strong Opera Mini (5.0-6.0)
          \- Tested on iOS 3.2/4.3
        %li
          %strong> Nokia Symbian^3
          \- Tested on Nokia N8 (Symbian^3), C7 (Symbian^3), also works on N97 (Symbian^1)
      %h3{:style => "display: block; font-size: 15px !important; font-weight: normal; background: #f0f0f0; border-left: 7px solid #FFCC33; padding: 5px 0 5px 8px;"}
        %strong
          C
          %strong -grade
        \- Basic, non-enhanced HTML experience that is still functional
      %ul
        %li
          %strong Blackberry 4.x
          \- Tested on the Curve 8330
        %li
          %strong> Windows Mobile
           - Tested on the HTC Leo (WInMo 5.2)
        %li
          %strong All older smartphone platforms and featurephones
          \- Any device that doesn't support media queries will receive the basic, C grade experience
      %h3{:style => "display: block; font-size: 15px !important; font-weight: normal; background: #f0f0f0; border-left: 7px solid #aaaaaa; padding: 6px 0 8px 8px;"}
        %strong> Not Officially Supported -
        May work, but haven't been thoroughly tested or debugged
      %ul
        %li
          %strong Samsung Bada
          \- The project doesn't currently have test devices or emulators, but current support is known to be fairly good. Support level undecided for 1.0
    .content-secondary
      .ui-body-b
        %div{"data-collapsed" => "true", "data-content-theme" => "d", "data-role" => "collapsible", "data-theme" => "b"}
          %h3 More in this section
          %ul{"data-dividertheme" => "d", "data-role" => "listview", "data-theme" => "c"}
            %li{"data-role" => "list-divider"} Overview
            %li
              %a{:href => "/mobile/docs/about/intro"} Intro to jQuery Mobile
            %li
              %a{:href => "/mobile/docs/about/getting_started"} Quick start guide
            %li
              %a{:href => "/mobile/docs/about/features"} Features
            %li
              %a{:href => "/mobile/docs/about/accessibility"} Accessibility
            %li{"data-theme" => "a"}
              %a{:href => "/mobile/docs/about/platforms"} Supported platforms
  / /content
  .footer-docs{"data-role" => "footer", "data-theme" => "c"}
    %p &copy; 2011 The jQuery Project
/ /page
