-@title = "jQuery Mobile Docs - Intro"

- content_for :content_head do
  = render(:partial => "/mobile/index.js.haml", :format => :js)

%div{"data-role" => "page"}
  %div{"data-role" => "header", "data-theme" => "b"}
    %h1 Supported platforms
    %a.ui-btn-right.jqm-home{"data-direction" => "reverse", "data-icon" => "home", "data-iconpos" => "notext", :href => "/mobile"} Home
  / /header
  %div{"data-role" => "content"}
    %h2 Supported platforms in Alpha 4
    %p In the alpha 4 release, the following platforms and browsers have a solid jQuery Mobile experience with pages fully functional and rendering as designed. New in this release is WP7 support.
    %ul
      %li Apple iOS (3.1-4.2): tested on iPhone, iPod Touch, iPad
      %li Android (1.6-2.3): all devices, tested on the HTC Incredible, Motorola Droid, Google G1 and Nook Color
      %li Blackberry 6: tested on Torch and Style
      %li Palm WebOS (1.4): tested on Pre, Pixi
      %li Opera Mobile (10.1): Android
      %li Opera Mini (5.02): iOS, Android
      %li Firefox Mobile (beta): Android
    %h2 Target platform additions for beta
    %p The team is now focusing on bringing support to Blackberry 5, Nokia/Symbian for the upcoming beta release. We don't yet have phones to test bada or MeeGo but these will be added as soon as we can get devices.
    %p Since jQuery Mobile is built on the jQuery core, all pages should also work great on most recent versions of desktop browsers too - Firefox, Chrome, Safari, Internet Explorer, Opera, etc.
    %p
      For more information about browser support, view the
      %a{:href => "http://github.com/jquery/jquery-mobile/wiki/Current-development-status-"} current browser support status and known issues
      and the project's target
      %a{:href => "http://jquerymobile.com/gbs/", :rel => "external"}
        %strong> graded browser matrix
        \.
  / /content
/ /page

