!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title jsTree v.1.0 - sort documentation
    %script{:src => "../js/jquery.js", :type => "text/javascript"}
    %script{:src => "../js/jquery.cookie.js", :type => "text/javascript"}
    %script{:src => "../js/jquery.hotkeys.js", :type => "text/javascript"}
    %script{:src => "../js/jquery.jstree.js", :type => "text/javascript"}
    %link{:href => "syntax/!style.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "!style.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "syntax/!script.js", :type => "text/javascript"}
  %body
    #container
      %h1 jsTree v.1.0 - sort plugin
      %h2 Description
      #description
        %p
          The
          %code sort
          enables jstree to automatically sort all nodes using a specified function. This means that when the user creates, renames or moves nodes around - they will automatically sort.
      %h2#configuration Configuration
      .panel.configuration
        %p
          Expects a function. The functions receives two arguments - two nodes to be compared. Return
          %code -1
          or
          = succeed "." do
            %code 1
          Default is:
        %p
          %code function (a, b) { return this.get_text(a) > this.get_text(b) ? 1 : -1; }
      %h2#demos Demos
      .panel
        %h3 Using the sort plugin
        %input#rename.button{:style => "", :type => "button", :value => "rename"}/
        #demo1.demo
          %ul
            %li#phtml_1
              %a{:href => "#"} Root node 1
              %ul
                %li#phtml_2
                  %a{:href => "#"} Child node 1
                %li#phtml_3
                  %a{:href => "#"} Child node 2
            %li#phtml_4
              %a{:href => "#"} Root node 2
        %script.source{:type => "text/javascript"}
          $(function () {
          $("#rename").click(function () {
          $("#demo1").jstree("rename");
          });
          $("#demo1").jstree({
          "plugins" : [ "themes", "html_data", "ui", "crrm", "sort" ]
          });
          });
      %h2#api API
      .panel.api
        %h3#sort .sort ( node )
        %p Sorts the children of the specified node - this function is called automatically.
        %ul.arguments
          %li
            %code.tp mixed
            %strong node
            %p This can be a DOM node, jQuery node or selector pointing to the element.
