- content_for :head_stylesheets do
  = stylesheet_link_tag :ical, :media => 'screen, projection'
  = stylesheet_link_tag :ical_print, :media => 'print'
  :css
    #wrap {
      width: 1100px;
      margin: 0 auto;
      }

    #external-events {
      float: left;
      width: 150px;
      text-align: left;
      }

    #external-events h4 {
      font-size: 16px;
      margin-top: 0;
      padding-top: 1em;
      }

    .external-event { /* try to mimick the look of a real event */
      margin: 10px 0;
      padding: 2px 4px;
      background: #3366CC;
      color: #fff;
      font-size: .85em;
      cursor: pointer;
      }

    #external-events p {
      margin: 1.5em 0;
      font-size: 11px;
      color: #666;
      }

    #external-events p input {
      margin: 0;
      vertical-align: middle;
      }

    #calendar {
      float: right;
      width: 900px;
      }
    #calendar h2 { font-size: 1.5em; }

- content_for :head_scripts do
  = javascript_include_tag :ical
  :javascript
    $(function() {
      /* initialize the external events
      -----------------------------------------------------------------*/
      $('#external-events div.external-event').each(function() {
          // create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
          // it doesn't need to have a start or end
          var eventObject = {
              title: $.trim($(this).text()) // use the element's text as the event title
          };
          // store the Event Object in the DOM element so we can get to it later
          $(this).data('eventObject', eventObject);
          // make the event draggable using jQuery UI
          $(this).draggable({
              zIndex: 999,
              revert: true,      // will cause the event to go back to its
              revertDuration: 0  //  original position after the drag
          });
      });

      /* initialize the calendar
      -----------------------------------------------------------------*/
      $('#calendar').fullCalendar({
          theme: true,
          header: {
              left: 'prev,next today',
              center: 'title',
              right: 'month,agendaWeek,agendaDay'
          },
          editable: true,
          droppable: true, // this allows things to be dropped onto the calendar !!!
          drop: function(date, allDay) { // this function is called when something is dropped

              // retrieve the dropped element's stored Event Object
              var originalEventObject = $(this).data('eventObject');

              // we need to copy it, so that multiple events don't have a reference to the same object
              var copiedEventObject = $.extend({}, originalEventObject);

              // assign it the date that was reported
              copiedEventObject.start = date;
              copiedEventObject.allDay = allDay;

              // render the event on the calendar
              // the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
              $('#calendar').fullCalendar('renderEvent', copiedEventObject, true);

              // is the "remove after drop" checkbox checked?
              if ($('#drop-remove').is(':checked')) {
                  // if so, remove the element from the "Draggable Events" list
                  $(this).remove();
              }
          }
      });
    });

- content_for :license do
  = render :partial =>  "widgets/ical/license"
