- content_for :head_stylesheets do
  = stylesheet_link_tag :ical, :media => 'screen, projection'
  = stylesheet_link_tag :ical_print, :media => 'print'
  :css
    #loading {
      position: absolute;
      top: 5px;
      right: 5px;
      }

    #calendar {
      width: 900px;
      margin: 0 auto;
      }
    #calendar h2 { font-size: 1.5em; }

- content_for :head_scripts do
  = javascript_include_tag :ical
  :javascript
    $(function() {
      $('#calendar').fullCalendar({
          theme: true,
          editable: true,
          events: "/widgets/ical/full_calendar/jsondemo",
          eventDrop: function(event, delta) {
              alert(event.title + ' was moved ' + delta + ' days\n' +
                  '(should probably update your database)');
          },
          loading: function(bool) {
              if (bool) $('#loading').show();
              else $('#loading').hide();
          }
      });
    });

- content_for :license do
  = render :partial =>  "widgets/ical/license"
