-@title = t('txt.ical.fullcalendar.name') + " - " + t('txt.ical.fullcalendar.gcal')

- content_for :content_head do
  = render(:partial => "gcal.js.haml", :format => :js)

.demo
  %h3
    =image_tag("icons/22x22/calendar.png", :border => 0)
    =@title

  #loading{:style => "display:none"} loading... 
  #calendar.ui-widget-content.ui-corner-all{ :style => "background: none; padding: 0.5em;" }