-@title = "#{t('txt.ui.name')} #{t('txt.ui.effects.default')} - #{t('txt.ui.effects.toggle.default')}"

- content_for :content_head do
  = render(:partial => "index.js.haml", :format => :js)
      
.demo
  %h3
    =image_tag("icons/22x22/jquery-ui.png", :border => 0)
    =@title
  .toggler
    #effect.ui-widget-content.ui-corner-all
      %h3.ui-widget-header.ui-corner-all
        Toggle
      %p
        Etiam libero neque, luctus a, eleifend nec, semper at, lorem. Sed pede. Nulla lorem metus, adipiscing ut, luctus sed, hendrerit vitae, mi.
  %select#effectTypes{ :name => "effects" }
    %option{ :value => "blind" }
      Blind
    %option{ :value => "bounce" }
      Bounce
    %option{ :value => "clip" }
      Clip
    %option{ :value => "drop" }
      Drop
    %option{ :value => "explode" }
      Explode
    %option{ :value => "fade" }
      Fade
    %option{ :value => "fold" }
      Fold
    %option{ :value => "highlight" }
      Highlight
    %option{ :value => "puff" }
      Puff
    %option{ :value => "pulsate" }
      Pulsate
    %option{ :value => "scale" }
      Scale
    %option{ :value => "shake" }
      Shake
    %option{ :value => "size" }
      Size
    %option{ :value => "slide" }
      Slide
  %a#button{ :href => "#" }
    Run Effect
/ End demo
.demo-description
  %p
    Click the button above to preview the effect.
/ End demo-description
