-@title = "#{t('txt.ui.name')} #{t('txt.ui.interactions.selectable.default')} - #{t('txt.ui.default')}"
-@jquery_partial = 'default.js.haml'

.demo
  %h3
    =@title
  %ol#selectable
    %li.ui-widget-content
      Item 1
    %li.ui-widget-content
      Item 2
    %li.ui-widget-content
      Item 3
    %li.ui-widget-content
      Item 4
    %li.ui-widget-content
      Item 5
    %li.ui-widget-content
      Item 6
    %li.ui-widget-content
      Item 7
/ End demo
.demo-description
  %p
    Enable a DOM element (or group of elements) to be selectable. Draw a box with your cursor to select items. Hold down the Ctrl key to make multiple non-adjacent selections.
/ End demo-description
