-@browser_title = "#{t('txt.ui.name')} #{t('txt.ui.interactions.selectable.default')} - #{t('txt.ui.interactions.selectable.display-grid')}"
-@jquery_partial = 'display_grid.js.haml'

.demo
  %h3
    =@browser_title
  %ol#selectable
    %li.ui-state-default
      1
    %li.ui-state-default
      2
    %li.ui-state-default
      3
    %li.ui-state-default
      4
    %li.ui-state-default
      5
    %li.ui-state-default
      6
    %li.ui-state-default
      7
    %li.ui-state-default
      8
    %li.ui-state-default
      9
    %li.ui-state-default
      10
    %li.ui-state-default
      11
    %li.ui-state-default
      12
/ End demo
.demo-description
  %p
    To arrange selectable items as a grid, give them identical dimensions and float them using CSS.
/ End demo-description
