:css
  #show div {
    position: absolute;
    width: 50px;
    height: 50px;
  }
  
  #show p {
    position: absolute;
    left: 10px;
    bottom: 10px;
  }
 
  #show #touchme {
    background-color: grey;
    width: 150px;
    height: 150px;
    left: 80px;
    top: 80px;
  }
 
  #green, #blue, #red {
    left: 10px;
  }
  #green {
    background-color: green;
    top: 60px;
  }
  #blue {
    background-color: blue;
    top: 140px;
  }
  #red {
    background-color: red;
    top: 220px;
  }
 
  #solid, #dashed, #dotted {
    right: 10px;
    height: 46px;
    width: 46px;
    border-size: 2px;
    border-color: white;
  }
  #solid {
    border-style: solid;
    top: 60px;
  }
  #dashed {
    border-style: dashed;
    top: 140px;
  }
  #dotted {
    border-style: dotted;
    top: 220px;
  }

:javascript
  var jQT = new $.jQTouch({
    icon: '/images/jqtouch/jqtouch.png',
    addGlossToIcon: false,
    startupScreen: '/images/jqtouch/jqt_startup.png',
    statusBar: 'black'
  });
  
  function change_style(type) {
    if (type == 'green') {
      $('#touchme').css('background-color', 'green'); 
    } else if (type == 'blue') {
      $('#touchme').css('background-color', 'blue'); 
    }
    else if (type == 'red') {
      $('#touchme').css('background-color', 'red'); 
    } 
    else if (type == 'solid') {
      $('#touchme').css('border-color', 'white');
      $('#touchme').css('border-size', '2px'); 
      $('#touchme').css('border-style', 'solid'); 
    } 
    else if (type == 'dashed') {
      $('#touchme').css('border-color', 'white');
      $('#touchme').css('border-size', '2px'); 
      $('#touchme').css('border-style', 'dashed'); 
    } 
    else if (type == 'dotted') {
      $('#touchme').css('border-color', 'white');
      $('#touchme').css('border-size', '2px'); 
      $('#touchme').css('border-style', 'dotted'); 
    }  
  };
  
  // Some sample Javascript functions:
  $(function(){
    jQT.resetHeight();    
  });
  
  $(document).ready(function() {
  	$('#touchme').touch({
  		animate: true,
  		sticky: false,
  		dragx: true,
  		dragy: true,
  		rotate: true,
  		resort: true,
  		scale: true }
    );
    
    $('#green').tap(function(){
      change_style('green');
    });    
    $('#blue').tap(function(){
      change_style('blue');
    });    
    $('#red').tap(function(){
      change_style('red');
    });  
    $('#solid').tap(function(){
      change_style('solid');
    });  
    $('#dashed').tap(function(){
      change_style('dashed');
    });  
    $('#dotted').tap(function(){
      change_style('dotted');
    });
  });
  		