:css         
  .box1 {
    position:absolute;
    top:50px;
    left:10px;
    height:100px;
    width:100px;
    background:#454B78;
    border:1px solid #555B87;
    cursor:move;
    text-align:center;
  }
    
  .box2 {
    margin:200px 6px 0 4px;
    float: right;
    height:150px;
    width:150px;
    background:#222;
    border:1px solid #333;
    overflow:hidden;
    text-align:center;
  }
    
  .box2 span {
    float:left;
  }
    
  #area .active {
    background:#457845;
    border:1px solid #558755;
  }
    
  #area a {
    color: white;
    font-size: 18px;
    position: absolute;
    bottom: 10px;
  }

:javascript
  var jQT = new $.jQTouch({
    icon: '/images/jquery/touch/jqtouch.png',
    addGlossToIcon: false,
    startupScreen: '/images/jquery/touch/jqt_startup.png',
    statusBar: 'black'
  });
  // Some sample Javascript functions:
  $(function(){
    jQT.resetHeight();
  });

  function touchHandler(event) {
    var touches = event.changedTouches,
    first = touches[0],
    type = "";    
    
    switch(event.type) {
    case "touchstart":
      type = "mousedown";
      break;      
    case "touchmove":
      type="mousemove";
      event.preventDefault();
      break;      
    case "touchend":
      type="mouseup";
      break;      
    default:
      return;
    }
    
    var simulatedEvent = document.createEvent("MouseEvent");
    
    //initMouseEvent(type, canBubble, cancelable, view, clickCount, screenX, screenY, clientX, clientY,
    //               ctrlKey, altKey, shiftKey, metaKey, button, relatedTarget);
    
    simulatedEvent.initMouseEvent(type, true, true, window, 1, first.screenX, first.screenY, first.clientX, first.clientY,
    false, false, false, false, 0/*left*/, null);
    
    first.target.dispatchEvent(simulatedEvent);
    
    //event.preventDefault();
  };

  $(function() {
    document.addEventListener("touchstart", touchHandler, false);
    document.addEventListener("touchmove", touchHandler, false);
    document.addEventListener("touchend", touchHandler, false);
    document.addEventListener("touchcancel", touchHandler, false);
 
    $('div.box1')
    .bind( 'dragstart', function( event ) {
      $.dropManage({ mode: $('#mode').val() });
      return $( this ).clone()
      .appendTo( this.parentNode )
      .css({
        opacity: .5,
        top: event.offsetY,
        left: event.offsetX
       });
    })
    .bind( 'drag', function( event ) {
      $( event.dragProxy ).css({ 
        top:event.offsetY, 
        left:event.offsetX 
      });
    })
    .bind( 'dragend', function( event ) {
      $( event.dragProxy ).fadeOut();
    });
    
    $('div.box2')
    .bind( 'dropstart',function()  {
      $( this ).addClass('active');
    })
    .bind( 'drop', function( event ) {
      $( this ).append('<span>&nbsp;&bull;<span>');
    })
    .bind( 'dropend', function( event ) {
      $( this ).removeClass('active');
    });    
  });
							