:css  
  #touchme1 {
    float: left;
  }
  #touchme2 {
    float: right;
  }
  .largetouchbox {
    width: 130px;
    height:130px;
    background-color:#999;
    color: #FFF;
    opacity: .75;
    filter: alpha(opacity = 75);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    margin: 10px;
    z-index: 950;
  }
  .largetouchbox b {
    line-height: 130px;
  }
  .smalltouchbox {
    width: 50px;
    height:50px;
    background-color:#666;
    color: #FFF;
    opacity: .75;
    filter: alpha(opacity = 75);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    margin: 10px;
    z-index: 900;
    position: absolute;
  }
  .smalltouchbox span, .largetouchbox span {
    position: relative;
    float: left;
    top: 10px;
    left: 10px;
    font-size: 10px;
  }
  #notes {
    position: absolute;
    display: block;
    top: 360px;
    width: 300px;
    z-index: 800;
    padding: 10px;
    font-size: 16px;
  }
  #notes b {
    font-size: 20px;
  }
  #smallwrapper {
    position: absolute;
    top: 150px;
    left: 0px;
    }

:javascript
  var jQT = new $.jQTouch({
    icon: '/images/jqtouch/jqtouch.png',
    addGlossToIcon: false,
    startupScreen: '/images/jqtouch/jqt_startup.png',
    statusBar: 'black'
  });
  // Some sample Javascript functions:
  $(function(){
    jQT.resetHeight();
    // This prevents scrolling
    $('#jqt').live('touchmove',function(){
      event.preventDefault();
    });
  });

  $(document).ready(function() {
  	$('#touchme1').touch({
  		animate: true,
  		sticky: false,
  		dragx: true,
  		dragy: true,
  		rotate: true,
  		resort: true,
  		scale: true
  	});
  	$('#touchme2').touch({
  		animate: false,
  		sticky: false,
  		dragx: true,
  		dragy: true,
  		rotate: false,
  		resort: true,
  		scale: false
  	});
  	$('.dragx').touch({
  		animate: true,
  		sticky: false,
  		dragx: false,
  		dragy: true,
  		rotate: false,
  		resort: false,
  		scale: false
  	});
  	$('.dragy').touch({
  		animate: true,
  		sticky: false,
  		dragx: true,
  		dragy: false,
  		rotate: false,
  		resort: false,
  		scale: false
  	});  
  });
  			