:javascript
  var jQT = new $.jQTouch({
    icon: '/images/jquery/touch/jqtouch.png',
    addGlossToIcon: false,
    startupScreen: '/images/jquery/touch/jqt_startup.png',
    statusBar: 'black'
  });
  // Some sample Javascript functions:
  $(function(){
    jQT.resetHeight();
  });
