-@browser_title = "jQTouch &beta;"

- content_for :content_head do
  = render(:partial => "virtual.js.haml", :format => :js)
%body
  #jqt.fullscreen
    #home
      .toolbar
        %h1
          Virtual Light Table
        %a.back{ :href => "/jqtouch/demo/#mobione", :target => "_webapp"  } 
          MobiOne Demos
      #virtual
        -#%script{:src => "/images/demo/jqtouch/mobione/saved_resource"}
