-@browser_title = "jQTouch &beta;"

- content_for :content_head do
  = render(:partial => "virtual.js.haml", :format => :js)

#jqt.fullscreen
  #home
    .toolbar
      %h1
        Virtual Light Table
      %a.button.backRemote{ :href => "/jqtouch/demo", :target => "_webapp" }
        MobiOne Demos
    #virtual
      -#%script{:src => "/images/demo/touch/mobione/saved_resource"}
