!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
  %body
    %div{"data-role" => "page"}
      %div{"data-role" => "header"}
        %h1 Class Selector (“.class”)
        .entry-meta
          Categories:
          %span.category
            %a{:href => "http://api.jquery.com/category/selectors/", :title => "View all posts in Selectors"} Selectors
            \&gt;
            %a{:href => "http://api.jquery.com/category/selectors/basic-css-selectors/", :title => "View all posts in Basic"} Basic
      #class1{"data-role" => "content", "data-theme" => "c"}
        %h2.jq-clearfix.roundTop.section-title
          %span.name class
          selector
        .entry-details
          %h4.name
            %span.versionAdded>
              version added:
              %a{:href => "/version/1.0/"} 1.0
            jQuery('.class')
          %ul.signatures
            %li
              %dl.arguments
                %dt class
                %dd A class to search for. An element can have multiple classes; only one of them must match.
          %p.desc
            %strong> Description:
            Selects all elements with the given class.
          .longdesc
            %p
              For class selectors, jQuery uses JavaScript's native
              %code getElementsByClassName()
              function if the browser supports it.
          %h3 Examples:
          #entry-examples.entry-examples
            #example-0
              %h4
                Example:
                %span.desc Finds the element with the class "myClass".
              %pre
                %code.example.demo-code
                  :preserve
                    &lt;!DOCTYPE html&gt;
                    &lt;html&gt;
                    &lt;head&gt;
                      &lt;style&gt;
                      div,span {
                        width: 100px;
                        height: 40px;
                        float:left;
                        padding: 10px;
                        margin: 10px;
                        background-color: #EEEEEE;
                      }
                      &lt;/style&gt;
                      &lt;script src="http://code.jquery.com/jquery-latest.js"&gt;&lt;/script&gt;
                    &lt;/head&gt;
                    &lt;body&gt;
                    	&lt;div class="notMe"&gt;div class="notMe"&lt;/div&gt;
                    
                      &lt;div class="myClass"&gt;div class="myClass"&lt;/div&gt;
                      &lt;span class="myClass"&gt;span class="myClass"&lt;/span&gt;
                    &lt;script&gt;$(".myClass").css("border","3px solid red");&lt;/script&gt;
                    &lt;/body&gt;
                    &lt;/html&gt;              %h4 Demo:
              .demo.code-demo
            #example-1
              %h4
                Example:
                %span.desc Finds the element with both "myclass" and "otherclass" classes.
              %pre
                %code.example.demo-code
                  :preserve
                    &lt;!DOCTYPE html&gt;
                    &lt;html&gt;
                    &lt;head&gt;
                      &lt;style&gt;
                      div,span {
                        width: 100px;
                        height: 40px;
                        float:left;
                        padding: 10px;
                        margin: 10px;
                        background-color: #EEEEEE;
                      }
                      &lt;/style&gt;
                      &lt;script src="http://code.jquery.com/jquery-latest.js"&gt;&lt;/script&gt;
                    &lt;/head&gt;
                    &lt;body&gt;
                    	&lt;div class=".myclass"&gt;div class="notMe"&lt;/div&gt;
                    
                      &lt;div class="myclass otherclass"&gt;div class="myClass"&lt;/div&gt;
                      &lt;span class="myclass otherclass"&gt;span class="myClass"&lt;/span&gt;
                    &lt;script&gt;$(".myclass.otherclass").css("border","13px solid red");&lt;/script&gt;
                    &lt;/body&gt;
                    &lt;/html&gt;              %h4 Demo:
              .demo.code-demo
