-@title = "jQuery Mobile Framework - DST Test"
-@manifest = "/manifest"
= render :partial => "index.js.haml", :format => :js

#jqm{"data-role" => "page"}
  %div{"data-backbtn" => "false", "data-role" => "header", "data-theme" => "b"}
    %a.ui-btn-right{"data-icon" => "arrow-r", :href => "#native"} Native
    %h1 jQuery DST Test Page
    %a.ui-btn-left{"data-icon" => "home", "data-iconpos" => "notext", :href => "/mobile/experiments/main", :rel => "external"} Home
  / / header
  %div{"data-role" => "content"}
    %h2
      %img{:src => "/images/icons/24x24/working.png"}
      Using jQuery mobile form elements
    %form.dst{:name => "jq_dst_testform"}
      %div{"data-role" => "fieldcontain"}
        %label{:for => "name"} Text Input:
        %input#name{:name => "name", :type => "text", :value => ""}
      %div{"data-role" => "fieldcontain"}
        %fieldset{"data-role" => "controlgroup", "data-type" => "horizontal"}
          %legend Radio Input:
          %input#radio-choice-1{:name => "radio_input", :type => "radio", :value => "choice-1"}
          %label{:for => "radio-choice-1"} Option 1
          %input#radio-choice-2{:name => "radio_input", :type => "radio", :value => "choice-2"}
          %label{:for => "radio-choice-2"} Option 2
          %input#radio-choice-3{:name => "radio_input", :type => "radio", :value => "choice-3"}
          %label{:for => "radio-choice-3"} Option 3
      %div{"data-role" => "fieldcontain"}
        %fieldset{"data-role" => "controlgroup"}
          %legend Checkbox Input:
          %input#checkbox{:name => "checkbox_input", :type => "checkbox"}
          %label{:for => "checkbox"} Ckeck it
      %div{"data-role" => "fieldcontain"}
        %label{:for => "textarea"} Textarea Input:
        %textarea#textarea{:cols => "40", :name => "textarea", :rows => "8"}
      %p
        %input#store{:type => "button", :value => "Store"}
        %input#recall{:type => "button", :value => "Recall"}
        %input#reset{:type => "reset", :value => "Reset Form"}
  / / content
/ / page
#native{"data-role" => "page"}
  %div{"data-role" => "header", "data-theme" => "b"}
    %h1 jQuery DST Test Page
  / / header
  %div{"data-role" => "content"}
    %h2 Using native form elements for checkbox &amp; radio buttons
    %form.dst{:name => "jq_dst_testform"}
      %div{"data-role" => "fieldcontain"}
        %label{:for => "name"} Text Input:
        %input#name{:name => "name", :type => "text", :value => ""}
      %div{"data-role" => "fieldcontain"}
        %fieldset{"data-role" => "controlgroup"}
          %legend Radio Input:
          %input#radio_input-1{"data-role" => "none", :name => "radio_input", :type => "radio", :value => "choice-1"}
          %label{:for => "radio_input-1"} 1
          %input#radio_input-2{"data-role" => "none", :name => "radio_input", :type => "radio", :value => "choice-2"}
          %label{:for => "radio_input-2"} 2
          %input#radio_input-3{"data-role" => "none", :name => "radio_input", :type => "radio", :value => "choice-3"}
          %label{:for => "radio_input-3"} 3
      %div{"data-role" => "fieldcontain"}
        %fieldset{"data-role" => "controlgroup"}
          %legend Checkbox Input:
          %input#checkbox1.custom{"data-role" => "none", :name => "checkbox_input", :type => "checkbox"}
      %div{"data-role" => "fieldcontain"}
        %label{:for => "textarea"} Textarea Input:
        %textarea#textarea{:cols => "40", :name => "textarea", :rows => "8"}
      %p
        %input#store{:type => "button", :value => "Store"}
        %input#recall{:type => "button", :value => "Recall"}
        %input#reset{:type => "reset", :value => "Reset Form"}
  / / content
/ / page