:css
  #test { border:1px solid #ccc; background-color:#fff; padding:50px; font-size:30px; margin:20px auto; text-align:center; width:600px; }

:javascript
  $(function() {
    // assign a click event to the exposed element, using normal jQuery coding
    $("#test").click(function() {
      // perform exposing for the clicked element
      $(this).expose();
    });
  });

