:css
  #exposeMask {
    background:#123 url(/images/demo/tools/img/acme-gray.png) 50px 366px no-repeat; }
  #player {
    background:#333 url(/images/demo/tools/img/flow_eye.jpg) no-repeat 37px 0;
    width:500px; height:300px; display:block; text-align:center; margin:10px auto; }
  #player img { margin-top:110px; border:0px; }
  #player_wrap { background:#000 url(/images/demo/tools/gradient/h300.png) 0 0 repeat-x; }

= javascript_include_tag :flowplayer

:javascript
  // execute your scripts when the the DOM is ready. this is a good habit
  $(function() {
    // install flowplayer.
    flowplayer("player", "/videos/flowplayer-3.2.5.swf", {
      // when playback starts, perform exposing
      onStart: function() {
        $("#player").expose({
          // mask lets 20% of the content show through
          opacity: 0.8,
          // close expose slowly
          closeSpeed: 'slow',
          // we only want to close exposing when playback is finished
          // (or the ESC button is pressed)
          closeOnClick: false,
          // when the mask closes, alter its background color
          onBeforeClose: function() {
            $f().pause();
            this.getMask().css({backgroundColor: '#b8128f'});
          },
          // when the mask loads again, use the original background color
          onBeforeLoad: function() {
            this.getMask().css({backgroundColor: null});
          }
        });
      },
      onResume: function() {
        $.mask.load();
      },
      // when playback finishes, close the expose
      onFinish: function() {
        $.mask.close();
      }
    });
  });
