- content_for :head_stylesheets do
  :css
    #exposeMask {
      background:#678 url(/images/demo/tools/mask/mask_gradient_1000.png) no-repeat;
      background-position:${empty plain ? '-260px -79px' : '13% 160px'};
    }
    form.expose { border:1px outset #ccc; background:#fff url(/images/demo/tools/gradient/h150.png) repeat-x; padding:20px; margin:20px 0; text-align:center; width:350px; -moz-border-radius:4px; }
    label, input { display: block; width: 150px; float: left; margin-bottom: 10px; }
    label { text-align: right; width: 75px; padding-right: 20px; }
    br { clear: left; }

- content_for :head_scripts do
  = javascript_include_tag :tools
  :javascript
    // execute your scripts when the DOM is ready. this is a good habit
    $(function() {
      // expose the form when it's clicked or cursor is focused
      var form = $(".expose").bind("click keydown", function() {
          $(this).expose({
              // when exposing is done, change form's background color
              onLoad: function() {
                  form.css({backgroundColor: '#c7f8ff'});
              },
              // when "unexposed", return to original background color
              onClose: function() {
                  form.css({backgroundColor: null});
              }
          });
      });
    });

- content_for :license do
  = render :partial => "widgets/tools/license"
