:css
  .circle {
    display: block;
    display: block;
    width: 16px;
    height: 16px;
    background: #000;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
  }

:javascript
  $(function() {
    $("a", ".buttons").button();
  });
  