-@title = "jQuery Mobile Framework - Converter Demo Application"
-@manifest = "converter/manifest"

- content_for :content_head do
  = render(:partial => "index.js.haml", :format => :js)

#start{"data-role" => "page", "data-theme" => "a"}
  %script#conversion-field{:type => "text/x-jquery-tmpl"}
    %li
      %p.currency-from
        ${$item.symbols[from]}
        %span.unit ${from}
      %p.currency-to.ui-li-aside
        ${$item.symbols[to]}
        %span.rate{:id => "${from}${to}"} NaN
        %span.unit ${to}
  %script#conversion-edit-field{:type => "text/x-jquery-tmpl"}
    %li
      %label.ui-input-text{:class => "conversion-${type}", :for => "${from}${to}", :title => "From ${from} to ${to}"} ${$item.symbols[from]} to ${$item.symbols[to]}
      %a.deletebutton.ui-aux{:href => "#"} Delete
  %div{"data-role" => "header", "data-theme" => "e"}
    %a.ui-btn-right{"data-icon" => "gear", "data-rel" => "dialog", "data-transition" => "pop", :href => "#customize"} Edit
    %h1 Currency converter
  .ui-bar.ui-bar-a
    %form#curr-form{:action => "", "data-role" => "autoform", :method => "get"}
      %label{"data-role" => "nojs", :for => "term"} Search:
      %input#term{"data-theme" => "a", :name => "term", :placeholder => "Type a value...", :type => "search", :value => "25"}/
  %div{"data-role" => "content"}
    %ul#conversions{"data-role" => "listview", "data-theme" => "a"}
#customize.ui-body-b{"data-role" => "page"}
  %div{"data-nobackbtn" => "true", "data-role" => "header", "data-theme" => "b"}
    %h1 Edit conversions
    %a.ui-btn-right{"data-icon" => "check", "data-theme" => "b", "data-transition" => "fade", :href => "#start"} Done
  %div{"data-role" => "content"}
    %ul#edit-conversions{"data-inset" => "true", "data-role" => "listview", "data-theme" => "c"}
  .ui-body
    %a{"data-role" => "button", :href => "#add-currency-dialog"} Add new...
    %a#restore{"data-role" => "button", "data-theme" => "c", :href => "#"} Restore defaults
#add-currency-dialog.ui-body-b{"data-role" => "page"}
  %div{"data-role" => "header", "data-theme" => "a"}
    %h1 Add new
    %a.ui-back{"data-icon" => "arrow-l", :href => "#customize"} Cancel
  %div{"data-role" => "content"}
    %h2 Select currencies to convert:
    %div{"data-role" => "fieldcontain"}
      %label{:for => "currency-options-from"} From
      %select#currency-options-from{"data-theme" => "c", :name => "currency-options"}
        %option{:value => "EUR"} EUR to Euro
        %option{:value => "USD"} USD to US Dollar
        %option{:value => "GBP"} GBP to Great Britain Pound
    %div{"data-role" => "fieldcontain"}
      %label{:for => "currency-options-to"} To
      %select#currency-options-to{"data-theme" => "c", :name => "currency-options"}
        %option{:value => "EUR"} EUR to Euro
        %option{:value => "USD"} USD to US Dollar
        %option{:value => "GBP"} GBP to Great Britain Pound
    %div{"data-role" => "fieldcontain"}
      %a#cancel{"data-inline" => "true", "data-role" => "button", "data-theme" => "c", :href => "#customize"} Cancel
      %a#add{"data-inline" => "true", "data-role" => "button", "data-theme" => "b", :href => "#customize"} Add conversion
