-@title = "jQuery Mobile Framework - Converter Demo Application"
-@manifest = "/manifest"

- content_for :content_head do
  = render(:partial => "index.js.haml", :format => :js)

#start{"data-role" => "page", "data-theme" => "a"}
  %div{"data-role" => "header", "data-theme" => "e"}
    %a.ui-btn-right{"data-icon" => "gear", "data-rel" => "dialog", "data-transition" => "pop", :href => "#customize"} Edit
    %h1 Currency converter
    %a.ui-btn-left.jqm-home{"data-direction" => "reverse", "data-icon" => "home", "data-iconpos" => "notext", :href => "/mobile/experiments", :rel => "external"} Home
  .ui-bar.ui-bar-a
    %form#curr-form{:action => "", "data-role" => "autoform", :method => "get"}
      %label{"data-role" => "nojs", :for => "term"} Search:
      %input#term{"data-theme" => "a", :name => "term", :placeholder => "Type a value...", :type => "search", :value => "25"}/
  %div{"data-role" => "content"}
    %ul#conversions{"data-role" => "listview", "data-theme" => "a"}
#customize.ui-body-b{"data-role" => "page"}
  %div{"data-backbtn" => "false", "data-role" => "header", "data-theme" => "b"}
    %h1 Edit conversions
    %a.ui-btn-right{"data-icon" => "check", "data-theme" => "b", "data-transition" => "fade", :href => "#start"} Done
  %div{"data-role" => "content"}
    %ul#edit-conversions{"data-inset" => "true", "data-role" => "listview", "data-theme" => "c"}
  .ui-body
    %a{"data-role" => "button", :href => "#add-currency-dialog"} Add new...
    %a#restore{"data-role" => "button", "data-theme" => "c", :href => "#"} Restore defaults
#add-currency-dialog.ui-body-b{"data-role" => "page"}
  %div{"data-role" => "header", "data-theme" => "a"}
    %h1 Add new
    %a.ui-back{"data-icon" => "arrow-l", :href => "#customize"} Cancel
  %div{"data-role" => "content"}
    %h2 Select currencies to convert:
    %div{"data-role" => "fieldcontain"}
      %label{:for => "currency-options-from"} From
      %select#currency-options-from{"data-theme" => "c", :name => "currency-options"}
        %option{:value => "EUR"} EUR to Euro
        %option{:value => "USD"} USD to US Dollar
        %option{:value => "GBP"} GBP to Great Britain Pound
    %div{"data-role" => "fieldcontain"}
      %label{:for => "currency-options-to"} To
      %select#currency-options-to{"data-theme" => "c", :name => "currency-options"}
        %option{:value => "EUR"} EUR to Euro
        %option{:value => "USD"} USD to US Dollar
        %option{:value => "GBP"} GBP to Great Britain Pound
    %div{"data-role" => "fieldcontain"}
      %a#cancel{"data-inline" => "true", "data-role" => "button", "data-theme" => "c", :href => "#customize"} Cancel
      %a#add{"data-inline" => "true", "data-role" => "button", "data-theme" => "b", :href => "#customize"} Add conversion
