:css
  div.prop{
    height: 200px;
    line-height: 200px;
    margin: 20px auto;
    text-align: center;
    width: 200px;
  }
  div.guitar{
    background: white url("/images/demo/touch/gestures/guitar.png") no-repeat 40px 30px;
  }
  div.drum{
    background: white url("/images/demo/touch/gestures/drum.png") no-repeat 5px 0;
    height: 128px;
    width: 128px;
  }


:javascript
  var jQT = new $.jQTouch({
    icon: '/images/jquery/touch/jqtouch.png',
    addGlossToIcon: false,
    useFastTouch: false,
    startupScreen: '/images/jquery/touch/jqt_startup.png',
    statusBar: 'black'
  });
      
  $(function(){
    jQT.resetHeight();
      
    var actions = {
      onGestureStart: function(scale, rotation, event){
        $(event.originalEvent.target).css('background-color', 'red');
      },
      // don't forget the come after object properties and methods
      onGestureChange: function(scale, rotation, e){
        e.originalEvent.target.style.webkitTransform = 'rotate(' + rotation + 'deg)';
      },
      onGestureEnd: function(s,r,e){ 
        $(e.originalEvent.target).css('background-color', 'white');
      }
    };
    $('div.guitar').bindGestures(actions);
  
    var actions2 = {
      onGestureStart: function(scale, rotation, event){
        $(event.originalEvent.target).css('background-color', 'blue');
      },
      onGestureChange: function(scale, rotation, e){
        e.originalEvent.target.style.webkitTransform = 'scale(' + scale + ')';
      },
      onGestureEnd: function(s,r,e){ 
        $(e.originalEvent.target).css('background-color', 'white');
      }
    };
    $('div.drum').bindGestures(actions2);
  });
  							