%center
  .palm
    .emulator
      .display-area
        %iframe{ :src => url, :width => "460", :height => "320", :frameborder => "0" }
        %a{ :href => url }
          Click here
        if the IFrame could not be shown.
