!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
  %body
    %div{"data-role" => "page"}
      %div{"data-role" => "header"}
        %h1 .remove()
      #remove1{"data-role" => "content", "data-theme" => "c"}
        %h2.jq-clearfix.roundTop.section-title
          %span.name .remove( [ selector ] )
          %span.returns
            Returns:
            %a.return{:href => "http://docs.jquery.com/Types#jQuery"} jQuery
        .entry-details
          %p.desc
            %strong> Description:
            Remove the set of matched elements from the DOM.
          %ul.signatures
            %li#remove-selector.signature
              %h4.name
                %span.versionAdded>
                  version added:
                  %a{:href => "/category/version/1.0/"} 1.0
                \.remove( [ selector ] )
              %p.arguement
                %strong> selector
                A selector expression that filters the set of matched elements to be removed.
          .longdesc
            %p
              Similar to
              = succeed "," do
                %code
                  %a{:href => "/empty"} .empty()
              the
              %code .remove()
              method takes elements out of the DOM. We use
              %code .remove()
              when we want to remove the element itself, as well as everything inside it. In addition to the elements themselves, all bound events and jQuery data  associated with the elements are removed.
            %p Consider the following HTML:
            %pre
              :preserve
                &lt;div class="container"&gt;
                  &lt;div class="hello"&gt;Hello&lt;/div&gt;
                  &lt;div class="goodbye"&gt;Goodbye&lt;/div&gt;
                &lt;/div&gt;            %p We can target any element for removal:
            %pre $('.hello').remove();
            %p
              This will result in a DOM structure with the
              %code &lt;div&gt;
              element deleted:
            %pre
              :preserve
                &lt;div class="container"&gt;
                  &lt;div class="goodbye"&gt;Goodbye&lt;/div&gt;
                &lt;/div&gt;            %p
              If we had any number of nested elements inside
              = succeed "," do
                %code &lt;div class="hello"&gt;
              they would be removed, too. Other jQuery constructs such as data or event handlers are erased as well.
            %p We can also include a selector as an optional parameter. For example, we could rewrite the previous DOM removal code as follows:
            %pre $('div').remove('.hello');
            %p This would result in the same DOM structure:
            %pre
              :preserve
                &lt;div class="container"&gt;
                  &lt;div class="goodbye"&gt;Goodbye&lt;/div&gt;
                &lt;/div&gt;          %h3 Examples:
          #entry-examples.entry-examples
            #example-0
              %h4
                Example:
                %span.desc Removes all paragraphs from the DOM
              %pre
                %code.example.demo-code
                  :preserve
                    &lt;!DOCTYPE html&gt;
                    &lt;html&gt;
                    &lt;head&gt;
                      &lt;style&gt;p { background:yellow; margin:6px 0; }&lt;/style&gt;
                      &lt;script src="http://code.jquery.com/jquery-latest.js"&gt;&lt;/script&gt;
                    &lt;/head&gt;
                    &lt;body&gt;
                    	&lt;p&gt;Hello&lt;/p&gt; 
                      how are 
                      &lt;p&gt;you?&lt;/p&gt;
                      &lt;button&gt;Call remove() on paragraphs&lt;/button&gt;
                    &lt;script&gt;
                        $("button").click(function () {
                          $("p").remove();
                        });
                    
                    &lt;/script&gt;
                    &lt;/body&gt;
                    &lt;/html&gt;              %h4 Demo:
              .demo.code-demo
            #example-1
              %h4
                Example:
                %span.desc Removes all paragraphs that contain "Hello" from the DOM
              %pre
                %code.example.demo-code
                  :preserve
                    &lt;!DOCTYPE html&gt;
                    &lt;html&gt;
                    &lt;head&gt;
                      &lt;style&gt;p { background:yellow; margin:6px 0; }&lt;/style&gt;
                      &lt;script src="http://code.jquery.com/jquery-latest.js"&gt;&lt;/script&gt;
                    &lt;/head&gt;
                    &lt;body&gt;
                    	&lt;p class="hello"&gt;Hello&lt;/p&gt;
                      how are 
                      &lt;p&gt;you?&lt;/p&gt;
                    
                      &lt;button&gt;Call remove(":contains('Hello')") on paragraphs&lt;/button&gt;
                    &lt;script&gt;
                    
                        $("button").click(function () {
                          $("p").remove(":contains('Hello')");
                        });
                    
                    &lt;/script&gt;
                    &lt;/body&gt;
                    &lt;/html&gt;              %h4 Demo:
              .demo.code-demo
