-@browser_title = "Kilo"
= render :partial => "jqt.js.haml", :format => :js

#jqt
  #home
    .toolbar
      %h1 Kilo
      %a.button.backRemote{ :href => "/jqtouch/demo", :target => "_webapp" } 
        Home
      %a.button.flip{:href => "#settings"} Settings
    %ul.edgetoedge
      %li.arrow
        %a{:href => "#dates"} Dates
      %li.arrow
        %a{:href => "#about"} About
  #about
    .toolbar
      %h1 About
      %a.button.back{:href => "#"} Back
    %div
      %p Kilo gives you easy access to your food diary.
  #dates
    .toolbar
      %h1 Dates
      %a.button.back{:href => "#"} Back
    %ul.edgetoedge
      %li.arrow
        %a#0{:href => "#date"} Today
      %li.arrow
        %a#1{:href => "#date"} Yesterday
      %li.arrow
        %a#2{:href => "#date"} 2 Days Ago
      %li.arrow
        %a#3{:href => "#date"} 3 Days Ago
      %li.arrow
        %a#4{:href => "#date"} 4 Days Ago
      %li.arrow
        %a#5{:href => "#date"} 5 Days Ago
  #date
    .toolbar
      %h1 Date
      %a.button.back{:href => "#"} Back
      %a.button.slideup{:href => "#createEntry"} +
    %ul.edgetoedge
      %li#entryTemplate.entry{:style => "display:none"}
        %span.label Label
        %span.calories 000
        %span.delete Delete
  #createEntry
    .toolbar
      %h1 New Entry
      %a.button.cancel{:href => "#"} Cancel
    %form
      %ul.rounded
        %li
          %p
            Food:
          %input#food{:autocapitalize => :off, :autocomplete => :off, :autocorrect => :off, :name => "food", :type => :text}
        %li
          %p
            Calories:
          %input#calories{:autocapitalize => :off, :autocomplete => :off, :autocorrect => :off, :name => "calories", :type => :number}
    %div{ :style => "margin: 10px;" }
      %a#saveEntry.whiteButton{ :href => "#" }
        Save Entry
        
  #settings
    .toolbar
      %h1 Settings
      %a.button.cancel{:href => "#"} Cancel
    %form
      %ul.rounded
        %li
          %p
            Age:
          %input#age{:name => "age", :type => :number}
        %li
          %p
            Weight:
          %input#weight{:name => "weight", :type => :number}
        %li
          %p
            Budget:
          %input#budget{:name => "budget", :type => :number}
    %div{ :style => "margin: 10px;" }
      %a#saveSettings.whiteButton{ :href => "#" }
        Save Settings

