!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
  %body
    %div{"data-role" => "page"}
      %div{"data-role" => "header"}
        %h1 .fadeOut()
      #fadeOut1{"data-role" => "content", "data-theme" => "c"}
        %h2.jq-clearfix.roundTop.section-title
          %span.name .fadeOut( [ duration ], [ callback ] )
          %span.returns
            Returns:
            %a.return{:href => "http://docs.jquery.com/Types#jQuery"} jQuery
        .entry-details
          %p.desc
            %strong> Description:
            Hide the matched elements by fading them to transparent.
          %ul.signatures
            %li#fadeOut-duration-callback.signature
              %h4.name
                %span.versionAdded>
                  version added:
                  %a{:href => "/category/version/1.0/"} 1.0
                \.fadeOut( [ duration ], [ callback ] )
              %p.arguement
                %strong> duration
                A string or number determining how long the animation will run.
              %p.arguement
                %strong> callback
                A function to call once the animation is complete.
          .longdesc
            %p
              The
              %code .fadeOut()
              method animates the opacity of the matched elements. Once the opacity reaches 0, the
              %code display
              style property is set to
              = succeed "," do
                %code none
              so the element no longer affects the layout of the page.
            %p
              Durations are given in milliseconds; higher values indicate slower animations, not faster ones. The strings
              %code 'fast'
              and
              %code 'slow'
              can be supplied to indicate durations of
              %code 200
              and
              %code 600
              milliseconds, respectively. If any other string is supplied, or if the
              %code duration
              parameter is omitted, the default duration of
              %code 400
              milliseconds is used.
            %p
              If supplied, the callback is fired once the animation is complete. This can be useful for stringing different animations together in sequence. The callback is not sent any arguments, but
              %code this
              is set to the DOM element being animated. If multiple elements are animated, it is important to note that the callback is executed once per matched element, not once for the animation as a whole.
            %p We can animate any element, such as a simple image:
            %pre
              :preserve
                &lt;div id="clickme"&gt;
                  Click here
                &lt;/div&gt;
                &lt;img id="book" src="book.png" alt="" width="100" height="123" /&gt;            %p With the element initially shown, we can hide it slowly:
            %pre
              :preserve
                $('#clickme').click(function() {
                  $('#book').fadeOut('slow', function() {
                    // Animation complete.
                  });
                });            %p.image.four-across
              %img{:alt => "", :src => "http://api.jquery.com/images/0042_06_37.png"}
                %img{:alt => "", :src => "http://api.jquery.com/images/0042_06_38.png"}
                  %img{:alt => "", :src => "http://api.jquery.com/images/0042_06_39.png"}
                    %img{:alt => "", :src => "http://api.jquery.com/images/0042_06_40.png"}/
          %h3 Examples:
          #entry-examples.entry-examples
            #example-0
              %h4
                Example:
                %span.desc Animates all paragraphs to fade out, completing the animation within 600 milliseconds.
              %pre
                %code.example.demo-code
                  :preserve
                    &lt;!DOCTYPE html&gt;
                    &lt;html&gt;
                    &lt;head&gt;
                      &lt;style&gt;
                      p { font-size:150%; cursor:pointer; }
                      &lt;/style&gt;
                      &lt;script src="http://code.jquery.com/jquery-latest.js"&gt;&lt;/script&gt;
                    &lt;/head&gt;
                    &lt;body&gt;
                    	&lt;p&gt;
                      If you click on this paragraph
                      you'll see it just fade away.
                      &lt;/p&gt;
                    &lt;script&gt;
                      $("p").click(function () {
                      $("p").fadeOut("slow");
                      });
                      &lt;/script&gt;
                    &lt;/body&gt;
                    &lt;/html&gt;              %h4 Demo:
              .demo.code-demo
            #example-1
              %h4
                Example:
                %span.desc Fades out spans in one section that you click on.
              %pre
                %code.example.demo-code
                  :preserve
                    &lt;!DOCTYPE html&gt;
                    &lt;html&gt;
                    &lt;head&gt;
                      &lt;style&gt;
                      span { cursor:pointer; }
                      span.hilite { background:yellow; }
                      div { display:inline; color:red; }
                      &lt;/style&gt;
                      &lt;script src="http://code.jquery.com/jquery-latest.js"&gt;&lt;/script&gt;
                    &lt;/head&gt;
                    &lt;body&gt;
                    	&lt;h3&gt;Find the modifiers - &lt;div&gt;&lt;/div&gt;&lt;/h3&gt;
                      &lt;p&gt;
                      If you &lt;span&gt;really&lt;/span&gt; want to go outside
                      &lt;span&gt;in the cold&lt;/span&gt; then make sure to wear
                      your &lt;span&gt;warm&lt;/span&gt; jacket given to you by
                      your &lt;span&gt;favorite&lt;/span&gt; teacher.
                      &lt;/p&gt;
                    &lt;script&gt;
                    
                      $("span").click(function () {
                      $(this).fadeOut(1000, function () {
                      $("div").text("'" + $(this).text() + "' has faded!");
                      $(this).remove();
                      });
                      });
                      $("span").hover(function () {
                      $(this).addClass("hilite");
                      }, function () {
                      $(this).removeClass("hilite");
                      });
                    
                      &lt;/script&gt;
                    &lt;/body&gt;
                    &lt;/html&gt;              %h4 Demo:
              .demo.code-demo
