#greybox
.demo-description  
  %p
    Any+Time&trade; is released under the license
    %a{:href => "http://www.ama3.com/anytime/", :class => :greybox }
      Creative Commons BY-NC-SA 3.0 License
  %p
    The jQuery Fullcalendar plugin is released under the license
    %a{:href => "http://github.com/arshaw/fullcalendar", :class => :greybox }
      MIT or GPL Version 2.
/ End demo description
