-@browser_title = "jQTouch &beta;"
= render :partial => "jqt.js.haml", :format => :js

#jqt
  #test.current
    .toolbar
      %h1
        Floaty
      %a.button.backRemote{ :href => "/jqtouch/demo", :target => "_webapp" }
        Home
    %ul.edgetoedge
      %li
        Dummy Data
      %li
        Dummy Data
      %li
        Dummy Data
      %li
        Dummy Data
      %li
        Dummy Data
      %li
        Dummy Data
      %li
        Dummy Data
      %li
        Dummy Data
      %li
        Dummy Data
      %li
        Dummy Data
      %li
        Dummy Data
      %li
        Dummy Data
      %li
        Dummy Data
    %ul.individual
      %li
        %a#hidefloaty{ :href => "#" }
          Hide Floaty
      %li
        %a#togglefloaty{ :href => "#" }
          Toggle Floaty
  #page2
    %div{ :style => "font-size: 1.5em; text-align: center; margin: 160px 0 160px; font-family: Marker felt;" }
      Pretty smooth, eh?
    %a.whiteButton.goback{ :href => "#", :style => "margin:0 10px;color:rgba(0,0,0,.9)" }
      Go back
  .floaty
    I’m the Floaty bar!
    %br
    Testing multiple lines
    %br
    Should be flexible.
