!!!
%html
  %head
    %title New Claim
    %link{:href => "http://code.jquery.com/mobile/1.0a2/jquery.mobile-1.0a2.min.css", :rel => "stylesheet"}/
    %link{:href => "css/colors.css", :rel => "stylesheet"}
      %script{:src => "http://code.jquery.com/jquery-1.4.4.min.js"}
      %script{:src => "http://code.jquery.com/mobile/1.0a2/jquery.mobile-1.0a2.min.js"}
      :javascript
        // Global declarations - assignments made in $(document).ready() below
        var hdrMainvar = null;
        var contentMainVar = null;
        var ftrMainVar = null;
        var contentTransitionVar = null;
        var stateLabelVar = null;
        var whatLabelVar = null;
        var stateVar = null;
        var whatVar = null;
        var form1var = null;
        var confirmationVar = null;
        var contentDialogVar = null;
        var hdrConfirmationVar = null;
        var contentConfirmationVar = null;
        var ftrConfirmationVar = null;
        var inputMapVar = null;

        // Constants
        var MISSING = "missing";
        var EMPTY = "";
        var NO_STATE = "ZZ";
      %body
    / Page starts here
    #page1{"data-role" => "page", "data-theme" => "b"}
      #hdrMain{"data-nobackbtn" => "true", "data-role" => "header", :name => "hdrMain"}
        %h1 New Claim
      #contentMain{"data-role" => "content", :name => "contentMain"}
        %form#form1
          #shipDiv{"data-role" => "fieldcontain"}
            %label{:for => "shipNo"} Shipping number*
            %input#shipNo{:name => "shipNo_r", :type => "text"}/
          #fnameDiv{"data-role" => "fieldcontain"}
            %label#fnameLabel{:for => "fname", :name => "fnameLabel"} First name*
            %input#fname{:name => "fname_r", :type => "text"}/
          #lnameDiv{"data-role" => "fieldcontain"}
            %label{:for => "lname"} Last name*
            %input#lname{:name => "lname_r", :type => "text"}/
          #emailDiv{"data-role" => "fieldcontain"}
            %label{:for => "email"} Email*
            %input#email{:name => "email_r", :type => "text"}/
          #phoneDiv{"data-role" => "fieldcontain"}
            %label{:for => "phone"} Phone
            %input#phone{:name => "phone", :type => "text"}/
          #streetDiv{"data-role" => "fieldcontain"}
            %label{:for => "street"} Street address*
            %input#street{:name => "street_r", :type => "text"}/
          #cityDiv{"data-role" => "fieldcontain"}
            %label{:for => "city"} City*
            %input#city{:name => "city_r", :type => "text"}/
          #stateDiv{"data-role" => "fieldcontain"}
            %label#stateLabel{:for => "state"} State*
            %select#state{:name => "state_r", :tabindex => "2"}
              %option{:value => "ZZ"} Please select a state
              %option{:value => "AL"} Alabama
              %option{:value => "AK"} Alaska
              %option{:value => "AZ"} Arizona
              %option{:value => "AR"} Arkansas
              %option{:value => "CA"} California
              %option{:value => "CO"} Colorado
              %option{:value => "CT"} Connecticut
              %option{:value => "DE"} Delaware
              %option{:value => "FL"} Florida
              %option{:value => "GA"} Georgia
              %option{:value => "HI"} Hawaii
              %option{:value => "ID"} Idaho
              %option{:value => "IL"} Illinois
              %option{:value => "IN"} Indiana
              %option{:value => "IA"} Iowa
              %option{:value => "KS"} Kansas
              %option{:value => "KY"} Kentucky
              %option{:value => "LA"} Louisiana
              %option{:value => "ME"} Maine
              %option{:value => "MD"} Maryland
              %option{:value => "MA"} Massachusetts
              %option{:value => "MI"} Michigan
              %option{:value => "MN"} Minnesota
              %option{:value => "MS"} Mississippi
              %option{:value => "MO"} Missouri
              %option{:value => "MT"} Montana
              %option{:value => "NE"} Nebraska
              %option{:value => "NV"} Nevada
              %option{:value => "NH"} New Hampshire
              %option{:value => "NJ"} New Jersey
              %option{:value => "NM"} New Mexico
              %option{:value => "NY"} New York
              %option{:value => "NC"} North Carolina
              %option{:value => "ND"} North Dakota
              %option{:value => "OH"} Ohio
              %option{:value => "OK"} Oklahoma
              %option{:value => "OR"} Oregon
              %option{:value => "PA"} Pennsylvania
              %option{:value => "RI"} Rhode Island
              %option{:value => "SC"} South Carolina
              %option{:value => "SD"} South Dakota
              %option{:value => "TN"} Tennessee
              %option{:value => "TX"} Texas
              %option{:value => "UT"} Utah
              %option{:value => "VT"} Vermont
              %option{:value => "VA"} Virginia
              %option{:value => "WA"} Washington
              %option{:value => "WV"} West Virginia
              %option{:value => "WI"} Wisconsin
              %option{:value => "WY"} Wyoming
          #zipDiv{"data-role" => "fieldcontain"}
            %label{:for => "zip"} Postal code*
            %input#zip{:name => "zip_r", :type => "text"}/
          #whatDiv{"data-role" => "fieldcontain"}
            %label#whatLabel{:for => "what"} Please explain what happened*:
            %textarea#what{:cols => "40", :name => "what_r", :rows => "8"}
          #submitDiv{"data-role" => "fieldcontain"}
            %input{"data-inline" => "true", :type => "submit", :value => "Submit Claim"}/
      / contentMain
      #ftrMain{"data-role" => "footer", :name => "ftrMain"}
      #contentDialog{:align => "CENTER", "data-role" => "content", :name => "contentDialog"}
        %div Please fill in all required fields before submitting the form.
        %a#buttonOK{"data-inline" => "true", "data-role" => "button", :href => "#page1", :name => "buttonOK"} OK
      / contentDialog
      / contentTransition is displayed after the form is submitted until a response is received back.
      #contentTransition{"data-role" => "content", :name => "contentTransition"}
        %div{:align => "CENTER"}
          %h4 Your claim has been sent. Please wait.
        %div{:align => "CENTER"}
          %img#spin{:name => "spin", :src => "img/wait.gif"}/
      / contentTransition
      / Although stored within page1 div tag, hdrConfirmation, contentConfirmation and ftrConfirmation represent a self contained 'confirmation page'
      #hdrConfirmation{"data-nobackbtn" => "true", "data-role" => "header", :name => "hdrConfirmation"}
        %h1 Claim Created
      #contentConfirmation{:align => "center", "data-role" => "content", :name => "contentConfirmation"}
        %p A new claim has been created based on data you have submitted.
        %p
          Your confirmation number is:
          %span#confirmation{:name => "confirmation"}
      / contentConfirmation
      #ftrConfirmation{"data-role" => "footer", :name => "ftrConfirmation"}
      :javascript
        $(document).ready(function() {
            // Assign global variables
            hdrMainVar = $('#hdrMain');
            contentMainVar = $('#contentMain');
            ftrMainVar = $('#ftrMain');
            contentTransitionVar = $('#contentTransition');
            stateLabelVar = $('#stateLabel');
            whatLabelVar = $('#whatLabel');
            stateVar = $('#state');
            whatVar = $('#what');
            form1Var = $('#form1');
            confirmationVar = $('#confirmation');
            contentDialogVar = $('#contentDialog');
            hdrConfirmationVar = $('#hdrConfirmation');
            contentConfirmationVar = $('#contentConfirmation');
            ftrConfirmationVar = $('#ftrConfirmation');
            inputMapVar = $('input[name*="_r"]');

            hideContentDialog();
            hideContentTransition();
            hideConfirmation();
        });

        $('#buttonOK').click(function() {
            hideContentDialog();
            showMain();
            return false;
        });


        $('#form1').submit(function() {
            var err = false;
            // Hide the Main content
            hideMain();

            // Reset the previously highlighted form elements
            stateLabelVar.removeClass(MISSING);
            whatLabelVar.removeClass(MISSING);
            inputMapVar.each(function(index) {
                $(this).prev().removeClass(MISSING);
            });

            // Perform form validation
            inputMapVar.each(function(index) {
                if ($(this).val() == null || $(this).val() == EMPTY) {
                    $(this).prev().addClass(MISSING);
                    err = true;
                }
            });
            if (stateVar.val() == NO_STATE) {
                stateLabelVar.addClass(MISSING);
                err = true;
            }
            if (whatVar.val() == null || whatVar.val() == EMPTY) {
                whatLabelVar.addClass(MISSING);
                err = true;
            }

            // If validation fails, show Dialog content
            if (err == true) {
                showContentDialog();
                return false;
            }

            // If validation passes, show Transition content
            showContentTransition();

            // Submit the form
            $.post("/forms/requestProcessor.php", form1Var.serialize(), function(data) {
                confirmationVar.text(data);
                hideContentTransition();
                showConfirmation();
            });
            return false;
        });

        function hideMain() {
            hdrMainVar.hide();
            contentMainVar.hide();
            ftrMainVar.hide();
        }

        function showMain() {
            hdrMainVar.show();
            contentMainVar.show();
            ftrMainVar.show();
        }

        function hideContentTransition() {
            contentTransitionVar.hide();
        }

        function showContentTransition() {
            contentTransitionVar.show();
        }

        function hideContentDialog() {
            contentDialogVar.hide();
        }

        function showContentDialog() {
            contentDialogVar.show();
        }

        function hideConfirmation() {
            hdrConfirmationVar.hide();
            contentConfirmationVar.hide();
            ftrConfirmationVar.hide();
        }

        function showConfirmation() {
            hdrConfirmationVar.show();
            contentConfirmationVar.show();
            ftrConfirmationVar.show();
        }


    / page1
    / Page ends here
