<!doctype html>
%html{ :lang => "en" }
  %head
    %title
      jQuery UI Effects - Effect Demo
    %link{ :href => "../../themes/base/jquery.ui.all.css", :rel => "stylesheet", :type => "text/css" }
    %script{ :type => "text/javascript", :src => "../../jquery-1.4.2.js" }
    %script{ :type => "text/javascript", :src => "../../ui/jquery.effects.core.js" }
    %script{ :type => "text/javascript", :src => "../../ui/jquery.effects.blind.js" }
    %script{ :type => "text/javascript", :src => "../../ui/jquery.effects.bounce.js" }
    %script{ :type => "text/javascript", :src => "../../ui/jquery.effects.clip.js" }
    %script{ :type => "text/javascript", :src => "../../ui/jquery.effects.drop.js" }
    %script{ :type => "text/javascript", :src => "../../ui/jquery.effects.explode.js" }
    %script{ :type => "text/javascript", :src => "../../ui/jquery.effects.fade.js" }
    %script{ :type => "text/javascript", :src => "../../ui/jquery.effects.fold.js" }
    %script{ :type => "text/javascript", :src => "../../ui/jquery.effects.highlight.js" }
    %script{ :type => "text/javascript", :src => "../../ui/jquery.effects.pulsate.js" }
    %script{ :type => "text/javascript", :src => "../../ui/jquery.effects.scale.js" }
    %script{ :type => "text/javascript", :src => "../../ui/jquery.effects.shake.js" }
    %script{ :type => "text/javascript", :src => "../../ui/jquery.effects.slide.js" }
    %script{ :type => "text/javascript", :src => "../../ui/jquery.effects.transfer.js" }
    %link{ :href => "../demos.css", :rel => "stylesheet", :type => "text/css" }
    %style{ :type => "text/css" }
      \.toggler { width: 500px; height: 200px; position: relative;}
      \#button { padding: .5em 1em; text-decoration: none; }
      \#effect { width: 240px; height: 135px; padding: 0.4em; position: relative; }
      \#effect h3 { margin: 0; padding: 0.4em; text-align: center; }
      \.ui-effects-transfer { border: 2px dotted gray; }
    %script{ :type => "text/javascript" }
      $(function() {
      
      \//run the currently selected effect
      function runEffect(){
      \//get effect type from
      var selectedEffect = $('#effectTypes').val();
      
      \//most effect types need no options passed by default
      var options = {};
      \//check if it's scale, transfer, or size - they need options explicitly set
      if(selectedEffect == 'scale'){ options = {percent: 0}; }
      else if(selectedEffect == 'transfer'){ options = { to: "#button", className: 'ui-effects-transfer' }; }
      else if(selectedEffect == 'size'){ options = { to: {width: 200,height: 60} }; }
      
      \//run the effect
      $("#effect").effect(selectedEffect,options,500,callback);
      };
      
      \//callback function to bring a hidden box back
      function callback(){
      setTimeout(function(){
      $("#effect:hidden").removeAttr('style').hide().fadeIn();
      }, 1000);
      };
      
      \//set effect from select menu value
      $("#button").click(function() {
      runEffect();
      return false;
      });
      });
  %body
    .demo
      .toggler
        #effect.ui-widget-content.ui-corner-all
          %h3.ui-widget-header.ui-corner-all
            Effect
          %p
            Etiam libero neque, luctus a, eleifend nec, semper at, lorem. Sed pede. Nulla lorem metus, adipiscing ut, luctus sed, hendrerit vitae, mi.
      %select#effectTypes{ :name => "effects" }
        %option{ :value => "blind" }
          Blind
        %option{ :value => "bounce" }
          Bounce
        %option{ :value => "clip" }
          Clip
        %option{ :value => "drop" }
          Drop
        %option{ :value => "explode" }
          Explode
        %option{ :value => "fade" }
          Fade
        %option{ :value => "fold" }
          Fold
        %option{ :value => "highlight" }
          Highlight
        %option{ :value => "puff" }
          Puff
        %option{ :value => "pulsate" }
          Pulsate
        %option{ :value => "scale" }
          Scale
        %option{ :value => "shake" }
          Shake
        %option{ :value => "size" }
          Size
        %option{ :value => "slide" }
          Slide
        %option{ :value => "transfer" }
          Transfer
      %a#button.ui-state-default.ui-corner-all{ :href => "#" }
        Run Effect
    /
      End demo
    .demo-description
      %p
        Click the button above to show the effect.
    /
      End demo-description
