<!doctype html>
%html{ :lang => "en" }
  %head
    %title
      jQuery UI Effect Demos
    %link{ :href => "../demos.css", :rel => "stylesheet", :type => "text/css" }
  %body
    .demos-nav
      %h4
        Examples
      %ul
        %li.demo-config-on
          %a{ :href => "default.html" }
            Effect showcase
        %li.demo-config-on
          %a{ :href => "easing.html" }
            Easing showcase
        /
          WIP
          <li class="demo-config-on"><a href="scale.html">Scale effect</a></li>
          <li class="demo-config-on"><a href="size.html">Size effect</a></li>
          <li class="demo-config-on"><a href="transfer.html">Transfer effect</a></li>
