%center
  .iphone
    .emulator
      .display-area
        %iframe{ :src => url, :width => "320", :height => "460", :frameborder => "0" }
        %p
          If the IFrame could not be shown.
        %br
        %a{ :href => url }
          Click here
