-@title = "jQuery Mobile Docs - Lists API"
= render :partial => "/mobile/index.js.haml", :format => :js

.type-interior{"data-role" => "page"}
  %div{"data-role" => "header", "data-theme" => "f"}
    %h1 List API
  / /header
  %div{"data-role" => "content"}
  / /content
/ /page
