%div{"data-role" => "page", "data-theme" => "b"}
  %div{"data-role" => "header", "data-theme" => "b"}
    %h1
      Lists
  / /header
  %div{"data-role" => "content"}
    %p
      Lists are used for data display, navigation, result lists, and data entry
      so jQuery Mobile includes a wide range of list types and formatting examples
      to cover most common design patterns.
    %ul{"data-inset" => "true", "data-role" => "listview"}
      %li
        %a{:href => "/mobile/docs/lists/docs-lists"}
          List markup conventions
      %li
        %a{:href => "/mobile/docs/lists/lists-ul"}
          Basic linked list
      %li
        %a{:href => "/mobile/docs/lists/lists-nested"}
          Nested list
      %li
        %a{:href => "/mobile/docs/lists/lists-ol"}
          Numbered list
      %li
        %a{:href => "/mobile/docs/lists/lists-readonly"}
          Read-only list
      %li
        %a{:href => "/mobile/docs/lists/lists-split"}
          Split button list
      %li
        %a{:href => "/mobile/docs/lists/lists-divider"}
          List dividers
      %li
        %a{:href => "/mobile/docs/lists/lists-count"}
          Count bubble
      %li
        %a{:href => "/mobile/docs/lists/lists-thumbnails"}
          Thumbnails
      %li
        %a{:href => "/mobile/docs/lists/lists-icons"} 
          Icons
      %li
        %a{:href => "/mobile/docs/lists/lists-formatting"}
          Content formatting
      %li
        %a{:href => "/mobile/docs/lists/lists-search"}
          Search filter bar
      %li
        %a{:href => "/mobile/docs/lists/lists-inset"}
          Inset styled lists
      %li
        %a{:href => "/mobile/docs/lists/lists-formats"}
          Link formats in lists
      %li
        %a{:href => "/mobile/docs/lists/lists-performance"}
          List performance test
      %li
        %a{:href => "/mobile/docs/lists/lists-themes"}
          Theming lists
      / <li><a href="api-lists">API documentation</a></li>
  / /content
/ /page
