-@title = "jQuery Mobile Docs - Lists"

= render :partial=> "/mobile/index.js.haml", :format => :js

%div{"data-role"=> "page"}
  %div{"data-role" => "header", "data-theme" => "b"}
    %h1 Lists
    %a.ui-btn-right.jqm-home{"data-direction" => "reverse", "data-icon" => "home", "data-iconpos" => "notext", :href => "/mobile"} Home
  / /header
  %div{"data-role"=> "content"}
    %p
      Lists are used for data display, navigation, result lists, and data entry so jQuery Mobile includes a wide range of list types and formatting examples to cover most common design patterns.
    %ul{"data-inset"=> "true", "data-role"=> "listview"}
      %li
        %a{:href=> "/mobile/docs/lists/docs_lists"} List markup conventions
      %li
        %a{:href=> "/mobile/docs/lists/lists_ul"} Basic linked list
      %li
        %a{:href=> "/mobile/docs/lists/lists_nested"} Nested list
      %li
        %a{:href=> "/mobile/docs/lists/lists_ol"} Numbered list
      %li
        %a{:href=> "/mobile/docs/lists/lists_split"} Split button list
      %li
        %a{:href=> "/mobile/docs/lists/lists_divider"} List dividers
      %li
        %a{:href=> "/mobile/docs/lists/lists_count"} Count bubble
      %li
        %a{:href=> "/mobile/docs/lists/lists_thumbnails"} Thumbnails
      %li
        %a{:href=> "/mobile/docs/lists/lists_icons"} Icons
      %li
        %a{:href=> "/mobile/docs/lists/lists_formatting"} Content formatting
      %li
        %a{:href=> "/mobile/docs/lists/lists_search"} Search filter bar
      %li
        %a{:href => "/mobile/docs/lists/lists_search_inset"} Inset search filter bar
      %li
        %a{:href=> "/mobile/docs/lists/lists_search_with_dividers"} Search filter bar with dividers
      %li
        %a{:href=> "/mobile/docs/lists/lists_readonly"} Read-only lists
      %li
        %a{:href=> "/mobile/docs/lists/lists_readonly_inset"} Read-only inset lists
      %li
        %a{:href=> "/mobile/docs/lists/lists_forms"} Lists with forms
      %li
        %a{:href=> "/mobile/docs/lists/lists_forms_inset"} Inset lists with forms
      %li
        %a{:href=> "/mobile/docs/lists/lists_inset"} Inset styled lists
      %li
        %a{:href=> "/mobile/docs/lists/lists_performance"} List performance test
      %li
        %a{:href=> "/mobile/docs/lists/lists_themes"} Theming lists
      / <li><a href="api_lists">API documentation</a></li>
  / /content
/ /page
