-@title = "jQuery Mobile Docs - Lists"
= render :partial => "/mobile/index.js.haml", :format => :js

.type-interior{"data-role" => "page"}
  %div{"data-role" => "header", "data-theme" => "f"}
    %h1 Theming lists
    %a.ui-btn-right.jqm-home{"data-direction" => "reverse", "data-icon" => "home", "data-iconpos" => "notext", :href => "/mobile"} Home
  / /header
  .ui-body{"data-role" => "content"}
    .content-primary
      %p All the standard button swatches can be applied to lists. The framework assigns a default list theme swatch of &quot;c&quot; (silver in the default theme) and swatch &quot;b&quot; (blue in default theme) for dividers. Below is a default themed list.
      %code
        \&lt;ul data-role=&quot;listview&quot; data-inset=&quot;true&quot;&gt;
      %ul{"data-inset" => "true", "data-role" => "listview", "data-icon" => "star"}
        %li{"data-role" => "list-divider"} Divider
        %li
          %a{:href => "/mobile/docs/lists"}
            Inbox
            %span.ui-li-count 12
        %li
          %a{:href => "/mobile/docs/lists"}
            Outbox
            %span.ui-li-count 0
        %li
          %a{:href => "/mobile/docs/lists"}
            Sent
            %span.ui-li-count 328
      %h2 Theming list items
      %p
        The list item color scheme can be changed to any button color theme swatch by adding the
        %code data-theme
        attribute to the list, and setting the letter theme swatch. Here is the same list above with the &quot;a&quot; swatch applied.
      %code
        \&lt;ul data-role=&quot;listview&quot; data-inset=&quot;true&quot; data-theme=&quot;d&quot;&gt;
      %ul{"data-inset" => "true", "data-role" => "listview", "data-theme" => "d"}
        %li{"data-role" => "list-divider"} Divider
        %li
          %a{:href => "/mobile/docs/lists"}
            Inbox
            %span.ui-li-count 12
        %li
          %a{:href => "/mobile/docs/lists"}
            Outbox
            %span.ui-li-count 0
        %li
          %a{:href => "/mobile/docs/lists"}
            Sent
            %span.ui-li-count 328
      %p data-theme attributes also work at the LI-level, for styling a single item.
      %ul{"data-inset" => "true", "data-role" => "listview", "data-theme" => "d"}
        %li{"data-role" => "list-divider"} Divider
        %li
          %a{:href => "/mobile/docs/lists"}
            Inbox
            %span.ui-li-count 12
        %li
          %a{:href => "/mobile/docs/lists"}
            Outbox
            %span.ui-li-count 0
        %li
          %a{:href => "/mobile/docs/lists"}
            Sent
            %span.ui-li-count 328
        %li{"data-theme" => "a"}
          Trash
          %span.ui-li-count 34
      %h2 Theming dividers
      %p
        The theme for
        %strong list dividers
        can be set by adding the
        %code data-divider-theme
        to the list and specifying a swatch letter. Here is an example of the same list above with swatch &quot;d&quot; set on the dividers.
      %code
        \&lt;ul data-role=&quot;listview&quot; data-inset=&quot;true&quot; data-theme=&quot;d&quot; data-divider-theme=&quot;e&quot;&gt;
      %ul{"data-divider-theme" => "e", "data-inset" => "true", "data-role" => "listview", "data-theme" => "d"}
        %li{"data-role" => "list-divider"} Divider
        %li
          %a{:href => "/mobile/docs/lists"}
            Inbox
            %span.ui-li-count 12
        %li
          %a{:href => "/mobile/docs/lists"}
            Outbox
            %span.ui-li-count 0
        %li
          %a{:href => "/mobile/docs/lists"}
            Sent
            %span.ui-li-count 328
      %h2 Theming count bubbles
      %p
        The theme for
        %strong count bubbles
        can be set by adding the
        %code data-count-theme
        to the list and specifying a swatch letter. Here is an example with swatch &quot;e&quot; set on the dividers.
      %code
        \&lt;ul data-role=&quot;listview&quot; data-inset=&quot;true&quot; data-theme=&quot;d&quot; data-divider-theme=&quot;e&quot; data-count-theme=&quot;b&quot;&gt;
      %ul{"data-count-theme" => "b", "data-divider-theme" => "e", "data-inset" => "true", "data-role" => "listview", "data-theme" => "d"}
        %li{"data-role" => "list-divider"} Divider
        %li
          %a{:href => "/mobile/docs/lists"}
            Inbox
            %span.ui-li-count 12
        %li
          %a{:href => "/mobile/docs/lists"}
            Outbox
            %span.ui-li-count 0
        %li
          %a{:href => "/mobile/docs/lists"}
            Sent
            %span.ui-li-count 328
      %h2 Theming icons
      %p
        The default icon for each list item is
        = succeed "." do
          %code arrow-r
        To override this, set the
        %code data-icon
        attribute on the desired list item to the
        = succeed "." do
          %a{:href => "../buttons/buttons-icons.html"} name of a standard icon
        To prevent icons from appearing altogether, set the
        %code data-icon
        attribute to &quot;false&quot;.
      %pre
        %code
          :preserve

            &lt;li data-icon=&quot;info&quot;&gt;&lt;a href="#"&gt;Notices&lt;/a&gt;&lt;/li&gt;
            &lt;li data-icon=&quot;alert&quot;&gt;&lt;a href="#"&gt;Alerts&lt;/a&gt;&lt;/li&gt;
            &lt;li data-icon=&quot;false&quot;&gt;&lt;a href="#"&gt;No icon&lt;/a&gt;&lt;/li&gt;
      %ul{"data-inset" => "true", "data-role" => "listview"}
        %li{"data-role" => "list-divider"} Divider
        %li{"data-icon" => "info"}
          %a{:href => "#"} Notices
        %li{"data-icon" => "alert"}
          %a{:href => "#"} Alerts
        %li{"data-icon" => "false"}
          %a{:href => "#"} No icon
      %h2 Theming split buttons
      %p For split lists which a second button, the framework default to &quot;b&quot; for the theme swatch (blue in the default theme)  Here is a default split list:
      %ul{"data-inset" => "true", "data-role" => "listview"}
        %li
          %a{:href => "/mobile/docs/lists"}
            %img{:src => "/images/demo/mobile/album/album-bb.jpg"}/
            %h3 Broken Bells
            %p Broken Bells
          %a{:href => "/mobile/docs/lists"} Purchase album
        %li
          %a{:href => "/mobile/docs/lists"}
            %img{:src => "/images/demo/mobile/album/album-hc.jpg"}/
            %h3 Warning
            %p Hot Chip
          %a{:href => "/mobile/docs/lists"} Purchase album
      %code
        \&lt;ul data-role=&quot;listview&quot; data-inset=&quot;true&quot; data-split-theme=&quot;a&quot;&gt;
      %p
        To specify the color swatch for the icon button on the right, add the
        %code data-split-theme
        to the list and specify a swatch letter. This attribute can also be added to individual split inside list items by adding a
        %code data-theme
        attribute to specific links  (see second list item).
      %ul{"data-inset" => "true", "data-role" => "listview", "data-split-theme" => "a"}
        %li
          %a{:href => "/mobile/docs/lists"}
            %img{:src => "/images/demo/mobile/album/album-bb.jpg"}/
            %h3 Broken Bells
            %p Broken Bells
          %a{:href => "/mobile/docs/lists"} Purchase album
        %li
          %a{:href => "/mobile/docs/lists"}
            %img{:src => "/images/demo/mobile/album/album-hc.jpg"}/
            %h3 Warning
            %p Hot Chip
          %a{"data-theme" => "e", :href => "/mobile/docs/lists"} Purchase album
      %p
        The icon for the split theme can set at the list level by adding the
        %code data-split-icon
        to the list and specifying a
        = succeed "." do
          %a{:href => "../buttons/buttons-icons.html"} standard icon
        This attribute can also be added to individual split inside list items by adding a
        %code data-icon
        attribute to specific links (see second list item).
      %code
        \&lt;ul data-role=&quot;listview&quot; data-inset=&quot;true&quot; data-split-theme=&quot;d&quot; data-split-icon=&quot;delete&quot;&gt;
      %ul{"data-inset" => "true", "data-role" => "listview", "data-split-icon" => "delete", "data-split-theme" => "d"}
        %li
          %a{:href => "/mobile/docs/lists"}
            %img{:src => "/images/demo/mobile/album/album-bb.jpg"}/
            %h3 Broken Bells
            %p Broken Bells
          %a{:href => "/mobile/docs/lists"} Purchase album
        %li
          %a{:href => "/mobile/docs/lists"}
            %img{:src => "/images/demo/mobile/album/album-hc.jpg"}/
            %h3 Warning
            %p Hot Chip
          %a{:href => "/mobile/docs/lists"} Purchase album
      %h2 Examples of all basic list swatches
      %p
        %strong A
        swatch
      %ul{"data-inset" => "true", "data-role" => "listview", "data-theme" => "a"}
        %li
          %a{:href => "/mobile/docs/lists"}
            Inbox
            %span.ui-li-count 12
        %li
          %a{:href => "/mobile/docs/lists"}
            Outbox
            %span.ui-li-count 0
        %li
          %a{:href => "/mobile/docs/lists"}
            Trash
            %span.ui-li-count 62
      %p
        %strong B
        swatch
      %ul{"data-inset" => "true", "data-role" => "listview", "data-theme" => "b"}
        %li
          %a{:href => "/mobile/docs/lists"}
            Inbox
            %span.ui-li-count 12
        %li
          %a{:href => "/mobile/docs/lists"}
            Outbox
            %span.ui-li-count 0
        %li
          %a{:href => "/mobile/docs/lists"}
            Trash
            %span.ui-li-count 62
      %p
        %strong C
        swatch
      %ul{"data-inset" => "true", "data-role" => "listview", "data-theme" => "c"}
        %li
          %a{:href => "/mobile/docs/lists"}
            Inbox
            %span.ui-li-count 12
        %li
          %a{:href => "/mobile/docs/lists"}
            Outbox
            %span.ui-li-count 0
        %li
          %a{:href => "/mobile/docs/lists"}
            Trash
            %span.ui-li-count 62
      %p
        %strong D
        swatch
      %ul{"data-inset" => "true", "data-role" => "listview", "data-theme" => "d"}
        %li
          %a{:href => "/mobile/docs/lists"}
            Inbox
            %span.ui-li-count 12
        %li
          %a{:href => "/mobile/docs/lists"}
            Outbox
            %span.ui-li-count 0
        %li
          %a{:href => "/mobile/docs/lists"}
            Trash
            %span.ui-li-count 62
      %p
        %strong E
        swatch
      %ul{"data-inset" => "true", "data-role" => "listview", "data-theme" => "e"}
        %li
          %a{:href => "/mobile/docs/lists"}
            Inbox
            %span.ui-li-count 12
        %li
          %a{:href => "/mobile/docs/lists"}
            Outbox
            %span.ui-li-count 0
        %li
          %a{:href => "/mobile/docs/lists"}
            Trash
            %span.ui-li-count 62
    / /content-primary
    .content-secondary
      .ui-body-b
        %div{"data-collapsed" => "true", "data-content-theme" => "d", "data-role" => "collapsible", "data-theme" => "b"}
          %h3 More in this section
          %ul{"data-dividertheme" => "d", "data-role" => "listview", "data-theme" => "c"}
            %li{"data-role" => "list-divider"} List views
            %li
              %a{:href => "/mobile/docs/lists/docs_lists"} List markup conventions
            %li
              %a{:href => "/mobile/docs/lists/lists_ul"} Basic linked list
            %li
              %a{:href => "/mobile/docs/lists/lists_nested"} Nested list
            %li
              %a{:href => "/mobile/docs/lists/lists_ol"} Numbered list
            %li
              %a{:href => "/mobile/docs/lists/lists_split"} Split button list
            %li
              %a{:href => "/mobile/docs/lists/lists_divider"} List dividers
            %li
              %a{:href => "/mobile/docs/lists/lists_count"} Count bubble
            %li
              %a{:href => "/mobile/docs/lists/lists_thumbnails"} Thumbnails
            %li
              %a{:href => "/mobile/docs/lists/lists_icons"} Icons
            %li
              %a{:href => "/mobile/docs/lists/lists_formatting"} Content formatting
            %li
              %a{:href => "/mobile/docs/lists/lists_search"} Search filter bar
            %li
              %a{:href => "/mobile/docs/lists/lists_search_inset"} Inset search filter bar
            %li
              %a{:href => "/mobile/docs/lists/lists_search_with_dividers"} Search filter bar with dividers
            %li
              %a{:href => "/mobile/docs/lists/lists_readonly"} Read-only lists
            %li
              %a{:href => "/mobile/docs/lists/lists_readonly_inset"} Read-only inset lists
            %li
              %a{:href => "/mobile/docs/lists/lists_forms"} Lists with forms
            %li
              %a{:href => "/mobile/docs/lists/lists_forms_inset"} Inset lists with forms
            %li
              %a{:href => "/mobile/docs/lists/lists_inset"} Inset styled lists
            %li
              %a{:href => "/mobile/docs/lists/lists_performance"} List performance test
            %li{"data-theme" => "a"}
              %a{:href => "/mobile/docs/lists/lists_themes"} Theming lists
  / /content
  .footer-docs{"data-role" => "footer", "data-theme" => "c"}
    %p &copy; 2011 The jQuery Project
/ /page
