-@title = "jQuery Mobile Docs - Sample Dialog"

= render :partial => "/mobile/index.js.haml", :format => :js

%div{"data-role" => "page", "data-theme" => "a"}
  %div{"data-role" => "header", "data-theme" => "e"}
    %h1 Purchase?
  / /header
  %div{"data-role" => "content"}
   %h4 This album costs $10.99 and includes 9 tracks.
    %p Your download will begin immediately on your mobile device and all tracks will by added your your library next time you sync.
    %a{"data-rel" => "back", "data-role" => "button", "data-theme" => "b", :href => "/mobile/docs/lists"} Purchase album
    %a{"data-rel" => "back", "data-role" => "button", :href => "/mobile/docs/lists"}} No thanks
  / /content
/ /page
