-@title = "jQuery Mobile Docs - Lists with Thumbnails"

- content_for :content_custom_scripts do
  = render(:partial => "/mobile/index.js.haml", :format => :js)

%div{"data-role" => "page"}
  %div{"data-role" => "header", "data-theme" => "b"}
    %h1 Thumbnails
    %a.ui-btn-right.jqm-home{"data-direction" => "reverse", "data-icon" => "home", "data-iconpos" => "notext", :href => "/mobile"} Home
  / /header
  %div{"data-role" => "content"}
    %ul{"data-role" => "listview"}
      %li
        %a{:href => "/mobile/docs/lists"}
          %img{:src => "/images/demo/mobile/album/album-bb.jpg"}/
          %h3 Broken Bells
          %p Broken Bells
      %li
        %a{:href => "/mobile/docs/lists"}
          %img{:src => "/images/demo/mobile/album/album-hc.jpg"}/
          %h3 Warning
          %p Hot Chip
      %li
        %a{:href => "/mobile/docs/lists"}
          %img{:src => "/images/demo/mobile/album/album-p.jpg"}/
          %h3 Wolfgang Amadeus Phoenix
          %p Phoenix
      %li
        %a{:href => "/mobile/docs/lists"}
          %img{:src => "/images/demo/mobile/album/album-ok.jpg"}/
          %h3 Of The Blue Colour Of The Sky
          %p Ok Go
      %li
        %a{:href => "/mobile/docs/lists"}
          %img{:src => "/images/demo/mobile/album/album-ws.jpg"}/
          %h3 Elephant
          %p The White Stripes
      %li
        %a{:href => "/mobile/docs/lists"}
          %img{:src => "/images/demo/mobile/album/album-rh.jpg"}/
          %h3 Kid A
          %p Radiohead
      %li
        %a{:href => "/mobile/docs/lists"}
          %img{:src => "/images/demo/mobile/album/album-xx.jpg"}/
          %h3 XX
          %p XX
      %li
        %a{:href => "/mobile/docs/lists"}
          %img{:src => "/images/demo/mobile/album/album-mg.jpg"}/
          %h3 Congratulations
          %p MGMT
      %li
        %a{:href => "/mobile/docs/lists"}
          %img{:src => "/images/demo/mobile/album/album-ag.jpg"}/
          %h3 Ashes Grammar
          %p A Sunny Day in Glasgow
      %li
        %a{:href => "/mobile/docs/lists"}
          %img{:src => "/images/demo/mobile/album/album-k.jpg"}/
          %h3 Hot Fuss
          %p Killers
      %li
        %a{:href => "/mobile/docs/lists"}
          %img{:src => "/images/demo/mobile/album/album-af.jpg"}/
          %h3 The Suburbs
          %p Arcade Fire
  / /content
/ /page
