- content_for :content_head do
  = render(:partial => "/mobile/docs/docs.js.haml", :format => :js)

%div{"data-role" => "page"}
  %div{"data-role" => "header"}
    %h1
      Search filter bar
  / /header
  %div{"data-role" => "content"}
    %ul{"data-filter" => "true", "data-role" => "listview"}
      %li
        %a{:href => "/mobile/docs/lists/index"}
          Acura
      %li
        %a{:href => "/mobile/docs/lists/index"}
          Audi
      %li
        %a{:href => "/mobile/docs/lists/index"}
          BMW
      %li
        %a{:href => "/mobile/docs/lists/index"}
          Cadillac
      %li
        %a{:href => "/mobile/docs/lists/index"}
          Chrysler
      %li
        %a{:href => "/mobile/docs/lists/index"}
          Dodge
      %li
        %a{:href => "/mobile/docs/lists/index"}
          Ferrari
      %li
        %a{:href => "/mobile/docs/lists/index"}
          Ford
      %li
        %a{:href => "/mobile/docs/lists/index"}
          GMC
      %li
        %a{:href => "/mobile/docs/lists/index"}
          Honda
      %li
        %a{:href => "/mobile/docs/lists/index"}
          Hyundai
      %li
        %a{:href => "/mobile/docs/lists/index"}
          Infiniti
      %li
        %a{:href => "/mobile/docs/lists/index"}
          Jeep
      %li
        %a{:href => "/mobile/docs/lists/index"}
          Kia
      %li
        %a{:href => "/mobile/docs/lists/index"}
          Lexus
      %li
        %a{:href => "/mobile/docs/lists/index"}
          Mini
      %li
        %a{:href => "/mobile/docs/lists/index"}
          Nissan
      %li
        %a{:href => "/mobile/docs/lists/index"}
          Porsche
      %li
        %a{:href => "/mobile/docs/lists/index"}
          Subaru
      %li
        %a{:href => "/mobile/docs/lists/index"}
          Toyota
      %li
        %a{:href => "/mobile/docs/lists/index"}
          Volkswagon
      %li
        %a{:href => "/mobile/docs/lists/index"}
          Volvo
  / /content
/ /page
