-@title = "jQuery Mobile Docs - Lists"

- content_for :content_head do
  = render(:partial => "/mobile/index.js.haml", :format => :js)

%div{"data-role" => "page"}
  %div{"data-role" => "header", "data-theme" => "b"}
    %h1 Numbered list
    %a.ui-btn-right.jqm-home{"data-direction" => "reverse", "data-icon" => "home", "data-iconpos" => "notext", :href => "/mobile"} Home
  / /header
  %div{"data-role" => "content"}
    %ol{"data-role" => "listview"}
      %li
        %a{:href => "/mobile/docs/lists"} The Godfather
      %li
        %a{:href => "/mobile/docs/lists"} Inception
      %li
        %a{:href => "/mobile/docs/lists"} The Good, the Bad and the Ugly
      %li
        %a{:href => "/mobile/docs/lists"} Pulp Fiction
      %li
        %a{:href => "/mobile/docs/lists"} Schindler's List
      %li
        %a{:href => "/mobile/docs/lists"} 12 Angry Men
      %li
        %a{:href => "/mobile/docs/lists"} One Flew Over the Cuckoo's Nest
      %li
        %a{:href => "/mobile/docs/lists"} Star Wars: Episode V - The Empire Strikes Back
      %li
        %a{:href => "/mobile/docs/lists"} The Dark Knight
      %li
        %a{:href => "/mobile/docs/lists"} The Lord of the Rings: The Return of the King
      %li
        %a{:href => "/mobile/docs/lists"} Seven Samurai
      %li
        %a{:href => "/mobile/docs/lists"} Star Wars: Episode IV - A New Hope
      %li
        %a{:href => "/mobile/docs/lists"} Casablanca
      %li
        %a{:href => "/mobile/docs/lists"} Goodfellas
      %li
        %a{:href => "/mobile/docs/lists"} Toy Story 3
      %li
        %a{:href => "/mobile/docs/lists"} Fight Club
      %li
        %a{:href => "/mobile/docs/lists"} City of God
      %li
        %a{:href => "/mobile/docs/lists"} The Lord of the Rings: The Fellowship of the Ring
      %li
        %a{:href => "/mobile/docs/lists"} The Big Lebowski
      %li
        %a{:href => "/mobile/docs/lists"} Psycho
  / /content
/ /page
