- content_for :content_head do
  = render(:partial => "/mobile/index.js.haml", :format => :js)

%div{"data-role" => "page"}
  %div{"data-role" => "header"}
    %h1 Read-only list
  / /header
  %div{"data-role" => "content"}
    %ul{"data-inset" => "true", "data-role" => "listview", "data-theme" => "d"}
      %li Acura
      %li Audi
      %li BMW
      %li Cadillac
      %li Chrysler
      %li Dodge
      %li Ferrari
      %li Ford
      %li GMC
      %li Honda
      %li Hyundai
      %li Infiniti
      %li Jeep
      %li Kia
      %li Lexus
      %li Mini
      %li Nissan
      %li Porsche
      %li Subaru
      %li Toyota
      %li Volkswagon
      %li Volvo
  / /content
/ /page
