-@title = "jQuery Mobile Docs - Basic Lists"

= render(:partial => "/mobile/index.js.haml", :format => :js)

%div{"data-role" => "page"}
  %div{"data-role" => "header", "data-theme" => "b"}
    %h1 Basic list
    %a.ui-btn-right.jqm-home{"data-direction" => "reverse", "data-icon" => "home", "data-iconpos" => "notext", :href => "/mobile"} Home
  / /header
  %div{"data-role" => "content"}
    %ul{"data-role" => "listview"}
      %li
        %a{:href => "/mobile/docs/lists"} Acura
      %li
        %a{:href => "/mobile/docs/lists"} Audi
      %li
        %a{:href => "/mobile/docs/lists"} BMW
      %li
        %a{:href => "/mobile/docs/lists"} Cadillac
      %li
        %a{:href => "/mobile/docs/lists"} Chrysler
      %li
        %a{:href => "/mobile/docs/lists"} Dodge
      %li
        %a{:href => "/mobile/docs/lists"} Ferrari
      %li
        %a{:href => "/mobile/docs/lists"} Ford
      %li
        %a{:href => "/mobile/docs/lists"} GMC
      %li
        %a{:href => "/mobile/docs/lists"} Honda
      %li
        %a{:href => "/mobile/docs/lists"} Hyundai
      %li
        %a{:href => "/mobile/docs/lists"} Infiniti
      %li
        %a{:href => "/mobile/docs/lists"} Jeep
      %li
        %a{:href => "/mobile/docs/lists"} Kia
      %li
        %a{:href => "/mobile/docs/lists"} Lexus
      %li
        %a{:href => "/mobile/docs/lists"} Mini
      %li
        %a{:href => "/mobile/docs/lists"} Nissan
      %li
        %a{:href => "/mobile/docs/lists"} Porsche
      %li
        %a{:href => "/mobile/docs/lists"} Subaru
      %li
        %a{:href => "/mobile/docs/lists"} Toyota
      %li
        %a{:href => "/mobile/docs/lists"} Volkswagon
      %li
        %a{:href => "/mobile/docs/lists"} Volvo
  / /content
/ /page
