- content_for :content_head do
  = render(:partial => "/mobile/index.js.haml", :format => :js)

%div{"data-role" => "page"}
  %div{"data-role" => "header"}
    %h1 Theming lists
  / /header
  .ui-body{"data-role" => "content"}
    %p All the standard button swatches can be applied to lists. The framework assigns a default list theme swatch of "c" (silver in the default theme) and swatch "b" (blue in default theme) for dividers. Below is a default themed list.
    %code
      \&lt;ul data-role=&quot;listview&quot; data-inset=&quot;true&quot;&gt;
    %ul{"data-inset" => "true", "data-role" => "listview"}
      %li{"data-role" => "list-divider"} Divider
      %li
        %a{:href => "/mobile/docs/lists"} Inbox
        %span.ui-li-count 12
      %li
        %a{:href => "/mobile/docs/lists"} Outbox
        %span.ui-li-count 0
      %li
        %a{:href => "/mobile/docs/lists"} Sent
        %span.ui-li-count 328
    %h2 Theming list items
    %p
      The list item color scheme can be changed to any button color theme swatch by adding the
      %code data-theme
      attribute to the list, and setting the letter theme swatch. Here is the same list above with the "a" swatch applied.
    %code
      \&lt;ul data-role=&quot;listview&quot; data-inset=&quot;true&quot; data-theme=&quot;d&quot;&gt;
    %ul{"data-inset" => "true", "data-role" => "listview", "data-theme" => "d"}
      %li{"data-role" => "list-divider"} Divider
      %li
        %a{:href => "/mobile/docs/lists"} Inbox
        %span.ui-li-count 12
      %li
        %a{:href => "/mobile/docs/lists"} Outbox
        %span.ui-li-count 0
      %li
        %a{:href => "/mobile/docs/lists"} Sent
        %span.ui-li-count 328
    %h2 Theming dividers
    %p
      The theme for
      %strong list dividers
      can be set by adding the
      %code data-dividertheme
      to the list and specifying a swatch letter. Here is an example of the same list above with swatch "d" set on the dividers.
    %code
      \&lt;ul data-role=&quot;listview&quot; data-inset=&quot;true&quot; data-theme=&quot;d&quot; data-dividertheme=&quot;c&quot;&gt;
    %ul{"data-dividertheme" => "c", "data-inset" => "true", "data-role" => "listview", "data-theme" => "d"}
      %li{"data-role" => "list-divider"} Divider
      %li
        %a{:href => "/mobile/docs/lists"} Inbox
        %span.ui-li-count 12
      %li
        %a{:href => "/mobile/docs/lists"} Outbox
        %span.ui-li-count 0
      %li
        %a{:href => "/mobile/docs/lists"} Sent
        %span.ui-li-count 328
    %h2 Theming count bubbles
    %p
      The theme for
      %strong count bubbles
      can be set by adding the
      %code data-counttheme
      to the list and specifying a swatch letter. Here is an example with swatch "e" set on the dividers.
    %code
      \&lt;ul data-role=&quot;listview&quot; data-inset=&quot;true&quot; data-theme=&quot;a&quot; data-dividertheme=&quot;d&quot; data-counttheme=&quot;e&quot;&gt;
    %ul{"data-counttheme" => "e", "data-dividertheme" => "d", "data-inset" => "true", "data-role" => "listview", "data-theme" => "a"}
      %li{"data-role" => "list-divider"} Divider
      %li
        %a{:href => "/mobile/docs/lists"} Inbox
        %span.ui-li-count 12
      %li
        %a{:href => "/mobile/docs/lists"} Outbox
        %span.ui-li-count 0
      %li
        %a{:href => "/mobile/docs/lists"} Sent
        %span.ui-li-count 328
    %h2 Theming split buttons
    %p For split lists which a second button, the framework default to "b" for the theme swatch (blue in the default theme)  Here is a default split list:
    %ul{"data-inset" => "true", "data-role" => "listview"}
      %li
        %img{:src => "/images/demo/mobile/album/album-bb.jpg"}/
        %h3
          %a{:href => "/mobile/docs/lists"} Broken Bells
        %p Broken Bells
        %a{:href => "/mobile/docs/lists"} Purchase album
      %li
        %img{:src => "/images/demo/mobile/album/album-hc.jpg"}/
        %h3
          %a{:href => "/mobile/docs/lists"} Warning
        %p Hot Chip
        %a{:href => "/mobile/docs/lists"} Purchase album
    %code
      \&lt;ul data-role=&quot;listview&quot; data-inset=&quot;true&quot; data-splittheme=&quot;a&quot;&gt;
    %p
      To specify the color swatch for the icon button on the right, add the
      %code data-splittheme
      to the list and specify a swatch letter. This attribute can also be added to individual split inside list items by adding a
      %code data-theme
      attribute to specific links  (see second list item).
    %ul{"data-inset" => "true", "data-role" => "listview", "data-splittheme" => "a"}
      %li
        %img{:src => "/images/demo/mobile/album/album-bb.jpg"}/
        %h3
          %a{:href => "/mobile/docs/lists"} Broken Bells
        %p Broken Bells
        %a{:href => "/mobile/docs/lists"} Purchase album
      %li
        %img{:src => "/images/demo/mobile/album/album-hc.jpg"}/
        %h3
          %a{:href => "/mobile/docs/lists"} Warning
        %p Hot Chip
        %a{"data-theme" => "e", :href => "/mobile/docs/lists"} Purchase album
    %p
      The icon for the split theme can set at the list level by adding the
      %code data-spliticon
      to the list and specifying a
      = succeed "." do
        %a{:href => "/mobile/docs/buttons/buttons-icons"} standard icon
      This attribute can also be added to individual split inside list items by adding a
      %code data-icon
      attribute to specific links (see second list item).
    %code
      \&lt;ul data-role=&quot;listview&quot; data-inset=&quot;true&quot; data-splittheme=&quot;a&quot; data-spliticon=&quot;plus&quot;&gt;
    %ul{"data-inset" => "true", "data-role" => "listview", "data-spliticon" => "plus", "data-splittheme" => "a"}
      %li
        %img{:src => "/images/demo/mobile/album/album-bb.jpg"}/
        %h3
          %a{:href => "/mobile/docs/lists"} Broken Bells
        %p Broken Bells
        %a{:href => "/mobile/docs/lists"} Purchase album
      %li
        %img{:src => "/images/demo/mobile/album/album-hc.jpg"}/
        %h3
          %a{:href => "/mobile/docs/lists"} Warning
        %p Hot Chip
        %a{"data-icon" => "delete", "data-theme" => "e", :href => "/mobile/docs/lists"} Purchase album
    %h2 Examples of all basic list swatches
    %p
      %strong A
      swatch
    %ul{"data-inset" => "true", "data-role" => "listview", "data-theme" => "a"}
      %li
        %a{:href => "/mobile/docs/lists"} Inbox
        %span.ui-li-count 12
      %li
        %a{:href => "/mobile/docs/lists"} Outbox
        %span.ui-li-count 0
      %li
        %a{:href => "/mobile/docs/lists"} Trash
        %span.ui-li-count 62
    %p
      %strong B
      swatch
    %ul{"data-inset" => "true", "data-role" => "listview", "data-theme" => "b"}
      %li
        %a{:href => "/mobile/docs/lists"} Inbox
        %span.ui-li-count 12
      %li
        %a{:href => "/mobile/docs/lists"} Outbox
        %span.ui-li-count 0
      %li
        %a{:href => "/mobile/docs/lists"} Trash
        %span.ui-li-count 62
    %p
      %strong C
      swatch
    %ul{"data-inset" => "true", "data-role" => "listview", "data-theme" => "c"}
      %li
        %a{:href => "/mobile/docs/lists"} Inbox
        %span.ui-li-count 12
      %li
        %a{:href => "/mobile/docs/lists"} Outbox
        %span.ui-li-count 0
      %li
        %a{:href => "/mobile/docs/lists"} Trash
        %span.ui-li-count 62
    %p
      %strong D
      swatch
    %ul{"data-inset" => "true", "data-role" => "listview", "data-theme" => "d"}
      %li
        %a{:href => "/mobile/docs/lists"} Inbox
        %span.ui-li-count 12
      %li
        %a{:href => "/mobile/docs/lists"} Outbox
        %span.ui-li-count 0
      %li
        %a{:href => "/mobile/docs/lists"} Trash
        %span.ui-li-count 62
    %p
      %strong E
      swatch
    %ul{"data-inset" => "true", "data-role" => "listview", "data-theme" => "e"}
      %li
        %a{:href => "/mobile/docs/lists"} Inbox
        %span.ui-li-count 12
      %li
        %a{:href => "/mobile/docs/lists"} Outbox
        %span.ui-li-count 0
      %li
        %a{:href => "/mobile/docs/lists"} Trash
        %span.ui-li-count 62
  / /content
/ /page
