- content_for :content_head do
  = render(:partial => "/mobile/docs/docs.js.haml", :format => :js)

%div{"data-role" => "page"}
  %div{"data-role" => "header"}
    %h1
      Nested list
  / /header
  %div{"data-role" => "content"}
    %ul{"data-role" => "listview"}
      %li
        Animals
        %ul
          %li
            Pets
            %ul
              %li
                %a{:href => "/mobile/docs/lists/index"}
                  Canary
              %li
                %a{:href => "/mobile/docs/lists/index"}
                  Cat
              %li
                %a{:href => "/mobile/docs/lists/index"}
                  Dog
              %li
                %a{:href => "/mobile/docs/lists/index"}
                  Gerbil
              %li
                %a{:href => "/mobile/docs/lists/index"}
                  Iguana
              %li
                %a{:href => "/mobile/docs/lists/index"}
                  Mouse
          %li
            Farm animals
            %ul
              %li
                %a{:href => "/mobile/docs/lists/index"}
                  Chicken
              %li
                %a{:href => "/mobile/docs/lists/index"}
                  Cow
              %li
                %a{:href => "/mobile/docs/lists/index"}
                  Duck
              %li
                %a{:href => "/mobile/docs/lists/index"}
                  Horse
              %li
                %a{:href => "/mobile/docs/lists/index"}
                  Pig
              %li
                %a{:href => "/mobile/docs/lists/index"}
                Sheep
          %li
            Wild animals
            %ul
              %li
                %a{:href => "/mobile/docs/lists/index"}
                  Aardvark
              %li
                %a{:href => "/mobile/docs/lists/index"}
                  Alligator
              %li
                %a{:href => "/mobile/docs/lists/index"}
                  Ant
              %li
                %a{:href => "/mobile/docs/lists/index"}
                  Bear
              %li
                %a{:href => "/mobile/docs/lists/index"}
                  Beaver
              %li
                %a{:href => "/mobile/docs/lists/index"}
                  Cougar
              %li
                %a{:href => "/mobile/docs/lists/index"}
                  Dingo
              %li
                %a{:href => "/mobile/docs/lists/index"}
                  Eagle
              %li
                %a{:href => "/mobile/docs/lists/index"}
                  Elephant
              %li
                %a{:href => "/mobile/docs/lists/index"}
                  Ferret
              %li
                %a{:href => "/mobile/docs/lists/index"}
                  Frog
              %li
                %a{:href => "/mobile/docs/lists/index"}
                  Giraffe
              %li
                %a{:href => "/mobile/docs/lists/index"}
                  Lion
              %li
                %a{:href => "/mobile/docs/lists/index"}
                  Monkey
              %li
                %a{:href => "/mobile/docs/lists/index"}
                  Panda bear
              %li
                %a{:href => "/mobile/docs/lists/index"}
                  Polar bear
              %li
                %a{:href => "/mobile/docs/lists/index"}
                  Tiger
      %li
        Colors
        %ul
          %li
            %a{:href => "/mobile/docs/lists/index"}
              Blue
          %li
            %a{:href => "/mobile/docs/lists/index"}
              Green
          %li
            %a{:href => "/mobile/docs/lists/index"}
              Orange
          %li
            %a{:href => "/mobile/docs/lists/index"}
            Purple
          %li
            %a{:href => "/mobile/docs/lists/index"}
              Red
          %li
            %a{:href => "/mobile/docs/lists/index"}
            Yellow
      %li
        Vehicles
        %ul
          %li
            Cars
            %ul
              %li
                %a{:href => "/mobile/docs/lists/index"}
                  Acura
              %li
                %a{:href => "/mobile/docs/lists/index"}
                  Audi
              %li
                %a{:href => "/mobile/docs/lists/index"}
                  BMW
              %li
                %a{:href => "/mobile/docs/lists/index"}
                  Cadillac
              %li
                %a{:href => "/mobile/docs/lists/index"}
                  Chrysler
              %li
                %a{:href => "/mobile/docs/lists/index"}
                  Dodge
              %li
                %a{:href => "/mobile/docs/lists/index"}
                  Ferrari
              %li
                %a{:href => "/mobile/docs/lists/index"}
                  Ford
              %li
                %a{:href => "/mobile/docs/lists/index"}
                  GMC
              %li
                %a{:href => "/mobile/docs/lists/index"}
                  Honda
              %li
                %a{:href => "/mobile/docs/lists/index"}
                  Hyundai
              %li
                %a{:href => "/mobile/docs/lists/index"}
                  Infiniti
              %li
                %a{:href => "/mobile/docs/lists/index"}
                  Jeep
              %li
                %a{:href => "/mobile/docs/lists/index"}
                  Kia
              %li
                %a{:href => "/mobile/docs/lists/index"}
                  Lexus
              %li
                %a{:href => "/mobile/docs/lists/index"}
                  Mini
              %li
                %a{:href => "/mobile/docs/lists/index"}
                  Nissan
              %li
                %a{:href => "/mobile/docs/lists/index"}
                  Porsche
              %li
                %a{:href => "/mobile/docs/lists/index"}
                  Subaru
              %li
                %a{:href => "/mobile/docs/lists/index"}
                  Toyota
              %li
                %a{:href => "/mobile/docs/lists/index"}
                  Volkswagon
              %li
                %a{:href => "/mobile/docs/lists/index"}
                  Volvo
          %li
            Planes
            %ul
              %li
                %a{:href => "/mobile/docs/lists/index"}
                  Boeing
              %li
                %a{:href => "/mobile/docs/lists/index"}
                  Cessna
              %li
                %a{:href => "/mobile/docs/lists/index"}
                  Derringer
              %li
                %a{:href => "/mobile/docs/lists/index"}
                  Embraer
              %li
                %a{:href => "/mobile/docs/lists/index"}
                  Gulfstream
              %li
                %a{:href => "/mobile/docs/lists/index"}
                  Piper Aircraft
              %li
                %a{:href => "/mobile/docs/lists/index"}
                  Raytheon
          %li
            Construction
            %ul
              %li
                %a{:href => "/mobile/docs/lists/index"}
                  Caterpillar
              %li
                %a{:href => "/mobile/docs/lists/index"}
                  Ford
              %li
                %a{:href => "/mobile/docs/lists/index"}
                  John Deere
  / /content
/ /page
