- content_for :content_head do
  = render(:partial => "/mobile/docs/docs.js.haml", :format => :js)

#album-list{"data-role" => "page"}
  %div{"data-role" => "header"}
    %h1
      List formatting
  / /header
  %div{"data-role" => "content"}
    %ul{"data-role" => "listview", "data-split-icon" => "gear", "data-split-theme" => "b"}
      %li
        %img{:src => "images/album-bb.jpg"}/
        %h3
          %a{:href => "/mobile/docs/lists"}
            Broken Bells
        %p
          Broken Bells
        %a{"data-transition" => "flip", :href => "/mobile/docs/lists/lists-split-purchase"}
          Purchase album
      %li
        %img{:src => "images/album-hc.jpg"}/
        %h3
          %a{:href => "/mobile/docs/lists"}
            Warning
        %p
          Hot Chip
        %a{"data-transition" => "flip", :href => "/mobile/docs/lists/lists-split-purchase"}
          Purchase album
      %li
        %img{:src => "images/album-p.jpg"}/
        %h3
          %a{:href => "/mobile/docs/lists"}
            Wolfgang Amadeus Phoenix
        %p
          Phoenix
        %a{"data-transition" => "flip", :href => "/mobile/docs/lists/lists-split-purchase"}
          Purchase album
      %li
        %img{:src => "images/album-ok.jpg"}/
        %h3
          %a{:href => "/mobile/docs/lists"}
            Of The Blue Colour Of The Sky
        %p
          Ok Go
        %a{"data-transition" => "flip", :href => "/mobile/docs/lists/lists-split-purchase"}
          Purchase album
      %li
        %img{:src => "images/album-ws.jpg"}/
        %h3
          %a{:href => "/mobile/docs/lists"}
            Elephant
        %p
          The White Stripes
        %a{"data-transition" => "flip", :href => "/mobile/docs/lists/lists-split-purchase"}
          Purchase album
      %li
        %img{:src => "images/album-rh.jpg"}/
        %h3
          %a{:href => "/mobile/docs/lists"}
            Kid A
        %p
          Radiohead
        %a{"data-transition" => "flip", :href => "/mobile/docs/lists/lists-split-purchase"}
          Purchase album
      %li
        %img{:src => "images/album-xx.jpg"}/
        %h3
          %a{:href => "/mobile/docs/lists"}
            XX
        %p
          XX
        %a{"data-transition" => "flip", :href => "/mobile/docs/lists/lists-split-purchase"}
          Purchase album
      %li
        %img{:src => "images/album-mg.jpg"}/
        %h3
          %a{:href => "/mobile/docs/lists"}
            Congratulations
        %p
          MGMT
        %a{"data-transition" => "flip", :href => "/mobile/docs/lists/lists-split-purchase"}
          Purchase album
      %li
        %img{:src => "images/album-ag.jpg"}/
        %h3
          %a{:href => "/mobile/docs/lists"}
            Ashes Grammar
        %p
          A Sunny Day in Glasgow
        %a{"data-transition" => "flip", :href => "/mobile/docs/lists/lists-split-purchase"}
          Purchase album
      %li
        %img{:src => "images/album-k.jpg"}/
        %h3
          %a{:href => "/mobile/docs/lists"}
            Hot Fuss
        %p
          Killers
        %a{"data-transition" => "flip", :href => "/mobile/docs/lists/lists-split-purchase"}
          Purchase album
      %li
        %img{:src => "images/album-af.jpg"}/
        %h3
          %a{:href => "/mobile/docs/lists"}
            The Suburbs
        %p
          Arcade Fire
        %a{"data-transition" => "flip", :href => "/mobile/docs/lists/lists-split-purchase"}
          Purchase album
  / /content
/ /page
