- content_for :content_head do
  = render(:partial => "/mobile/docs/docs.js.haml", :format => :js)

%div{"data-role" => "page"}
  %div{"data-role" => "header"}
    %h1
      Numbered list
  / /header
  %div{"data-role" => "content"}
    %ol{"data-role" => "listview"}
      %li
        %a{:href => "/mobile/docs/lists/index"}
          The Godfather
      %li
        %a{:href => "/mobile/docs/lists/index"}
          Inception
      %li
        %a{:href => "/mobile/docs/lists/index"}
          The Good, the Bad and the Ugly
      %li
        %a{:href => "/mobile/docs/lists/index"}
          Pulp Fiction
      %li
        %a{:href => "/mobile/docs/lists/index"}
          Schindler's List
      %li
        %a{:href => "/mobile/docs/lists/index"}
          12 Angry Men
      %li
        %a{:href => "/mobile/docs/lists/index"}
          One Flew Over the Cuckoo's Nest
      %li
        %a{:href => "/mobile/docs/lists/index"}
          Star Wars: Episode V - The Empire Strikes Back
      %li
        %a{:href => "/mobile/docs/lists/index"}
          The Dark Knight
      %li
        %a{:href => "/mobile/docs/lists/index"}
          The Lord of the Rings: The Return of the King
      %li
        %a{:href => "/mobile/docs/lists/index"}
          Seven Samurai
      %li
        %a{:href => "/mobile/docs/lists/index"}
          Star Wars: Episode IV - A New Hope
      %li
        %a{:href => "/mobile/docs/lists/index"}
          Casablanca
      %li
        %a{:href => "/mobile/docs/lists/index"}
          Goodfellas
      %li
        %a{:href => "/mobile/docs/lists/index"}
          Toy Story 3
      %li
        %a{:href => "/mobile/docs/lists/index"}
          Fight Club
      %li
        %a{:href => "/mobile/docs/lists/index"}
          City of God
      %li
        %a{:href => "/mobile/docs/lists/index"}
          The Lord of the Rings: The Fellowship of the Ring
      %li
        %a{:href => "/mobile/docs/lists/index"}
          The Big Lebowski
      %li
        %a{:href => "/mobile/docs/lists/index"}
          Psycho
  / /content
/ /page
