-@title = t('txt.layout.navigation.configure')

- content_for :content_head do
  = render(:partial => "index.js.haml", :format => :js)

.demo
  %h3
    =@title
  
  .span-24
    #toolbar_top.ui-widget-header.ui-corner-all
      %button#add_accordion
        Add accordion
      %button#add_folder
        Add folder
      %button#add_default
        Add entry
      %button#rename
        Rename
      %button#cut
        Cut
      %button#copy
        Copy
      %button#paste
        Paste
      %button#remove
        Remove
      %button#clear_search{ :style => "float:right;" }
        Clear
      %button#search{ :style => "float:right;" }
        Search
      %input#text{ :style => "float:right;", :type => "text" }
  .span-16
    #navigationtree.ui-widget-content.ui-corner-all
  .span-8.last 
    .report.ui-widget-content.ui-corner-all
      #alog
  .span-24
    #toolbar_bottom.ui-widget-header.ui-corner-all
      %a#test{ :href => test_navigation_path }
        Test
      %button#analyze
        Analyze
      %button#refresh
        Refresh
      %a#seed{ :href => seed_navigation_path }
        Create seed file
  #navigation_update_dialog{ :style => "display: none;" }
/ End demo
.demo-description
  %p
    = link_to raw("<b>jsTree</b>"), "http://www.jstree.com/documentation"
    and the
    = link_to raw("<b>acts_as_tree_on_steroids</b>"), "http://github.com/bandito/acts_as_tree_on_steroids"
    plugin have been used to build the navigation tree.
  %p
    %i
      Please be patient when moving sub trees. The navigation tree has over 400 nodes and
      acts_as_tree_on_steroids is made for fast reads but is slow when writing.
/ End demo-description
