-@title = t('txt.layout.navigation.configure')
= render :partial => "test.js.haml", :format => :js

.demo
  %h3
    =image_tag("icons/22x22/tree.png", :border => 0)
    =@title
  .span-16
    #testtree.ui-widget-content.ui-corner-all
    
  .span-8.last  
  .span-16
    #toolbar_bottom.ui-widget-header.ui-corner-all
      %a#back{ :href => navigation_index_path }
        Back
  .span-8.last
/ End demo
.demo-description
  %p
    By clicking on a node you get a popup showing the url assigned to this node.
/ End demo-description
