-@title = t('txt.layout.conf_nav')

- content_for :content_head do
  = render(:partial => "test.js.haml", :format => :js)

.demo
  %h3
    =@title
  .span-16
    #testtree.ui-widget-content.ui-corner-all
    
  .span-8.last  
  .span-16
    #toolbar_bottom.ui-widget-header.ui-corner-all
      %a#back{ :href => navigation_index_path }
        Back
  .span-8.last
/ End demo
.demo-description
  %p
    Configure navigation 
/ End demo-description
