!!!
%html
  %head
    %title jQuery UI Mobile Framework - Documentation
    %link{:href => "themes/default", :rel => "stylesheet"}/
    %script{:src => "js/all", :type => "text/javascript"}
  %body
    %div{"data-role" => "page", "data-theme" => "b"}
      %div{"data-position" => "inline", "data-role" => "header"}
        %h1 Theme system
      %div{"data-role" => "content"}
