!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %title jQuery UI Mobile Framework - Documentation
    %link{:href => "../../themes/default", :rel => "stylesheet"}/
    %link{:href => "../_assets/css/jqm-docs.css", :rel => "stylesheet"}/
    %script{:src => "../../js/", :type => "text/javascript"}
  %body
    %div{"data-role" => "page", "data-theme" => "b"}
      %div{"data-position" => "inline", "data-role" => "header"}
        %h1 About jQuery Mobile
      %div{"data-role" => "content"}
        %ul{"data-dividertheme" => "b", "data-inset" => "true", "data-role" => "listview", "data-theme" => "c"}
          %li{"data-role" => "list-divider"} Overview
          %li
            %a{:href => "intro.html"} Intro to jQuery Mobile
          %li
            %a{:href => "features.html"} Features
          %li
            %a{:href => "accessibility.html"} Accessibility
          %li
            %a{:href => "platforms.html"} Supported platforms
