-@browser_title = 'Users: ' +controller.action_name
-@jquery_partial = 'index.js.haml'
-@title = "1) Simple DataGrid"
%center   
  %table#players.scroll{ :cellspacing => "0", :cellpadding => "0" }
  #players_pager.scroll{ :style => "text-align:center;" }