:javascript
  var jQT = new $.jQTouch({
    icon: '/images/jquery/touch/jqtouch.png',
    addGlossToIcon: true,
    fullScreen: false
  });

  $(function() {
    jQT.resetHeight();
      
    console.log('Document.ready test');
  });
