:javascript
  var jQT = new $.jQTouch({
    icon: '/images/jqtouch/jqtouch.png',
    addGlossToIcon: false,
    fullScreen: false
  });

  $(function(){
    console.log('Document.ready test');
  });
							