-@browser_title = "jQTouch &beta;"
-@jqt_partial_1 ='jqt.js.haml'

#jqt
  %div
    .toolbar
      %h1
        Offline
    .info
      This page saves all of its resources locally on your device, and can run even when offline.
