-@browser_title = "jQTouch &beta;"
-@manifest = "/manifest"
= render :partial => "jqt.js.haml", :format => :js

#jqt
  %div
    .toolbar
      %h1
        Offline
      %a.button.backRemote{ :href => "/jqtouch/demo", :target => "_webapp" } 
        Home
    .info
      This page saves all of its resources locally on your device, and can run even when offline.
