!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
  %body
    %div{"data-role" => "page"}
      %div{"data-role" => "header"}
        %h1 Next Adjacent Selector (“prev + next”)
        .entry-meta
          Categories:
          %span.category
            %a{:href => "http://api.jquery.com/category/selectors/", :title => "View all posts in Selectors"} Selectors
            \&gt;
            %a{:href => "http://api.jquery.com/category/selectors/hierarchy-selectors/", :title => "View all posts in Hierarchy"} Hierarchy
      %div{"data-role" => "content", "data-theme" => "c", :id => "next adjacent1"}
        %h2.jq-clearfix.roundTop.section-title
          %span.name next adjacent
          selector
        .entry-details
          %h4.name
            %span.versionAdded>
              version added:
              %a{:href => "/version/1.0/"} 1.0
            jQuery('prev + next')
          %ul.signatures
            %li
              %dl.arguments
                %dt prev
                %dd Any valid selector.
                %dt next
                %dd A selector to match the element that is next to the first selector.
          %p.desc
            %strong> Description:
            Selects all next elements matching "next" that are immediately preceded by a sibling "prev".
          .longdesc
            %p
              One important point to consider with both the next adjacent sibling selector (
              %code> prev + next
              ) and the general sibling selector (
              %code> prev ~ siblings
              ) is that the elements on either side of the combinator must share the same parent.
          %h3 Example:
          #entry-examples.entry-examples
            #example-0
              %h4
                %span.desc Finds all inputs that are next to a label.
              %pre
                %code.example.demo-code
                  :preserve
                    &lt;!DOCTYPE html&gt;
                    &lt;html&gt;
                    &lt;head&gt;
                      &lt;script src="http://code.jquery.com/jquery-latest.js"&gt;&lt;/script&gt;
                    &lt;/head&gt;
                    &lt;body&gt;
                    	&lt;form&gt;
                    
                        &lt;label&gt;Name:&lt;/label&gt;
                        &lt;input name="name" /&gt;
                        &lt;fieldset&gt;
                          &lt;label&gt;Newsletter:&lt;/label&gt;
                    
                          &lt;input name="newsletter" /&gt;
                        &lt;/fieldset&gt;
                      &lt;/form&gt;
                      &lt;input name="none" /&gt;
                    &lt;script&gt;$("label + input").css("color", "blue").val("Labeled!")&lt;/script&gt;
                    &lt;/body&gt;
                    &lt;/html&gt;              %h4 Demo:
              .demo.code-demo
