- content_for :head_scripts do
  :javascript
    $(function() {
      $("#datepicker").datepicker({showOtherMonths: true, selectOtherMonths: true});
    });

- content_for :license do
  = render :partial => "ui/license"
