-@title = "#{t('txt.ui.name')} #{t('txt.ui.widgets.datepicker.default')} - #{t('txt.ui.widgets.datepicker.alt-field')}"

- content_for :content_head do
  = render :partial => "alt_field.js.haml", :format => :js
     
.demo
  %h3
    =image_tag("icons/22x22/jquery-ui.png", :border => 0)
    =@title
  %p
    Date:
    %input#datepicker{ :type => "text" }
      \&nbsp;
      %input#alternate{ :size => "30", :type => "text" }
/ End demo
.demo-description
  %p
    Populate an alternate field with its own date format whenever a date is selected using the
    %code
      altField
    and
    %code
      altFormat
    options.  This feature could be used to present a human-friendly date for user selection, while passing a more computer-friendly date through for further processing.
/ End demo-description
