-@title = "#{t('txt.ui.name')} #{t('txt.ui.widgets.datepicker.default')} - #{t('txt.ui.widgets.datepicker.buttonbar')}"
= render :partial => "buttonbar.js.haml", :format => :js
      
.demo
  %h3
    =image_tag("icons/22x22/jquery-ui.png", :border => 0)
    =@title
  %p
    Date:
    %input#datepicker{ :type => "text" }
/ End demo
.demo-description
  %p
    Display a button for selecting Today's date and a Done button for closing the calendar with the boolean
    %code
      showButtonPanel
    option.  Each button is enabled by default when the bar is displayed, but can be turned off with additional options.  Button text is customizable.
/ End demo-description
