-@title = "#{t('txt.ui.name')} #{t('txt.ui.widgets.datepicker.default')} - #{t('txt.ui.widgets.datepicker.date-range')}"

- content_for :head_scripts do
  = render :partial => "date_range.js.haml", :format => :js
     
.demo
  %h3
    =image_tag("icons/22x22/jquery-ui.png", :border => 0)
    =@title
  %label{ :for => "from" }
    From
  %input#from{ :name => "from", :type => "text" }
  %label{ :for => "to" }
    to
  %input#to{ :name => "to", :type => "text" } 
  / End demo

.demo-description
  %p
    Select the date range to search for.
/ End demo-description
