-@title = "#{t('txt.ui.name')} #{t('txt.ui.widgets.datepicker.default')} - #{t('txt.ui.widgets.datepicker.date-formats')}"
= render :partial => "date_formats.js.haml", :format => :js
     
.demo
  %h3
    =image_tag("icons/22x22/jquery-ui.png", :border => 0)
    =@title
  %p
    Date:
    %input#datepicker{ :size => "30", :type => "text" }
  %fieldset
    %label{:for => "speedA"}
      Format options:
    %br
    %br
    %select#dateFormat
      %option{ :value => "mm/dd/yy" }
        Default - mm/dd/yy
      %option{ :value => "yy-mm-dd" }
        ISO 8601 - yy-mm-dd
      %option{ :value => "d M, y" }
        Short - d M, yy
      %option{ :value => "d MM, y" }
        Medium - d MM, yy
      %option{ :value => "DD, d MM, yy" }
        Full - DD, d MM, yy
      %option{ :value => "'day' d 'of' MM 'in the year' yy" }
        With text - 'day' d 'of' MM 'in the year' yy
/ End demo
.demo-description
  %p
    Display date feedback in a variety of ways.  Choose a date format from the dropdown, then click on the input and select a date to see it in that format.
/ End demo-description
