-@title = "#{t('txt.ui.name')} #{t('txt.ui.widgets.datepicker.default')} - #{t('txt.ui.widgets.datepicker.multiple-calendars')}"

- content_for :head_scripts do
  = render :partial => "multiple_calendars.js.haml", :format => :js
      
.demo
  %h3
    =image_tag("icons/22x22/jquery-ui.png", :border => 0)
    =@title
  %p
    Date:
    %input#datepicker{ :type => "text" }
/
  End demo
.demo-description
  %p
    Set the
    %code
      numberOfMonths
    option to an integer of 2 or more to show multiple months in a single datepicker.
/
  End demo-description
