-@title = "#{t('txt.ui.name')} #{t('txt.ui.widgets.datepicker.default')} - #{t('txt.ui.widgets.datepicker.other-months')}"

- content_for :head_scripts do
  = render :partial => "other_months.js.haml", :format => :js
     
.demo
  %h3
    =image_tag("icons/22x22/jquery-ui.png", :border => 0)
    =@title
  %p
    Date:
    %input#datepicker{ :type => "text" }
/ End demo
.demo-description
  %p
    The datepicker can show dates that come from other than the main month being displayed. These other dates can also be made selectable.
/ End demo-description
