:javascript  
  $(function() {
    AnyTime.picker( "AjaxDemo", { 
      ajaxOptions: { url: "ajaxdemo" },
      baseYear: 2000,
      earliest: new Date(2000,0,1,0,0,0),
      format: "%b %e, '%y",
      latest: new Date(2099,11,31,23,59,59)
    });
  });        
  