- content_for :head_stylesheets do
  = stylesheet_link_tag :ical, :media => 'screen, projection'
  = stylesheet_link_tag :ical_print, :media => 'print'
  :css
    #rangeDemoStart, #rangeDemoFinish {
      background-image:url("/images/jquery/ical/calendar.png");
      background-position:right center;
      background-repeat:no-repeat;
    }

- content_for :head_scripts do
  = javascript_include_tag :ical
  :javascript
    $(function() {
      var oneDay = 24*60*60*1000;
      var rangeDemoFormat = "%e-%b-%Y";
      var rangeDemoConv = new AnyTime.Converter( {format:rangeDemoFormat} );
      $("#rangeDemoToday").click( function(e) {
        $("#rangeDemoStart").val(rangeDemoConv.format(new Date())).change();
      });
      $("#rangeDemoClear").click( function(e) {
        $("#rangeDemoStart").val("").change();
      });
      $("#rangeDemoStart").AnyTime_picker( {format:rangeDemoFormat} );
      $("#rangeDemoStart").change( function(e) {
        try {
          var fromDay = rangeDemoConv.parse($("#rangeDemoStart").val()).getTime();
          var dayLater = (new Date(fromDay+oneDay));
          dayLater.setHours(0,0,0,0);
          var ninetyDaysLater = (new Date(fromDay+(90*oneDay)));
          ninetyDaysLater.setHours(23,59,59,999);
          $("#rangeDemoFinish").
          AnyTime_noPicker().
          removeAttr("disabled").
          val(rangeDemoConv.format(dayLater)).
          AnyTime_picker({
            earliest: dayLater,
            format: rangeDemoFormat,
            latest: ninetyDaysLater
          });
        } catch(e){
          $("#rangeDemoFinish").val("").attr("disabled","disabled");
        }
      });
    });

- content_for :license do
  = render :partial =>  "widgets/ical/license"
