-@title =  "#{t('txt.ical.anytime.name')} - #{t('txt.ical.anytime.default')}" 

- content_for :content_head do
  = render(:partial => "default.js.haml", :format => :js)

.demo
  %h3
    =image_tag("icons/22x22/alarmclock.png", :border => 0)
    =raw @title
  %div
    %input.span-5#DateTimeDemo{:type => "text", :value => "2010-04-20 04:20:10 (CE) +0"}
  

  
  
  