!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
  %body
    %div{"data-role" => "page"}
      %div{"data-role" => "header"}
        %h1 .removeData()
      #removeData1{"data-role" => "content", "data-theme" => "c"}
        %h2.jq-clearfix.roundTop.section-title
          %span.name .removeData( [ name ] )
          %span.returns
            Returns:
            %a.return{:href => "http://docs.jquery.com/Types#jQuery"} jQuery
        .entry-details
          %p.desc
            %strong> Description:
            Remove a previously-stored piece of data.
          %ul.signatures
            %li#removeData-name.signature
              %h4.name
                %span.versionAdded>
                  version added:
                  %a{:href => "/category/version/1.2.3/"} 1.2.3
                \.removeData( [ name ] )
              %p.arguement
                %strong> name
                A string naming the piece of data to delete.
          .longdesc
            %p
              The
              %code .removeData()
              method allows us to remove values that were previously set using
              = succeed "." do
                %code .data()
              When called with the name of a key,
              %code .removeData()
              deletes that particular value; when called with no arguments, all values are removed.
          %h3 Example:
          #entry-examples.entry-examples
            #example-0
              %h4
                %span.desc Set a data store for 2 names then remove one of them.
              %pre
                %code.example.demo-code
                  :preserve
                    &lt;!DOCTYPE html&gt;
                    &lt;html&gt;
                    &lt;head&gt;
                      &lt;style&gt;
                      div { margin:2px; color:blue; }
                      span { color:red; }
                      &lt;/style&gt;
                      &lt;script src="http://code.jquery.com/jquery-latest.js"&gt;&lt;/script&gt;
                    &lt;/head&gt;
                    &lt;body&gt;
                    	&lt;div&gt;value1 before creation: &lt;span&gt;&lt;/span&gt;&lt;/div&gt;
                      &lt;div&gt;value1 after creation: &lt;span&gt;&lt;/span&gt;&lt;/div&gt;
                      &lt;div&gt;value1 after removal: &lt;span&gt;&lt;/span&gt;&lt;/div&gt;
                    
                      &lt;div&gt;value2 after removal: &lt;span&gt;&lt;/span&gt;&lt;/div&gt;
                    &lt;script&gt;
                    
                        $("span:eq(0)").text("" + $("div").data("test1"));
                        $("div").data("test1", "VALUE-1");
                        $("div").data("test2", "VALUE-2");
                        $("span:eq(1)").text("" + $("div").data("test1"));
                        $("div").removeData("test1");
                        $("span:eq(2)").text("" + $("div").data("test1"));
                        $("span:eq(3)").text("" + $("div").data("test2"));
                    
                    &lt;/script&gt;
                    &lt;/body&gt;
                    &lt;/html&gt;              %h4 Demo:
              .demo.code-demo
