!!! Strict
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
      %title Highcharts Example
      / 1. Add these JavaScript inclusions in the head of your page
      %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", :type => "text/javascript"}
      %script{:src => "../js/highcharts.js", :type => "text/javascript"}
      / 1a) Optional: add a theme file
      /
        <script type="text/javascript" src="../js/themes/gray.js"></script>
      / 1b) Optional: the exporting module
      %script{:src => "../js/modules/exporting.js", :type => "text/javascript"}
      / 2. Add the JavaScript to initialize the chart on document ready
      :javascript
        /**
         * Visualize an HTML table using Highcharts. The top (horizontal) header 
         * is used for series names, and the left (vertical) header is used 
         * for category names. This function is based on jQuery.
         * @param {Object} table The reference to the HTML table to visualize
         * @param {Object} options Highcharts options
         */
        Highcharts.visualize = function(table, options) {
        	// the categories
        	options.xAxis.categories = [];
        	$('tbody th', table).each( function(i) {
        		options.xAxis.categories.push(this.innerHTML);
        	});
        	
        	// the data series
        	options.series = [];
        	$('tr', table).each( function(i) {
        		var tr = this;
        		$('th, td', tr).each( function(j) {
        			if (j > 0) { // skip first column
        				if (i == 0) { // get the name and init the series
        					options.series[j - 1] = { 
        						name: this.innerHTML,
        						data: []
        					};
        				} else { // add values
        					options.series[j - 1].data.push(parseFloat(this.innerHTML));
        				}
        			}
        		});
        	});
        	
        	var chart = new Highcharts.Chart(options);
        }
        	
        // On document ready, call visualize on the datatable.
        $(document).ready(function() {			
        	var table = document.getElementById('datatable'),
        	options = {
        		   chart: {
        		      renderTo: 'container',
        		      defaultSeriesType: 'column'
        		   },
        		   title: {
        		      text: 'Data extracted from a HTML table in the page'
        		   },
        		   xAxis: {
        		   },
        		   yAxis: {
        		      title: {
        		         text: 'Units'
        		      }
        		   },
        		   tooltip: {
        		      formatter: function() {
        		         return ''+ this.series.name +''+
        		            this.y +' '+ this.x.toLowerCase();
        		      }
        		   }
        		};
        	
              					
        	Highcharts.visualize(table, options);
        });
        	
		  %body
    / 3. Add the container
    #container{:style => "width: 800px; height: 400px; margin: 0 auto"}
    %table#datatable
      %thead
        %tr
          %th
          %th Jane
          %th John
      %tbody
        %tr
          %th Apples
          %td 3
          %td 4
        %tr
          %th Pears
          %td 2
          %td 0
        %tr
          %th Plums
          %td 5
          %td 11
        %tr
          %th Bananas
          %td 1
          %td 1
        %tr
          %th Oranges
          %td 2
          %td 4
