#navigation
  #headline
    %h3.ui-widget-header.ui-corner-all
      %button#configure_navigation #{t('txt.layout.navigation.tooltip')}
      = t('txt.layout.navigation.browse')
  #navtree.ui-widget-border.ui-corner-all
  -##navpanel.span-24
  -#  %h3
  -#   = t('txt.layout.navigation.browse')
  -#  #navtree.ui-widget-border.ui-corner-all
