%h3
  %a.accordionMenuItem5
    Calendar
%div
  .tree
    %ul
      %li#cal1{:data => "url: '/events/months', icon: '../../demo/dynatree.custom/view_calendar_month.png'" }
        Month view
      %li#cal2{:data => "icon: '../../demo/dynatree.custom/view_calendar_week.png'" }
        Week view
        %ul
          %li#cal21{:data => "url: '/events/weeks?example=01', icon: '../../demo/dynatree.custom/view_calendar_week.png'" }
            Week view 1
          %li#cal22{:data => "url: '/events/weeks?example=02', icon: '../../demo/dynatree.custom/view_calendar_week.png'" }
            Week view 2
          %li#cal23{:data => "url: '/events/weeks?example=03', icon: '../../demo/dynatree.custom/view_calendar_week.png'" }
            Week view 3
          %li#cal24{:data => "url: '/events/weeks?example=04', icon: '../../demo/dynatree.custom/view_calendar_week.png'" }
            Week view 4
                