%h3
  %a.accordionMenuItem3
    = t('txt.ribbon.name')
%div
  .tree
    %ul
      %li#ribbon1{:data => "url: '/ribbon/default', icon: '../../demo/dynatree.custom/ribbon_16x16.png'" }
        = t('txt.ribbon.default')
    