%h3
  %a.accordionMenuItem3
    Ribbon
%div
  .tree
    %ul
      %li#ribbon1{:data => "icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
        = t('txt.ribbon.theming.name')
        %ul
          %li#ribbon11{:data => "url: '/ribbon/windows7', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
            = t('txt.ribbon.theming.simple')
          %li#ribbon12{:data => "url: '/ribbon/windows7', icon: '../../demo/dynatree.custom/dynatree_16x16.png'" }
            = t('txt.ribbon.theming.windows7')
    