%h3
  %a.accordionMenuItem3
    = t('txt.ribbon.name')
%div
  .tree
    %ul
      %li#ribbon1{:data => "url: '/ribbon/default', icon: '../../demo/dynatree.custom/ribbon_16x16.png'" }
        = t('txt.ribbon.default')
      %li#ribbon2{:data => "url: '/ribbon/office', icon: '../../demo/dynatree.custom/ribbon_16x16.png'" }
        = t('txt.ribbon.office')
      %li#ribbon3{:data => "url: '/ribbon/simple', icon: '../../demo/dynatree.custom/ribbon_16x16.png'" }
        = t('txt.ribbon.simple')
    