%h3
  %a.accordionMenuItem{ :href => "#jqgrid" }
    jqGrid
%div
  .tree
    %ul
      %li#jqgrid1{:data => "icon: '../dynatree.custom/grid.png'" }
        2dc jqGrid
        %ul
          %li#jqgrid11{:data => "icon: '../dynatree.custom/grid.png'" }
            Simple Data Grids
            %ul
              %li#jqgrid111{:data => "url: '/users?example=01', icon: '../dynatree.custom/grid.png'" }
                default
              %li#jqgrid112{:data => "url: '/users?example=02', icon: '../dynatree.custom/grid.png'" }
                with selection link and search disabled
              %li#jqgrid113{:data => "url: '/users?example=03', icon: '../dynatree.custom/grid.png'" }
                with direct selection and autowidth
              %li#jqgrid114{:data => "url: '/users?example=04', icon: '../dynatree.custom/grid.png'" }
                with multiple selections + row numbers
              %li#jqgrid115{:data => "url: '/users?example=05', icon: '../dynatree.custom/grid.png'" }
                with master details
          %li#jqgrid12{:data => "icon: '../dynatree.custom/grid.png'" }
            Data manipulation
            %ul
              %li#jqgrid121{:data => "url: '/users?example=06', icon: '../dynatree.custom/grid.png'" }
                with inline editing
              %li#jqgrid122{:data => "url: '/users?example=07', icon: '../dynatree.custom/grid.png'" }
                with modal editing
              %li#jqgrid123{:data => "url: '/users?example=08', icon: '../dynatree.custom/grid.png'" }
                witth various input types
              %li#jqgrid124{:data => "url: '/users?example=09', icon: '../dynatree.custom/grid.png'" }
                with various input types and datepicker for lastname
          %li#jqgrid13{:data => "icon: '../dynatree.custom/grid.png'" }
            Subgrids
            %ul
              %li#jqgrid131{:data => "url: '/users?example=10', icon: '../dynatree.custom/grid.png'" }
                default
              %li#jqgrid132{:data => "url: '/users?example=11', icon: '../dynatree.custom/grid.png'" }
                with CRUD operations
              %li#jqgrid133{:data => "url: '/users?example=12', icon: '../dynatree.custom/grid.png'" }
                with selection
          %li#jqgrid14{:data => "url: '/users?example=13', icon: '../dynatree.custom/grid.png'" }
            Form improvements
      %li#jqgrid2{:data => "url: '/people', icon: '../dynatree.custom/grid.png'" }
        jqGrid for Rails
      %li#jqgrid3{:data => "url: '/widgets', icon: '../dynatree.custom/grid.png'" }
        Secret Sauce jqGrid
