#navigation
  #accordion
    = render :partial => "layouts/navigation.jqueryui"
    = render :partial => "layouts/navigation.dynatree"
    = render :partial => "layouts/navigation.jqgrid"
    //= render :partial => "layouts/navigation.calendar"
    //= render :partial => "layouts/navigation.jqtouch"
    