%h3
  %a.accordionMenuItem5
    = t('txt.jqt.name')
%div
  .tree
    %ul
      %li#iphone1{:data => "url: '/iphone/main', icon: '../../demo/dynatree.custom/iphone_16x16.png'" }
        Compass jQTouch Demo
        %b
          (W.I.P.)
      %li#iphone2{:data => "url: '/iphone/original', icon: '../../demo/dynatree.custom/iphone_16x16.png'" }
        jQTouch &beta @ jqtouch.com
