:css
  .ui-button{ font-size: 0.8em; }

:javascript
  $(function() {
    $("button, input:submit", ".demo").button();
    
    $("#tree").dynatree({
      checkbox: true,
      // Override class name for checkbox icon, so rasio buttons are displayed:
      //classNames: {checkbox: "dynatree-radio"},
      // Select mode 3: multi-hier
      selectMode: 3,
      children: [
          {title: "Item 1", key: "node1"},
          {title: "Folder 2", isFolder: true, key: "node2",
              children: [
                  {title: "Sub-item 2.1", key: "node2.1"},
                  {title: "Sub-item 2.2", key: "node2.2"}
              ]
          },
          {title: "Item 3", key: "node3"}
      ]
    });
    $("form").submit(function() {
      var tree = $("#tree").dynatree("getTree");
      //alert("TODO: Submit\n" + tree.toDict());
      //alert($(this).serializeArray());
      alert($(this).serialize());
      return false;
    });
    $("#btn1").click(function(){
      alert("Thank you for clicking.");
      return false;
    });
  });
