:css
  .toolbar{ padding: 0.3em; }
  .ui-button{ font-size: 0.9em; } 

:javascript
  $(function(){
    $("button", ".demo").button();
    $("a", ".demo-description").button();
    
    // --- Initialize sample trees
    $("#tree").dynatree({
      fx: { height: "toggle", duration: 200 },
      autoFocus: false, 
      // Set focus to first child, when expanding or lazy-loading.
      // In real life we would call a URL on the server like this:
      //  initAjax: {
      //    url: "/getTopLevelNodesAsJson",
      //    data: { mode: "funnyMode" }
      //  },
      // but here we use a local file instead:
      initAjax: {
        url: "data3?format=json"
        },
      onActivate: function(node) {
        $("#echoActive").text("" + node + " (" + node.getKeyPath()+ ")");
      },
      onLazyRead: function(node){
        // In real life we would call something like this:
        // 	node.appendAjax({
        //    url: "/getChildrenAsJson",
        //    data: { 
        //           key: node.data.key,
        //  	       mode: "funnyMode"
        //    }
        //  });
        // .. but here we use a local file instead:
        node.appendAjax({
          // We don't want the next line in production code:
          debugLazyDelay: 750,
          url: "data2?format=json"
        });
      }
    });
    $("#btnReloadActive").click(function(){
      var node = $("#tree").dynatree("getActiveNode");
      if( node ){
        node.reloadChildren(function(node, isOk){
        // alert("loaded " + node);
        });
      }else{
        alert("No active node.");
      }
     });
    $("#btnLoadKeyPath").click(function(){
      var tree = $("#tree").dynatree("getTree");
      // Make sure that node #_27 is loaded, by traversing the parents.
      // The callback is executed for every node as we go:
      tree.loadKeyPath("/folder4/_23/_26/_27", function(node, status){
        if(status == "loaded") {
          // 'node' is a parent that was just traversed.
          // If we call expand() here, then all nodes will be expanded
          // as we go
          node.expand();
        }else if(status == "ok") {
          // 'node' is the end node of our path.
          // If we call activate() or makeVisible() here, then the
          // whole branch will be exoanded now
          node.activate();
        }
      });
     });
  });
  