#greybox
.demo-description  
  %p
    The dynatree plugin is released under the license
    %a{ :href => "http://code.google.com/p/dynatree/", :class => :greybox }
      MIT or GPL Version 2.
/ End demo description
