= render :partial => "iframe_1.js.haml", :format => :js

.demo
  %h3
    =image_tag("icons/22x22/tree.png", :border => 0)
    =@title
  %p
    This page lives inside an iframe
    %br
    Click a link in the tree to load some content here.
    %br
    This button demonstrates, ho to access a tree in another frame:
  %p
    %button#btnExpand
      Toggle tree
/ End demo