!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
  %body
    %div{"data-role" => "page"}
      %div{"data-role" => "header"}
        %h1 .parentsUntil()
      #parentsUntil1{"data-role" => "content", "data-theme" => "c"}
        %h2.jq-clearfix.roundTop.section-title
          %span.name .parentsUntil( [ selector ] )
          %span.returns
            Returns:
            %a.return{:href => "http://docs.jquery.com/Types#jQuery"} jQuery
        .entry-details
          %p.desc
            %strong> Description:
            Get the ancestors of each element in the current set of matched elements, up to but not including the element matched by the selector.
          %ul.signatures
            %li#parentsUntil-selector.signature
              %h4.name
                %span.versionAdded>
                  version added:
                  %a{:href => "/category/version/1.4/"} 1.4
                \.parentsUntil( [ selector ] )
              %p.arguement
                %strong> selector
                A string containing a selector expression to indicate where to stop matching ancestor elements.
          .longdesc
            %p
              Given a jQuery object that represents a set of DOM elements, the
              %code .parentsUntil()
              method traverses through the ancestors of these elements until it reaches an element matched by the selector passed in the method's argument. The resulting jQuery object contains all of the ancestors up to but not including the one matched by the
              %code .parentsUntil()
              selector. Consider a page with a basic nested list as follows:
            %pre
              :preserve
                &lt;ul class="level-1"&gt;
                  &lt;li class="item-i"&gt;I&lt;/li&gt;
                  &lt;li class="item-ii"&gt;II
                    &lt;ul class="level-2"&gt;
                      &lt;li class="item-a"&gt;A&lt;/li&gt;
                      &lt;li class="item-b"&gt;B
                        &lt;ul class="level-3"&gt;
                          &lt;li class="item-1"&gt;1&lt;/li&gt;
                          &lt;li class="item-2"&gt;2&lt;/li&gt;
                          &lt;li class="item-3"&gt;3&lt;/li&gt;
                        &lt;/ul&gt;
                      &lt;/li&gt;
                      &lt;li class="item-c"&gt;C&lt;/li&gt;
                    &lt;/ul&gt;
                  &lt;/li&gt;
                  &lt;li class="item-iii"&gt;III&lt;/li&gt;
                &lt;/ul&gt;
            %p
              If we begin at item A, we can find its ancestors up to but not including
              %code &lt;ul class="level-1"&gt;
              as follows:
            %pre
              :preserve
                $('li.item-a').parentsUntil('.level-1')
                    .css('background-color', 'red');            %p The result of this call is a red background for the level-2 list and the item II.
            %p If the .parentsUntil() selector is not matched, or if no selector is supplied, the returned jQuery object contains all of the previous jQuery object's ancestors. For example, let's say we begin at item A again, but this time we use a selector that is not matched by any of its ancestors:
            %pre
              :preserve
                $('li.item-a').parentsUntil('.not-here')
                    .css('background-color', 'red');            %p
              The result of this call is a red background-color style applied to the level-2 list, the item II, the level-1 list, the
              %code &lt;body&gt;
              element, and the
              %code &lt;html&gt;
              element.
          %h3 Example:
          #entry-examples.entry-examples
            #example-0
              %h4
                %span.desc Find the ancestors of &lt;li class="item-a"&gt; up to &lt;ul class="level-1"&gt; and give them a red background color.
              %pre
                %code.example.demo-code
                  :preserve
                    &lt;!DOCTYPE html&gt;
                    &lt;html&gt;
                    &lt;head&gt;
                      &lt;script src="http://code.jquery.com/jquery-latest.js"&gt;&lt;/script&gt;
                    &lt;/head&gt;
                    &lt;body&gt;
                    	
                    &lt;ul class="level-1"&gt;
                      &lt;li class="item-i"&gt;I&lt;/li&gt;
                      &lt;li class="item-ii"&gt;II
                        &lt;ul class="level-2"&gt;
                          &lt;li class="item-a"&gt;A&lt;/li&gt;
                          &lt;li class="item-b"&gt;B
                            &lt;ul class="level-3"&gt;
                              &lt;li class="item-1"&gt;1&lt;/li&gt;
                              &lt;li class="item-2"&gt;2&lt;/li&gt;
                              &lt;li class="item-3"&gt;3&lt;/li&gt;
                            &lt;/ul&gt;
                          &lt;/li&gt;
                          &lt;li class="item-c"&gt;C&lt;/li&gt;
                        &lt;/ul&gt;
                      &lt;/li&gt;
                      &lt;li class="item-iii"&gt;III&lt;/li&gt;
                    &lt;/ul&gt;
                    &lt;script&gt;
                        $('li.item-a').parentsUntil('.level-1')
                          .css('background-color', 'red');
                    &lt;/script&gt;
                    &lt;/body&gt;
                    &lt;/html&gt;              %h4 Demo:
              .demo.code-demo
