= stylesheet_link_tag :jqical
= stylesheet_link_tag :farbtastic
= javascript_include_tag :jqical
= javascript_include_tag :farbtastic

:javascript
  $(function() {
    $("input:submit, .buttons").button();
  });

  $(document).ready(function() {
    /document.getElementById('color').value = document.getElementById('calendar_color').value;
    $('#picker').farbtastic('#color');

    /$("input:submit").click(function(){
    /  document.getElementById('calendar_color').value = document.getElementById('color').value;
    /});
  });
