<script type="text/javascript" src="jquery.js"></script>
 <script type="text/javascript" src="farbtastic.js"></script>
 <link rel="stylesheet" href="farbtastic.css" type="text/css" />
 <script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $('#demo').hide();
    $('#picker').farbtastic('#color');
  });
 </
 
 script>

= stylesheet_link_tag "compiled/jquery.ui/jqical.css", :media => 'screen, projection'
= javascript_include_tag :jqical

:javascript
  $(function() {
    $("input:submit, .buttons").button();
  });
  