%center
  .iphone
    .emulator
      .display-area
        %iframe{ :src => url, :width => "320", :height => "460", :frameborder => "0" }
        %br
        %br
        %br
        %br
        %br
        %br
        %a{ :href => jqical_calendars_path }
          = t('txt.layout.back')
