-@title = 'Listing calendars'

- content_for :content_head do
  = render(:partial => "index.js.haml", :format => :js)

.demo
  %h3
    =@title
  
  .ui-widget-content.ui-corner-all
    %table.calendars
      %tr.ui-widget-header.ui-corner-all      
        %th
          Name    
        %th
          Actions  
      = render :partial => 'calendar', :collection => current_objects
  %br
  %p.buttons
    = link_to 'New calendars', new_jqical_calendar_path 
