.demo
  %h3
    Creating calendars
  
  = error_messages_for :calendars
  
  - form_for(:calendars, :url => jqical_calendars_url) do |f|
    = render :partial => "form", :locals => {:f => f}
    %p= submit_tag "Create"
  
  = link_to 'Back', jqical_calendars_path
