%script.javascript{:src => "http://net.tutsplus.com/wp-content/plugins/google-syntax-highlighter/Scripts/shCore.js"}
%script.javascript{:src => "http://net.tutsplus.com/wp-content/plugins/google-syntax-highlighter/Scripts/shBrushAll.js"}

:javascript
  dp.SyntaxHighlighter.ClipboardSwf = 'http://net.tutsplus.com/wp-content/plugins/google-syntax-highlighter/Scripts/clipboard.swf';
  dp.SyntaxHighlighter.HighlightAll('code');
  $('img, embed, object').removeAttr('height').removeAttr('width');
