- content_for :content_custom_scripts do
  = render(:partial => "index.js.haml", :format => :js)

%div{"data-role" => "page"}
  %header.tuts{"data-backbtn" => "false", "data-position" => "inline", "data-role" => "header"}
    %h1
      %img{:alt => "Tuts+", :src => "/images/demo/mobile/tuts/TLogo.png"}
    %a.ui-btn-left{"data-direction" => "reverse",
                   "data-theme" => "c",
                   "data-icon" => "home",
                   "data-iconpos" => "notext",
                   :href => "/mobile/experiments/main",
                   :rel => "external"} Home
    %a{"data-icon" => "info",
       "data-theme" => "c",
       :href => "http://net.tutsplus.com/tutorials/javascript-ajax/how-to-build-an-rss-reader-with-jquery-mobile-2/",
       :rel => "external",
       :title => "How to Build an RSS Reader with jQuery Mobile by Jeffrey Way",
      }
      Info
  / /header
  %div{"data-role" => "content"}
    %ul{"data-counttheme" => "e", "data-dividertheme" => "d", "data-role" => "listview", "data-theme" => "c"}
      %li
        %img.ui-li-icon{:alt => "Nettuts", :src => "/images/demo/mobile/tuts/ntLogo.jpg"}/
        %a{:href => "/mobile/tuts/tuts/site?siteName=nettuts"} Nettuts+
      %li
        %img.ui-li-icon{:alt => "Psdtuts", :src => "/images/demo/mobile/tuts/psdLogo.jpg"}/
        %a{:href => "/mobile/tuts/tuts/site?siteName=psdtuts"} Psdtuts+
      %li
        %img.ui-li-icon{:alt => "Vectortuts+", :src => "/images/demo/mobile/tuts/vectorLogo.jpg"}/
        %a{:href => "/mobile/tuts/tuts/site?siteName=vectortuts"} Vectortuts+
      %li
        %img.ui-li-icon{:alt => "Mobiletuts+", :src => "/images/demo/mobile/tuts/mobileLogo.png"}/
        %a{:href => "/mobile/tuts/tuts/site?siteName=mobiletuts"} Mobiletuts+
      %li
        %img.ui-li-icon{:alt => "Aetuts+", :src => "/images/demo/mobile/tuts/aeLogo.jpg"}/
        %a{:href => "/mobile/tuts/tuts/site?siteName=aetuts"} Aetuts+
      %li
        %img.ui-li-icon{:alt => "Phototuts+", :src => "/images/demo/mobile/tuts/photoLogo.jpg"}/
        %a{:href => "/mobile/tuts/tuts/site?siteName=phototuts"} Phototuts+
      %li
        %img.ui-li-icon{:alt => "Cgtuts+", :src => "/images/demo/mobile/tuts/cgLogo.jpg"}/
        %a{:href => "/mobile/tuts/tuts/site?siteName=cgtuts"} Cgtuts+
      %li
        %img.ui-li-icon{:alt => "Audiotuts+", :src => "/images/demo/mobile/tuts/audioLogo.jpg"}/
        %a{:href => "/mobile/tuts/tuts/site?siteName=audiotuts"} Audiotuts+
      %li
        %img.ui-li-icon{:alt => "Activetuts+", :src => "/images/demo/mobile/tuts/activeLogo.jpg"}/
        %a{:href => "/mobile/tuts/tuts/site?siteName=flashtuts"} Activetuts+
      %li
        %img.ui-li-icon{:alt => "Webdesigntuts+", :src => "/images/demo/mobile/tuts/wdLogo.jpg"}/
        %a{:href => "/mobile/tuts/tuts/site?siteName=webdesigntutsplus"} Webdesigntuts+
  %footer.tuts{"data-role" => "footer"}
    %h4 www.tutsplus.com
/ /page
