-@title = "Tuts+"

= render :partial => "index.css.haml"

.type-interior{"data-role" => "page"}
  %header.tuts{"data-backbtn" => "false", "data-position" => "inline", "data-role" => "header"}
    %h1
      %img{:alt => "Tuts+", :src => "/images/demo/mobile/tuts/TLogo.png"}
    %a.ui-btn-left{"data-direction" => "reverse",
                   "data-theme" => "c",
                   "data-icon" => "home",
                   "data-iconpos" => "notext",
                   :href => "/mobile/experiments/main",
                   :rel => "external"} Home
    %a{"data-icon" => "info",
       "data-theme" => "c",
       :href => "http://net.tutsplus.com/tutorials/javascript-ajax/how-to-build-an-rss-reader-with-jquery-mobile-2/",
       :rel => "external",
       :title => "How to Build an RSS Reader with jQuery Mobile by Jeffrey Way",
      }
      Info
  / /header
  %div{"data-role" => "content"}
    .content-primary
      %ul{"data-counttheme" => "e", "data-dividertheme" => "d", "data-role" => "listview", "data-theme" => "c"}
        %li
          %a{:href => "/mobile/tuts/tuts/site?siteName=nettuts"}
            %img.ui-li-icon{:alt => "Nettuts", :src => "/images/demo/mobile/tuts/ntLogo.jpg"}
              Nettuts+
        %li
          %a{:href => "/mobile/tuts/tuts/site?siteName=psdtuts"}
            %img.ui-li-icon{:alt => "Psdtuts", :src => "/images/demo/mobile/tuts/psdLogo.jpg"}
              Psdtuts+
        %li
          %a{:href => "/mobile/tuts/tuts/site?siteName=vectortuts"}
            %img.ui-li-icon{:alt => "Vectortuts+", :src => "/images/demo/mobile/tuts/vectorLogo.jpg"}
              Vectortuts+
        %li
          %a{:href => "/mobile/tuts/tuts/site?siteName=mobiletuts"}
            %img.ui-li-icon{:alt => "Mobiletuts+", :src => "/images/demo/mobile/tuts/mobileLogo.png"}
              Mobiletuts+
        %li
          %a{:href => "/mobile/tuts/tuts/site?siteName=aetuts"}
            %img.ui-li-icon{:alt => "Aetuts+", :src => "/images/demo/mobile/tuts/aeLogo.jpg"}
              Aetuts+
        %li
          %a{:href => "/mobile/tuts/tuts/site?siteName=phototuts"}
            %img.ui-li-icon{:alt => "Phototuts+", :src => "/images/demo/mobile/tuts/photoLogo.jpg"}
              Phototuts+
        %li
          %a{:href => "/mobile/tuts/tuts/site?siteName=cgtuts"}
            %img.ui-li-icon{:alt => "Cgtuts+", :src => "/images/demo/mobile/tuts/cgLogo.jpg"}
              Cgtuts+
        %li
          %a{:href => "/mobile/tuts/tuts/site?siteName=audiotuts"}
            %img.ui-li-icon{:alt => "Audiotuts+", :src => "/images/demo/mobile/tuts/audioLogo.jpg"}
              Audiotuts+
        %li
          %a{:href => "/mobile/tuts/tuts/site?siteName=flashtuts"}
            %img.ui-li-icon{:alt => "Activetuts+", :src => "/images/demo/mobile/tuts/activeLogo.jpg"}
              Activetuts+
        %li
          %a{:href => "/mobile/tuts/tuts/site?siteName=webdesigntutsplus"}
            %img.ui-li-icon{:alt => "Webdesigntuts+", :src => "/images/demo/mobile/tuts/wdLogo.jpg"}
              Webdesigntuts+
    .content-secondary
      %div{"data-collapsed" => "true", "data-role" => "collapsible", "data-theme" => "c"}
        %h3 More tuts+ experiments in this section
        %ul{"data-dividertheme" => "d", "data-role" => "listview", "data-theme" => "c"}
          %li{"data-role" => "list-divider"} Tuts+ experiments
          %li{"data-theme" => "a"}
            %a{:href => "/mobile/tuts/tuts", :rel => "external"}
              %img.ui-li-icon{:alt => "Tuts+", :src => "/images/icons/16x16/tuts.png"}
                Tuts+ reader
          %li
            %a{:href => "/mobile/tuts/news", :rel => "external"}
              %img.ui-li-icon{:alt => "Tuts+", :src => "/images/icons/16x16/working.png"}
                News reader
          %li
            %a{:href => "/mobile/tuts/new_claim", :rel => "external"}
              %img.ui-li-icon{:alt => "HTML5", :src =>  "/images/icons/16x16/mobileTuts.png"}
                New Claim
  %footer.tuts{"data-role" => "footer"}
    %h4 www.tutsplus.com
/ /page
